Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

feat: migrate update handlers returns (#736)
  api/src/application/http/abyss/federation/handlers/update_provider.rs
  api/src/application/http/abyss/identity_provider/handlers/update_identity_provider.rs
  api/src/application/http/client/handlers/update_client.rs
  api/src/application/http/client/handlers/update_post_logout_redirect_uri.rs
  api/src/application/http/client/handlers/update_redirect_uri.rs
  api/src/application/http/realm/handlers/update_realm.rs
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/role/handlers/update_role.rs
  api/src/application/http/role/handlers/update_role_permissions.rs
  api/src/application/http/user/handlers/update_user.rs
  api/src/application/http/webhook/handlers/update_webhook.rs
  front/src/api/api.client.ts
  front/src/api/client.api.ts
  front/src/api/realm.api.ts
  front/src/api/role.api.ts
Due: rust-fmt, rust-clippy, esint

feat: cancel generation of auth_session and user_required_actions
  core/src/entity/auth_sessions.rs
  core/src/entity/user_required_actions.rs
Due: rust-fmt, rust-clippy

fix: after rebase
  core/src/entity/auth_sessions.rs
  core/src/entity/client_scope_attributes.rs
  core/src/entity/client_scopes.rs
  core/src/entity/clients.rs
  core/src/entity/identity_providers.rs
  core/src/entity/realms.rs
  core/src/entity/user_required_actions.rs
Due: rust-fmt, rust-clippy

feat: migrations + entities + update sea-orm version cargo.toml + fix clientscopeid fields
  api/Cargo.toml
  core/Cargo.toml
  core/migrations/20260209000006_create_magic_links.down.sql
  core/migrations/20260209000006_create_magic_links.up.sql
  core/migrations/20260209000007_add_magic_link_settings_to_realm_settings.down.sql
  core/migrations/20260209000007_add_magic_link_settings_to_realm_settings.up.sql
  core/src/entity/access_tokens.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/broker_auth_sessions.rs
  core/src/entity/client_scope_attributes.rs
  core/src/entity/client_scope_mappings.rs
  core/src/entity/client_scope_protocol_mappers.rs
  core/src/entity/client_scopes.rs
  core/src/entity/clients.rs
  core/src/entity/credentials.rs
  core/src/entity/identity_provider_links.rs
  core/src/entity/identity_providers.rs
  core/src/entity/jwt_keys.rs
  core/src/entity/magic_links.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
  core/src/entity/redirect_uris.rs
  core/src/entity/refresh_tokens.rs
  core/src/entity/roles.rs
  core/src/entity/security_events.rs
  core/src/entity/user_federation_mappings.rs
  core/src/entity/user_federation_providers.rs
  core/src/entity/user_required_actions.rs
  core/src/entity/user_role.rs
  core/src/entity/users.rs
  core/src/entity/webhook_subscribers.rs
  core/src/entity/webhooks.rs
Due: rust-fmt, rust-clippy

feat: generate entities
  core/src/entity/clients.rs
  core/src/entity/post_logout_redirect_uris.rs
  core/src/entity/prelude.rs
Due: rust-fmt, rust-clippy

fix: drop index in migration
  core/migrations/20260209000006_create_magic_links.down.sql
Due: none

feat: create migrations and magic-link entities (#734)
  api/Cargo.toml
  core/Cargo.toml
  core/migrations/20260209000006_create_magic_links.down.sql
  core/migrations/20260209000006_create_magic_links.up.sql
  core/migrations/20260209000007_add_magic_link_settings_to_realm_settings.down.sql
  core/migrations/20260209000007_add_magic_link_settings_to_realm_settings.up.sql
  core/src/entity/access_tokens.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/broker_auth_sessions.rs
  core/src/entity/client_scope_attributes.rs
  core/src/entity/client_scope_mappings.rs
  core/src/entity/client_scope_protocol_mappers.rs
  core/src/entity/client_scopes.rs
  core/src/entity/clients.rs
  core/src/entity/credentials.rs
  core/src/entity/identity_provider_links.rs
  core/src/entity/identity_providers.rs
  core/src/entity/jwt_keys.rs
  core/src/entity/magic_links.rs
  core/src/entity/mod.rs
  core/src/entity/post_logout_redirect_uris.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
  core/src/entity/redirect_uris.rs
  core/src/entity/refresh_tokens.rs
  core/src/entity/roles.rs
  core/src/entity/security_events.rs
  core/src/entity/user_federation_mappings.rs
  core/src/entity/user_federation_providers.rs
  core/src/entity/user_required_actions.rs
  core/src/entity/user_role.rs
  core/src/entity/users.rs
  core/src/entity/webhook_subscribers.rs
  core/src/entity/webhooks.rs
Due: rust-fmt, rust-clippy

feat: add magic link input output and domain
  Cargo.lock
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  core/src/domain/common/mod.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/trident/ports.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-trident/Cargo.toml
  libs/ferriskey-trident/src/entities/mod.rs
Due: rust-fmt, rust-clippy

fix: enhance SSO cookie handling and auth flow
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/logout.rs
  core/src/domain/authentication/services.rs
  front/src/api/auth.api.ts
  front/src/pages/authentication/feature/execution/configure-otp-feature.tsx
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/ui/page-callback.tsx
Due: rust-fmt, rust-clippy, esint

feat: apply coderabbit fix
  api/src/application/http/realm/validators.rs
  libs/ferriskey-trident/src/entities/mod.rs
Due: rust-fmt, rust-clippy

feat: add error in domain + fix updaterealmsetting
  api/src/application/http/error.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: implement magic link domain (#737)
  Cargo.lock
  api/src/application/http/error.rs
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  core/src/domain/common/mod.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/trident/ports.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-trident/Cargo.toml
  libs/ferriskey-trident/src/entities/mod.rs
Due: rust-fmt, rust-clippy

refactor: migrate decodedtoken struct to jwtclaim (#733)
  api/src/application/decoded_token.rs
  api/src/application/http/authentication/handlers/userinfo.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/value_objects.rs
Due: rust-fmt, rust-clippy

fix: enhance SSO cookie handling and auth flow (#738)
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/logout.rs
  core/src/domain/authentication/services.rs
  front/src/api/auth.api.ts
  front/src/pages/authentication/feature/execution/configure-otp-feature.tsx
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/ui/page-callback.tsx
Due: rust-fmt, rust-clippy, esint

feat: implement client scope for client endpoint
  api/src/application/http/aegis/handlers.rs
  api/src/application/http/aegis/handlers/get_client_client_scopes.rs
  api/src/application/http/aegis/router.rs
  core/src/application/aegis.rs
  core/src/domain/aegis/ports.rs
  core/src/domain/aegis/services/scope_mapping_service.rs
  core/src/domain/aegis/value_objects.rs
Due: rust-fmt, rust-clippy

feat: implement client scope for client endpoint (#739)
  api/src/application/http/aegis/handlers.rs
  api/src/application/http/aegis/handlers/get_client_client_scopes.rs
  api/src/application/http/aegis/router.rs
  core/src/application/aegis.rs
  core/src/domain/aegis/ports.rs
  core/src/domain/aegis/services/scope_mapping_service.rs
  core/src/domain/aegis/value_objects.rs
Due: rust-fmt, rust-clippy

refactor: revamp sidebar layout, styles, and active states
  front/src/App.css
  front/src/components/app-sidebar.tsx
  front/src/components/nav-configuration.tsx
  front/src/components/nav-footer.tsx
  front/src/components/nav-main.tsx
  front/src/components/nav-security.tsx
  front/src/components/realm-switcher.tsx
Due: esint

refactor: revamp sidebar layout, styles, and active states (#740)
  front/src/App.css
  front/src/components/app-sidebar.tsx
  front/src/components/nav-configuration.tsx
  front/src/components/nav-footer.tsx
  front/src/components/nav-main.tsx
  front/src/components/nav-security.tsx
  front/src/components/realm-switcher.tsx
Due: esint

refactor: add TopBar and remove NavUser from sidebar
  front/src/components/app-sidebar.tsx
  front/src/components/layout/layout.tsx
  front/src/components/top-bar.tsx
Due: esint

feat: implement magic link repository
  core/src/application/mod.rs
  core/src/domain/trident/ports.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/argon2_hasher.rs
  core/src/infrastructure/repositories/magic_link_repository.rs
  libs/ferriskey-security/src/crypto/ports.rs
Due: rust-fmt, rust-clippy

feat: implement magic link repository (#741)
  core/src/application/mod.rs
  core/src/domain/trident/ports.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/argon2_hasher.rs
  core/src/infrastructure/repositories/magic_link_repository.rs
  libs/ferriskey-security/src/crypto/ports.rs
Due: rust-fmt, rust-clippy

feat: implement magic link service
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/application/trident/mod.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

refactor: add TopBar and remove NavUser from sidebar (#742)
  front/src/components/app-sidebar.tsx
  front/src/components/layout/layout.tsx
  front/src/components/top-bar.tsx
Due: esint

fix: number of character
  core/src/domain/common/mod.rs
Due: rust-fmt, rust-clippy

fix: inspect_err
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

fix: verify_magic_link
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

feat: implement magic-link services (#743)
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/application/trident/mod.rs
  core/src/domain/common/mod.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

feat: implement handlers
  api/src/application/http/trident/handlers.rs
  api/src/application/http/trident/handlers/magic_link.rs
Due: rust-fmt, rust-clippy

feat: implement route
  api/src/application/http/trident/router.rs
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

fix: utoipa
  api/src/application/http/trident/handlers/magic_link.rs
Due: rust-fmt, rust-clippy

fix: utoipa
  api/src/application/http/trident/handlers/magic_link.rs
  api/src/application/http/trident/router.rs
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

fix: remove unused realm_name
  api/src/application/http/trident/handlers/magic_link.rs
Due: rust-fmt, rust-clippy

feat: implement magic link routes (#744)
  api/src/application/http/trident/handlers.rs
  api/src/application/http/trident/handlers/magic_link.rs
  api/src/application/http/trident/router.rs
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

feat: update openapi.yaml
  front/openapi.yaml
Due: none

feat: update api.client.ts
  front/src/api/api.client.ts
Due: esint

feat: update zod schema and tridenti.api.ts
  front/README.md
  front/src/api/trident.api.ts
  front/src/pages/authentication/schemas/magic-link.schema.ts
Due: esint

feat: add overview UI components and integrate in pages
  front/index.html
  front/src/App.css
  front/src/components/ui/entity-avatar.tsx
  front/src/components/ui/overview-header.tsx
  front/src/components/ui/overview-list.tsx
  front/src/pages/client/columns/list-client.column.tsx
  front/src/pages/client/container.tsx
  front/src/pages/client/ui/page-clients-overview.tsx
  front/src/pages/role/components/statistics-card.tsx
  front/src/pages/role/feature/page-roles-overview-feature.tsx
  front/src/pages/role/layout/roles-layout.tsx
  front/src/pages/role/ui/page-roles-overview.tsx
  front/src/pages/user/components/statistics-card.tsx
  front/src/pages/user/feature/page-users-overview-feature.tsx
  front/src/pages/user/layouts/users-layout.tsx
  front/src/pages/user/ui/page-users-overview.tsx
Due: esint

feat: add overview UI components and integrate in pages (#746)
  front/index.html
  front/src/App.css
  front/src/components/ui/entity-avatar.tsx
  front/src/components/ui/overview-header.tsx
  front/src/components/ui/overview-list.tsx
  front/src/pages/client/columns/list-client.column.tsx
  front/src/pages/client/container.tsx
  front/src/pages/client/ui/page-clients-overview.tsx
  front/src/pages/role/components/statistics-card.tsx
  front/src/pages/role/feature/page-roles-overview-feature.tsx
  front/src/pages/role/layout/roles-layout.tsx
  front/src/pages/role/ui/page-roles-overview.tsx
  front/src/pages/user/components/statistics-card.tsx
  front/src/pages/user/feature/page-users-overview-feature.tsx
  front/src/pages/user/layouts/users-layout.tsx
  front/src/pages/user/ui/page-users-overview.tsx
Due: esint

feat: use dedicated pages for create flows
  front/src/pages/client/layout/client-layout.tsx
  front/src/pages/client/page-client.tsx
  front/src/pages/client/ui/page-client-credentials.tsx
  front/src/pages/client/ui/page-client-roles.tsx
  front/src/pages/client/ui/page-client-settings.tsx
  front/src/pages/role/feature/page-roles-overview-feature.tsx
  front/src/pages/role/layout/roles-layout.tsx
  front/src/pages/role/page-role.tsx
  front/src/pages/role/ui/page-create-role.tsx
  front/src/pages/role/ui/page-roles-overview.tsx
  front/src/pages/user/feature/create-user-modal-feature.tsx
  front/src/pages/user/feature/page-create-user-feature.tsx
  front/src/pages/user/feature/page-users-overview-feature.tsx
  front/src/pages/user/layouts/users-layout.tsx
  front/src/pages/user/page-user.tsx
  front/src/pages/user/ui/create-user-modal.tsx
  front/src/pages/user/ui/page-create-user.tsx
  front/src/pages/user/ui/page-users-overview.tsx
  front/src/routes/sub-router/user.router.ts
Due: esint

feat: refactor Role and User layouts
  front/src/pages/role/layout/role-layout.tsx
  front/src/pages/user/layouts/user-layout.tsx
Due: esint

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
