Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

wip
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

fix: notify webhooks on user registration
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

fix: lowercase ghcr.io registry path
  .github/workflows/docker-registry.yml
Due: none

feat: add webhook events for organization lifecycle and membership (#2)
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/organization/services.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
  front/src/api/api.client.ts
  front/src/utils/webhook-utils.ts
Due: rust-fmt, rust-clippy, esint

feat: webhook self user registration and add missing seawatch events (#1047)
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/email_verification/services.rs
  core/src/domain/seawatch/entities.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
  core/src/infrastructure/seawatch/mapper.rs
Due: rust-fmt, rust-clippy

fix(nginx): pass X-Forwarded-Proto from upstream instead of overwriting with $scheme
  front/nginx-standalone.conf
Due: none

fix(nginx): pass X-Forwarded-Proto from upstream instead of overwriting with $scheme (#3)
  front/nginx-standalone.conf
Due: none

feat(observability): add configurable OTLP transport protocol (gRPC or HTTP)
  api/Cargo.toml
  api/src/args.rs
  api/src/main.rs
  charts/ferriskey/templates/_helpers.yaml
  charts/ferriskey/values.yaml
Due: rust-fmt, rust-clippy

feat(observability): add configurable OTLP transport protocol (gRPC or HTTP) (#4)
  api/Cargo.toml
  api/src/args.rs
  api/src/main.rs
  charts/ferriskey/templates/_helpers.yaml
  charts/ferriskey/values.yaml
Due: rust-fmt, rust-clippy

fix(observability): fix OTLP HTTP exporter for PostHog compatibility
  Cargo.lock
  api/Cargo.toml
  api/src/main.rs
Due: rust-fmt, rust-clippy

feat(observability): add OTLP_TRACES_ENDPOINT and OTLP_TRACES_HEADERS support
  api/src/args.rs
  api/src/main.rs
Due: rust-fmt, rust-clippy

Use the official nginx-unprivileged image to simplify deployment (#1037)
  Dockerfile
  charts/ferriskey/templates/webapp/deployment.yaml
Due: hadolint

fix: apply filter in observability parts
  api/src/main.rs
Due: rust-fmt, rust-clippy

fix: apply filter in observability parts (#1068)
  api/src/main.rs
Due: rust-fmt, rust-clippy

fix(abyss): support GitHub IdP broker login flow
  core/src/domain/abyss/broker_services.rs
  core/src/infrastructure/identity_provider/repositories/oauth_client.rs
Due: rust-fmt, rust-clippy

No more update on container start
  Dockerfile
  charts/ferriskey/templates/_helpers.yaml
  charts/ferriskey/templates/webapp/configmap.yaml
  charts/ferriskey/templates/webapp/deployment.yaml
  charts/ferriskey/values.yaml
  front/docker-entrypoint.sh
  front/public/config.json
Due: hadolint, shellcheck

fix(abyss): support GitHub IdP broker login flow (#1069)
  core/src/domain/abyss/broker_services.rs
  core/src/infrastructure/identity_provider/repositories/oauth_client.rs
Due: rust-fmt, rust-clippy

fix: update service for insert NULL when the email is empty (#976)
  core/src/domain/user/services.rs
Due: rust-fmt, rust-clippy

fix(auth): handle remaining required (#977)
  api/src/application/http/trident/handlers/challenge_otp.rs
  core/src/domain/authentication/services.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  front/src/api/api.client.ts
  front/src/api/api.interface.ts
  front/src/pages/authentication/feature/page-otp-challenge-feature.tsx
Due: rust-fmt, rust-clippy, esint

fix: fix realm redirect to master and update-password 401 error (#981)
  front/src/App.tsx
  front/src/api/passkey.api.ts
  front/src/api/redirect_uris.api.ts
  front/src/api/trident.api.ts
  front/src/pages/authentication/feature/execution/configure-passkey-feature.tsx
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: esint

fix: update magic link flow (#983)
  front/src/pages/authentication/feature/page-callback-feature.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: esint

fix(auth-session): reset authenticated flag when reissuing authorization code in brokered SSO flow (#1000)
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

fix: webapp container name (#1036)
  charts/ferriskey/templates/webapp/deployment.yaml
Due: none

feat: bump project version to 0.6.1
  Cargo.lock
  Cargo.toml
  charts/ferriskey/Chart.yaml
  charts/ferriskey/README.md
Due: rust-clippy

fix(release): prepare 0.6.1 (#1070)
  Cargo.lock
  Cargo.toml
  api/src/application/http/trident/handlers/challenge_otp.rs
  api/src/main.rs
  charts/ferriskey/Chart.yaml
  charts/ferriskey/README.md
  charts/ferriskey/templates/webapp/deployment.yaml
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/identity_provider/repositories/oauth_client.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
  front/src/App.tsx
  front/src/api/api.client.ts
  front/src/api/api.interface.ts
  front/src/api/passkey.api.ts
  front/src/api/redirect_uris.api.ts
  front/src/api/trident.api.ts
  front/src/pages/authentication/feature/execution/configure-passkey-feature.tsx
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
  front/src/pages/authentication/feature/page-callback-feature.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/feature/page-otp-challenge-feature.tsx
Due: rust-fmt, rust-clippy, esint

feat(device-flow): add GrantType::DeviceCode and DeviceAuthSession domain model
  core/src/domain/authentication/device_flow/entities.rs
  core/src/domain/authentication/device_flow/mod.rs
  core/src/domain/authentication/device_flow/ports.rs
  core/src/domain/authentication/device_flow/value_objects.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/mod.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat(device-flow): add GrantType::DeviceCode and DeviceAuthSession domain model (#1071)
  core/src/domain/authentication/device_flow/entities.rs
  core/src/domain/authentication/device_flow/mod.rs
  core/src/domain/authentication/device_flow/ports.rs
  core/src/domain/authentication/device_flow/value_objects.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/mod.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat(device-flow): add device flow lifecycle service (initiate/verify/deny/poll)
  core/src/domain/authentication/device_flow/entities.rs
  core/src/domain/authentication/device_flow/error.rs
  core/src/domain/authentication/device_flow/mod.rs
  core/src/domain/authentication/device_flow/ports.rs
  core/src/domain/authentication/device_flow/services.rs
  core/src/domain/authentication/device_flow/value_objects.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

feat(device-flow): add device flow lifecycle service (#1072)
  core/src/domain/authentication/device_flow/entities.rs
  core/src/domain/authentication/device_flow/error.rs
  core/src/domain/authentication/device_flow/mod.rs
  core/src/domain/authentication/device_flow/ports.rs
  core/src/domain/authentication/device_flow/services.rs
  core/src/domain/authentication/device_flow/value_objects.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

feat(device-flow): add Postgres DeviceAuthRepository and wire DeviceFlowService into DI
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/device_flow/entities.rs
  core/src/domain/authentication/device_flow/services.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/device_auth_repository.rs
Due: rust-fmt, rust-clippy

feat(device-flow): add Postgres DeviceAuthRepository and wire DeviceFlowService into DI (#1073)
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/device_flow/entities.rs
  core/src/domain/authentication/device_flow/services.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/device_auth_repository.rs
Due: rust-fmt, rust-clippy

feat(device-flow): expose device authorization endpoint (RFC 8628 §3.1)
  api/src/application/http/authentication/handlers.rs
  api/src/application/http/authentication/handlers/device_authorization.rs
  api/src/application/http/authentication/router.rs
  core/src/application/services.rs
  core/src/domain/authentication/device_flow/value_objects.rs
Due: rust-fmt, rust-clippy

feat(device-flow): expose device authorization endpoint (RFC 8628 §3.1) (#1074)
  api/src/application/http/authentication/handlers.rs
  api/src/application/http/authentication/handlers/device_authorization.rs
  api/src/application/http/authentication/router.rs
  core/src/application/services.rs
  core/src/domain/authentication/device_flow/value_objects.rs
Due: rust-fmt, rust-clippy

feat(device-flow): handle device_code grant at the token endpoint (RFC 8628 §3.4)
  api/src/application/http/authentication/handlers/token.rs
  api/src/application/http/authentication/validators.rs
  api/src/application/http/error.rs
  core/src/application/services.rs
  core/src/domain/authentication/entities.rs
Due: rust-fmt, rust-clippy

feat(device-flow): handle device_code grant at the token endpoint (RFC 8628 §3.4) (#1075)
  api/src/application/http/authentication/handlers/token.rs
  api/src/application/http/authentication/validators.rs
  api/src/application/http/error.rs
  core/src/application/services.rs
  core/src/domain/authentication/entities.rs
Due: rust-fmt, rust-clippy

feat(device-flow): add device verification page + approve/deny endpoints (RFC 8628 §3.3)
  api/src/application/http/authentication/handlers.rs
  api/src/application/http/authentication/handlers/device_verify.rs
  api/src/application/http/authentication/router.rs
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

docs: add registry compose migration guidance
  README.md
Due: none
