Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

feat: add User Federation pages and routes
  front/src/App.tsx
  front/src/components/nav-configuration.tsx
  front/src/pages/user-federation/feature/page-overview-feature.tsx
  front/src/pages/user-federation/layout/user-federation-layout.tsx
  front/src/pages/user-federation/page-user-federation.tsx
  front/src/pages/user-federation/ui/page-overview.tsx
  front/src/routes/sub-router/user-federation.router.ts
Due: esint

feat: add user federation provider UI and create flow
  front/src/api/user-federation.api.ts
  front/src/pages/user-federation/components/provider-card.tsx
  front/src/pages/user-federation/components/statistics-card.tsx
  front/src/pages/user-federation/feature/page-create-provider-feature.tsx
  front/src/pages/user-federation/feature/page-overview-feature.tsx
  front/src/pages/user-federation/page-user-federation.tsx
  front/src/pages/user-federation/schemas/create-provider.schema.ts
  front/src/pages/user-federation/ui/page-create-provider.tsx
  front/src/pages/user-federation/ui/page-overview.tsx
  front/src/routes/sub-router/user-federation.router.ts
Due: esint

feat: wrap federation providers in data response
  api/src/application/http/abyss/federation/dto.rs
  api/src/application/http/abyss/federation/handlers/list_providers.rs
  front/src/api/api.client.ts
  front/src/api/user-federation.api.ts
  front/src/pages/user-federation/components/provider-card.tsx
  front/src/pages/user-federation/feature/page-create-ldap-feature.tsx
  front/src/pages/user-federation/feature/page-overview-feature.tsx
  front/src/pages/user-federation/ui/page-overview.tsx
Due: rust-fmt, rust-clippy, esint

feat: add federation provider detail and delete support
  api/src/application/http/abyss/federation/handlers/delete_provider.rs
  api/src/application/http/abyss/routes.rs
  api/src/application/http/server/api_entities/api_error.rs
  core/src/domain/abyss/federation/policies.rs
  core/src/domain/abyss/federation/services.rs
  core/src/infrastructure/abyss/federation/repository.rs
  front/src/api/api.client.ts
  front/src/api/user-federation.api.ts
  front/src/pages/user-federation/components/provider-card.tsx
  front/src/pages/user-federation/feature/page-detail-ldap-feature.tsx
  front/src/pages/user-federation/feature/page-overview-feature.tsx
  front/src/pages/user-federation/page-user-federation.tsx
  front/src/pages/user-federation/ui/ldap-form-ui.tsx
  front/src/pages/user-federation/ui/page-overview.tsx
  front/src/routes/sub-router/user-federation.router.ts
Due: rust-fmt, rust-clippy, esint

feat: refactor LDAP detail form and add change detection
  front/src/pages/user-federation/feature/page-detail-ldap-feature.tsx
  front/src/pages/user-federation/ui/kerberos-form-ui.tsx
  front/src/pages/user-federation/ui/ldap-form-ui.tsx
Due: esint

feat: implement crud for user federation page (#654)
  api/src/application/http/abyss/federation/dto.rs
  api/src/application/http/abyss/federation/handlers/delete_provider.rs
  api/src/application/http/abyss/federation/handlers/list_providers.rs
  api/src/application/http/abyss/routes.rs
  api/src/application/http/server/api_entities/api_error.rs
  core/src/domain/abyss/federation/policies.rs
  core/src/domain/abyss/federation/services.rs
  core/src/infrastructure/abyss/federation/repository.rs
  front/package.json
  front/pnpm-lock.yaml
  front/src/App.tsx
  front/src/api/api.client.ts
  front/src/api/user-federation.api.ts
  front/src/components/app-sidebar.tsx
  front/src/components/nav-configuration.tsx
  front/src/components/ui/block-content.tsx
  front/src/components/ui/radio-group.tsx
  front/src/pages/user-federation/components/empty-state-providers.tsx
  front/src/pages/user-federation/components/provider-card.tsx
  front/src/pages/user-federation/components/statistics-card.tsx
  front/src/pages/user-federation/feature/page-create-kerberos-feature.tsx
  front/src/pages/user-federation/feature/page-create-ldap-feature.tsx
  front/src/pages/user-federation/feature/page-detail-ldap-feature.tsx
  front/src/pages/user-federation/feature/page-overview-feature.tsx
  front/src/pages/user-federation/layout/user-federation-layout.tsx
  front/src/pages/user-federation/page-user-federation.tsx
  front/src/pages/user-federation/schemas/kerberos-provider.schema.ts
  front/src/pages/user-federation/schemas/ldap-provider.schema.ts
  front/src/pages/user-federation/ui/kerberos-form-ui.tsx
  front/src/pages/user-federation/ui/ldap-form-ui.tsx
  front/src/pages/user-federation/ui/page-overview.tsx
  front/src/routes/sub-router/user-federation.router.ts
Due: rust-fmt, rust-clippy, esint

feat: use UserRepo in federation service and sync
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/abyss/federation/ports.rs
  core/src/domain/abyss/federation/services.rs
  core/src/domain/abyss/federation/value_objects.rs
  core/src/infrastructure/abyss/federation/ldap.rs
  core/src/infrastructure/abyss/federation/repository.rs
Due: rust-fmt, rust-clippy

feat: add provider test-connection endpoint and UI
  api/src/application/http/abyss/federation/dto.rs
  api/src/application/http/abyss/federation/handlers/mod.rs
  api/src/application/http/abyss/federation/handlers/test_connection.rs
  api/src/application/http/abyss/routes.rs
  front/components.json
  front/package.json
  front/pnpm-lock.yaml
  front/src/api/api.client.ts
  front/src/api/user-federation.api.ts
  front/src/hooks/use-confetti-fireworks.ts
  front/src/pages/user-federation/feature/page-create-ldap-feature.tsx
  front/src/pages/user-federation/feature/page-detail-ldap-feature.tsx
  front/src/pages/user-federation/ui/ldap-form-ui.tsx
Due: rust-fmt, rust-clippy, esint

fix: return service account not found exception when service account not found (#611)
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

fix: return service account not found exception when service account not found (#611) (#631)
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

Fix: only validate client secret for non-public clients
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

Fix: Simplify client secret validation logic
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

fix: only validate client secret for non-public clients (#657)
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

Feat: Add test to create realm with user
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

Feat: Mock admin role creation in realm tests
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

test(core/realm): Add unit test for create_realm_with_user with full mock coverage (#658)
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

feat: implement federation user sync API and UI
  api/src/application/http/abyss/federation/dto.rs
  api/src/application/http/abyss/federation/handlers/mod.rs
  api/src/application/http/abyss/federation/handlers/sync_users.rs
  api/src/application/http/abyss/mod.rs
  api/src/application/http/abyss/routes.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/abyss/federation/ports.rs
  core/src/domain/abyss/federation/services.rs
  core/src/domain/abyss/federation/value_objects.rs
  core/src/domain/authentication/services.rs
  core/src/domain/credential/entities.rs
  core/src/infrastructure/abyss/federation/ldap.rs
  core/src/infrastructure/abyss/federation/repository.rs
  front/src/api/api.client.ts
  front/src/api/user-federation.api.ts
  front/src/pages/user-federation/feature/page-detail-ldap-feature.tsx
  front/src/pages/user-federation/ui/ldap-form-ui.tsx
Due: rust-fmt, rust-clippy, esint

feat: ldap api connection test and sync endpoints (#659)
  api/src/application/http/abyss/federation/dto.rs
  api/src/application/http/abyss/federation/handlers/mod.rs
  api/src/application/http/abyss/federation/handlers/sync_users.rs
  api/src/application/http/abyss/federation/handlers/test_connection.rs
  api/src/application/http/abyss/mod.rs
  api/src/application/http/abyss/routes.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/abyss/federation/ports.rs
  core/src/domain/abyss/federation/services.rs
  core/src/domain/abyss/federation/value_objects.rs
  core/src/domain/authentication/services.rs
  core/src/domain/credential/entities.rs
  core/src/infrastructure/abyss/federation/ldap.rs
  core/src/infrastructure/abyss/federation/repository.rs
  front/components.json
  front/package.json
  front/pnpm-lock.yaml
  front/src/api/api.client.ts
  front/src/api/user-federation.api.ts
  front/src/hooks/use-confetti-fireworks.ts
  front/src/pages/user-federation/feature/page-create-ldap-feature.tsx
  front/src/pages/user-federation/feature/page-detail-ldap-feature.tsx
  front/src/pages/user-federation/ui/ldap-form-ui.tsx
Due: rust-fmt, rust-clippy, esint

feat: add OpenTelemetry env helper and include in API
  charts/ferriskey/README.md
  charts/ferriskey/templates/_helpers.yaml
  charts/ferriskey/templates/api/deployment.yaml
  charts/ferriskey/values.yaml
Due: none

feat: github-star-modal branding update (#621)
  front/src/components/github-star-modal.tsx
Due: esint

refactor: handle missing session cookies and other unwraps (#624)
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/authentificate.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/trident/handlers/burn_recovery_code.rs
  api/src/application/http/trident/handlers/challenge_otp.rs
  api/src/application/http/trident/handlers/webauthn_public_key_authenticate.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create_options.rs
  api/src/application/http/trident/handlers/webauthn_public_key_request_options.rs
Due: rust-fmt, rust-clippy

deps: bump dependencies and update Cargo.lock (#625)
  Cargo.lock
  api/Cargo.toml
  core/Cargo.toml
Due: rust-clippy

feat: add OpenTelemetry env helper and include in API (#660)
  charts/ferriskey/README.md
  charts/ferriskey/templates/_helpers.yaml
  charts/ferriskey/templates/api/deployment.yaml
  charts/ferriskey/values.yaml
Due: none

fix: chery pick commit from main into release 0.2 (#661)
  Cargo.lock
  api/Cargo.toml
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/authentificate.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/trident/handlers/burn_recovery_code.rs
  api/src/application/http/trident/handlers/challenge_otp.rs
  api/src/application/http/trident/handlers/webauthn_public_key_authenticate.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create_options.rs
  api/src/application/http/trident/handlers/webauthn_public_key_request_options.rs
  charts/ferriskey/README.md
  charts/ferriskey/templates/_helpers.yaml
  charts/ferriskey/templates/api/deployment.yaml
  charts/ferriskey/values.yaml
  core/Cargo.toml
  front/src/components/github-star-modal.tsx
Due: rust-fmt, rust-clippy, esint

feat: add ThemeProvider and user theme menu (#651)
  front/src/App.tsx
  front/src/components/app-sidebar.tsx
  front/src/components/nav-user.tsx
  front/src/components/realm-switcher.tsx
  front/src/components/theme-provider.tsx
  front/src/components/ui/block-content.tsx
  front/src/components/ui/input-text.tsx
  front/src/components/ui/input.tsx
  front/src/main.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/client/ui/page-client-credentials.tsx
  front/src/pages/role/ui/page-create-role.tsx
  front/src/styles/inputs.scss
Due: esint

feat: invalid id token field instead embedded into access token (#652)
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/services.rs
  core/src/domain/jwt/entities.rs
Due: rust-fmt, rust-clippy

feat: fix version (#662)
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/services.rs
  core/src/domain/jwt/entities.rs
  front/src/App.tsx
  front/src/components/app-sidebar.tsx
  front/src/components/nav-user.tsx
  front/src/components/realm-switcher.tsx
  front/src/components/theme-provider.tsx
  front/src/components/ui/block-content.tsx
  front/src/components/ui/input-text.tsx
  front/src/components/ui/input.tsx
  front/src/main.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/client/ui/page-client-credentials.tsx
  front/src/pages/role/ui/page-create-role.tsx
  front/src/styles/inputs.scss
Due: rust-fmt, rust-clippy, esint

fix: bump Ferriskey chart and app versions
  charts/ferriskey/Chart.yaml
Due: none

on click redirect to form page
  front/src/pages/client/ui/page-clients-overview.tsx
Due: esint

fix: on click redirect to form page (#663)
  front/src/pages/client/ui/page-clients-overview.tsx
Due: esint

feat: prevent deletion of master realm
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

feat: prevent deletion of master realm (#666)
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

feat: remove column
  core/migrations/20260117232537_remove_provider_id_from_identity_providers.down.sql
  core/migrations/20260117232537_remove_provider_id_from_identity_providers.up.sql
Due: none

feat: clean + remove authentication for magic link route
  api/src/application/http/trident/handlers/magic_link.rs
  api/src/application/http/trident/router.rs
  core/src/application/mod.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/services.rs
  core/src/domain/realm/ports.rs
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

refactor: move identity_provider handlers under abyss
  api/src/application/http.rs
  api/src/application/http/abyss/identity_provider/dto.rs
  api/src/application/http/abyss/identity_provider/handlers/create_identity_provider.rs
  api/src/application/http/abyss/identity_provider/handlers/delete_identity_provider.rs
  api/src/application/http/abyss/identity_provider/handlers/get_identity_provider.rs
  api/src/application/http/abyss/identity_provider/handlers/list_identity_providers.rs
  api/src/application/http/abyss/identity_provider/handlers/mod.rs
  api/src/application/http/abyss/identity_provider/handlers/update_identity_provider.rs
  api/src/application/http/abyss/identity_provider/mod.rs
  api/src/application/http/abyss/mod.rs
  api/src/application/http/identity_provider.rs
  core/src/domain/identity_provider/entities.rs
Due: rust-fmt, rust-clippy

feat: add Abyss federation and identity provider routers
  api/src/application/http/abyss/federation/handlers/create_provider.rs
  api/src/application/http/abyss/federation/handlers/delete_provider.rs
  api/src/application/http/abyss/federation/handlers/get_provider.rs
  api/src/application/http/abyss/federation/handlers/list_providers.rs
  api/src/application/http/abyss/federation/handlers/sync_users.rs
  api/src/application/http/abyss/federation/handlers/test_connection.rs
  api/src/application/http/abyss/federation/handlers/update_provider.rs
  api/src/application/http/abyss/federation/mod.rs
  api/src/application/http/abyss/identity_provider/handlers/create_identity_provider.rs
  api/src/application/http/abyss/identity_provider/handlers/delete_identity_provider.rs
  api/src/application/http/abyss/identity_provider/handlers/get_identity_provider.rs
  api/src/application/http/abyss/identity_provider/handlers/list_identity_providers.rs
  api/src/application/http/abyss/identity_provider/handlers/update_identity_provider.rs
  api/src/application/http/abyss/identity_provider/mod.rs
  api/src/application/http/abyss/mod.rs
  api/src/application/http/abyss/routes.rs
Due: rust-fmt, rust-clippy

refactor: enhance utoipa doc + register routes & move into abyss module (#670)
  api/src/application/http.rs
  api/src/application/http/abyss/federation/handlers/create_provider.rs
  api/src/application/http/abyss/federation/handlers/delete_provider.rs
  api/src/application/http/abyss/federation/handlers/get_provider.rs
  api/src/application/http/abyss/federation/handlers/list_providers.rs
  api/src/application/http/abyss/federation/handlers/sync_users.rs
  api/src/application/http/abyss/federation/handlers/test_connection.rs
  api/src/application/http/abyss/federation/handlers/update_provider.rs
  api/src/application/http/abyss/federation/mod.rs
  api/src/application/http/abyss/identity_provider/dto.rs
  api/src/application/http/abyss/identity_provider/handlers/create_identity_provider.rs
  api/src/application/http/abyss/identity_provider/handlers/delete_identity_provider.rs
  api/src/application/http/abyss/identity_provider/handlers/get_identity_provider.rs
  api/src/application/http/abyss/identity_provider/handlers/list_identity_providers.rs
  api/src/application/http/abyss/identity_provider/handlers/mod.rs
  api/src/application/http/abyss/identity_provider/handlers/update_identity_provider.rs
  api/src/application/http/abyss/identity_provider/mod.rs
  api/src/application/http/abyss/mod.rs
  api/src/application/http/abyss/routes.rs
  api/src/application/http/identity_provider.rs
  core/src/domain/identity_provider/entities.rs
Due: rust-fmt, rust-clippy
