Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

fix: use Boolean() when checking event.details
  front/src/pages/seawatch/ui/page-overview.tsx
Due: esint

feat: enhance seawatch ui (#680)
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/client/services.rs
  core/src/domain/user/services.rs
  front/src/api/sea-watch.api.ts
  front/src/pages/seawatch/feature/page-overview-feature.tsx
  front/src/pages/seawatch/ui/flagged-users.tsx
  front/src/pages/seawatch/ui/page-overview.tsx
  front/src/pages/seawatch/ui/security-metrics.tsx
  front/src/pages/seawatch/ui/strange-events-analysis.tsx
Due: rust-fmt, rust-clippy, esint

fix: Use default realm and wait for hydration
  front/src/App.tsx
  front/src/hooks/use-auth.ts
Due: esint

feat: add user permissions API and core support
  api/src/application/http/test.rs
  api/src/application/http/user/handlers.rs
  api/src/application/http/user/handlers/get_user_permissions.rs
  api/src/application/http/user/router.rs
  core/src/application/user/mod.rs
  core/src/domain/role/entities/permission.rs
  core/src/domain/user/entities.rs
  core/src/domain/user/policies.rs
  core/src/domain/user/ports.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/user/mappers.rs
Due: rust-fmt, rust-clippy

feat: use policy to fetch user permissions
  core/src/domain/user/services.rs
Due: rust-fmt, rust-clippy

fix: add ViewUsers to user policy permission check
  core/src/domain/user/policies.rs
Due: rust-fmt, rust-clippy

feat: user permissions handlers & authentication hydration and routing (#681)
  api/src/application/http/test.rs
  api/src/application/http/user/handlers.rs
  api/src/application/http/user/handlers/get_user_permissions.rs
  api/src/application/http/user/router.rs
  core/src/application/user/mod.rs
  core/src/domain/role/entities/permission.rs
  core/src/domain/user/entities.rs
  core/src/domain/user/policies.rs
  core/src/domain/user/ports.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/user/mappers.rs
  front/src/App.tsx
  front/src/hooks/use-auth.ts
Due: rust-fmt, rust-clippy, esint

feat: add domain account hint
  core/src/domain/account/entities.rs
  core/src/domain/account/mod.rs
  core/src/domain/account/ports.rs
  core/src/domain/account/services.rs
  core/src/domain/mod.rs
  core/src/domain/session/entities.rs
  core/src/domain/session/ports.rs
  core/src/domain/session/services.rs
Due: rust-fmt, rust-clippy

refactor: avoid dual sources of truth for soft expiry
  core/src/domain/session/entities.rs
Due: rust-fmt, rust-clippy

feat: add realm scoping to all account-hint operations
  core/src/domain/account/entities.rs
  core/src/domain/account/ports.rs
  core/src/domain/account/services.rs
Due: rust-fmt, rust-clippy

wip
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/src/domain/authentication/services.rs
  core/src/domain/common/services.rs
  core/src/domain/realm/entities.rs
  core/src/infrastructure/repositories/keystore_repository.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  libs/ferriskey-domain/Cargo.toml
  libs/ferriskey-domain/src/lib.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-security/Cargo.toml
  libs/ferriskey-security/src/crypto/entities.rs
  libs/ferriskey-security/src/crypto/hasher.rs
  libs/ferriskey-security/src/crypto/mod.rs
  libs/ferriskey-security/src/crypto/ports.rs
  libs/ferriskey-security/src/jwt/entities.rs
  libs/ferriskey-security/src/jwt/mod.rs
  libs/ferriskey-security/src/jwt/ports.rs
  libs/ferriskey-security/src/lib.rs
Due: rust-fmt, rust-clippy

feat: move crypto and JWT types to ferriskey-security
  Cargo.lock
  api/src/application/http/server/api_entities/api_error.rs
  core/Cargo.toml
  core/src/domain/abyss/policies.rs
  core/src/domain/abyss/services.rs
  core/src/domain/common/services.rs
  core/src/domain/crypto/entities.rs
  core/src/domain/crypto/ports.rs
  core/src/domain/identity_provider/policies.rs
  core/src/domain/jwt/entities.rs
  core/src/domain/jwt/ports.rs
  core/src/domain/realm/entities.rs
  core/src/infrastructure/repositories/argon2_hasher.rs
  core/src/infrastructure/repositories/credential_repository.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-security/Cargo.toml
  libs/ferriskey-security/src/crypto/ports.rs
  libs/ferriskey-security/src/jwt/entities.rs
  libs/ferriskey-security/src/jwt/ports.rs
  libs/ferriskey-security/src/lib.rs
Due: rust-fmt, rust-clippy

feat: add domain and security libs to Dockerfile
  Dockerfile
Due: hadolint

fix: bump Rust, enable serde derive, fix jwt typo
  Dockerfile
  libs/ferriskey-domain/Cargo.toml
  libs/ferriskey-security/src/jwt/ports.rs
Due: rust-fmt, rust-clippy, hadolint

ci: lint
  core/src/domain/account/entities.rs
  core/src/domain/account/ports.rs
  core/src/domain/session/entities.rs
  core/src/domain/session/ports.rs
  core/src/domain/session/services.rs
Due: rust-fmt, rust-clippy

fix: improve domain structure
  api/src/application/http/error.rs
  core/src/domain/account/entities.rs
  core/src/domain/account/ports.rs
  core/src/domain/account/services.rs
  core/src/domain/common/entities/app_errors.rs
Due: rust-fmt, rust-clippy

fix: add ferriskey-domain & ferriskey-security copy
  Dockerfile
Due: hadolint

refactor: create security & domain libs (#685)
  Cargo.lock
  Cargo.toml
  Dockerfile
  api/src/application/http/server/api_entities/api_error.rs
  core/Cargo.toml
  core/src/domain/abyss/policies.rs
  core/src/domain/abyss/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/common/services.rs
  core/src/domain/crypto/entities.rs
  core/src/domain/crypto/ports.rs
  core/src/domain/identity_provider/policies.rs
  core/src/domain/jwt/entities.rs
  core/src/domain/jwt/ports.rs
  core/src/domain/realm/entities.rs
  core/src/infrastructure/repositories/argon2_hasher.rs
  core/src/infrastructure/repositories/credential_repository.rs
  core/src/infrastructure/repositories/keystore_repository.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  libs/ferriskey-domain/Cargo.toml
  libs/ferriskey-domain/src/lib.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-security/Cargo.toml
  libs/ferriskey-security/src/crypto/entities.rs
  libs/ferriskey-security/src/crypto/hasher.rs
  libs/ferriskey-security/src/crypto/mod.rs
  libs/ferriskey-security/src/crypto/ports.rs
  libs/ferriskey-security/src/jwt/entities.rs
  libs/ferriskey-security/src/jwt/mod.rs
  libs/ferriskey-security/src/jwt/ports.rs
  libs/ferriskey-security/src/lib.rs
Due: rust-fmt, rust-clippy, hadolint

docs: Fix link to external documentation
  README.md
Due: none

docs: update documentation link
  CLAUDE.md
  CONTRIBUTING.md
  GEMINI.md
Due: none

fix: support absolute and relative provider login URLs
  front/src/pages/authentication/ui/login-providers.tsx
Due: esint

fix: support absolute and relative provider login URLs (#689)
  front/src/pages/authentication/ui/login-providers.tsx
Due: esint

fix: append root_path to broker base URLs
  api/src/application/http/broker/handlers/callback.rs
  api/src/application/http/broker/handlers/login.rs
Due: rust-fmt, rust-clippy

fix: append root_path to broker base URLs (#690)
  api/src/application/http/broker/handlers/callback.rs
  api/src/application/http/broker/handlers/login.rs
Due: rust-fmt, rust-clippy

fix: bump Ferriskey Helm chart to 0.3.0
  charts/ferriskey/Chart.yaml
Due: none

fix: bump Ferriskey Helm chart to 0.3.0 (#691)
  charts/ferriskey/Chart.yaml
Due: none

fix: change base_url in redirect_uri for google idp
  front/pnpm-lock.yaml
  front/src/pages/identity-providers/feature/page-create-feature.tsx
Due: esint

feat: upgrade pnpm lockfile to v9
  front/pnpm-lock.yaml
Due: none

fix: bump Helm chart README version to 0.3.0
  charts/ferriskey/README.md
Due: none

fix: change redirect_uri for google idp (#693)
  charts/ferriskey/README.md
  front/src/pages/identity-providers/feature/page-create-feature.tsx
Due: esint

feat: add logout and SSO cookie handling
  api/src/application/http/authentication/handlers.rs
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/authentificate.rs
  api/src/application/http/authentication/handlers/logout.rs
  api/src/application/http/authentication/handlers/token.rs
  api/src/application/http/authentication/router.rs
  api/src/application/http/broker/handlers/callback.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/identity_provider/broker/services.rs
  core/src/domain/identity_provider/broker/value_objects.rs
  front/src/api/api.client.ts
  front/src/api/auth.api.ts
  front/src/hooks/use-auth.ts
Due: rust-fmt, rust-clippy, esint

feat: add realm_name path param and update clients
  api/src/application/http/authentication/handlers/token.rs
  front/src/api/api.client.ts
  front/src/api/auth.api.ts
Due: rust-fmt, rust-clippy, esint

feat: add logout and SSO cookie handling (#694)
  api/src/application/http/authentication/handlers.rs
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/authentificate.rs
  api/src/application/http/authentication/handlers/logout.rs
  api/src/application/http/authentication/handlers/token.rs
  api/src/application/http/authentication/router.rs
  api/src/application/http/broker/handlers/callback.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/identity_provider/broker/services.rs
  core/src/domain/identity_provider/broker/value_objects.rs
  front/src/api/api.client.ts
  front/src/api/auth.api.ts
  front/src/hooks/use-auth.ts
Due: rust-fmt, rust-clippy, esint

feat: refactor registration and logout mutations in auth API
  front/src/api/auth.api.ts
Due: esint

fix(front): avoid tanstackApi init race in auth mutations.
  front/src/api/auth.api.ts
Due: esint

fix: extract AppRoutes component and show spinner
  front/src/App.tsx
Due: esint

fix: extract AppRoutes component and show spinner (#699)
  front/src/App.tsx
Due: esint

feat(db): add support for configurable database schema
  api/src/args.rs
  core/src/application/mod.rs
  core/src/domain/common/mod.rs
Due: rust-fmt, rust-clippy

feat(core,api): parse schema from DB URL and encode in connection string
  api/src/args.rs
  core/src/application/mod.rs
Due: rust-fmt, rust-clippy

refactor: move ports and entities into mod crypto
  core/src/domain/authentication/services.rs
  core/src/domain/common/services.rs
  core/src/domain/credential/ports.rs
  core/src/domain/crypto/entities.rs
  core/src/domain/crypto/mod.rs
  core/src/domain/crypto/ports.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/credential/mod.rs
  core/src/infrastructure/repositories/argon2_hasher.rs
  core/src/infrastructure/repositories/credential_repository.rs
  core/src/infrastructure/repositories/random_bytes_recovery_code.rs
Due: rust-fmt, rust-clippy
