Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

refactor: move ports and entities into mod crypto (#700)
  core/src/domain/authentication/services.rs
  core/src/domain/common/services.rs
  core/src/domain/credential/ports.rs
  core/src/domain/crypto/entities.rs
  core/src/domain/crypto/mod.rs
  core/src/domain/crypto/ports.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/credential/mod.rs
  core/src/infrastructure/repositories/argon2_hasher.rs
  core/src/infrastructure/repositories/credential_repository.rs
  core/src/infrastructure/repositories/random_bytes_recovery_code.rs
Due: rust-fmt, rust-clippy

refactor: move jwt domain
  api/src/application/decoded_token.rs
  api/src/application/http/server/api_entities/api_error.rs
  core/src/domain/jwt/entities.rs
  core/src/domain/jwt/mod.rs
  core/src/domain/jwt/ports.rs
  core/src/infrastructure/repositories/keystore_repository.rs
  core/src/infrastructure/repositories/refresh_token_repository.rs
Due: rust-fmt, rust-clippy

Extract domain into ferriskey-domain crate
  Cargo.lock
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/client/entities.rs
  core/src/domain/client/ports.rs
  core/src/domain/client/value_objects.rs
  core/src/domain/common/entities/app_errors.rs
  core/src/domain/role/entities.rs
  core/src/domain/role/ports.rs
  core/src/domain/role/value_objects.rs
  core/src/domain/user/entities.rs
  core/src/domain/user/value_objects.rs
  libs/ferriskey-domain/Cargo.toml
  libs/ferriskey-domain/src/auth/mod.rs
  libs/ferriskey-domain/src/authentication/entities.rs
  libs/ferriskey-domain/src/authentication/mod.rs
  libs/ferriskey-domain/src/client/commands.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/entities/redirect_uri.rs
  libs/ferriskey-domain/src/client/mod.rs
  libs/ferriskey-domain/src/client/ports.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-domain/src/common/mod.rs
  libs/ferriskey-domain/src/lib.rs
  libs/ferriskey-domain/src/role/commands.rs
  libs/ferriskey-domain/src/role/entities.rs
  libs/ferriskey-domain/src/role/mod.rs
  libs/ferriskey-domain/src/role/ports.rs
  libs/ferriskey-domain/src/role/value_objects.rs
  libs/ferriskey-domain/src/user/commands.rs
  libs/ferriskey-domain/src/user/entities.rs
  libs/ferriskey-domain/src/user/mod.rs
  libs/ferriskey-domain/src/user/value_objects.rs
Due: rust-fmt, rust-clippy

Extract domain into ferriskey-domain crate (#701)
  Cargo.lock
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/client/entities.rs
  core/src/domain/client/ports.rs
  core/src/domain/client/value_objects.rs
  core/src/domain/common/entities/app_errors.rs
  core/src/domain/role/entities.rs
  core/src/domain/role/ports.rs
  core/src/domain/role/value_objects.rs
  core/src/domain/user/entities.rs
  core/src/domain/user/value_objects.rs
  libs/ferriskey-domain/Cargo.toml
  libs/ferriskey-domain/src/auth/mod.rs
  libs/ferriskey-domain/src/authentication/entities.rs
  libs/ferriskey-domain/src/authentication/mod.rs
  libs/ferriskey-domain/src/client/commands.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/entities/redirect_uri.rs
  libs/ferriskey-domain/src/client/mod.rs
  libs/ferriskey-domain/src/client/ports.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-domain/src/common/mod.rs
  libs/ferriskey-domain/src/lib.rs
  libs/ferriskey-domain/src/role/commands.rs
  libs/ferriskey-domain/src/role/entities.rs
  libs/ferriskey-domain/src/role/mod.rs
  libs/ferriskey-domain/src/role/ports.rs
  libs/ferriskey-domain/src/role/value_objects.rs
  libs/ferriskey-domain/src/user/commands.rs
  libs/ferriskey-domain/src/user/entities.rs
  libs/ferriskey-domain/src/user/mod.rs
  libs/ferriskey-domain/src/user/value_objects.rs
Due: rust-fmt, rust-clippy

refactor: move jwt domain (#702)
  api/src/application/decoded_token.rs
  api/src/application/http/server/api_entities/api_error.rs
  core/src/domain/jwt/entities.rs
  core/src/domain/jwt/mod.rs
  core/src/domain/jwt/ports.rs
  core/src/infrastructure/repositories/keystore_repository.rs
  core/src/infrastructure/repositories/refresh_token_repository.rs
Due: rust-fmt, rust-clippy

docs: fix link to external documentation (#688)
  CLAUDE.md
  CONTRIBUTING.md
  GEMINI.md
  README.md
Due: none

refactor: make soft_expiry_duration optional in session handling
  core/src/domain/session/entities.rs
  core/src/domain/session/ports.rs
  core/src/domain/session/services.rs
Due: rust-fmt, rust-clippy

refactor: simplify account hint update logic
  core/src/domain/account/services.rs
Due: rust-fmt, rust-clippy

feat(db): add support for configurable database schema (#692)
  api/src/args.rs
  core/src/application/mod.rs
  core/src/domain/common/mod.rs
Due: rust-fmt, rust-clippy

refactor: extract Trident entities to new crate
  Cargo.lock
  Cargo.toml
  Dockerfile
  core/Cargo.toml
  core/src/domain/trident/entities/mod.rs
  libs/ferriskey-trident/Cargo.toml
  libs/ferriskey-trident/src/entities/mod.rs
  libs/ferriskey-trident/src/lib.rs
Due: rust-fmt, rust-clippy, hadolint

fix: Dockerfile
  Dockerfile
Due: hadolint

refactor: extract Trident entities to new crate (#704)
  Cargo.lock
  Cargo.toml
  Dockerfile
  core/Cargo.toml
  core/src/domain/trident/entities/mod.rs
  libs/ferriskey-trident/Cargo.toml
  libs/ferriskey-trident/src/entities/mod.rs
  libs/ferriskey-trident/src/lib.rs
Due: rust-fmt, rust-clippy, hadolint

wip
  Cargo.lock
  Cargo.toml
  api/src/application/http/abyss/identity_provider/dto.rs
  api/src/application/http/abyss/identity_provider/handlers/create_identity_provider.rs
  api/src/application/http/abyss/identity_provider/handlers/delete_identity_provider.rs
  api/src/application/http/abyss/identity_provider/handlers/get_identity_provider.rs
  api/src/application/http/abyss/identity_provider/handlers/list_identity_providers.rs
  api/src/application/http/abyss/identity_provider/handlers/update_identity_provider.rs
  api/src/application/http/broker/handlers/callback.rs
  api/src/application/http/broker/handlers/login.rs
  core/Cargo.toml
  core/src/application/broker/mod.rs
  core/src/application/identity_provider.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/abyss/identity_provider.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/abyss/identity_provider_services.rs
  core/src/domain/abyss/mod.rs
  core/src/domain/mod.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm/services.rs
  core/src/infrastructure/identity_provider/mappers/identity_provider_mapper.rs
  core/src/infrastructure/identity_provider/repositories/broker_auth_session_repository.rs
  core/src/infrastructure/identity_provider/repositories/identity_provider_link_repository.rs
  core/src/infrastructure/identity_provider/repositories/identity_provider_postgres_repository.rs
  core/src/infrastructure/identity_provider/repositories/oauth_client.rs
  libs/ferriskey-abyss/Cargo.toml
  libs/ferriskey-abyss/src/common.rs
  libs/ferriskey-abyss/src/identity_provider/broker/entities.rs
  libs/ferriskey-abyss/src/identity_provider/broker/mod.rs
  libs/ferriskey-abyss/src/identity_provider/broker/ports.rs
  libs/ferriskey-abyss/src/identity_provider/broker/value_objects.rs
  libs/ferriskey-abyss/src/identity_provider/entities.rs
  libs/ferriskey-abyss/src/identity_provider/mod.rs
  libs/ferriskey-abyss/src/identity_provider/ports.rs
  libs/ferriskey-abyss/src/identity_provider/value_objects.rs
  libs/ferriskey-abyss/src/lib.rs
Due: rust-fmt, rust-clippy

feat: add ferriskey-abyss into dockerfile
  Dockerfile
Due: hadolint

feat: add copy
  Dockerfile
Due: hadolint

refactor: move identity-provider domain into dedicated crate (#705)
  Cargo.lock
  Cargo.toml
  Dockerfile
  api/src/application/http/abyss/identity_provider/dto.rs
  api/src/application/http/abyss/identity_provider/handlers/create_identity_provider.rs
  api/src/application/http/abyss/identity_provider/handlers/delete_identity_provider.rs
  api/src/application/http/abyss/identity_provider/handlers/get_identity_provider.rs
  api/src/application/http/abyss/identity_provider/handlers/list_identity_providers.rs
  api/src/application/http/abyss/identity_provider/handlers/update_identity_provider.rs
  api/src/application/http/broker/handlers/callback.rs
  api/src/application/http/broker/handlers/login.rs
  core/Cargo.toml
  core/src/application/broker/mod.rs
  core/src/application/identity_provider.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/abyss/identity_provider.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/abyss/identity_provider_services.rs
  core/src/domain/abyss/mod.rs
  core/src/domain/mod.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm/services.rs
  core/src/infrastructure/identity_provider/mappers/identity_provider_mapper.rs
  core/src/infrastructure/identity_provider/repositories/broker_auth_session_repository.rs
  core/src/infrastructure/identity_provider/repositories/identity_provider_link_repository.rs
  core/src/infrastructure/identity_provider/repositories/identity_provider_postgres_repository.rs
  core/src/infrastructure/identity_provider/repositories/oauth_client.rs
  libs/ferriskey-abyss/Cargo.toml
  libs/ferriskey-abyss/src/common.rs
  libs/ferriskey-abyss/src/identity_provider/broker/entities.rs
  libs/ferriskey-abyss/src/identity_provider/broker/mod.rs
  libs/ferriskey-abyss/src/identity_provider/broker/ports.rs
  libs/ferriskey-abyss/src/identity_provider/broker/value_objects.rs
  libs/ferriskey-abyss/src/identity_provider/entities.rs
  libs/ferriskey-abyss/src/identity_provider/mod.rs
  libs/ferriskey-abyss/src/identity_provider/ports.rs
  libs/ferriskey-abyss/src/identity_provider/value_objects.rs
  libs/ferriskey-abyss/src/lib.rs
Due: rust-fmt, rust-clippy, hadolint

fix: include root_path in OpenID Connect discovery document
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/openid_configuration.rs
Due: rust-fmt, rust-clippy

fix: include root_path in OpenID Connect discovery document (#703)
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/openid_configuration.rs
Due: rust-fmt, rust-clippy

feat: add danger zone to delete realm in general settings
  front/src/api/realm.api.ts
  front/src/components/confirm-delete-alert.tsx
  front/src/pages/realm/feature/page-realm-settings-general-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-general.tsx
Due: esint

feat: read OAuth params from URL in login
  core/src/domain/authentication/services.rs
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: rust-fmt, rust-clippy, esint

Development Environment (vibe-kanban f7d63054)
  README.md
  docker-compose.yaml
  justfile
Due: none

Development Environment (vibe-kanban f7d63054)
  justfile
Due: none

fix: db container volume issue
  Dockerfile
  crds/crd-ferriskeycluster.yaml
  docker-compose.yaml
Due: hadolint

migration in dev-setup (vibe-kanban 80caa2a0)
  README.md
  justfile
Due: none

fix: just migration logic in local run
  README.md
  justfile
Due: none

docs fix (vibe-kanban b85fa431)
  DEVELOPMENT.md
  README.md
  justfile
Due: none

fix: markdown formating
  DEVELOPMENT.md
Due: none

fix: intact default behaviours of upstream
  Dockerfile
  crds/crd-ferriskeycluster.yaml
  docker-compose.yaml
  justfile
Due: hadolint

feat: include end_session endpoint and set JWT kid
  api/src/application/http/authentication/handlers/openid_configuration.rs
  api/src/application/http/authentication/router.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat: compute expires_in from JWT exp claim
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat: improve login flow (#711)
  api/src/application/http/authentication/handlers/openid_configuration.rs
  api/src/application/http/authentication/router.rs
  core/src/domain/authentication/services.rs
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: rust-fmt, rust-clippy, esint

feat: add danger zone to delete realm in general settings (#707)
  front/src/api/realm.api.ts
  front/src/components/confirm-delete-alert.tsx
  front/src/pages/realm/feature/page-realm-settings-general-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-general.tsx
Due: esint

chore(dev): adjust just recipes
  justfile
Due: none

docs(dev): clarify db cleanup and simplify dev-setup
  DEVELOPMENT.md
  justfile
Due: none

feat: add easy development setup
  DEVELOPMENT.md
  README.md
  docker-compose.yaml
  justfile
Due: none

feat(dev): add just-based local development workflow (#712)
  DEVELOPMENT.md
  README.md
  docker-compose.yaml
  justfile
Due: none

wip
  core/migrations/20260209000001_create_client_scopes.down.sql
  core/migrations/20260209000001_create_client_scopes.up.sql
  core/migrations/20260209000002_create_client_scope_attributes.down.sql
  core/migrations/20260209000002_create_client_scope_attributes.up.sql
  core/migrations/20260209000003_create_client_scope_protocol_mappers.down.sql
  core/migrations/20260209000003_create_client_scope_protocol_mappers.up.sql
  core/migrations/20260209000004_create_client_scope_mappings.down.sql
  core/migrations/20260209000004_create_client_scope_mappings.up.sql
  core/src/domain/aegis/entities.rs
  core/src/domain/aegis/mod.rs
  core/src/domain/aegis/ports.rs
  core/src/domain/aegis/value_objects.rs
  core/src/domain/mod.rs
Due: rust-fmt, rust-clippy

wip
  core/migrations/20260209000002_create_client_scope_attributes.up.sql
  core/migrations/20260209000004_create_client_scope_mappings.up.sql
Due: none

feat: implement client scope migrations and entities (#713)
  core/migrations/20260209000001_create_client_scopes.down.sql
  core/migrations/20260209000001_create_client_scopes.up.sql
  core/migrations/20260209000002_create_client_scope_attributes.down.sql
  core/migrations/20260209000002_create_client_scope_attributes.up.sql
  core/migrations/20260209000003_create_client_scope_protocol_mappers.down.sql
  core/migrations/20260209000003_create_client_scope_protocol_mappers.up.sql
  core/migrations/20260209000004_create_client_scope_mappings.down.sql
  core/migrations/20260209000004_create_client_scope_mappings.up.sql
  core/src/domain/aegis/entities.rs
  core/src/domain/aegis/mod.rs
  core/src/domain/aegis/ports.rs
  core/src/domain/aegis/value_objects.rs
  core/src/domain/mod.rs
Due: rust-fmt, rust-clippy

feat: implement client scope services and repositories
  core/src/domain/aegis/mod.rs
  core/src/domain/aegis/policies.rs
  core/src/domain/aegis/ports.rs
  core/src/domain/aegis/services/client_scope_service.rs
  core/src/domain/aegis/services/mod.rs
  core/src/domain/aegis/services/protocol_mapper_service.rs
  core/src/domain/aegis/services/scope_mapping_service.rs
  core/src/domain/role/entities/permission.rs
  core/src/entity/client_scope_attributes.rs
  core/src/entity/client_scope_mappings.rs
  core/src/entity/client_scope_protocol_mappers.rs
  core/src/entity/client_scopes.rs
  core/src/entity/mod.rs
  core/src/infrastructure/aegis/mappers.rs
  core/src/infrastructure/aegis/mod.rs
  core/src/infrastructure/aegis/repositories/client_scope_attribute_postgres_repository.rs
  core/src/infrastructure/aegis/repositories/client_scope_postgres_repository.rs
  core/src/infrastructure/aegis/repositories/mod.rs
  core/src/infrastructure/aegis/repositories/protocol_mapper_postgres_repository.rs
  core/src/infrastructure/aegis/repositories/scope_mapping_postgres_repository.rs
  core/src/infrastructure/mod.rs
  prompts/aegis-services.md
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
