Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

docs: adopt the CNCF Code of Conduct
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: none

docs: adopt the CNCF Code of Conduct (#1624)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: none

docs(security): add a security policy
  README.md
  SECURITY.md
Due: none

docs(security): align disclosure wording with the 90-day deadline
  SECURITY.md
Due: none

docs(security): add a security policy (#1626)
  README.md
  SECURITY.md
Due: none

docs: update MAINTAINERS.md to the CNCF format
  MAINTAINERS.md
Due: none

docs: list Nathaël Bonnal as Independent in MAINTAINERS.md
  MAINTAINERS.md
Due: none

docs: update MAINTAINERS.md to the CNCF format (#1625)
  MAINTAINERS.md
Due: none

docs: add ROADMAP.md and link it from the README
  README.md
  ROADMAP.md
Due: none

feat(realm): let a confidential client own a protected resource
  core/migrations/20261010120000_mcp_resource_owners_and_dynamic_scopes.down.sql
  core/migrations/20261010120000_mcp_resource_owners_and_dynamic_scopes.up.sql
  core/src/application/mod.rs
  core/src/application/realm/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/token_exchange/services.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm/mod.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/resource_owner_services.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_resource_owners.rs
  core/src/infrastructure/realm/repositories.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/realm/repositories/resource_owner_postgres_repository.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-api-realm/src/handlers.rs
  libs/ferriskey-api-realm/src/handlers/resource_owners.rs
  libs/ferriskey-api-realm/src/router.rs
  libs/ferriskey-api-realm/src/validators.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/realm/ports.rs
Due: rust-fmt, rust-clippy

feat(client-scope): add the dynamic_registration_allowed flag
  core/src/application/migrate/m0001_seed_default_client_scopes.rs
  core/src/application/migrate/m0002_seed_organization_scope.rs
  core/src/domain/realm/services.rs
  core/src/entity/client_scopes.rs
  core/src/infrastructure/aegis/mappers.rs
  core/src/infrastructure/aegis/repositories/client_scope_postgres_repository.rs
  libs/ferriskey-aegis/src/entities.rs
  libs/ferriskey-aegis/src/services/client_scope_service.rs
  libs/ferriskey-aegis/src/services/test_support.rs
  libs/ferriskey-aegis/src/value_objects.rs
  libs/ferriskey-api-aegis/src/handlers/create_client_scope.rs
  libs/ferriskey-api-aegis/src/handlers/update_client_scope.rs
  libs/ferriskey-api-aegis/src/validators.rs
Due: rust-fmt, rust-clippy

feat(auth): only flagged scopes are open to dynamic clients
  core/src/domain/client_metadata/services.rs
  core/src/domain/client_registration/entities.rs
  core/src/domain/client_registration/provision.rs
  core/src/domain/client_registration/services.rs
  core/src/domain/client_registration/validation.rs
Due: rust-fmt, rust-clippy

test(realm): cover resource ownership in token exchange
  api/tests/mcp_resource_owner_test.rs
Due: rust-fmt, rust-clippy

test(auth): cover scopes open to dynamic registration
  api/tests/mcp_cimd_dcr_test.rs
Due: rust-fmt, rust-clippy

feat(front): add mcp resource owners and dynamic-client scope flag
  front/src/api/client-scope-dynamic.ts
  front/src/api/resource-owners.api.ts
  front/src/locales/en/client-scope.yaml
  front/src/locales/en/realm.yaml
  front/src/locales/zh-CN/client-scope.yaml
  front/src/locales/zh-CN/realm.yaml
  front/src/pages/iam/client-scope/feature/page-client-scope-detail-feature.tsx
  front/src/pages/iam/client-scope/feature/page-create-client-scope-feature.tsx
  front/src/pages/iam/client-scope/ui/client-scope-settings-tab.tsx
  front/src/pages/iam/client-scope/ui/page-client-scope-detail.tsx
  front/src/pages/iam/client-scope/ui/page-client-scopes-overview.tsx
  front/src/pages/iam/client-scope/ui/page-create-client-scope.tsx
  front/src/pages/iam/realm/feature/page-realm-settings-feature.tsx
  front/src/pages/iam/realm/resource-owners.test.ts
  front/src/pages/iam/realm/resource-owners.ts
  front/src/pages/iam/realm/ui/page-realm-settings.tsx
  front/src/pages/iam/realm/ui/realm-mcp-tab.tsx
Due: esint

feat(front): use the generated client for resource owners and the scope flag
  front/src/api/api.client.ts
  front/src/api/client-scope-dynamic.ts
  front/src/api/resource-owners.api.ts
  front/src/pages/iam/client-scope/feature/page-client-scope-detail-feature.tsx
  front/src/pages/iam/client-scope/feature/page-create-client-scope-feature.tsx
  front/src/pages/iam/client-scope/ui/client-scope-settings-tab.tsx
  front/src/pages/iam/client-scope/ui/page-client-scopes-overview.tsx
Due: esint

docs: add ROADMAP.md and link it from the README (#1627)
  README.md
  ROADMAP.md
Due: none

docs(contributing): require DCO sign-off on commits
  CONTRIBUTING.md
  DCO
Due: none

docs(contributing): require DCO sign-off on commits (#1628)
  CONTRIBUTING.md
  DCO
Due: none

docs(readme): give every table of contents entry an explicit anchor
  README.md
Due: none

fix: authenticate the client the same way on every oauth endpoint (#1592)
  api/tests/features/oidc/token_endpoint.feature
  api/tests/oidc_conformance_test.rs
  api/tests/oidc_findings_test.rs
  client/src/models/jwt_token.rs
  core/src/application/services.rs
  core/src/domain/authentication/client_authentication.rs
  core/src/domain/authentication/mod.rs
  core/src/domain/authentication/services.rs
  front/src/api/api.client.ts
  front/src/hooks/use-auth.ts
  front/src/pages/authentication/feature/page-callback-feature.tsx
  front/src/pages/authentication/feature/page-register-feature.tsx
  front/src/pages/authentication/feature/page-reset-password-feature.tsx
  front/src/pages/authentication/hooks/use-portal-page-submit.ts
  libs/ferriskey-api-authentication/src/handlers/revoke.rs
  libs/ferriskey-api-authentication/src/validators.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-domain/src/authentication/entities.rs
  libs/ferriskey-domain/src/authentication/value_objects.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy, esint

fix: answer every token endpoint error in the oauth format
  Cargo.lock
  api/tests/account_lockout_test.rs
  api/tests/oidc_conformance_test.rs
  api/tests/oidc_findings_test.rs
  core/src/domain/authentication/services.rs
  libs/ferriskey-api-authentication/Cargo.toml
  libs/ferriskey-api-authentication/src/handlers/token.rs
Due: rust-fmt, rust-clippy

fix: answer invalid_client for an unknown client and invalid_grant for a bad token
  api/tests/oidc_conformance_test.rs
  core/src/domain/authentication/services.rs
  libs/ferriskey-api-authentication/src/handlers/token.rs
Due: rust-fmt, rust-clippy

fix: answer every token endpoint error in the oauth format (#1593)
  Cargo.lock
  api/tests/account_lockout_test.rs
  api/tests/oidc_conformance_test.rs
  api/tests/oidc_findings_test.rs
  core/src/domain/authentication/services.rs
  libs/ferriskey-api-authentication/Cargo.toml
  libs/ferriskey-api-authentication/src/handlers/token.rs
Due: rust-fmt, rust-clippy

docs(readme): give every table of contents entry an explicit anchor (#1629)
  README.md
Due: none

fix: refuse client credentials for a disabled service account
  api/tests/oidc_conformance_test.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

fix: refuse client credentials for a disabled service account (#1630)
  api/tests/oidc_conformance_test.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

fix: stop accepting an access token as a login on authenticate
  api/tests/oidc_conformance_test.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  libs/ferriskey-api-authentication/src/handlers/authentificate.rs
  libs/ferriskey-domain/src/authentication/entities.rs
Due: rust-fmt, rust-clippy

fix: stop accepting an access token as a login on authenticate (#1631)
  api/tests/oidc_conformance_test.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  libs/ferriskey-api-authentication/src/handlers/authentificate.rs
  libs/ferriskey-domain/src/authentication/entities.rs
Due: rust-fmt, rust-clippy

fix: require an otp challenge to burn and an elevation to generate recovery codes
  api/tests/credential_cross_realm_test.rs
  api/tests/trident_cross_realm_test.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  front/src/api/api.client.ts
  libs/ferriskey-api-account/src/handlers/change_own_password.rs
  libs/ferriskey-api-account/src/handlers/confirm_own_otp_enrollment.rs
  libs/ferriskey-api-account/src/handlers/confirm_own_passkey_registration.rs
  libs/ferriskey-api-account/src/handlers/delete_own_passkey.rs
  libs/ferriskey-api-account/src/handlers/disable_own_otp.rs
  libs/ferriskey-api-account/src/handlers/request_elevation.rs
  libs/ferriskey-api-account/src/handlers/start_own_otp_enrollment.rs
  libs/ferriskey-api-account/src/handlers/start_own_passkey_registration.rs
  libs/ferriskey-api-account/src/lib.rs
  libs/ferriskey-api-core/src/auth.rs
  libs/ferriskey-api-core/src/caller_session.rs
  libs/ferriskey-api-core/src/lib.rs
  libs/ferriskey-api-trident/src/handlers/generate_recovery_codes.rs
  libs/ferriskey-api-trident/src/router.rs
Due: rust-fmt, rust-clippy, esint

docs: add ADOPTERS.md and label the README sponsors
  ADOPTERS.md
  README.md
Due: none

fix: bind a login action to the session its step token was issued for
  api/tests/trident_cross_realm_test.rs
  core/src/domain/authentication/services.rs
  libs/ferriskey-api-core/src/auth.rs
Due: rust-fmt, rust-clippy

fix: require an otp challenge to burn and an elevation to generate recovery codes (#1632)
  api/tests/credential_cross_realm_test.rs
  api/tests/trident_cross_realm_test.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  front/src/api/api.client.ts
  libs/ferriskey-api-account/src/handlers/change_own_password.rs
  libs/ferriskey-api-account/src/handlers/confirm_own_otp_enrollment.rs
  libs/ferriskey-api-account/src/handlers/confirm_own_passkey_registration.rs
  libs/ferriskey-api-account/src/handlers/delete_own_passkey.rs
  libs/ferriskey-api-account/src/handlers/disable_own_otp.rs
  libs/ferriskey-api-account/src/handlers/request_elevation.rs
  libs/ferriskey-api-account/src/handlers/start_own_otp_enrollment.rs
  libs/ferriskey-api-account/src/handlers/start_own_passkey_registration.rs
  libs/ferriskey-api-account/src/lib.rs
  libs/ferriskey-api-core/src/auth.rs
  libs/ferriskey-api-core/src/caller_session.rs
  libs/ferriskey-api-core/src/lib.rs
  libs/ferriskey-api-trident/src/handlers/generate_recovery_codes.rs
  libs/ferriskey-api-trident/src/router.rs
Due: rust-fmt, rust-clippy, esint

fix: count wrong otp codes toward the account lockout
  api/tests/oidc_conformance_test.rs
  core/src/domain/authentication/services.rs
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

fix: refuse a wrong otp code even when the lockout counter cannot be written
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

fix: report login step tokens and spent refresh tokens as inactive on introspection
  api/tests/oidc_conformance_test.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

fix: accept a password update or an otp enrolment only when the login owes it
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

fix: take the login client from the auth session, not the query string
  api/tests/oidc_conformance_test.rs
  core/src/domain/authentication/services.rs
  libs/ferriskey-domain/src/authentication/entities.rs
Due: rust-fmt, rust-clippy

fix: link a brokered login by email only to a verified local account
  core/src/domain/abyss/broker_services.rs
Due: rust-fmt, rust-clippy

fix: end the sso session of the cookie on a logout without id_token_hint
  api/tests/oidc_conformance_test.rs
  core/src/domain/authentication/services.rs
  libs/ferriskey-api-authentication/src/handlers/logout.rs
  libs/ferriskey-domain/src/authentication/value_objects.rs
Due: rust-fmt, rust-clippy
