Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

fix: bind user operations to the realm in the request path (#1226)
  api/tests/user_cross_realm_test.rs
  core/src/domain/user/services.rs
  core/src/domain/user/services/user_role_service.rs
  core/src/infrastructure/user/repository.rs
  libs/ferriskey-domain/src/user/ports.rs
Due: rust-fmt, rust-clippy

test: realign stale expectations in mail and portal theme suites
  libs/ferriskey-mail/src/email_verification/services.rs
  libs/ferriskey-portal-theme/src/validation.rs
Due: rust-fmt, rust-clippy

test: realign stale expectations in mail and portal theme suites (#1229)
  libs/ferriskey-mail/src/email_verification/services.rs
  libs/ferriskey-portal-theme/src/validation.rs
Due: rust-fmt, rust-clippy

fix: make session revocation reach the tokens it issued
  api/tests/session_management_test.rs
  api/tests/token_revocation_test.rs
  core/migrations/20260815120000_revocable_tokens_by_session.down.sql
  core/migrations/20260815120000_revocable_tokens_by_session.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/application/token_revocation.rs
  core/src/domain/authentication/services.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  core/src/entity/refresh_tokens.rs
  core/src/infrastructure/repositories/access_token_repository.rs
  core/src/infrastructure/repositories/refresh_token_repository.rs
  core/src/infrastructure/repositories/user_session_repository.rs
  libs/ferriskey-domain/src/session/ports.rs
  libs/ferriskey-domain/src/session/services.rs
  libs/ferriskey-security/src/jwt/ports.rs
Due: rust-fmt, rust-clippy

chore: remove explanatory comments from the revocation fix
  api/tests/session_management_test.rs
  api/tests/token_revocation_test.rs
  core/migrations/20260815120000_revocable_tokens_by_session.up.sql
  core/src/application/token_revocation.rs
  core/src/domain/authentication/services.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  libs/ferriskey-domain/src/session/services.rs
Due: rust-fmt, rust-clippy

fix: make session revocation reach the tokens it issued (#1232)
  api/tests/session_management_test.rs
  api/tests/token_revocation_test.rs
  core/migrations/20260815120000_revocable_tokens_by_session.down.sql
  core/migrations/20260815120000_revocable_tokens_by_session.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/application/token_revocation.rs
  core/src/domain/authentication/services.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  core/src/entity/refresh_tokens.rs
  core/src/infrastructure/repositories/access_token_repository.rs
  core/src/infrastructure/repositories/refresh_token_repository.rs
  core/src/infrastructure/repositories/user_session_repository.rs
  libs/ferriskey-domain/src/session/ports.rs
  libs/ferriskey-domain/src/session/services.rs
  libs/ferriskey-security/src/jwt/ports.rs
Due: rust-fmt, rust-clippy

fix: enforce pending authentication steps on all token issuance paths
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/trident/services.rs
  front/src/api/api.client.ts
  libs/ferriskey-api-authentication/src/handlers/registration.rs
  libs/ferriskey-domain/src/authentication/value_objects.rs
  libs/ferriskey-trident/src/mfa_policy.rs
Due: rust-fmt, rust-clippy, esint

fix: collapse nested mfa enrolment condition into a single let chain
  libs/ferriskey-trident/src/mfa_policy.rs
Due: rust-fmt, rust-clippy

fix: enforce pending authentication steps on all token issuance paths (#1233)
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/trident/services.rs
  front/src/api/api.client.ts
  libs/ferriskey-api-authentication/src/handlers/registration.rs
  libs/ferriskey-domain/src/authentication/value_objects.rs
  libs/ferriskey-trident/src/mfa_policy.rs
Due: rust-fmt, rust-clippy, esint

ci: lint test targets and fix the lints they were hiding
  .pre-commit-config.yaml
  api/tests/pkce_test.rs
  api/tests/refresh_token_rotation_test.rs
  core/src/application/token_revocation.rs
  libs/ferriskey-mail/src/email_verification/services.rs
  libs/ferriskey-seawatch/src/hashing.rs
Due: rust-fmt, rust-clippy

ci: run the integration suites that were never wired
  .github/workflows/integration-tests.yaml
Due: none

ci: drop the added comments from the integration workflow
  .github/workflows/integration-tests.yaml
Due: none

ci: lint test targets and fix the lints they were hiding (#1234)
  .pre-commit-config.yaml
  api/tests/pkce_test.rs
  api/tests/refresh_token_rotation_test.rs
  core/src/application/token_revocation.rs
  libs/ferriskey-mail/src/email_verification/services.rs
  libs/ferriskey-seawatch/src/hashing.rs
Due: rust-fmt, rust-clippy

ci: run the integration suites that were never wired (#1235)
  .github/workflows/integration-tests.yaml
Due: none

fix: make an approved device code single-use and subject to expiry
  api/tests/device_flow_test.rs
  core/src/domain/authentication/device_flow/entities.rs
  core/src/domain/authentication/device_flow/ports.rs
  core/src/domain/authentication/device_flow/services.rs
  core/src/infrastructure/repositories/device_auth_repository.rs
Due: rust-fmt, rust-clippy

fix: make an approved device code single-use and subject to expiry (#1236)
  api/tests/device_flow_test.rs
  core/src/domain/authentication/device_flow/entities.rs
  core/src/domain/authentication/device_flow/ports.rs
  core/src/domain/authentication/device_flow/services.rs
  core/src/infrastructure/repositories/device_auth_repository.rs
Due: rust-fmt, rust-clippy

fix: scope device session approval to the caller realm
  api/tests/device_flow_test.rs
  core/src/application/services.rs
  core/src/domain/authentication/device_flow/error.rs
  core/src/domain/authentication/device_flow/ports.rs
  core/src/domain/authentication/device_flow/services.rs
  core/src/infrastructure/repositories/device_auth_repository.rs
  libs/ferriskey-api-authentication/src/handlers/device_verify.rs
  libs/ferriskey-api-core/src/error.rs
Due: rust-fmt, rust-clippy

fix: scope device session approval to the caller realm (#1237)
  api/tests/device_flow_test.rs
  core/src/application/services.rs
  core/src/domain/authentication/device_flow/error.rs
  core/src/domain/authentication/device_flow/ports.rs
  core/src/domain/authentication/device_flow/services.rs
  core/src/infrastructure/repositories/device_auth_repository.rs
  libs/ferriskey-api-authentication/src/handlers/device_verify.rs
  libs/ferriskey-api-core/src/error.rs
Due: rust-fmt, rust-clippy

fix: authenticate confidential clients on both device endpoints
  api/tests/device_flow_test.rs
  core/src/application/services.rs
  core/src/domain/authentication/device_flow/value_objects.rs
  core/src/domain/authentication/services.rs
  libs/ferriskey-api-authentication/src/handlers/device_authorization.rs
Due: rust-fmt, rust-clippy

fix: authenticate confidential clients on both device endpoints (#1238)
  api/tests/device_flow_test.rs
  core/src/application/services.rs
  core/src/domain/authentication/device_flow/value_objects.rs
  core/src/domain/authentication/services.rs
  libs/ferriskey-api-authentication/src/handlers/device_authorization.rs
Due: rust-fmt, rust-clippy

fix: validate and propagate the device flow scope to issued tokens
  api/tests/device_flow_test.rs
  core/src/application/services.rs
  core/src/domain/authentication/device_flow/error.rs
  core/src/domain/authentication/device_flow/mod.rs
  core/src/domain/authentication/device_flow/services.rs
  core/src/domain/authentication/device_flow/value_objects.rs
  core/src/domain/authentication/services.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-api-trident/src/handlers/reset_password.rs
  libs/ferriskey-domain/src/authentication/value_objects.rs
Due: rust-fmt, rust-clippy

feat: show the requesting client and scopes before device approval
  api/tests/device_flow_test.rs
  core/src/application/services.rs
  core/src/domain/authentication/device_flow/mod.rs
  core/src/domain/authentication/device_flow/ports.rs
  core/src/domain/authentication/device_flow/services.rs
  core/src/domain/authentication/device_flow/value_objects.rs
  front/src/api/api.client.ts
  front/src/api/device.api.ts
  front/src/lib/builder-portal/components.tsx
  front/src/lib/builder-portal/renderer.tsx
  front/src/lib/builder-portal/visual-blocks/visual-block-registry.tsx
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/authentication/feature/page-device-verify-feature.tsx
  front/src/pages/authentication/ui/page-device-verify.tsx
  libs/ferriskey-api-authentication/src/handlers/device_verify.rs
  libs/ferriskey-api-authentication/src/router.rs
Due: rust-fmt, rust-clippy, esint

fix: validate and propagate the device flow scope, and show consent before approval (#1239)
  api/tests/device_flow_test.rs
  core/src/application/services.rs
  core/src/domain/authentication/device_flow/error.rs
  core/src/domain/authentication/device_flow/mod.rs
  core/src/domain/authentication/device_flow/ports.rs
  core/src/domain/authentication/device_flow/services.rs
  core/src/domain/authentication/device_flow/value_objects.rs
  core/src/domain/authentication/services.rs
  front/src/api/api.client.ts
  front/src/api/device.api.ts
  front/src/lib/builder-portal/components.tsx
  front/src/lib/builder-portal/renderer.tsx
  front/src/lib/builder-portal/visual-blocks/visual-block-registry.tsx
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/authentication/feature/page-device-verify-feature.tsx
  front/src/pages/authentication/ui/page-device-verify.tsx
  libs/ferriskey-api-authentication/src/handlers/device_verify.rs
  libs/ferriskey-api-authentication/src/router.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-api-trident/src/handlers/reset_password.rs
  libs/ferriskey-domain/src/authentication/value_objects.rs
Due: rust-fmt, rust-clippy, esint

fix: schedule the purge of expired device authorization sessions
  api/tests/device_flow_test.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/device_flow/ports.rs
  core/src/domain/authentication/device_flow/services.rs
  core/src/infrastructure/repositories/device_auth_repository.rs
Due: rust-fmt, rust-clippy

fix: schedule the purge of expired device authorization sessions (#1240)
  api/tests/device_flow_test.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/device_flow/ports.rs
  core/src/domain/authentication/device_flow/services.rs
  core/src/infrastructure/repositories/device_auth_repository.rs
Due: rust-fmt, rust-clippy

fix: keep the login action token out of urls and make it single use
  api/tests/mfa_bypass_test.rs
  core/migrations/20260818120000_create_login_action_tokens.down.sql
  core/migrations/20260818120000_create_login_action_tokens.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/entity/login_action_tokens.rs
  core/src/entity/mod.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/login_action_token_repository.rs
  front/openapi.yaml
  front/src/api/api.client.ts
  front/src/api/api.interface.ts
  front/src/api/auth.api.ts
  front/src/api/index.ts
  front/src/api/trident.api.ts
  front/src/lib/builder-portal/presets.ts
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/authentication/feature/execution/configure-otp-feature.tsx
  front/src/pages/authentication/feature/execution/configure-passkey-feature.tsx
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
  front/src/pages/authentication/feature/execution/verify-email-feature.tsx
  front/src/pages/authentication/feature/page-otp-challenge-feature.tsx
  front/src/pages/authentication/feature/page-required-action-feature.tsx
  front/src/pages/authentication/feature/verify-email-route.tsx
  front/src/pages/authentication/hooks/use-login-form.ts
  front/src/pages/authentication/hooks/use-portal-page-submit.ts
  libs/ferriskey-api-authentication/src/handlers/authentificate.rs
  libs/ferriskey-api-authentication/src/handlers/device_verify.rs
  libs/ferriskey-api-core/src/auth.rs
  libs/ferriskey-api-core/src/authentication.rs
  libs/ferriskey-api-trident/src/handlers/magic_link.rs
  libs/ferriskey-domain/src/authentication/entities.rs
Due: rust-fmt, rust-clippy, esint

fix: align the login action cookie with the existing session cookie policy
  api/tests/mfa_bypass_test.rs
  libs/ferriskey-api-authentication/src/handlers/authentificate.rs
Due: rust-fmt, rust-clippy

fix: keep the login action token out of urls and make it single use (#1241)
  api/tests/mfa_bypass_test.rs
  core/migrations/20260818120000_create_login_action_tokens.down.sql
  core/migrations/20260818120000_create_login_action_tokens.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/entity/login_action_tokens.rs
  core/src/entity/mod.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/login_action_token_repository.rs
  front/openapi.yaml
  front/src/api/api.client.ts
  front/src/api/api.interface.ts
  front/src/api/auth.api.ts
  front/src/api/index.ts
  front/src/api/trident.api.ts
  front/src/lib/builder-portal/presets.ts
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/authentication/feature/execution/configure-otp-feature.tsx
  front/src/pages/authentication/feature/execution/configure-passkey-feature.tsx
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
  front/src/pages/authentication/feature/execution/verify-email-feature.tsx
  front/src/pages/authentication/feature/page-otp-challenge-feature.tsx
  front/src/pages/authentication/feature/page-required-action-feature.tsx
  front/src/pages/authentication/feature/verify-email-route.tsx
  front/src/pages/authentication/hooks/use-login-form.ts
  front/src/pages/authentication/hooks/use-portal-page-submit.ts
  libs/ferriskey-api-authentication/src/handlers/authentificate.rs
  libs/ferriskey-api-authentication/src/handlers/device_verify.rs
  libs/ferriskey-api-core/src/auth.rs
  libs/ferriskey-api-core/src/authentication.rs
  libs/ferriskey-api-trident/src/handlers/magic_link.rs
  libs/ferriskey-domain/src/authentication/entities.rs
Due: rust-fmt, rust-clippy, esint

fix: issue user tokens through the common path and refuse disabled accounts
  api/tests/device_flow_test.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

fix: issue user tokens through the common path and refuse disabled accounts (#1242)
  api/tests/device_flow_test.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

fix: redact the client secret everywhere except creation and an audited reveal
  api/tests/client_cross_realm_test.rs
  api/tests/device_flow_test.rs
  api/tests/token_basic_auth_test.rs
  api/tests/token_revocation_test.rs
  core/src/application/client/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/seawatch/mapper.rs
  front/src/api/api.client.ts
  front/src/api/client.api.ts
  front/src/pages/client/feature/page-client-credentials-feature.tsx
  front/src/pages/client/ui/page-client-credentials.tsx
  front/src/pages/console-applications/feature/page-application-detail-feature.tsx
  front/src/pages/console-applications/ui/tabs/credentials-tab.tsx
  libs/ferriskey-api-client/src/handlers.rs
  libs/ferriskey-api-client/src/handlers/create_client.rs
  libs/ferriskey-api-client/src/handlers/get_client_secret.rs
  libs/ferriskey-api-client/src/router.rs
  libs/ferriskey-domain/Cargo.toml
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/ports.rs
  libs/ferriskey-seawatch/src/entities.rs
  libs/maskass/src/masked.rs
Due: rust-fmt, rust-clippy, esint

chore: lock the maskass dependency added to the domain crate
  Cargo.lock
Due: rust-clippy

fix: redact the client secret everywhere except creation and an audited reveal (#1243)
  Cargo.lock
  api/tests/client_cross_realm_test.rs
  api/tests/device_flow_test.rs
  api/tests/token_basic_auth_test.rs
  api/tests/token_revocation_test.rs
  core/src/application/client/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/seawatch/mapper.rs
  front/src/api/api.client.ts
  front/src/api/client.api.ts
  front/src/pages/client/feature/page-client-credentials-feature.tsx
  front/src/pages/client/ui/page-client-credentials.tsx
  front/src/pages/console-applications/feature/page-application-detail-feature.tsx
  front/src/pages/console-applications/ui/tabs/credentials-tab.tsx
  libs/ferriskey-api-client/src/handlers.rs
  libs/ferriskey-api-client/src/handlers/create_client.rs
  libs/ferriskey-api-client/src/handlers/get_client_secret.rs
  libs/ferriskey-api-client/src/router.rs
  libs/ferriskey-domain/Cargo.toml
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/ports.rs
  libs/ferriskey-seawatch/src/entities.rs
  libs/maskass/src/masked.rs
Due: rust-fmt, rust-clippy, esint

fix: authorize federation listing, connection tests and user sync
  api/tests/user_cross_realm_test.rs
  core/src/application/abyss/federation/mod.rs
  core/src/domain/abyss/federation/ports.rs
  core/src/domain/abyss/federation/services.rs
  libs/ferriskey-api-abyss/src/federation/handlers/sync_users.rs
  libs/ferriskey-api-abyss/src/federation/handlers/test_connection.rs
Due: rust-fmt, rust-clippy

fix: authorize federation listing, connection tests and user sync (#1244)
  api/tests/user_cross_realm_test.rs
  core/src/application/abyss/federation/mod.rs
  core/src/domain/abyss/federation/ports.rs
  core/src/domain/abyss/federation/services.rs
  libs/ferriskey-api-abyss/src/federation/handlers/sync_users.rs
  libs/ferriskey-api-abyss/src/federation/handlers/test_connection.rs
Due: rust-fmt, rust-clippy

fix: carry inbound pkce through brokering, verify id tokens and gate account linking
  core/migrations/20260819120000_broker_session_inbound_pkce.down.sql
  core/migrations/20260819120000_broker_session_inbound_pkce.up.sql
  core/src/application/broker/mod.rs
  core/src/application/identity_provider.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/abyss/identity_provider_services.rs
  core/src/entity/broker_auth_sessions.rs
  core/src/infrastructure/identity_provider/repositories/broker_auth_session_repository.rs
  core/src/infrastructure/identity_provider/repositories/oauth_client.rs
  core/src/infrastructure/seawatch/mapper.rs
  libs/ferriskey-abyss/src/identity_provider/broker/entities.rs
  libs/ferriskey-abyss/src/identity_provider/broker/ports.rs
  libs/ferriskey-abyss/src/identity_provider/broker/value_objects.rs
  libs/ferriskey-abyss/src/identity_provider/entities.rs
  libs/ferriskey-abyss/src/identity_provider/mod.rs
  libs/ferriskey-abyss/src/identity_provider/ports.rs
  libs/ferriskey-api-abyss/src/identity_provider_link/dto.rs
  libs/ferriskey-api-abyss/src/identity_provider_link/handlers/delete_identity_provider_link.rs
  libs/ferriskey-api-abyss/src/identity_provider_link/handlers/list_identity_provider_links.rs
  libs/ferriskey-api-abyss/src/identity_provider_link/handlers/mod.rs
  libs/ferriskey-api-abyss/src/identity_provider_link/mod.rs
  libs/ferriskey-api-abyss/src/lib.rs
  libs/ferriskey-api-abyss/src/routes.rs
  libs/ferriskey-api-broker/src/handlers/login.rs
  libs/ferriskey-api-broker/src/validators.rs
  libs/ferriskey-seawatch/src/entities.rs
Due: rust-fmt, rust-clippy

fix: restrict id token algorithms and reject unusable pkce methods
  core/src/domain/abyss/broker_services.rs
  core/src/entity/broker_auth_sessions.rs
  libs/ferriskey-abyss/src/identity_provider/broker/entities.rs
Due: rust-fmt, rust-clippy

fix: carry inbound pkce through brokering, verify id tokens and gate account linking (#1245)
  core/migrations/20260819120000_broker_session_inbound_pkce.down.sql
  core/migrations/20260819120000_broker_session_inbound_pkce.up.sql
  core/src/application/broker/mod.rs
  core/src/application/identity_provider.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/abyss/identity_provider_services.rs
  core/src/entity/broker_auth_sessions.rs
  core/src/infrastructure/identity_provider/repositories/broker_auth_session_repository.rs
  core/src/infrastructure/identity_provider/repositories/oauth_client.rs
  core/src/infrastructure/seawatch/mapper.rs
  libs/ferriskey-abyss/src/identity_provider/broker/entities.rs
  libs/ferriskey-abyss/src/identity_provider/broker/ports.rs
  libs/ferriskey-abyss/src/identity_provider/broker/value_objects.rs
  libs/ferriskey-abyss/src/identity_provider/entities.rs
  libs/ferriskey-abyss/src/identity_provider/mod.rs
  libs/ferriskey-abyss/src/identity_provider/ports.rs
  libs/ferriskey-api-abyss/src/identity_provider_link/dto.rs
  libs/ferriskey-api-abyss/src/identity_provider_link/handlers/delete_identity_provider_link.rs
  libs/ferriskey-api-abyss/src/identity_provider_link/handlers/list_identity_provider_links.rs
  libs/ferriskey-api-abyss/src/identity_provider_link/handlers/mod.rs
  libs/ferriskey-api-abyss/src/identity_provider_link/mod.rs
  libs/ferriskey-api-abyss/src/lib.rs
  libs/ferriskey-api-abyss/src/routes.rs
  libs/ferriskey-api-broker/src/handlers/login.rs
  libs/ferriskey-api-broker/src/validators.rs
  libs/ferriskey-seawatch/src/entities.rs
Due: rust-fmt, rust-clippy

test: cover id token verification and record the audit event before removal
  core/src/domain/abyss/broker_services.rs
  core/src/domain/abyss/identity_provider_services.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
