Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

feat: Add HTTP handler for updating a realm's password policy.
  api/src/application/http/realm/handlers/update_password_policy.rs
Due: rust-fmt, rust-clippy

feat: Add endpoints and handlers for managing realm password policies.
  api/src/application/http/realm/handlers.rs
Due: rust-fmt, rust-clippy

feat: Add password policy API endpoints for getting and updating.
  api/src/application/http/realm/router.rs
Due: rust-fmt, rust-clippy

feat: Add hooks for fetching and updating realm password policies.
  front/src/api/realm.api.ts
Due: esint

feat: implement password policy management for realms, including UI, form handling, and API integration.
  front/src/pages/realm/page-realm.tsx
Due: esint

feat: Add realm password policy settings page with UI and feature logic.
  front/src/pages/realm/feature/page-realm-settings-password-policy-feature.tsx
Due: esint

feat: implement UI for realm password policy settings page with form fields for various constraints.
  front/src/pages/realm/ui/page-realm-settings-password-policy.tsx
Due: esint

feat: Add password policy tab to realm settings.
  front/src/pages/realm/layouts/realm-settings-layout.tsx
Due: esint

feat: Add 'Password Policy' tab to the realm settings page.
  front/src/pages/realm/ui/page-realm-settings.tsx
Due: esint

refactor: relocate `password_policy_service` initialization and pass `Arc` wrapped instance to `UserServiceImpl`
  core/src/application/mod.rs
Due: rust-fmt, rust-clippy

feat: add password policy domain and repository modules
  core/src/domain/mod.rs
Due: rust-fmt, rust-clippy

feat: Add password policy repository module.
  core/src/infrastructure/repositories.rs
Due: rust-fmt, rust-clippy

feat: Introduce `BadRequest` error handling and simplify database connection pool retrieval.
  api/src/application/http/error.rs
Due: rust-fmt, rust-clippy

feat: add `BadRequest` error variant to `CoreError` and remove `expect` call from `get_pool` method.
  core/src/infrastructure/db/postgres.rs
Due: rust-fmt, rust-clippy

feat: add BadRequest error variant to AppError.
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

refactor: Add Debug and Clone trait implementations to PasswordPolicyServiceImpl.
  core/src/domain/password_policy/services.rs
Due: rust-fmt, rust-clippy

feat: Initialize a default password policy when creating a new realm.
  core/src/application/mod.rs
Due: rust-fmt, rust-clippy

feat: Integrate password policy repository into realm service for default policy creation and implement Debug and Clone for user service.
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

feat: Implement Debug and Clone traits for UserServiceImpl.
  core/src/domain/user/services.rs
Due: rust-fmt, rust-clippy

feat: include ID token fields and refresh metadata (#817)
  core/src/domain/authentication/services.rs
  libs/ferriskey-domain/src/authentication/entities.rs
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy

feat: Add PasswordPolicyRepository to RealmServiceImpl generic type parameters.
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

refactor: manually implement Clone and Debug for `RealmServiceImpl` and add explicit type annotations in `PasswordPolicyRepository`.
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

refactor: explicitly type password policy query results
  core/src/infrastructure/repositories/password_policy_repository.rs
Due: rust-fmt, rust-clippy

feat: Integrate `PasswordPolicyRepo` into application services and add explicit type casting for SQL parameters in its repository implementation.
  core/src/infrastructure/repositories/password_policy_repository.rs
Due: rust-fmt, rust-clippy

feat: add PasswordPolicyRepo to ApplicationServiceImpl and PPS generic to UserServiceImpl.
  core/src/domain/user/services.rs
Due: rust-fmt, rust-clippy

feat: Add PasswordPolicyRepo as a dependency to application services.
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

feat: add CoreError::InvalidRequiredAction for proper 400 responses
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: map InvalidRequiredAction to 400 Bad Request with allowed values
  api/src/application/http/error.rs
Due: rust-fmt, rust-clippy

refactor: add RequiredAction::allowed_values helper for single source of truth
  libs/ferriskey-domain/src/user/entities.rs
Due: rust-fmt, rust-clippy

fix: return InvalidRequiredAction when RequiredAction::try_from fails
  core/src/domain/user/services.rs
Due: rust-fmt, rust-clippy

Refactor password policy and realm handlers to utilize the ApplicationService for domain service access and add comprehensive password validation tests.
  api/src/application/http/realm/handlers/update_password_policy.rs
Due: rust-fmt, rust-clippy

feat: Implement password policy management and refactor API client schemas by removing deprecated types.
  api/src/application/http/realm/handlers/get_password_policy.rs
Due: rust-fmt, rust-clippy

feat: enhance password policy validation with new tests and simplify API client schemas by removing unused types.
  core/src/application/mod.rs
Due: rust-fmt, rust-clippy

feat: Add comprehensive password policy validation tests and refactor API client schemas by removing unused types.
  core/src/application/password_policy/mod.rs
Due: rust-fmt, rust-clippy

test: expand password policy validation tests; refactor: simplify API client type definitions by removing unused schemas and refining existing ones.
  core/src/domain/password_policy/services.rs
Due: rust-fmt, rust-clippy

refactor: simplify API schema types by removing unused definitions and consolidating existing ones.
  front/src/api/api.client.ts
Due: esint

refactor: remove '/realms' segment from password policy endpoint path
  api/src/application/http/realm/router.rs
Due: rust-fmt, rust-clippy

feat: add data migration framework and seed client scopes
  Cargo.lock
  Cargo.toml
  api/src/main.rs
  core/Cargo.toml
  core/migrations/20260311000000_create_data_migrations.down.sql
  core/migrations/20260311000000_create_data_migrations.up.sql
  core/src/application/migrate/context.rs
  core/src/application/migrate/m0001_seed_default_client_scopes.rs
  core/src/application/migrate/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/entity/data_migrations.rs
  core/src/entity/mod.rs
  core/src/infrastructure/migrate/mod.rs
  core/src/infrastructure/migrate/repository.rs
  core/src/infrastructure/mod.rs
  front/pnpm-lock.yaml
  libs/ferriskey-migrate/Cargo.toml
  libs/ferriskey-migrate/src/entities.rs
  libs/ferriskey-migrate/src/error.rs
  libs/ferriskey-migrate/src/lib.rs
  libs/ferriskey-migrate/src/ports.rs
  libs/ferriskey-migrate/src/runner.rs
Due: rust-fmt, rust-clippy

feat: include ferriskey-migrate in Docker build
  Dockerfile
Due: hadolint

fix: Add a static save button to the password policy settings page for UI consistency and refactor realm API routing.
  api/src/application/http/realm/router.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
