Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

feat(auth): update registration flow for email verification
  api/src/application/http/authentication/handlers/registration.rs
  core/src/application/auth/mod.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  front/src/pages/authentication/feature/page-register-feature.tsx
Due: rust-fmt, rust-clippy, esint

feat(realm): add email verification settings to realm configuration
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  libs/ferriskey-domain/src/realm/mod.rs
Due: rust-fmt, rust-clippy

feat(infra): add email verification repository and DI wiring
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/email_verification_token_repository.rs
Due: rust-fmt, rust-clippy

feat(frontend): add email verification pages and routing
  front/src/pages/authentication/feature/execution/verify-email-feature.tsx
  front/src/pages/authentication/feature/page-check-your-email.tsx
  front/src/pages/authentication/feature/page-verify-email.tsx
  front/src/pages/authentication/page-authentication.tsx
  front/src/pages/authentication/ui/page-required-action.tsx
Due: esint

feat(entity): add email verification fields and token entity
  core/src/entity/email_verification_tokens.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_settings.rs
Due: rust-fmt, rust-clippy

feat(domain): add email verification domain layer
  core/src/domain/email_verification/entities.rs
  core/src/domain/email_verification/mod.rs
  core/src/domain/email_verification/ports.rs
  core/src/domain/email_verification/services.rs
  core/src/domain/mod.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat(db): add email verification migrations
  core/migrations/20260401000000_create_email_verification_tokens.down.sql
  core/migrations/20260401000000_create_email_verification_tokens.up.sql
  core/migrations/20260401000001_add_email_verification_enabled.down.sql
  core/migrations/20260401000001_add_email_verification_enabled.up.sql
  core/migrations/20260402000000_add_email_verification_ttl_to_realm_settings.down.sql
  core/migrations/20260402000000_add_email_verification_ttl_to_realm_settings.up.sql
Due: none

fix: remove unnecessary .into_iter() call (clippy useless_conversion)
  core/src/infrastructure/repositories/credential_repository.rs
Due: rust-fmt, rust-clippy

fix: address PR review comments
  api/src/application/http/authentication/handlers/verify_email.rs
  core/migrations/20260402000000_add_email_verification_ttl_to_realm_settings.up.sql
  core/src/domain/authentication/services.rs
  core/src/domain/email_verification/ports.rs
  core/src/domain/email_verification/services.rs
  core/src/infrastructure/repositories/email_verification_token_repository.rs
  front/src/pages/authentication/feature/page-check-your-email.tsx
  front/src/pages/authentication/feature/page-verify-email.tsx
Due: rust-fmt, rust-clippy, esint

feat: add organization members UI and API hooks
  front/src/api/organization.api.ts
  front/src/pages/organization/columns/add-member.column.tsx
  front/src/pages/organization/columns/list-organization-members.column.tsx
  front/src/pages/organization/feature/modals/add-member-modal-feature.tsx
  front/src/pages/organization/feature/page-organization-members-feature.tsx
  front/src/pages/organization/layout/organization-layout.tsx
  front/src/pages/organization/page-organization.tsx
  front/src/pages/organization/schemas/add-member.schema.ts
  front/src/pages/organization/ui/modals/add-member-modal.tsx
  front/src/pages/organization/ui/page-organization-members.tsx
  front/src/pages/user/columns/assign-organization.column.tsx
  front/src/pages/user/columns/list-user-organizations.column.tsx
  front/src/pages/user/feature/modals/assign-organization-modal-feature.tsx
  front/src/pages/user/feature/page-user-organizations-feature.tsx
  front/src/pages/user/layouts/user-layout.tsx
  front/src/pages/user/page-user.tsx
  front/src/pages/user/schemas/assign-organization.schema.ts
  front/src/pages/user/ui/modals/assign-organization-modal.tsx
  front/src/pages/user/ui/page-user-organizations.tsx
  front/src/routes/sub-router/organization.router.ts
  front/src/routes/sub-router/user.router.ts
Due: esint

feat: add organization members UI and API hooks (#918)
  front/src/api/organization.api.ts
  front/src/pages/organization/columns/add-member.column.tsx
  front/src/pages/organization/columns/list-organization-members.column.tsx
  front/src/pages/organization/feature/modals/add-member-modal-feature.tsx
  front/src/pages/organization/feature/page-organization-members-feature.tsx
  front/src/pages/organization/layout/organization-layout.tsx
  front/src/pages/organization/page-organization.tsx
  front/src/pages/organization/schemas/add-member.schema.ts
  front/src/pages/organization/ui/modals/add-member-modal.tsx
  front/src/pages/organization/ui/page-organization-members.tsx
  front/src/pages/user/columns/assign-organization.column.tsx
  front/src/pages/user/columns/list-user-organizations.column.tsx
  front/src/pages/user/feature/modals/assign-organization-modal-feature.tsx
  front/src/pages/user/feature/page-user-organizations-feature.tsx
  front/src/pages/user/layouts/user-layout.tsx
  front/src/pages/user/page-user.tsx
  front/src/pages/user/schemas/assign-organization.schema.ts
  front/src/pages/user/ui/modals/assign-organization-modal.tsx
  front/src/pages/user/ui/page-user-organizations.tsx
  front/src/routes/sub-router/organization.router.ts
  front/src/routes/sub-router/user.router.ts
Due: esint

feat(http/authentication): update registration handler for pending emails
  api/src/application/http/authentication/handlers/registration.rs
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
  front/src/hooks/use-verify-email.ts
  front/src/pages/authentication/feature/page-verify-email.tsx
Due: rust-fmt, rust-clippy, esint

fix(authentication): update classNames from double quotes to single quotes
  front/src/pages/authentication/feature/page-verify-email.tsx
Due: esint

feat(api): update verify email endpoint path in API client code
  api/src/application/http/authentication/handlers/verify_email.rs
  front/src/api/api.client.ts
Due: rust-fmt, rust-clippy, esint

wip
  front/src/lib/builder-core/components/builder-shell.tsx
  front/src/lib/builder-core/components/canvas.tsx
  front/src/lib/builder-core/types.ts
  front/src/lib/builder-mjml/adapter.ts
  front/src/lib/builder-mjml/config-panels/rich-text-editor.tsx
  front/src/lib/builder-mjml/presets.ts
  front/src/lib/builder-mjml/preview.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-button-block.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-column-block.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-divider-block.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-fallback-block.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-image-block.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-section-block.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-spacer-block.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-text-block.tsx
  front/src/lib/builder-mjml/visual-blocks/visual-block-registry.tsx
  front/src/pages/email-template/ui/page-email-template-builder.tsx
Due: esint

wip
  front/src/lib/builder-core/components/canvas.tsx
  front/src/lib/builder-core/components/config-panel.tsx
  front/src/lib/builder-mjml/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-mjml/config-panels/config-section.tsx
Due: esint

wip
  front/src/lib/builder-core/components/canvas.tsx
  front/src/lib/builder-core/types.ts
  front/src/lib/builder-mjml/adapter.ts
  front/src/lib/builder-mjml/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-mjml/visual-blocks/inline-text-editor.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-button-block.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-column-block.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-text-block.tsx
Due: esint

wip
  front/src/lib/builder-core/components/canvas.tsx
  front/src/lib/builder-mjml/visual-blocks/inline-text-editor.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-text-block.tsx
Due: esint

wip
  front/src/lib/builder-mjml/visual-blocks/inline-text-editor.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-text-block.tsx
Due: esint

feat: polish email builder ui (#919)
  front/src/lib/builder-core/components/builder-shell.tsx
  front/src/lib/builder-core/components/canvas.tsx
  front/src/lib/builder-core/components/config-panel.tsx
  front/src/lib/builder-core/types.ts
  front/src/lib/builder-mjml/adapter.ts
  front/src/lib/builder-mjml/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-mjml/config-panels/config-section.tsx
  front/src/lib/builder-mjml/presets.ts
  front/src/lib/builder-mjml/preview.tsx
  front/src/lib/builder-mjml/visual-blocks/inline-text-editor.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-button-block.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-column-block.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-divider-block.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-fallback-block.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-image-block.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-section-block.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-spacer-block.tsx
  front/src/lib/builder-mjml/visual-blocks/mj-text-block.tsx
  front/src/lib/builder-mjml/visual-blocks/visual-block-registry.tsx
  front/src/pages/email-template/ui/page-email-template-builder.tsx
Due: esint

feat: make org membership mapper emit alias-keyed object
  core/src/domain/authentication/mappers/org_membership_mapper.rs
  front/src/contracts/states.interface.ts
  front/src/hooks/use-auth.ts
  front/src/pages/client-scope/constants/protocol-mapper-templates.ts
  front/src/pages/client-scope/ui/page-protocol-mappers.tsx
Due: rust-fmt, rust-clippy, esint

feat: make org membership mapper emit alias-keyed object (#920)
  core/src/domain/authentication/mappers/org_membership_mapper.rs
  front/src/contracts/states.interface.ts
  front/src/hooks/use-auth.ts
  front/src/pages/client-scope/constants/protocol-mapper-templates.ts
  front/src/pages/client-scope/ui/page-protocol-mappers.tsx
Due: rust-fmt, rust-clippy, esint

feat: bump project version to 0.5.0
  Cargo.lock
  Cargo.toml
  charts/ferriskey/Chart.yaml
Due: rust-clippy

fix: redesign Update Password page UI
  front/src/pages/authentication/ui/execution/update-password.tsx
Due: esint

fix: persist auth session code for magic links
  api/src/application/http/trident/handlers/magic_link.rs
  core/migrations/20260404000000_add_auth_session_code_to_magic_links.down.sql
  core/migrations/20260404000000_add_auth_session_code_to_magic_links.up.sql
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/entity/magic_links.rs
  core/src/infrastructure/repositories/magic_link_repository.rs
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/feature/page-magic-link-verify-feature.tsx
  libs/ferriskey-trident/src/entities/mod.rs
Due: rust-fmt, rust-clippy, esint

fix: update chart README
  charts/ferriskey/README.md
Due: none

fix: redesign Update Password page UI (#922)
  front/src/pages/authentication/ui/execution/update-password.tsx
Due: esint

fix: persist auth session code for magic links (#923)
  api/src/application/http/trident/handlers/magic_link.rs
  core/migrations/20260404000000_add_auth_session_code_to_magic_links.down.sql
  core/migrations/20260404000000_add_auth_session_code_to_magic_links.up.sql
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/entity/magic_links.rs
  core/src/infrastructure/repositories/magic_link_repository.rs
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/feature/page-magic-link-verify-feature.tsx
  libs/ferriskey-trident/src/entities/mod.rs
Due: rust-fmt, rust-clippy, esint

fix: handle invalid redirect URI and seed admin console
  api/Cargo.toml
  api/src/application/http/authentication/handlers/auth.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/common/services.rs
  core/src/domain/realm/services.rs
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/ui/page-login.tsx
Due: rust-fmt, rust-clippy, esint

fix: handle invalid redirect URI and seed admin console (#924)
  api/Cargo.toml
  api/src/application/http/authentication/handlers/auth.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/common/services.rs
  core/src/domain/realm/services.rs
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/ui/page-login.tsx
Due: rust-fmt, rust-clippy, esint

feat: bump project version to 0.5.0 (#921)
  Cargo.lock
  Cargo.toml
  charts/ferriskey/Chart.yaml
  charts/ferriskey/README.md
Due: rust-clippy

fix: run database migrations as Helm hooks
  charts/ferriskey/README.md
  charts/ferriskey/README.md.gotmpl
  charts/ferriskey/templates/database-migrations/job.yaml
Due: none

fix: run database migrations as Helm hooks (#925)
  charts/ferriskey/README.md
  charts/ferriskey/README.md.gotmpl
  charts/ferriskey/templates/database-migrations/job.yaml
Due: none

fix: add redirecturi repository
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

fix: add redirecturi repository (#926)
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

feat: implement maintenance mode domain
  api/src/application/http/client/handlers/update_client.rs
  api/src/application/http/error.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/common/services.rs
  core/src/domain/maintenance/entities.rs
  core/src/domain/maintenance/mod.rs
  core/src/domain/maintenance/ports.rs
  core/src/domain/maintenance/services.rs
  core/src/domain/maintenance/value_objects.rs
  core/src/domain/mod.rs
  core/src/domain/seawatch/entities.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
  core/src/entity/clients.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/maintenance/mod.rs
  core/src/infrastructure/maintenance/repositories/maintenance_whitelist_repository.rs
  core/src/infrastructure/maintenance/repositories/mod.rs
  core/src/infrastructure/maintenance/repositories/realm_maintenance_whitelist_repository.rs
  core/src/infrastructure/mod.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-domain/src/lib.rs
  libs/ferriskey-domain/src/maintenance/entities.rs
  libs/ferriskey-domain/src/maintenance/mod.rs
  libs/ferriskey-domain/src/maintenance/ports.rs
  libs/ferriskey-domain/src/maintenance/value_objects.rs
Due: rust-fmt, rust-clippy

fix: update realm service test builder for RedirectUriRepository
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

ci: add cargo audit workflow for dependency vulnerability scanning
  .github/workflows/security.yaml
Due: none

ci: add cargo test workflow with PostgreSQL service container
  .github/workflows/test.yaml
Due: none

fix: replace .unwrap() with proper error handling in production code
  core/src/domain/realm/services.rs
  core/src/infrastructure/realm/mappers/smtp_config_mapper.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
