Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

fix(docker): make webapp web root writable by the unprivileged nginx user
  Dockerfile
Due: hadolint

fix(docker): make webapp web root writable by the unprivileged nginx user (#1130)
  Dockerfile
Due: hadolint

feat: dump version
  Cargo.lock
  Cargo.toml
  charts/ferriskey-operator/Chart.yaml
  charts/ferriskey-operator/README.md
  charts/ferriskey-operator/README.md.gotmpl
  charts/ferriskey/Chart.yaml
  charts/ferriskey/README.md
Due: rust-clippy

fix: cherry pick nginx fix for 0.7.1 (#1131)
  Cargo.lock
  Cargo.toml
  Dockerfile
  charts/ferriskey-operator/Chart.yaml
  charts/ferriskey-operator/README.md
  charts/ferriskey-operator/README.md.gotmpl
  charts/ferriskey/Chart.yaml
  charts/ferriskey/README.md
Due: rust-clippy, hadolint

feat: implement PKCE on the authorization code flow (RFC 7636)
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/token.rs
  api/src/application/http/authentication/validators.rs
  api/src/application/http/client/handlers/update_client.rs
  api/src/application/http/client/validators.rs
  api/src/application/http/error.rs
  api/tests/pkce_test.rs
  core/migrations/20260618000001_add_pkce_to_auth_sessions.down.sql
  core/migrations/20260618000001_add_pkce_to_auth_sessions.up.sql
  core/migrations/20260618000002_add_require_pkce_to_clients.down.sql
  core/migrations/20260618000002_add_require_pkce_to_clients.up.sql
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/common/services.rs
  core/src/domain/maintenance/services.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/clients.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

fix(pkce): require explicit S256 when require_pkce is set
  api/tests/pkce_test.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

refactor: remove useless commentary
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/client/validators.rs
  api/tests/pkce_test.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  libs/ferriskey-domain/src/client/entities.rs
Due: rust-fmt, rust-clippy

feat: implement PKCE on the authorization code flow (RFC 7636) (#1102)
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/token.rs
  api/src/application/http/authentication/validators.rs
  api/src/application/http/client/handlers/update_client.rs
  api/src/application/http/client/validators.rs
  api/src/application/http/error.rs
  api/tests/pkce_test.rs
  core/migrations/20260618000001_add_pkce_to_auth_sessions.down.sql
  core/migrations/20260618000001_add_pkce_to_auth_sessions.up.sql
  core/migrations/20260618000002_add_require_pkce_to_clients.down.sql
  core/migrations/20260618000002_add_require_pkce_to_clients.up.sql
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/common/services.rs
  core/src/domain/maintenance/services.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/clients.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: add human-readable display_name to realms
  api/src/application/http/realm/handlers/create_realm.rs
  api/src/application/http/realm/handlers/update_realm.rs
  api/src/application/http/realm/validators.rs
  core/migrations/20260705120000_add_display_name_to_realms.down.sql
  core/migrations/20260705120000_add_display_name_to_realms.up.sql
  core/src/application/mod.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/common/services.rs
  core/src/domain/email_template/services.rs
  core/src/domain/email_verification/services.rs
  core/src/domain/organization/services.rs
  core/src/domain/portal_layouts/services.rs
  core/src/domain/portal_theme/services.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/entity/realms.rs
  core/src/infrastructure/realm/mappers/realm_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  front/src/api/api.client.ts
  front/src/api/realm.api.ts
  front/src/components/realm-switcher.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/realm/feature/page-realm-settings-general-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-general.tsx
  front/src/pages/realm/validators.ts
  libs/ferriskey-domain/src/realm/mod.rs
Due: rust-fmt, rust-clippy, esint

fix: register CodeChallengeMethod schema in OpenAPI
  api/src/application/http/authentication/router.rs
Due: rust-fmt, rust-clippy

feat: add human-readable display_name to realms (#1136)
  api/src/application/http/authentication/router.rs
  api/src/application/http/realm/handlers/create_realm.rs
  api/src/application/http/realm/handlers/update_realm.rs
  api/src/application/http/realm/validators.rs
  core/migrations/20260705120000_add_display_name_to_realms.down.sql
  core/migrations/20260705120000_add_display_name_to_realms.up.sql
  core/src/application/mod.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/common/services.rs
  core/src/domain/email_template/services.rs
  core/src/domain/email_verification/services.rs
  core/src/domain/organization/services.rs
  core/src/domain/portal_layouts/services.rs
  core/src/domain/portal_theme/services.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/entity/realms.rs
  core/src/infrastructure/realm/mappers/realm_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  front/src/api/api.client.ts
  front/src/api/realm.api.ts
  front/src/components/realm-switcher.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/realm/feature/page-realm-settings-general-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-general.tsx
  front/src/pages/realm/validators.ts
  libs/ferriskey-domain/src/realm/mod.rs
Due: rust-fmt, rust-clippy, esint

feat: implement refresh token rotation with reuse detection
  api/tests/refresh_token_rotation_test.rs
  core/migrations/20260618120000_refresh_token_rotation.down.sql
  core/migrations/20260618120000_refresh_token_rotation.up.sql
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/entity/refresh_tokens.rs
  core/src/infrastructure/repositories/refresh_token_repository.rs
  libs/ferriskey-security/Cargo.toml
  libs/ferriskey-security/src/jwt/entities.rs
  libs/ferriskey-security/src/jwt/ports.rs
Due: rust-fmt, rust-clippy

feat: implement refresh token rotation with reuse detection (#1103)
  api/tests/refresh_token_rotation_test.rs
  core/migrations/20260618120000_refresh_token_rotation.down.sql
  core/migrations/20260618120000_refresh_token_rotation.up.sql
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/entity/refresh_tokens.rs
  core/src/infrastructure/repositories/refresh_token_repository.rs
  libs/ferriskey-security/Cargo.toml
  libs/ferriskey-security/src/jwt/entities.rs
  libs/ferriskey-security/src/jwt/ports.rs
Due: rust-fmt, rust-clippy

feat: implement active session management API
  api/src/application/http/user/handlers.rs
  api/src/application/http/user/handlers/list_user_sessions.rs
  api/src/application/http/user/handlers/revoke_user_session.rs
  api/src/application/http/user/router.rs
  api/tests/session_management_test.rs
  core/migrations/20260618000000_add_last_seen_at_to_user_sessions.down.sql
  core/migrations/20260618000000_add_last_seen_at_to_user_sessions.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/session/entities.rs
  core/src/domain/session/ports.rs
  core/src/domain/session/services.rs
  core/src/entity/user_sessions.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/user_session_repository.rs
Due: rust-fmt, rust-clippy

feat: implement active session management API (#1104)
  api/src/application/http/user/handlers.rs
  api/src/application/http/user/handlers/list_user_sessions.rs
  api/src/application/http/user/handlers/revoke_user_session.rs
  api/src/application/http/user/router.rs
  api/tests/session_management_test.rs
  core/migrations/20260618000000_add_last_seen_at_to_user_sessions.down.sql
  core/migrations/20260618000000_add_last_seen_at_to_user_sessions.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/session/entities.rs
  core/src/domain/session/ports.rs
  core/src/domain/session/services.rs
  core/src/entity/user_sessions.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/user_session_repository.rs
Due: rust-fmt, rust-clippy

feat: add configurable password policy engine
  api/src/application/http/error.rs
  api/src/application/http/realm/handlers/update_password_policy.rs
  api/src/application/http/realm/validators.rs
  api/tests/password_policy_test.rs
  core/migrations/20260705130000_add_password_policy_entropy_fields.down.sql
  core/migrations/20260705130000_add_password_policy_entropy_fields.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/password_policy/entity.rs
  core/src/domain/password_policy/error.rs
  core/src/domain/password_policy/mod.rs
  core/src/domain/password_policy/repository.rs
  core/src/domain/password_policy/service.rs
  core/src/domain/password_policy/validator.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  core/src/entity/password_policy.rs
  core/src/infrastructure/repositories/password_policy_repository.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: add configurable password policy engine (#1105)
  api/src/application/http/error.rs
  api/src/application/http/realm/handlers/update_password_policy.rs
  api/src/application/http/realm/validators.rs
  api/tests/password_policy_test.rs
  core/migrations/20260705130000_add_password_policy_entropy_fields.down.sql
  core/migrations/20260705130000_add_password_policy_entropy_fields.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/password_policy/entity.rs
  core/src/domain/password_policy/error.rs
  core/src/domain/password_policy/mod.rs
  core/src/domain/password_policy/repository.rs
  core/src/domain/password_policy/service.rs
  core/src/domain/password_policy/validator.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  core/src/entity/password_policy.rs
  core/src/infrastructure/repositories/password_policy_repository.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: add configurable password policy engine (#1105)
  .gitignore
  api/src/application/http/error.rs
  api/src/application/http/realm/handlers/update_password_policy.rs
  api/src/application/http/realm/validators.rs
  api/tests/password_policy_test.rs
  core/migrations/20260705130000_add_password_policy_entropy_fields.down.sql
  core/migrations/20260705130000_add_password_policy_entropy_fields.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/password_policy/entity.rs
  core/src/domain/password_policy/error.rs
  core/src/domain/password_policy/mod.rs
  core/src/domain/password_policy/repository.rs
  core/src/domain/password_policy/service.rs
  core/src/domain/password_policy/validator.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  core/src/entity/password_policy.rs
  core/src/infrastructure/repositories/password_policy_repository.rs
  front/eslint.config.js
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy, esint

docs: add device authorization grant curl flow
  README.md
Due: none

docs: add device authorization grant guide
  README.md
  docs/device-authorization-grant.md
Due: none

docs(auth): add token exchange usage in README
  README.md
Due: none

docs: fix device flow endpoint wording
  docs/device-authorization-grant.md
Due: none

docs: complete device flow steps
  README.md
Due: none

docs: fix device flow list formatting
  README.md
Due: none

feat(token-exchange): add GrantType::TokenExchange and domain value objects
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/token_exchange/entities.rs
  core/src/domain/authentication/token_exchange/mod.rs
  core/src/domain/authentication/token_exchange/value_objects.rs
Due: rust-fmt, rust-clippy

test(token-exchange): cover present scope; drop redundant import; clarify comment
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/token_exchange/value_objects.rs
Due: rust-fmt, rust-clippy

feat(token-exchange): derive Debug/Clone/serde/ToSchema on TokenExchangeInput
  core/src/domain/authentication/token_exchange/value_objects.rs
Due: rust-fmt, rust-clippy

fix: surface password policy violations on password reset
  api/src/application/http/user/handlers/reset_password.rs
  core/src/domain/password_policy/entity.rs
  core/src/domain/password_policy/service.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/repositories/credential_repository.rs
  front/src/api/api.client.ts
  front/src/pages/realm/feature/page-realm-settings-password-policy-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-password-policy.tsx
  front/src/pages/realm/validators.ts
  front/src/pages/user/feature/modals/set-password-feature.tsx
  front/src/pages/user/schemas/index.ts
Due: rust-fmt, rust-clippy, esint

feat(token-exchange): add GrantType::TokenExchange and domain value objects (#1133)
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/token_exchange/entities.rs
  core/src/domain/authentication/token_exchange/mod.rs
  core/src/domain/authentication/token_exchange/value_objects.rs
Due: rust-fmt, rust-clippy

fix: surface password policy violations on password reset (#1139)
  api/src/application/http/user/handlers/reset_password.rs
  core/src/domain/password_policy/entity.rs
  core/src/domain/password_policy/service.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/repositories/credential_repository.rs
  front/src/api/api.client.ts
  front/src/pages/realm/feature/page-realm-settings-password-policy-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-password-policy.tsx
  front/src/pages/realm/validators.ts
  front/src/pages/user/feature/modals/set-password-feature.tsx
  front/src/pages/user/schemas/index.ts
Due: rust-fmt, rust-clippy, esint

feat: add client scopes "Evaluate" tab to preview mappers, roles & tokens
  api/src/application/http/client/handlers.rs
  api/src/application/http/client/handlers/evaluate_scopes.rs
  api/src/application/http/client/router.rs
  api/src/application/http/client/validators.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  front/src/api/api.client.ts
  front/src/api/client.api.ts
  front/src/pages/client/ui/components/client-scopes-evaluate.tsx
  front/src/pages/client/ui/page-client-scopes.tsx
Due: rust-fmt, rust-clippy, esint

feat: add client scopes "Evaluate" tab to preview mappers, roles & tokens (#1140)
  api/src/application/http/client/handlers.rs
  api/src/application/http/client/handlers/evaluate_scopes.rs
  api/src/application/http/client/router.rs
  api/src/application/http/client/validators.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  front/src/api/api.client.ts
  front/src/api/client.api.ts
  front/src/pages/client/ui/components/client-scopes-evaluate.tsx
  front/src/pages/client/ui/page-client-scopes.tsx
Due: rust-fmt, rust-clippy, esint

feat(organization): add organization groups with configurable group-membership token mapper
  core/src/domain/authentication/mapper_engine.rs
  core/src/domain/authentication/mappers/group_membership_mapper.rs
  core/src/domain/authentication/services.rs
  core/src/infrastructure/organization/group_token_repository.rs
  front/src/pages/client-scope/constants/protocol-mapper-templates.ts
  libs/ferriskey-organization/src/ports.rs
Due: rust-fmt, rust-clippy, esint

feat(organization): add configurable group-membership token mapper (membership mode + org prefix)
  core/src/domain/authentication/mapper_engine.rs
  core/src/domain/authentication/mappers/group_membership_mapper.rs
  core/src/domain/authentication/services.rs
  front/src/pages/client-scope/constants/protocol-mapper-templates.ts
Due: rust-fmt, rust-clippy, esint

fix: repair session management integration test harness
  .github/workflows/integration-tests.yaml
  api/tests/account_lockout_test.rs
  api/tests/session_management_test.rs
  core/migrations/20260709000000_add_account_lockout_to_users.down.sql
  core/migrations/20260709000000_add_account_lockout_to_users.up.sql
  core/migrations/20260709000001_add_lockout_config_to_realm_settings.down.sql
  core/migrations/20260709000001_add_lockout_config_to_realm_settings.up.sql
Due: rust-fmt, rust-clippy

feat: add account lockout and anti-brute-force on failed logins
  api/src/application/http/error.rs
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  api/src/application/http/test.rs
  api/src/application/http/user/handlers.rs
  api/src/application/http/user/handlers/unlock_user.rs
  api/src/application/http/user/router.rs
  api/tests/account_lockout_test.rs
  core/migrations/20260618000001_add_account_lockout_to_users.down.sql
  core/migrations/20260618000001_add_account_lockout_to_users.up.sql
  core/migrations/20260618000002_add_lockout_config_to_realm_settings.down.sql
  core/migrations/20260618000002_add_lockout_config_to_realm_settings.up.sql
  core/src/application/user/mod.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/abyss/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/common/services.rs
  core/src/domain/email_template/services.rs
  core/src/domain/organization/services.rs
  core/src/domain/portal_layouts/services.rs
  core/src/domain/portal_theme/services.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/user/ports.rs
  core/src/domain/user/services.rs
  core/src/entity/realm_settings.rs
  core/src/entity/users.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/user/mappers.rs
  core/src/infrastructure/user/repository.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/user/entities.rs
Due: rust-fmt, rust-clippy

feat: add account lockout and anti-brute-force on failed logins (#1106)
  .github/workflows/integration-tests.yaml
  api/src/application/http/error.rs
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  api/src/application/http/test.rs
  api/src/application/http/user/handlers.rs
  api/src/application/http/user/handlers/unlock_user.rs
  api/src/application/http/user/router.rs
  api/tests/account_lockout_test.rs
  api/tests/session_management_test.rs
  core/migrations/20260709000000_add_account_lockout_to_users.down.sql
  core/migrations/20260709000000_add_account_lockout_to_users.up.sql
  core/migrations/20260709000001_add_lockout_config_to_realm_settings.down.sql
  core/migrations/20260709000001_add_lockout_config_to_realm_settings.up.sql
  core/src/application/user/mod.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/abyss/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/common/services.rs
  core/src/domain/email_template/services.rs
  core/src/domain/organization/services.rs
  core/src/domain/portal_layouts/services.rs
  core/src/domain/portal_theme/services.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/user/ports.rs
  core/src/domain/user/services.rs
  core/src/entity/realm_settings.rs
  core/src/entity/users.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/user/mappers.rs
  core/src/infrastructure/user/repository.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/user/entities.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
