Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

feat(auth): Removed premature token exchange logic within broker_callback
  api/src/application/http/broker/handlers/callback.rs
  core/src/domain/common/services.rs
Due: rust-fmt, rust-clippy

fix: align frontend static root with nginx runtime (#858)
  front/docker-entrypoint.sh
  front/nginx.conf
Due: shellcheck

feat(password_policy): add FerriskeyPolicy implementation for viewing and updating
  core/src/domain/password_policy/policies.rs
Due: rust-fmt, rust-clippy

feat(password_policy): add PasswordPolicyPolicy trait for permission checks
  core/src/domain/password_policy/ports.rs
Due: rust-fmt, rust-clippy

refactor(password_policy): reorganize module structure
  core/src/domain/password_policy/mod.rs
Due: rust-fmt, rust-clippy

refactor(password_policy): enhance service with policy and identity support
  core/src/domain/password_policy/service.rs
Due: rust-fmt, rust-clippy

fix(application): correct PasswordPolicyService initialization parameters
  core/src/application/mod.rs
Due: rust-fmt, rust-clippy

refactor(core): move authorization checks into password policy service
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

refactor(password_policy): use realm entity for authorization and improve tests
  core/src/domain/password_policy/service.rs
Due: rust-fmt, rust-clippy

re-generated helm-docs
  charts/ferriskey/README.md
Due: none

added details to variables
  charts/ferriskey/README.md
  charts/ferriskey/values.yaml
Due: none

feat(auth): Removed premature token exchange logic within broker_callback
  core/src/domain/common/services.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

feat(front): Add auto refresh countdown + add toaster for confirmation + auth session in one page
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: esint

fix: remove try and catch on request
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: esint

refactor(core): remove unused FerriskeyPolicy import in services module
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

refactor(password_policy): simplify permission retrieval calls
  core/src/domain/password_policy/policies.rs
Due: rust-fmt, rust-clippy

style(domain): optimize imports in password_policy ports.rs
  core/src/domain/password_policy/ports.rs
Due: rust-fmt, rust-clippy

refactor(password_policy): remove unused uuid import
  core/src/domain/password_policy/service.rs
Due: rust-fmt, rust-clippy

feat: add password policy core (#837)
  api/src/application/http/realm/handlers.rs
  api/src/application/http/realm/handlers/get_password_policy.rs
  api/src/application/http/realm/handlers/update_password_policy.rs
  api/src/application/http/realm/router.rs
  api/src/application/http/realm/validators.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/mod.rs
  core/src/domain/password_policy/entity.rs
  core/src/domain/password_policy/error.rs
  core/src/domain/password_policy/mod.rs
  core/src/domain/password_policy/policies.rs
  core/src/domain/password_policy/ports.rs
  core/src/domain/password_policy/repository.rs
  core/src/domain/password_policy/service.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/password_policy_repository.rs
Due: rust-fmt, rust-clippy

feat(password-policy): regenerate OpenAPI spec and TanStack Query API client
  front/openapi.yaml
  front/src/api/api.client.ts
Due: esint

feat(password-policy): implement UI and improve backend support
  api/src/application/http/realm/validators.rs
  core/src/domain/password_policy/entity.rs
  core/src/domain/password_policy/service.rs
  front/src/api/api.client.ts
  front/src/api/realm.api.ts
  front/src/pages/realm/feature/page-realm-settings-password-policy-feature.tsx
  front/src/pages/realm/page-realm.tsx
  front/src/pages/realm/ui/page-realm-settings-password-policy.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
  front/src/pages/realm/validators.ts
Due: rust-fmt, rust-clippy, esint

fix(password-policy): resolve ESLint errors in feature component
  front/src/pages/realm/feature/page-realm-settings-password-policy-feature.tsx
Due: esint

feat: implement webhook update
  api/src/application/http/webhook/handlers/get_webhook.rs
  api/src/application/http/webhook/handlers/update_webhook.rs
  api/src/application/http/webhook/validators.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  front/src/api/api.client.ts
  front/src/api/index.ts
  front/src/api/webhook.api.ts
  front/src/pages/realm/feature/page-realm-settings-create-webhook-feature.tsx
  front/src/pages/realm/feature/page-realm-settings-edit-webhook-feature.tsx
  front/src/pages/realm/page-realm.tsx
  front/src/pages/realm/ui/page-realm-settings-edit-webhook.tsx
  front/src/pages/realm/ui/page-realm-settings-webhooks.tsx
  front/src/pages/realm/validators.ts
  front/src/routes/router.ts
Due: rust-fmt, rust-clippy, esint

feat: implement webhook update (#865)
  api/src/application/http/webhook/handlers/get_webhook.rs
  api/src/application/http/webhook/handlers/update_webhook.rs
  api/src/application/http/webhook/validators.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  front/src/api/api.client.ts
  front/src/api/index.ts
  front/src/api/webhook.api.ts
  front/src/pages/realm/feature/page-realm-settings-create-webhook-feature.tsx
  front/src/pages/realm/feature/page-realm-settings-edit-webhook-feature.tsx
  front/src/pages/realm/page-realm.tsx
  front/src/pages/realm/ui/page-realm-settings-edit-webhook.tsx
  front/src/pages/realm/ui/page-realm-settings-webhooks.tsx
  front/src/pages/realm/validators.ts
  front/src/routes/router.ts
Due: rust-fmt, rust-clippy, esint

feat: Show session expiration action bar on login page (#854)
  core/src/domain/authentication/services.rs
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: rust-fmt, rust-clippy, esint

feat: use root-scoped base URL in auth handlers (#860)
  api/src/application/http/authentication/handlers/authentificate.rs
  api/src/application/http/authentication/handlers/registration.rs
  api/src/application/http/authentication/handlers/token.rs
Due: rust-fmt, rust-clippy

feat: implement passkey core
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  client/src/models/realm_login_setting.rs
  client/src/models/required_action.rs
  core/Cargo.toml
  core/migrations/20260323143623_add_passkey_enabled.down.sql
  core/migrations/20260323143623_add_passkey_enabled.up.sql
  core/src/application/trident/mod.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/credential/ports.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/entity/realm_settings.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/repositories/credential_repository.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/user/entities.rs
Due: rust-fmt, rust-clippy

feat: implement passkey core (#866)
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  client/src/models/realm_login_setting.rs
  client/src/models/required_action.rs
  core/Cargo.toml
  core/migrations/20260323143623_add_passkey_enabled.down.sql
  core/migrations/20260323143623_add_passkey_enabled.up.sql
  core/src/application/trident/mod.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/credential/ports.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/entity/realm_settings.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/repositories/credential_repository.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/user/entities.rs
Due: rust-fmt, rust-clippy

feat: implement passkey endpoints
  api/src/application/http/trident/handlers.rs
  api/src/application/http/trident/handlers/passkey_authenticate.rs
  api/src/application/http/trident/handlers/passkey_request_options.rs
  api/src/application/http/trident/handlers/webauthn_public_key_authenticate.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create_options.rs
  api/src/application/http/trident/handlers/webauthn_public_key_request_options.rs
  api/src/application/http/trident/router.rs
  api/src/application/http/trident/validators.rs
  front/src/api/passkey.api.ts
  front/src/lib/webauthn.ts
  front/src/pages/authentication/feature/execution/configure-passkey-feature.tsx
  front/src/pages/authentication/ui/execution/configure-passkey.tsx
Due: rust-fmt, rust-clippy, esint

feat: implement passkey endpoints (#867)
  api/src/application/http/trident/handlers.rs
  api/src/application/http/trident/handlers/passkey_authenticate.rs
  api/src/application/http/trident/handlers/passkey_request_options.rs
  api/src/application/http/trident/handlers/webauthn_public_key_authenticate.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create_options.rs
  api/src/application/http/trident/handlers/webauthn_public_key_request_options.rs
  api/src/application/http/trident/router.rs
  api/src/application/http/trident/validators.rs
  front/src/api/passkey.api.ts
  front/src/lib/webauthn.ts
  front/src/pages/authentication/feature/execution/configure-passkey-feature.tsx
  front/src/pages/authentication/ui/execution/configure-passkey.tsx
Due: rust-fmt, rust-clippy, esint

wip
  front/src/App.tsx
  front/src/api/api.client.ts
  front/src/api/core.interface.ts
  front/src/components/ui/input-text.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/feature/page-required-action-feature.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/authentication/ui/page-required-action.tsx
  front/src/pages/realm/feature/page-realm-settings-login-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-login.tsx
Due: esint

feat: implement passkey ui (#868)
  front/src/App.tsx
  front/src/api/api.client.ts
  front/src/api/core.interface.ts
  front/src/components/ui/input-text.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/feature/page-required-action-feature.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/authentication/ui/page-required-action.tsx
  front/src/pages/realm/feature/page-realm-settings-login-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-login.tsx
Due: esint

feat: implement magic link ui
  api/src/application/http/trident/handlers/magic_link.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  front/src/api/trident.api.ts
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/feature/page-magic-link-verify-feature.tsx
  front/src/pages/authentication/page-authentication.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/authentication/ui/page-magic-link-verify.tsx
  front/src/pages/realm/feature/page-realm-settings-login-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-login.tsx
Due: rust-fmt, rust-clippy, esint

wip
  front/src/api/trident.api.ts
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/feature/page-magic-link-verify-feature.tsx
Due: esint

fix: adjust dark-mode styling for passkey page
  front/src/pages/authentication/ui/execution/configure-passkey.tsx
Due: esint

fix: adjust dark-mode styling for passkey page (#870)
  front/src/pages/authentication/ui/execution/configure-passkey.tsx
Due: esint

feat: support login-action auth and trident routes
  api/src/application/auth.rs
  api/src/application/http/trident/router.rs
  core/src/application/auth/mod.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/feature/page-required-action-feature.tsx
Due: rust-fmt, rust-clippy, esint

feat(trident): add autofill and improve the auth flow for passkey (#871)
  api/src/application/auth.rs
  api/src/application/http/trident/router.rs
  core/src/application/auth/mod.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/feature/page-required-action-feature.tsx
Due: rust-fmt, rust-clippy, esint

feat(password-policy): regenerate OpenAPI spec and TanStack Query API client
  front/openapi.yaml
Due: none
