Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

refactor(core): add PasswordPolicyService import in application module
  core/src/application/mod.rs
Due: rust-fmt, rust-clippy

refactor(core): update realm module imports in services.rs
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

refactor(password_policy): simplify datetime conversions and imports
  core/src/infrastructure/repositories/password_policy_repository.rs
Due: rust-fmt, rust-clippy

refactor(core): remove unused policy imports in services.rs
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

feat(realm): add endpoint to get password policy by realm name
  api/src/application/http/realm/handlers/get_password_policy.rs
Due: rust-fmt, rust-clippy

feat(realm): add password policy handlers
  api/src/application/http/realm/handlers.rs
Due: rust-fmt, rust-clippy

refactor(application): improve password policy retrieval and update with realm name
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

style(password_policy): improve formatting and simplify error message
  core/src/domain/password_policy/error.rs
Due: rust-fmt, rust-clippy

feat(application): add password policy service initialization
  core/src/application/mod.rs
Due: rust-fmt, rust-clippy

feat(core): add password policy repository import
  core/src/application/mod.rs
Due: rust-fmt, rust-clippy

style(repository): add allow(dead_code) attribute to password policy repository
  core/src/infrastructure/repositories/password_policy_repository.rs
Due: rust-fmt, rust-clippy

refactor(core): reorganize imports in application services module
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

test(password_policy): update password validation test cases
  core/src/domain/password_policy/service.rs
Due: rust-fmt, rust-clippy

feat(application): add get and update password policy methods
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

fix(realm): convert realm id to correct type in password policy handler
  api/src/application/http/realm/handlers/get_password_policy.rs
Due: rust-fmt, rust-clippy

feat(realm): add validator for updating password policy
  api/src/application/http/realm/validators.rs
Due: rust-fmt, rust-clippy

fix(http): convert realm id type when updating password policy
  api/src/application/http/realm/handlers/update_password_policy.rs
Due: rust-fmt, rust-clippy

feat(realm): add endpoint to update password policy
  api/src/application/http/realm/handlers/update_password_policy.rs
Due: rust-fmt, rust-clippy

fix(realm): simplify password policy retrieval logic
  api/src/application/http/realm/handlers/get_password_policy.rs
Due: rust-fmt, rust-clippy

feat(application): add PasswordPolicyRepo type alias for Postgres implementation
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

feat(realm): add password policy routes and handlers
  api/src/application/http/realm/router.rs
Due: rust-fmt, rust-clippy

feat(core): add PasswordPolicyService to ApplicationService
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

fix(realm): correct password policy update to use realm name
  api/src/application/http/realm/handlers/update_password_policy.rs
Due: rust-fmt, rust-clippy

Add README for ferriskey-abyss library
  libs/ferriskey-abyss/README.md
Due: none

Add README for ferriskey-aegis
  libs/ferriskey-aegis/README.md
Due: none

Add README for ferriskey-compass
  libs/ferriskey-compass/README.md
Due: none

Add ferriskey-domain README
  libs/ferriskey-domain/README.md
Due: none

Add FerrisKey mail README
  libs/ferriskey-mail/README.md
Due: none

Add README for ferriskey-migrate
  libs/ferriskey-migrate/README.md
Due: none

Add ferriskey-security README
  libs/ferriskey-security/README.md
Due: none

Add ferriskey-trident README for MFA
  libs/ferriskey-trident/README.md
Due: none

fix(api): normalize hosted login redirect URL (#853)
  api/src/application/http/authentication/handlers/auth.rs
Due: rust-fmt, rust-clippy

feat: add ferriskey-organization crate
  Cargo.lock
  Cargo.toml
  Dockerfile
  libs/ferriskey-organization/Cargo.toml
  libs/ferriskey-organization/src/entities.rs
  libs/ferriskey-organization/src/lib.rs
  libs/ferriskey-organization/src/ports.rs
Due: rust-fmt, rust-clippy, hadolint

feat: add unit tests for organization entities
  libs/ferriskey-organization/Cargo.toml
  libs/ferriskey-organization/src/entities.rs
Due: rust-fmt, rust-clippy

Add show action bar refresh session on error invalid session error
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: esint

fix: align frontend static root with nginx runtime
  front/docker-entrypoint.sh
  front/nginx.conf
Due: shellcheck

feat: use root-scoped base URL in auth handlers
  api/src/application/http/authentication/handlers/authentificate.rs
  api/src/application/http/authentication/handlers/registration.rs
  api/src/application/http/authentication/handlers/token.rs
Due: rust-fmt, rust-clippy

Refine auth session error handling + Add checks for expired or already-bound sessions
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

Increase session bar timeout and refine regex
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: esint

feat(auth): enhance PKCE support by adding code_verifier to callback and session handling
  api/src/application/http/broker/handlers/callback.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/common/services.rs
  core/src/infrastructure/auth_session/mod.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
  libs/ferriskey-abyss/src/identity_provider/broker/value_objects.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
