Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

chore: remove unused imports
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy

feat: regenerate SeaORM entities
  core/src/entity/access_tokens.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/broker_auth_sessions.rs
  core/src/entity/client_scope_attributes.rs
  core/src/entity/client_scope_mappings.rs
  core/src/entity/client_scope_protocol_mappers.rs
  core/src/entity/client_scopes.rs
  core/src/entity/clients.rs
  core/src/entity/credentials.rs
  core/src/entity/identity_provider_links.rs
  core/src/entity/identity_providers.rs
  core/src/entity/jwt_keys.rs
  core/src/entity/magic_links.rs
  core/src/entity/post_logout_redirect_uris.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
  core/src/entity/redirect_uris.rs
  core/src/entity/refresh_tokens.rs
  core/src/entity/roles.rs
  core/src/entity/security_events.rs
  core/src/entity/user_federation_mappings.rs
  core/src/entity/user_federation_providers.rs
  core/src/entity/user_required_actions.rs
  core/src/entity/user_role.rs
  core/src/entity/user_sessions.rs
  core/src/entity/users.rs
  core/src/entity/webhook_subscribers.rs
  core/src/entity/webhooks.rs
Due: rust-fmt, rust-clippy

refactor: replace scope booleans with ScopeType enum
  core/src/infrastructure/aegis/mappers.rs
  core/src/infrastructure/aegis/repositories/client_scope_postgres_repository.rs
  core/src/infrastructure/aegis/repositories/scope_mapping_postgres_repository.rs
  libs/ferriskey-aegis/src/entities.rs
Due: rust-fmt, rust-clippy

feat: add migration to update client scopes
  core/migrations/20260225130422_update_client_scopes.down.sql
  core/migrations/20260225130422_update_client_scopes.up.sql
Due: none

fix: migrate client scope default/optional flags
  core/migrations/20260225130422_update_client_scopes.down.sql
  core/migrations/20260225130422_update_client_scopes.up.sql
Due: none

refactor: warn on unknown ScopeType and add tracing
  Cargo.lock
  libs/ferriskey-aegis/Cargo.toml
  libs/ferriskey-aegis/src/entities.rs
Due: rust-fmt, rust-clippy

fix: set default_scope_type based on is_default
  core/migrations/20260225130422_update_client_scopes.up.sql
Due: none

Omitting attributes x5c and x5t for the time being (#769)
  front/openapi.yaml
  front/src/api/api.client.ts
  front/src/api/core.interface.ts
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy, esint

refactor: add ScopeType enum to ClientScope domain and migrations (#766)
  Cargo.lock
  core/migrations/20260225130422_update_client_scopes.down.sql
  core/migrations/20260225130422_update_client_scopes.up.sql
  core/src/entity/access_tokens.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/broker_auth_sessions.rs
  core/src/entity/client_scope_attributes.rs
  core/src/entity/client_scope_mappings.rs
  core/src/entity/client_scope_protocol_mappers.rs
  core/src/entity/client_scopes.rs
  core/src/entity/clients.rs
  core/src/entity/credentials.rs
  core/src/entity/identity_provider_links.rs
  core/src/entity/identity_providers.rs
  core/src/entity/jwt_keys.rs
  core/src/entity/magic_links.rs
  core/src/entity/post_logout_redirect_uris.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
  core/src/entity/redirect_uris.rs
  core/src/entity/refresh_tokens.rs
  core/src/entity/roles.rs
  core/src/entity/security_events.rs
  core/src/entity/user_federation_mappings.rs
  core/src/entity/user_federation_providers.rs
  core/src/entity/user_required_actions.rs
  core/src/entity/user_role.rs
  core/src/entity/user_sessions.rs
  core/src/entity/users.rs
  core/src/entity/webhook_subscribers.rs
  core/src/entity/webhooks.rs
  core/src/infrastructure/aegis/mappers.rs
  core/src/infrastructure/aegis/repositories/client_scope_postgres_repository.rs
  core/src/infrastructure/aegis/repositories/scope_mapping_postgres_repository.rs
  libs/ferriskey-aegis/Cargo.toml
  libs/ferriskey-aegis/src/entities.rs
Due: rust-fmt, rust-clippy

wip
  MAINTAINERS.md
Due: none

fix: update name maintainers (#772)
  MAINTAINERS.md
Due: none

feat: add tracing and refactor JWT and Argon2
  api/src/application/http/authentication/handlers/token.rs
  core/src/domain/authentication/services.rs
  core/src/infrastructure/repositories/argon2_hasher.rs
Due: rust-fmt, rust-clippy

feat: add ferriskey-mail crate with SMTP adapter
  Cargo.lock
  Cargo.toml
  libs/ferriskey-mail/Cargo.toml
  libs/ferriskey-mail/src/adapters/mod.rs
  libs/ferriskey-mail/src/adapters/smtp.rs
  libs/ferriskey-mail/src/entities.rs
  libs/ferriskey-mail/src/error.rs
  libs/ferriskey-mail/src/lib.rs
  libs/ferriskey-mail/src/ports.rs
Due: rust-fmt, rust-clippy

fix: include ferriskey-mail crate in Dockerfile
  Dockerfile
Due: hadolint

feat: add tracing and refactor JWT and Argon2 (#773)
  api/src/application/http/authentication/handlers/token.rs
  core/src/domain/authentication/services.rs
  core/src/infrastructure/repositories/argon2_hasher.rs
Due: rust-fmt, rust-clippy

feat: create mail crate (#774)
  Cargo.lock
  Cargo.toml
  Dockerfile
  libs/ferriskey-mail/Cargo.toml
  libs/ferriskey-mail/src/adapters/mod.rs
  libs/ferriskey-mail/src/adapters/smtp.rs
  libs/ferriskey-mail/src/entities.rs
  libs/ferriskey-mail/src/error.rs
  libs/ferriskey-mail/src/lib.rs
  libs/ferriskey-mail/src/ports.rs
Due: rust-fmt, rust-clippy, hadolint

feat: add domain account hint
  api/src/application/http/error.rs
  core/src/domain/account/entities.rs
  core/src/domain/account/mod.rs
  core/src/domain/account/ports.rs
  core/src/domain/account/services.rs
  core/src/domain/mod.rs
  core/src/domain/session/entities.rs
  core/src/domain/session/ports.rs
  core/src/domain/session/services.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: add domain account hint (#682)
  api/src/application/http/error.rs
  core/src/domain/account/entities.rs
  core/src/domain/account/mod.rs
  core/src/domain/account/ports.rs
  core/src/domain/account/services.rs
  core/src/domain/mod.rs
  core/src/domain/session/entities.rs
  core/src/domain/session/ports.rs
  core/src/domain/session/services.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat(core): wire up scope mapping service in application layer
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

feat(core): seed default scopes for built-in clients
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

feat(core): add integration test for client scope inheritance
  core/src/application/mod.rs
Due: rust-fmt, rust-clippy

feat(core): implement default scope mapping on client creation
  core/src/domain/client/services.rs
Due: rust-fmt, rust-clippy

fix: format code
  core/src/application/mod.rs
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

fix(core): avoid ClientScope is_default field for scope inheritance
  core/src/domain/client/services.rs
Due: rust-fmt, rust-clippy

feat: assign default Realm Client Scope to new Clients (#775)
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/client/services.rs
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

wip
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/mapper_engine.rs
  core/src/domain/authentication/mappers/audience_mapper.rs
  core/src/domain/authentication/mappers/hardcoded_claim_mapper.rs
  core/src/domain/authentication/mappers/mod.rs
  core/src/domain/authentication/mappers/user_attribute_mapper.rs
  core/src/domain/authentication/mappers/user_property_mapper.rs
  core/src/domain/authentication/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/realm/services.rs
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy

fea: migrate box dyn to enum dispatch
  core/src/domain/authentication/mapper_engine.rs
  core/src/domain/authentication/mappers/audience_mapper.rs
  core/src/domain/authentication/mappers/hardcoded_claim_mapper.rs
  core/src/domain/authentication/mappers/user_attribute_mapper.rs
  core/src/domain/authentication/mappers/user_property_mapper.rs
Due: rust-fmt, rust-clippy

feat: add Realm Email settings UI and route
  front/src/pages/realm/email/feature/realm-email-feature.tsx
  front/src/pages/realm/email/ui/email-templates-form.tsx
  front/src/pages/realm/email/ui/realm-email.tsx
  front/src/pages/realm/email/ui/smtp-connection-form.tsx
  front/src/pages/realm/layouts/realm-settings-layout.tsx
  front/src/pages/realm/page-realm.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
Due: esint

feat: implement client scope mapping (#776)
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/mapper_engine.rs
  core/src/domain/authentication/mappers/audience_mapper.rs
  core/src/domain/authentication/mappers/hardcoded_claim_mapper.rs
  core/src/domain/authentication/mappers/mod.rs
  core/src/domain/authentication/mappers/user_attribute_mapper.rs
  core/src/domain/authentication/mappers/user_property_mapper.rs
  core/src/domain/authentication/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/realm/services.rs
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy

feat: add ferriskey-notify crate with SMTP use case
  Cargo.lock
  Cargo.toml
  libs/ferriskey-notify/Cargo.toml
  libs/ferriskey-notify/src/application/mod.rs
  libs/ferriskey-notify/src/application/send_realm_email.rs
  libs/ferriskey-notify/src/domain/mod.rs
  libs/ferriskey-notify/src/domain/smtp_configuration.rs
  libs/ferriskey-notify/src/error/mod.rs
  libs/ferriskey-notify/src/lib.rs
  libs/ferriskey-notify/src/ports/mail.rs
  libs/ferriskey-notify/src/ports/mod.rs
  libs/ferriskey-notify/src/ports/repository.rs
  libs/ferriskey-notify/src/ports/secret.rs
Due: rust-fmt, rust-clippy

fix: refactor ferriskey-notify domain and ports
  libs/ferriskey-notify/src/application/mod.rs
  libs/ferriskey-notify/src/application/send_realm_email.rs
  libs/ferriskey-notify/src/domain/mod.rs
  libs/ferriskey-notify/src/domain/smtp_configuration.rs
  libs/ferriskey-notify/src/error/mod.rs
  libs/ferriskey-notify/src/lib.rs
  libs/ferriskey-notify/src/ports/mail.rs
  libs/ferriskey-notify/src/ports/mod.rs
  libs/ferriskey-notify/src/ports/repository.rs
  libs/ferriskey-notify/src/ports/secret.rs
  libs/ferriskey-notify/src/ports/smtp_configuration_service.rs
Due: rust-fmt, rust-clippy

feat: compute mappers
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/aegis/services/client_scope_service.rs
Due: rust-fmt, rust-clippy

feat: compute mappers (#778)
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/aegis/services/client_scope_service.rs
Due: rust-fmt, rust-clippy

feat: resolve and validate client OAuth scopes
  api/src/application/http/error.rs
  core/src/domain/authentication/services.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

refactor: introduce OidcScope enum
  core/src/domain/authentication/mod.rs
  core/src/domain/authentication/scope.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat: resolve and validate client OAuth scopes (#780)
  api/src/application/http/error.rs
  core/src/domain/authentication/mod.rs
  core/src/domain/authentication/scope.rs
  core/src/domain/authentication/services.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

fix: update utoipa path for client scopes endpoints
  api/src/application/http/aegis/handlers/create_client_scope.rs
  api/src/application/http/aegis/handlers/create_protocol_mapper.rs
  api/src/application/http/aegis/handlers/delete_client_scope.rs
  api/src/application/http/aegis/handlers/delete_protocol_mapper.rs
  api/src/application/http/aegis/handlers/get_client_scope.rs
  api/src/application/http/aegis/handlers/get_client_scopes.rs
  api/src/application/http/aegis/handlers/update_client_scope.rs
  api/src/application/http/aegis/handlers/update_protocol_mapper.rs
  api/src/application/http/server/openapi.rs
Due: rust-fmt, rust-clippy

feat: implement database migrations
  core/migrations/20260305000001_create_compass_flows.down.sql
  core/migrations/20260305000001_create_compass_flows.up.sql
  core/migrations/20260305000002_create_compass_flow_steps.down.sql
  core/migrations/20260305000002_create_compass_flow_steps.up.sql
  core/migrations/20260305000003_add_compass_flow_id_to_auth_sessions.down.sql
  core/migrations/20260305000003_add_compass_flow_id_to_auth_sessions.up.sql
  core/src/entity/access_tokens.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/broker_auth_sessions.rs
  core/src/entity/client_scope_attributes.rs
  core/src/entity/client_scope_mappings.rs
  core/src/entity/client_scope_protocol_mappers.rs
  core/src/entity/client_scopes.rs
  core/src/entity/clients.rs
  core/src/entity/compass_flow_steps.rs
  core/src/entity/compass_flows.rs
  core/src/entity/credentials.rs
  core/src/entity/identity_provider_links.rs
  core/src/entity/identity_providers.rs
  core/src/entity/jwt_keys.rs
  core/src/entity/magic_links.rs
  core/src/entity/mod.rs
  core/src/entity/post_logout_redirect_uris.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
  core/src/entity/redirect_uris.rs
  core/src/entity/refresh_tokens.rs
  core/src/entity/roles.rs
  core/src/entity/security_events.rs
  core/src/entity/user_federation_mappings.rs
  core/src/entity/user_federation_providers.rs
  core/src/entity/user_required_actions.rs
  core/src/entity/user_role.rs
  core/src/entity/user_sessions.rs
  core/src/entity/users.rs
  core/src/entity/webhook_subscribers.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

fix: update utoipa path for client scopes endpoints (#781)
  api/src/application/http/aegis/handlers/create_client_scope.rs
  api/src/application/http/aegis/handlers/create_protocol_mapper.rs
  api/src/application/http/aegis/handlers/delete_client_scope.rs
  api/src/application/http/aegis/handlers/delete_protocol_mapper.rs
  api/src/application/http/aegis/handlers/get_client_scope.rs
  api/src/application/http/aegis/handlers/get_client_scopes.rs
  api/src/application/http/aegis/handlers/update_client_scope.rs
  api/src/application/http/aegis/handlers/update_protocol_mapper.rs
  api/src/application/http/server/openapi.rs
Due: rust-fmt, rust-clippy
