Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

fix: Add static save button to the password policy settings page and refactor API handlers to use `get_realm_id_by_name` for realm identification.
  api/src/application/http/realm/handlers/get_password_policy.rs
Due: rust-fmt, rust-clippy

fix: Add static save button to password policy settings page and refactor password policy update API handler to simplify path and remove identity extension.
  api/src/application/http/realm/handlers/update_password_policy.rs
Due: rust-fmt, rust-clippy

feat: Implement and enable saving for realm password policy settings.
  core/src/application/mod.rs
Due: rust-fmt, rust-clippy

feat: Implement password policy management and update API schema definitions.
  core/src/application/realm/mod.rs
Due: rust-fmt, rust-clippy

fix: Add static save button to the password policy settings page, refactor password policy repository queries, and introduce realm lookup by name.
  core/src/domain/password_policy/entities.rs
Due: rust-fmt, rust-clippy

fix: Add a static save button to the password policy settings page for consistent user experience.
  core/src/domain/password_policy/ports.rs
Due: rust-fmt, rust-clippy

feat: Implement password policy management and update API schemas.
  core/src/domain/realm/ports.rs
Due: rust-fmt, rust-clippy

fix: Add static Save button to the Password Policy settings page for consistent UI and update API types.
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

fix: Implement a static save button on the password policy settings page and update API schemas.
  core/src/infrastructure/repositories/password_policy_repository.rs
Due: rust-fmt, rust-clippy

fix: Add static save button to the password policy settings page and update its form schema for consistency.
  front/src/api/api.client.ts
Due: esint

fix: Add missing static Save button to the password policy settings page and adjust related form logic.
  front/src/pages/realm/feature/page-realm-settings-password-policy-feature.tsx
Due: esint

fix: Add static Save button to the password policy settings page for consistent UI.
  front/src/api/realm.api.ts
Due: esint

feat: add explicit save button to the password policy settings form
  front/src/pages/realm/ui/page-realm-settings-password-policy.tsx
Due: esint

feat: Introduce password policy entity and migrate its repository to SeaORM for improved data handling.
  api/src/application/http/realm/router.rs
  core/src/application/mod.rs
  core/src/entity/mod.rs
  core/src/entity/password_policy.rs
  core/src/entity/prelude.rs
  core/src/entity/realms.rs
  core/src/entity/refresh_tokens.rs
  core/src/entity/users.rs
  core/src/infrastructure/repositories/password_policy_repository.rs
Due: rust-fmt, rust-clippy

fix: bad payload response for user update (#827)
  api/src/application/http/error.rs
  core/src/domain/user/services.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-domain/src/user/entities.rs
Due: rust-fmt, rust-clippy

feat: add data migration framework and seed client scopes (#828)
  Cargo.lock
  Cargo.toml
  Dockerfile
  api/src/main.rs
  core/Cargo.toml
  core/migrations/20260311000000_create_data_migrations.down.sql
  core/migrations/20260311000000_create_data_migrations.up.sql
  core/src/application/migrate/context.rs
  core/src/application/migrate/m0001_seed_default_client_scopes.rs
  core/src/application/migrate/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/entity/data_migrations.rs
  core/src/entity/mod.rs
  core/src/infrastructure/migrate/mod.rs
  core/src/infrastructure/migrate/repository.rs
  core/src/infrastructure/mod.rs
  front/pnpm-lock.yaml
  libs/ferriskey-migrate/Cargo.toml
  libs/ferriskey-migrate/src/entities.rs
  libs/ferriskey-migrate/src/error.rs
  libs/ferriskey-migrate/src/lib.rs
  libs/ferriskey-migrate/src/ports.rs
  libs/ferriskey-migrate/src/runner.rs
Due: rust-fmt, rust-clippy, hadolint

feat(db): add password policy migration and seaorm entities
  core/src/entity/mod.rs
  core/src/entity/password_policy.rs
  core/src/entity/prelude.rs
Due: rust-fmt, rust-clippy

feat(core): implement password policy domain and repository
  core/src/application/mod.rs
  core/src/domain/password_policy/entities.rs
  core/src/domain/password_policy/ports.rs
  core/src/domain/password_policy/services.rs
  core/src/domain/realm/services.rs
  core/src/infrastructure/repositories/password_policy_repository.rs
Due: rust-fmt, rust-clippy

feat(api): add password policy routes and fix security routing
  api/src/application/http/realm/handlers/get_password_policy.rs
  api/src/application/http/realm/handlers/update_password_policy.rs
  api/src/application/http/realm/router.rs
Due: rust-fmt, rust-clippy

feat(front): implement password policy management UI
  front/src/api/api.client.ts
  front/src/api/realm.api.ts
  front/src/pages/realm/feature/page-realm-settings-password-policy-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-password-policy.tsx
Due: esint

fix(api): correct utoipa path prefix and fix ferriskey_core imports in password policy handlers
  api/src/application/http/realm/handlers/get_password_policy.rs
  api/src/application/http/realm/handlers/update_password_policy.rs
Due: rust-fmt, rust-clippy

fix(core): revert search_path connection string, expose full password_policy domain contract, fix service error handling
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/password_policy/mod.rs
  core/src/domain/password_policy/services.rs
  core/src/infrastructure/db/postgres.rs
  core/src/infrastructure/repositories/password_policy_repository.rs
  libs/ferriskey-domain/src/realm/mod.rs
Due: rust-fmt, rust-clippy

fix(front): regenerate api client with correct paths, fix Save button visibility
  front/src/api/api.client.ts
  front/src/pages/realm/feature/page-realm-settings-password-policy-feature.tsx
Due: esint

feat: Introduce OpenSpec change management workflow with new skills and prompts, and add password policy database migrations.
  core/migrations/20260312001300_add_password_policy.down.sql
Due: none

feat: Introduce OpenSpec workflow with new skills, prompts, configuration, a password policy migration, and frontend package updates.
  core/migrations/20260312001300_add_password_policy.up.sql
Due: none

fezt: improve reset password with auto login
  api/src/application/http/trident/handlers/reset_password.rs
  api/src/application/http/trident/router.rs
  core/src/application/auth/mod.rs
  core/src/application/trident/mod.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  front/src/api/api.client.ts
  front/src/api/password-reset.api.ts
  front/src/pages/authentication/feature/page-reset-password-feature.tsx
  front/src/pages/authentication/ui/page-reset-password.tsx
  front/src/pages/realm/feature/page-realm-settings-email-feature.tsx
Due: rust-fmt, rust-clippy, esint

feat(password_policy): add password policy entity and update struct
  core/src/domain/password_policy/entity.rs
Due: rust-fmt, rust-clippy

feat(password): add PasswordPolicyError enum for validation errors
  core/src/domain/password_policy/error.rs
Due: rust-fmt, rust-clippy

feat(password_policy): add PasswordPolicyRepository trait for data operations
  core/src/domain/password_policy/repository.rs
Due: rust-fmt, rust-clippy

feat(password_policy): add password policy service with validation logic
  core/src/domain/password_policy/service.rs
Due: rust-fmt, rust-clippy

feat(password_policy): add module structure for password policy domain
  core/src/domain/password_policy/mod.rs
Due: rust-fmt, rust-clippy

feat(core): add password_policy module to domain
  core/src/domain/mod.rs
Due: rust-fmt, rust-clippy

feat(password_policy): add Postgres repository implementation
  core/src/infrastructure/repositories/password_policy_repository.rs
Due: rust-fmt, rust-clippy

feat(core): add password_policy_repository module
  core/src/infrastructure/repositories.rs
Due: rust-fmt, rust-clippy

refactor(password_policy): migrate repository to use SeaORM for database operations
  core/src/infrastructure/repositories/password_policy_repository.rs
Due: rust-fmt, rust-clippy

feat(core): add password_policy module
  core/src/entity/mod.rs
Due: rust-fmt, rust-clippy

feat(core): add SeaORM entity for password_policy
  core/src/entity/password_policy.rs
Due: rust-fmt, rust-clippy

style(password_policy): improve formatting and simplify error message
  core/src/domain/password_policy/error.rs
Due: rust-fmt, rust-clippy

refactor(password_policy): simplify datetime conversions and imports
  core/src/infrastructure/repositories/password_policy_repository.rs
Due: rust-fmt, rust-clippy

test(password_policy): update password validation test cases
  core/src/domain/password_policy/service.rs
Due: rust-fmt, rust-clippy
