Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

fix(password-policy): resolve ESLint errors in feature component
  front/src/pages/realm/feature/page-realm-settings-password-policy-feature.tsx
Due: esint

fix(api): normalize hosted login redirect URL (#853)
  api/src/application/http/authentication/handlers/auth.rs
Due: rust-fmt, rust-clippy

feat: use root-scoped base URL in auth handlers (#860)
  api/src/application/http/authentication/handlers/authentificate.rs
  api/src/application/http/authentication/handlers/registration.rs
  api/src/application/http/authentication/handlers/token.rs
Due: rust-fmt, rust-clippy

feat: bump version to 0.4.3
  Cargo.lock
  Cargo.toml
  charts/ferriskey/Chart.yaml
Due: rust-clippy

fix: release version `0.4.3` (#872)
  Cargo.lock
  Cargo.toml
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/authentificate.rs
  api/src/application/http/authentication/handlers/registration.rs
  api/src/application/http/authentication/handlers/token.rs
  charts/ferriskey/Chart.yaml
Due: rust-fmt, rust-clippy

feat: implement magic link ui (#869)
  api/src/application/http/trident/handlers/magic_link.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  front/src/api/trident.api.ts
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/feature/page-magic-link-verify-feature.tsx
  front/src/pages/authentication/page-authentication.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/authentication/ui/page-magic-link-verify.tsx
  front/src/pages/realm/feature/page-realm-settings-login-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-login.tsx
Due: rust-fmt, rust-clippy, esint

fix(auth): updated auth code parsing
  core/migrations/20260312000000_add_pkce_fields.down.sql
  core/migrations/20260312000000_add_pkce_fields.up.sql
  core/src/domain/authentication/services.rs
  core/src/domain/client/ports.rs
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

feat: create organization crate (#861)
  Cargo.lock
  Cargo.toml
  Dockerfile
  libs/ferriskey-organization/Cargo.toml
  libs/ferriskey-organization/src/entities.rs
  libs/ferriskey-organization/src/lib.rs
  libs/ferriskey-organization/src/ports.rs
Due: rust-fmt, rust-clippy, hadolint

feat(auth): enhance URL validation and error handling.
  Cargo.lock
  core/Cargo.toml
  core/src/domain/authentication/services.rs
  core/src/domain/common/services.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

fix(auth): scope code consumption to realm and fix error handling
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

Refactor magic link login flow and schema
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/schemas/magic-link.schema.ts
  front/src/pages/authentication/ui/page-login.tsx
  libs/ferriskey-mail/src/adapters/smtp.rs
Due: rust-fmt, rust-clippy, esint

Support HTML email bodies in SMTP adapter
  libs/ferriskey-mail/src/adapters/smtp.rs
Due: rust-fmt, rust-clippy

Add html_body to EmailPort::send
  core/src/domain/common/email.rs
  core/src/infrastructure/email.rs
Due: rust-fmt, rust-clippy

Include HTML body when building email message
  core/src/infrastructure/email.rs
Due: rust-fmt, rust-clippy

Send HTML magic link emails
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

Remove email placeholder and autofocus
  front/src/pages/authentication/ui/page-login.tsx
Due: esint

Reformat map_err closures in SMTP adapter
  libs/ferriskey-mail/src/adapters/smtp.rs
Due: rust-fmt, rust-clippy

feat(front): improve magic link UX (#876)
  core/src/domain/common/email.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/email.rs
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/schemas/magic-link.schema.ts
  front/src/pages/authentication/ui/page-login.tsx
  libs/ferriskey-mail/src/adapters/smtp.rs
Due: rust-fmt, rust-clippy, esint

feat: implement email builder domain
  Cargo.lock
  api/src/application/http/error.rs
  core/Cargo.toml
  core/migrations/20260324000000_create_email_templates.down.sql
  core/migrations/20260324000000_create_email_templates.up.sql
  core/src/application/email_template/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/email_template/entities.rs
  core/src/domain/email_template/mod.rs
  core/src/domain/email_template/policies.rs
  core/src/domain/email_template/ports.rs
  core/src/domain/email_template/services.rs
  core/src/domain/mod.rs
  core/src/domain/role/entities/permission.rs
  core/src/entity/email_templates.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/infrastructure/email_template/mappers.rs
  core/src/infrastructure/email_template/mod.rs
  core/src/infrastructure/email_template/renderer/mjml_renderer.rs
  core/src/infrastructure/email_template/renderer/mod.rs
  core/src/infrastructure/email_template/repositories/email_template_repository.rs
  core/src/infrastructure/email_template/repositories/mod.rs
  core/src/infrastructure/mod.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

Prevent reuse of authorization codes
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

Add update helpers for auth sessions
  core/src/domain/authentication/ports.rs
  core/src/infrastructure/auth_session/mod.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

fix(api): useless duplication exchange token on authenticate.
  api/src/application/http/authentication/handlers/authentificate.rs
Due: rust-fmt, rust-clippy

fix(core): only mark session invalid if authenticated
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

fix: warn instead of failing when removing OTP action
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

fix(api): multiple token exchanges with the same authorization code (#889)
  api/src/application/http/authentication/handlers/authentificate.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/infrastructure/auth_session/mod.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

feat: implement email builder domain (#888)
  Cargo.lock
  api/src/application/http/error.rs
  core/Cargo.toml
  core/migrations/20260324000000_create_email_templates.down.sql
  core/migrations/20260324000000_create_email_templates.up.sql
  core/src/application/email_template/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/email_template/entities.rs
  core/src/domain/email_template/mod.rs
  core/src/domain/email_template/policies.rs
  core/src/domain/email_template/ports.rs
  core/src/domain/email_template/services.rs
  core/src/domain/mod.rs
  core/src/domain/role/entities/permission.rs
  core/src/entity/email_templates.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/infrastructure/email_template/mappers.rs
  core/src/infrastructure/email_template/mod.rs
  core/src/infrastructure/email_template/renderer/mjml_renderer.rs
  core/src/infrastructure/email_template/renderer/mod.rs
  core/src/infrastructure/email_template/repositories/email_template_repository.rs
  core/src/infrastructure/email_template/repositories/mod.rs
  core/src/infrastructure/mod.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: implement email builder endpoints
  api/src/application/http.rs
  api/src/application/http/email_template.rs
  api/src/application/http/email_template/handlers/activate_template.rs
  api/src/application/http/email_template/handlers/create_template.rs
  api/src/application/http/email_template/handlers/delete_template.rs
  api/src/application/http/email_template/handlers/fetch_templates.rs
  api/src/application/http/email_template/handlers/get_template.rs
  api/src/application/http/email_template/handlers/get_variables.rs
  api/src/application/http/email_template/handlers/mod.rs
  api/src/application/http/email_template/handlers/update_template.rs
  api/src/application/http/email_template/router.rs
  api/src/application/http/email_template/validators.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
Due: rust-fmt, rust-clippy

fix: warn instead of failing when removing OTP action (#891)
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

feat: add organization attributes, alias and validations
  libs/ferriskey-organization/src/entities.rs
  libs/ferriskey-organization/src/ports.rs
Due: rust-fmt, rust-clippy

feat: add HTTPRoute support and validation for publicHost in gatewayAPI
  charts/ferriskey/templates/_helpers.yaml
  charts/ferriskey/templates/api/deployment.yaml
  charts/ferriskey/templates/httproute.yaml
  charts/ferriskey/templates/ingress.yaml
  charts/ferriskey/templates/validate.yaml
  charts/ferriskey/templates/webapp/deployment.yaml
  charts/ferriskey/values.yaml
Due: none

re-generated helm-docs
  charts/ferriskey/README.md
Due: none

added details to variables
  charts/ferriskey/README.md
  charts/ferriskey/values.yaml
Due: none

feat: implement email builder endpoints (#892)
  api/src/application/http.rs
  api/src/application/http/email_template.rs
  api/src/application/http/email_template/handlers/activate_template.rs
  api/src/application/http/email_template/handlers/create_template.rs
  api/src/application/http/email_template/handlers/delete_template.rs
  api/src/application/http/email_template/handlers/fetch_templates.rs
  api/src/application/http/email_template/handlers/get_template.rs
  api/src/application/http/email_template/handlers/get_variables.rs
  api/src/application/http/email_template/handlers/mod.rs
  api/src/application/http/email_template/handlers/update_template.rs
  api/src/application/http/email_template/router.rs
  api/src/application/http/email_template/validators.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
Due: rust-fmt, rust-clippy

feat: implement email builder engine
  front/package.json
  front/pnpm-lock.yaml
  front/src/lib/builder-core/components/BuilderShell.tsx
  front/src/lib/builder-core/components/Canvas.tsx
  front/src/lib/builder-core/components/ComponentLibrary.tsx
  front/src/lib/builder-core/components/ConfigPanel.tsx
  front/src/lib/builder-core/components/DragOverlay.tsx
  front/src/lib/builder-core/context.tsx
  front/src/lib/builder-core/hooks.ts
  front/src/lib/builder-core/index.ts
  front/src/lib/builder-core/types.ts
  front/src/lib/builder-core/utils.ts
Due: esint

feat: add organization attributes, alias and validations (#893)
  libs/ferriskey-organization/src/entities.rs
  libs/ferriskey-organization/src/ports.rs
Due: rust-fmt, rust-clippy

refactor: change pascal case to kebab case
  front/src/lib/builder-core/components/builder-shell.tsx
  front/src/lib/builder-core/components/component-library.tsx
  front/src/lib/builder-core/components/config-panel.tsx
  front/src/lib/builder-core/components/drag-overlay.tsx
  front/src/lib/builder-core/index.ts
Due: esint

refactor: rename cnavas
  front/src/lib/builder-core/components/Canvas.tsx
Due: esint

feat: change case
  front/src/lib/builder-core/components/canvas.tsx
Due: esint

feat: add organization domain, services, and infra
  Cargo.lock
  core/Cargo.toml
  core/src/application/mod.rs
  core/src/application/organization/mod.rs
  core/src/application/services.rs
  core/src/domain/mod.rs
  core/src/domain/organization/mod.rs
  core/src/domain/organization/policies.rs
  core/src/domain/organization/ports.rs
  core/src/domain/organization/services.rs
  core/src/entity/mod.rs
  core/src/entity/organization_attributes.rs
  core/src/entity/organization_members.rs
  core/src/entity/organizations.rs
  core/src/entity/prelude.rs
  core/src/entity/realms.rs
  core/src/entity/users.rs
  core/src/infrastructure/mod.rs
  core/src/infrastructure/organization/mod.rs
  core/src/infrastructure/organization/organization_attribute_repository.rs
  core/src/infrastructure/organization/organization_member_repository.rs
  core/src/infrastructure/organization/organization_repository.rs
Due: rust-fmt, rust-clippy

feat: add organization domain, services, and infra (#896)
  Cargo.lock
  core/Cargo.toml
  core/src/application/mod.rs
  core/src/application/organization/mod.rs
  core/src/application/services.rs
  core/src/domain/mod.rs
  core/src/domain/organization/mod.rs
  core/src/domain/organization/policies.rs
  core/src/domain/organization/ports.rs
  core/src/domain/organization/services.rs
  core/src/entity/mod.rs
  core/src/entity/organization_attributes.rs
  core/src/entity/organization_members.rs
  core/src/entity/organizations.rs
  core/src/entity/prelude.rs
  core/src/entity/realms.rs
  core/src/entity/users.rs
  core/src/infrastructure/mod.rs
  core/src/infrastructure/organization/mod.rs
  core/src/infrastructure/organization/organization_attribute_repository.rs
  core/src/infrastructure/organization/organization_member_repository.rs
  core/src/infrastructure/organization/organization_repository.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
