Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

fix: convert types and endpoints to use single quotes consistently
  front/src/api/api.client.ts
  front/src/pages/authentication/feature/page-required-action-feature.tsx
  front/src/utils/webhook-utils.ts
Due: esint

fix: update profiles and environment for registry services
  docker-compose.yaml
Due: none

Add users_affected to DeleteRoleResponse and related plumbing
  api/src/application/http/role/handlers/delete_role.rs
  api/src/application/http/user/handlers/assign_role.rs
  api/src/application/http/user/handlers/get_user.rs
  api/src/application/http/user/handlers/get_user_roles.rs
  core/src/application/role/use_cases.rs
  core/src/domain/user/ports.rs
  core/src/domain/user/services/user_role_service.rs
  core/src/infrastructure/user/repositories/user_role_repository.rs
  front/src/api/api.client.ts
  front/src/api/role.api.ts
  front/src/pages/client/ui/page-client-roles.tsx
Due: rust-fmt, rust-clippy, esint

oops: missing file in last commit
  core/src/application/role/use_cases/delete_role_use_case.rs
Due: rust-fmt, rust-clippy

delete a useless FIXME
  api/src/application/http/role/handlers/delete_role.rs
Due: rust-fmt, rust-clippy

run cargo fmt, delete a FIXME
  core/src/application/role/mod.rs
  front/src/pages/role/feature/page-roles-overview-feature.tsx
Due: rust-fmt, rust-clippy, esint

rely on the ON DELETE CASCADE when deleting user_role relations
  api/src/application/http/role/handlers/delete_role.rs
  core/src/application/role/use_cases.rs
  core/src/application/role/use_cases/delete_role_use_case.rs
  core/src/domain/user/ports.rs
  core/src/domain/user/services/user_role_service.rs
  core/src/infrastructure/user/repositories/user_role_repository.rs
  front/src/api/api.client.ts
Due: rust-fmt, rust-clippy, esint

fix: remove unused profiles from registry service
  docker-compose.yaml
Due: none

run fmt
  core/src/application/role/use_cases/delete_role_use_case.rs
Due: rust-fmt, rust-clippy

fix(docs): update readme launch api Closes #426
  README.md
Due: none

refactor: API handlers to use new authentication and OTP use cases
  Cargo.lock
  api/src/application/auth.rs
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/realm/handlers.rs
  api/src/application/http/realm/handlers/fetch_realm.rs
  api/src/application/http/realm/router.rs
  api/src/application/http/server/app_state.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/trident/handlers/challenge_otp.rs
  api/src/application/http/trident/handlers/setup_otp.rs
  api/src/application/http/trident/handlers/verify_otp.rs
  api/src/bin/ferriskey-server.rs
  core/Cargo.toml
  core/src/application/authentication/use_cases.rs
  core/src/application/authentication/use_cases/auth_use_case.rs
  core/src/application/authentication/use_cases/authorize_request_use_case.rs
  core/src/application/common/factories.rs
  core/src/application/trident/use_cases.rs
  core/src/application/trident/use_cases/challenge_otp_use_case.rs
  core/src/application/trident/use_cases/setup_otp_use_case.rs
  core/src/application/trident/use_cases/verify_otp_use_case.rs
  core/src/domain/trident/entities.rs
Due: rust-fmt, rust-clippy

fix: state initialization and OTP secret error handling
  api/tests/it/main.rs
  core/src/application/trident/use_cases/verify_otp_use_case.rs
Due: rust-fmt, rust-clippy

feat: add CoreError type for common error handling
  core/src/domain/common/entities/app_errors.rs
  core/src/domain/common/entities/mod.rs
  core/src/domain/common/mod.rs
Due: rust-fmt, rust-clippy

refacto: add FerriskeyConfig and DatabaseConfig structs
  core/src/domain/common/mod.rs
Due: rust-fmt, rust-clippy

feat: implement From<Args> for FerriskeyConfig
  api/src/args.rs
Due: rust-fmt, rust-clippy

feat: add error conversion from CoreError to ApiError
  api/src/application/http.rs
  api/src/application/http/error.rs
Due: rust-fmt, rust-clippy

refacto: rename ClientService trait to OldClientService throughout codebase
  core/src/application/authentication/use_cases/auth_use_case.rs
  core/src/application/authentication/use_cases/authenticate_use_case.rs
  core/src/application/authentication/use_cases/authorize_request_use_case.rs
  core/src/application/authentication/use_cases/exchange_token_use_case.rs
  core/src/application/client/policies.rs
  core/src/application/client/use_cases/create_client_use_case.rs
  core/src/application/client/use_cases/delete_client_use_case.rs
  core/src/application/client/use_cases/get_client_use_case.rs
  core/src/application/client/use_cases/get_clients_use_case.rs
  core/src/application/client/use_cases/update_client_use_case.rs
  core/src/application/common/mod.rs
  core/src/application/common/policies.rs
  core/src/application/orchestrators/startup_orchestrator.rs
  core/src/application/realm/policies.rs
  core/src/application/role/policies.rs
  core/src/application/user/policies/user_policy.rs
  core/src/application/user/policies/user_role_policy.rs
  core/src/application/webhook/policies.rs
  core/src/domain/authentication/strategies/client_credentials_strategy.rs
  core/src/domain/authentication/strategies/password_strategy.rs
  core/src/domain/client/ports.rs
  core/src/domain/client/services/client_service.rs
Due: rust-fmt, rust-clippy

refacto: implement FerriskeyService for client and role services
  core/src/application/client/mod.rs
  core/src/application/common/mod.rs
  core/src/application/role/mod.rs
  core/src/domain/client/ports.rs
  core/src/domain/common/mod.rs
  core/src/domain/common/policies.rs
  core/src/domain/role/ports.rs
  core/src/domain/role/services.rs
Due: rust-fmt, rust-clippy

refacto: add permissions module and FerriskeyPolicy implementation
  core/src/application/common/mod.rs
  core/src/application/common/permissions.rs
  core/src/domain/user/ports.rs
Due: rust-fmt, rust-clippy

refactor: add authenticated webhook service layer
  core/src/application/webhook/mod.rs
  core/src/application/webhook/services.rs
  core/src/application/webhook/services/webhook_service.rs
  core/src/domain/webhook/ports.rs
  core/src/domain/webhook/services/webhook_service.rs
Due: rust-fmt, rust-clippy

feat: add comprehensive error types to core domain
  core/src/domain/common/entities/app_errors.rs
Due: rust-fmt, rust-clippy

refacto: implement TOTP verification and TridentService traits
  core/src/application/trident/mod.rs
  core/src/domain/crypto/ports.rs
  core/src/domain/crypto/services.rs
  core/src/domain/trident/ports.rs
Due: rust-fmt, rust-clippy

refactor: implement FerriskeyPolicy permission logic and role handling
  core/src/application/common/permissions.rs
Due: rust-fmt, rust-clippy

refacotr: add FerriskeyPolicy to FerriskeyService and implement constructor
  core/src/application/common/mod.rs
  core/src/application/common/permissions.rs
Due: rust-fmt, rust-clippy

feat: add webhook notifier repository implementation
  core/src/application/common/mod.rs
  core/src/application/common/services.rs
  core/src/domain/webhook/ports.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/webhook/mod.rs
  core/src/infrastructure/webhook/repositories.rs
  core/src/infrastructure/webhook/repositories/webhook_notifier_repository.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
Due: rust-fmt, rust-clippy

initial idea
  api/src/bin/ferriskey-server.rs
Due: rust-fmt, rust-clippy

fmt
  api/src/bin/ferriskey-server.rs
Due: rust-fmt, rust-clippy

refactor: add policy traits for realm, role, and user actions
  core/src/application/common/permissions.rs
  core/src/domain/realm/ports.rs
  core/src/domain/role/ports.rs
  core/src/domain/user/ports.rs
Due: rust-fmt, rust-clippy

refactor: client creation to use CreateClientInput struct
  core/src/application/client/mod.rs
  core/src/domain/client/entities.rs
  core/src/domain/client/ports.rs
  core/src/domain/common/entities/app_errors.rs
Due: rust-fmt, rust-clippy

refactor: client policies and service interfaces
  api/src/application/http/server/app_state.rs
  api/src/application/http/server/http_server.rs
  core/src/application/client/mod.rs
  core/src/application/client/policies.rs
  core/src/application/client/use_cases/create_client_use_case.rs
  core/src/application/client/use_cases/create_redirect_uri_use_case.rs
  core/src/application/client/use_cases/delete_client_use_case.rs
  core/src/application/client/use_cases/delete_redirect_uri_use_case.rs
  core/src/application/client/use_cases/get_client_roles_use_case.rs
  core/src/application/client/use_cases/get_client_use_case.rs
  core/src/application/client/use_cases/get_clients_use_case.rs
  core/src/application/client/use_cases/get_redirect_uris_use_case.rs
  core/src/application/client/use_cases/update_client_use_case.rs
  core/src/application/client/use_cases/update_redirect_uri_use_case.rs
  core/src/application/common/policies.rs
  core/src/domain/client/entities.rs
  core/src/domain/client/ports.rs
Due: rust-fmt, rust-clippy

refactor: remove use cases in favor of domain services
  api/src/application/http/webhook/handlers/create_webhook.rs
  api/src/application/http/webhook/handlers/delete_webhook.rs
  api/src/application/http/webhook/handlers/fetch_webhook.rs
  api/src/application/http/webhook/handlers/get_webhook.rs
  api/src/application/http/webhook/handlers/update_webhook.rs
  core/src/application/common/factories.rs
  core/src/application/common/services.rs
  core/src/application/mod.rs
  core/src/application/webhook/mod.rs
  core/src/application/webhook/services/webhook_service.rs
  core/src/application/webhook/use_cases.rs
  core/src/application/webhook/use_cases/create_webhook_use_case.rs
  core/src/application/webhook/use_cases/delete_webhook_use_case.rs
  core/src/application/webhook/use_cases/fetch_realm_webhooks_use_case.rs
  core/src/application/webhook/use_cases/get_webhook_use_case.rs
  core/src/application/webhook/use_cases/update_webhook_use_case.rs
  core/src/domain/webhook/mod.rs
  core/src/domain/webhook/policies.rs
  core/src/domain/webhook/ports.rs
  core/src/domain/webhook/services.rs
  core/src/domain/webhook/services/webhook_service.rs
Due: rust-fmt, rust-clippy

refactor: implement role creation in ClientService and handler
  api/src/application/http/client/handlers/create_client.rs
  api/src/application/http/client/handlers/create_redirect_uri.rs
  api/src/application/http/client/handlers/create_role.rs
  core/src/application/client/mod.rs
  core/src/application/role/mod.rs
  core/src/domain/client/entities.rs
  core/src/domain/client/ports.rs
Due: rust-fmt, rust-clippy

refactor: client handlers to use ClientService trait
  api/src/application/http/client/handlers/delete_redirect_uri.rs
  api/src/application/http/client/handlers/get_client.rs
  api/src/application/http/client/handlers/get_client_roles.rs
  api/src/application/http/client/handlers/get_clients.rs
  api/src/application/http/client/handlers/get_redirect_uris.rs
  api/src/application/http/client/handlers/update_client.rs
  api/src/application/http/client/handlers/update_redirect_uri.rs
  core/src/application/client/mod.rs
  core/src/domain/client/entities.rs
  core/src/domain/client/ports.rs
Due: rust-fmt, rust-clippy

refactor: client deletion to use service method and input struct
  api/src/application/http/client/handlers/delete_client.rs
  core/src/application/client/mod.rs
  core/src/application/common/factories.rs
  core/src/domain/client/entities.rs
  core/src/domain/client/ports.rs
Due: rust-fmt, rust-clippy

refactor: move health check logic from use case to service tier
  api/src/application/http/health/handlers.rs
  api/src/application/http/health/handlers/health_live.rs
  api/src/application/http/health/handlers/health_ready.rs
  core/src/application/common/factories.rs
  core/src/application/common/services.rs
  core/src/application/health/mod.rs
  core/src/application/health/service.rs
  core/src/application/health/use_cases.rs
  core/src/domain/common/entities/app_errors.rs
  core/src/domain/health/mod.rs
  core/src/domain/health/ports.rs
  core/src/domain/health/services.rs
  core/src/infrastructure/health/mod.rs
  core/src/infrastructure/health/repositories.rs
Due: rust-fmt, rust-clippy

refactor: remove role use-cases and deprecated role service implementations
  api/src/application/http/role/handlers/delete_role.rs
  api/src/application/http/role/handlers/get_role.rs
  api/src/application/http/role/handlers/get_roles.rs
  api/src/application/http/role/handlers/update_role.rs
  api/src/application/http/role/handlers/update_role_permissions.rs
  core/src/application/client/use_cases.rs
  core/src/application/client/use_cases/create_client_use_case.rs
  core/src/application/client/use_cases/create_redirect_uri_use_case.rs
  core/src/application/client/use_cases/create_role_use_case.rs
  core/src/application/client/use_cases/delete_client_use_case.rs
  core/src/application/client/use_cases/get_client_roles_use_case.rs
  core/src/application/common/services.rs
  core/src/application/role/mod.rs
  core/src/application/role/use_cases.rs
  core/src/application/role/use_cases/delete_role_use_case.rs
  core/src/application/role/use_cases/get_role_use_case.rs
  core/src/application/role/use_cases/get_roles_use_case.rs
  core/src/application/role/use_cases/update_role_permissions_use_case.rs
  core/src/application/role/use_cases/update_role_use_case.rs
  core/src/domain/role/entities.rs
  core/src/domain/role/mod.rs
  core/src/domain/role/ports.rs
  core/src/domain/role/services.rs
Due: rust-fmt, rust-clippy

refactor: remove role use-cases from UseCaseBundle
  core/src/application/common/factories.rs
Due: rust-fmt, rust-clippy

docs: initialize local config for database connection
  README.md
  api/env.example
Due: none

refactor: migrate realm service from use cases to service module
  core/src/application/client/use_cases/delete_redirect_uri_use_case.rs
  core/src/application/common/services.rs
  core/src/application/realm/mod.rs
  core/src/application/realm/service.rs
  core/src/application/realm/use_cases/create_realm_use_case.rs
  core/src/application/realm/use_cases/delete_realm_use_case.rs
  core/src/application/realm/use_cases/get_realm_use_case.rs
  core/src/application/realm/use_cases/get_user_realms_settings_use_case.rs
  core/src/application/realm/use_cases/get_user_realms_use_case.rs
  core/src/application/realm/use_cases/update_realm_settings_use_case.rs
  core/src/application/realm/use_cases/update_realm_use_case.rs
  core/src/domain/realm/mod.rs
  core/src/domain/realm/policies.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/infrastructure/realm/repositories.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
