Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

feat: paginate the organization members listing (#1573)
  .github/workflows/integration-tests.yaml
  api/tests/organization_members_listing_test.rs
  api/tests/organization_test.rs
  core/src/application/organization/mod.rs
  core/src/domain/organization/ports.rs
  core/src/infrastructure/organization/organization_member_repository.rs
  core/src/infrastructure/user/repository.rs
  front/src/api/api.client.ts
  front/src/api/organization.api.ts
  front/src/locales/en/organization.yaml
  front/src/locales/zh-CN/organization.yaml
  front/src/pages/ciam/user-management/feature/page-organization-detail-feature.tsx
  front/src/pages/iam/organization/feature/organization-members-tab-feature.tsx
  front/src/pages/iam/organization/feature/page-organization-detail-feature.tsx
  front/src/pages/iam/organization/ui/organization-members-tab.tsx
  front/src/pages/iam/organization/ui/page-organization-detail.tsx
  libs/ferriskey-api-organization/src/handlers/list_members.rs
  libs/ferriskey-api-user/src/handlers/get_users.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-domain/src/user/entities.rs
  libs/ferriskey-organization/src/entities.rs
  libs/ferriskey-organization/src/ports.rs
  libs/ferriskey-organization/src/services.rs
Due: rust-fmt, rust-clippy, esint

feat: search and date-filter the webhooks and webhook deliveries listings
  api/tests/webhook_deliveries_listing_test.rs
  api/tests/webhooks_listing_test.rs
  core/src/infrastructure/webhook/repositories/webhook_delivery_repository.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  front/src/api/api.client.ts
  libs/ferriskey-api-webhook/src/handlers/fetch_deliveries.rs
  libs/ferriskey-api-webhook/src/handlers/fetch_webhook.rs
  libs/ferriskey-webhook/src/entities/webhook.rs
  libs/ferriskey-webhook/src/entities/webhook_delivery.rs
  libs/ferriskey-webhook/src/services.rs
Due: rust-fmt, rust-clippy, esint

feat: search the compass flows and security events listings
  api/tests/compass_flows_listing_test.rs
  api/tests/security_events_listing_test.rs
  core/src/infrastructure/compass/repositories/compass_flow_postgres_repository.rs
  core/src/infrastructure/seawatch/repositories/security_event_postgres_repository.rs
  front/src/api/api.client.ts
  libs/ferriskey-api-compass/src/handlers/get_flows.rs
  libs/ferriskey-api-seawatch/src/handlers/get_security_events.rs
  libs/ferriskey-compass/src/value_objects.rs
  libs/ferriskey-seawatch/src/value_objects.rs
Due: rust-fmt, rust-clippy, esint

feat: search and date-filter the users, realms and sessions listings
  api/tests/realms_listing_test.rs
  api/tests/user_sessions_listing_test.rs
  api/tests/users_listing_test.rs
  core/src/infrastructure/pagination.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/repositories/user_session_repository.rs
  core/src/infrastructure/user/repository.rs
  front/src/api/api.client.ts
  libs/ferriskey-api-realm/src/handlers/get_user_realms.rs
  libs/ferriskey-api-user/src/handlers/get_users.rs
  libs/ferriskey-api-user/src/handlers/list_user_sessions.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/session/entities.rs
  libs/ferriskey-domain/src/session/services.rs
  libs/ferriskey-domain/src/user/entities.rs
Due: rust-fmt, rust-clippy, esint

feat: search and date-filter the identity and federation providers listings
  api/tests/federation_providers_listing_test.rs
  api/tests/identity_providers_listing_test.rs
  core/src/domain/abyss/federation/entities.rs
  core/src/infrastructure/abyss/federation/repository.rs
  core/src/infrastructure/identity_provider/repositories/identity_provider_postgres_repository.rs
  front/src/api/api.client.ts
  libs/ferriskey-abyss/src/identity_provider/entities.rs
  libs/ferriskey-api-abyss/src/federation/dto.rs
  libs/ferriskey-api-abyss/src/federation/handlers/list_providers.rs
  libs/ferriskey-api-abyss/src/identity_provider/dto.rs
  libs/ferriskey-api-abyss/src/identity_provider/handlers/list_identity_providers.rs
Due: rust-fmt, rust-clippy, esint

fix: announce active column filters and keep untouched date bounds
  front/src/components/kit/ColumnFilter.tsx
  front/src/components/kit/DateRangeFilter.tsx
  front/src/components/kit/date-range-bounds.test.ts
  front/src/components/kit/date-range-bounds.ts
  front/src/locales/en/common.yaml
  front/src/locales/zh-CN/common.yaml
Due: esint

feat: move users, roles and clients listing filters into column headers
  front/src/api/client-scope.api.ts
  front/src/api/client.api.ts
  front/src/api/role.api.ts
  front/src/components/kit/ListingPage.tsx
  front/src/components/kit/MetricsBand.tsx
  front/src/locales/en/client-scope.yaml
  front/src/locales/en/client.yaml
  front/src/locales/en/console.yaml
  front/src/locales/en/role.yaml
  front/src/locales/en/user.yaml
  front/src/locales/zh-CN/client-scope.yaml
  front/src/locales/zh-CN/client.yaml
  front/src/locales/zh-CN/console.yaml
  front/src/locales/zh-CN/role.yaml
  front/src/locales/zh-CN/user.yaml
  front/src/pages/ciam/applications/ui/page-applications-list.tsx
  front/src/pages/ciam/user-management/feature/page-identities-feature.tsx
  front/src/pages/ciam/user-management/ui/page-identities.tsx
  front/src/pages/iam/client-scope/ui/page-client-scopes-overview.tsx
  front/src/pages/iam/client/ui/page-clients-overview.tsx
  front/src/pages/iam/role/ui/page-roles-overview.tsx
  front/src/pages/iam/user/feature/page-users-overview-feature.tsx
  front/src/pages/iam/user/ui/page-users-overview.tsx
Due: esint

feat: move webhooks and organizations listing filters into column headers
  front/src/api/group.api.ts
  front/src/api/organization.api.ts
  front/src/api/webhook.api.ts
  front/src/locales/en/organization.yaml
  front/src/locales/en/webhook.yaml
  front/src/locales/zh-CN/organization.yaml
  front/src/locales/zh-CN/webhook.yaml
  front/src/pages/iam/organization/feature/page-organization-groups-feature.tsx
  front/src/pages/iam/organization/ui/organization-members-tab.tsx
  front/src/pages/iam/organization/ui/page-organizations-overview.tsx
  front/src/pages/iam/webhook/ui/page-webhooks-overview.tsx
  front/src/pages/iam/webhook/ui/webhook-deliveries-tab.tsx
Due: esint

feat: compute column filter indicators
  front/src/components/kit/column-filter-state.test.ts
  front/src/components/kit/column-filter-state.ts
Due: esint

feat: search and date-filter the themes, layouts and templates listings
  Cargo.lock
  api/tests/email_templates_listing_test.rs
  api/tests/portal_layouts_listing_test.rs
  api/tests/portal_themes_listing_test.rs
  core/src/infrastructure/email_template/repositories/email_template_repository.rs
  core/src/infrastructure/repositories/portal_layouts_repository.rs
  core/src/infrastructure/repositories/portal_theme_repository.rs
  front/src/api/api.client.ts
  libs/ferriskey-api-email-template/Cargo.toml
  libs/ferriskey-api-email-template/src/handlers/fetch_templates.rs
  libs/ferriskey-api-portal-layouts/Cargo.toml
  libs/ferriskey-api-portal-layouts/src/handlers/list_layouts.rs
  libs/ferriskey-api-portal-theme/Cargo.toml
  libs/ferriskey-api-portal-theme/src/handlers/list_themes.rs
  libs/ferriskey-mail/src/email_template/entities.rs
  libs/ferriskey-mail/src/email_template/services.rs
  libs/ferriskey-portal-layouts/src/entities.rs
  libs/ferriskey-portal-layouts/src/services.rs
  libs/ferriskey-portal-theme/src/entities.rs
  libs/ferriskey-portal-theme/src/services.rs
Due: rust-fmt, rust-clippy, esint

feat: search and date-filter the organizations, groups and members listings
  Cargo.lock
  api/tests/group_members_listing_test.rs
  api/tests/organization_groups_listing_test.rs
  api/tests/organization_members_listing_test.rs
  api/tests/organizations_listing_test.rs
  core/src/infrastructure/organization/group_member_repository.rs
  core/src/infrastructure/organization/group_repository.rs
  core/src/infrastructure/organization/organization_member_repository.rs
  core/src/infrastructure/organization/organization_repository.rs
  core/src/infrastructure/pagination.rs
  front/src/api/api.client.ts
  libs/ferriskey-api-organization/Cargo.toml
  libs/ferriskey-api-organization/src/handlers/groups.rs
  libs/ferriskey-api-organization/src/handlers/list_members.rs
  libs/ferriskey-api-organization/src/handlers/list_organizations.rs
  libs/ferriskey-organization/src/entities.rs
Due: rust-fmt, rust-clippy, esint

fix: make listing metric tiles exclusive and share the listing toolbar
  front/src/components/kit/ListingPage.tsx
  front/src/components/kit/ListingToolbar.tsx
  front/src/components/kit/MetricsBand.tsx
  front/src/components/kit/index.ts
  front/src/components/kit/metric-tile-filter.test.ts
  front/src/components/kit/metric-tile-filter.ts
  front/src/pages/ciam/applications/ui/page-applications-list.tsx
  front/src/pages/ciam/user-management/ui/page-identities.tsx
  front/src/pages/iam/client-scope/ui/page-client-scopes-overview.tsx
  front/src/pages/iam/client/ui/page-clients-overview.tsx
  front/src/pages/iam/organization/feature/page-organization-groups-feature.tsx
  front/src/pages/iam/organization/ui/organization-members-tab.tsx
  front/src/pages/iam/organization/ui/page-organizations-overview.tsx
  front/src/pages/iam/role/ui/page-roles-overview.tsx
  front/src/pages/iam/user/ui/page-users-overview.tsx
  front/src/pages/iam/webhook/ui/page-webhooks-overview.tsx
  front/src/pages/iam/webhook/ui/webhook-deliveries-tab.tsx
Due: esint

feat: move listing filters into column headers
  front/src/components/kit/ColumnFilter.tsx
  front/src/components/kit/DataView.tsx
  front/src/components/kit/DateRangeFilter.tsx
  front/src/components/kit/ListingPage.tsx
  front/src/components/kit/SearchInput.tsx
  front/src/components/kit/date-range-bounds.test.ts
  front/src/components/kit/date-range-bounds.ts
  front/src/components/kit/index.ts
  front/src/locales/en/common.yaml
  front/src/locales/zh-CN/common.yaml
Due: esint

feat: move providers, sessions and audit listing filters into column headers
  front/src/api/compass.api.ts
  front/src/api/identity-providers.api.ts
  front/src/api/sea-watch.api.ts
  front/src/api/user-federation.api.ts
  front/src/api/user.api.ts
  front/src/locales/en/account.yaml
  front/src/locales/en/compass.yaml
  front/src/locales/en/identity-provider.yaml
  front/src/locales/en/seawatch.yaml
  front/src/locales/en/user-federation.yaml
  front/src/locales/zh-CN/account.yaml
  front/src/locales/zh-CN/compass.yaml
  front/src/locales/zh-CN/identity-provider.yaml
  front/src/locales/zh-CN/seawatch.yaml
  front/src/locales/zh-CN/user-federation.yaml
  front/src/pages/ciam/activity/feature/use-event-journal.ts
  front/src/pages/ciam/activity/ui/journal-section.tsx
  front/src/pages/ciam/activity/ui/page-logs.tsx
  front/src/pages/ciam/activity/ui/page-messages.tsx
  front/src/pages/ciam/activity/ui/page-sessions.tsx
  front/src/pages/iam/account/ui/page-account-sessions.tsx
  front/src/pages/iam/compass/ui/page-flows.tsx
  front/src/pages/iam/identity-providers/ui/page-providers-overview.tsx
  front/src/pages/iam/seawatch/event-filter-fields.ts
  front/src/pages/iam/seawatch/ui/page-security-events.tsx
  front/src/pages/iam/user-federation/ui/page-providers-overview.tsx
Due: esint

feat: add a shared date range for listing filters
  core/src/infrastructure/pagination.rs
  libs/ferriskey-domain/src/common/pagination.rs
Due: rust-fmt, rust-clippy

feat: search and date-filter the roles, clients and client scopes listings
  Cargo.lock
  api/tests/client_scopes_listing_test.rs
  api/tests/clients_listing_test.rs
  api/tests/roles_listing_test.rs
  core/src/infrastructure/aegis/repositories/client_scope_postgres_repository.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/role/repositories/role_postgres_repository.rs
  front/src/api/api.client.ts
  libs/ferriskey-aegis/src/entities.rs
  libs/ferriskey-api-aegis/Cargo.toml
  libs/ferriskey-api-aegis/src/handlers/get_client_scopes.rs
  libs/ferriskey-api-client/Cargo.toml
  libs/ferriskey-api-client/src/handlers/get_clients.rs
  libs/ferriskey-api-role/Cargo.toml
  libs/ferriskey-api-role/src/handlers/get_roles.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/role/entities.rs
Due: rust-fmt, rust-clippy, esint

fix: tighten and contrast the column filter popover
  front/src/components/kit/ColumnFilter.tsx
  front/src/components/kit/RelationSelect.tsx
Due: esint

feat: move portal and email template listing filters into column headers
  front/src/api/email-template.api.ts
  front/src/api/portal-layouts.api.ts
  front/src/api/portal-theme.api.tsx
  front/src/locales/en/email-template.yaml
  front/src/locales/en/portal.yaml
  front/src/locales/zh-CN/email-template.yaml
  front/src/locales/zh-CN/portal.yaml
  front/src/pages/iam/email-template/ui/templates-tab.tsx
  front/src/pages/iam/portal/ui/page-portal-layouts.tsx
  front/src/pages/iam/portal/ui/page-portal-themes.tsx
Due: esint

fix: polish the listing column filters
  front/src/api/realm.api.ts
  front/src/components/kit/index.ts
  front/src/pages/ciam/activity/feature/journal-filter-keys.test.ts
  front/src/pages/ciam/activity/feature/journal-filter-keys.ts
  front/src/pages/ciam/activity/feature/page-messages-feature.tsx
  front/src/pages/ciam/activity/feature/use-event-journal.ts
  front/src/pages/ciam/activity/ui/journal-section.tsx
  front/src/pages/ciam/activity/ui/page-messages.tsx
Due: esint

refactor: remove the listing filter bar
  front/src/components/kit/FilterBar.tsx
  front/src/components/kit/ListingPage.tsx
  front/src/components/kit/ListingToolbar.tsx
  front/src/components/kit/index.ts
  front/src/locales/en/common.yaml
  front/src/locales/en/compass.yaml
  front/src/locales/en/console.yaml
  front/src/locales/zh-CN/common.yaml
  front/src/locales/zh-CN/compass.yaml
  front/src/locales/zh-CN/console.yaml
Due: esint

feat: search the remaining text fields of the listings
  api/tests/organizations_listing_test.rs
  api/tests/roles_listing_test.rs
  api/tests/webhook_deliveries_listing_test.rs
  core/src/infrastructure/organization/organization_repository.rs
  core/src/infrastructure/role/repositories/role_postgres_repository.rs
  core/src/infrastructure/webhook/repositories/webhook_delivery_repository.rs
  front/src/api/api.client.ts
  libs/ferriskey-api-organization/src/handlers/list_organizations.rs
  libs/ferriskey-api-role/src/handlers/get_roles.rs
  libs/ferriskey-api-webhook/src/handlers/fetch_deliveries.rs
  libs/ferriskey-webhook/src/entities/webhook_delivery.rs
Due: rust-fmt, rust-clippy, esint

fix: keep windowed audit tiles informational and label the recipient filter
  front/src/pages/ciam/activity/ui/page-logs.tsx
  front/src/pages/ciam/activity/ui/page-messages.tsx
  front/src/pages/iam/seawatch/ui/page-security-events.tsx
Due: esint

Fix helm-docs generation
  Dockerfile
  charts/ferriskey/README.md
Due: hadolint

No more update on container start
  charts/ferriskey/templates/_helpers.yaml
  charts/ferriskey/templates/webapp/configmap.yaml
  charts/ferriskey/templates/webapp/deployment.yaml
  charts/ferriskey/values.yaml
  front/docker-entrypoint.sh
  front/public/config.json
Due: shellcheck

Another idea to have more secure final images
  Dockerfile
Due: hadolint

fix(core): emit the name claim for oidc-full-name-mapper
  core/src/domain/authentication/mapper_engine.rs
  core/src/domain/authentication/mappers/full_name_mapper.rs
  core/src/domain/authentication/mappers/mod.rs
Due: rust-fmt, rust-clippy

fix(core): emit the name claim for oidc-full-name-mapper (#1578)
  core/src/domain/authentication/mapper_engine.rs
  core/src/domain/authentication/mappers/full_name_mapper.rs
  core/src/domain/authentication/mappers/mod.rs
Due: rust-fmt, rust-clippy

fix(auth): return 401 instead of 500 when logging in with no credentials
  api/tests/sso_session_test.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

style: run cargo fmt
  api/tests/sso_session_test.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

fix(auth): resolve CodeRabbit review comments
  core/src/domain/authentication/services.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/repositories/credential_repository.rs
  libs/ferriskey-domain/src/credential/entities.rs
Due: rust-fmt, rust-clippy

fix(api): handle CredentialNotFound in ApiError mapping
  libs/ferriskey-api-core/src/error.rs
Due: rust-fmt, rust-clippy

style: run cargo fmt
  libs/ferriskey-api-core/src/error.rs
Due: rust-fmt, rust-clippy

fix(user): validate configure_passkey before updating user
  core/src/domain/user/services.rs
Due: rust-fmt, rust-clippy

test: add a shared oidc test harness and wire the orphan oidc suites into ci
  .github/workflows/integration-tests.yaml
  Cargo.lock
  api/Cargo.toml
  api/tests/common/mod.rs
  api/tests/oidc_conformance_test.rs
Due: rust-fmt, rust-clippy

fix(auth): return 401 instead of 500 when logging in with no credentials (#1579)
  api/tests/sso_session_test.rs
  core/src/domain/authentication/services.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/repositories/credential_repository.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-domain/src/credential/entities.rs
Due: rust-fmt, rust-clippy

test: add a shared oidc test harness and wire the orphan oidc suites into ci (#1580)
  .github/workflows/integration-tests.yaml
  Cargo.lock
  api/Cargo.toml
  api/tests/common/mod.rs
  api/tests/oidc_conformance_test.rs
Due: rust-fmt, rust-clippy

test: add gherkin scenarios for the oidc flows
  .github/workflows/integration-tests.yaml
  Cargo.lock
  api/Cargo.toml
  api/tests/common/mod.rs
  api/tests/features/oidc/authorization_code.feature
  api/tests/features/oidc/logout.feature
  api/tests/features/oidc/token_endpoint.feature
  api/tests/oidc_bdd.rs
Due: rust-fmt, rust-clippy
