Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

fix(front): reconcile the redesign with the one-protocol-per-client change
  front/src/components/ui/select-menu.tsx
  front/src/pages/ciam/applications/application-types.ts
  front/src/pages/iam/client/client-choices.ts
Due: esint

style(front): drop the trailing blank line pre-commit rejects
  front/src/pages/iam/role/permission-catalogue.ts
Due: esint

feat(front): show the version in the sidebar footer
  front/package.json
  front/src/components/shell/iam/sidebar.tsx
  front/src/vite-env.d.ts
  front/vite.config.ts
Due: esint

feat(front): greet the reader on the overview instead of naming the realm
  front/src/pages/iam/overview/feature/page-overview-feature.tsx
  front/src/pages/iam/overview/ui/page-overview.tsx
Due: esint

style(front): tighten the login card
  front/src/pages/authentication/ui/login-providers.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/styles/inputs.scss
Due: esint

style(front): tighten the gap between the login fields
  front/src/pages/authentication/ui/page-login.tsx
Due: esint

style(front): darken the content canvas in dark mode
  front/src/components/shell/ciam/console-shell.tsx
  front/src/components/shell/iam/app-shell.tsx
  front/src/index.css
  front/src/pages/iam/user/ui/user-organizations-tab.tsx
Due: esint

fix(client): answer a duplicate client_id with a conflict, not a 500
  core/src/domain/client/services.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/common.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

style(front): deepen the dark palette
  front/src/index.css
Due: none

feat(front): rebuild the console applications listing on its own structure
  front/src/components/shell/ciam/console-shell.tsx
  front/src/components/shell/ciam/nav-config.ts
  front/src/pages/ciam/applications/ui/page-applications-list.tsx
Due: esint

fix(front): say why a client, provider or federation could not be created
  front/src/pages/iam/client/feature/page-create-client-feature.tsx
  front/src/pages/iam/identity-providers/feature/page-create-provider-feature.tsx
  front/src/pages/iam/user-federation/feature/page-create-provider-feature.tsx
Due: esint

style(core): apply rustfmt to the client conflict change
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/common.rs
Due: rust-fmt, rust-clippy

style(front): put the maintenance pickers under their label, not beside it
  front/src/components/kit/EntityPicker.tsx
  front/src/pages/iam/realm/ui/realm-maintenance-tab.tsx
Due: esint

style(front): even out the maintenance section and drop its rule
  front/src/components/kit/Section.tsx
  front/src/components/kit/form.tsx
  front/src/pages/iam/realm/ui/realm-maintenance-tab.tsx
Due: esint

style(front): make the entity picker dropdown compact
  front/src/components/kit/EntityPicker.tsx
Due: esint

fix(front): navigate to an application without reloading the page
  front/src/pages/ciam/applications/ui/page-applications-list.tsx
Due: esint

fix(maintenance): publish the realm whitelist at the path that serves it
  api/src/application/http/server/openapi.rs
  front/src/api/api.client.ts
  front/src/api/maintenance.api.ts
  libs/ferriskey-api-maintenance/src/router.rs
Due: rust-fmt, rust-clippy, esint

fix(front): say when there is nothing left to pick
  front/src/components/kit/EntityPicker.tsx
  front/src/pages/iam/user/ui/user-organizations-tab.tsx
  front/src/pages/iam/user/ui/user-role-mapping-tab.tsx
Due: esint

fix(token-exchange): audit flag changes and repair fixtures
  api/tests/client_cross_realm_test.rs
  core/src/application/mod.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/realm/services.rs
  core/src/domain/saml/services.rs
  core/src/infrastructure/seawatch/mapper.rs
  libs/ferriskey-domain/README.md
  libs/ferriskey-seawatch/src/entities.rs
Due: rust-fmt, rust-clippy

docs: explain token exchange and audit function behavior
  api/tests/client_cross_realm_test.rs
  core/src/application/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/maintenance/services.rs
  core/src/domain/realm/services.rs
  core/src/domain/saml/services.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  libs/ferriskey-api-client/src/handlers/create_client.rs
  libs/ferriskey-api-client/src/handlers/update_client.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/token_lifetime.rs
  libs/ferriskey-seawatch/src/entities.rs
Due: rust-fmt, rust-clippy

docs: describe neighboring client mapping functions
  core/src/domain/client/services.rs
  core/src/domain/saml/services.rs
  core/src/entity/clients.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/token_lifetime.rs
Due: rust-fmt, rust-clippy

fix: let a wide table scroll inside its section instead of the page
  front/src/components/kit/Section.tsx
Due: esint

feat(front): list and revoke active sessions on the account page (#1313)
  front/src/api/user.api.ts
  front/src/pages/account/feature/page-account-sessions-feature.tsx
  front/src/pages/account/layouts/account-layout.tsx
  front/src/pages/account/page-account.tsx
  front/src/pages/account/ui/page-account-sessions.tsx
Due: esint

docs: remove the chantier documents
  docs/chantiers/BRIEFING-CIAM.md
  docs/chantiers/BRIEFING.md
  docs/chantiers/front-ferriskey-style-iam.md
  docs/chantiers/rules/account.md
  docs/chantiers/rules/client-scope.md
  docs/chantiers/rules/client.md
  docs/chantiers/rules/compass.md
  docs/chantiers/rules/console-activity.md
  docs/chantiers/rules/console-applications.md
  docs/chantiers/rules/console-authentication.md
  docs/chantiers/rules/console-branding.md
  docs/chantiers/rules/console-user-management.md
  docs/chantiers/rules/email-template.md
  docs/chantiers/rules/identity-providers.md
  docs/chantiers/rules/organization.md
  docs/chantiers/rules/overview.md
  docs/chantiers/rules/portal.md
  docs/chantiers/rules/realm.md
  docs/chantiers/rules/role.md
  docs/chantiers/rules/seawatch.md
  docs/chantiers/rules/user-federation.md
  docs/chantiers/rules/user.md
  docs/chantiers/rules/webhook.md
Due: none

feat(seawatch): emit login success and failure events
  api/tests/seawatch_test.rs
  core/src/domain/authentication/services.rs
  libs/ferriskey-seawatch/src/entities.rs
Due: rust-fmt, rust-clippy

feat(seawatch): emit login success and failure events (#1318)
  api/tests/seawatch_test.rs
  core/src/domain/authentication/services.rs
  libs/ferriskey-seawatch/src/entities.rs
Due: rust-fmt, rust-clippy

test(api): cover introspection and invalid_grant after session revocation
  api/tests/token_revocation_test.rs
Due: rust-fmt, rust-clippy

test(api): cover introspection and invalid_grant after session revocation (#1319)
  api/tests/token_revocation_test.rs
Due: rust-fmt, rust-clippy

chore: bump version to 0.8.0
  Cargo.lock
  Cargo.toml
  charts/ferriskey-operator/Chart.yaml
  charts/ferriskey-operator/README.md
  charts/ferriskey-operator/README.md.gotmpl
  charts/ferriskey/Chart.yaml
  charts/ferriskey/README.md
Due: rust-clippy

chore: bump version to 0.8.0 (#1320)
  Cargo.lock
  Cargo.toml
  charts/ferriskey-operator/Chart.yaml
  charts/ferriskey-operator/README.md
  charts/ferriskey-operator/README.md.gotmpl
  charts/ferriskey/Chart.yaml
  charts/ferriskey/README.md
Due: rust-clippy

feat: create a realm from the realm picker
  front/src/components/shell/create-realm-dialog.tsx
  front/src/components/shell/realm-picker.tsx
Due: esint

fix: replace spaces with hyphens in a new realm name
  front/src/components/shell/create-realm-dialog.tsx
Due: esint

fix: derive a realm display name by turning hyphens back into spaces
  front/src/components/shell/create-realm-dialog.tsx
Due: esint

feat: create a realm from the realm picker (#1321)
  front/src/components/shell/create-realm-dialog.tsx
  front/src/components/shell/realm-picker.tsx
Due: esint

fix(auth): enforce user status and maintenance mode on the SSO path
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat(auth): anchor SSO on the user session instead of the access token
  Cargo.lock
  api/tests/sso_session_test.rs
  core/migrations/20260915000000_add_user_session_id_to_auth_sessions.down.sql
  core/migrations/20260915000000_add_user_session_id_to_auth_sessions.up.sql
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/saml/services.rs
  core/src/domain/trident/services.rs
  core/src/entity/auth_sessions.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
  libs/ferriskey-api-authentication/Cargo.toml
  libs/ferriskey-api-authentication/src/handlers/auth.rs
  libs/ferriskey-api-authentication/src/handlers/authentificate.rs
  libs/ferriskey-api-authentication/src/handlers/logout.rs
  libs/ferriskey-api-authentication/src/lib.rs
  libs/ferriskey-api-authentication/src/sso_cookie.rs
  libs/ferriskey-domain/src/authentication/entities.rs
Due: rust-fmt, rust-clippy

fix(auth): put a secret in the SSO cookie instead of the session id
  api/tests/sso_session_test.rs
  core/migrations/20260915010000_add_sso_token_hash_to_user_sessions.down.sql
  core/migrations/20260915010000_add_sso_token_hash_to_user_sessions.up.sql
  core/src/application/token_revocation.rs
  core/src/domain/authentication/services.rs
  core/src/entity/user_sessions.rs
  core/src/infrastructure/repositories/user_session_repository.rs
  libs/ferriskey-api-authentication/src/handlers/auth.rs
  libs/ferriskey-api-authentication/src/handlers/authentificate.rs
  libs/ferriskey-api-authentication/src/sso_cookie.rs
  libs/ferriskey-domain/src/authentication/entities.rs
  libs/ferriskey-domain/src/session/entities.rs
  libs/ferriskey-domain/src/session/ports.rs
  libs/ferriskey-domain/src/session/services.rs
Due: rust-fmt, rust-clippy

feat(seawatch): record an SSO login when a session is resumed
  api/tests/sso_session_test.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy
