Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

refactor(api): use Cow<'static, str> for ApiError static messages
  api/src/application/http/abyss/federation/handlers/create_provider.rs
  api/src/application/http/abyss/federation/handlers/update_provider.rs
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/authentificate.rs
  api/src/application/http/authentication/handlers/introspect.rs
  api/src/application/http/authentication/handlers/logout.rs
  api/src/application/http/authentication/handlers/registration.rs
  api/src/application/http/authentication/handlers/token.rs
  api/src/application/http/authentication/handlers/userinfo.rs
  api/src/application/http/error.rs
  api/src/application/http/health/handlers/health_live.rs
  api/src/application/http/health/handlers/health_ready.rs
  api/src/application/http/maintenance/handlers/add_client_whitelist_entry.rs
  api/src/application/http/maintenance/handlers/add_realm_whitelist_entry.rs
  api/src/application/http/server/api_entities/api_error.rs
  api/src/application/http/trident/handlers/burn_recovery_code.rs
  api/src/application/http/trident/handlers/challenge_otp.rs
  api/src/application/http/trident/handlers/passkey_authenticate.rs
  api/src/application/http/trident/handlers/passkey_request_options.rs
  api/src/application/http/trident/handlers/reset_password.rs
  api/src/application/http/trident/handlers/setup_otp.rs
  api/src/application/http/trident/handlers/verify_otp.rs
  api/src/application/http/trident/handlers/webauthn_public_key_authenticate.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create_options.rs
  api/src/application/http/trident/handlers/webauthn_public_key_request_options.rs
  api/src/application/http/user/errors.rs
  api/src/application/http/user/handlers/get_credentials.rs
  api/src/application/http/user/handlers/reset_password.rs
Due: rust-fmt, rust-clippy

refactor: change RealmRepository query methods from String to &str (#954)
  core/src/application/services.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/abyss/federation/services.rs
  core/src/domain/abyss/identity_provider_services.rs
  core/src/domain/aegis/services/client_scope_service.rs
  core/src/domain/aegis/services/protocol_mapper_service.rs
  core/src/domain/aegis/services/scope_mapping_service.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/compass/services.rs
  core/src/domain/credential/services.rs
  core/src/domain/email_template/services.rs
  core/src/domain/maintenance/services.rs
  core/src/domain/organization/services.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/services.rs
  core/src/domain/seawatch/services.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  core/src/domain/user/services/user_role_service.rs
  core/src/domain/webhook/services.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
Due: rust-fmt, rust-clippy

feat(front): autofocus username field on login page
  front/src/components/login-form.tsx
Due: esint

refactor(api): use Cow<'static, str> for ApiError static messages (#959)
  api/src/application/http/abyss/federation/handlers/create_provider.rs
  api/src/application/http/abyss/federation/handlers/update_provider.rs
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/authentificate.rs
  api/src/application/http/authentication/handlers/introspect.rs
  api/src/application/http/authentication/handlers/logout.rs
  api/src/application/http/authentication/handlers/registration.rs
  api/src/application/http/authentication/handlers/token.rs
  api/src/application/http/authentication/handlers/userinfo.rs
  api/src/application/http/error.rs
  api/src/application/http/health/handlers/health_live.rs
  api/src/application/http/health/handlers/health_ready.rs
  api/src/application/http/maintenance/handlers/add_client_whitelist_entry.rs
  api/src/application/http/maintenance/handlers/add_realm_whitelist_entry.rs
  api/src/application/http/server/api_entities/api_error.rs
  api/src/application/http/trident/handlers/burn_recovery_code.rs
  api/src/application/http/trident/handlers/challenge_otp.rs
  api/src/application/http/trident/handlers/passkey_authenticate.rs
  api/src/application/http/trident/handlers/passkey_request_options.rs
  api/src/application/http/trident/handlers/reset_password.rs
  api/src/application/http/trident/handlers/setup_otp.rs
  api/src/application/http/trident/handlers/verify_otp.rs
  api/src/application/http/trident/handlers/webauthn_public_key_authenticate.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create_options.rs
  api/src/application/http/trident/handlers/webauthn_public_key_request_options.rs
  api/src/application/http/user/errors.rs
  api/src/application/http/user/handlers/get_credentials.rs
  api/src/application/http/user/handlers/reset_password.rs
Due: rust-fmt, rust-clippy

feat(front): autofocus username field on login page (#961)
  front/src/components/login-form.tsx
Due: esint

feat(entity): add email verification fields and token entity
  core/src/entity/email_verification_tokens.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_settings.rs
Due: rust-fmt, rust-clippy

feat(db): add email verification migrations
  core/migrations/20260401000000_create_email_verification_tokens.down.sql
  core/migrations/20260401000000_create_email_verification_tokens.up.sql
  core/migrations/20260401000001_add_email_verification_enabled.down.sql
  core/migrations/20260401000001_add_email_verification_enabled.up.sql
  core/migrations/20260402000000_add_email_verification_ttl_to_realm_settings.down.sql
  core/migrations/20260402000000_add_email_verification_ttl_to_realm_settings.up.sql
Due: none

feat(domain): add email verification domain layer
  core/src/domain/email_verification/entities.rs
  core/src/domain/email_verification/mod.rs
  core/src/domain/email_verification/ports.rs
  core/src/domain/email_verification/services.rs
  core/src/domain/mod.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat(infra): add email verification repository and DI wiring
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/email_verification_token_repository.rs
Due: rust-fmt, rust-clippy

feat(realm): add email verification settings to realm configuration
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  libs/ferriskey-domain/src/realm/mod.rs
Due: rust-fmt, rust-clippy

feat(api): add verify-email endpoint and error handling
  api/src/application/http/authentication/handlers.rs
  api/src/application/http/authentication/handlers/verify_email.rs
  api/src/application/http/authentication/router.rs
  api/src/application/http/error.rs
Due: rust-fmt, rust-clippy

feat(auth): update registration flow for email verification
  api/src/application/http/authentication/handlers/registration.rs
  core/src/application/auth/mod.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  front/src/pages/authentication/feature/page-register-feature.tsx
Due: rust-fmt, rust-clippy, esint

feat(frontend): add email verification pages and routing
  front/src/pages/authentication/feature/execution/verify-email-feature.tsx
  front/src/pages/authentication/feature/page-check-your-email.tsx
  front/src/pages/authentication/feature/page-verify-email.tsx
  front/src/pages/authentication/page-authentication.tsx
  front/src/pages/authentication/ui/page-required-action.tsx
Due: esint

fix: address PR review comments
  api/src/application/http/authentication/handlers/verify_email.rs
  core/migrations/20260402000000_add_email_verification_ttl_to_realm_settings.up.sql
  core/src/domain/authentication/services.rs
  core/src/domain/email_verification/ports.rs
  core/src/domain/email_verification/services.rs
  core/src/infrastructure/repositories/email_verification_token_repository.rs
  front/src/pages/authentication/feature/page-check-your-email.tsx
  front/src/pages/authentication/feature/page-verify-email.tsx
Due: rust-fmt, rust-clippy, esint

feat(http/authentication): update registration handler for pending emails
  api/src/application/http/authentication/handlers/registration.rs
  front/src/api/api.client.ts
  front/src/hooks/use-verify-email.ts
  front/src/pages/authentication/feature/page-verify-email.tsx
Due: rust-fmt, rust-clippy, esint

feat(api): update verify email endpoint path in API client code
  api/src/application/http/authentication/handlers/verify_email.rs
  front/src/api/api.client.ts
Due: rust-fmt, rust-clippy, esint

fix(authentication): update classNames from double quotes to single quotes
  front/src/pages/authentication/feature/page-verify-email.tsx
Due: esint

feat(api): update verify email handler to use POST method and adjust request structure
  api/src/application/http/authentication/handlers/verify_email.rs
  api/src/application/http/authentication/router.rs
  front/src/api/api.client.ts
  front/src/api/auth.api.ts
  front/src/hooks/use-verify-email.ts
Due: rust-fmt, rust-clippy, esint

fix(db): renumber email verification migrations
  core/migrations/20260414000002_create_email_verification_tokens.down.sql
  core/migrations/20260414000002_create_email_verification_tokens.up.sql
  core/migrations/20260414000003_add_email_verification_enabled.down.sql
  core/migrations/20260414000003_add_email_verification_enabled.up.sql
  core/migrations/20260414000004_add_email_verification_ttl_to_realm_settings.down.sql
  core/migrations/20260414000004_add_email_verification_ttl_to_realm_settings.up.sql
Due: none

fix: adapt email verification to main API changes
  api/src/application/http/error.rs
  core/src/domain/email_verification/services.rs
Due: rust-fmt, rust-clippy

feat(email-verification): integrate email verification service into user registration flow
  core/src/application/auth/mod.rs
  core/src/domain/email_verification/services.rs
Due: rust-fmt, rust-clippy

fix(auth): streamline user registration verification logic
  core/src/application/auth/mod.rs
Due: rust-fmt, rust-clippy

feat(email-verification): enhance registration flow with email verification service integration
  api/src/application/http/authentication/handlers/registration.rs
  core/src/application/auth/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat: add cargo-chef and dump the rust version `1.95`
  Dockerfile
Due: hadolint

feat: create signoz dashboard
  docs/ferriskey-signoz-dashboard.json
Due: none

feat: add cargo-chef and dump the rust version `1.95` (#963)
  Dockerfile
  docs/ferriskey-signoz-dashboard.json
Due: hadolint

feat: improve UI totp
  docker-compose.yaml
  front/src/pages/authentication/ui/execution/configure-otp.tsx
  front/src/pages/authentication/ui/page-otp-challenge.tsx
Due: esint

feat: improve UI totp (#964)
  docker-compose.yaml
  front/src/pages/authentication/ui/execution/configure-otp.tsx
  front/src/pages/authentication/ui/page-otp-challenge.tsx
Due: esint

feat: add portal domain module with layout configurator foundation
  api/src/application/http/error.rs
  core/migrations/20260502000001_create_realm_portal_configs.down.sql
  core/migrations/20260502000001_create_realm_portal_configs.up.sql
  core/src/application/mod.rs
  core/src/application/portal/mod.rs
  core/src/application/services.rs
  core/src/domain/mod.rs
  core/src/domain/portal/entities.rs
  core/src/domain/portal/mod.rs
  core/src/domain/portal/policies.rs
  core/src/domain/portal/ports.rs
  core/src/domain/portal/services.rs
  core/src/domain/role/entities/permission.rs
  core/src/domain/role/services.rs
  core/src/entity/mod.rs
  core/src/entity/realm_portal_configs.rs
  core/src/infrastructure/mod.rs
  core/src/infrastructure/portal/mappers.rs
  core/src/infrastructure/portal/mod.rs
  core/src/infrastructure/portal/repositories/mod.rs
  core/src/infrastructure/portal/repositories/portal_repository.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

fix(front): append /details to client-scope links from a Client (#962)
  front/src/pages/client/ui/components/assigned-scopes-table.tsx
  front/src/pages/client/ui/page-client-scopes.tsx
Due: esint

fix(front): append /details to client-scope links from a Client (#962) (#966)
  front/src/pages/client/ui/components/assigned-scopes-table.tsx
  front/src/pages/client/ui/page-client-scopes.tsx
Due: esint

feat: improve UI & add button to copy client-secret and refactor user's section UI
  front/src/pages/client/ui/page-client-credentials.tsx
  front/src/pages/user/columns/list-user-credential.column.tsx
  front/src/pages/user/columns/list-user-organizations.column.tsx
  front/src/pages/user/columns/list-user-roles.column.tsx
  front/src/pages/user/ui/page-credentials.tsx
  front/src/pages/user/ui/page-user-organizations.tsx
  front/src/pages/user/ui/page-user-role-mapping.tsx
Due: esint

feat: allow optional identoty fields
  api/src/application/http/test.rs
  api/src/application/http/user/validators.rs
  core/migrations/20260503230858_make_user_fields_optional.down.sql
  core/migrations/20260503230858_make_user_fields_optional.up.sql
  core/src/application/mod.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/abyss/federation/services.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/abyss/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/email_template/services.rs
  core/src/domain/organization/services.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  core/src/entity/users.rs
  front/src/api/api.client.ts
  front/src/api/core.interface.ts
  front/src/pages/user/validators.ts
  libs/ferriskey-domain/src/user/commands.rs
  libs/ferriskey-domain/src/user/entities.rs
  libs/ferriskey-domain/src/user/value_objects.rs
Due: rust-fmt, rust-clippy, esint

feat: improve UI & add button to copy client-secret and refactor user's (#967)
  front/src/pages/client/ui/page-client-credentials.tsx
  front/src/pages/user/columns/list-user-credential.column.tsx
  front/src/pages/user/columns/list-user-organizations.column.tsx
  front/src/pages/user/columns/list-user-roles.column.tsx
  front/src/pages/user/ui/page-credentials.tsx
  front/src/pages/user/ui/page-user-organizations.tsx
  front/src/pages/user/ui/page-user-role-mapping.tsx
Due: esint

feat: allow optional identoty fields (#968)
  api/src/application/http/test.rs
  api/src/application/http/user/validators.rs
  core/migrations/20260503230858_make_user_fields_optional.down.sql
  core/migrations/20260503230858_make_user_fields_optional.up.sql
  core/src/application/mod.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/abyss/federation/services.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/abyss/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/email_template/services.rs
  core/src/domain/organization/services.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  core/src/entity/users.rs
  front/src/api/api.client.ts
  front/src/api/core.interface.ts
  front/src/pages/user/validators.ts
  libs/ferriskey-domain/src/user/commands.rs
  libs/ferriskey-domain/src/user/entities.rs
  libs/ferriskey-domain/src/user/value_objects.rs
Due: rust-fmt, rust-clippy, esint

fix(front): remove explicit value prop from SMTP Port input
  front/src/pages/realm/ui/page-realm-settings-smtp.tsx
Due: esint

feat: add standalone docker + CI
  .github/workflows/docker.yaml
  Dockerfile
  docker-compose.yaml
  docker/standalone-entrypoint.sh
  docker/supervisord.conf
  front/nginx-standalone.conf
Due: hadolint, shellcheck

fix(front): treat NaN number value as empty string and forward valueAsNumber to onChange
  front/src/components/ui/input-text.tsx
Due: esint

feat(front): add onBlur to InputText and restore SMTP port fallback on blur
  front/src/components/ui/input-text.tsx
  front/src/pages/realm/ui/page-realm-settings-smtp.tsx
Due: esint

wip
  core/src/domain/realm/services.rs
  core/src/domain/role/entities/permission.rs
  core/src/domain/role/services.rs
Due: rust-fmt, rust-clippy
