Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

enhance: switch CRD and Rust structs to camelCase field names
  operator/crds/crd-ferriskeycluster.yaml
  operator/src/infrastructure/cluster/crds.rs
Due: rust-fmt, rust-clippy

feat(tests-on-domain): Add tests for authentication app
  Cargo.lock
  core/Cargo.toml
  core/src/application/authentication/mod.rs
  core/src/application/authentication/services.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services/grant_type_service.rs
  core/src/domain/client/ports.rs
  core/src/domain/common/ports.rs
  core/src/domain/credential/ports.rs
  core/src/domain/health/ports.rs
  core/src/domain/jwt/ports.rs
  core/src/domain/mod.rs
  core/src/domain/realm/ports.rs
  core/src/domain/role/ports.rs
  core/src/domain/user/ports.rs
  core/src/domain/webhook/ports.rs
  core/src/infrastructure/auth_session/mod.rs
  core/src/infrastructure/client/repositories.rs
  core/src/infrastructure/credential/mod.rs
  core/src/infrastructure/health/mod.rs
  core/src/infrastructure/jwt/mod.rs
  core/src/infrastructure/realm/repositories.rs
  core/src/infrastructure/refresh_token/mod.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/role/repositories.rs
  core/src/infrastructure/user.rs
  core/src/infrastructure/user/repositories/user_required_action_repository.rs
  core/src/infrastructure/user/repositories/user_role_repository.rs
  core/src/infrastructure/webhook/repositories/webhook_notifier_repository.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
Due: rust-fmt, rust-clippy

feat(tests-on-domain): Add tests
  core/src/application/authentication/mod.rs
  core/src/domain/authentication/services/auth_session_service.rs
  core/src/domain/authentication/services/grant_type_service.rs
  core/src/domain/user/services/user_role_service.rs
  core/src/domain/webhook/services/webhook_notifier_service.rs
Due: rust-fmt, rust-clippy

fix: front/package.json to reduce vulnerabilities
  front/package.json
Due: none

fix: upgrade zod from 3.24.2 to 3.25.76
  front/package.json
Due: none

fix: upgrade @radix-ui/react-tooltip from 1.1.8 to 1.2.8
  front/package.json
Due: none

fix: upgrade @radix-ui/react-dialog from 1.1.6 to 1.1.15
  front/package.json
Due: none

fix: upgrade @tanstack/react-query from 5.72.2 to 5.87.4
  front/package.json
Due: none

test: add mock cluster repository and tests for operator
  Cargo.lock
  core/src/application/realm/service.rs
  core/src/domain/client/value_objects.rs
  operator/Cargo.toml
  operator/src/application/cluster/controller.rs
  operator/src/application/cluster/mod.rs
  operator/src/application/mod.rs
  operator/src/application/services.rs
  operator/src/application/services/cluster.rs
  operator/src/domain/common/mod.rs
  operator/src/domain/mod.rs
  operator/src/infrastructure/cluster/mod.rs
  operator/src/infrastructure/cluster/repositories.rs
  operator/src/infrastructure/cluster/repositories/mock.rs
  operator/src/infrastructure/mod.rs
  operator/src/main.rs
  operator/test-cluster.yaml
Due: rust-fmt, rust-clippy

fix: refactor domain and application layers for testability and modularity
  Cargo.lock
  operator/Cargo.toml
  operator/src/application/cluster/controller.rs
  operator/src/application/mod.rs
  operator/src/application/services.rs
  operator/src/application/services/cluster.rs
  operator/src/domain/cluster/entities.rs
  operator/src/domain/cluster/mod.rs
  operator/src/domain/cluster/ports.rs
  operator/src/domain/cluster/services.rs
  operator/src/domain/common/mod.rs
  operator/src/domain/common/services.rs
  operator/src/infrastructure/cluster/manifests/api/deployment.rs
  operator/src/infrastructure/cluster/manifests/api/job.rs
  operator/src/infrastructure/cluster/manifests/api/secret.rs
  operator/src/infrastructure/cluster/manifests/api/service.rs
  operator/src/infrastructure/cluster/manifests/mod.rs
  operator/src/infrastructure/cluster/repositories.rs
  operator/src/infrastructure/cluster/repositories/k8s.rs
  operator/src/infrastructure/cluster/repositories/mock.rs
  operator/src/infrastructure/cluster/repositories/mod.rs
  operator/src/infrastructure/ferriskey_client.rs
  operator/src/infrastructure/mod.rs
  operator/src/main.rs
Due: rust-fmt, rust-clippy

fix: refactor match arm to inline client user retrieval
  core/src/application/realm/service.rs
Due: rust-fmt, rust-clippy

fix: upgrade @tanstack/react-query from 5.72.2 to 5.89.0
  front/package.json
Due: none

fix: upgrade lucide-react from 0.483.0 to 0.544.0
  front/package.json
Due: none

fix: upgrade @radix-ui/react-dropdown-menu from 2.1.7 to 2.1.16
  front/package.json
Due: none

fix: upgrade @radix-ui/react-collapsible from 1.1.4 to 1.1.12
  front/package.json
Due: none

fix: upgrade tw-animate-css from 1.2.4 to 1.3.8
  front/package.json
Due: none

refactor: add FerriskeyPolicy and service layer for policy-based access control
  core/src/application/mod.rs
  core/src/domain/client/mod.rs
  core/src/domain/client/policies.rs
  core/src/domain/common/mod.rs
  core/src/domain/common/policies.rs
  core/src/domain/common/services.rs
  core/src/domain/realm/mod.rs
  core/src/domain/realm/policies.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/mod.rs
  core/src/domain/role/policies.rs
Due: rust-fmt, rust-clippy

refactor: update core traits for testability and remove unnecessary Clone bounds
  Cargo.lock
  core/Cargo.toml
  core/src/domain/authentication/ports.rs
  core/src/domain/client/ports.rs
  core/src/domain/common/policies.rs
  core/src/domain/common/ports.rs
  core/src/domain/common/services.rs
  core/src/domain/credential/ports.rs
  core/src/domain/crypto/ports.rs
  core/src/domain/health/ports.rs
  core/src/domain/jwt/ports.rs
  core/src/domain/realm/ports.rs
  core/src/domain/role/entities/permission.rs
  core/src/domain/role/policies.rs
  core/src/domain/role/ports.rs
  core/src/domain/role/services.rs
  core/src/domain/session/ports.rs
  core/src/domain/trident/ports.rs
  core/src/domain/user/ports.rs
  core/src/domain/webhook/ports.rs
  core/src/domain/webhook/services/webhook_notifier_service.rs
Due: rust-fmt, rust-clippy

feat: add tests for role service permission scenarios
  core/src/domain/client/entities.rs
  core/src/domain/common/services.rs
  core/src/domain/role/services.rs
Due: rust-fmt, rust-clippy

refactor: replace .times(1) with .once() in test mocks
  core/src/domain/common/services.rs
Due: rust-fmt, rust-clippy

fix: add mockall as a dev-dependency
  core/Cargo.toml
Due: rust-clippy

fix: derive Clone for Service struct
  core/src/domain/common/services.rs
Due: rust-fmt, rust-clippy

fix: typo in firstname input label
  front/src/pages/user/ui/create-user-modal.tsx
Due: esint

fix: upgrade @tanstack/react-query from 5.72.2 to 5.90.2
  front/package.json
Due: none

fix: upgrade motion from 12.12.1 to 12.23.22
  front/package.json
Due: none

fix: upgrade tw-animate-css from 1.2.4 to 1.4.0
  front/package.json
Due: none

fix: upgrade react-router from 7.4.0 to 7.9.2
  front/package.json
Due: none

fix: upgrade react-router-dom from 7.4.0 to 7.9.2
  front/package.json
Due: none

fix: improve error handling and add Debug to config structs
  api/src/application/http/server/http_server.rs
  core/src/application/mod.rs
  core/src/domain/common/mod.rs
Due: rust-fmt, rust-clippy

feat: add webhook and recovery code endpoints to OpenAPI and client
  front/README.md
  front/openapi.yaml
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
Due: esint

fix: remove client_id from role deletion API calls
  front/src/pages/client/feature/page-client-roles-feature.tsx
  front/src/pages/role/feature/page-roles-overview-feature.tsx
Due: esint

feat: add operator Helm chart
  charts/operator/.helmignore
  charts/operator/Chart.yaml
  charts/operator/templates/_helpers.tpl
  charts/operator/templates/deployment.yaml
  charts/operator/values.yaml
Due: none

fix: upgrade dependencies and update lockfile
  front/package.json
  front/pnpm-lock.yaml
  front/src/utils/index.ts
Due: esint

feat: merge common/operator values and add pod template
  charts/operator/templates/deployment.yaml
Due: none

fix: upgrade react from 19.1.0 to 19.2.0
  front/package.json
Due: none

fix: upgrade react-dom from 19.1.0 to 19.2.0
  front/package.json
Due: none

fix: upgrade react-router from 7.4.0 to 7.9.3
  front/package.json
Due: none

fix: upgrade react-router-dom from 7.4.0 to 7.9.3
  front/package.json
Due: none

fix: upgrade @tanstack/react-query-devtools from 5.77.2 to 5.90.2
  front/package.json
Due: none
