Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

feat: enhance email verification and error handling (#991)
  api/src/application/http/error.rs
  core/src/domain/email_verification/services.rs
  core/src/infrastructure/user/repository.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat(charts): add Helm chart for the Ferriskey operator (#988)
  .github/workflows/helm.yaml
  charts/ferriskey-operator/.helmignore
  charts/ferriskey-operator/Chart.yaml
  charts/ferriskey-operator/README.md.gotmpl
  charts/ferriskey-operator/templates/_helpers.yaml
  charts/ferriskey-operator/templates/crd.yaml
  charts/ferriskey-operator/templates/operator/cluster-role-binding.yaml
  charts/ferriskey-operator/templates/operator/cluster-role.yaml
  charts/ferriskey-operator/templates/operator/deployment.yaml
  charts/ferriskey-operator/templates/operator/service-account.yaml
  charts/ferriskey-operator/templates/validate.yaml
  charts/ferriskey-operator/values.yaml
  sh/helm-docs.sh
Due: shellcheck

fix(operator): install rustls crypto provider before TLS init (#990)
  Cargo.lock
  operator/Cargo.toml
  operator/src/main.rs
Due: rust-fmt, rust-clippy

fix(auth-session): reset authenticated flag when reissuing an authorization code
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

fix(auth-session): address CodeRabbit review findings
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

wip
  front/src/api/api.client.ts
Due: esint

feat: add migration and collapse policy
  core/migrations/20260517000000_create_portal_layouts.down.sql
  core/migrations/20260517000000_create_portal_layouts.up.sql
  core/src/domain/portal_layouts/policies.rs
  core/src/domain/portal_layouts/ports.rs
  core/src/domain/portal_layouts/services.rs
Due: rust-fmt, rust-clippy

feat: add migration and collapse policy (#1001)
  core/migrations/20260517000000_create_portal_layouts.down.sql
  core/migrations/20260517000000_create_portal_layouts.up.sql
  core/src/domain/portal_layouts/policies.rs
  core/src/domain/portal_layouts/ports.rs
  core/src/domain/portal_layouts/services.rs
Due: rust-fmt, rust-clippy

feat: add postgres repository and wire into ApplicationService
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/entity/mod.rs
  core/src/entity/portal_layouts.rs
  core/src/entity/prelude.rs
  core/src/entity/realms.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/portal_layouts_repository.rs
Due: rust-fmt, rust-clippy

wip
  core/src/infrastructure/repositories/portal_layouts_repository.rs
Due: rust-fmt, rust-clippy

feat: add postgres repository and wire into ApplicationService (#1002)
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/entity/mod.rs
  core/src/entity/portal_layouts.rs
  core/src/entity/prelude.rs
  core/src/entity/realms.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/portal_layouts_repository.rs
Due: rust-fmt, rust-clippy

feat: expose portal layouts HTTP endpoints
  api/src/application/http.rs
  api/src/application/http/portal_layouts/handlers/create_layout.rs
  api/src/application/http/portal_layouts/handlers/delete_layout.rs
  api/src/application/http/portal_layouts/handlers/get_layout.rs
  api/src/application/http/portal_layouts/handlers/get_public_default_layout.rs
  api/src/application/http/portal_layouts/handlers/list_layouts.rs
  api/src/application/http/portal_layouts/handlers/mod.rs
  api/src/application/http/portal_layouts/handlers/set_default_layout.rs
  api/src/application/http/portal_layouts/handlers/update_layout.rs
  api/src/application/http/portal_layouts/mod.rs
  api/src/application/http/portal_layouts/router.rs
  api/src/application/http/portal_layouts/validators.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
  core/src/application/mod.rs
  core/src/application/portal_layouts/mod.rs
Due: rust-fmt, rust-clippy

feat: expose portal layouts HTTP endpoints (#1003)
  api/src/application/http.rs
  api/src/application/http/portal_layouts/handlers/create_layout.rs
  api/src/application/http/portal_layouts/handlers/delete_layout.rs
  api/src/application/http/portal_layouts/handlers/get_layout.rs
  api/src/application/http/portal_layouts/handlers/get_public_default_layout.rs
  api/src/application/http/portal_layouts/handlers/list_layouts.rs
  api/src/application/http/portal_layouts/handlers/mod.rs
  api/src/application/http/portal_layouts/handlers/set_default_layout.rs
  api/src/application/http/portal_layouts/handlers/update_layout.rs
  api/src/application/http/portal_layouts/mod.rs
  api/src/application/http/portal_layouts/router.rs
  api/src/application/http/portal_layouts/validators.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
  core/src/application/mod.rs
  core/src/application/portal_layouts/mod.rs
Due: rust-fmt, rust-clippy

feat: portal layouts admin pages and public layout wrapper
  front/src/api/api.client.ts
  front/src/api/portal-layouts.api.ts
  front/src/components/nav-configuration.tsx
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/authentication/page-authentication.tsx
  front/src/pages/portal-layouts/feature/page-portal-layout-builder-feature.tsx
  front/src/pages/portal-layouts/feature/page-portal-layouts-list-feature.tsx
  front/src/pages/portal-layouts/page-portal-layouts.tsx
  front/src/pages/portal-layouts/ui/page-portal-layout-builder.tsx
  front/src/pages/portal-layouts/ui/page-portal-layouts-list.tsx
  front/src/pages/portal-theme/page-portal-theme.tsx
  front/src/routes/sub-router/portal-layouts.router.ts
Due: esint

feat: portal layouts admin pages and public layout wrapper (#1004)
  front/src/api/api.client.ts
  front/src/api/portal-layouts.api.ts
  front/src/components/nav-configuration.tsx
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/authentication/page-authentication.tsx
  front/src/pages/portal-layouts/feature/page-portal-layout-builder-feature.tsx
  front/src/pages/portal-layouts/feature/page-portal-layouts-list-feature.tsx
  front/src/pages/portal-layouts/page-portal-layouts.tsx
  front/src/pages/portal-layouts/ui/page-portal-layout-builder.tsx
  front/src/pages/portal-layouts/ui/page-portal-layouts-list.tsx
  front/src/pages/portal-theme/page-portal-theme.tsx
  front/src/routes/sub-router/portal-layouts.router.ts
Due: esint

wip
  core/migrations/20260517120000_portal_themes_per_page_trees.down.sql
  core/migrations/20260517120000_portal_themes_per_page_trees.up.sql
  core/src/entity/portal_themes.rs
  core/src/entity/realm_settings.rs
  core/src/infrastructure/repositories/portal_theme_repository.rs
Due: rust-fmt, rust-clippy

wip
  core/src/entity/portal_layouts.rs
  core/src/entity/portal_themes.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
Due: rust-fmt, rust-clippy

feat: portal themes per page trees migration (#1005)
  core/migrations/20260517120000_portal_themes_per_page_trees.down.sql
  core/migrations/20260517120000_portal_themes_per_page_trees.up.sql
  core/src/entity/portal_layouts.rs
  core/src/entity/portal_themes.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
  core/src/infrastructure/repositories/portal_theme_repository.rs
Due: rust-fmt, rust-clippy

feat: add per-page collection domain to portal_themes
  api/src/application/http/error.rs
  core/src/application/portal_theme/mod.rs
  core/src/domain/portal_theme/entities.rs
  core/src/domain/portal_theme/mod.rs
  core/src/domain/portal_theme/ports.rs
  core/src/domain/portal_theme/services.rs
  core/src/domain/portal_theme/validation.rs
  core/src/infrastructure/repositories/portal_theme_repository.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: add per-page collection domain to portal_themes (#1006)
  api/src/application/http/error.rs
  core/src/application/portal_theme/mod.rs
  core/src/domain/portal_theme/entities.rs
  core/src/domain/portal_theme/mod.rs
  core/src/domain/portal_theme/ports.rs
  core/src/domain/portal_theme/services.rs
  core/src/domain/portal_theme/validation.rs
  core/src/infrastructure/repositories/portal_theme_repository.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: expose portal themes collection HTTP endpoints
  api/src/application/http/error.rs
  api/src/application/http/portal_theme/handlers/activate_theme.rs
  api/src/application/http/portal_theme/handlers/create_theme.rs
  api/src/application/http/portal_theme/handlers/delete_theme.rs
  api/src/application/http/portal_theme/handlers/get_active_theme.rs
  api/src/application/http/portal_theme/handlers/get_page_requirements.rs
  api/src/application/http/portal_theme/handlers/get_theme_by_id.rs
  api/src/application/http/portal_theme/handlers/list_themes.rs
  api/src/application/http/portal_theme/handlers/mod.rs
  api/src/application/http/portal_theme/handlers/update_theme_metadata.rs
  api/src/application/http/portal_theme/handlers/update_theme_page.rs
  api/src/application/http/portal_theme/router.rs
  api/src/application/http/portal_theme/validators.rs
  api/src/application/http/server/openapi.rs
  core/src/domain/portal_layouts/ports.rs
  core/src/domain/portal_layouts/services.rs
  core/src/infrastructure/repositories/portal_layouts_repository.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: expose portal themes collection HTTP endpoints (#1007)
  api/src/application/http/error.rs
  api/src/application/http/portal_theme/handlers/activate_theme.rs
  api/src/application/http/portal_theme/handlers/create_theme.rs
  api/src/application/http/portal_theme/handlers/delete_theme.rs
  api/src/application/http/portal_theme/handlers/get_active_theme.rs
  api/src/application/http/portal_theme/handlers/get_page_requirements.rs
  api/src/application/http/portal_theme/handlers/get_theme_by_id.rs
  api/src/application/http/portal_theme/handlers/list_themes.rs
  api/src/application/http/portal_theme/handlers/mod.rs
  api/src/application/http/portal_theme/handlers/update_theme_metadata.rs
  api/src/application/http/portal_theme/handlers/update_theme_page.rs
  api/src/application/http/portal_theme/router.rs
  api/src/application/http/portal_theme/validators.rs
  api/src/application/http/server/openapi.rs
  core/src/domain/portal_layouts/ports.rs
  core/src/domain/portal_layouts/services.rs
  core/src/infrastructure/repositories/portal_layouts_repository.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: wire portal renderer to active theme + spacing tokens
  api/src/application/http/portal_theme/handlers/activate_theme.rs
  api/src/application/http/portal_theme/handlers/create_theme.rs
  api/src/application/http/portal_theme/handlers/delete_theme.rs
  api/src/application/http/portal_theme/handlers/get_active_theme.rs
  api/src/application/http/portal_theme/handlers/get_page_requirements.rs
  api/src/application/http/portal_theme/handlers/get_theme.rs
  api/src/application/http/portal_theme/handlers/get_theme_by_id.rs
  api/src/application/http/portal_theme/handlers/list_themes.rs
  api/src/application/http/portal_theme/handlers/update_theme.rs
  api/src/application/http/portal_theme/handlers/update_theme_metadata.rs
  api/src/application/http/portal_theme/handlers/update_theme_page.rs
  api/src/application/http/portal_theme/router.rs
  front/src/api/api.client.ts
  front/src/api/portal-theme.api.ts
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/authentication/page-authentication.tsx
  front/src/pages/portal-theme/lib/theme.ts
Due: rust-fmt, rust-clippy, esint

feat: wire portal renderer to active theme and spacing tokens (#1008)
  api/src/application/http/portal_theme/handlers/activate_theme.rs
  api/src/application/http/portal_theme/handlers/create_theme.rs
  api/src/application/http/portal_theme/handlers/delete_theme.rs
  api/src/application/http/portal_theme/handlers/get_active_theme.rs
  api/src/application/http/portal_theme/handlers/get_page_requirements.rs
  api/src/application/http/portal_theme/handlers/get_theme.rs
  api/src/application/http/portal_theme/handlers/get_theme_by_id.rs
  api/src/application/http/portal_theme/handlers/list_themes.rs
  api/src/application/http/portal_theme/handlers/update_theme.rs
  api/src/application/http/portal_theme/handlers/update_theme_metadata.rs
  api/src/application/http/portal_theme/handlers/update_theme_page.rs
  api/src/application/http/portal_theme/router.rs
  front/src/api/api.client.ts
  front/src/api/portal-theme.api.ts
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/authentication/page-authentication.tsx
  front/src/pages/portal-theme/lib/theme.ts
Due: rust-fmt, rust-clippy, esint

wip
  api/src/application/http/portal_layouts/handlers/get_public_layout.rs
  api/src/application/http/portal_layouts/handlers/mod.rs
  api/src/application/http/portal_layouts/router.rs
  api/src/application/http/portal_theme/handlers/get_active_theme.rs
  core/src/application/portal_layouts/mod.rs
  core/src/domain/portal_layouts/ports.rs
  core/src/domain/portal_layouts/services.rs
  front/src/App.tsx
  front/src/api/api.client.ts
  front/src/api/portal-layouts.api.ts
  front/src/components/nav-configuration.tsx
  front/src/lib/builder-core/components/builder-shell.tsx
  front/src/lib/builder-core/components/canvas.tsx
  front/src/lib/builder-portal/components.tsx
  front/src/lib/builder-portal/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-portal/index.ts
  front/src/lib/builder-portal/renderer.tsx
  front/src/lib/builder-portal/visual-blocks/visual-block-registry.tsx
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/authentication/hooks/use-portal-page-submit.ts
  front/src/pages/portal-layouts/components/layout-component-library.tsx
  front/src/pages/portal-layouts/ui/page-portal-layout-builder.tsx
  front/src/pages/portal/page-portal.tsx
  front/src/pages/portal/themes/components/page-component-library.tsx
  front/src/pages/portal/themes/components/page-tree-editor.tsx
  front/src/pages/portal/themes/feature/page-theme-builder-feature.tsx
  front/src/pages/portal/themes/feature/page-themes-list-feature.tsx
  front/src/pages/portal/themes/ui/page-theme-builder.tsx
  front/src/pages/portal/themes/ui/page-themes-list.tsx
  front/src/routes/sub-router/portal-theme.router.ts
Due: rust-fmt, rust-clippy, esint

wip
  front/package.json
  front/pnpm-lock.yaml
  front/src/lib/builder-core/components/builder-shell.tsx
  front/src/lib/builder-core/components/canvas.tsx
  front/src/lib/builder-portal/components/canvas-frame.tsx
  front/src/lib/builder-portal/renderer.tsx
  front/src/lib/builder-portal/visual-blocks/visual-block-registry.tsx
  front/src/pages/portal-layouts/feature/page-portal-layout-builder-feature.tsx
  front/src/pages/portal-layouts/ui/page-portal-layout-builder.tsx
  front/src/pages/portal/themes/components/page-tree-editor.tsx
Due: esint

wip
  front/src/lib/builder-core/components/selection-breadcrumb.tsx
  front/src/lib/builder-core/context.tsx
  front/src/lib/builder-core/index.ts
  front/src/lib/builder-core/types.ts
  front/src/lib/builder-core/utils.ts
  front/src/lib/builder-portal/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-portal/visual-blocks/visual-block-registry.tsx
  front/src/pages/portal-layouts/ui/page-portal-layout-builder.tsx
  front/src/pages/portal/themes/components/page-tree-editor.tsx
Due: esint

wip
  front/src/components/top-bar.tsx
  front/src/lib/builder-core/breakpoint-context.tsx
  front/src/lib/builder-core/components/canvas.tsx
  front/src/lib/builder-core/components/component-tree.tsx
  front/src/lib/builder-core/components/config-panel.tsx
  front/src/lib/builder-core/context.tsx
  front/src/lib/builder-core/index.ts
  front/src/lib/builder-core/types.ts
  front/src/lib/builder-portal/breakpoints.ts
  front/src/lib/builder-portal/components/canvas-frame.tsx
  front/src/lib/builder-portal/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-portal/index.ts
  front/src/lib/builder-portal/renderer.tsx
  front/src/lib/builder-portal/visual-blocks/visual-block-registry.tsx
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/portal-layouts/components/layout-component-library.tsx
  front/src/pages/portal-layouts/components/sidebar-tabs.tsx
  front/src/pages/portal-layouts/ui/page-portal-layout-builder.tsx
  front/src/pages/portal/page-portal.tsx
  front/src/pages/portal/themes/components/page-component-library.tsx
  front/src/pages/portal/themes/components/page-tree-editor.tsx
Due: esint

wip
  front/src/pages/portal-layouts/ui/page-portal-layout-builder.tsx
  front/src/pages/portal/page-portal.tsx
  front/src/pages/portal/themes/components/page-tree-editor.tsx
Due: esint

feat(compass): add daily activity stats endpoint
  api/src/application/http/compass/handlers/get_daily_activity_stats.rs
  api/src/application/http/compass/handlers/mod.rs
  api/src/application/http/compass/router.rs
  core/src/application/compass/mod.rs
  core/src/domain/compass/services.rs
  core/src/infrastructure/compass/repositories/compass_flow_postgres_repository.rs
  front/src/api/api.client.ts
  front/src/api/compass.api.ts
  front/src/pages/activity/feature/page-live-activity-feature.tsx
  front/src/pages/activity/ui/page-live-activity.tsx
  libs/ferriskey-compass/src/ports.rs
  libs/ferriskey-compass/src/value_objects.rs
Due: rust-fmt, rust-clippy, esint

fix: format files
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
Due: esint

feat: add basic auth support
  api/src/application/http/authentication.rs
  api/src/application/http/authentication/basic_auth.rs
  api/src/application/http/authentication/handlers/introspect.rs
  api/src/application/http/authentication/handlers/openid_configuration.rs
  api/src/application/http/authentication/handlers/token.rs
  api/src/application/http/authentication/validators.rs
  api/tests/token_basic_auth_test.rs
Due: rust-fmt, rust-clippy

feat: ciam daily activity stats (#1011)
  api/src/application/http/compass/handlers/get_daily_activity_stats.rs
  api/src/application/http/compass/handlers/mod.rs
  api/src/application/http/compass/router.rs
  core/src/application/compass/mod.rs
  core/src/domain/compass/services.rs
  core/src/infrastructure/compass/repositories/compass_flow_postgres_repository.rs
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
  front/src/api/compass.api.ts
  front/src/pages/activity/feature/page-live-activity-feature.tsx
  front/src/pages/activity/ui/page-live-activity.tsx
  libs/ferriskey-compass/src/ports.rs
  libs/ferriskey-compass/src/value_objects.rs
Due: rust-fmt, rust-clippy, esint

refactor: remove unwrapp call
  core/src/domain/realm/services.rs
  core/src/infrastructure/realm/mappers/smtp_config_mapper.rs
Due: rust-fmt, rust-clippy

feat: add basic auth support (#1012)
  api/src/application/http/authentication.rs
  api/src/application/http/authentication/basic_auth.rs
  api/src/application/http/authentication/handlers/introspect.rs
  api/src/application/http/authentication/handlers/openid_configuration.rs
  api/src/application/http/authentication/handlers/token.rs
  api/src/application/http/authentication/validators.rs
  api/tests/token_basic_auth_test.rs
Due: rust-fmt, rust-clippy
