Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

fix(front): bug can't remove entierly the port default value on edit it (#969)
  front/src/components/ui/input-text.tsx
  front/src/pages/realm/ui/page-realm-settings-smtp.tsx
Due: esint

feat: add standalone docker + CI (#970)
  .github/workflows/docker.yaml
  Dockerfile
  docker-compose.yaml
  docker/standalone-entrypoint.sh
  docker/supervisord.conf
  front/nginx-standalone.conf
Due: hadolint, shellcheck

test: fix bad tests (#971)
  core/src/domain/realm/services.rs
  core/src/domain/role/entities/permission.rs
  core/src/domain/role/services.rs
Due: rust-fmt, rust-clippy

fix: update API & Front for fix user registration redirection
  api/src/application/http/authentication/handlers/registration.rs
  core/src/application/auth/mod.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  front/src/api/api.client.ts
  front/src/pages/authentication/feature/page-register-feature.tsx
Due: rust-fmt, rust-clippy, esint

fix: update API & Front for fix user registration redirection (#972)
  api/src/application/http/authentication/handlers/registration.rs
  core/src/application/auth/mod.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  front/src/api/api.client.ts
  front/src/pages/authentication/feature/page-register-feature.tsx
Due: rust-fmt, rust-clippy, esint

fix: update service to delete otp credentials when the configuration TOTP successful
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

fix: update service to delete otp credentials when the configuration (#973)
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

feat: bump project version to 0.6.0
  Cargo.lock
  Cargo.toml
  charts/ferriskey/Chart.yaml
  charts/ferriskey/README.md
Due: rust-clippy

feat: bump project version to 0.6.0 (#974)
  Cargo.lock
  Cargo.toml
  charts/ferriskey/Chart.yaml
  charts/ferriskey/README.md
Due: rust-clippy

feat: improve home page
  front/src/pages/overview/feature/page-home-feature.tsx
  front/src/pages/overview/ui/page-home.tsx
  front/src/types/home.types.ts
  front/src/types/index.ts
Due: esint

feat: improve home page (#975)
  front/src/pages/overview/feature/page-home-feature.tsx
  front/src/pages/overview/ui/page-home.tsx
  front/src/types/home.types.ts
  front/src/types/index.ts
Due: esint

fix: update service for insert NULL when the email is empty
  core/src/domain/user/services.rs
Due: rust-fmt, rust-clippy

feat(entity): add email verification fields and token entity
  core/src/entity/email_verification_tokens.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_settings.rs
Due: rust-fmt, rust-clippy

feat(domain): add email verification domain layer
  core/src/domain/email_verification/entities.rs
  core/src/domain/email_verification/mod.rs
  core/src/domain/email_verification/ports.rs
  core/src/domain/email_verification/services.rs
  core/src/domain/mod.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat(realm): add email verification settings to realm configuration
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  libs/ferriskey-domain/src/realm/mod.rs
Due: rust-fmt, rust-clippy

feat(infra): add email verification repository and DI wiring
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/email_verification_token_repository.rs
Due: rust-fmt, rust-clippy

feat(db): add email verification migrations
  core/migrations/20260401000000_create_email_verification_tokens.down.sql
  core/migrations/20260401000000_create_email_verification_tokens.up.sql
  core/migrations/20260401000001_add_email_verification_enabled.down.sql
  core/migrations/20260401000001_add_email_verification_enabled.up.sql
  core/migrations/20260402000000_add_email_verification_ttl_to_realm_settings.down.sql
  core/migrations/20260402000000_add_email_verification_ttl_to_realm_settings.up.sql
Due: none

feat(auth): update registration flow for email verification
  api/src/application/http/authentication/handlers/registration.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  front/src/pages/authentication/feature/page-register-feature.tsx
Due: rust-fmt, rust-clippy, esint

feat(api): add verify-email endpoint and error handling
  api/src/application/http/authentication/handlers.rs
  api/src/application/http/authentication/handlers/verify_email.rs
  api/src/application/http/authentication/router.rs
  api/src/application/http/error.rs
Due: rust-fmt, rust-clippy

feat(frontend): add email verification pages and routing
  front/src/pages/authentication/feature/execution/verify-email-feature.tsx
  front/src/pages/authentication/feature/page-check-your-email.tsx
  front/src/pages/authentication/feature/page-verify-email.tsx
  front/src/pages/authentication/page-authentication.tsx
  front/src/pages/authentication/ui/page-required-action.tsx
Due: esint

fix: address PR review comments
  api/src/application/http/authentication/handlers/verify_email.rs
  core/migrations/20260402000000_add_email_verification_ttl_to_realm_settings.up.sql
  core/src/domain/authentication/services.rs
  core/src/domain/email_verification/ports.rs
  core/src/domain/email_verification/services.rs
  core/src/infrastructure/repositories/email_verification_token_repository.rs
  front/src/pages/authentication/feature/page-check-your-email.tsx
  front/src/pages/authentication/feature/page-verify-email.tsx
Due: rust-fmt, rust-clippy, esint

feat(http/authentication): update registration handler for pending emails
  api/src/application/http/authentication/handlers/registration.rs
  front/src/api/api.client.ts
  front/src/hooks/use-verify-email.ts
  front/src/pages/authentication/feature/page-verify-email.tsx
Due: rust-fmt, rust-clippy, esint

fix(authentication): update classNames from double quotes to single quotes
  front/src/pages/authentication/feature/page-verify-email.tsx
Due: esint

feat(api): update verify email handler to use POST method and adjust request structure
  api/src/application/http/authentication/handlers/verify_email.rs
  api/src/application/http/authentication/router.rs
  front/src/api/api.client.ts
  front/src/api/auth.api.ts
  front/src/hooks/use-verify-email.ts
Due: rust-fmt, rust-clippy, esint

fix: adapt email verification to main API changes
  api/src/application/http/error.rs
  core/src/domain/email_verification/services.rs
Due: rust-fmt, rust-clippy

fix(db): renumber email verification migrations
  core/migrations/20260414000002_create_email_verification_tokens.down.sql
  core/migrations/20260414000002_create_email_verification_tokens.up.sql
  core/migrations/20260414000003_add_email_verification_enabled.down.sql
  core/migrations/20260414000003_add_email_verification_enabled.up.sql
  core/migrations/20260414000004_add_email_verification_ttl_to_realm_settings.down.sql
  core/migrations/20260414000004_add_email_verification_ttl_to_realm_settings.up.sql
Due: none

feat(api): update verify email endpoint path in API client code
  api/src/application/http/authentication/handlers/verify_email.rs
  front/src/api/api.client.ts
Due: rust-fmt, rust-clippy, esint

feat(email-verification): integrate email verification service into user registration flow
  core/src/application/auth/mod.rs
  core/src/domain/email_verification/services.rs
Due: rust-fmt, rust-clippy

fix(auth): streamline user registration verification logic
  core/src/application/auth/mod.rs
Due: rust-fmt, rust-clippy

feat(email-verification): enhance registration flow with email verification service integration
  api/src/application/http/authentication/handlers/registration.rs
  core/src/application/auth/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat(password-policy): implement UI and improve backend support
  front/src/api/api.client.ts
  front/src/pages/realm/feature/page-realm-settings-password-policy-feature.tsx
Due: esint

style: apply prettier and eslint to api.client.ts
  front/src/api/api.client.ts
Due: esint

fix: align email verification branch with main
  core/migrations/20260503230900_create_email_verification_tokens.down.sql
  core/migrations/20260503230900_create_email_verification_tokens.up.sql
  core/migrations/20260503230901_add_email_verification_enabled.down.sql
  core/migrations/20260503230901_add_email_verification_enabled.up.sql
  core/migrations/20260503230902_add_email_verification_ttl_to_realm_settings.down.sql
  core/migrations/20260503230902_add_email_verification_ttl_to_realm_settings.up.sql
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/email_verification/services.rs
Due: rust-fmt, rust-clippy

fix: update service for insert NULL when the email is empty (#976)
  core/src/domain/user/services.rs
Due: rust-fmt, rust-clippy

feat(password-policy): regenerate OpenAPI spec and TanStack Query API… (#863)
  front/src/api/api.client.ts
  front/src/pages/realm/feature/page-realm-settings-password-policy-feature.tsx
Due: esint

wip: continue to create CIAM panelfix(auth): handle remaining required actions after OTP challenge
  api/src/application/http/trident/handlers/challenge_otp.rs
  core/src/domain/authentication/services.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  front/src/api/api.client.ts
  front/src/api/api.interface.ts
  front/src/pages/authentication/feature/page-otp-challenge-feature.tsx
Due: rust-fmt, rust-clippy, esint

fix(auth): handle remaining required (#977)
  api/src/application/http/trident/handlers/challenge_otp.rs
  core/src/domain/authentication/services.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  front/src/api/api.client.ts
  front/src/api/api.interface.ts
  front/src/pages/authentication/feature/page-otp-challenge-feature.tsx
Due: rust-fmt, rust-clippy, esint

feat: add realm_branding domain module
  core/src/domain/mod.rs
  core/src/domain/realm_branding/entities.rs
  core/src/domain/realm_branding/mod.rs
  core/src/domain/realm_branding/policies.rs
  core/src/domain/realm_branding/ports.rs
  core/src/domain/realm_branding/services.rs
  core/src/infrastructure/email.rs
  core/src/infrastructure/email_template/renderer/mjml_renderer.rs
Due: rust-fmt, rust-clippy

fix(front): fix realm redirect to master and update-password 401 error
  front/src/App.tsx
  front/src/api/trident.api.ts
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
Due: esint

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
