Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

add ports and value objects for security events
  core/src/domain/authentication/entities.rs
  core/src/domain/seawatch/entities.rs
  core/src/domain/seawatch/mod.rs
  core/src/domain/seawatch/ports.rs
  core/src/domain/seawatch/value_objects.rs
Due: rust-fmt, rust-clippy

add database migration for security_events table
  core/migrations/20251023173322_create_security_events.down.sql
  core/migrations/20251023173322_create_security_events.up.sql
Due: none

feat: add .DS_Store to .gitignore
  .gitignore
Due: none

feat: refactor operator Helm chart templates and values
  charts/operator/Chart.yaml
  charts/operator/templates/_helpers.tpl
  charts/operator/templates/deployment.yaml
  charts/operator/values.yaml
Due: none

feat: enhance client service with webhook notifiers
  core/src/domain/client/services.rs
Due: rust-fmt, rust-clippy

feat: remove unless clones
  core/src/domain/client/services.rs
Due: rust-fmt, rust-clippy

feat: remove old webhook repository notifier
  core/src/application/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/services/authenticate.rs
  core/src/domain/authentication/services/grant_type_service.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/credential/services.rs
  core/src/domain/health/services.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/services.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  core/src/domain/webhook/ports.rs
  core/src/domain/webhook/services.rs
  core/src/domain/webhook/services/webhook_notifier_service.rs
  core/src/infrastructure/webhook/repositories.rs
  core/src/infrastructure/webhook/repositories/webhook_notifier_repository.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
Due: rust-fmt, rust-clippy

feat: avoid repository cloning and migrate webhook_error to core_error
  core/src/domain/client/services.rs
  core/src/domain/webhook/ports.rs
  core/src/domain/webhook/services.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
Due: rust-fmt, rust-clippy

add infrastructure layer with mapper and repository
  core/src/entity/mod.rs
  core/src/entity/security_events.rs
  core/src/infrastructure/mod.rs
  core/src/infrastructure/seawatch/mapper.rs
  core/src/infrastructure/seawatch/mod.rs
  core/src/infrastructure/seawatch/repositories.rs
  core/src/infrastructure/seawatch/repositories/security_event_postgres_repository.rs
Due: rust-fmt, rust-clippy

feat: send webhooks on role updates and deletions
  core/src/domain/role/services.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
Due: rust-fmt, rust-clippy

feat: return deleted role
  core/src/domain/role/services.rs
  core/src/domain/webhook/services.rs
Due: rust-fmt, rust-clippy

feat: pass webhook to notify on delete
  core/src/domain/role/services.rs
  core/src/domain/webhook/services.rs
Due: rust-fmt, rust-clippy

refactor: remove unsed import
  core/src/domain/webhook/services.rs
Due: rust-fmt, rust-clippy

feat: add webhook notifications for realm events
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

feat: add webhook notifications for user events
  core/src/domain/user/ports.rs
  core/src/domain/user/services.rs
  core/src/domain/user/services/user_role_service.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
Due: rust-fmt, rust-clippy

feat: add user registration endpoint and UI
  api/src/application/http/authentication/handlers.rs
  api/src/application/http/authentication/handlers/registration.rs
  api/src/application/http/authentication/router.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/jwt/mod.rs
  core/src/domain/jwt/services.rs
  front/src/api/api.client.ts
  front/src/api/auth.api.ts
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/feature/page-register-feature.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/authentication/ui/page-register.tsx
Due: rust-fmt, rust-clippy, esint

feat: remove defaultValues in register form
  front/src/pages/authentication/feature/page-register-feature.tsx
Due: esint

fix: import CreateUserRequest into authentication services
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

refactor: remove unused imports from registration handler
  api/src/application/http/authentication/handlers/registration.rs
Due: rust-fmt, rust-clippy

fix: format API client and tanstack files
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
Due: esint

fix: normalize import quotes to single quotes
  front/src/pages/authentication/feature/page-register-feature.tsx
  front/src/pages/authentication/ui/page-register.tsx
  front/src/pages/realm/feature/page-realm-settings-login-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-login.tsx
Due: esint

refactor: use CredentialType enum for credentials
  core/src/domain/authentication/services/authenticate.rs
  core/src/domain/credential/entities.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/repositories/credential_repository.rs
Due: rust-fmt, rust-clippy

fix: implement Display for CredentialType
  core/src/domain/credential/entities.rs
Due: rust-fmt, rust-clippy

feat: add SeaWatch security events feature
  core/migrations/20251023173322_create_security_events.up.sql
  core/src/domain/authentication/entities.rs
  core/src/domain/mod.rs
  core/src/domain/role/policies.rs
  core/src/domain/seawatch/entities.rs
  core/src/domain/seawatch/ports.rs
  core/src/domain/seawatch/value_objects.rs
  core/src/entity/prelude.rs
  core/src/entity/realms.rs
  core/src/entity/security_events.rs
  core/src/infrastructure/seawatch/mapper.rs
  core/src/infrastructure/seawatch/repositories/security_event_postgres_repository.rs
  front/src/App.tsx
  front/src/components/app-sidebar.tsx
  front/src/components/nav-security.tsx
  front/src/components/nav-user.tsx
  front/src/main.tsx
  front/src/pages/seawatch/feature/page-overview-feature.tsx
  front/src/pages/seawatch/page-seawatch.tsx
  front/src/pages/seawatch/ui/page-overview.tsx
  front/src/routes/sub-router/seawatch.router.ts
  front/src/routes/sub-router/user.router.ts
Due: rust-fmt, rust-clippy, esint

feat: integrate SecurityEventRepository across services
  core/src/application/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/services/authenticate.rs
  core/src/domain/authentication/services/grant_type_service.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/credential/services.rs
  core/src/domain/health/services.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/services.rs
  core/src/domain/seawatch/entities.rs
  core/src/domain/seawatch/ports.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  core/src/domain/webhook/services.rs
Due: rust-fmt, rust-clippy

fix: remove unused Settings import from nav-security
  front/src/components/nav-security.tsx
Due: esint

fix: refactor SeaWatch overview into UI components
  front/src/pages/seawatch/ui/flagged-users.tsx
  front/src/pages/seawatch/ui/page-overview.tsx
  front/src/pages/seawatch/ui/security-metrics.tsx
  front/src/pages/seawatch/ui/strange-events-analysis.tsx
Due: esint

feat: add Seawatch HTTP module and handler stub
  api/src/application/http.rs
  api/src/application/http/seawatch/handlers/get_security_events.rs
  api/src/application/http/seawatch/handlers/mod.rs
  api/src/application/http/seawatch/mod.rs
  api/src/application/http/seawatch/router.rs
  core/migrations/20251023173322_create_security_events.down.sql
  core/src/domain/seawatch/entities.rs
  core/src/domain/seawatch/mod.rs
  core/src/infrastructure/seawatch/repositories/security_event_postgres_repository.rs
Due: rust-fmt, rust-clippy

feat: add Seawatch security-events endpoint
  api/src/application/http/seawatch/handlers/get_security_events.rs
  api/src/application/http/seawatch/router.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
  core/src/domain/seawatch/entities.rs
  core/src/domain/seawatch/mod.rs
  core/src/domain/seawatch/policies.rs
  core/src/domain/seawatch/ports.rs
  core/src/domain/seawatch/services.rs
  core/src/domain/seawatch/value_objects.rs
Due: rust-fmt, rust-clippy

fix: eslint rules
  front/src/components/nav-security.tsx
  front/src/pages/seawatch/page-seawatch.tsx
  front/src/pages/seawatch/ui/page-overview.tsx
  front/src/pages/seawatch/ui/security-metrics.tsx
Due: esint

added output fields and types for webauthn credential creation
  core/src/domain/trident/entities/algorithms.rs
  core/src/domain/trident/entities/mod.rs
  core/src/domain/trident/entities/webauthn.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

added trident service method for webauthn challenge part 2
  core/src/domain/trident/entities.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

added auth_sessions method for webauthn challenges part 1
  core/src/domain/authentication/ports.rs
  core/src/infrastructure/auth_session/mod.rs
Due: rust-fmt, rust-clippy

added a utoipa_support feature to core
  core/Cargo.toml
  core/src/domain/trident/entities/algorithms.rs
  core/src/domain/trident/entities/webauthn.rs
  core/src/domain/trident/ports.rs
Due: rust-fmt, rust-clippy

extended auth_sessions to support webauthn challenge
  core/migrations/20250923125100_add_webauthn_challenge_to_auth_sessions.down.sql
  core/migrations/20250923125100_add_webauthn_challenge_to_auth_sessions.up.sql
  core/src/application/authentication/mod.rs
  core/src/domain/authentication/entities.rs
  core/src/entity/auth_sessions.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy
