Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

feat: add realm_branding domain module (#978)
  core/src/domain/mod.rs
  core/src/domain/realm_branding/entities.rs
  core/src/domain/realm_branding/mod.rs
  core/src/domain/realm_branding/policies.rs
  core/src/domain/realm_branding/ports.rs
  core/src/domain/realm_branding/services.rs
  core/src/infrastructure/email.rs
  core/src/infrastructure/email_template/renderer/mjml_renderer.rs
Due: rust-fmt, rust-clippy

feat: realm branding infrastructure
  core/migrations/20260510000000_create_realm_branding.down.sql
  core/migrations/20260510000000_create_realm_branding.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_branding.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/realm_branding_repository.rs
Due: rust-fmt, rust-clippy

feat: realm branding infrastructure (#979)
  core/migrations/20260510000000_create_realm_branding.down.sql
  core/migrations/20260510000000_create_realm_branding.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_branding.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/realm_branding_repository.rs
Due: rust-fmt, rust-clippy

feat: realm branding api
  api/src/application/http.rs
  api/src/application/http/realm_branding.rs
  api/src/application/http/realm_branding/handlers/get_branding.rs
  api/src/application/http/realm_branding/handlers/get_public_branding.rs
  api/src/application/http/realm_branding/handlers/mod.rs
  api/src/application/http/realm_branding/handlers/update_branding.rs
  api/src/application/http/realm_branding/router.rs
  api/src/application/http/realm_branding/validators.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
  api/tests/realm_branding_test.rs
  core/src/application/mod.rs
  core/src/application/realm_branding/mod.rs
Due: rust-fmt, rust-clippy

wip
  api/src/application/http/realm_branding/handlers/get_public_branding.rs
  api/src/application/http/realm_branding/handlers/mod.rs
  api/src/application/http/realm_branding/router.rs
  api/tests/realm_branding_test.rs
  core/src/application/realm/mod.rs
  core/src/domain/realm/entities.rs
Due: rust-fmt, rust-clippy

feat: implement realm branding endpoints (#982)
  api/src/application/http.rs
  api/src/application/http/realm_branding.rs
  api/src/application/http/realm_branding/handlers/get_branding.rs
  api/src/application/http/realm_branding/handlers/mod.rs
  api/src/application/http/realm_branding/handlers/update_branding.rs
  api/src/application/http/realm_branding/router.rs
  api/src/application/http/realm_branding/validators.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
  api/tests/realm_branding_test.rs
  core/src/application/mod.rs
  core/src/application/realm/mod.rs
  core/src/application/realm_branding/mod.rs
  core/src/domain/realm/entities.rs
Due: rust-fmt, rust-clippy

fix: update magic link flow
  front/src/pages/authentication/feature/page-callback-feature.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: esint

refactor: rename realm_branding to portal_theme and narrow config to design tokens
  api/src/application/http.rs
  api/src/application/http/portal_theme/handlers/get_theme.rs
  api/src/application/http/portal_theme/handlers/mod.rs
  api/src/application/http/portal_theme/handlers/update_theme.rs
  api/src/application/http/portal_theme/mod.rs
  api/src/application/http/portal_theme/router.rs
  api/src/application/http/portal_theme/validators.rs
  api/src/application/http/realm_branding/handlers/mod.rs
  api/src/application/http/realm_branding/router.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
  api/tests/portal_theme_test.rs
  core/src/application/mod.rs
  core/src/application/portal_theme/mod.rs
  core/src/application/realm/mod.rs
  core/src/application/realm_branding/mod.rs
  core/src/application/services.rs
  core/src/domain/mod.rs
  core/src/domain/portal_theme/entities.rs
  core/src/domain/portal_theme/mod.rs
  core/src/domain/portal_theme/policies.rs
  core/src/domain/portal_theme/ports.rs
  core/src/domain/portal_theme/services.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm_branding/ports.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/portal_theme_repository.rs
Due: rust-fmt, rust-clippy

refactor: rename realm_branding to portal_theme and narrow config to design tokens (#984)
  api/src/application/http.rs
  api/src/application/http/portal_theme/handlers/get_theme.rs
  api/src/application/http/portal_theme/handlers/mod.rs
  api/src/application/http/portal_theme/handlers/update_theme.rs
  api/src/application/http/portal_theme/mod.rs
  api/src/application/http/portal_theme/router.rs
  api/src/application/http/portal_theme/validators.rs
  api/src/application/http/realm_branding/handlers/mod.rs
  api/src/application/http/realm_branding/router.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
  api/tests/portal_theme_test.rs
  core/src/application/mod.rs
  core/src/application/portal_theme/mod.rs
  core/src/application/realm/mod.rs
  core/src/application/realm_branding/mod.rs
  core/src/application/services.rs
  core/src/domain/mod.rs
  core/src/domain/portal_theme/entities.rs
  core/src/domain/portal_theme/mod.rs
  core/src/domain/portal_theme/policies.rs
  core/src/domain/portal_theme/ports.rs
  core/src/domain/portal_theme/services.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm_branding/ports.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/portal_theme_repository.rs
Due: rust-fmt, rust-clippy

fix(auth): scope oauth_state by flow to support concurrent and cross-tab logins
  front/src/pages/authentication/feature/page-callback-feature.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: esint

refactor: rename realm_branding table to portal_themes
  core/migrations/20260510120000_rename_realm_branding_to_portal_themes.down.sql
  core/migrations/20260510120000_rename_realm_branding_to_portal_themes.up.sql
  core/src/entity/email_verification_tokens.rs
  core/src/entity/mod.rs
  core/src/entity/portal_themes.rs
  core/src/entity/prelude.rs
  core/src/entity/realms.rs
  core/src/entity/users.rs
  core/src/infrastructure/repositories/portal_theme_repository.rs
Due: rust-fmt, rust-clippy

fix: update magic link flow (#983)
  front/src/pages/authentication/feature/page-callback-feature.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: esint

refactor: rename realm_branding table to portal_themes (#985)
  core/migrations/20260510120000_rename_realm_branding_to_portal_themes.down.sql
  core/migrations/20260510120000_rename_realm_branding_to_portal_themes.up.sql
  core/src/entity/email_verification_tokens.rs
  core/src/entity/mod.rs
  core/src/entity/portal_themes.rs
  core/src/entity/prelude.rs
  core/src/entity/realms.rs
  core/src/entity/users.rs
  core/src/infrastructure/repositories/portal_theme_repository.rs
Due: rust-fmt, rust-clippy

fix(front): fix realm redirect to master and update-password 401 error
  front/src/App.tsx
  front/src/api/trident.api.ts
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
Due: esint

fix(front): redirect to login when update-password token is missing
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
Due: esint

refactor(front): replace axios with tanstackApi client in trident.api
  front/src/api/trident.api.ts
Due: esint

refactor(front): replace remaining axios calls with tanstackApi client
  front/src/api/passkey.api.ts
  front/src/api/redirect_uris.api.ts
  front/src/pages/authentication/feature/execution/configure-passkey-feature.tsx
Due: esint

fix(front): fix type errors for passkey publicKey assertions
  front/src/pages/authentication/feature/execution/configure-passkey-feature.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: esint

fix: fix realm redirect to master and update-password 401 error (#981)
  front/src/App.tsx
  front/src/api/passkey.api.ts
  front/src/api/redirect_uris.api.ts
  front/src/api/trident.api.ts
  front/src/pages/authentication/feature/execution/configure-passkey-feature.tsx
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: esint

feat: split registration URL context
  api/src/application/http/authentication/handlers/registration.rs
  core/src/application/auth/mod.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
Due: rust-fmt, rust-clippy

feat: split registration URL context (#987)
  api/src/application/http/authentication/handlers/registration.rs
  core/src/application/auth/mod.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
Due: rust-fmt, rust-clippy

feat(charts): add Helm chart for the Ferriskey operator
  .github/workflows/helm.yaml
  charts/ferriskey-operator/.helmignore
  charts/ferriskey-operator/Chart.yaml
  charts/ferriskey-operator/README.md.gotmpl
  charts/ferriskey-operator/templates/_helpers.yaml
  charts/ferriskey-operator/templates/crd.yaml
  charts/ferriskey-operator/templates/operator/cluster-role-binding.yaml
  charts/ferriskey-operator/templates/operator/cluster-role.yaml
  charts/ferriskey-operator/templates/operator/deployment.yaml
  charts/ferriskey-operator/templates/operator/service-account.yaml
  charts/ferriskey-operator/templates/validate.yaml
  charts/ferriskey-operator/values.yaml
  sh/helm-docs.sh
Due: shellcheck

fix(operator): install rustls crypto provider before TLS init
  Cargo.lock
  operator/Cargo.toml
  operator/src/main.rs
Due: rust-fmt, rust-clippy

Update main.rs
  operator/src/main.rs
Due: rust-fmt, rust-clippy

ferriskey git:(feat/helm-chart-operator)
  .github/workflows/helm.yaml
  charts/ferriskey-operator/templates/_helpers.yaml
  charts/ferriskey-operator/templates/operator/cluster-role.yaml
Due: none

Update _helpers.yaml
  charts/ferriskey-operator/templates/_helpers.yaml
Due: none

fix: add error handling for email and username uniqueness violations
  api/src/application/http/error.rs
  core/src/infrastructure/user/repository.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat(email_verification): implement email delivery timeout handling with improved error handling
  core/src/domain/email_verification/services.rs
Due: rust-fmt, rust-clippy

test(error): rename test for username conflict to match error type
  api/src/application/http/error.rs
Due: rust-fmt, rust-clippy

feat: introduce portail layouts
  core/src/domain/mod.rs
  core/src/domain/portal_layouts/entities.rs
  core/src/domain/portal_layouts/mod.rs
  core/src/domain/portal_layouts/policies.rs
  core/src/domain/portal_layouts/ports.rs
  core/src/domain/portal_layouts/services.rs
Due: rust-fmt, rust-clippy

feat: introduce portail layouts (#998)
  core/src/domain/mod.rs
  core/src/domain/portal_layouts/entities.rs
  core/src/domain/portal_layouts/mod.rs
  core/src/domain/portal_layouts/policies.rs
  core/src/domain/portal_layouts/ports.rs
  core/src/domain/portal_layouts/services.rs
Due: rust-fmt, rust-clippy

wip: continue to create CIAM panel
  front/src/pages/user-management/feature/page-create-identity-feature.tsx
  front/src/pages/user-management/feature/page-identities-feature.tsx
  front/src/pages/user-management/feature/page-identity-detail-feature.tsx
  front/src/pages/user-management/page-user-management.tsx
  front/src/pages/user-management/ui/page-create-identity.tsx
  front/src/pages/user-management/ui/page-identity-detail.tsx
  front/src/routes/sub-router/user-management.router.ts
Due: esint

fix(user-management): align zod schemas with react-hook-form resolver types
  front/src/pages/user-management/ui/page-create-organization.tsx
  front/src/pages/user-management/ui/page-create-role.tsx
  front/src/pages/user-management/ui/page-role-detail.tsx
Due: esint

feat: enhance CIAM panel
  front/src/App.tsx
  front/src/api/user_role.api.ts
  front/src/components/layout/product-layout.tsx
  front/src/components/layout/product-nav-config.ts
  front/src/hooks/use-switch-mode.ts
  front/src/pages/console-applications/feature/page-applications-list-feature.tsx
  front/src/pages/console-applications/feature/page-create-application-feature.tsx
  front/src/pages/console-applications/feature/page-create-application-type-feature.tsx
  front/src/pages/console-applications/page-console-applications.tsx
  front/src/pages/console-applications/types.ts
  front/src/pages/console-applications/ui/page-applications-list.tsx
  front/src/pages/console-applications/ui/page-create-application-type.tsx
  front/src/pages/console-applications/ui/page-create-application.tsx
  front/src/pages/user-management/feature/page-identities-feature.tsx
  front/src/pages/user-management/feature/page-identity-detail-feature.tsx
  front/src/pages/user-management/feature/page-organization-detail-feature.tsx
  front/src/pages/user-management/feature/page-organizations-feature.tsx
  front/src/pages/user-management/feature/page-role-detail-feature.tsx
  front/src/pages/user-management/feature/page-roles-feature.tsx
  front/src/pages/user-management/page-user-management.tsx
  front/src/pages/user-management/ui/page-identities.tsx
  front/src/pages/user-management/ui/page-identity-detail.tsx
  front/src/pages/user-management/ui/page-organization-detail.tsx
  front/src/pages/user-management/ui/page-role-detail.tsx
  front/src/routes/sub-router/applications.router.ts
  front/src/routes/sub-router/user-management.router.ts
Due: esint

wip: continue to create CIAM panel
  front/src/App.tsx
  front/src/components/console-coming-soon.tsx
  front/src/components/layout/layout-switch.tsx
  front/src/components/layout/product-layout.tsx
  front/src/components/layout/product-nav-config.ts
  front/src/components/top-bar.tsx
  front/src/hooks/use-switch-mode.ts
  front/src/hooks/use-track-last-visited.ts
  front/src/pages/activity/page-activity.tsx
  front/src/pages/console-authentication/page-console-authentication.tsx
  front/src/pages/console-branding/page-console-branding.tsx
  front/src/pages/user-management/feature/page-create-organization-feature.tsx
  front/src/pages/user-management/feature/page-create-role-feature.tsx
  front/src/pages/user-management/feature/page-organizations-feature.tsx
  front/src/pages/user-management/feature/page-roles-feature.tsx
  front/src/pages/user-management/page-user-management.tsx
  front/src/pages/user-management/ui/page-create-organization.tsx
  front/src/pages/user-management/ui/page-create-role.tsx
  front/src/pages/user-management/ui/page-organizations.tsx
  front/src/pages/user-management/ui/page-roles.tsx
  front/src/routes/sub-router/activity.router.ts
  front/src/routes/sub-router/user-management.router.ts
  front/src/store/ui-mode.store.ts
Due: esint

wip: init layout for CIAM panel
  front/src/App.tsx
  front/src/components/layout/layout-switch.tsx
  front/src/components/layout/product-layout.tsx
  front/src/components/layout/product-nav-config.ts
  front/src/components/top-bar.tsx
  front/src/pages/activity/feature/page-live-activity-feature.tsx
  front/src/pages/activity/page-activity.tsx
  front/src/pages/activity/ui/page-activity-coming-soon.tsx
  front/src/pages/activity/ui/page-live-activity.tsx
  front/src/pages/user-management/feature/page-identities-feature.tsx
  front/src/pages/user-management/page-user-management.tsx
  front/src/pages/user-management/ui/page-identities.tsx
  front/src/routes/sub-router/activity.router.ts
  front/src/routes/sub-router/user-management.router.ts
  front/src/store/ui-mode.store.ts
Due: esint

wip: fix build
  front/src/pages/console-applications/feature/page-create-application-feature.tsx
  front/src/pages/user-management/feature/page-identity-detail-feature.tsx
  front/src/pages/user-management/feature/page-organization-detail-feature.tsx
  front/src/pages/user-management/feature/page-role-detail-feature.tsx
Due: esint

refactor(user-management): migrate role and organization forms to react-hook-form + zod
  front/src/components/layout/product-layout.tsx
  front/src/hooks/use-switch-mode.ts
  front/src/pages/activity/feature/page-live-activity-feature.tsx
  front/src/pages/authentication/ui/execution/configure-passkey.tsx
  front/src/pages/console-applications/ui/page-applications-list.tsx
  front/src/pages/user-management/ui/page-create-organization.tsx
  front/src/pages/user-management/ui/page-create-role.tsx
  front/src/pages/user-management/ui/page-role-detail.tsx
Due: esint

wip
  front/src/pages/authentication/hooks/use-passkey-auth.ts
Due: esint
