Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: bash -c "docker run --rm -i -v ./Dockerfile:/mnt/Dockerfile hadolint/hadolint hadolint /mnt/Dockerfile"
        language: system
        files: Dockerfile

refacto: remove typeshare dependency and related annotations
  Cargo.lock
  api/Cargo.toml
  api/build.rs
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/authentificate.rs
  api/src/application/http/authentication/handlers/get_certs.rs
  api/src/application/http/authentication/handlers/openid_configuration.rs
  api/src/application/http/authentication/validators.rs
  api/src/application/http/client/handlers/delete_client.rs
  api/src/application/http/client/handlers/get_client.rs
  api/src/application/http/client/handlers/get_clients.rs
  api/src/application/http/realm/handlers/get_user_realms.rs
  api/src/application/http/role/handlers/get_role.rs
  api/src/application/http/role/handlers/get_roles.rs
  api/src/application/http/role/handlers/update_role.rs
  api/src/application/http/role/handlers/update_role_permissions.rs
  api/src/application/http/role/validators.rs
  api/src/application/http/server/config.rs
  api/src/application/http/trident/handlers/challenge_otp.rs
  api/src/application/http/trident/handlers/setup_otp.rs
  api/src/application/http/trident/handlers/verify_otp.rs
  api/src/application/http/trident/validators.rs
  api/src/application/http/user/handlers/bulk_delete_user.rs
  api/src/application/http/user/handlers/create_user.rs
  api/src/application/http/user/handlers/delete_credential.rs
  api/src/application/http/user/handlers/delete_user.rs
  api/src/application/http/user/handlers/get_credentials.rs
  api/src/application/http/user/handlers/get_user.rs
  api/src/application/http/user/handlers/get_user_roles.rs
  api/src/application/http/user/handlers/get_users.rs
  api/src/application/http/user/handlers/update_user.rs
  api/src/env.rs
Due: rust-fmt, rust-clippy

refacto: remove typeshare dependency and related annotations
  Cargo.lock
  core/Cargo.toml
  core/build.rs
  core/src/application/authentication/use_cases/authenticate_use_case.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/client/entities.rs
  core/src/domain/client/entities/redirect_uri.rs
  core/src/domain/credential/entities.rs
  core/src/domain/jwt/entities.rs
  core/src/domain/realm/entities.rs
  core/src/domain/role/entities.rs
  core/src/domain/role/entities/permission.rs
  core/src/domain/user/entities.rs
Due: rust-fmt, rust-clippy

fix: remove release-dev workflow
  .github/workflows/release-dev.yml
Due: none

fix: replace french words by proper english
  front/src/pages/authentication/feature/page-otp-challenge-feature.tsx
  front/src/pages/client/columns/list-client.column.tsx
  front/src/pages/client/ui/page-client-roles.tsx
  front/src/pages/client/ui/page-clients-overview.tsx
  front/src/pages/role/ui/page-role-settings.tsx
  front/src/pages/role/ui/page-roles-overview.tsx
  front/src/pages/user/columns/list-user.column.tsx
  front/src/pages/user/ui/page-users-overview.tsx
Due: esint

fix: lint on frontend
  front/src/pages/client/columns/list-client.column.tsx
  front/src/pages/client/ui/page-clients-overview.tsx
  front/src/pages/role/ui/page-role-settings.tsx
  front/src/pages/role/ui/page-roles-overview.tsx
  front/src/pages/user/ui/page-users-overview.tsx
Due: esint

fix: sidebar context imports and usage
  front/src/components/ui/sidebar.tsx
  front/src/pages/client/feature/page-create-client-feature.tsx
Due: esint

chore: dev setup in readme and docker compose for podman
  README.md
  api/docker-compose.yaml
  api/env.sh
  docker-compose.local.yaml
  docker-compose.yaml
  infrastructure/docker-compose.yml
Due: none

chore: renamed old databases occurence of ferris_key to ferriskey and removed env.sh
  README.md
  api/docker-compose.yaml
  api/env.example
  api/env.sh
Due: none

feat: add webhook domain models and repository
  core/src/domain/mod.rs
  core/src/domain/webhook/entities.rs
  core/src/domain/webhook/mod.rs
  core/src/domain/webhook/ports.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realms.rs
  core/src/entity/webhook_subscribers.rs
  core/src/entity/webhooks.rs
  core/src/infrastructure/mod.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/webhook_repository.rs
  core/src/infrastructure/webhook/mappers.rs
  core/src/infrastructure/webhook/mod.rs
  core/src/infrastructure/webhook/repository.rs
  front/src/api/api.interface.ts
Due: rust-fmt, rust-clippy, esint

feat: add webhook service implementation and infra bindings
  core/src/application/common/services.rs
  core/src/domain/webhook/mod.rs
  core/src/domain/webhook/ports.rs
  core/src/domain/webhook/services.rs
  core/src/infrastructure/repositories/webhook_repository.rs
  core/src/infrastructure/webhook/repository.rs
Due: rust-fmt, rust-clippy

feat: create webhooks and webhook subscribers tables
  core/migrations/20250711222040_create_webhooks.down.sql
  core/migrations/20250711222040_create_webhooks.up.sql
Due: none

feat: simplify webhook datetime mapping logic
  core/src/infrastructure/repositories/webhook_repository.rs
  core/src/infrastructure/webhook/mappers.rs
Due: rust-fmt, rust-clippy

feat: convert interface file
  front/src/api/api.interface.ts
Due: esint

wip
  front/src/App.tsx
  front/src/components/nav-configuration.tsx
  front/src/pages/realm/feature/page-realm-settings-feature.tsx
  front/src/pages/realm/page-realm.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
  front/src/routes/router.ts
  front/src/routes/sub-router/client.router.ts
  front/src/routes/sub-router/realm.router.ts
Due: esint

wip
  front/src/pages/realm/feature/page-realm-settings-feature.tsx
  front/src/pages/realm/feature/page-realm-settings-general-feature.tsx
  front/src/pages/realm/feature/page-realm-settings-login-feature.tsx
  front/src/pages/realm/feature/page-realm-settings-security-feature.tsx
  front/src/pages/realm/layouts/realm-settings-layout.tsx
  front/src/pages/realm/page-realm.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
Due: esint

api: refactor cli
  Cargo.lock
  api/Cargo.toml
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/server/app_state.rs
  api/src/application/http/server/config.rs
  api/src/application/http/server/http_server.rs
  api/src/args.rs
  api/src/bin/ferriskey-server.rs
  api/src/env.rs
  api/src/lib.rs
  api/tests/it/main.rs
Due: rust-fmt, rust-clippy

fix: simplify check for temporary password in authentication
  core/src/application/authentication/use_cases/authenticate_use_case.rs
Due: rust-fmt, rust-clippy

feat: add update password required action flow
  api/src/application/http/trident/handlers.rs
  api/src/application/http/trident/handlers/update_password.rs
  api/src/application/http/trident/router.rs
  api/src/application/http/user/handlers/update_user.rs
  core/src/application/authentication/use_cases/authenticate_use_case.rs
  core/src/application/common/factories.rs
  core/src/application/mod.rs
  core/src/application/trident/mod.rs
  core/src/application/trident/use_cases.rs
  core/src/application/trident/use_cases/update_password_use_case.rs
  core/src/domain/credential/services.rs
  core/src/domain/trident/entities.rs
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
  front/src/api/index.ts
  front/src/api/trident.api.ts
  front/src/api/user.api.ts
  front/src/hooks/use-auth.ts
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
  front/src/pages/authentication/feature/page-required-action-feature.tsx
  front/src/pages/authentication/schemas/update-password.schema.ts
  front/src/pages/authentication/ui/execution/update-password.tsx
Due: rust-fmt, rust-clippy, esint

feat: implement temporary password flow and update related components
  api/src/application/http/user/handlers/reset_password.rs
  core/migrations/20250812143246_add_temporary_column_credentials.down.sql
  core/migrations/20250812143246_add_temporary_column_credentials.up.sql
  core/src/application/authentication/use_cases/authenticate_use_case.rs
  core/src/application/user/use_cases/reset_password_use_case.rs
  core/src/domain/credential/entities.rs
  core/src/domain/credential/ports.rs
  core/src/domain/credential/services.rs
  core/src/entity/credentials.rs
  core/src/infrastructure/credential/mod.rs
  core/src/infrastructure/repositories/credential_repository.rs
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
  front/src/pages/authentication/ui/execution/update-password.tsx
  front/src/pages/authentication/ui/page-required-action.tsx
Due: rust-fmt, rust-clippy, esint

refacto: API client types to use single-quote style
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
Due: esint

fix: normalize newline at end of migration files
  core/migrations/20250812143246_add_temporary_column_credentials.down.sql
  core/migrations/20250812143246_add_temporary_column_credentials.up.sql
Due: none

feat: add webhook fetch and get endpoints
  api/src/application/http.rs
  api/src/application/http/server/api_entities/api_error.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
  api/src/application/http/webhook.rs
  api/src/application/http/webhook/errors.rs
  api/src/application/http/webhook/handlers.rs
  api/src/application/http/webhook/handlers/fetch_webhook.rs
  api/src/application/http/webhook/handlers/get_webhook.rs
  api/src/application/http/webhook/router.rs
  api/src/application/http/webhook/validators.rs
Due: rust-fmt, rust-clippy

feat: add webhook management endpoints and use cases
  api/src/application/http/server/api_entities/api_error.rs
  api/src/application/http/webhook/handlers.rs
  api/src/application/http/webhook/handlers/create_webhook.rs
  api/src/application/http/webhook/handlers/delete_webhook.rs
  api/src/application/http/webhook/handlers/fetch_webhook.rs
  api/src/application/http/webhook/handlers/update_webhook.rs
  api/src/application/http/webhook/router.rs
  api/src/application/http/webhook/validators.rs
  core/src/application/common/factories.rs
  core/src/application/mod.rs
  core/src/application/webhook/mod.rs
  core/src/application/webhook/policies.rs
  core/src/application/webhook/use_cases.rs
  core/src/application/webhook/use_cases/create_webhook_use_case.rs
  core/src/application/webhook/use_cases/delete_webhook_use_case.rs
  core/src/application/webhook/use_cases/fetch_realm_webhooks_use_case.rs
  core/src/application/webhook/use_cases/get_webhook_use_case.rs
  core/src/application/webhook/use_cases/update_webhook_use_case.rs
  core/src/domain/role/entities/permission.rs
  core/src/domain/webhook/entities.rs
Due: rust-fmt, rust-clippy

fix
  core/src/application/common/factories.rs
Due: rust-fmt, rust-clippy

fix: remove trailing whitespace in factories.rs
  core/src/application/common/factories.rs
Due: rust-fmt, rust-clippy

fix: remove unused errors module from webhook
  api/src/application/http/webhook.rs
  api/src/application/http/webhook/errors.rs
Due: rust-fmt, rust-clippy

chore: update axum-prometheus to 0.9.0
  Cargo.lock
  api/Cargo.toml
Due: rust-clippy

wip
  front/src/api/api.client.ts
  front/src/api/core.interface.ts
  front/src/api/core.mapper.ts
  front/src/components/ui/tabs.tsx
  front/src/pages/realm/feature/page-realm-settings-general-feature.tsx
  front/src/pages/realm/layouts/realm-settings-layout.tsx
  front/src/pages/realm/ui/page-realm-settings-general.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
  front/src/pages/realm/validators.ts
Due: esint

feat: added realm setting page
  CONTRIBUTING.md
  front/src/App.css
  front/src/components/ui/select.tsx
  front/src/components/work-in-progress.tsx
  front/src/hooks/use-feature.ts
  front/src/lib/features.ts
  front/src/pages/realm/feature/page-realm-settings-general-feature.tsx
  front/src/pages/realm/feature/page-realm-settings-login-feature.tsx
  front/src/pages/realm/feature/page-realm-settings-security-feature.tsx
  front/src/pages/realm/layouts/realm-settings-layout.tsx
  front/src/pages/realm/ui/page-realm-settings-general.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
  front/src/pages/role/feature/page-role-users-feature.tsx
  front/src/pages/user/ui/page-user-overview.tsx
Due: esint

chore: fmt
  front/src/api/core.mapper.ts
  front/src/components/nav-configuration.tsx
  front/src/hooks/use-feature.ts
  front/src/pages/realm/feature/page-realm-settings-general-feature.tsx
  front/src/pages/realm/feature/page-realm-settings-login-feature.tsx
  front/src/pages/realm/feature/page-realm-settings-security-feature.tsx
  front/src/pages/realm/layouts/realm-settings-layout.tsx
  front/src/pages/realm/page-realm.tsx
  front/src/pages/realm/ui/page-realm-settings-general.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
  front/src/pages/role/feature/page-role-users-feature.tsx
  front/src/routes/sub-router/client.router.ts
  front/src/routes/sub-router/realm.router.ts
Due: esint

chore: fmt
  CONTRIBUTING.md
Due: none

docker: define uid/gid for ferriskey user
  Dockerfile
Due: hadolint

ci(docker): force platform
  .github/workflows/docker.yaml
Due: none

ci(docker): fix multiplatform
  .github/workflows/docker.yaml
Due: none

docker: move migrations into /usr/local/src
  Dockerfile
Due: hadolint

api(args): add root-path opt
  api/src/args.rs
Due: rust-fmt, rust-clippy

refaco: refactor API client usage to window-scoped instances
  front/src/App.tsx
  front/src/api/auth.api.ts
  front/src/api/client.api.ts
  front/src/api/config.api.ts
  front/src/api/credential.api.ts
  front/src/api/index.ts
  front/src/api/realm.api.ts
  front/src/api/redirect_uris.api.ts
  front/src/api/role.api.ts
  front/src/api/trident.api.ts
  front/src/api/user.api.ts
  front/src/api/user_role.api.ts
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: esint

fix: upgrade lucide-react from 0.485.0 to 0.536.0
  docs/package.json
Due: none

fix: upgrade @lucide/astro from 0.488.0 to 0.536.0
  docs/package.json
Due: none

fix: upgrade @scalar/api-reference-react from 0.6.31 to 0.7.36
  docs/package.json
Due: none
