Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

refactor(core): update realm module imports in services.rs
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

feat(auth): enforce PKCE challenge method requirement and improve validation warnings
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat: use official Rust, Debian, and Node base images
  Dockerfile
Due: hadolint

feat: use official Rust, Debian, and Node base images (#845)
  Dockerfile
Due: hadolint

feat(auth): add consume_by_code method to AuthSessionRepository for secure session handling
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

fix: rename front/default.conf to front/nginx.conf
  front/nginx.conf
Due: none

fix: rename front/default.conf to front/nginx.conf (#846)
  front/nginx.conf
Due: none

feat: add HTTPRoute support and validation for publicHost in gatewayAPI
  charts/ferriskey/templates/_helpers.yaml
  charts/ferriskey/templates/api/deployment.yaml
  charts/ferriskey/templates/httproute.yaml
  charts/ferriskey/templates/ingress.yaml
  charts/ferriskey/templates/validate.yaml
  charts/ferriskey/templates/webapp/deployment.yaml
  charts/ferriskey/values.yaml
Due: none

fix: cherry pick dockerfile commit
  Cargo.lock
  Cargo.toml
  Dockerfile
  front/nginx.conf
Due: rust-clippy, hadolint

feat(auth): refactor code_challenge_method to use CodeChallengeMethod enum for improved type safety
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/validators.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

fix: update docker entrypoint
  front/docker-entrypoint.sh
Due: shellcheck

fix: update nginx conf
  front/nginx.conf
Due: none

fix: bump Ferriskey Helm chart to 0.4.2
  charts/ferriskey/Chart.yaml
Due: none

feat: add organizations migrations
  core/migrations/20260313220325_create_organizations.down.sql
  core/migrations/20260313220325_create_organizations.up.sql
Due: none

feat: regenerate SeaORM entities
  core/src/entity/access_tokens.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/broker_auth_sessions.rs
  core/src/entity/client_scope_attributes.rs
  core/src/entity/client_scope_mappings.rs
  core/src/entity/client_scope_protocol_mappers.rs
  core/src/entity/client_scopes.rs
  core/src/entity/clients.rs
  core/src/entity/compass_flow_steps.rs
  core/src/entity/compass_flows.rs
  core/src/entity/credentials.rs
  core/src/entity/data_migrations.rs
  core/src/entity/identity_provider_links.rs
  core/src/entity/identity_providers.rs
  core/src/entity/jwt_keys.rs
  core/src/entity/magic_links.rs
  core/src/entity/mod.rs
  core/src/entity/password_policy.rs
  core/src/entity/password_reset_tokens.rs
  core/src/entity/post_logout_redirect_uris.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
  core/src/entity/redirect_uris.rs
  core/src/entity/refresh_tokens.rs
  core/src/entity/roles.rs
  core/src/entity/security_events.rs
  core/src/entity/user_federation_mappings.rs
  core/src/entity/user_federation_providers.rs
  core/src/entity/user_required_actions.rs
  core/src/entity/user_role.rs
  core/src/entity/user_sessions.rs
  core/src/entity/users.rs
  core/src/entity/webhook_subscribers.rs
  core/src/entity/webhooks.rs
Due: rust-fmt, rust-clippy

feat: add organizations migrations (#847)
  core/migrations/20260313220325_create_organizations.down.sql
  core/migrations/20260313220325_create_organizations.up.sql
  core/src/entity/access_tokens.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/broker_auth_sessions.rs
  core/src/entity/client_scope_attributes.rs
  core/src/entity/client_scope_mappings.rs
  core/src/entity/client_scope_protocol_mappers.rs
  core/src/entity/client_scopes.rs
  core/src/entity/clients.rs
  core/src/entity/compass_flow_steps.rs
  core/src/entity/compass_flows.rs
  core/src/entity/credentials.rs
  core/src/entity/data_migrations.rs
  core/src/entity/identity_provider_links.rs
  core/src/entity/identity_providers.rs
  core/src/entity/jwt_keys.rs
  core/src/entity/magic_links.rs
  core/src/entity/mod.rs
  core/src/entity/password_policy.rs
  core/src/entity/password_reset_tokens.rs
  core/src/entity/post_logout_redirect_uris.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
  core/src/entity/redirect_uris.rs
  core/src/entity/refresh_tokens.rs
  core/src/entity/roles.rs
  core/src/entity/security_events.rs
  core/src/entity/user_federation_mappings.rs
  core/src/entity/user_federation_providers.rs
  core/src/entity/user_required_actions.rs
  core/src/entity/user_role.rs
  core/src/entity/user_sessions.rs
  core/src/entity/users.rs
  core/src/entity/webhook_subscribers.rs
  core/src/entity/webhooks.rs
Due: rust-fmt, rust-clippy

wip
  api/src/application/http/client/validators.rs
  api/src/application/http/realm/validators.rs
  front/pnpm-lock.yaml
  front/src/components/ui/duration-input.tsx
  front/src/components/ui/input-group.tsx
  front/src/pages/client/schemas/update-client.schema.ts
  front/src/pages/client/ui/page-client-settings.tsx
  front/src/pages/realm/feature/page-realm-settings-tokens-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-tokens.tsx
Due: rust-fmt, rust-clippy, esint

wip
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  front/src/components/ui/duration-input.tsx
  front/src/hooks/use-form-changes.ts
  front/src/utils/index.ts
Due: rust-fmt, rust-clippy, esint

feat: enhance token lifetime design (#850)
  api/src/application/http/client/validators.rs
  api/src/application/http/realm/validators.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  front/pnpm-lock.yaml
  front/src/components/ui/duration-input.tsx
  front/src/components/ui/input-group.tsx
  front/src/hooks/use-form-changes.ts
  front/src/pages/client/schemas/update-client.schema.ts
  front/src/pages/client/ui/page-client-settings.tsx
  front/src/pages/realm/feature/page-realm-settings-tokens-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-tokens.tsx
  front/src/utils/index.ts
Due: rust-fmt, rust-clippy, esint

wip
  front/src/components/ui/duration-input.tsx
Due: esint

feat: implement lifetime token by client
  api/src/application/http/trident/handlers/reset_password.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  front/src/components/ui/duration-input.tsx
Due: rust-fmt, rust-clippy, esint

feat: implement lifetime token by client (#852)
  api/src/application/http/trident/handlers/reset_password.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  front/src/components/ui/duration-input.tsx
Due: rust-fmt, rust-clippy, esint

docs: add maintainer member
  Cargo.toml
Due: rust-clippy

fix: normalize hosted login redirect url
  api/src/application/http/authentication/handlers/auth.rs
Due: rust-fmt, rust-clippy

test: remove project-specific domains from auth redirect tests
  api/src/application/http/authentication/handlers/auth.rs
Due: rust-fmt, rust-clippy

style: format auth redirect regression tests
  api/src/application/http/authentication/handlers/auth.rs
Due: rust-fmt, rust-clippy

Show session expiration action bar on login
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: esint

Use single quotes for session bar strings
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: esint

feat(password_policy): add password policy entity and update struct
  core/src/domain/password_policy/entity.rs
Due: rust-fmt, rust-clippy

feat(core): add password_policy module to domain
  core/src/domain/mod.rs
Due: rust-fmt, rust-clippy

feat(password): add PasswordPolicyError enum for validation errors
  core/src/domain/password_policy/error.rs
Due: rust-fmt, rust-clippy

feat(password_policy): add Postgres repository implementation
  core/src/infrastructure/repositories/password_policy_repository.rs
Due: rust-fmt, rust-clippy

feat(password_policy): add password policy service with validation logic
  core/src/domain/password_policy/service.rs
Due: rust-fmt, rust-clippy

feat(password_policy): add module structure for password policy domain
  core/src/domain/password_policy/mod.rs
Due: rust-fmt, rust-clippy

refactor(password_policy): migrate repository to use SeaORM for database operations
  core/src/infrastructure/repositories/password_policy_repository.rs
Due: rust-fmt, rust-clippy

feat(password_policy): add PasswordPolicyRepository trait for data operations
  core/src/domain/password_policy/repository.rs
Due: rust-fmt, rust-clippy

feat(core): add password_policy_repository module
  core/src/infrastructure/repositories.rs
Due: rust-fmt, rust-clippy

refactor(core): reorganize policy imports in services module
  core/src/application/services.rs
Due: rust-fmt, rust-clippy
