Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

feat: validate membership and user realm for organizations
  core/src/application/mod.rs
  core/src/domain/organization/services.rs
Due: rust-fmt, rust-clippy

feat: validate membership and user realm for organizations (#897)
  core/src/application/mod.rs
  core/src/domain/organization/services.rs
Due: rust-fmt, rust-clippy

feat: add organization HTTP endpoints and tests
  Cargo.lock
  api/Cargo.toml
  api/src/application/http.rs
  api/src/application/http/organization.rs
  api/src/application/http/organization/handlers.rs
  api/src/application/http/organization/handlers/create_organization.rs
  api/src/application/http/organization/handlers/delete_organization.rs
  api/src/application/http/organization/handlers/get_organization.rs
  api/src/application/http/organization/handlers/list_organizations.rs
  api/src/application/http/organization/handlers/update_organization.rs
  api/src/application/http/organization/router.rs
  api/src/application/http/organization/validators.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
  api/src/lib.rs
  api/tests/organization_test.rs
Due: rust-fmt, rust-clippy

feat: add organization HTTP endpoints and tests (#898)
  Cargo.lock
  api/Cargo.toml
  api/src/application/http.rs
  api/src/application/http/organization.rs
  api/src/application/http/organization/handlers.rs
  api/src/application/http/organization/handlers/create_organization.rs
  api/src/application/http/organization/handlers/delete_organization.rs
  api/src/application/http/organization/handlers/get_organization.rs
  api/src/application/http/organization/handlers/list_organizations.rs
  api/src/application/http/organization/handlers/update_organization.rs
  api/src/application/http/organization/router.rs
  api/src/application/http/organization/validators.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
  api/src/lib.rs
  api/tests/organization_test.rs
Due: rust-fmt, rust-clippy

feat: add organization attribute endpoints and tests
  api/src/application/http/organization/handlers.rs
  api/src/application/http/organization/handlers/delete_attribute.rs
  api/src/application/http/organization/handlers/list_attributes.rs
  api/src/application/http/organization/handlers/upsert_attribute.rs
  api/src/application/http/organization/router.rs
  api/src/application/http/organization/validators.rs
  api/tests/organization_test.rs
Due: rust-fmt, rust-clippy

feat: implement email builder engine (#895)
  front/package.json
  front/pnpm-lock.yaml
  front/src/lib/builder-core/components/builder-shell.tsx
  front/src/lib/builder-core/components/canvas.tsx
  front/src/lib/builder-core/components/component-library.tsx
  front/src/lib/builder-core/components/config-panel.tsx
  front/src/lib/builder-core/components/drag-overlay.tsx
  front/src/lib/builder-core/context.tsx
  front/src/lib/builder-core/hooks.ts
  front/src/lib/builder-core/index.ts
  front/src/lib/builder-core/types.ts
  front/src/lib/builder-core/utils.ts
Due: esint

feat: implement mjml adapter
  front/package.json
  front/pnpm-lock.yaml
  front/src/lib/builder-mjml/adapter.ts
  front/src/lib/builder-mjml/components.tsx
  front/src/lib/builder-mjml/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-mjml/config-panels/rich-text-editor.tsx
  front/src/lib/builder-mjml/config-panels/shared-fields.tsx
  front/src/lib/builder-mjml/index.ts
  front/src/lib/builder-mjml/preview.tsx
  front/src/lib/builder-mjml/renderer.ts
  front/src/lib/builder-mjml/types.ts
Due: esint

feat: password policy/frontend (#864)
  api/src/application/http/realm/validators.rs
  core/src/domain/password_policy/entity.rs
  core/src/domain/password_policy/service.rs
  front/openapi.yaml
  front/src/api/api.client.ts
  front/src/api/realm.api.ts
  front/src/pages/realm/feature/page-realm-settings-password-policy-feature.tsx
  front/src/pages/realm/page-realm.tsx
  front/src/pages/realm/ui/page-realm-settings-password-policy.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
  front/src/pages/realm/validators.ts
Due: rust-fmt, rust-clippy, esint

feat: implement mjml adapter (#900)
  front/package.json
  front/pnpm-lock.yaml
  front/src/lib/builder-mjml/adapter.ts
  front/src/lib/builder-mjml/components.tsx
  front/src/lib/builder-mjml/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-mjml/config-panels/rich-text-editor.tsx
  front/src/lib/builder-mjml/config-panels/shared-fields.tsx
  front/src/lib/builder-mjml/index.ts
  front/src/lib/builder-mjml/preview.tsx
  front/src/lib/builder-mjml/renderer.ts
  front/src/lib/builder-mjml/types.ts
Due: esint

feat(helm): add GatewayAPI Support for Helm chart (#859)
  charts/ferriskey/README.md
  charts/ferriskey/templates/_helpers.yaml
  charts/ferriskey/templates/api/deployment.yaml
  charts/ferriskey/templates/httproute.yaml
  charts/ferriskey/templates/ingress.yaml
  charts/ferriskey/templates/validate.yaml
  charts/ferriskey/templates/webapp/deployment.yaml
  charts/ferriskey/values.yaml
Due: none

feat: implement builder in pages
  front/src/App.tsx
  front/src/api/email-template.api.ts
  front/src/pages/email-template/feature/page-email-template-builder-feature.tsx
  front/src/pages/email-template/feature/page-email-template-list-feature.tsx
  front/src/pages/email-template/page-email-template.tsx
  front/src/pages/email-template/ui/page-email-template-builder.tsx
  front/src/pages/email-template/ui/page-email-template-list.tsx
  front/src/pages/realm/feature/page-realm-settings-email-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-email.tsx
  front/src/routes/router.ts
  front/src/routes/sub-router/email-template.router.ts
Due: esint

feat: implement builder in pages (#901)
  front/src/App.tsx
  front/src/api/email-template.api.ts
  front/src/pages/email-template/feature/page-email-template-builder-feature.tsx
  front/src/pages/email-template/feature/page-email-template-list-feature.tsx
  front/src/pages/email-template/page-email-template.tsx
  front/src/pages/email-template/ui/page-email-template-builder.tsx
  front/src/pages/email-template/ui/page-email-template-list.tsx
  front/src/pages/realm/feature/page-realm-settings-email-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-email.tsx
  front/src/routes/router.ts
  front/src/routes/sub-router/email-template.router.ts
Due: esint

feat: add organization attribute endpoints and tests (#899)
  api/src/application/http/organization/handlers.rs
  api/src/application/http/organization/handlers/delete_attribute.rs
  api/src/application/http/organization/handlers/list_attributes.rs
  api/src/application/http/organization/handlers/upsert_attribute.rs
  api/src/application/http/organization/router.rs
  api/src/application/http/organization/validators.rs
  api/tests/organization_test.rs
Due: rust-fmt, rust-clippy

feat: add organization member endpoints and tests
  api/src/application/http/organization/handlers.rs
  api/src/application/http/organization/handlers/add_member.rs
  api/src/application/http/organization/handlers/list_members.rs
  api/src/application/http/organization/handlers/remove_member.rs
  api/src/application/http/organization/router.rs
  api/src/application/http/organization/validators.rs
  api/src/application/http/user/handlers.rs
  api/src/application/http/user/handlers/list_user_organizations.rs
  api/src/application/http/user/router.rs
  api/tests/organization_test.rs
Due: rust-fmt, rust-clippy

feat: create email template and assignment
  api/src/application/http/email_template/handlers/activate_template.rs
  api/src/application/http/email_template/handlers/mod.rs
  api/src/application/http/email_template/router.rs
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  core/migrations/20260328000000_add_email_template_refs_to_realm_settings.down.sql
  core/migrations/20260328000000_add_email_template_refs_to_realm_settings.up.sql
  core/src/application/email_template/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/email_template/entities.rs
  core/src/domain/email_template/ports.rs
  core/src/domain/email_template/services.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/seawatch/entities.rs
  core/src/domain/trident/services.rs
  core/src/entity/email_templates.rs
  core/src/entity/realm_settings.rs
  core/src/infrastructure/email_template/mappers.rs
  core/src/infrastructure/email_template/renderer/mjml_renderer.rs
  core/src/infrastructure/email_template/repositories/email_template_repository.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/seawatch/mapper.rs
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
  front/src/api/email-template.api.ts
  front/src/pages/email-template/feature/page-email-template-builder-feature.tsx
  front/src/pages/email-template/feature/page-email-template-list-feature.tsx
  front/src/pages/email-template/ui/page-email-template-list.tsx
  front/src/pages/realm/feature/page-realm-settings-email-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-email.tsx
  libs/ferriskey-domain/src/auth/mod.rs
  libs/ferriskey-domain/src/realm/mod.rs
Due: rust-fmt, rust-clippy, esint

feat: add organization member endpoints and tests (#902)
  api/src/application/http/organization/handlers.rs
  api/src/application/http/organization/handlers/add_member.rs
  api/src/application/http/organization/handlers/list_members.rs
  api/src/application/http/organization/handlers/remove_member.rs
  api/src/application/http/organization/router.rs
  api/src/application/http/organization/validators.rs
  api/src/application/http/user/handlers.rs
  api/src/application/http/user/handlers/list_user_organizations.rs
  api/src/application/http/user/router.rs
  api/tests/organization_test.rs
Due: rust-fmt, rust-clippy

feat: create email template and assignment (#903)
  api/src/application/http/email_template/handlers/activate_template.rs
  api/src/application/http/email_template/handlers/mod.rs
  api/src/application/http/email_template/router.rs
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  core/migrations/20260328000000_add_email_template_refs_to_realm_settings.down.sql
  core/migrations/20260328000000_add_email_template_refs_to_realm_settings.up.sql
  core/src/application/email_template/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/email_template/entities.rs
  core/src/domain/email_template/ports.rs
  core/src/domain/email_template/services.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/seawatch/entities.rs
  core/src/domain/trident/services.rs
  core/src/entity/email_templates.rs
  core/src/entity/realm_settings.rs
  core/src/infrastructure/email_template/mappers.rs
  core/src/infrastructure/email_template/renderer/mjml_renderer.rs
  core/src/infrastructure/email_template/repositories/email_template_repository.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/seawatch/mapper.rs
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
  front/src/api/email-template.api.ts
  front/src/pages/email-template/feature/page-email-template-builder-feature.tsx
  front/src/pages/email-template/feature/page-email-template-list-feature.tsx
  front/src/pages/email-template/ui/page-email-template-list.tsx
  front/src/pages/realm/feature/page-realm-settings-email-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-email.tsx
  libs/ferriskey-domain/src/auth/mod.rs
  libs/ferriskey-domain/src/realm/mod.rs
Due: rust-fmt, rust-clippy, esint

Update services.rs
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

feat: send email error into sea watch (#904)
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

feat: expose organization context to protocol mappers
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/mapper_engine.rs
  core/src/domain/authentication/mappers/audience_mapper.rs
  core/src/domain/authentication/mappers/hardcoded_claim_mapper.rs
  core/src/domain/authentication/mappers/user_attribute_mapper.rs
  core/src/domain/authentication/mappers/user_client_role_mapper.rs
  core/src/domain/authentication/mappers/user_property_mapper.rs
  core/src/domain/authentication/mappers/user_realm_role_mapper.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

docs: add maintainer member
  Cargo.toml
Due: rust-clippy

docs: add maintainer member (#907)
  Cargo.toml
Due: rust-clippy

feat: expose organization context to protocol mappers (#906)
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/mapper_engine.rs
  core/src/domain/authentication/mappers/audience_mapper.rs
  core/src/domain/authentication/mappers/hardcoded_claim_mapper.rs
  core/src/domain/authentication/mappers/user_attribute_mapper.rs
  core/src/domain/authentication/mappers/user_client_role_mapper.rs
  core/src/domain/authentication/mappers/user_property_mapper.rs
  core/src/domain/authentication/mappers/user_realm_role_mapper.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat: add explicit email errors for seawatch and show it
  core/src/domain/trident/services.rs
  front/src/pages/seawatch/ui/page-overview.tsx
Due: rust-fmt, rust-clippy, esint

feat: add explicit email errors for seawatch and show it (#908)
  core/src/domain/trident/services.rs
  front/src/pages/seawatch/ui/page-overview.tsx
Due: rust-fmt, rust-clippy, esint

feat: implement example email templates
  front/src/lib/builder-core/components/preset-library.tsx
  front/src/lib/builder-core/index.ts
  front/src/lib/builder-core/utils.ts
  front/src/lib/builder-mjml/index.ts
  front/src/lib/builder-mjml/presets.ts
  front/src/pages/email-template/feature/page-email-template-builder-feature.tsx
  front/src/pages/email-template/ui/page-email-template-builder.tsx
Due: esint

wip
  front/src/lib/builder-core/components/preset-library.tsx
Due: esint

feat: implement example email templates (#909)
  front/src/lib/builder-core/components/preset-library.tsx
  front/src/lib/builder-core/index.ts
  front/src/lib/builder-core/utils.ts
  front/src/lib/builder-mjml/index.ts
  front/src/lib/builder-mjml/presets.ts
  front/src/pages/email-template/feature/page-email-template-builder-feature.tsx
  front/src/pages/email-template/ui/page-email-template-builder.tsx
Due: esint

refactor: move smtp to dedicated section
  front/src/api/api.client.ts
  front/src/api/email-template.api.ts
  front/src/pages/email-template/feature/page-email-template-builder-feature.tsx
  front/src/pages/email-template/page-email-template.tsx
  front/src/pages/realm/feature/page-realm-settings-email-feature.tsx
  front/src/pages/realm/feature/page-realm-settings-smtp-feature.tsx
  front/src/pages/realm/page-realm.tsx
  front/src/pages/realm/ui/page-realm-settings-email.tsx
  front/src/pages/realm/ui/page-realm-settings-smtp.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
Due: esint

wip
  front/src/pages/realm/layouts/realm-settings-layout.tsx
Due: esint

refactor: move smtp to dedicated section (#910)
  front/src/api/api.client.ts
  front/src/api/email-template.api.ts
  front/src/pages/email-template/feature/page-email-template-builder-feature.tsx
  front/src/pages/email-template/page-email-template.tsx
  front/src/pages/realm/feature/page-realm-settings-email-feature.tsx
  front/src/pages/realm/feature/page-realm-settings-smtp-feature.tsx
  front/src/pages/realm/layouts/realm-settings-layout.tsx
  front/src/pages/realm/page-realm.tsx
  front/src/pages/realm/ui/page-realm-settings-email.tsx
  front/src/pages/realm/ui/page-realm-settings-smtp.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
Due: esint

feat: enhance seawatch event rendering
  core/src/domain/seawatch/entities.rs
  core/src/domain/trident/services.rs
  front/src/api/api.client.ts
  front/src/pages/seawatch/ui/page-overview.tsx
Due: rust-fmt, rust-clippy, esint

feat: enhance seawatch event rendering (#911)
  core/src/domain/seawatch/entities.rs
  core/src/domain/trident/services.rs
  front/src/api/api.client.ts
  front/src/pages/seawatch/ui/page-overview.tsx
Due: rust-fmt, rust-clippy, esint

feat: add organization detail and membership mappers
  core/src/domain/authentication/mapper_engine.rs
  core/src/domain/authentication/mappers/mod.rs
  core/src/domain/authentication/mappers/org_detail_mapper.rs
  core/src/domain/authentication/mappers/org_membership_mapper.rs
Due: rust-fmt, rust-clippy

feat: add organization detail and membership mappers (#912)
  core/src/domain/authentication/mapper_engine.rs
  core/src/domain/authentication/mappers/mod.rs
  core/src/domain/authentication/mappers/org_detail_mapper.rs
  core/src/domain/authentication/mappers/org_membership_mapper.rs
Due: rust-fmt, rust-clippy

docs: change documentation url
  README.md
Due: none

docs: change documentation url (#914)
  README.md
Due: none

feat: add Organizations feature (frontend + API hooks)
  api/src/application/http/organization/handlers/list_attributes.rs
  api/src/application/http/organization/handlers/list_organizations.rs
  api/tests/organization_test.rs
  front/src/App.tsx
  front/src/api/api.client.ts
  front/src/api/organization.api.ts
  front/src/components/nav-main.tsx
  front/src/pages/organization/feature/page-create-organization-feature.tsx
  front/src/pages/organization/feature/page-organization-attributes-feature.tsx
  front/src/pages/organization/feature/page-organization-settings-feature.tsx
  front/src/pages/organization/feature/page-organizations-overview-feature.tsx
  front/src/pages/organization/layout/organization-layout.tsx
  front/src/pages/organization/page-organization.tsx
  front/src/pages/organization/schemas/create-organization.schema.ts
  front/src/pages/organization/schemas/update-organization.schema.ts
  front/src/pages/organization/ui/page-create-organization.tsx
  front/src/pages/organization/ui/page-organization-attributes.tsx
  front/src/pages/organization/ui/page-organization-settings.tsx
  front/src/pages/organization/ui/page-organizations-overview.tsx
  front/src/routes/sub-router/organization.router.ts
Due: rust-fmt, rust-clippy, esint

feat: organizations build frontend organization details and attributes UI (#915)
  api/src/application/http/organization/handlers/list_attributes.rs
  api/src/application/http/organization/handlers/list_organizations.rs
  api/tests/organization_test.rs
  front/src/App.tsx
  front/src/api/api.client.ts
  front/src/api/organization.api.ts
  front/src/components/nav-main.tsx
  front/src/pages/organization/feature/page-create-organization-feature.tsx
  front/src/pages/organization/feature/page-organization-attributes-feature.tsx
  front/src/pages/organization/feature/page-organization-settings-feature.tsx
  front/src/pages/organization/feature/page-organizations-overview-feature.tsx
  front/src/pages/organization/layout/organization-layout.tsx
  front/src/pages/organization/page-organization.tsx
  front/src/pages/organization/schemas/create-organization.schema.ts
  front/src/pages/organization/schemas/update-organization.schema.ts
  front/src/pages/organization/ui/page-create-organization.tsx
  front/src/pages/organization/ui/page-organization-attributes.tsx
  front/src/pages/organization/ui/page-organization-settings.tsx
  front/src/pages/organization/ui/page-organizations-overview.tsx
  front/src/routes/sub-router/organization.router.ts
Due: rust-fmt, rust-clippy, esint

feat(api): add verify-email endpoint and error handling
  api/src/application/http/authentication/handlers.rs
  api/src/application/http/authentication/handlers/verify_email.rs
  api/src/application/http/authentication/router.rs
  api/src/application/http/error.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
