Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

enhance: role creation toast show/required atleast one role (#598)
  front/src/api/role.api.ts
  front/src/pages/role/feature/page-create-role-feature.tsx
  front/src/pages/role/ui/page-create-role.tsx
Due: esint

feat: improve authentication flows and UI
  front/src/main.tsx
  front/src/pages/authentication/feature/execution/configure-otp-feature.tsx
  front/src/pages/authentication/feature/page-otp-challenge-feature.tsx
  front/src/pages/authentication/feature/page-required-action-feature.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/authentication/ui/page-otp-challenge.tsx
Due: esint

fix: improve token handling and TOTP logging
  core/src/domain/authentication/services.rs
  core/src/domain/jwt/entities.rs
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

fix: update registry ports and URLs in docker-compose
  docker-compose.yaml
Due: none

fix: updates request changes for Baptiste
  core/src/domain/trident/services.rs
  front/src/pages/authentication/feature/execution/configure-otp-feature.tsx
Due: rust-fmt, rust-clippy, esint

fix: error when I want setup my totp code (#599)
  core/src/domain/authentication/services.rs
  core/src/domain/jwt/entities.rs
  core/src/domain/trident/services.rs
  docker-compose.yaml
  front/src/main.tsx
  front/src/pages/authentication/feature/execution/configure-otp-feature.tsx
  front/src/pages/authentication/feature/page-otp-challenge-feature.tsx
  front/src/pages/authentication/feature/page-required-action-feature.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/authentication/ui/page-otp-challenge.tsx
Due: rust-fmt, rust-clippy, esint

feat: change blue color to primary
  front/src/pages/authentication/ui/execution/configure-otp.tsx
Due: esint

feat: change blue color to primary (#600)
  front/src/pages/authentication/ui/execution/configure-otp.tsx
Due: esint

feat: add stats cards and filters to user/role overviews
  front/src/components/ui/chart.tsx
  front/src/pages/role/components/statistics-card.tsx
  front/src/pages/role/feature/page-roles-overview-feature.tsx
  front/src/pages/role/layout/roles-layout.tsx
  front/src/pages/role/page-role.tsx
  front/src/pages/role/ui/page-roles-overview.tsx
  front/src/pages/user/components/statistics-card.tsx
  front/src/pages/user/feature/page-users-overview-feature.tsx
  front/src/pages/user/ui/page-users-overview.tsx
Due: esint

feat: add client trend chart and stats card chart slot
  front/src/pages/client/components/client-trend-chart.tsx
  front/src/pages/client/components/statistics-card.tsx
  front/src/pages/client/ui/page-clients-overview.tsx
Due: esint

feat: use area charts and add trend UI in stats cards
  front/src/pages/client/components/client-trend-chart.tsx
  front/src/pages/client/components/statistics-card.tsx
  front/src/pages/client/ui/page-clients-overview.tsx
Due: esint

fix: use cn for StatisticsCard classNames
  front/src/pages/role/components/statistics-card.tsx
  front/src/pages/user/components/statistics-card.tsx
Due: esint

feat: enhance UI layout (#602)
  front/src/components/ui/chart.tsx
  front/src/pages/client/components/client-trend-chart.tsx
  front/src/pages/client/components/statistics-card.tsx
  front/src/pages/client/ui/page-clients-overview.tsx
  front/src/pages/role/components/statistics-card.tsx
  front/src/pages/role/feature/page-roles-overview-feature.tsx
  front/src/pages/role/layout/roles-layout.tsx
  front/src/pages/role/page-role.tsx
  front/src/pages/role/ui/page-roles-overview.tsx
  front/src/pages/user/components/statistics-card.tsx
  front/src/pages/user/feature/page-users-overview-feature.tsx
  front/src/pages/user/ui/page-users-overview.tsx
Due: esint

feat: name HTTP request span and add OTel fields
  api/src/application/http/server/http_server.rs
Due: rust-fmt, rust-clippy

feat: add userinfo endpoint and auth middleware
  api/src/application/decoded_token.rs
  api/src/application/http/authentication/handlers.rs
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/userinfo.rs
  api/src/application/http/authentication/router.rs
  api/src/application/http/server/http_server.rs
Due: rust-fmt, rust-clippy

feat: add OpenID Connect userinfo support
  api/src/application/decoded_token.rs
  api/src/application/http/authentication/handlers/userinfo.rs
  core/src/application/auth/mod.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
Due: rust-fmt, rust-clippy

feat: add POST route for userinfo endpoint
  api/src/application/http/authentication/router.rs
Due: rust-fmt, rust-clippy

added sign-up validation
  front/src/pages/authentication/feature/page-register-feature.tsx
  front/src/pages/authentication/ui/page-register.tsx
Due: esint

feat: add userinfo endpoint and auth middleware (#583)
  api/src/application/decoded_token.rs
  api/src/application/http/authentication/handlers.rs
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/userinfo.rs
  api/src/application/http/authentication/router.rs
  api/src/application/http/server/http_server.rs
  core/src/application/auth/mod.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
Due: rust-fmt, rust-clippy

removed commment
  front/src/pages/authentication/feature/page-register-feature.tsx
Due: esint

feat: added sign-up validation (#604)
  front/src/pages/authentication/feature/page-register-feature.tsx
  front/src/pages/authentication/ui/page-register.tsx
Due: esint

feat: add scope handling and ScopeManager
  api/src/application/http/authentication/handlers/token.rs
  api/src/application/http/authentication/validators.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/mod.rs
  core/src/domain/authentication/scope.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
Due: rust-fmt, rust-clippy

feat: validate and filter scopes before JWT creation
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat: make openid optional and add merge_with_defaults
  core/src/domain/authentication/scope.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

typo: remove commentary
  core/src/domain/authentication/scope.rs
Due: rust-fmt, rust-clippy

feat: support scope protocol openid connect token (#605)
  api/src/application/http/authentication/handlers/token.rs
  api/src/application/http/authentication/validators.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/mod.rs
  core/src/domain/authentication/scope.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
Due: rust-fmt, rust-clippy

validation message showed
  front/src/pages/user/ui/create-user-modal.tsx
  front/src/pages/user/validators.ts
Due: esint

feat: refactor get_userinfo to accept Identity and claims
  api/src/application/auth.rs
  api/src/application/http/authentication/handlers/userinfo.rs
  api/src/application/http/authentication/router.rs
  core/src/application/auth/mod.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/scope.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
Due: rust-fmt, rust-clippy

validation message showed (#607)
  front/src/pages/user/ui/create-user-modal.tsx
  front/src/pages/user/validators.ts
Due: esint

feat: refactor get_userinfo to accept Identity and claims (#609)
  api/src/application/auth.rs
  api/src/application/http/authentication/handlers/userinfo.rs
  api/src/application/http/authentication/router.rs
  core/src/application/auth/mod.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/scope.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
Due: rust-fmt, rust-clippy

feat: create service account for new clients
  core/src/application/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
Due: rust-fmt, rust-clippy

feat: create service account for new clients (#615)
  core/src/application/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
Due: rust-fmt, rust-clippy

fix: invalidate client using existing query key
  front/src/api/client.api.ts
Due: esint

fixed floating bar issue
  front/src/api/user.api.ts
Due: esint

fix: fixed floating bar issue (#618)
  front/src/api/user.api.ts
Due: esint

fix: invalidate client using existing query key (#617)
  front/src/api/client.api.ts
Due: esint

fix: refactor auth handler to use axum-extra cookie
  Cargo.lock
  api/Cargo.toml
  api/src/application/http/authentication/handlers/auth.rs
Due: rust-fmt, rust-clippy

fix: refactor auth handler to use axum-extra cookie (#620)
  Cargo.lock
  api/Cargo.toml
  api/src/application/http/authentication/handlers/auth.rs
Due: rust-fmt, rust-clippy

feat: github-star-modal branding update
  front/src/components/github-star-modal.tsx
Due: esint
