Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

wip
  api/src/entity/access_tokens.rs
  api/src/entity/auth_sessions.rs
  api/src/entity/broker_auth_sessions.rs
  api/src/entity/client_scope_attributes.rs
  api/src/entity/client_scope_mappings.rs
  api/src/entity/client_scope_protocol_mappers.rs
  api/src/entity/client_scopes.rs
  api/src/entity/clients.rs
  api/src/entity/compass_flow_steps.rs
  api/src/entity/compass_flows.rs
  api/src/entity/credentials.rs
  api/src/entity/identity_provider_links.rs
  api/src/entity/identity_providers.rs
  api/src/entity/jwt_keys.rs
  api/src/entity/magic_links.rs
  api/src/entity/mod.rs
  api/src/entity/post_logout_redirect_uris.rs
  api/src/entity/prelude.rs
  api/src/entity/realm_settings.rs
  api/src/entity/realms.rs
  api/src/entity/redirect_uris.rs
  api/src/entity/refresh_tokens.rs
  api/src/entity/roles.rs
  api/src/entity/security_events.rs
  api/src/entity/user_federation_mappings.rs
  api/src/entity/user_federation_providers.rs
  api/src/entity/user_required_actions.rs
  api/src/entity/user_role.rs
  api/src/entity/user_sessions.rs
  api/src/entity/users.rs
  api/src/entity/webhook_subscribers.rs
  api/src/entity/webhooks.rs
Due: rust-fmt, rust-clippy

wip
  core/migrations/20260305000001_create_compass_flows.up.sql
  core/migrations/20260305000003_add_compass_flow_id_to_auth_sessions.up.sql
  core/src/entity/access_tokens.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/broker_auth_sessions.rs
  core/src/entity/client_scope_attributes.rs
  core/src/entity/client_scope_mappings.rs
  core/src/entity/client_scope_protocol_mappers.rs
  core/src/entity/client_scopes.rs
  core/src/entity/clients.rs
  core/src/entity/compass_flow_steps.rs
  core/src/entity/compass_flows.rs
  core/src/entity/credentials.rs
  core/src/entity/identity_provider_links.rs
  core/src/entity/identity_providers.rs
  core/src/entity/jwt_keys.rs
  core/src/entity/magic_links.rs
  core/src/entity/mod.rs
  core/src/entity/post_logout_redirect_uris.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
  core/src/entity/redirect_uris.rs
  core/src/entity/refresh_tokens.rs
  core/src/entity/roles.rs
  core/src/entity/security_events.rs
  core/src/entity/user_federation_mappings.rs
  core/src/entity/user_federation_providers.rs
  core/src/entity/user_required_actions.rs
  core/src/entity/user_role.rs
  core/src/entity/user_sessions.rs
  core/src/entity/users.rs
  core/src/entity/webhook_subscribers.rs
  core/src/entity/webhooks.rs
Due: rust-fmt, rust-clippy

fix: use default_scope_type for client scopes
  front/src/api/api.client.ts
  front/src/api/identity-providers.api.ts
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
  front/src/pages/client-scope/feature/page-client-scopes-overview-feature.tsx
  front/src/pages/client-scope/layout/client-scope-layout.tsx
  front/src/pages/client-scope/ui/page-client-scope-detail.tsx
  front/src/pages/client-scope/ui/page-client-scopes-overview.tsx
Due: esint

fix: use default_scope_type for client scopes (#783)
  front/src/api/api.client.ts
  front/src/api/identity-providers.api.ts
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
  front/src/pages/client-scope/feature/page-client-scopes-overview-feature.tsx
  front/src/pages/client-scope/layout/client-scope-layout.tsx
  front/src/pages/client-scope/ui/page-client-scope-detail.tsx
  front/src/pages/client-scope/ui/page-client-scopes-overview.tsx
Due: esint

feat: wip and many changes
  front/src/api/client.api.ts
Due: esint

feat: wip
  front/src/api/client.api.ts
  front/src/pages/client/feature/page-client-scopes-feature.tsx
  front/src/pages/client/layout/client-layout.tsx
  front/src/pages/client/page-client.tsx
  front/src/pages/client/ui/components/add-scope-modal.tsx
  front/src/pages/client/ui/components/assigned-scopes-table.tsx
  front/src/pages/client/ui/components/effective-scopes-preview.tsx
  front/src/pages/client/ui/page-client-scopes.tsx
Due: esint

feat: implement compass domain
  core/src/domain/compass/entities.rs
  core/src/domain/compass/mod.rs
  core/src/domain/compass/policies.rs
  core/src/domain/compass/ports.rs
  core/src/domain/compass/recorder.rs
  core/src/domain/compass/services.rs
  core/src/domain/compass/value_objects.rs
  core/src/domain/mod.rs
Due: rust-fmt, rust-clippy

wip
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/src/domain/compass/mod.rs
  core/src/domain/compass/ports.rs
  core/src/domain/compass/services.rs
  libs/ferriskey-compass/Cargo.toml
  libs/ferriskey-compass/src/entities.rs
  libs/ferriskey-compass/src/lib.rs
  libs/ferriskey-compass/src/ports.rs
  libs/ferriskey-compass/src/recorder.rs
  libs/ferriskey-compass/src/value_objects.rs
Due: rust-fmt, rust-clippy

fix: use Schemas.ClientScope in client scope UI
  front/src/pages/client/ui/components/add-scope-modal.tsx
  front/src/pages/client/ui/components/assigned-scopes-table.tsx
  front/src/pages/client/ui/components/effective-scopes-preview.tsx
  front/src/pages/client/ui/page-client-scopes.tsx
Due: esint

fix: add newline at end of file
  front/src/pages/client/feature/page-client-scopes-feature.tsx
Due: esint

wip
  core/src/domain/compass/mod.rs
  core/src/domain/compass/policies.rs
  core/src/domain/compass/ports.rs
  core/src/domain/compass/services.rs
  libs/ferriskey-compass/src/entities.rs
  libs/ferriskey-compass/src/ports.rs
Due: rust-fmt, rust-clippy

wip
  Dockerfile
Due: hadolint

refactor: use async mutateAsync for scope type changes
  front/src/pages/client/ui/components/assigned-scopes-table.tsx
Due: esint

feat(front): add client scope assignment UI on client detail page (#785)
  front/src/api/client.api.ts
  front/src/pages/client/feature/page-client-scopes-feature.tsx
  front/src/pages/client/layout/client-layout.tsx
  front/src/pages/client/page-client.tsx
  front/src/pages/client/ui/components/add-scope-modal.tsx
  front/src/pages/client/ui/components/assigned-scopes-table.tsx
  front/src/pages/client/ui/components/effective-scopes-preview.tsx
  front/src/pages/client/ui/page-client-scopes.tsx
Due: esint

feat: add protocol mappers UI and templates
  front/src/api/client-scope.api.ts
  front/src/pages/client-scope/components/mapper-config-fields.tsx
  front/src/pages/client-scope/constants/protocol-mapper-templates.ts
  front/src/pages/client-scope/feature/modals/edit-protocol-mapper-modal-feature.tsx
  front/src/pages/client-scope/feature/modals/mapper-template-picker-modal-feature.tsx
  front/src/pages/client-scope/feature/page-create-protocol-mapper-feature.tsx
  front/src/pages/client-scope/feature/page-protocol-mappers-feature.tsx
  front/src/pages/client-scope/layout/client-scope-layout.tsx
  front/src/pages/client-scope/page-client-scope.tsx
  front/src/pages/client-scope/schemas/create-protocol-mapper.schema.ts
  front/src/pages/client-scope/schemas/mapper-template-form.schema.ts
  front/src/pages/client-scope/schemas/update-protocol-mapper.schema.ts
  front/src/pages/client-scope/ui/modals/edit-protocol-mapper-modal.tsx
  front/src/pages/client-scope/ui/modals/mapper-template-picker-modal.tsx
  front/src/pages/client-scope/ui/page-create-protocol-mapper.tsx
  front/src/pages/client-scope/ui/page-protocol-mappers.tsx
  front/src/routes/sub-router/client-scope.router.ts
Due: esint

feat: add Protocol Mapper settings UI and routes
  front/src/App.css
  front/src/pages/client-scope/feature/page-protocol-mapper-settings-feature.tsx
  front/src/pages/client-scope/feature/page-protocol-mappers-feature.tsx
  front/src/pages/client-scope/page-client-scope.tsx
  front/src/pages/client-scope/schemas/mapper-settings.schema.ts
  front/src/pages/client-scope/ui/modals/mapper-template-picker-modal.tsx
  front/src/pages/client-scope/ui/page-protocol-mapper-settings.tsx
  front/src/pages/client-scope/ui/page-protocol-mappers.tsx
  front/src/routes/router.ts
  front/src/routes/sub-router/client-scope.router.ts
Due: esint

fix: identity provider query params and path
  front/src/api/identity-providers.api.ts
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
Due: esint

feat: associate labels with inputs in mapper fields
  front/src/pages/client-scope/components/mapper-config-fields.tsx
Due: esint

refactor: clean up frontend layout and API calls
  front/src/api/identity-providers.api.ts
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
  front/src/pages/client-scope/layout/client-scope-layout.tsx
Due: esint

feat: add protocol mapper ui (#779)
  front/src/App.css
  front/src/api/client-scope.api.ts
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
  front/src/pages/client-scope/components/mapper-config-fields.tsx
  front/src/pages/client-scope/constants/protocol-mapper-templates.ts
  front/src/pages/client-scope/feature/modals/edit-protocol-mapper-modal-feature.tsx
  front/src/pages/client-scope/feature/modals/mapper-template-picker-modal-feature.tsx
  front/src/pages/client-scope/feature/page-create-protocol-mapper-feature.tsx
  front/src/pages/client-scope/feature/page-protocol-mapper-settings-feature.tsx
  front/src/pages/client-scope/feature/page-protocol-mappers-feature.tsx
  front/src/pages/client-scope/layout/client-scope-layout.tsx
  front/src/pages/client-scope/page-client-scope.tsx
  front/src/pages/client-scope/schemas/create-protocol-mapper.schema.ts
  front/src/pages/client-scope/schemas/mapper-settings.schema.ts
  front/src/pages/client-scope/schemas/mapper-template-form.schema.ts
  front/src/pages/client-scope/schemas/update-protocol-mapper.schema.ts
  front/src/pages/client-scope/ui/modals/edit-protocol-mapper-modal.tsx
  front/src/pages/client-scope/ui/modals/mapper-template-picker-modal.tsx
  front/src/pages/client-scope/ui/page-create-protocol-mapper.tsx
  front/src/pages/client-scope/ui/page-protocol-mapper-settings.tsx
  front/src/pages/client-scope/ui/page-protocol-mappers.tsx
  front/src/routes/router.ts
  front/src/routes/sub-router/client-scope.router.ts
Due: esint

wip
  core/src/domain/compass/services.rs
  libs/ferriskey-compass/src/ports.rs
Due: rust-fmt, rust-clippy

feat: implement compass domain (#784)
  Cargo.lock
  Cargo.toml
  Dockerfile
  core/Cargo.toml
  core/src/domain/compass/mod.rs
  core/src/domain/compass/policies.rs
  core/src/domain/compass/services.rs
  core/src/domain/mod.rs
  libs/ferriskey-compass/Cargo.toml
  libs/ferriskey-compass/src/entities.rs
  libs/ferriskey-compass/src/lib.rs
  libs/ferriskey-compass/src/ports.rs
  libs/ferriskey-compass/src/recorder.rs
  libs/ferriskey-compass/src/value_objects.rs
Due: rust-fmt, rust-clippy, hadolint

feat: implement compass infrastructure
  core/src/infrastructure/compass/mapper.rs
  core/src/infrastructure/compass/mod.rs
  core/src/infrastructure/compass/repositories/compass_flow_postgres_repository.rs
  core/src/infrastructure/compass/repositories/compass_flow_step_postgres_repository.rs
  core/src/infrastructure/compass/repositories/mod.rs
  core/src/infrastructure/compass/writer.rs
  core/src/infrastructure/mod.rs
Due: rust-fmt, rust-clippy

feat: implement compass infrastructure (#786)
  core/src/infrastructure/compass/mapper.rs
  core/src/infrastructure/compass/mod.rs
  core/src/infrastructure/compass/repositories/compass_flow_postgres_repository.rs
  core/src/infrastructure/compass/repositories/compass_flow_step_postgres_repository.rs
  core/src/infrastructure/compass/repositories/mod.rs
  core/src/infrastructure/compass/writer.rs
  core/src/infrastructure/mod.rs
Due: rust-fmt, rust-clippy

feat: compass activation runtime
  api/src/args.rs
  libs/ferriskey-compass/src/recorder.rs
Due: rust-fmt, rust-clippy

feat: migrate per realm
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  api/src/args.rs
  core/migrations/20260306000001_add_compass_enabled_to_realm_settings.down.sql
  core/migrations/20260306000001_add_compass_enabled_to_realm_settings.up.sql
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/entity/realm_settings.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  libs/ferriskey-domain/src/realm/mod.rs
Due: rust-fmt, rust-clippy

feat: compass activation runtime (#787)
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  core/migrations/20260306000001_add_compass_enabled_to_realm_settings.down.sql
  core/migrations/20260306000001_add_compass_enabled_to_realm_settings.up.sql
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/entity/realm_settings.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  libs/ferriskey-compass/src/recorder.rs
  libs/ferriskey-domain/src/realm/mod.rs
Due: rust-fmt, rust-clippy

feat: implement compass wiring
  core/src/application/compass/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/infrastructure/compass/repositories/mod.rs
  core/src/infrastructure/compass/writer.rs
Due: rust-fmt, rust-clippy

fix: set scope default type when mapping client scopes
  core/src/infrastructure/aegis/repositories/scope_mapping_postgres_repository.rs
Due: rust-fmt, rust-clippy

feat: implement compass wiring (#788)
  core/src/application/compass/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/infrastructure/compass/repositories/mod.rs
  core/src/infrastructure/compass/writer.rs
Due: rust-fmt, rust-clippy

feat: auth instrumentation
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

fix: set scope default type when mapping client scopes (#789)
  core/src/infrastructure/aegis/repositories/scope_mapping_postgres_repository.rs
Due: rust-fmt, rust-clippy

feat: add user realm role mapper
  core/src/domain/authentication/mapper_engine.rs
  core/src/domain/authentication/mappers/mod.rs
  core/src/domain/authentication/mappers/user_realm_role_mapper.rs
Due: rust-fmt, rust-clippy

feat: implement auth instrumentation (#790)
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

feat: implement compass api endpoints
  api/src/application/http.rs
  api/src/application/http/compass/handlers/get_flow.rs
  api/src/application/http/compass/handlers/get_flows.rs
  api/src/application/http/compass/handlers/get_stats.rs
  api/src/application/http/compass/handlers/mod.rs
  api/src/application/http/compass/mod.rs
  api/src/application/http/compass/router.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
Due: rust-fmt, rust-clippy

feat: implement compass api endpoints (#791)
  api/src/application/http.rs
  api/src/application/http/compass/handlers/get_flow.rs
  api/src/application/http/compass/handlers/get_flows.rs
  api/src/application/http/compass/handlers/get_stats.rs
  api/src/application/http/compass/handlers/mod.rs
  api/src/application/http/compass/mod.rs
  api/src/application/http/compass/router.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
Due: rust-fmt, rust-clippy

feat: implement ui and remove refresh-token compass event
  core/src/domain/authentication/services.rs
  core/src/infrastructure/compass/mapper.rs
  core/src/infrastructure/compass/writer.rs
  front/package.json
  front/pnpm-lock.yaml
  front/src/App.tsx
  front/src/api/api.client.ts
  front/src/api/compass.api.ts
  front/src/components/nav-security.tsx
  front/src/pages/compass/feature/page-flow-detail-feature.tsx
  front/src/pages/compass/feature/page-flows-feature.tsx
  front/src/pages/compass/page-compass.tsx
  front/src/pages/compass/ui/flow-list.tsx
  front/src/pages/compass/ui/flow-timeline.tsx
  front/src/pages/compass/ui/page-flow-detail.tsx
  front/src/pages/compass/ui/page-flows.tsx
  front/src/pages/compass/ui/stats-cards.tsx
  front/src/routes/sub-router/compass.router.ts
  libs/ferriskey-compass/src/entities.rs
  libs/ferriskey-compass/src/recorder.rs
Due: rust-fmt, rust-clippy, esint

feat: implement ui and remove refresh-token compass event (#792)
  core/src/domain/authentication/services.rs
  core/src/infrastructure/compass/mapper.rs
  core/src/infrastructure/compass/writer.rs
  front/package.json
  front/pnpm-lock.yaml
  front/src/App.tsx
  front/src/api/api.client.ts
  front/src/api/compass.api.ts
  front/src/components/nav-security.tsx
  front/src/pages/compass/feature/page-flow-detail-feature.tsx
  front/src/pages/compass/feature/page-flows-feature.tsx
  front/src/pages/compass/page-compass.tsx
  front/src/pages/compass/ui/flow-list.tsx
  front/src/pages/compass/ui/flow-timeline.tsx
  front/src/pages/compass/ui/page-flow-detail.tsx
  front/src/pages/compass/ui/page-flows.tsx
  front/src/pages/compass/ui/stats-cards.tsx
  front/src/routes/sub-router/compass.router.ts
  libs/ferriskey-compass/src/entities.rs
  libs/ferriskey-compass/src/recorder.rs
Due: rust-fmt, rust-clippy, esint

feat: add UserClientRoleMapper and client_roles support
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/mapper_engine.rs
  core/src/domain/authentication/mappers/audience_mapper.rs
  core/src/domain/authentication/mappers/hardcoded_claim_mapper.rs
  core/src/domain/authentication/mappers/mod.rs
  core/src/domain/authentication/mappers/user_attribute_mapper.rs
  core/src/domain/authentication/mappers/user_client_role_mapper.rs
  core/src/domain/authentication/mappers/user_property_mapper.rs
  core/src/domain/authentication/mappers/user_realm_role_mapper.rs
  core/src/domain/authentication/services.rs
  core/src/domain/realm/services.rs
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
