Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

fix: bundle every english catalogue so a first render never shows a key
  front/src/lib/i18n/bundled.test.ts
  front/src/lib/i18n/catalogs.ts
Due: esint

fix: inflect the role and organization assignment toasts
  front/src/locales/en/user.yaml
  front/src/locales/zh-CN/user.yaml
  front/src/pages/iam/user/feature/user-organizations-feature.tsx
  front/src/pages/iam/user/feature/user-role-mapping-feature.tsx
Due: esint

fix: let a user keep a locale their realm does not offer
  front/src/hooks/use-locale.ts
  libs/ferriskey-api-user/src/handlers/update_me_locale.rs
Due: rust-fmt, rust-clippy, esint

fix: localize the portal theme errors and stop over-reporting assignments
  front/eslint.config.js
  front/src/api/portal-theme.api.tsx
  front/src/lib/i18n/key-usage.test.ts
  front/src/locales/en/portal.yaml
  front/src/locales/en/user.yaml
  front/src/locales/zh-CN/portal.yaml
  front/src/locales/zh-CN/user.yaml
  front/src/pages/iam/user/feature/user-organizations-feature.tsx
  front/src/pages/iam/user/feature/user-role-mapping-feature.tsx
Due: esint

fix: remove the language switcher from the authentication screens
  front/src/pages/authentication/components/auth-language-switcher.tsx
  front/src/pages/authentication/feature/execution/verify-email-feature.tsx
  front/src/pages/authentication/feature/page-check-your-email.tsx
  front/src/pages/authentication/feature/page-email-verified-feature.tsx
  front/src/pages/authentication/ui/execution/configure-otp.tsx
  front/src/pages/authentication/ui/execution/configure-passkey.tsx
  front/src/pages/authentication/ui/execution/update-password.tsx
  front/src/pages/authentication/ui/page-device-verify.tsx
  front/src/pages/authentication/ui/page-forgot-password.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/authentication/ui/page-magic-link-request.tsx
  front/src/pages/authentication/ui/page-magic-link-verify.tsx
  front/src/pages/authentication/ui/page-otp-challenge.tsx
  front/src/pages/authentication/ui/page-register.tsx
  front/src/pages/authentication/ui/page-reset-password.tsx
Due: esint

test(sso): serialize the session suite and run it in CI
  .github/workflows/integration-tests.yaml
  api/tests/sso_session_test.rs
Due: rust-fmt, rust-clippy

fix: remove the language switcher from the authentication screens (#1396)
  front/src/pages/authentication/components/auth-language-switcher.tsx
  front/src/pages/authentication/feature/execution/verify-email-feature.tsx
  front/src/pages/authentication/feature/page-check-your-email.tsx
  front/src/pages/authentication/feature/page-email-verified-feature.tsx
  front/src/pages/authentication/ui/execution/configure-otp.tsx
  front/src/pages/authentication/ui/execution/configure-passkey.tsx
  front/src/pages/authentication/ui/execution/update-password.tsx
  front/src/pages/authentication/ui/page-device-verify.tsx
  front/src/pages/authentication/ui/page-forgot-password.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/authentication/ui/page-magic-link-request.tsx
  front/src/pages/authentication/ui/page-magic-link-verify.tsx
  front/src/pages/authentication/ui/page-otp-challenge.tsx
  front/src/pages/authentication/ui/page-register.tsx
  front/src/pages/authentication/ui/page-reset-password.tsx
Due: esint

test(sso): serialize the session suite and run it in CI (#1397)
  .github/workflows/integration-tests.yaml
  api/tests/sso_session_test.rs
Due: rust-fmt, rust-clippy

fix: stop replaying a sign-on the server already refused
  front/src/locales/en/auth.yaml
  front/src/locales/zh-CN/auth.yaml
  front/src/pages/authentication/feature/login-session.test.ts
  front/src/pages/authentication/feature/login-session.ts
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/hooks/use-session-refresh.ts
Due: esint

fix(api): advertise S256 (PKCE) in openid-configuration
  api/tests/token_basic_auth_test.rs
  front/src/api/api.client.ts
  libs/ferriskey-api-authentication/src/handlers/openid_configuration.rs
Due: rust-fmt, rust-clippy, esint

fix: keep the session bar usable when the authorization restart fails
  front/src/locales/en/auth.yaml
  front/src/locales/zh-CN/auth.yaml
  front/src/pages/authentication/hooks/use-session-refresh.ts
Due: esint

fix: stop replaying a sign-on the server already refused (#1404)
  front/src/locales/en/auth.yaml
  front/src/locales/zh-CN/auth.yaml
  front/src/pages/authentication/feature/login-session.test.ts
  front/src/pages/authentication/feature/login-session.ts
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/hooks/use-session-refresh.ts
Due: esint

fix: bind the login session to the realm in its url
  .github/workflows/integration-tests.yaml
  api/tests/auth_session_cross_realm_test.rs
  core/src/domain/authentication/services.rs
  core/src/domain/saml/services.rs
Due: rust-fmt, rust-clippy

fix: bind the login session to the realm in its url (#1414)
  .github/workflows/integration-tests.yaml
  api/tests/auth_session_cross_realm_test.rs
  core/src/domain/authentication/services.rs
  core/src/domain/saml/services.rs
Due: rust-fmt, rust-clippy

fix: resolve the passkey user from the verified credential
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

fix: resolve the passkey user from the verified credential (#1415)
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

fix: scope delegated realm-admin roles to their target realm
  libs/ferriskey-domain/src/common/policies.rs
Due: rust-fmt, rust-clippy

fix: scope delegated realm-admin roles to their target realm (#1416)
  libs/ferriskey-domain/src/common/policies.rs
Due: rust-fmt, rust-clippy

fix: scope role access to the realm in the url
  .github/workflows/integration-tests.yaml
  api/tests/role_cross_realm_test.rs
  core/src/domain/role/services.rs
Due: rust-fmt, rust-clippy

fix: scope role access to the realm in the url (#1417)
  .github/workflows/integration-tests.yaml
  api/tests/role_cross_realm_test.rs
  core/src/domain/role/services.rs
Due: rust-fmt, rust-clippy

fix: scope credential access to the target user and realm
  .github/workflows/integration-tests.yaml
  api/tests/credential_cross_realm_test.rs
  core/src/application/mod.rs
  libs/ferriskey-api-user/src/handlers/delete_credential.rs
  libs/ferriskey-api-user/src/handlers/get_credentials.rs
  libs/ferriskey-domain/src/credential/entities.rs
  libs/ferriskey-domain/src/credential/services.rs
Due: rust-fmt, rust-clippy

fix: scope credential access to the target user and realm (#1418)
  .github/workflows/integration-tests.yaml
  api/tests/credential_cross_realm_test.rs
  core/src/application/mod.rs
  libs/ferriskey-api-user/src/handlers/delete_credential.rs
  libs/ferriskey-api-user/src/handlers/get_credentials.rs
  libs/ferriskey-domain/src/credential/entities.rs
  libs/ferriskey-domain/src/credential/services.rs
Due: rust-fmt, rust-clippy

fix: bound and guard the broker outbound calls
  core/src/application/mod.rs
  core/src/infrastructure/identity_provider/repositories/oauth_client.rs
Due: rust-fmt, rust-clippy

fix: pin every permitted provider address and bypass environment proxies
  core/src/infrastructure/identity_provider/repositories/oauth_client.rs
Due: rust-fmt, rust-clippy

fix(abyss): bound and guard the broker outbound http calls (#1419)
  core/src/application/mod.rs
  core/src/infrastructure/identity_provider/repositories/oauth_client.rs
Due: rust-fmt, rust-clippy

fix(api): advertise S256 (PKCE) in openid-configuration (#1406)
  api/tests/token_basic_auth_test.rs
  front/src/api/api.client.ts
  libs/ferriskey-api-authentication/src/handlers/openid_configuration.rs
Due: rust-fmt, rust-clippy, esint

fix: confine a master role to the realm its client mirrors
  core/src/domain/realm/services.rs
  libs/ferriskey-domain/src/common/policies.rs
Due: rust-fmt, rust-clippy

ci: run the workspace unit tests on every pull request
  .github/workflows/pre-commit.yaml
Due: none

fix(iam): confine a master role to the realm its client mirrors (#1422)
  .github/workflows/pre-commit.yaml
  core/src/domain/realm/services.rs
  libs/ferriskey-domain/src/common/policies.rs
Due: rust-fmt, rust-clippy

refactor: add the realm scope and the unscoped value it discharges
  api/tests/realm_scope_ratchet_test.rs
  core/src/domain/realm/entities.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/realm/scope.rs
Due: rust-fmt, rust-clippy

refactor: add the realm scope and the unscoped value it discharges (#1423)
  api/tests/realm_scope_ratchet_test.rs
  core/src/domain/realm/entities.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/realm/scope.rs
Due: rust-fmt, rust-clippy

refactor: carry the realm rule in the role port
  api/tests/realm_scope_ratchet_test.rs
  api/tests/role_cross_realm_test.rs
  core/src/domain/role/services.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/role/repositories/role_postgres_repository.rs
  libs/ferriskey-domain/src/role/entities.rs
  libs/ferriskey-domain/src/role/ports.rs
Due: rust-fmt, rust-clippy

refactor: carry the realm rule in the role port (#1425)
  api/tests/realm_scope_ratchet_test.rs
  api/tests/role_cross_realm_test.rs
  core/src/domain/role/services.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/role/repositories/role_postgres_repository.rs
  libs/ferriskey-domain/src/role/entities.rs
  libs/ferriskey-domain/src/role/ports.rs
Due: rust-fmt, rust-clippy

refactor: carry the realm rule in the user port
  api/tests/realm_scope_ratchet_test.rs
  api/tests/user_cross_realm_test.rs
  core/src/application/mod.rs
  core/src/application/role/mod.rs
  core/src/application/user/mod.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/abyss/federation/services.rs
  core/src/domain/abyss/identity_provider_services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/organization/member_role_services.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/services.rs
  core/src/domain/saml/services.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/user/repository.rs
  libs/ferriskey-api-user/src/handlers/get_user_roles.rs
  libs/ferriskey-domain/src/common/policies.rs
  libs/ferriskey-domain/src/credential/services.rs
  libs/ferriskey-domain/src/role/ports.rs
  libs/ferriskey-domain/src/user/entities.rs
  libs/ferriskey-domain/src/user/ports.rs
  libs/ferriskey-mail/src/email_template/services.rs
  libs/ferriskey-mail/src/email_verification/services.rs
  libs/ferriskey-organization/src/group_services.rs
  libs/ferriskey-organization/src/services.rs
  libs/ferriskey-portal-layouts/src/services.rs
  libs/ferriskey-portal-theme/src/services.rs
Due: rust-fmt, rust-clippy

refactor: carry the realm rule in the user port (#1428)
  api/tests/realm_scope_ratchet_test.rs
  api/tests/user_cross_realm_test.rs
  core/src/application/mod.rs
  core/src/application/role/mod.rs
  core/src/application/user/mod.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/abyss/federation/services.rs
  core/src/domain/abyss/identity_provider_services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/organization/member_role_services.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/services.rs
  core/src/domain/saml/services.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/user/repository.rs
  libs/ferriskey-api-user/src/handlers/get_user_roles.rs
  libs/ferriskey-domain/src/common/policies.rs
  libs/ferriskey-domain/src/credential/services.rs
  libs/ferriskey-domain/src/role/ports.rs
  libs/ferriskey-domain/src/user/entities.rs
  libs/ferriskey-domain/src/user/ports.rs
  libs/ferriskey-mail/src/email_template/services.rs
  libs/ferriskey-mail/src/email_verification/services.rs
  libs/ferriskey-organization/src/group_services.rs
  libs/ferriskey-organization/src/services.rs
  libs/ferriskey-portal-layouts/src/services.rs
  libs/ferriskey-portal-theme/src/services.rs
Due: rust-fmt, rust-clippy

fix: scope the maintenance whitelist mutations to the realm in the url
  .github/workflows/integration-tests.yaml
  api/tests/maintenance_cross_realm_test.rs
  api/tests/realm_scope_ratchet_test.rs
  core/src/domain/maintenance/services.rs
  core/src/infrastructure/maintenance/repositories/maintenance_whitelist_repository.rs
  core/src/infrastructure/maintenance/repositories/realm_maintenance_whitelist_repository.rs
  libs/ferriskey-domain/src/maintenance/entities.rs
  libs/ferriskey-domain/src/maintenance/ports.rs
Due: rust-fmt, rust-clippy

fix: scope the maintenance whitelist mutations to the realm in the url (#1431)
  .github/workflows/integration-tests.yaml
  api/tests/maintenance_cross_realm_test.rs
  api/tests/realm_scope_ratchet_test.rs
  core/src/domain/maintenance/services.rs
  core/src/infrastructure/maintenance/repositories/maintenance_whitelist_repository.rs
  core/src/infrastructure/maintenance/repositories/realm_maintenance_whitelist_repository.rs
  libs/ferriskey-domain/src/maintenance/entities.rs
  libs/ferriskey-domain/src/maintenance/ports.rs
Due: rust-fmt, rust-clippy

refactor: carry the realm rule in the client port
  api/tests/client_cross_realm_test.rs
  api/tests/realm_scope_ratchet_test.rs
  core/src/application/services.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/maintenance/services.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/services.rs
  core/src/domain/saml/services.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/client/repositories/saml_postgres_repository.rs
  libs/ferriskey-aegis/src/services/scope_mapping_service.rs
  libs/ferriskey-aegis/src/services/test_support.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/entities/saml.rs
  libs/ferriskey-domain/src/client/ports.rs
  libs/ferriskey-domain/src/common/policies.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
