Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

fix: bump dependencies and update Cargo.lock
  Cargo.lock
  api/Cargo.toml
  core/Cargo.toml
Due: rust-clippy

refactor: handle missing session cookies and other unwraps
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/authentificate.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/trident/handlers/burn_recovery_code.rs
  api/src/application/http/trident/handlers/challenge_otp.rs
  api/src/application/http/trident/handlers/webauthn_public_key_authenticate.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create_options.rs
  api/src/application/http/trident/handlers/webauthn_public_key_request_options.rs
Due: rust-fmt, rust-clippy

feat: github-star-modal branding update (#621)
  front/src/components/github-star-modal.tsx
Due: esint

refactor: handle missing session cookies and other unwraps (#624)
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/authentificate.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/trident/handlers/burn_recovery_code.rs
  api/src/application/http/trident/handlers/challenge_otp.rs
  api/src/application/http/trident/handlers/webauthn_public_key_authenticate.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create_options.rs
  api/src/application/http/trident/handlers/webauthn_public_key_request_options.rs
Due: rust-fmt, rust-clippy

deps: bump dependencies and update Cargo.lock (#625)
  Cargo.lock
  api/Cargo.toml
  core/Cargo.toml
Due: rust-clippy

feat: add Abyss IdP domain and CLAUDE guide
  CLAUDE.md
  api/src/application/http/error.rs
  core/src/domain/abyss/entities.rs
  core/src/domain/abyss/mod.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/abyss/ports.rs
  core/src/domain/abyss/services.rs
  core/src/domain/abyss/value_objects.rs
  core/src/domain/common/entities/app_errors.rs
  core/src/domain/mod.rs
Due: rust-fmt, rust-clippy

fix: db-migrations-build service
  docker-compose.yaml
Due: none

fix: resolve fatal error messages in db service
  docker-compose.yaml
Due: none

fix: add local loopback addresses
  docker-compose.yaml
Due: none

fix: update readme
  README.md
Due: none

Fix/627 628 docker compose yaml (#630)
  README.md
  docker-compose.yaml
Due: none

feat: add Abyss IdP domain and CLAUDE guide (#626)
  CLAUDE.md
  api/src/application/http/error.rs
  core/src/domain/abyss/entities.rs
  core/src/domain/abyss/mod.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/abyss/ports.rs
  core/src/domain/abyss/services.rs
  core/src/domain/abyss/value_objects.rs
  core/src/domain/common/entities/app_errors.rs
  core/src/domain/mod.rs
Due: rust-fmt, rust-clippy

feat: add user federation entities and migrations
  core/migrations/20251128072715_create-user-federation.down.sql
  core/migrations/20251128072715_create-user-federation.up.sql
  core/src/entity/auth_sessions.rs
  core/src/entity/clients.rs
  core/src/entity/credentials.rs
  core/src/entity/jwt_keys.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
  core/src/entity/redirect_uris.rs
  core/src/entity/roles.rs
  core/src/entity/security_events.rs
  core/src/entity/user_federation_mappings.rs
  core/src/entity/user_federation_providers.rs
  core/src/entity/user_required_actions.rs
  core/src/entity/user_role.rs
  core/src/entity/user_sessions.rs
  core/src/entity/users.rs
  core/src/entity/webhook_subscribers.rs
  core/src/entity/webhooks.rs
Due: rust-fmt, rust-clippy

feat: add user federation entities and migrations (#646)
  core/migrations/20251128072715_create-user-federation.down.sql
  core/migrations/20251128072715_create-user-federation.up.sql
  core/src/entity/auth_sessions.rs
  core/src/entity/clients.rs
  core/src/entity/credentials.rs
  core/src/entity/jwt_keys.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
  core/src/entity/redirect_uris.rs
  core/src/entity/roles.rs
  core/src/entity/security_events.rs
  core/src/entity/user_federation_mappings.rs
  core/src/entity/user_federation_providers.rs
  core/src/entity/user_required_actions.rs
  core/src/entity/user_role.rs
  core/src/entity/user_sessions.rs
  core/src/entity/users.rs
  core/src/entity/webhook_subscribers.rs
  core/src/entity/webhooks.rs
Due: rust-fmt, rust-clippy

feat: add Abyss federation module and GEMINI documentation
  GEMINI.md
  core/src/domain/abyss/federation/entities.rs
  core/src/domain/abyss/federation/mod.rs
  core/src/domain/abyss/federation/ports.rs
  core/src/domain/abyss/federation/value_objects.rs
  core/src/domain/abyss/mod.rs
Due: rust-fmt, rust-clippy

feat: prefix FederationService methods with federation
  core/src/domain/abyss/federation/ports.rs
Due: rust-fmt, rust-clippy

feat: add Abyss federation module (#647)
  GEMINI.md
  core/src/domain/abyss/federation/entities.rs
  core/src/domain/abyss/federation/mod.rs
  core/src/domain/abyss/federation/ports.rs
  core/src/domain/abyss/federation/value_objects.rs
  core/src/domain/abyss/mod.rs
Due: rust-fmt, rust-clippy

feat: create social auth api endpoints
  api/src/application/http.rs
  api/src/application/http/identity_provider.rs
  api/src/application/http/identity_provider/handlers.rs
  api/src/application/http/identity_provider/handlers/create_identity_provider.rs
  api/src/application/http/identity_provider/handlers/delete_identity_provider.rs
  api/src/application/http/identity_provider/handlers/get_identity_provider.rs
  api/src/application/http/identity_provider/handlers/list_identity_providers.rs
  api/src/application/http/identity_provider/handlers/update_identity_provider.rs
  api/src/application/http/identity_provider/validators.rs
Due: rust-fmt, rust-clippy

feat: implement repositories
  core/migrations/20251128072716_create-identity-providers.down.sql
  core/migrations/20251128072716_create-identity-providers.up.sql
  core/src/domain/identity_provider/entities.rs
  core/src/domain/identity_provider/mod.rs
  core/src/domain/identity_provider/ports.rs
  core/src/domain/identity_provider/value_objects.rs
  core/src/domain/mod.rs
  core/src/entity/identity_providers.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/infrastructure/identity_provider/mappers.rs
  core/src/infrastructure/identity_provider/mappers/identity_provider_mapper.rs
  core/src/infrastructure/identity_provider/mod.rs
  core/src/infrastructure/identity_provider/repositories.rs
  core/src/infrastructure/identity_provider/repositories/identity_provider_postgres_repository.rs
  core/src/infrastructure/mod.rs
Due: rust-fmt, rust-clippy

feat: rename functions to make it more explicit
  core/src/domain/abyss/ports.rs
  core/src/domain/abyss/services.rs
  core/src/domain/abyss/value_objects.rs
  core/src/domain/identity_provider/mod.rs
  core/src/domain/identity_provider/ports.rs
  core/src/infrastructure/identity_provider/repositories/identity_provider_postgres_repository.rs
Due: rust-fmt, rust-clippy

feat: implement unimplemented api endpoints
  api/src/application/http/identity_provider/handlers/create_identity_provider.rs
  api/src/application/http/identity_provider/handlers/delete_identity_provider.rs
  api/src/application/http/identity_provider/handlers/get_identity_provider.rs
  api/src/application/http/identity_provider/handlers/list_identity_providers.rs
  api/src/application/http/identity_provider/handlers/update_identity_provider.rs
  core/src/application/identity_provider.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/identity_provider/mod.rs
  core/src/domain/identity_provider/policies.rs
  core/src/domain/identity_provider/services.rs
Due: rust-fmt, rust-clippy

feat: create social auth api endpoints (#650)
  api/src/application/http.rs
  api/src/application/http/identity_provider.rs
  api/src/application/http/identity_provider/handlers.rs
  api/src/application/http/identity_provider/handlers/create_identity_provider.rs
  api/src/application/http/identity_provider/handlers/delete_identity_provider.rs
  api/src/application/http/identity_provider/handlers/get_identity_provider.rs
  api/src/application/http/identity_provider/handlers/list_identity_providers.rs
  api/src/application/http/identity_provider/handlers/update_identity_provider.rs
  api/src/application/http/identity_provider/validators.rs
  core/migrations/20251128072716_create-identity-providers.down.sql
  core/migrations/20251128072716_create-identity-providers.up.sql
  core/src/application/identity_provider.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/abyss/ports.rs
  core/src/domain/abyss/services.rs
  core/src/domain/abyss/value_objects.rs
  core/src/domain/identity_provider/entities.rs
  core/src/domain/identity_provider/mod.rs
  core/src/domain/identity_provider/policies.rs
  core/src/domain/identity_provider/ports.rs
  core/src/domain/identity_provider/services.rs
  core/src/domain/identity_provider/value_objects.rs
  core/src/domain/mod.rs
  core/src/entity/identity_providers.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/infrastructure/identity_provider/mappers.rs
  core/src/infrastructure/identity_provider/mappers/identity_provider_mapper.rs
  core/src/infrastructure/identity_provider/mod.rs
  core/src/infrastructure/identity_provider/repositories.rs
  core/src/infrastructure/identity_provider/repositories/identity_provider_postgres_repository.rs
  core/src/infrastructure/mod.rs
Due: rust-fmt, rust-clippy

feat: add ThemeProvider and user theme menu
  front/src/App.tsx
  front/src/components/app-sidebar.tsx
  front/src/components/nav-user.tsx
  front/src/components/realm-switcher.tsx
  front/src/components/theme-provider.tsx
  front/src/components/ui/block-content.tsx
  front/src/components/ui/input-text.tsx
  front/src/components/ui/input.tsx
  front/src/main.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/client/ui/page-client-credentials.tsx
  front/src/pages/role/ui/page-create-role.tsx
  front/src/styles/inputs.scss
Due: esint

feat: add LDAP client and federation repository
  Cargo.lock
  core/Cargo.toml
  core/src/domain/abyss/federation/entities.rs
  core/src/domain/common/entities/app_errors.rs
  core/src/infrastructure/ldap/client.rs
  core/src/infrastructure/ldap/mod.rs
  core/src/infrastructure/mod.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/federation_repository.rs
Due: rust-fmt, rust-clippy

feat: move LDAP federation into abyss module
  api/src/application/http/error.rs
  core/src/domain/abyss/entities.rs
  core/src/domain/common/entities/app_errors.rs
  core/src/infrastructure/abyss/federation/ldap.rs
  core/src/infrastructure/abyss/federation/mod.rs
  core/src/infrastructure/abyss/federation/repository.rs
  core/src/infrastructure/abyss/mod.rs
  core/src/infrastructure/ldap/mod.rs
  core/src/infrastructure/mod.rs
  core/src/infrastructure/repositories.rs
Due: rust-fmt, rust-clippy

feat: add ThemeProvider and user theme menu (#651)
  front/src/App.tsx
  front/src/components/app-sidebar.tsx
  front/src/components/nav-user.tsx
  front/src/components/realm-switcher.tsx
  front/src/components/theme-provider.tsx
  front/src/components/ui/block-content.tsx
  front/src/components/ui/input-text.tsx
  front/src/components/ui/input.tsx
  front/src/main.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/client/ui/page-client-credentials.tsx
  front/src/pages/role/ui/page-create-role.tsx
  front/src/styles/inputs.scss
Due: esint

feat: add LDAP client and federation repository (#649)
  Cargo.lock
  api/src/application/http/error.rs
  core/Cargo.toml
  core/src/domain/abyss/entities.rs
  core/src/domain/abyss/federation/entities.rs
  core/src/domain/common/entities/app_errors.rs
  core/src/infrastructure/abyss/federation/ldap.rs
  core/src/infrastructure/abyss/federation/mod.rs
  core/src/infrastructure/abyss/federation/repository.rs
  core/src/infrastructure/abyss/mod.rs
  core/src/infrastructure/mod.rs
Due: rust-fmt, rust-clippy

fix: refactor token creation to include ID token
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat: refactor token generation and support id_token
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/services.rs
  core/src/domain/jwt/entities.rs
Due: rust-fmt, rust-clippy

feat: invalid id token field instead embedded into access token (#652)
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/services.rs
  core/src/domain/jwt/entities.rs
Due: rust-fmt, rust-clippy

feat(api): implement user federation CRUD endpoints
  api/src/application/http.rs
  api/src/application/http/abyss/federation/dto.rs
  api/src/application/http/abyss/federation/handlers/create_provider.rs
  api/src/application/http/abyss/federation/handlers/delete_provider.rs
  api/src/application/http/abyss/federation/handlers/get_provider.rs
  api/src/application/http/abyss/federation/handlers/list_providers.rs
  api/src/application/http/abyss/federation/handlers/mod.rs
  api/src/application/http/abyss/federation/handlers/update_provider.rs
  api/src/application/http/abyss/federation/mod.rs
  api/src/application/http/abyss/mod.rs
  api/src/application/http/abyss/routes.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
  core/src/application/abyss/federation/mod.rs
  core/src/application/abyss/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/abyss/federation/mod.rs
  core/src/domain/abyss/federation/services.rs
  core/src/infrastructure/abyss/federation/ldap.rs
  core/src/infrastructure/abyss/federation/repository.rs
Due: rust-fmt, rust-clippy

feat: add federation provider routes and client types
  api/src/application/http/abyss/federation/handlers/create_provider.rs
  api/src/application/http/abyss/federation/handlers/delete_provider.rs
  api/src/application/http/abyss/federation/handlers/get_provider.rs
  api/src/application/http/abyss/federation/handlers/list_providers.rs
  api/src/application/http/abyss/federation/handlers/update_provider.rs
  api/src/application/http/abyss/routes.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
  front/src/api/api.client.ts
Due: rust-fmt, rust-clippy, esint

feat: move realm validation into federation service
  api/src/application/http/abyss/federation/handlers/delete_provider.rs
  api/src/application/http/abyss/federation/handlers/get_provider.rs
  api/src/application/http/abyss/federation/handlers/update_provider.rs
  core/src/application/abyss/federation/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/abyss/federation/entities.rs
  core/src/domain/abyss/federation/ports.rs
  core/src/domain/abyss/federation/services.rs
Due: rust-fmt, rust-clippy

feat: authorize federation provider ops via policy
  api/src/application/http/abyss/federation/handlers/create_provider.rs
  api/src/application/http/abyss/federation/handlers/list_providers.rs
  api/src/application/http/abyss/federation/handlers/update_provider.rs
  core/src/application/abyss/federation/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/abyss/federation/mod.rs
  core/src/domain/abyss/federation/policies.rs
  core/src/domain/abyss/federation/ports.rs
  core/src/domain/abyss/federation/services.rs
  front/src/api/api.client.ts
Due: rust-fmt, rust-clippy, esint

refactor: use API Response wrapper for federation handlers
  api/src/application/http/abyss/federation/handlers/create_provider.rs
  api/src/application/http/abyss/federation/handlers/get_provider.rs
  api/src/application/http/abyss/federation/handlers/list_providers.rs
  api/src/application/http/abyss/federation/handlers/update_provider.rs
Due: rust-fmt, rust-clippy

feat: add Identity Providers feature
  front/src/api/identity-providers.api.ts
  front/src/components/nav-main.tsx
  front/src/pages/identity-providers/columns/list-provider.column.tsx
  front/src/pages/identity-providers/components/statistics-card.tsx
  front/src/pages/identity-providers/feature/page-create-feature.tsx
  front/src/pages/identity-providers/feature/page-detail-feature.tsx
  front/src/pages/identity-providers/feature/page-overview-feature.tsx
  front/src/pages/identity-providers/layouts/providers-layout.tsx
  front/src/pages/identity-providers/page-identity-providers.tsx
  front/src/pages/identity-providers/schemas/create-provider.schema.ts
  front/src/pages/identity-providers/ui/page-create.tsx
  front/src/pages/identity-providers/ui/page-detail.tsx
  front/src/pages/identity-providers/ui/page-overview.tsx
  front/src/routes/sub-router/identity-provider.router.ts
Due: esint

feat: add identity provider wizard and templates
  front/src/constants/identity-provider-templates.ts
  front/src/pages/identity-providers/components/provider-config-form.tsx
  front/src/pages/identity-providers/components/provider-gallery.tsx
  front/src/pages/identity-providers/components/provider-help-panel.tsx
  front/src/pages/identity-providers/components/provider-icon.tsx
  front/src/pages/identity-providers/components/provider-review.tsx
  front/src/pages/identity-providers/components/provider-wizard-progress.tsx
  front/src/pages/identity-providers/components/providers-empty-state.tsx
  front/src/pages/identity-providers/feature/page-create-feature.tsx
  front/src/pages/identity-providers/ui/page-create.tsx
  front/src/pages/identity-providers/ui/page-overview.tsx
Due: esint

feat: ldap api provider crud endpoints (#653)
  api/src/application/http.rs
  api/src/application/http/abyss/federation/dto.rs
  api/src/application/http/abyss/federation/handlers/create_provider.rs
  api/src/application/http/abyss/federation/handlers/delete_provider.rs
  api/src/application/http/abyss/federation/handlers/get_provider.rs
  api/src/application/http/abyss/federation/handlers/list_providers.rs
  api/src/application/http/abyss/federation/handlers/mod.rs
  api/src/application/http/abyss/federation/handlers/update_provider.rs
  api/src/application/http/abyss/federation/mod.rs
  api/src/application/http/abyss/mod.rs
  api/src/application/http/abyss/routes.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
  core/src/application/abyss/federation/mod.rs
  core/src/application/abyss/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/abyss/federation/entities.rs
  core/src/domain/abyss/federation/mod.rs
  core/src/domain/abyss/federation/policies.rs
  core/src/domain/abyss/federation/ports.rs
  core/src/domain/abyss/federation/services.rs
  core/src/infrastructure/abyss/federation/ldap.rs
  core/src/infrastructure/abyss/federation/repository.rs
  front/src/api/api.client.ts
Due: rust-fmt, rust-clippy, esint

feat: add Kerberos provider and type selection
  front/package.json
  front/pnpm-lock.yaml
  front/src/components/ui/block-content.tsx
  front/src/components/ui/radio-group.tsx
  front/src/pages/user-federation/components/empty-state-providers.tsx
  front/src/pages/user-federation/feature/page-create-kerberos-feature.tsx
  front/src/pages/user-federation/feature/page-create-ldap-feature.tsx
  front/src/pages/user-federation/feature/page-create-provider-feature.tsx
  front/src/pages/user-federation/feature/page-overview-feature.tsx
  front/src/pages/user-federation/page-user-federation.tsx
  front/src/pages/user-federation/schemas/create-provider.schema.ts
  front/src/pages/user-federation/schemas/kerberos-provider.schema.ts
  front/src/pages/user-federation/schemas/ldap-provider.schema.ts
  front/src/pages/user-federation/ui/kerberos-form-ui.tsx
  front/src/pages/user-federation/ui/ldap-form-ui.tsx
  front/src/pages/user-federation/ui/page-create-provider.tsx
  front/src/pages/user-federation/ui/page-overview.tsx
Due: esint

feat: add headHeight prop and UI tweaks
  front/src/components/app-sidebar.tsx
  front/src/components/ui/block-content.tsx
  front/src/pages/user-federation/components/provider-card.tsx
  front/src/pages/user-federation/ui/page-overview.tsx
Due: esint
