Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

fix(compass): purge old flows and expire abandoned ones
  core/src/application/mod.rs
  core/src/infrastructure/compass/mod.rs
  core/src/infrastructure/compass/repositories/compass_flow_postgres_repository.rs
  core/src/infrastructure/compass/retention.rs
  libs/ferriskey-compass/src/ports.rs
Due: rust-fmt, rust-clippy

fix(compass): record the outcome of the MFA challenge
  core/src/application/mod.rs
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

fix(compass): make flow tracing tell the truth (#1308)
  core/src/application/mod.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/saml/services.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/compass/mod.rs
  core/src/infrastructure/compass/repositories/compass_flow_postgres_repository.rs
  core/src/infrastructure/compass/retention.rs
  libs/ferriskey-compass/Cargo.toml
  libs/ferriskey-compass/src/lib.rs
  libs/ferriskey-compass/src/ports.rs
  libs/ferriskey-compass/src/recorder.rs
Due: rust-fmt, rust-clippy

fix(front): move the ACTIVE badge when another theme is activated (#1297)
  front/src/api/portal-theme.api.tsx
Due: esint

fix(front): give the theme editor's block library room to breathe (#1298)
  front/src/pages/portal-layouts/components/sidebar-tabs.tsx
  front/src/pages/portal/themes/components/page-tree-editor.tsx
Due: esint

feat(front): let a portal button override the theme's colours (#1299)
  front/src/lib/builder-portal/config-panels/button-color-section.tsx
  front/src/lib/builder-portal/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-portal/renderer.tsx
Due: esint

feat(front): paint the portal page and let a layout center its content (#1300)
  front/src/lib/builder-core/components/canvas.tsx
  front/src/lib/builder-portal/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-portal/renderer.tsx
  front/src/lib/builder-portal/visual-blocks/visual-block-registry.tsx
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/portal-layouts/ui/page-portal-layout-builder.tsx
Due: esint

feat(token-exchange): add per-client enablement flag
  api/tests/client_cross_realm_test.rs
  core/migrations/20260906130000_add_token_exchange_enabled_to_clients.down.sql
  core/migrations/20260906130000_add_token_exchange_enabled_to_clients.up.sql
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/maintenance/services.rs
  core/src/domain/realm/services.rs
  core/src/entity/clients.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  libs/ferriskey-api-client/src/handlers/create_client.rs
  libs/ferriskey-api-client/src/handlers/update_client.rs
  libs/ferriskey-api-client/src/validators.rs
  libs/ferriskey-domain/README.md
  libs/ferriskey-domain/src/client/commands.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/token_lifetime.rs
Due: rust-fmt, rust-clippy

test(saml): add end-to-end integration coverage for the SAML IdP
  .github/workflows/integration-tests.yaml
  Cargo.lock
  api/Cargo.toml
  api/tests/saml_test.rs
Due: rust-fmt, rust-clippy

fix(seawatch): declare the security-events filter as query params, not path
  libs/ferriskey-api-seawatch/src/handlers/get_security_events.rs
Due: rust-fmt, rust-clippy

feat(realm): add an edit_username_enabled setting
  core/migrations/20260906000000_add_edit_username_enabled_to_realm_settings.down.sql
  core/migrations/20260906000000_add_edit_username_enabled_to_realm_settings.up.sql
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/entity/realm_settings.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  libs/ferriskey-api-realm/src/handlers/update_realm_setting.rs
  libs/ferriskey-api-realm/src/validators.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/realm/ports.rs
Due: rust-fmt, rust-clippy

feat(user): add self-service profile endpoints (GET/PUT /me)
  core/src/application/user/mod.rs
  core/src/domain/abyss/federation/services.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/user/repository.rs
  libs/ferriskey-api-user/src/handlers.rs
  libs/ferriskey-api-user/src/handlers/get_own_profile.rs
  libs/ferriskey-api-user/src/handlers/update_own_profile.rs
  libs/ferriskey-api-user/src/router.rs
  libs/ferriskey-api-user/src/validators.rs
  libs/ferriskey-domain/src/user/commands.rs
  libs/ferriskey-domain/src/user/ports.rs
  libs/ferriskey-domain/src/user/value_objects.rs
  libs/ferriskey-mail/src/email_verification/services.rs
Due: rust-fmt, rust-clippy

test(user): add integration coverage for the self-service profile
  .github/workflows/integration-tests.yaml
  api/tests/me_profile_test.rs
Due: rust-fmt, rust-clippy

feat(front): add a personal account page
  front/src/App.tsx
  front/src/api/api.client.ts
  front/src/api/sea-watch.api.ts
  front/src/api/user.api.ts
  front/src/components/nav-user.tsx
  front/src/pages/account/feature/page-account-feature.tsx
  front/src/pages/account/page-account.tsx
  front/src/pages/account/ui/page-account.tsx
  front/src/pages/account/validators.ts
Due: esint

feat: self-service account page — personal info (first iteration of #995) (#1311)
  .github/workflows/integration-tests.yaml
  api/tests/me_profile_test.rs
  core/migrations/20260906000000_add_edit_username_enabled_to_realm_settings.down.sql
  core/migrations/20260906000000_add_edit_username_enabled_to_realm_settings.up.sql
  core/src/application/user/mod.rs
  core/src/domain/abyss/federation/services.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/user/services.rs
  core/src/entity/realm_settings.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/user/repository.rs
  front/src/App.tsx
  front/src/api/api.client.ts
  front/src/api/sea-watch.api.ts
  front/src/api/user.api.ts
  front/src/components/nav-user.tsx
  front/src/pages/account/feature/page-account-feature.tsx
  front/src/pages/account/page-account.tsx
  front/src/pages/account/ui/page-account.tsx
  front/src/pages/account/validators.ts
  libs/ferriskey-api-realm/src/handlers/update_realm_setting.rs
  libs/ferriskey-api-realm/src/validators.rs
  libs/ferriskey-api-seawatch/src/handlers/get_security_events.rs
  libs/ferriskey-api-user/src/handlers.rs
  libs/ferriskey-api-user/src/handlers/get_own_profile.rs
  libs/ferriskey-api-user/src/handlers/update_own_profile.rs
  libs/ferriskey-api-user/src/router.rs
  libs/ferriskey-api-user/src/validators.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/realm/ports.rs
  libs/ferriskey-domain/src/user/commands.rs
  libs/ferriskey-domain/src/user/ports.rs
  libs/ferriskey-domain/src/user/value_objects.rs
  libs/ferriskey-mail/src/email_verification/services.rs
Due: rust-fmt, rust-clippy, esint

fix(ci): stop web_origin_test from racing on the shared CORS cache
  .github/workflows/integration-tests.yaml
Due: none

fix(ci): stop web_origin_test from racing on the shared CORS cache (#1312)
  .github/workflows/integration-tests.yaml
Due: none

test(saml): add end-to-end integration coverage for the SAML IdP (#1310)
  .github/workflows/integration-tests.yaml
  Cargo.lock
  api/Cargo.toml
  api/tests/saml_test.rs
Due: rust-fmt, rust-clippy

feat(front): list and revoke active sessions on the account page
  front/src/api/user.api.ts
  front/src/pages/account/feature/page-account-sessions-feature.tsx
  front/src/pages/account/layouts/account-layout.tsx
  front/src/pages/account/page-account.tsx
  front/src/pages/account/ui/page-account-sessions.tsx
Due: esint

feat(trident): add bearer self-service domain methods for credentials, 2FA and recovery reset
  core/src/application/trident/mod.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  libs/ferriskey-api-trident/src/validators.rs
Due: rust-fmt, rust-clippy

feat(api-trident): wire /me/* self-service and recovery-code reset routes
  libs/ferriskey-api-trident/src/handlers.rs
  libs/ferriskey-api-trident/src/handlers/me_credentials.rs
  libs/ferriskey-api-trident/src/handlers/me_passkey_register.rs
  libs/ferriskey-api-trident/src/handlers/me_passkey_register_options.rs
  libs/ferriskey-api-trident/src/handlers/me_reauthenticate.rs
  libs/ferriskey-api-trident/src/handlers/me_totp_setup.rs
  libs/ferriskey-api-trident/src/handlers/me_totp_verify.rs
  libs/ferriskey-api-trident/src/handlers/reset_password_with_recovery_code.rs
  libs/ferriskey-api-trident/src/handlers/webauthn_public_key_create.rs
  libs/ferriskey-api-trident/src/handlers/webauthn_public_key_create_options.rs
  libs/ferriskey-api-trident/src/router.rs
Due: rust-fmt, rust-clippy

refactor(trident): persist self-service passkey challenges in a repository
  core/migrations/20260814000000_add_webauthn_challenges.down.sql
  core/migrations/20260814000000_add_webauthn_challenges.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/entity/mod.rs
  core/src/entity/webauthn_challenges.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/webauthn_challenge_repository.rs
Due: rust-fmt, rust-clippy

chore: update Cargo.lock and api/Cargo.toml dependencies
  Cargo.lock
  api/Cargo.toml
  api/tests/me_self_service_test.rs
Due: rust-fmt, rust-clippy

fix(review): address PR #1220 CodeRabbit/Copilot findings
  api/tests/me_self_service_test.rs
  core/src/application/mod.rs
  core/src/application/trident/mod.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/entity/mod.rs
  core/src/infrastructure/repositories/webauthn_challenge_repository.rs
  libs/ferriskey-api-core/src/auth.rs
  libs/ferriskey-api-trident/src/handlers/me_credentials.rs
  libs/ferriskey-api-trident/src/handlers/me_passkey_register.rs
  libs/ferriskey-api-trident/src/handlers/me_reauthenticate.rs
  libs/ferriskey-api-trident/src/handlers/me_totp_setup.rs
  libs/ferriskey-api-trident/src/handlers/me_totp_verify.rs
  libs/ferriskey-api-trident/src/handlers/reset_password_with_recovery_code.rs
  libs/ferriskey-api-trident/src/router.rs
  libs/ferriskey-api-trident/src/validators.rs
Due: rust-fmt, rust-clippy

test(trident): adapt delete-credential tests to last-factor protection
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

fix(review): address remaining PR #1220 review findings
  .github/workflows/integration-tests.yaml
  Cargo.lock
  api/Cargo.toml
  api/tests/me_self_service_test.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/repositories/webauthn_challenge_repository.rs
Due: rust-fmt, rust-clippy

fix(trident): repair compile errors in factor-change email and pending TOTP path
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

fix(ci): repair integration-tests and pre-commit failures
  api/tests/me_self_service_test.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
Due: rust-fmt, rust-clippy

fix(test): remove atexit schema cleanup that aborted integration-tests job
  api/tests/me_self_service_test.rs
  core/migrations/20260814000001_add_webauthn_challenges.down.sql
  core/migrations/20260814000001_add_webauthn_challenges.up.sql
Due: rust-fmt, rust-clippy

fix(ci): repair otp portal build and rustfmt drift
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  front/src/pages/authentication/hooks/use-portal-page-submit.ts
Due: rust-fmt, rust-clippy, esint

fix(review): address PR #1220 third-round review findings
  api/tests/me_self_service_test.rs
  core/migrations/20260817000001_add_pending_totp_secrets.down.sql
  core/migrations/20260817000001_add_pending_totp_secrets.up.sql
  core/migrations/20260826120000_drop_pending_totp_secrets.down.sql
  core/migrations/20260826120000_drop_pending_totp_secrets.up.sql
  core/src/domain/authentication/services.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/email.rs
  core/src/infrastructure/trident/repositories/otp_enrollment_repository.rs
  docs/threat-model.md
  libs/ferriskey-api-trident/src/handlers/generate_recovery_codes.rs
  libs/ferriskey-api-trident/src/handlers/reset_password_with_recovery_code.rs
Due: rust-fmt, rust-clippy

chore: rebase onto upstream/main and fix migration timestamps
  Cargo.lock
  core/migrations/20260907000000_add_webauthn_challenges.down.sql
  core/migrations/20260907000000_add_webauthn_challenges.up.sql
  core/migrations/20260907000001_add_step_up_tokens.down.sql
  core/migrations/20260907000001_add_step_up_tokens.up.sql
  core/migrations/20260907000002_add_pending_totp_secrets.down.sql
  core/migrations/20260907000002_add_pending_totp_secrets.up.sql
  core/migrations/20260907000003_add_recovery_code_lookup.down.sql
  core/migrations/20260907000003_add_recovery_code_lookup.up.sql
  core/migrations/20260907000004_drop_pending_totp_secrets.down.sql
  core/migrations/20260907000004_drop_pending_totp_secrets.up.sql
  core/src/application/mod.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/seawatch/mapper.rs
Due: rust-fmt, rust-clippy

fix: remove unused code for pre-commit
  core/src/domain/trident/services.rs
  core/src/infrastructure/seawatch/mapper.rs
Due: rust-fmt, rust-clippy

fix(rustfmt): sort module declarations alphabetically
  core/src/entity/mod.rs
Due: rust-fmt, rust-clippy

feat(client): make a client speak one protocol, oidc or saml
  api/tests/saml_test.rs
  core/src/application/mod.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/realm/services.rs
  core/src/domain/saml/services.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  front/src/api/api.client.ts
  front/src/components/ui/select-menu.tsx
  front/src/lib/client-protocol.ts
  front/src/pages/client/feature/page-client-saml-feature.tsx
  front/src/pages/client/feature/page-create-client-feature.tsx
  front/src/pages/client/layout/client-layout.tsx
  front/src/pages/client/schemas/create-client.schema.ts
  front/src/pages/client/ui/page-create-client.tsx
  libs/ferriskey-aegis/src/services/test_support.rs
  libs/ferriskey-api-client/src/validators.rs
  libs/ferriskey-domain/src/authentication/entities.rs
  libs/ferriskey-domain/src/client/commands.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/entities/saml.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/token_lifetime.rs
Due: rust-fmt, rust-clippy, esint

refactor(client): drop the explanatory comments added with the protocol type
  core/src/domain/client/services.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  front/src/components/ui/select-menu.tsx
  front/src/lib/client-protocol.ts
  front/src/pages/client/feature/page-client-saml-feature.tsx
  libs/ferriskey-api-client/src/validators.rs
  libs/ferriskey-domain/src/client/entities.rs
Due: rust-fmt, rust-clippy, esint

feat(client): make a client speak one protocol, oidc or saml (#1314)
  api/tests/saml_test.rs
  core/src/application/mod.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/realm/services.rs
  core/src/domain/saml/services.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  front/src/api/api.client.ts
  front/src/components/ui/select-menu.tsx
  front/src/lib/client-protocol.ts
  front/src/pages/client/feature/page-client-saml-feature.tsx
  front/src/pages/client/feature/page-create-client-feature.tsx
  front/src/pages/client/layout/client-layout.tsx
  front/src/pages/client/schemas/create-client.schema.ts
  front/src/pages/client/ui/page-create-client.tsx
  libs/ferriskey-aegis/src/services/test_support.rs
  libs/ferriskey-api-client/src/validators.rs
  libs/ferriskey-domain/src/authentication/entities.rs
  libs/ferriskey-domain/src/client/commands.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/entities/saml.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/token_lifetime.rs
Due: rust-fmt, rust-clippy, esint
