Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

feat: add rate limiting middleware to auth endpoints
  Cargo.lock
  api/Cargo.toml
  api/src/application/http/authentication/router.rs
  api/src/args.rs
  api/src/main.rs
  api/tests/rate_limit_test.rs
Due: rust-fmt, rust-clippy

fix: validate burst size and document proxy caveat
  api/src/application/http/authentication/router.rs
  api/src/args.rs
Due: rust-fmt, rust-clippy

feat: add Tracing Instrumentation and OTLP Log Bridge
  Cargo.lock
  api/Cargo.toml
  api/src/application/auth.rs
  api/src/application/http/server/http_server.rs
  api/src/main.rs
  core/src/domain/aegis/services/client_scope_service.rs
  core/src/domain/aegis/services/scope_mapping_service.rs
  core/src/domain/authentication/services.rs
  core/src/infrastructure/aegis/repositories/client_scope_postgres_repository.rs
  core/src/infrastructure/aegis/repositories/protocol_mapper_postgres_repository.rs
  core/src/infrastructure/aegis/repositories/scope_mapping_postgres_repository.rs
Due: rust-fmt, rust-clippy

refactor: use HashSet in Permissions check
  core/src/domain/abyss/federation/policies.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/aegis/policies.rs
  core/src/domain/client/policies.rs
  core/src/domain/common/policies.rs
  core/src/domain/compass/policies.rs
  core/src/domain/email_template/policies.rs
  core/src/domain/organization/policies.rs
  core/src/domain/password_policy/policies.rs
  core/src/domain/realm/policies.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/entities/permission.rs
  core/src/domain/role/policies.rs
  core/src/domain/seawatch/policies.rs
  core/src/domain/user/policies.rs
  core/src/domain/webhook/policies.rs
Due: rust-fmt, rust-clippy

perf(role): drop redundant to_string in permission mapper
  core/src/infrastructure/role/mapper.rs
Due: rust-fmt, rust-clippy

feat: implement maintenance mode domain (#928)
  api/src/application/http/client/handlers/update_client.rs
  api/src/application/http/error.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/common/services.rs
  core/src/domain/maintenance/entities.rs
  core/src/domain/maintenance/mod.rs
  core/src/domain/maintenance/ports.rs
  core/src/domain/maintenance/services.rs
  core/src/domain/maintenance/value_objects.rs
  core/src/domain/mod.rs
  core/src/domain/seawatch/entities.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
  core/src/entity/clients.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/maintenance/mod.rs
  core/src/infrastructure/maintenance/repositories/maintenance_whitelist_repository.rs
  core/src/infrastructure/maintenance/repositories/mod.rs
  core/src/infrastructure/maintenance/repositories/realm_maintenance_whitelist_repository.rs
  core/src/infrastructure/mod.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-domain/src/lib.rs
  libs/ferriskey-domain/src/maintenance/entities.rs
  libs/ferriskey-domain/src/maintenance/mod.rs
  libs/ferriskey-domain/src/maintenance/ports.rs
  libs/ferriskey-domain/src/maintenance/value_objects.rs
Due: rust-fmt, rust-clippy

feat: implement maintenance mode infrastructure
  core/migrations/20260414000000_add_maintenance_mode.down.sql
  core/migrations/20260414000000_add_maintenance_mode.up.sql
  core/src/entity/client_maintenance_whitelist.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_maintenance_whitelist.rs
  core/src/infrastructure/maintenance/repositories/maintenance_whitelist_repository.rs
  core/src/infrastructure/maintenance/repositories/realm_maintenance_whitelist_repository.rs
Due: rust-fmt, rust-clippy

perf(role): drop redundant to_string in permission mapper (#946)
  core/src/infrastructure/role/mapper.rs
Due: rust-fmt, rust-clippy

wip
  core/src/entity/client_maintenance_whitelist.rs
  core/src/entity/clients.rs
  core/src/entity/realm_maintenance_whitelist.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
  core/src/entity/roles.rs
  core/src/entity/users.rs
Due: rust-fmt, rust-clippy

feat: implement maintenance mode infrastructure (#947)
  core/migrations/20260414000000_add_maintenance_mode.down.sql
  core/migrations/20260414000000_add_maintenance_mode.up.sql
  core/src/entity/client_maintenance_whitelist.rs
  core/src/entity/clients.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_maintenance_whitelist.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
  core/src/entity/roles.rs
  core/src/entity/users.rs
  core/src/infrastructure/maintenance/repositories/maintenance_whitelist_repository.rs
  core/src/infrastructure/maintenance/repositories/realm_maintenance_whitelist_repository.rs
Due: rust-fmt, rust-clippy

feat: write migrations and update entities
  core/migrations/20260414000000_add_user_attributes.down.sql
  core/migrations/20260414000000_add_user_attributes.up.sql
  core/src/entity/clients.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realms.rs
  core/src/entity/user_attributes.rs
  core/src/entity/users.rs
Due: rust-fmt, rust-clippy

refactor: use HashSet in Permissions check (#945)
  core/src/domain/abyss/federation/policies.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/aegis/policies.rs
  core/src/domain/client/policies.rs
  core/src/domain/common/policies.rs
  core/src/domain/compass/policies.rs
  core/src/domain/email_template/policies.rs
  core/src/domain/organization/policies.rs
  core/src/domain/password_policy/policies.rs
  core/src/domain/realm/policies.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/entities/permission.rs
  core/src/domain/role/policies.rs
  core/src/domain/seawatch/policies.rs
  core/src/domain/user/policies.rs
  core/src/domain/webhook/policies.rs
Due: rust-fmt, rust-clippy

feat: implement maintenance mode api
  api/src/application/http.rs
  api/src/application/http/maintenance.rs
  api/src/application/http/maintenance/handlers/add_client_whitelist_entry.rs
  api/src/application/http/maintenance/handlers/add_realm_whitelist_entry.rs
  api/src/application/http/maintenance/handlers/get_client_whitelist.rs
  api/src/application/http/maintenance/handlers/get_realm_whitelist.rs
  api/src/application/http/maintenance/handlers/mod.rs
  api/src/application/http/maintenance/handlers/remove_client_whitelist_entry.rs
  api/src/application/http/maintenance/handlers/remove_realm_whitelist_entry.rs
  api/src/application/http/maintenance/handlers/toggle_maintenance.rs
  api/src/application/http/maintenance/router.rs
  api/src/application/http/maintenance/validators.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
  core/src/application/maintenance/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

feat: implement maintenance mode api (#949)
  api/src/application/http.rs
  api/src/application/http/maintenance.rs
  api/src/application/http/maintenance/handlers/add_client_whitelist_entry.rs
  api/src/application/http/maintenance/handlers/add_realm_whitelist_entry.rs
  api/src/application/http/maintenance/handlers/get_client_whitelist.rs
  api/src/application/http/maintenance/handlers/get_realm_whitelist.rs
  api/src/application/http/maintenance/handlers/mod.rs
  api/src/application/http/maintenance/handlers/remove_client_whitelist_entry.rs
  api/src/application/http/maintenance/handlers/remove_realm_whitelist_entry.rs
  api/src/application/http/maintenance/handlers/toggle_maintenance.rs
  api/src/application/http/maintenance/router.rs
  api/src/application/http/maintenance/validators.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
  core/src/application/maintenance/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

fix: rename migration files
  core/migrations/20260414000001_add_user_attributes.down.sql
  core/migrations/20260414000001_add_user_attributes.up.sql
  core/src/entity/clients.rs
Due: rust-fmt, rust-clippy

feat: implement maintenance mode frontend
  front/src/api/api.client.ts
  front/src/api/maintenance.api.ts
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/client/components/client-maintenance-section.tsx
  front/src/pages/client/components/whitelist-picker.tsx
  front/src/pages/client/feature/page-client-maintenance-feature.tsx
  front/src/pages/client/layout/client-layout.tsx
  front/src/pages/client/page-client.tsx
  front/src/pages/realm/feature/page-realm-settings-maintenance-feature.tsx
  front/src/pages/realm/layouts/realm-settings-layout.tsx
  front/src/pages/realm/page-realm.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
  front/src/utils/webhook-utils.ts
Due: esint

feat: add Tracing Instrumentation and OTLP Log Bridge (#940)
  Cargo.lock
  api/Cargo.toml
  api/src/application/auth.rs
  api/src/application/http/server/http_server.rs
  api/src/main.rs
  core/src/domain/aegis/services/client_scope_service.rs
  core/src/domain/aegis/services/scope_mapping_service.rs
  core/src/domain/authentication/services.rs
  core/src/infrastructure/aegis/repositories/client_scope_postgres_repository.rs
  core/src/infrastructure/aegis/repositories/protocol_mapper_postgres_repository.rs
  core/src/infrastructure/aegis/repositories/scope_mapping_postgres_repository.rs
Due: rust-fmt, rust-clippy

feat: write migrations and update entities (#948)
  core/migrations/20260414000001_add_user_attributes.down.sql
  core/migrations/20260414000001_add_user_attributes.up.sql
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realms.rs
  core/src/entity/user_attributes.rs
  core/src/entity/users.rs
Due: rust-fmt, rust-clippy

wip
  front/src/pages/client/components/whitelist-picker.tsx
Due: esint

wip
  front/src/api/maintenance.api.ts
  front/src/pages/client/components/client-maintenance-section.tsx
  front/src/pages/client/components/whitelist-picker.tsx
  front/src/pages/client/feature/page-client-maintenance-feature.tsx
  front/src/pages/realm/feature/page-realm-settings-maintenance-feature.tsx
Due: esint

wip
  front/src/api/maintenance.api.ts
Due: esint

feat: add user attributes endpoints and repository
  api/src/application/http/user/handlers.rs
  api/src/application/http/user/handlers/delete_user_attribute.rs
  api/src/application/http/user/handlers/get_user_attributes.rs
  api/src/application/http/user/handlers/set_user_attributes.rs
  api/src/application/http/user/router.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/application/user/mod.rs
  core/src/domain/user/ports.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/user/mappers.rs
  core/src/infrastructure/user/repositories.rs
  core/src/infrastructure/user/repositories/user_attribute_repository.rs
  libs/ferriskey-domain/src/user/commands.rs
  libs/ferriskey-domain/src/user/entities.rs
Due: rust-fmt, rust-clippy

feat: implement maintenance mode frontend (#950)
  front/src/api/api.client.ts
  front/src/api/maintenance.api.ts
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/client/components/whitelist-picker.tsx
  front/src/pages/client/feature/page-client-maintenance-feature.tsx
  front/src/pages/client/layout/client-layout.tsx
  front/src/pages/client/page-client.tsx
  front/src/pages/realm/feature/page-realm-settings-maintenance-feature.tsx
  front/src/pages/realm/layouts/realm-settings-layout.tsx
  front/src/pages/realm/page-realm.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
  front/src/utils/webhook-utils.ts
Due: esint

fix: reject empty attribute keys and use Uuid alias
  core/src/domain/user/services.rs
Due: rust-fmt, rust-clippy

feat: add user attributes endpoints and repository (#951)
  api/src/application/http/user/handlers.rs
  api/src/application/http/user/handlers/delete_user_attribute.rs
  api/src/application/http/user/handlers/get_user_attributes.rs
  api/src/application/http/user/handlers/set_user_attributes.rs
  api/src/application/http/user/router.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/application/user/mod.rs
  core/src/domain/user/ports.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/user/mappers.rs
  core/src/infrastructure/user/repositories.rs
  core/src/infrastructure/user/repositories/user_attribute_repository.rs
  libs/ferriskey-domain/src/user/commands.rs
  libs/ferriskey-domain/src/user/entities.rs
Due: rust-fmt, rust-clippy

feat: load user attributes into mapper context
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat: add resolve_claim_name and update mappers
  core/src/domain/authentication/mapper_engine.rs
  core/src/domain/authentication/mappers/hardcoded_claim_mapper.rs
  core/src/domain/authentication/mappers/user_attribute_mapper.rs
  core/src/domain/authentication/mappers/user_property_mapper.rs
  core/src/domain/authentication/mappers/user_realm_role_mapper.rs
Due: rust-fmt, rust-clippy

feat: improve protocol mappers for user attributes (#952)
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/mapper_engine.rs
  core/src/domain/authentication/mappers/hardcoded_claim_mapper.rs
  core/src/domain/authentication/mappers/user_attribute_mapper.rs
  core/src/domain/authentication/mappers/user_property_mapper.rs
  core/src/domain/authentication/mappers/user_realm_role_mapper.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat: add user attributes feature
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
  front/src/api/user.api.ts
  front/src/pages/client-scope/constants/protocol-mapper-templates.ts
  front/src/pages/user/feature/page-user-attributes-feature.tsx
  front/src/pages/user/layouts/user-layout.tsx
  front/src/pages/user/page-user.tsx
  front/src/pages/user/ui/page-user-attributes.tsx
  front/src/routes/sub-router/user.router.ts
Due: esint

feat: add user attributes feature (#953)
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
  front/src/api/user.api.ts
  front/src/pages/client-scope/constants/protocol-mapper-templates.ts
  front/src/pages/user/feature/page-user-attributes-feature.tsx
  front/src/pages/user/layouts/user-layout.tsx
  front/src/pages/user/page-user.tsx
  front/src/pages/user/ui/page-user-attributes.tsx
  front/src/routes/sub-router/user.router.ts
Due: esint

refactor: change RealmRepository query methods from String to &str
  core/src/application/services.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/abyss/federation/services.rs
  core/src/domain/abyss/identity_provider_services.rs
  core/src/domain/aegis/services/client_scope_service.rs
  core/src/domain/aegis/services/protocol_mapper_service.rs
  core/src/domain/aegis/services/scope_mapping_service.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/compass/services.rs
  core/src/domain/credential/services.rs
  core/src/domain/email_template/services.rs
  core/src/domain/maintenance/services.rs
  core/src/domain/organization/services.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/services.rs
  core/src/domain/seawatch/services.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  core/src/domain/user/services/user_role_service.rs
  core/src/domain/webhook/services.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
Due: rust-fmt, rust-clippy

fix: remove cookie set in broker callback
  api/src/application/http/broker/handlers/callback.rs
  core/src/domain/abyss/broker_services.rs
  front/src/pages/authentication/feature/page-callback-feature.tsx
Due: rust-fmt, rust-clippy, esint

fix: remove redundant into_iter on credential_data
  core/src/infrastructure/repositories/credential_repository.rs
Due: rust-fmt, rust-clippy

fix: remove cookie set in broker callback (#955)
  api/src/application/http/broker/handlers/callback.rs
  core/src/domain/abyss/broker_services.rs
  core/src/infrastructure/repositories/credential_repository.rs
  front/src/pages/authentication/feature/page-callback-feature.tsx
Due: rust-fmt, rust-clippy, esint

feat: add benchmarks crate and GitHub workflow
  .github/workflows/benchmarks.yml
  Cargo.lock
  Cargo.toml
  benchmarks/Cargo.toml
  benchmarks/benches/realm.rs
  benchmarks/benches/token.rs
Due: rust-fmt, rust-clippy

fix: add mode "walltime"
  .github/workflows/benchmarks.yml
Due: none

fix: update dockerfile to includes `benchmarks` crates
  Dockerfile
Due: hadolint

fix: update types pull_request events for the CI
  .github/workflows/benchmarks.yml
Due: none

fix: update ci
  .github/workflows/benchmarks.yml
Due: none

fix: update import permissions.rs
  core/src/domain/role/entities/permission.rs
Due: rust-fmt, rust-clippy
