Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

Switch runtime base to Wolfi while preserving existing app deps
  Cargo.lock
  Dockerfile
  api/Cargo.toml
  core/Cargo.toml
  operator/Cargo.toml
Due: rust-clippy, hadolint

docs: update references in docker hardening report for clarity and formatting
  docs/docker-hardening-report.md
Due: none

Improve container runtime strategy with Wolfi fallback
  Cargo.lock
  Dockerfile
  api/Cargo.toml
  core/Cargo.toml
  operator/Cargo.toml
Due: rust-clippy, hadolint

chore(docker): harden images and add vulnerability report
  Dockerfile
  docker-compose.yaml
  docs/docker-hardening-report.md
  justfile
Due: hadolint

fix(frontend): prevent automatic relogin after logout
  front/src/api/auth.api.ts
  front/src/contracts/states.interface.ts
  front/src/hooks/use-auth.ts
  front/src/store/auth.store.ts
  front/src/store/user.store.ts
Due: esint

feat(auth): add RFC7009 token revocation and enforce revoked access tokens
  api/src/application/http/authentication/handlers.rs
  api/src/application/http/authentication/handlers/openid_configuration.rs
  api/src/application/http/authentication/handlers/revoke.rs
  api/src/application/http/authentication/router.rs
  api/src/application/http/authentication/validators.rs
  core/src/application/auth/mod.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/infrastructure/repositories/refresh_token_repository.rs
  front/src/api/auth.api.ts
  front/src/hooks/use-auth.ts
  libs/ferriskey-security/src/jwt/ports.rs
Due: rust-fmt, rust-clippy, esint

feat(oidc): implement RP-initiated logout with id_token_hint and validated redirects
  api/src/application/http/authentication/handlers/logout.rs
  api/src/application/http/authentication/router.rs
  api/src/application/http/authentication/validators.rs
  core/src/application/auth/mod.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  front/src/api/auth.api.ts
  front/src/api/core.interface.ts
  front/src/contracts/states.interface.ts
  front/src/hooks/use-auth.ts
  front/src/pages/authentication/feature/page-callback-feature.tsx
  front/src/pages/authentication/feature/page-register-feature.tsx
  front/src/store/auth.store.ts
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy, esint

feat(auth): separate OIDC post-logout redirect URI store
  core/migrations/20260215000006_create_post_logout_redirect_uris.down.sql
  core/migrations/20260215000006_create_post_logout_redirect_uris.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/ports.rs
  core/src/entity/clients.rs
  core/src/entity/mod.rs
  core/src/entity/post_logout_redirect_uris.rs
  core/src/infrastructure/client/repositories.rs
  core/src/infrastructure/client/repositories/post_logout_redirect_uri_postgres_repository.rs
Due: rust-fmt, rust-clippy

fix(front): resolve auth hook build errors in Docker webapp stage
  Dockerfile
  front/src/hooks/use-auth.ts
Due: esint, hadolint

fix(auth): return proper 4xx for redirect validation and add logout rejection logs
  api/src/application/http/authentication/handlers/auth.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat(client): add post-logout redirect URI management API and UI
  api/src/application/http/client/handlers.rs
  api/src/application/http/client/handlers/create_post_logout_redirect_uri.rs
  api/src/application/http/client/handlers/delete_post_logout_redirect_uri.rs
  api/src/application/http/client/handlers/get_post_logout_redirect_uris.rs
  api/src/application/http/client/handlers/update_post_logout_redirect_uri.rs
  api/src/application/http/client/router.rs
  core/src/application/client/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/ports.rs
  core/src/domain/client/services.rs
  core/src/infrastructure/client/repositories/post_logout_redirect_uri_postgres_repository.rs
  front/src/api/post_logout_redirect_uris.api.ts
  front/src/pages/client/components/manage-post-logout-redirect-uris.tsx
  front/src/pages/client/ui/page-client-settings.tsx
  libs/ferriskey-domain/src/client/commands.rs
  libs/ferriskey-domain/src/client/ports.rs
Due: rust-fmt, rust-clippy, esint

fix: little adjustements
  api/src/application/http/trident/handlers/magic_link.rs
  api/src/application/http/trident/router.rs
Due: rust-fmt, rust-clippy

feat(dev): add dev-test-ssl command for local HTTPS stack (#4)
  .gitignore
  DEVELOPMENT.md
  docker-compose.ssl.yaml
  front/nginx.ssl.conf
  justfile
Due: none

fix(review): pin pnpm, align JwtToken schema, and handle mutation errors
  Dockerfile
  front/openapi.yaml
  front/src/api/core.interface.ts
  front/src/pages/client/components/manage-post-logout-redirect-uris.tsx
Due: esint, hadolint

fix(auth): align revoke response and migrate logout APIs to tanstack client
  api/src/application/http/authentication/handlers/revoke.rs
  front/src/api/auth.api.ts
  front/src/api/index.ts
  front/src/api/post_logout_redirect_uris.api.ts
Due: rust-fmt, rust-clippy, esint

fix(front): use OAS 3.1 null union for id_token and inline post-logout success toasts
  front/openapi.yaml
  front/src/pages/client/components/manage-post-logout-redirect-uris.tsx
Due: esint

refactor(front): use tanstack query/mutation options in auth hooks
  front/src/api/auth.api.ts
Due: esint

refactor: simplify magic link verification and hasher repository methods
  api/src/application/http/trident/handlers/magic_link.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/repositories/argon2_hasher.rs
  libs/ferriskey-security/src/crypto/ports.rs
Due: rust-fmt, rust-clippy

fix(front-auth): harden token form params and type revoke/logout endpoints
  front/openapi.yaml
  front/src/api/api.client.ts
  front/src/api/auth.api.ts
Due: esint

fix(front-openapi): add logout/revoke/auth query typing and post-logout redirect paths
  front/openapi.yaml
  front/src/api/api.client.ts
  front/src/api/api.interface.ts
  front/src/api/auth.api.ts
Due: esint

feat: update magic link settings and improve realm setting mapping
  core/migrations/20260209000007_add_magic_link_settings_to_realm_settings.up.sql
  core/src/domain/trident/services.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
Due: rust-fmt, rust-clippy

refactor: modify token_id type as uuid
  api/src/application/http/trident/handlers/magic_link.rs
  core/migrations/20260209000006_create_magic_links.up.sql
  core/migrations/20260209000008_add_magic_link_token_id.down.sql
  core/migrations/20260209000008_add_magic_link_token_id.up.sql
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/entity/access_tokens.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/broker_auth_sessions.rs
  core/src/entity/client_scope_attributes.rs
  core/src/entity/client_scope_mappings.rs
  core/src/entity/client_scope_protocol_mappers.rs
  core/src/entity/client_scopes.rs
  core/src/entity/clients.rs
  core/src/entity/credentials.rs
  core/src/entity/identity_provider_links.rs
  core/src/entity/identity_providers.rs
  core/src/entity/jwt_keys.rs
  core/src/entity/magic_links.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
  core/src/entity/redirect_uris.rs
  core/src/entity/refresh_tokens.rs
  core/src/entity/roles.rs
  core/src/entity/security_events.rs
  core/src/entity/user_federation_mappings.rs
  core/src/entity/user_federation_providers.rs
  core/src/entity/user_required_actions.rs
  core/src/entity/user_role.rs
  core/src/entity/user_sessions.rs
  core/src/entity/users.rs
  core/src/entity/webhook_subscribers.rs
  core/src/entity/webhooks.rs
  core/src/infrastructure/repositories/magic_link_repository.rs
  libs/ferriskey-trident/src/entities/mod.rs
Due: rust-fmt, rust-clippy

fix: fix some coderabbit feedbacks
  core/migrations/20260209000006_create_magic_links.up.sql
  core/src/domain/trident/services.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/user_required_actions.rs
  front/README.md
Due: rust-fmt, rust-clippy

feat: update api.client.ts for fronti + openapi.yaml
  front/openapi.yaml
  front/src/api/api.client.ts
Due: esint

docs: add Pull Request Guidelines to CONTRIBUTING
  CONTRIBUTING.md
Due: none

docs: remove Aegis services prompt document
  prompts/aegis-services.md
Due: none

docs: write new rules in contributing guide (#730)
  CONTRIBUTING.md
  prompts/aegis-services.md
Due: none

feat: add JWKS endpoints and JWK 'use' field (#727)
  api/src/application/http/authentication/handlers/get_certs.rs
  api/src/application/http/authentication/handlers/openid_configuration.rs
  api/src/application/http/authentication/router.rs
  core/src/domain/authentication/services.rs
  front/openapi.yaml
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy

fix(dev): make dev-test-ssl work via same-origin https proxy
  DEVELOPMENT.md
  docker-compose.ssl.yaml
  front/nginx.ssl.conf
  justfile
Due: none

refactor(dev): consolidate ssl workflow into single compose file
  docker-compose.ssl.yaml
  docker-compose.yaml
  front/nginx.ssl.conf
  justfile
Due: none

fix(dev-ssl): prevent stale api url causing localhost:3333 auth 404
  front/nginx.conf
  front/nginx.ssl.conf
  front/src/App.tsx
Due: esint

chore(dev-ssl): move api forcing to just command and revert source workarounds
  front/nginx.conf
  front/nginx.ssl.conf
  front/src/App.tsx
  justfile
Due: esint

fix(dev-ssl): fold runtime api forcing into dev-test-ssl
  justfile
Due: none

fix(dev-ssl): ignore front/.env during ssl build to prevent localhost:3333 redirects
  justfile
Due: none

fix(dev-test-ssl): reliably ignore and restore front .env files
  justfile
Due: none

chore(dev-test-ssl): simplify ssl flow with dockerignored front env files
  .dockerignore
  justfile
Due: none

chore(justfile): remove local ssl recipes and simplify teardown
  justfile
Due: none

chore: pnpm version lock
  Dockerfile
Due: hadolint

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
