Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

style(repository): add allow(dead_code) attribute to password policy repository
  core/src/infrastructure/repositories/password_policy_repository.rs
Due: rust-fmt, rust-clippy

feat(realm): add password policy handlers
  api/src/application/http/realm/handlers.rs
Due: rust-fmt, rust-clippy

feat(realm): add validator for updating password policy
  api/src/application/http/realm/validators.rs
Due: rust-fmt, rust-clippy

feat(realm): add endpoint to get password policy by realm name
  api/src/application/http/realm/handlers/get_password_policy.rs
Due: rust-fmt, rust-clippy

feat(realm): add endpoint to update password policy
  api/src/application/http/realm/handlers/update_password_policy.rs
Due: rust-fmt, rust-clippy

feat(realm): add password policy routes and handlers
  api/src/application/http/realm/router.rs
Due: rust-fmt, rust-clippy

feat(application): add PasswordPolicyRepo type alias for Postgres implementation
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

feat(core): add PasswordPolicyService to ApplicationService
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

feat(application): add get and update password policy methods
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

feat(application): add password policy service initialization
  core/src/application/mod.rs
Due: rust-fmt, rust-clippy

feat(core): add password policy repository import
  core/src/application/mod.rs
Due: rust-fmt, rust-clippy

refactor(core): add PasswordPolicyService import in application module
  core/src/application/mod.rs
Due: rust-fmt, rust-clippy

feat: improve reset password with auto login (#836)
  api/src/application/http/trident/handlers/reset_password.rs
  api/src/application/http/trident/router.rs
  core/src/application/auth/mod.rs
  core/src/application/trident/mod.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  front/src/api/api.client.ts
  front/src/api/password-reset.api.ts
  front/src/pages/authentication/feature/page-reset-password-feature.tsx
  front/src/pages/authentication/ui/page-reset-password.tsx
  front/src/pages/realm/feature/page-realm-settings-email-feature.tsx
Due: rust-fmt, rust-clippy, esint

fix(realm): convert realm id to correct type in password policy handler
  api/src/application/http/realm/handlers/get_password_policy.rs
Due: rust-fmt, rust-clippy

fix(http): convert realm id type when updating password policy
  api/src/application/http/realm/handlers/update_password_policy.rs
Due: rust-fmt, rust-clippy

feat: bump Helm chart to 0.4.0
  charts/ferriskey/Chart.yaml
Due: none

feat: bump Helm chart to 0.4.0 (#838)
  charts/ferriskey/Chart.yaml
Due: none

feat: implement lifetime token domain & infrastructure
  api/src/application/http/client/handlers/update_client.rs
  api/src/application/http/client/validators.rs
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  core/migrations/20260312000000_add_token_lifetimes.down.sql
  core/migrations/20260312000000_add_token_lifetimes.up.sql
  core/src/domain/abyss/policies.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/common/services.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/entity/clients.rs
  core/src/entity/realm_settings.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/lib.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/token_lifetime.rs
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy

feat: upgrade version
  charts/ferriskey/README.md
Due: none

feat: implement lifetime token domain & infrastructure (#839)
  api/src/application/http/client/handlers/update_client.rs
  api/src/application/http/client/validators.rs
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  charts/ferriskey/README.md
  core/migrations/20260312000000_add_token_lifetimes.down.sql
  core/migrations/20260312000000_add_token_lifetimes.up.sql
  core/src/domain/abyss/policies.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/common/services.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/entity/clients.rs
  core/src/entity/realm_settings.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/lib.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/token_lifetime.rs
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy

feat: implement authentication callback handling and refresh token logic
  core/src/domain/authentication/services.rs
  core/src/infrastructure/repositories/refresh_token_repository.rs
  front/src/hooks/auth-refresh-controller.test.ts
  front/src/hooks/auth-refresh-controller.ts
  front/src/hooks/use-auth.ts
  front/src/pages/authentication/feature/callback-helpers.test.ts
  front/src/pages/authentication/feature/callback-helpers.ts
  front/src/pages/authentication/feature/page-callback-feature.tsx
  front/src/pages/authentication/ui/page-callback.tsx
Due: rust-fmt, rust-clippy, esint

feat: implement authentication callback handling and refresh token logic (#840)
  core/src/domain/authentication/services.rs
  core/src/infrastructure/repositories/refresh_token_repository.rs
  front/src/hooks/auth-refresh-controller.test.ts
  front/src/hooks/auth-refresh-controller.ts
  front/src/hooks/use-auth.ts
  front/src/pages/authentication/feature/callback-helpers.test.ts
  front/src/pages/authentication/feature/callback-helpers.ts
  front/src/pages/authentication/feature/page-callback-feature.tsx
  front/src/pages/authentication/ui/page-callback.tsx
Due: rust-fmt, rust-clippy, esint

feat: bump workspace, crates, and chart to 0.4.1
  Cargo.lock
  Cargo.toml
  charts/ferriskey/Chart.yaml
Due: rust-clippy

feat: implement lifetime tokens ui
  front/src/api/api.client.ts
  front/src/api/realm.api.ts
  front/src/pages/client/feature/page-client-settings-feature.tsx
  front/src/pages/client/schemas/update-client.schema.ts
  front/src/pages/client/ui/page-client-settings.tsx
  front/src/pages/realm/feature/page-realm-settings-tokens-feature.tsx
  front/src/pages/realm/layouts/realm-settings-layout.tsx
  front/src/pages/realm/page-realm.tsx
  front/src/pages/realm/ui/page-realm-settings-tokens.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
Due: esint

wip
  front/src/api/api.client.ts
Due: esint

feat(backend): Implement OAuth 2.1 compliance
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/authentificate.rs
  api/src/application/http/authentication/handlers/openid_configuration.rs
  api/src/application/http/authentication/handlers/token.rs
  api/src/application/http/authentication/validators.rs
  api/src/application/http/broker/handlers/callback.rs
  core/migrations/20260312000000_add_pkce_fields.down.sql
  core/migrations/20260312000000_add_pkce_fields.up.sql
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/mod.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/tests/mod.rs
  core/src/domain/authentication/tests/oauth21_tests.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/common/services.rs
  core/src/entity/auth_sessions.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

feat(auth): remove PKCE fields from authentication and token exchange inputs
  api/src/application/http/authentication/handlers/authentificate.rs
  api/src/application/http/authentication/handlers/token.rs
  api/src/application/http/authentication/validators.rs
  api/src/application/http/broker/handlers/callback.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/tests/mod.rs
  core/src/domain/authentication/tests/oauth21_tests.rs
  core/src/domain/authentication/value_objects.rs
  libs/ferriskey-abyss/src/identity_provider/broker/value_objects.rs
Due: rust-fmt, rust-clippy

feat(auth): enhance PKCE validation with secure comparison and update challenge method handling
  api/src/application/http/authentication/validators.rs
  api/src/application/http/broker/handlers/callback.rs
  core/src/domain/authentication/services.rs
  core/src/domain/common/services.rs
Due: rust-fmt, rust-clippy

feat: implement lifetime token ui (#841)
  front/src/api/api.client.ts
  front/src/api/realm.api.ts
  front/src/pages/client/feature/page-client-settings-feature.tsx
  front/src/pages/client/schemas/update-client.schema.ts
  front/src/pages/client/ui/page-client-settings.tsx
  front/src/pages/realm/feature/page-realm-settings-tokens-feature.tsx
  front/src/pages/realm/layouts/realm-settings-layout.tsx
  front/src/pages/realm/page-realm.tsx
  front/src/pages/realm/ui/page-realm-settings-tokens.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
Due: esint

feat: add password policy migration (#835)
  core/migrations/20260312001300_add_password_policy.down.sql
  core/migrations/20260312001300_add_password_policy.up.sql
Due: none

refactor(core): reorganize imports in application services module
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

refactor(application): improve password policy retrieval and update with realm name
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

fix(realm): simplify password policy retrieval logic
  api/src/application/http/realm/handlers/get_password_policy.rs
Due: rust-fmt, rust-clippy

refactor(core): reorganize policy imports in services module
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

refactor(core): remove unused policy imports in services.rs
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

feat(auth): enhance PKCE validation and update token exchange process with base URL support
  api/src/application/http/authentication/validators.rs
  api/src/application/http/broker/handlers/callback.rs
  api/src/main.rs
  core/src/domain/authentication/services.rs
  core/src/domain/common/entities/mod.rs
  core/src/domain/common/services.rs
Due: rust-fmt, rust-clippy

feat(auth): update redirect URIs to use master realm name for dynamic configuration
  core/src/domain/common/services.rs
Due: rust-fmt, rust-clippy

fix(realm): correct password policy update to use realm name
  api/src/application/http/realm/handlers/update_password_policy.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
