Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

feat: add Maskass crate for sensitive value masking
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  libs/maskass/Cargo.toml
  libs/maskass/README.md
  libs/maskass/src/lib.rs
  libs/maskass/src/masked.rs
  libs/maskass/src/strategies.rs
Due: rust-fmt, rust-clippy

feat: add Maskass crate for sensitive value masking
  .dockerignore
  Dockerfile
  api/src/application/http/abyss/identity_provider/dto.rs
  api/src/lib.rs
  api/src/main.rs
  api/tests/it/docker.rs
  api/tests/it/main.rs
  api/tests/it/postgres_context.rs
  core/src/domain/identity_provider/entities.rs
  core/src/domain/identity_provider/mod.rs
  core/src/domain/identity_provider/policies.rs
  core/src/infrastructure/identity_provider/mappers/identity_provider_mapper.rs
  libs/maskass/Cargo.toml
  libs/maskass/src/lib.rs
  libs/maskass/src/masked.rs
  libs/maskass/src/strategies.rs
Due: rust-fmt, rust-clippy, hadolint

feat: sanitaze client secret in `IdentityProvider` (#674)
  .dockerignore
  Cargo.lock
  Cargo.toml
  Dockerfile
  api/src/application/http/abyss/identity_provider/dto.rs
  api/src/lib.rs
  api/src/main.rs
  api/tests/it/docker.rs
  api/tests/it/main.rs
  api/tests/it/postgres_context.rs
  core/Cargo.toml
  core/src/domain/identity_provider/entities.rs
  core/src/domain/identity_provider/mod.rs
  core/src/domain/identity_provider/policies.rs
  core/src/infrastructure/identity_provider/mappers/identity_provider_mapper.rs
  libs/maskass/Cargo.toml
  libs/maskass/README.md
  libs/maskass/src/lib.rs
  libs/maskass/src/masked.rs
  libs/maskass/src/strategies.rs
Due: rust-fmt, rust-clippy, hadolint

feat: populate ID token with real claim values
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat: populate id token with real claim values (#675)
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

refactor: include domain and webhook libs in Dockerfile
  Dockerfile
Due: hadolint

refactor: add domain and webhook workspace crates
  Cargo.lock
  core/Cargo.toml
  core/src/domain/authentication/value_objects.rs
  core/src/domain/client/entities.rs
  core/src/domain/client/entities/redirect_uri.rs
  core/src/domain/client/value_objects.rs
  core/src/domain/common/entities/app_errors.rs
  core/src/domain/common/mod.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm/mod.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/entities.rs
  core/src/domain/role/services.rs
  core/src/domain/user/entities.rs
  core/src/domain/user/value_objects.rs
  libs/domain/src/realm/ports.rs
  libs/webhook/Cargo.toml
  libs/webhook/src/entities.rs
  libs/webhook/src/entities/trigger.rs
Due: rust-fmt, rust-clippy

refactor: add domain and webhook workspace crates
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  libs/domain/Cargo.toml
  libs/domain/src/client/entities/mod.rs
  libs/domain/src/client/entities/redirect_uri.rs
  libs/domain/src/client/inputs.rs
  libs/domain/src/client/mod.rs
  libs/domain/src/client/ports.rs
  libs/domain/src/client/value_objects.rs
  libs/domain/src/identity/mod.rs
  libs/domain/src/lib.rs
  libs/domain/src/realm/mod.rs
  libs/domain/src/realm/ports.rs
  libs/domain/src/role/mod.rs
  libs/domain/src/user/inputs.rs
  libs/domain/src/user/mod.rs
  libs/domain/src/user/ports.rs
  libs/domain/src/user/required_action.rs
  libs/domain/src/user/value_objects.rs
  libs/webhook/Cargo.toml
  libs/webhook/src/entities.rs
  libs/webhook/src/entities/inputs.rs
  libs/webhook/src/entities/trigger.rs
  libs/webhook/src/lib.rs
  libs/webhook/src/ports.rs
Due: rust-fmt, rust-clippy

fix: bump Rust base and add libs to Dockerfile
  Dockerfile
Due: hadolint

fix: include domain and webhook libs in Dockerfile
  Dockerfile
Due: hadolint

fix: add unique constraint to mail per realm (#539)
  api/src/application/http/error.rs
  core/migrations/20260124000000_add_unique_email_per_realm.down.sql
  core/migrations/20260124000000_add_unique_email_per_realm.up.sql
  core/src/domain/common/entities/app_errors.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/user/repository.rs
Due: rust-fmt, rust-clippy

chore: add documentation for applying migration (#539)
  README.md
Due: none

fix: added user already exist in database frontend message (#539)
  core/src/domain/user/services.rs
  front/src/api/index.ts
  front/src/pages/user/feature/page-user-overview-feature.tsx
Due: rust-fmt, rust-clippy, esint

Fix/539 unique mail per realm (#677)
  README.md
  api/src/application/http/error.rs
  core/migrations/20260124000000_add_unique_email_per_realm.down.sql
  core/migrations/20260124000000_add_unique_email_per_realm.up.sql
  core/src/domain/common/entities/app_errors.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/user/repository.rs
  front/src/api/index.ts
  front/src/pages/user/feature/page-user-overview-feature.tsx
Due: rust-fmt, rust-clippy, esint

refactor: change Policy traits to accept &Identity and &Realm instead of owned types (#584)
  core/src/domain/abyss/federation/policies.rs
  core/src/domain/abyss/federation/ports.rs
  core/src/domain/abyss/federation/services.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/abyss/ports.rs
  core/src/domain/abyss/services.rs
  core/src/domain/client/policies.rs
  core/src/domain/client/ports.rs
  core/src/domain/client/services.rs
  core/src/domain/credential/services.rs
  core/src/domain/identity_provider/policies.rs
  core/src/domain/identity_provider/ports.rs
  core/src/domain/identity_provider/services.rs
  core/src/domain/realm/policies.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/policies.rs
  core/src/domain/role/ports.rs
  core/src/domain/role/services.rs
  core/src/domain/seawatch/policies.rs
  core/src/domain/seawatch/ports.rs
  core/src/domain/seawatch/services.rs
  core/src/domain/user/policies.rs
  core/src/domain/user/ports.rs
  core/src/domain/user/services.rs
  core/src/domain/webhook/policies.rs
  core/src/domain/webhook/ports.rs
  core/src/domain/webhook/services.rs
Due: rust-fmt, rust-clippy

refactor: change Policy traits to accept &Identity and &Realm instead of owned types (#584) (#678)
  core/src/domain/abyss/federation/policies.rs
  core/src/domain/abyss/federation/ports.rs
  core/src/domain/abyss/federation/services.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/abyss/ports.rs
  core/src/domain/abyss/services.rs
  core/src/domain/client/policies.rs
  core/src/domain/client/ports.rs
  core/src/domain/client/services.rs
  core/src/domain/credential/services.rs
  core/src/domain/identity_provider/policies.rs
  core/src/domain/identity_provider/ports.rs
  core/src/domain/identity_provider/services.rs
  core/src/domain/realm/policies.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/policies.rs
  core/src/domain/role/ports.rs
  core/src/domain/role/services.rs
  core/src/domain/seawatch/policies.rs
  core/src/domain/seawatch/ports.rs
  core/src/domain/seawatch/services.rs
  core/src/domain/user/policies.rs
  core/src/domain/user/ports.rs
  core/src/domain/user/services.rs
  core/src/domain/webhook/policies.rs
  core/src/domain/webhook/ports.rs
  core/src/domain/webhook/services.rs
Due: rust-fmt, rust-clippy

feat: wire broker and identity provider support
  api/src/application/http/broker/handlers/callback.rs
  api/src/application/http/broker/handlers/login.rs
  core/src/application/broker/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/identity_provider/entities.rs
  core/src/domain/identity_provider/ports.rs
  core/src/domain/identity_provider/services.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm/services.rs
  core/src/infrastructure/identity_provider/repositories/identity_provider_postgres_repository.rs
  core/src/infrastructure/identity_provider/repositories/oauth_client.rs
Due: rust-fmt, rust-clippy

fix: broker callback, OAuth parsing, persist session
  api/src/application/http/broker/router.rs
  core/src/domain/identity_provider/broker/services.rs
  core/src/domain/identity_provider/broker/value_objects.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

feat: clippy
  core/src/domain/identity_provider/broker/services.rs
Due: rust-fmt, rust-clippy

feat: add TryFrom for OAuthProviderConfig
  core/src/domain/identity_provider/broker/value_objects.rs
Due: rust-fmt, rust-clippy

fix: update broker HTTP routes and OpenAPI docs
  api/src/application/http/broker/handlers/callback.rs
  api/src/application/http/broker/handlers/login.rs
  api/src/application/http/broker/router.rs
  api/src/application/http/server/openapi.rs
Due: rust-fmt, rust-clippy

feat: implement sso endpoints
  api/src/application/http.rs
  api/src/application/http/broker/handlers/callback.rs
  api/src/application/http/broker/handlers/login.rs
  api/src/application/http/broker/handlers/mod.rs
  api/src/application/http/broker/mod.rs
  api/src/application/http/broker/router.rs
  api/src/application/http/broker/validators.rs
  api/src/application/http/error.rs
  api/src/application/http/server/http_server.rs
  core/Cargo.toml
  core/migrations/20260118000303_create-broker-auth-sessions.down.sql
  core/migrations/20260118000303_create-broker-auth-sessions.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/abyss/services.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/common/entities/app_errors.rs
  core/src/domain/identity_provider/broker/entities.rs
  core/src/domain/identity_provider/broker/mod.rs
  core/src/domain/identity_provider/broker/ports.rs
  core/src/domain/identity_provider/broker/services.rs
  core/src/domain/identity_provider/broker/value_objects.rs
  core/src/domain/identity_provider/mod.rs
  core/src/domain/realm/ports.rs
  core/src/domain/user/ports.rs
  core/src/entity/broker_auth_sessions.rs
  core/src/entity/identity_provider_links.rs
  core/src/entity/mod.rs
  core/src/infrastructure/identity_provider/mod.rs
  core/src/infrastructure/identity_provider/repositories.rs
  core/src/infrastructure/identity_provider/repositories/broker_auth_session_repository.rs
  core/src/infrastructure/identity_provider/repositories/identity_provider_link_repository.rs
  core/src/infrastructure/identity_provider/repositories/oauth_client.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
  core/src/infrastructure/user/repository.rs
Due: rust-fmt, rust-clippy

fix: remove debug logging from identity provider broker
  core/src/domain/identity_provider/broker/services.rs
  core/src/domain/identity_provider/broker/value_objects.rs
Due: rust-fmt, rust-clippy

feat: implement sso endpoints
  core/src/domain/identity_provider/broker/services.rs
Due: rust-fmt, rust-clippy

fix: update broker HTTP routes and OpenAPI docs
  api/src/application/http/broker/router.rs
Due: rust-fmt, rust-clippy

fix: broker callback, OAuth parsing, persist session
  api/src/application/http/broker/router.rs
  core/src/domain/identity_provider/broker/services.rs
Due: rust-fmt, rust-clippy

feat: add identity provider wizard and templates
  front/src/constants/identity-provider-templates.ts
  front/src/pages/identity-providers/components/provider-config-form.tsx
  front/src/pages/identity-providers/components/provider-gallery.tsx
  front/src/pages/identity-providers/components/provider-help-panel.tsx
  front/src/pages/identity-providers/components/provider-icon.tsx
  front/src/pages/identity-providers/components/provider-review.tsx
  front/src/pages/identity-providers/components/provider-wizard-progress.tsx
  front/src/pages/identity-providers/components/providers-empty-state.tsx
  front/src/pages/identity-providers/feature/page-create-feature.tsx
  front/src/pages/identity-providers/ui/page-create.tsx
  front/src/pages/identity-providers/ui/page-overview.tsx
Due: esint

feat; render identity provider buttons on login page
  front/src/api/api.client.ts
  front/src/pages/authentication/ui/page-login.tsx
Due: esint

feat: add broker endpoints to front API client
  front/src/api/api.client.ts
Due: esint

feat: add Identity Providers feature
  front/src/api/identity-providers.api.ts
  front/src/components/nav-main.tsx
  front/src/pages/identity-providers/columns/list-provider.column.tsx
  front/src/pages/identity-providers/components/statistics-card.tsx
  front/src/pages/identity-providers/feature/page-create-feature.tsx
  front/src/pages/identity-providers/feature/page-detail-feature.tsx
  front/src/pages/identity-providers/feature/page-overview-feature.tsx
  front/src/pages/identity-providers/layouts/providers-layout.tsx
  front/src/pages/identity-providers/page-identity-providers.tsx
  front/src/pages/identity-providers/schemas/create-provider.schema.ts
  front/src/pages/identity-providers/ui/page-create.tsx
  front/src/pages/identity-providers/ui/page-detail.tsx
  front/src/pages/identity-providers/ui/page-overview.tsx
  front/src/routes/sub-router/identity-provider.router.ts
Due: esint

feat: integrate TanStack-generated identity provider API
  front/src/api/api.client.ts
  front/src/api/identity-providers.api.ts
  front/src/pages/identity-providers/columns/list-provider.column.tsx
  front/src/pages/identity-providers/components/provider-config-form.tsx
  front/src/pages/identity-providers/components/provider-icon.tsx
  front/src/pages/identity-providers/feature/page-create-feature.tsx
  front/src/pages/identity-providers/feature/page-detail-feature.tsx
  front/src/pages/identity-providers/feature/page-overview-feature.tsx
  front/src/pages/identity-providers/types.ts
  front/src/pages/identity-providers/ui/page-detail.tsx
  front/src/pages/identity-providers/ui/page-overview.tsx
Due: esint

feat: extract login providers into component
  front/src/pages/authentication/ui/login-providers.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/identity-providers/components/provider-icon.tsx
  front/src/pages/identity-providers/ui/page-detail.tsx
Due: esint

feat: enhance pages IdP (#648)
  front/src/api/api.client.ts
  front/src/api/identity-providers.api.ts
  front/src/components/nav-main.tsx
  front/src/constants/identity-provider-templates.ts
  front/src/pages/authentication/ui/login-providers.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/identity-providers/columns/list-provider.column.tsx
  front/src/pages/identity-providers/components/provider-config-form.tsx
  front/src/pages/identity-providers/components/provider-gallery.tsx
  front/src/pages/identity-providers/components/provider-help-panel.tsx
  front/src/pages/identity-providers/components/provider-icon.tsx
  front/src/pages/identity-providers/components/provider-review.tsx
  front/src/pages/identity-providers/components/provider-wizard-progress.tsx
  front/src/pages/identity-providers/components/providers-empty-state.tsx
  front/src/pages/identity-providers/components/statistics-card.tsx
  front/src/pages/identity-providers/feature/page-create-feature.tsx
  front/src/pages/identity-providers/feature/page-detail-feature.tsx
  front/src/pages/identity-providers/feature/page-overview-feature.tsx
  front/src/pages/identity-providers/layouts/providers-layout.tsx
  front/src/pages/identity-providers/page-identity-providers.tsx
  front/src/pages/identity-providers/schemas/create-provider.schema.ts
  front/src/pages/identity-providers/types.ts
  front/src/pages/identity-providers/ui/page-create.tsx
  front/src/pages/identity-providers/ui/page-detail.tsx
  front/src/pages/identity-providers/ui/page-overview.tsx
  front/src/routes/sub-router/identity-provider.router.ts
Due: esint

feat: revamp login UI and provider buttons
  front/public/logo_ferriskey.png
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/ui/login-providers.tsx
  front/src/pages/authentication/ui/page-login.css
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/authentication/ui/page-register.tsx
Due: esint

feat: Uppercase realm name on login title
  front/src/pages/authentication/ui/page-login.tsx
Due: esint

feat: enhance login page (#679)
  front/public/logo_ferriskey.png
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/ui/login-providers.tsx
  front/src/pages/authentication/ui/page-login.css
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/authentication/ui/page-register.tsx
Due: esint

feat: add SeaWatch UI and security event logging
  core/src/domain/client/services.rs
  front/src/api/sea-watch.api.ts
  front/src/pages/seawatch/feature/page-overview-feature.tsx
  front/src/pages/seawatch/ui/flagged-users.tsx
  front/src/pages/seawatch/ui/page-overview.tsx
  front/src/pages/seawatch/ui/security-metrics.tsx
  front/src/pages/seawatch/ui/strange-events-analysis.tsx
Due: rust-fmt, rust-clippy, esint

feat: emit security events for user and client actions
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/client/services.rs
  core/src/domain/user/services.rs
Due: rust-fmt, rust-clippy

feat: add skeleton loaders to Seawatch overview
  front/src/pages/seawatch/ui/page-overview.tsx
Due: esint

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
