Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

chore(entity): add the relation codegen derives from the new foreign key
  core/src/entity/user_sessions.rs
Due: rust-fmt, rust-clippy

refactor(auth): share the SSO redirect between both cookie paths
  libs/ferriskey-api-authentication/src/handlers/auth.rs
Due: rust-fmt, rust-clippy

chore: drop the comments added by this branch
  api/tests/sso_session_test.rs
  core/migrations/20260915000000_add_user_session_id_to_auth_sessions.up.sql
  core/migrations/20260915010000_add_sso_token_hash_to_user_sessions.up.sql
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  libs/ferriskey-api-authentication/src/handlers/auth.rs
  libs/ferriskey-api-authentication/src/handlers/authentificate.rs
  libs/ferriskey-api-authentication/src/sso_cookie.rs
  libs/ferriskey-domain/src/authentication/entities.rs
  libs/ferriskey-domain/src/session/entities.rs
  libs/ferriskey-domain/src/session/ports.rs
Due: rust-fmt, rust-clippy

feat(auth): anchor SSO on the user session instead of the access token (#1331)
  Cargo.lock
  api/tests/sso_session_test.rs
  core/migrations/20260915000000_add_user_session_id_to_auth_sessions.down.sql
  core/migrations/20260915000000_add_user_session_id_to_auth_sessions.up.sql
  core/migrations/20260915010000_add_sso_token_hash_to_user_sessions.down.sql
  core/migrations/20260915010000_add_sso_token_hash_to_user_sessions.up.sql
  core/src/application/token_revocation.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/saml/services.rs
  core/src/domain/trident/services.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/user_sessions.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
  core/src/infrastructure/repositories/user_session_repository.rs
  libs/ferriskey-api-authentication/Cargo.toml
  libs/ferriskey-api-authentication/src/handlers/auth.rs
  libs/ferriskey-api-authentication/src/handlers/authentificate.rs
  libs/ferriskey-api-authentication/src/handlers/logout.rs
  libs/ferriskey-api-authentication/src/lib.rs
  libs/ferriskey-api-authentication/src/sso_cookie.rs
  libs/ferriskey-domain/src/authentication/entities.rs
  libs/ferriskey-domain/src/session/entities.rs
  libs/ferriskey-domain/src/session/ports.rs
  libs/ferriskey-domain/src/session/services.rs
Due: rust-fmt, rust-clippy

feat: model webhook retry policy and delivery state
  core/src/infrastructure/webhook/retry.rs
  libs/ferriskey-webhook/Cargo.toml
  libs/ferriskey-webhook/src/entities.rs
  libs/ferriskey-webhook/src/entities/retry_policy.rs
  libs/ferriskey-webhook/src/entities/webhook_delivery.rs
  libs/ferriskey-webhook/src/ports.rs
Due: rust-fmt, rust-clippy

chore: apply rustfmt to webhook delivery entities
  libs/ferriskey-webhook/src/entities/retry_policy.rs
  libs/ferriskey-webhook/src/entities/webhook_delivery.rs
Due: rust-fmt, rust-clippy

fix: cap webhook retry delay to the remaining budget
  libs/ferriskey-webhook/src/entities/retry_policy.rs
Due: rust-fmt, rust-clippy

feat(webhook): model retry policy and delivery state (#1339)
  core/src/infrastructure/webhook/retry.rs
  libs/ferriskey-webhook/Cargo.toml
  libs/ferriskey-webhook/src/entities.rs
  libs/ferriskey-webhook/src/entities/retry_policy.rs
  libs/ferriskey-webhook/src/entities/webhook_delivery.rs
  libs/ferriskey-webhook/src/ports.rs
Due: rust-fmt, rust-clippy

feat: persist webhook delivery outbox
  core/migrations/20260916000000_create_webhook_delivery_outbox.down.sql
  core/migrations/20260916000000_create_webhook_delivery_outbox.up.sql
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_settings.rs
  core/src/entity/webhook_deliveries.rs
  core/src/entity/webhooks.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/webhook/mappers.rs
  core/src/infrastructure/webhook/repositories.rs
  core/src/infrastructure/webhook/repositories/webhook_delivery_repository.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

ci: run webhook delivery repository tests
  .github/workflows/integration-tests.yaml
Due: none

feat(webhook): persist the delivery outbox (#1340)
  .github/workflows/integration-tests.yaml
  core/migrations/20260916000000_create_webhook_delivery_outbox.down.sql
  core/migrations/20260916000000_create_webhook_delivery_outbox.up.sql
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_settings.rs
  core/src/entity/webhook_deliveries.rs
  core/src/entity/webhooks.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/webhook/mappers.rs
  core/src/infrastructure/webhook/repositories.rs
  core/src/infrastructure/webhook/repositories/webhook_delivery_repository.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: resume webhook deliveries from the outbox
  core/src/application/mod.rs
  core/src/infrastructure/webhook/delivery.rs
  core/src/infrastructure/webhook/mod.rs
  core/src/infrastructure/webhook/repositories/webhook_delivery_repository.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  core/src/infrastructure/webhook/worker.rs
  libs/ferriskey-webhook/src/ports.rs
Due: rust-fmt, rust-clippy

feat: add the webhook delivery exhausted security event
  core/src/infrastructure/seawatch/mapper.rs
  core/src/infrastructure/webhook/retry.rs
  libs/ferriskey-seawatch/src/entities.rs
Due: rust-fmt, rust-clippy

feat(webhook): resume deliveries from the outbox (#1341)
  core/src/application/mod.rs
  core/src/infrastructure/seawatch/mapper.rs
  core/src/infrastructure/webhook/delivery.rs
  core/src/infrastructure/webhook/mod.rs
  core/src/infrastructure/webhook/repositories/webhook_delivery_repository.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  core/src/infrastructure/webhook/retry.rs
  core/src/infrastructure/webhook/worker.rs
  libs/ferriskey-seawatch/src/entities.rs
  libs/ferriskey-webhook/src/ports.rs
Due: rust-fmt, rust-clippy

ci: run webhook delivery api tests
  .github/workflows/integration-tests.yaml
Due: none

feat: add delivery queries to the webhook service
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/application/webhook/mod.rs
  libs/ferriskey-webhook/src/ports.rs
  libs/ferriskey-webhook/src/services.rs
Due: rust-fmt, rust-clippy

feat: expose webhook delivery history and replay
  Cargo.lock
  api/tests/webhook_delivery_api_test.rs
  libs/ferriskey-api-webhook/Cargo.toml
  libs/ferriskey-api-webhook/src/handlers.rs
  libs/ferriskey-api-webhook/src/handlers/fetch_deliveries.rs
  libs/ferriskey-api-webhook/src/handlers/get_delivery.rs
  libs/ferriskey-api-webhook/src/handlers/retry_delivery.rs
  libs/ferriskey-api-webhook/src/router.rs
Due: rust-fmt, rust-clippy

feat(webhook): expose delivery history and manual replay (#1342)
  .github/workflows/integration-tests.yaml
  Cargo.lock
  api/tests/webhook_delivery_api_test.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/application/webhook/mod.rs
  libs/ferriskey-api-webhook/Cargo.toml
  libs/ferriskey-api-webhook/src/handlers.rs
  libs/ferriskey-api-webhook/src/handlers/fetch_deliveries.rs
  libs/ferriskey-api-webhook/src/handlers/get_delivery.rs
  libs/ferriskey-api-webhook/src/handlers/retry_delivery.rs
  libs/ferriskey-api-webhook/src/router.rs
  libs/ferriskey-webhook/src/ports.rs
  libs/ferriskey-webhook/src/services.rs
Due: rust-fmt, rust-clippy

feat: configure webhook retry policy per realm and per webhook
  api/tests/webhook_delivery_api_test.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/webhook/mappers.rs
  core/src/infrastructure/webhook/repositories/webhook_delivery_repository.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-api-realm/src/handlers/update_realm_setting.rs
  libs/ferriskey-api-realm/src/validators.rs
  libs/ferriskey-api-webhook/src/handlers/create_webhook.rs
  libs/ferriskey-api-webhook/src/handlers/update_webhook.rs
  libs/ferriskey-api-webhook/src/validators.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/realm/ports.rs
  libs/ferriskey-webhook/src/entities/retry_policy.rs
  libs/ferriskey-webhook/src/entities/webhook.rs
  libs/ferriskey-webhook/src/ports.rs
  libs/ferriskey-webhook/src/services.rs
Due: rust-fmt, rust-clippy

feat: configure webhook retry policy per realm and per webhook (#1343)
  api/tests/webhook_delivery_api_test.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/webhook/mappers.rs
  core/src/infrastructure/webhook/repositories/webhook_delivery_repository.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-api-realm/src/handlers/update_realm_setting.rs
  libs/ferriskey-api-realm/src/validators.rs
  libs/ferriskey-api-webhook/src/handlers/create_webhook.rs
  libs/ferriskey-api-webhook/src/handlers/update_webhook.rs
  libs/ferriskey-api-webhook/src/validators.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/realm/ports.rs
  libs/ferriskey-webhook/src/entities/retry_policy.rs
  libs/ferriskey-webhook/src/entities/webhook.rs
  libs/ferriskey-webhook/src/ports.rs
  libs/ferriskey-webhook/src/services.rs
Due: rust-fmt, rust-clippy

chore: regenerate the typescript api client
  front/src/api/api.client.ts
  front/src/pages/iam/seawatch/event-catalogue.ts
Due: esint

feat: build the webhook deliveries tab
  front/src/api/webhook.api.ts
  front/src/pages/iam/webhook/feature/page-webhook-detail-feature.tsx
  front/src/pages/iam/webhook/ui/page-webhook-detail.tsx
  front/src/pages/iam/webhook/ui/webhook-deliveries-tab.tsx
  front/src/pages/iam/webhook/ui/webhook-settings-tab.tsx
  front/src/pages/iam/webhook/webhook-delivery-status.ts
Due: esint

feat(webhook): build the deliveries tab (#1344)
  front/src/api/api.client.ts
  front/src/api/webhook.api.ts
  front/src/pages/iam/seawatch/event-catalogue.ts
  front/src/pages/iam/webhook/feature/page-webhook-detail-feature.tsx
  front/src/pages/iam/webhook/ui/page-webhook-detail.tsx
  front/src/pages/iam/webhook/ui/webhook-deliveries-tab.tsx
  front/src/pages/iam/webhook/ui/webhook-settings-tab.tsx
  front/src/pages/iam/webhook/webhook-delivery-status.ts
Due: esint

fix: let a webhook be created without any subscriber
  api/tests/webhook_delivery_api_test.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  front/src/pages/iam/webhook/feature/page-create-webhook-feature.tsx
  front/src/pages/iam/webhook/feature/page-webhook-detail-feature.tsx
  libs/ferriskey-api-webhook/src/validators.rs
Due: rust-fmt, rust-clippy, esint

fix: let a webhook be created without any subscriber (#1346)
  api/tests/webhook_delivery_api_test.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  front/src/pages/iam/webhook/feature/page-create-webhook-feature.tsx
  front/src/pages/iam/webhook/feature/page-webhook-detail-feature.tsx
  libs/ferriskey-api-webhook/src/validators.rs
Due: rust-fmt, rust-clippy, esint

fix: say why a webhook endpoint was rejected
  api/tests/webhook_delivery_api_test.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-webhook/src/endpoint.rs
Due: rust-fmt, rust-clippy

fix: say why a webhook endpoint was rejected (#1347)
  api/tests/webhook_delivery_api_test.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-webhook/src/endpoint.rs
Due: rust-fmt, rust-clippy

feat: allow private webhook endpoints behind an explicit opt-in
  api/tests/account_lockout_test.rs
  api/tests/client_cross_realm_test.rs
  api/tests/device_flow_test.rs
  api/tests/login_aliases_test.rs
  api/tests/me_profile_test.rs
  api/tests/mfa_bypass_test.rs
  api/tests/nonce_id_token_test.rs
  api/tests/organization_cross_realm_test.rs
  api/tests/organization_test.rs
  api/tests/password_policy_test.rs
  api/tests/pkce_test.rs
  api/tests/portal_theme_test.rs
  api/tests/realm_lifecycle_test.rs
  api/tests/redirect_uri_validation_test.rs
  api/tests/refresh_token_rotation_test.rs
  api/tests/registration_test.rs
  api/tests/saml_test.rs
  api/tests/seawatch_test.rs
  api/tests/session_management_test.rs
  api/tests/sso_session_test.rs
  api/tests/token_basic_auth_test.rs
  api/tests/token_revocation_test.rs
  api/tests/user_cross_realm_test.rs
  api/tests/web_origin_test.rs
  api/tests/webhook_delivery_api_test.rs
  core/src/application/mod.rs
  core/src/domain/common/mod.rs
  core/src/infrastructure/webhook/delivery.rs
  core/src/infrastructure/webhook/repositories/webhook_delivery_repository.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  core/src/infrastructure/webhook/worker.rs
  libs/ferriskey-api-core/src/args.rs
  libs/ferriskey-webhook/src/endpoint.rs
  libs/ferriskey-webhook/src/services.rs
Due: rust-fmt, rust-clippy

feat: allow cleartext webhooks to localhost and stop resolving dns at configuration time
  api/tests/webhook_delivery_api_test.rs
  core/src/infrastructure/webhook/delivery.rs
  libs/ferriskey-webhook/src/endpoint.rs
  libs/ferriskey-webhook/src/entities/webhook_delivery.rs
Due: rust-fmt, rust-clippy

feat(webhook): allow local endpoints behind an opt-in and stop resolving DNS at configuration time (#1348)
  api/tests/account_lockout_test.rs
  api/tests/client_cross_realm_test.rs
  api/tests/device_flow_test.rs
  api/tests/login_aliases_test.rs
  api/tests/me_profile_test.rs
  api/tests/mfa_bypass_test.rs
  api/tests/nonce_id_token_test.rs
  api/tests/organization_cross_realm_test.rs
  api/tests/organization_test.rs
  api/tests/password_policy_test.rs
  api/tests/pkce_test.rs
  api/tests/portal_theme_test.rs
  api/tests/realm_lifecycle_test.rs
  api/tests/redirect_uri_validation_test.rs
  api/tests/refresh_token_rotation_test.rs
  api/tests/registration_test.rs
  api/tests/saml_test.rs
  api/tests/seawatch_test.rs
  api/tests/session_management_test.rs
  api/tests/sso_session_test.rs
  api/tests/token_basic_auth_test.rs
  api/tests/token_revocation_test.rs
  api/tests/user_cross_realm_test.rs
  api/tests/web_origin_test.rs
  api/tests/webhook_delivery_api_test.rs
  core/src/application/mod.rs
  core/src/domain/common/mod.rs
  core/src/infrastructure/webhook/delivery.rs
  core/src/infrastructure/webhook/repositories/webhook_delivery_repository.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  core/src/infrastructure/webhook/worker.rs
  libs/ferriskey-api-core/src/args.rs
  libs/ferriskey-webhook/src/endpoint.rs
  libs/ferriskey-webhook/src/entities/webhook_delivery.rs
  libs/ferriskey-webhook/src/services.rs
Due: rust-fmt, rust-clippy

fix: centre the signing secret button in its row
  front/src/pages/iam/webhook/ui/webhook-signing-secret.tsx
Due: esint

feat: let a webhook signing secret be regenerated and shown once
  api/tests/webhook_delivery_api_test.rs
  core/src/application/webhook/mod.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  front/src/api/api.client.ts
  front/src/api/webhook.api.ts
  front/src/pages/iam/webhook/ui/page-webhook-detail.tsx
  front/src/pages/iam/webhook/ui/webhook-settings-tab.tsx
  front/src/pages/iam/webhook/ui/webhook-signing-secret.tsx
  libs/ferriskey-api-webhook/src/handlers.rs
  libs/ferriskey-api-webhook/src/handlers/rotate_secret.rs
  libs/ferriskey-api-webhook/src/router.rs
  libs/ferriskey-webhook/src/ports.rs
  libs/ferriskey-webhook/src/services.rs
Due: rust-fmt, rust-clippy, esint

feat(webhook): regenerate a signing secret and show it once (#1349)
  api/tests/webhook_delivery_api_test.rs
  core/src/application/webhook/mod.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  front/src/api/api.client.ts
  front/src/api/webhook.api.ts
  front/src/pages/iam/webhook/ui/page-webhook-detail.tsx
  front/src/pages/iam/webhook/ui/webhook-settings-tab.tsx
  front/src/pages/iam/webhook/ui/webhook-signing-secret.tsx
  libs/ferriskey-api-webhook/src/handlers.rs
  libs/ferriskey-api-webhook/src/handlers/rotate_secret.rs
  libs/ferriskey-api-webhook/src/router.rs
  libs/ferriskey-webhook/src/ports.rs
  libs/ferriskey-webhook/src/services.rs
Due: rust-fmt, rust-clippy, esint

feat: model locale as a domain type
  libs/ferriskey-domain/src/common/locale.rs
  libs/ferriskey-domain/src/common/mod.rs
Due: rust-fmt, rust-clippy

feat: model locale as a domain type (#1372)
  libs/ferriskey-domain/src/common/locale.rs
  libs/ferriskey-domain/src/common/mod.rs
Due: rust-fmt, rust-clippy

feat: give every domain error a stable reason code
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: give every domain error a stable reason code (#1373)
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: set up the i18n runtime and its guardrails
  .github/workflows/i18n-parity.yaml
  front/eslint.config.js
  front/package.json
  front/pnpm-lock.yaml
  front/src/components/shell/language-switcher.tsx
  front/src/components/shell/top-bar.tsx
  front/src/index.css
  front/src/lib/i18n/catalogs.ts
  front/src/lib/i18n/config.ts
  front/src/lib/i18n/i18n.test.ts
  front/src/lib/i18n/index.ts
  front/src/lib/i18n/locales.ts
  front/src/lib/i18n/parity-cli.ts
  front/src/lib/i18n/parity.test.ts
  front/src/lib/i18n/parity.ts
  front/src/lib/i18n/resolve-locale.ts
  front/src/lib/i18n/use-locale.ts
  front/src/lib/i18n/yaml-modules.d.ts
  front/src/locales/en/common.yaml
  front/src/locales/zh-CN/common.yaml
  front/src/main.tsx
  front/src/utils/format-date.ts
  front/vite.config.ts
Due: esint

feat: set up the i18n runtime and its guardrails (#1374)
  .github/workflows/i18n-parity.yaml
  front/eslint.config.js
  front/package.json
  front/pnpm-lock.yaml
  front/src/components/shell/language-switcher.tsx
  front/src/components/shell/top-bar.tsx
  front/src/index.css
  front/src/lib/i18n/catalogs.ts
  front/src/lib/i18n/config.ts
  front/src/lib/i18n/i18n.test.ts
  front/src/lib/i18n/index.ts
  front/src/lib/i18n/locales.ts
  front/src/lib/i18n/parity-cli.ts
  front/src/lib/i18n/parity.test.ts
  front/src/lib/i18n/parity.ts
  front/src/lib/i18n/resolve-locale.ts
  front/src/lib/i18n/use-locale.ts
  front/src/lib/i18n/yaml-modules.d.ts
  front/src/locales/en/common.yaml
  front/src/locales/zh-CN/common.yaml
  front/src/main.tsx
  front/src/utils/format-date.ts
  front/vite.config.ts
Due: esint

feat: expose the reason code on every api error shape
  libs/ferriskey-api-core/src/api_entities/api_error.rs
  libs/ferriskey-api-core/src/auth.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-password-policy/src/error.rs
  libs/ferriskey-password-policy/src/service.rs
Due: rust-fmt, rust-clippy
