Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

feat(core): add admin-cli client to master realm initialization
  core/src/domain/common/services.rs
Due: rust-fmt, rust-clippy

fix: update client_type to 'system' for admin-cli and master realm clients
  core/src/domain/common/services.rs
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

Omitting attributes x5c and x5t for the time being (#769)
  front/openapi.yaml
  front/src/api/api.client.ts
  front/src/api/core.interface.ts
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy, esint

refactor: add ScopeType enum to ClientScope domain and migrations (#766)
  Cargo.lock
  core/migrations/20260225130422_update_client_scopes.down.sql
  core/migrations/20260225130422_update_client_scopes.up.sql
  core/src/entity/access_tokens.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/broker_auth_sessions.rs
  core/src/entity/client_scope_attributes.rs
  core/src/entity/client_scope_mappings.rs
  core/src/entity/client_scope_protocol_mappers.rs
  core/src/entity/client_scopes.rs
  core/src/entity/clients.rs
  core/src/entity/credentials.rs
  core/src/entity/identity_provider_links.rs
  core/src/entity/identity_providers.rs
  core/src/entity/jwt_keys.rs
  core/src/entity/magic_links.rs
  core/src/entity/post_logout_redirect_uris.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
  core/src/entity/redirect_uris.rs
  core/src/entity/refresh_tokens.rs
  core/src/entity/roles.rs
  core/src/entity/security_events.rs
  core/src/entity/user_federation_mappings.rs
  core/src/entity/user_federation_providers.rs
  core/src/entity/user_required_actions.rs
  core/src/entity/user_role.rs
  core/src/entity/user_sessions.rs
  core/src/entity/users.rs
  core/src/entity/webhook_subscribers.rs
  core/src/entity/webhooks.rs
  core/src/infrastructure/aegis/mappers.rs
  core/src/infrastructure/aegis/repositories/client_scope_postgres_repository.rs
  core/src/infrastructure/aegis/repositories/scope_mapping_postgres_repository.rs
  libs/ferriskey-aegis/Cargo.toml
  libs/ferriskey-aegis/src/entities.rs
Due: rust-fmt, rust-clippy

feat: add domain account hint (#682)
  api/src/application/http/error.rs
  core/src/domain/account/entities.rs
  core/src/domain/account/mod.rs
  core/src/domain/account/ports.rs
  core/src/domain/account/services.rs
  core/src/domain/mod.rs
  core/src/domain/session/entities.rs
  core/src/domain/session/ports.rs
  core/src/domain/session/services.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: create mail crate (#774)
  Cargo.lock
  Cargo.toml
  Dockerfile
  libs/ferriskey-mail/Cargo.toml
  libs/ferriskey-mail/src/adapters/mod.rs
  libs/ferriskey-mail/src/adapters/smtp.rs
  libs/ferriskey-mail/src/entities.rs
  libs/ferriskey-mail/src/error.rs
  libs/ferriskey-mail/src/lib.rs
  libs/ferriskey-mail/src/ports.rs
Due: rust-fmt, rust-clippy, hadolint

feat: add tracing and refactor JWT and Argon2 (#773)
  api/src/application/http/authentication/handlers/token.rs
  core/src/domain/authentication/services.rs
  core/src/infrastructure/repositories/argon2_hasher.rs
Due: rust-fmt, rust-clippy

fix: update name maintainers (#772)
  MAINTAINERS.md
Due: none

feat: assign default Realm Client Scope to new Clients (#775)
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/client/services.rs
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

feat: implement client scope mapping (#776)
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/mapper_engine.rs
  core/src/domain/authentication/mappers/audience_mapper.rs
  core/src/domain/authentication/mappers/hardcoded_claim_mapper.rs
  core/src/domain/authentication/mappers/mod.rs
  core/src/domain/authentication/mappers/user_attribute_mapper.rs
  core/src/domain/authentication/mappers/user_property_mapper.rs
  core/src/domain/authentication/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/realm/services.rs
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy

feat: compute mappers (#778)
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/aegis/services/client_scope_service.rs
Due: rust-fmt, rust-clippy

fix: update utoipa path for client scopes endpoints (#781)
  api/src/application/http/aegis/handlers/create_client_scope.rs
  api/src/application/http/aegis/handlers/create_protocol_mapper.rs
  api/src/application/http/aegis/handlers/delete_client_scope.rs
  api/src/application/http/aegis/handlers/delete_protocol_mapper.rs
  api/src/application/http/aegis/handlers/get_client_scope.rs
  api/src/application/http/aegis/handlers/get_client_scopes.rs
  api/src/application/http/aegis/handlers/update_client_scope.rs
  api/src/application/http/aegis/handlers/update_protocol_mapper.rs
  api/src/application/http/server/openapi.rs
Due: rust-fmt, rust-clippy

feat: resolve and validate client OAuth scopes (#780)
  api/src/application/http/error.rs
  core/src/domain/authentication/mod.rs
  core/src/domain/authentication/scope.rs
  core/src/domain/authentication/services.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat(front): add client scope assignment UI on client detail page (#785)
  front/src/api/client.api.ts
  front/src/pages/client/feature/page-client-scopes-feature.tsx
  front/src/pages/client/layout/client-layout.tsx
  front/src/pages/client/page-client.tsx
  front/src/pages/client/ui/components/add-scope-modal.tsx
  front/src/pages/client/ui/components/assigned-scopes-table.tsx
  front/src/pages/client/ui/components/effective-scopes-preview.tsx
  front/src/pages/client/ui/page-client-scopes.tsx
Due: esint

fix: use default_scope_type for client scopes (#783)
  front/src/api/api.client.ts
  front/src/api/identity-providers.api.ts
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
  front/src/pages/client-scope/feature/page-client-scopes-overview-feature.tsx
  front/src/pages/client-scope/layout/client-scope-layout.tsx
  front/src/pages/client-scope/ui/page-client-scope-detail.tsx
  front/src/pages/client-scope/ui/page-client-scopes-overview.tsx
Due: esint

feat: implement compass domain (#784)
  Cargo.lock
  Cargo.toml
  Dockerfile
  core/Cargo.toml
  core/src/domain/compass/mod.rs
  core/src/domain/compass/policies.rs
  core/src/domain/compass/services.rs
  core/src/domain/mod.rs
  libs/ferriskey-compass/Cargo.toml
  libs/ferriskey-compass/src/entities.rs
  libs/ferriskey-compass/src/lib.rs
  libs/ferriskey-compass/src/ports.rs
  libs/ferriskey-compass/src/recorder.rs
  libs/ferriskey-compass/src/value_objects.rs
Due: rust-fmt, rust-clippy, hadolint

feat: implement compass infrastructure (#786)
  core/src/infrastructure/compass/mapper.rs
  core/src/infrastructure/compass/mod.rs
  core/src/infrastructure/compass/repositories/compass_flow_postgres_repository.rs
  core/src/infrastructure/compass/repositories/compass_flow_step_postgres_repository.rs
  core/src/infrastructure/compass/repositories/mod.rs
  core/src/infrastructure/compass/writer.rs
  core/src/infrastructure/mod.rs
Due: rust-fmt, rust-clippy

feat: add protocol mapper ui (#779)
  front/src/App.css
  front/src/api/client-scope.api.ts
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
  front/src/pages/client-scope/components/mapper-config-fields.tsx
  front/src/pages/client-scope/constants/protocol-mapper-templates.ts
  front/src/pages/client-scope/feature/modals/edit-protocol-mapper-modal-feature.tsx
  front/src/pages/client-scope/feature/modals/mapper-template-picker-modal-feature.tsx
  front/src/pages/client-scope/feature/page-create-protocol-mapper-feature.tsx
  front/src/pages/client-scope/feature/page-protocol-mapper-settings-feature.tsx
  front/src/pages/client-scope/feature/page-protocol-mappers-feature.tsx
  front/src/pages/client-scope/layout/client-scope-layout.tsx
  front/src/pages/client-scope/page-client-scope.tsx
  front/src/pages/client-scope/schemas/create-protocol-mapper.schema.ts
  front/src/pages/client-scope/schemas/mapper-settings.schema.ts
  front/src/pages/client-scope/schemas/mapper-template-form.schema.ts
  front/src/pages/client-scope/schemas/update-protocol-mapper.schema.ts
  front/src/pages/client-scope/ui/modals/edit-protocol-mapper-modal.tsx
  front/src/pages/client-scope/ui/modals/mapper-template-picker-modal.tsx
  front/src/pages/client-scope/ui/page-create-protocol-mapper.tsx
  front/src/pages/client-scope/ui/page-protocol-mapper-settings.tsx
  front/src/pages/client-scope/ui/page-protocol-mappers.tsx
  front/src/routes/router.ts
  front/src/routes/sub-router/client-scope.router.ts
Due: esint

feat: compass activation runtime (#787)
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  core/migrations/20260306000001_add_compass_enabled_to_realm_settings.down.sql
  core/migrations/20260306000001_add_compass_enabled_to_realm_settings.up.sql
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/entity/realm_settings.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  libs/ferriskey-compass/src/recorder.rs
  libs/ferriskey-domain/src/realm/mod.rs
Due: rust-fmt, rust-clippy

feat: implement compass wiring (#788)
  core/src/application/compass/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/infrastructure/compass/repositories/mod.rs
  core/src/infrastructure/compass/writer.rs
Due: rust-fmt, rust-clippy

fix: set scope default type when mapping client scopes (#789)
  core/src/infrastructure/aegis/repositories/scope_mapping_postgres_repository.rs
Due: rust-fmt, rust-clippy

feat: implement auth instrumentation (#790)
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

feat: implement ui and remove refresh-token compass event (#792)
  core/src/domain/authentication/services.rs
  core/src/infrastructure/compass/mapper.rs
  core/src/infrastructure/compass/writer.rs
  front/package.json
  front/pnpm-lock.yaml
  front/src/App.tsx
  front/src/api/api.client.ts
  front/src/api/compass.api.ts
  front/src/components/nav-security.tsx
  front/src/pages/compass/feature/page-flow-detail-feature.tsx
  front/src/pages/compass/feature/page-flows-feature.tsx
  front/src/pages/compass/page-compass.tsx
  front/src/pages/compass/ui/flow-list.tsx
  front/src/pages/compass/ui/flow-timeline.tsx
  front/src/pages/compass/ui/page-flow-detail.tsx
  front/src/pages/compass/ui/page-flows.tsx
  front/src/pages/compass/ui/stats-cards.tsx
  front/src/routes/sub-router/compass.router.ts
  libs/ferriskey-compass/src/entities.rs
  libs/ferriskey-compass/src/recorder.rs
Due: rust-fmt, rust-clippy, esint

feat: implement compass api endpoints (#791)
  api/src/application/http.rs
  api/src/application/http/compass/handlers/get_flow.rs
  api/src/application/http/compass/handlers/get_flows.rs
  api/src/application/http/compass/handlers/get_stats.rs
  api/src/application/http/compass/handlers/mod.rs
  api/src/application/http/compass/mod.rs
  api/src/application/http/compass/router.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
Due: rust-fmt, rust-clippy

feat: add idp compass flow
  core/src/application/mod.rs
  core/src/domain/abyss/broker_services.rs
  core/src/infrastructure/compass/mapper.rs
  front/src/api/api.client.ts
  front/src/pages/compass/ui/flow-timeline.tsx
  libs/ferriskey-compass/src/entities.rs
Due: rust-fmt, rust-clippy, esint

feat: add idp compass flow (#798)
  core/src/application/mod.rs
  core/src/domain/abyss/broker_services.rs
  core/src/infrastructure/compass/mapper.rs
  front/src/api/api.client.ts
  front/src/pages/compass/ui/flow-timeline.tsx
  libs/ferriskey-compass/src/entities.rs
Due: rust-fmt, rust-clippy, esint

refactor: remove seed_default_scopes_for_client function
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

feat(core): add admin-cli client to master realm initialization (#770)
  core/src/domain/common/services.rs
Due: rust-fmt, rust-clippy

fix(front): infer auth API with /api base path on accounts domain
  front/src/App.tsx
Due: esint

fix(front): auto-detect API root path at runtime
  front/src/App.tsx
Due: esint

fix(front): resolve API URL when Pages config placeholder is not replaced
  front/src/App.tsx
Due: esint

fix(front): resolve typescript and css errors after package updates
  front/package.json
  front/pnpm-lock.yaml
  front/src/api/api.schemas.ts
  front/src/components/ui/chart.tsx
  front/src/hooks/use-form-changes.ts
  front/src/index.css
  front/src/pages/identity-providers/feature/page-create-feature.tsx
  front/src/pages/identity-providers/ui/page-create.tsx
  front/src/pages/user-federation/feature/page-detail-ldap-feature.tsx
  front/src/pages/user-federation/schemas/ldap-provider.schema.ts
  front/src/pages/user-federation/ui/ldap-form-ui.tsx
  front/src/store/realm.store.ts
Due: esint

fix(front): restore api client generation consistency after rebase
  front/src/api/api.schemas.ts
Due: esint

fix(front): resolve eslint blockers from hook and typing rules
  front/src/App.tsx
  front/src/components/realm-switcher.tsx
  front/src/components/ui/chart.tsx
  front/src/components/ui/filters.tsx
  front/src/components/ui/input-text.tsx
  front/src/components/ui/sidebar.tsx
  front/src/hooks/use-form-changes.ts
  front/src/pages/authentication/feature/page-callback-feature.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/feature/page-required-action-feature.tsx
  front/src/pages/identity-providers/feature/page-create-feature.tsx
  front/src/pages/identity-providers/ui/page-create.tsx
  front/src/pages/realm/layouts/realm-settings-layout.tsx
  front/src/pages/user-federation/feature/page-detail-ldap-feature.tsx
  front/src/pages/user-federation/ui/ldap-form-ui.tsx
  front/src/pages/user/feature/modals/role-mapping-modal-feature.tsx
Due: esint

chore(front): run bun update --latest and sync lockfiles
  front/bun.lock
  front/package.json
  front/pnpm-lock.yaml
Due: none

fix(front): read auth query params from router location
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: esint

fix(front): align dev-only deps and remove redundant API probe
  front/package.json
  front/pnpm-lock.yaml
  front/src/App.tsx
Due: esint

chore(front): remove bun lockfile artifact
  front/bun.lock
Due: none

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
