Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

fix(core): include directly-assigned realm roles in issued tokens
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

fix(core): include directly-assigned realm roles in issued tokens (#1142)
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat: add login alias value objects
  libs/ferriskey-domain/src/realm/mod.rs
Due: rust-fmt, rust-clippy

feat: persist realm login aliases setting
  core/migrations/20260718000000_add_login_aliases_to_realm_settings.down.sql
  core/migrations/20260718000000_add_login_aliases_to_realm_settings.up.sql
  core/src/domain/realm/entities.rs
  core/src/entity/realm_settings.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  libs/ferriskey-domain/src/realm/mod.rs
Due: rust-fmt, rust-clippy

feat: resolve login identifier by realm login aliases
  core/src/domain/authentication/login_resolver.rs
  core/src/domain/authentication/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/user/ports.rs
  core/src/infrastructure/user/repository.rs
Due: rust-fmt, rust-clippy

feat: expose login aliases in realm settings api
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  api/tests/login_aliases_test.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
Due: rust-fmt, rust-clippy

feat: apply login aliases on frontend login and settings
  front/src/api/api.client.ts
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/realm/feature/page-realm-settings-login-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-login.tsx
Due: esint

test: adapt login-alias fixtures to rebased lockout fields
  core/src/domain/authentication/login_resolver.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
Due: rust-fmt, rust-clippy

feat: add configurable login aliases (#1149)
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  api/tests/login_aliases_test.rs
  core/migrations/20260718000000_add_login_aliases_to_realm_settings.down.sql
  core/migrations/20260718000000_add_login_aliases_to_realm_settings.up.sql
  core/src/domain/authentication/login_resolver.rs
  core/src/domain/authentication/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/user/ports.rs
  core/src/entity/realm_settings.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/user/repository.rs
  front/src/api/api.client.ts
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/realm/feature/page-realm-settings-login-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-login.tsx
  libs/ferriskey-domain/src/realm/mod.rs
Due: rust-fmt, rust-clippy, esint

feat: add configurable PII pseudonymisation for audit logs
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  core/migrations/20260718000001_add_seawatch_pii_mode_to_realm_settings.down.sql
  core/migrations/20260718000001_add_seawatch_pii_mode_to_realm_settings.up.sql
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/seawatch/mod.rs
  core/src/domain/seawatch/pii.rs
  core/src/entity/realm_settings.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/seawatch/repositories/security_event_postgres_repository.rs
  libs/ferriskey-domain/src/realm/mod.rs
Due: rust-fmt, rust-clippy

feat: add configurable PII pseudonymisation for audit logs (#1112)
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  core/migrations/20260718000001_add_seawatch_pii_mode_to_realm_settings.down.sql
  core/migrations/20260718000001_add_seawatch_pii_mode_to_realm_settings.up.sql
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/seawatch/mod.rs
  core/src/domain/seawatch/pii.rs
  core/src/entity/realm_settings.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/seawatch/repositories/security_event_postgres_repository.rs
  libs/ferriskey-domain/src/realm/mod.rs
Due: rust-fmt, rust-clippy

feat: add MFA enforcement policy per realm and role
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  api/src/application/http/role/handlers/update_role.rs
  api/src/application/http/role/validators.rs
  core/migrations/20260718000002_add_require_mfa_to_realm_settings_and_roles.down.sql
  core/migrations/20260718000002_add_require_mfa_to_realm_settings_and_roles.up.sql
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/authentication/services.rs
  core/src/domain/common/services.rs
  core/src/domain/email_template/services.rs
  core/src/domain/organization/services.rs
  core/src/domain/portal_layouts/services.rs
  core/src/domain/portal_theme/services.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/services.rs
  core/src/domain/trident/mfa_policy.rs
  core/src/domain/trident/mod.rs
  core/src/domain/user/services.rs
  core/src/entity/realm_settings.rs
  core/src/entity/roles.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/role/mapper.rs
  core/src/infrastructure/role/repositories/role_postgres_repository.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/role/commands.rs
  libs/ferriskey-domain/src/role/entities.rs
  libs/ferriskey-domain/src/role/value_objects.rs
Due: rust-fmt, rust-clippy

feat: add MFA enforcement policy per realm and role (#1107)
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  api/src/application/http/role/handlers/update_role.rs
  api/src/application/http/role/validators.rs
  core/migrations/20260718000002_add_require_mfa_to_realm_settings_and_roles.down.sql
  core/migrations/20260718000002_add_require_mfa_to_realm_settings_and_roles.up.sql
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/authentication/services.rs
  core/src/domain/common/services.rs
  core/src/domain/email_template/services.rs
  core/src/domain/organization/services.rs
  core/src/domain/portal_layouts/services.rs
  core/src/domain/portal_theme/services.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/services.rs
  core/src/domain/trident/mfa_policy.rs
  core/src/domain/trident/mod.rs
  core/src/domain/user/services.rs
  core/src/entity/realm_settings.rs
  core/src/entity/roles.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/role/mapper.rs
  core/src/infrastructure/role/repositories/role_postgres_repository.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/role/commands.rs
  libs/ferriskey-domain/src/role/entities.rs
  libs/ferriskey-domain/src/role/value_objects.rs
Due: rust-fmt, rust-clippy

feat: add tamper-evident hash chaining to the audit log
  core/migrations/20260718000003_add_seawatch_chain_fields.down.sql
  core/migrations/20260718000003_add_seawatch_chain_fields.up.sql
  core/src/application/seawatch/mod.rs
  core/src/domain/seawatch/entities.rs
  core/src/domain/seawatch/hashing.rs
  core/src/domain/seawatch/mod.rs
  core/src/domain/seawatch/ports.rs
  core/src/domain/seawatch/services.rs
  core/src/entity/security_events.rs
  core/src/infrastructure/seawatch/mapper.rs
  core/src/infrastructure/seawatch/repositories/security_event_postgres_repository.rs
Due: rust-fmt, rust-clippy

feat: add tamper-evident hash chaining to the audit log (#1109)
  core/migrations/20260718000003_add_seawatch_chain_fields.down.sql
  core/migrations/20260718000003_add_seawatch_chain_fields.up.sql
  core/src/application/seawatch/mod.rs
  core/src/domain/seawatch/entities.rs
  core/src/domain/seawatch/hashing.rs
  core/src/domain/seawatch/mod.rs
  core/src/domain/seawatch/ports.rs
  core/src/domain/seawatch/services.rs
  core/src/entity/security_events.rs
  core/src/infrastructure/seawatch/mapper.rs
  core/src/infrastructure/seawatch/repositories/security_event_postgres_repository.rs
Due: rust-fmt, rust-clippy

feat: add encryption at rest for client secrets and a secrets provider
  Cargo.lock
  api/src/application/http/server/api_entities/api_error.rs
  api/src/args.rs
  api/tests/account_lockout_test.rs
  api/tests/device_flow_test.rs
  api/tests/login_aliases_test.rs
  api/tests/nonce_id_token_test.rs
  api/tests/organization_test.rs
  api/tests/password_policy_test.rs
  api/tests/pkce_test.rs
  api/tests/portal_theme_test.rs
  api/tests/refresh_token_rotation_test.rs
  api/tests/session_management_test.rs
  api/tests/token_basic_auth_test.rs
  core/Cargo.toml
  core/migrations/20260718000004_add_client_secret_encrypted.down.sql
  core/migrations/20260718000004_add_client_secret_encrypted.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/common/mod.rs
  core/src/entity/clients.rs
  core/src/infrastructure/client/repositories.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/client/repositories/encrypting_client_repository.rs
  libs/ferriskey-security/Cargo.toml
  libs/ferriskey-security/src/cipher/field_cipher.rs
  libs/ferriskey-security/src/cipher/mod.rs
  libs/ferriskey-security/src/cipher/secrets.rs
  libs/ferriskey-security/src/lib.rs
Due: rust-fmt, rust-clippy

No more update on container start
  charts/ferriskey/templates/_helpers.yaml
  charts/ferriskey/templates/webapp/configmap.yaml
  charts/ferriskey/templates/webapp/deployment.yaml
  charts/ferriskey/values.yaml
  front/docker-entrypoint.sh
  front/public/config.json
Due: shellcheck

Fix helm-docs generation
  Dockerfile
  charts/ferriskey/README.md
Due: hadolint

Another idea to have more secure final images
  Dockerfile
Due: hadolint

refactor: move Permissions, Policy and ensure_policy into ferriskey-domain kernel
  Cargo.lock
  core/src/domain/common/policies.rs
  core/src/domain/role/entities/permission.rs
  libs/ferriskey-abyss/src/common.rs
  libs/ferriskey-domain/Cargo.toml
  libs/ferriskey-domain/src/common/mod.rs
  libs/ferriskey-domain/src/common/policies.rs
  libs/ferriskey-domain/src/role/mod.rs
  libs/ferriskey-domain/src/role/permission.rs
Due: rust-fmt, rust-clippy

refactor: move Permissions, Policy and ensure_policy into ferriskey-domain kernel (#1160)
  Cargo.lock
  core/src/domain/common/policies.rs
  core/src/domain/role/entities/permission.rs
  libs/ferriskey-abyss/src/common.rs
  libs/ferriskey-domain/Cargo.toml
  libs/ferriskey-domain/src/common/mod.rs
  libs/ferriskey-domain/src/common/policies.rs
  libs/ferriskey-domain/src/role/mod.rs
  libs/ferriskey-domain/src/role/permission.rs
Due: rust-fmt, rust-clippy

refactor: move user domain ports into ferriskey-domain
  Cargo.lock
  core/Cargo.toml
  core/src/domain/user/ports.rs
  libs/ferriskey-domain/Cargo.toml
  libs/ferriskey-domain/src/user/mod.rs
  libs/ferriskey-domain/src/user/ports.rs
Due: rust-fmt, rust-clippy

refactor: move user domain ports into ferriskey-domain (#1161)
  Cargo.lock
  core/Cargo.toml
  core/src/domain/user/ports.rs
  libs/ferriskey-domain/Cargo.toml
  libs/ferriskey-domain/src/user/mod.rs
  libs/ferriskey-domain/src/user/ports.rs
Due: rust-fmt, rust-clippy

refactor: move authentication domain types and GrantTypeService into ferriskey-domain
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/value_objects.rs
  libs/ferriskey-domain/Cargo.toml
  libs/ferriskey-domain/src/authentication/entities.rs
  libs/ferriskey-domain/src/authentication/mod.rs
  libs/ferriskey-domain/src/authentication/ports.rs
  libs/ferriskey-domain/src/authentication/value_objects.rs
Due: rust-fmt, rust-clippy

refactor: move authentication domain types and GrantTypeService into ferriskey-domain (#1162)
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/value_objects.rs
  libs/ferriskey-domain/Cargo.toml
  libs/ferriskey-domain/src/authentication/entities.rs
  libs/ferriskey-domain/src/authentication/mod.rs
  libs/ferriskey-domain/src/authentication/ports.rs
  libs/ferriskey-domain/src/authentication/value_objects.rs
Due: rust-fmt, rust-clippy

refactor: move RealmRepository and RealmPolicy into ferriskey-domain
  core/src/domain/realm/ports.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/realm/ports.rs
Due: rust-fmt, rust-clippy

refactor: move RealmRepository and RealmPolicy into ferriskey-domain (#1163)
  core/src/domain/realm/ports.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/realm/ports.rs
Due: rust-fmt, rust-clippy

refactor: relocate FerriskeyPolicy and its policy impls into ferriskey-domain and feature crates
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/aegis/mod.rs
  core/src/domain/aegis/policies.rs
  core/src/domain/client/mod.rs
  core/src/domain/client/policies.rs
  core/src/domain/common/policies.rs
  core/src/domain/compass/mod.rs
  core/src/domain/organization/mod.rs
  core/src/domain/realm/mod.rs
  core/src/domain/realm/policies.rs
  core/src/domain/role/mod.rs
  core/src/domain/role/policies.rs
  core/src/domain/user/mod.rs
  libs/ferriskey-abyss/src/identity_provider/mod.rs
  libs/ferriskey-abyss/src/identity_provider/policies.rs
  libs/ferriskey-aegis/src/lib.rs
  libs/ferriskey-aegis/src/policies.rs
  libs/ferriskey-compass/src/lib.rs
  libs/ferriskey-compass/src/policies.rs
  libs/ferriskey-domain/src/common/policies.rs
  libs/ferriskey-organization/src/lib.rs
  libs/ferriskey-organization/src/policies.rs
Due: rust-fmt, rust-clippy

refactor: relocate FerriskeyPolicy and its policy impls into ferriskey-domain and feature crates (#1164)
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/aegis/mod.rs
  core/src/domain/aegis/policies.rs
  core/src/domain/client/mod.rs
  core/src/domain/client/policies.rs
  core/src/domain/common/policies.rs
  core/src/domain/compass/mod.rs
  core/src/domain/organization/mod.rs
  core/src/domain/realm/mod.rs
  core/src/domain/realm/policies.rs
  core/src/domain/role/mod.rs
  core/src/domain/role/policies.rs
  core/src/domain/user/mod.rs
  libs/ferriskey-abyss/src/identity_provider/mod.rs
  libs/ferriskey-abyss/src/identity_provider/policies.rs
  libs/ferriskey-aegis/src/lib.rs
  libs/ferriskey-aegis/src/policies.rs
  libs/ferriskey-compass/src/lib.rs
  libs/ferriskey-compass/src/policies.rs
  libs/ferriskey-domain/src/common/policies.rs
  libs/ferriskey-organization/src/lib.rs
  libs/ferriskey-organization/src/policies.rs
Due: rust-fmt, rust-clippy

refactor: convert client and role repository ports to mockall automock
  core/src/domain/client/ports.rs
  core/src/domain/role/ports.rs
  libs/ferriskey-domain/src/client/ports.rs
  libs/ferriskey-domain/src/role/ports.rs
Due: rust-fmt, rust-clippy

refactor: convert client and role repository ports to mockall automock (#1165)
  core/src/domain/client/ports.rs
  core/src/domain/role/ports.rs
  libs/ferriskey-domain/src/client/ports.rs
  libs/ferriskey-domain/src/role/ports.rs
Due: rust-fmt, rust-clippy

feat: add organization member-scoped roles
  api/src/application/http/organization/handlers.rs
  api/src/application/http/organization/handlers/member_roles.rs
  api/src/application/http/organization/router.rs
  api/src/application/http/organization/validators.rs
  core/migrations/20260714120000_create_organization_member_roles.down.sql
  core/migrations/20260714120000_create_organization_member_roles.up.sql
  core/src/application/migrate/m0002_seed_organization_scope.rs
  core/src/application/migrate/mod.rs
  core/src/application/mod.rs
  core/src/application/organization/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/mapper_engine.rs
  core/src/domain/authentication/mappers/group_membership_mapper.rs
  core/src/domain/authentication/mappers/mod.rs
  core/src/domain/authentication/mappers/org_detail_mapper.rs
  core/src/domain/authentication/mappers/org_membership_mapper.rs
  core/src/domain/authentication/mappers/user_organization_role_mapper.rs
  core/src/domain/authentication/services.rs
  core/src/domain/organization/member_role_services.rs
  core/src/domain/organization/mod.rs
  core/src/domain/organization/ports.rs
  core/src/domain/realm/services.rs
  core/src/entity/mod.rs
  core/src/entity/organization_member_roles.rs
  core/src/infrastructure/organization/group_token_repository.rs
  core/src/infrastructure/organization/mod.rs
  core/src/infrastructure/organization/organization_member_role_repository.rs
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
  front/src/api/organization-member.api.ts
  front/src/pages/client-scope/constants/protocol-mapper-templates.ts
  front/src/pages/organization/columns/list-organization-members.column.tsx
  front/src/pages/organization/feature/modals/manage-member-roles-modal-feature.tsx
  front/src/pages/organization/feature/page-organization-members-feature.tsx
  front/src/pages/organization/ui/page-organization-members.tsx
  libs/ferriskey-organization/src/entities.rs
  libs/ferriskey-organization/src/ports.rs
Due: rust-fmt, rust-clippy, esint

feat: add organization member-scoped roles (#1150)
  api/src/application/http/organization/handlers.rs
  api/src/application/http/organization/handlers/member_roles.rs
  api/src/application/http/organization/router.rs
  api/src/application/http/organization/validators.rs
  core/migrations/20260714120000_create_organization_member_roles.down.sql
  core/migrations/20260714120000_create_organization_member_roles.up.sql
  core/src/application/migrate/m0002_seed_organization_scope.rs
  core/src/application/migrate/mod.rs
  core/src/application/mod.rs
  core/src/application/organization/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/mapper_engine.rs
  core/src/domain/authentication/mappers/group_membership_mapper.rs
  core/src/domain/authentication/mappers/mod.rs
  core/src/domain/authentication/mappers/org_detail_mapper.rs
  core/src/domain/authentication/mappers/org_membership_mapper.rs
  core/src/domain/authentication/mappers/user_organization_role_mapper.rs
  core/src/domain/authentication/services.rs
  core/src/domain/organization/member_role_services.rs
  core/src/domain/organization/mod.rs
  core/src/domain/organization/ports.rs
  core/src/domain/realm/services.rs
  core/src/entity/mod.rs
  core/src/entity/organization_member_roles.rs
  core/src/infrastructure/organization/group_token_repository.rs
  core/src/infrastructure/organization/mod.rs
  core/src/infrastructure/organization/organization_member_role_repository.rs
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
  front/src/api/organization-member.api.ts
  front/src/pages/client-scope/constants/protocol-mapper-templates.ts
  front/src/pages/organization/columns/list-organization-members.column.tsx
  front/src/pages/organization/feature/modals/manage-member-roles-modal-feature.tsx
  front/src/pages/organization/feature/page-organization-members-feature.tsx
  front/src/pages/organization/ui/page-organization-members.tsx
  libs/ferriskey-organization/src/entities.rs
  libs/ferriskey-organization/src/ports.rs
Due: rust-fmt, rust-clippy, esint

refactor: move organization services into ferriskey-organization
  Cargo.lock
  core/src/domain/organization/group_services.rs
  core/src/domain/organization/services.rs
  libs/ferriskey-organization/Cargo.toml
  libs/ferriskey-organization/src/group_services.rs
  libs/ferriskey-organization/src/lib.rs
  libs/ferriskey-organization/src/services.rs
Due: rust-fmt, rust-clippy

fix: set require_mfa on test Role in member_role_services (merge skew #1150 x #1107)
  core/src/domain/organization/member_role_services.rs
Due: rust-fmt, rust-clippy

refactor: move organization services into ferriskey-organization (#1166)
  Cargo.lock
  core/src/domain/organization/group_services.rs
  core/src/domain/organization/member_role_services.rs
  core/src/domain/organization/services.rs
  libs/ferriskey-organization/Cargo.toml
  libs/ferriskey-organization/src/group_services.rs
  libs/ferriskey-organization/src/lib.rs
  libs/ferriskey-organization/src/services.rs
Due: rust-fmt, rust-clippy

docs: add sponsor logos to README
  README.md
  docs/logos/cloud-iam-dark.svg
  docs/logos/cloud-iam-light.svg
  docs/logos/gilded_health.svg
  docs/logos/nudibranches.png
Due: none

docs: add sponsor logos to README (#1168)
  README.md
  docs/logos/cloud-iam-dark.svg
  docs/logos/cloud-iam-light.svg
  docs/logos/gilded_health.svg
  docs/logos/nudibranches.png
Due: none

refactor: move compass services into ferriskey-compass
  core/src/domain/compass/services.rs
  libs/ferriskey-compass/src/lib.rs
  libs/ferriskey-compass/src/services.rs
Due: rust-fmt, rust-clippy

refactor: move compass services into ferriskey-compass (#1169)
  core/src/domain/compass/services.rs
  libs/ferriskey-compass/src/lib.rs
  libs/ferriskey-compass/src/services.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
