Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

feat(api): expose POST /realms/{realm}/clients/{id}/token-preview
  api/src/application/http/client/router.rs
Due: rust-fmt, rust-clippy

feat(front): allow omitting user in evaluate-scopes request
  front/src/api/client.api.ts
Due: esint

feat(front): make user selection optional in token preview panel
  front/src/pages/client/ui/components/client-scopes-evaluate.tsx
Due: esint

feat(core): attribute evaluated mappers to originating scope
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat(domain): add scope to evaluated mapper
  libs/ferriskey-domain/src/authentication/value_objects.rs
Due: rust-fmt, rust-clippy

feat(front): sync evaluated mapper type with scope field
  front/src/api/api.client.ts
Due: esint

feat(front): show mapper scope in token preview panel
  front/src/pages/client/ui/components/client-scopes-evaluate.tsx
Due: esint

feat(front): relabel client-scopes tab to Preview Token
  front/src/pages/client/ui/page-client-scopes.tsx
Due: esint

feat(aegis): add can_preview_scope policy requiring ManageClientScopes or ManageRealm
  libs/ferriskey-aegis/src/policies.rs
  libs/ferriskey-aegis/src/ports.rs
Due: rust-fmt, rust-clippy

feat(domain): add ticket-shaped token preview result
  libs/ferriskey-domain/src/authentication/value_objects.rs
Due: rust-fmt, rust-clippy

feat(core): add preview_token_claims service with manage-level authorization
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/value_objects.rs
Due: rust-fmt, rust-clippy

feat(api): return ticket-shaped token preview response
  api/src/application/http/client/handlers/token_preview.rs
Due: rust-fmt, rust-clippy

feat(front): add token-preview endpoint and result types to api client
  front/src/api/api.client.ts
Due: esint

feat(front): adapt preview panel to token-preview response shape
  front/src/pages/client/ui/components/client-scopes-evaluate.tsx
Due: esint

feat(front): preview hook calls token-preview endpoint
  front/src/api/client.api.ts
Due: esint

No more update on container start
  charts/ferriskey/templates/_helpers.yaml
  charts/ferriskey/templates/webapp/configmap.yaml
  charts/ferriskey/templates/webapp/deployment.yaml
  charts/ferriskey/values.yaml
  front/docker-entrypoint.sh
  front/public/config.json
Due: shellcheck

Fix helm-docs generation
  Dockerfile
  charts/ferriskey/README.md
Due: hadolint

feat(token-exchange): add token_exchange_policies migration and entity
  core/migrations/20260808000000_add_token_exchange_policies.down.sql
  core/migrations/20260808000000_add_token_exchange_policies.up.sql
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/token_exchange_policies.rs
Due: rust-fmt, rust-clippy

fix(token-exchange): apply reviewer feedback on migration
  core/migrations/20260808000000_add_token_exchange_policies.up.sql
Due: none

fix: avoid duplicate admin credential on startup
  core/src/domain/common/services.rs
  core/src/infrastructure/credential/mod.rs
  core/src/infrastructure/repositories/credential_repository.rs
  libs/ferriskey-domain/src/credential/ports.rs
Due: rust-fmt, rust-clippy

test(domain): cover token preview ticket shape conversion
  libs/ferriskey-domain/src/authentication/value_objects.rs
Due: rust-fmt, rust-clippy

test(api): add end-to-end token-preview integration test
  api/tests/token_preview_test.rs
Due: rust-fmt, rust-clippy

fix: align merged code with rustfmt and optional user_id types
  core/src/application/services.rs
  front/src/api/api.client.ts
  front/src/api/client.api.ts
Due: rust-fmt, rust-clippy, esint

docs: add france nuage sponsor logo to readme
  README.md
  docs/logos/france-nuage-dark.png
  docs/logos/france-nuage-light.png
Due: none

docs: add france nuage sponsor logo to readme (#1219)
  README.md
  docs/logos/france-nuage-dark.png
  docs/logos/france-nuage-light.png
Due: none

fix: address review findings on token-preview endpoint
  api/tests/token_preview_test.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

Merge commit from fork
  api/tests/pkce_test.rs
  core/migrations/20260731000000_security_admin_console_public_pkce.down.sql
  core/migrations/20260731000000_security_admin_console_public_pkce.up.sql
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/realm/services.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  front/src/api/api.client.ts
  front/src/api/auth.api.ts
  front/src/pages/authentication/feature/page-callback-feature.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/hooks/use-oauth-params.ts
  front/src/pages/authentication/hooks/use-session-refresh.ts
  front/src/pages/authentication/utils/pkce.ts
  libs/ferriskey-api-authentication/src/handlers/token.rs
  libs/ferriskey-api-authentication/src/validators.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-domain/src/authentication/entities.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy, esint

fix: anchor redirect_uri matching and drop the catch-all seed
  Cargo.lock
  api/src/main.rs
  api/tests/account_lockout_test.rs
  api/tests/device_flow_test.rs
  api/tests/login_aliases_test.rs
  api/tests/nonce_id_token_test.rs
  api/tests/organization_test.rs
  api/tests/password_policy_test.rs
  api/tests/pkce_test.rs
  api/tests/portal_theme_test.rs
  api/tests/redirect_uri_validation_test.rs
  api/tests/refresh_token_rotation_test.rs
  api/tests/session_management_test.rs
  api/tests/token_basic_auth_test.rs
  core/Cargo.toml
  core/migrations/20260814000000_purge_catch_all_redirect_uris.down.sql
  core/migrations/20260814000000_purge_catch_all_redirect_uris.up.sql
  core/src/application/mod.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/mod.rs
  core/src/domain/client/redirect_uri_matching.rs
  core/src/domain/common/entities/mod.rs
  core/src/domain/common/mod.rs
  core/src/domain/common/services.rs
  core/src/domain/realm/services.rs
  libs/ferriskey-api-core/src/args.rs
  libs/ferriskey-domain/Cargo.toml
  libs/ferriskey-domain/src/client/mod.rs
  libs/ferriskey-domain/src/client/redirect_uri_matching.rs
Due: rust-fmt, rust-clippy

fix: anchor redirect_uri matching and drop the catch-all seed (#1223)
  Cargo.lock
  api/src/main.rs
  api/tests/account_lockout_test.rs
  api/tests/device_flow_test.rs
  api/tests/login_aliases_test.rs
  api/tests/nonce_id_token_test.rs
  api/tests/organization_test.rs
  api/tests/password_policy_test.rs
  api/tests/pkce_test.rs
  api/tests/portal_theme_test.rs
  api/tests/redirect_uri_validation_test.rs
  api/tests/refresh_token_rotation_test.rs
  api/tests/session_management_test.rs
  api/tests/token_basic_auth_test.rs
  core/Cargo.toml
  core/migrations/20260814000000_purge_catch_all_redirect_uris.down.sql
  core/migrations/20260814000000_purge_catch_all_redirect_uris.up.sql
  core/src/application/mod.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/mod.rs
  core/src/domain/client/redirect_uri_matching.rs
  core/src/domain/common/entities/mod.rs
  core/src/domain/common/mod.rs
  core/src/domain/common/services.rs
  core/src/domain/realm/services.rs
  libs/ferriskey-api-core/src/args.rs
  libs/ferriskey-domain/Cargo.toml
  libs/ferriskey-domain/src/client/mod.rs
  libs/ferriskey-domain/src/client/redirect_uri_matching.rs
Due: rust-fmt, rust-clippy

fix: reject step tokens on refresh and enrol otp server-side
  api/tests/mfa_bypass_test.rs
  core/migrations/20260814120000_create_otp_enrollments.down.sql
  core/migrations/20260814120000_create_otp_enrollments.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/entity/mod.rs
  core/src/entity/otp_enrollments.rs
  core/src/entity/prelude.rs
  core/src/infrastructure/mod.rs
  core/src/infrastructure/trident/mod.rs
  core/src/infrastructure/trident/repositories/mod.rs
  core/src/infrastructure/trident/repositories/otp_enrollment_repository.rs
  front/src/api/api.client.ts
  front/src/pages/authentication/feature/execution/configure-otp-feature.tsx
  front/src/pages/authentication/hooks/use-portal-page-submit.ts
  libs/ferriskey-api-trident/src/handlers/setup_otp.rs
  libs/ferriskey-api-trident/src/handlers/verify_otp.rs
  libs/ferriskey-api-trident/src/validators.rs
Due: rust-fmt, rust-clippy, esint

fix: reject step tokens on refresh and enrol otp server-side (#1224)
  api/tests/mfa_bypass_test.rs
  core/migrations/20260814120000_create_otp_enrollments.down.sql
  core/migrations/20260814120000_create_otp_enrollments.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/entity/mod.rs
  core/src/entity/otp_enrollments.rs
  core/src/entity/prelude.rs
  core/src/infrastructure/mod.rs
  core/src/infrastructure/trident/mod.rs
  core/src/infrastructure/trident/repositories/mod.rs
  core/src/infrastructure/trident/repositories/otp_enrollment_repository.rs
  front/src/api/api.client.ts
  front/src/pages/authentication/feature/execution/configure-otp-feature.tsx
  front/src/pages/authentication/hooks/use-portal-page-submit.ts
  libs/ferriskey-api-trident/src/handlers/setup_otp.rs
  libs/ferriskey-api-trident/src/handlers/verify_otp.rs
  libs/ferriskey-api-trident/src/validators.rs
Due: rust-fmt, rust-clippy, esint

fix: restore compilation of the mfa bypass test on main
  api/tests/mfa_bypass_test.rs
Due: rust-fmt, rust-clippy

fix: bind user operations to the realm in the request path
  api/tests/user_cross_realm_test.rs
  core/src/domain/user/services.rs
  core/src/domain/user/services/user_role_service.rs
  core/src/infrastructure/user/repository.rs
  libs/ferriskey-domain/src/user/ports.rs
Due: rust-fmt, rust-clippy

fix: bind clients scopes mappers and templates to the request realm
  Cargo.lock
  api/tests/client_cross_realm_test.rs
  core/Cargo.toml
  core/src/application/email_template/mod.rs
  core/src/application/mod.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/aegis/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/ports.rs
  core/src/domain/client/services.rs
  core/src/domain/maintenance/services.rs
  core/src/domain/realm/services.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/aegis/repositories/client_scope_postgres_repository.rs
  core/src/infrastructure/aegis/repositories/protocol_mapper_postgres_repository.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/client/repositories/post_logout_redirect_uri_postgres_repository.rs
  core/src/infrastructure/client/repositories/redirect_uri_postgres_repository.rs
  core/src/infrastructure/email_template/repositories/email_template_repository.rs
  libs/ferriskey-aegis/Cargo.toml
  libs/ferriskey-aegis/src/ports.rs
  libs/ferriskey-aegis/src/services/client_scope_service.rs
  libs/ferriskey-aegis/src/services/mod.rs
  libs/ferriskey-aegis/src/services/protocol_mapper_service.rs
  libs/ferriskey-aegis/src/services/scope_mapping_service.rs
  libs/ferriskey-aegis/src/services/test_support.rs
  libs/ferriskey-domain/src/client/ports.rs
  libs/ferriskey-mail/src/email_template/ports.rs
  libs/ferriskey-mail/src/email_template/services.rs
  libs/ferriskey-mail/src/email_verification/services.rs
Due: rust-fmt, rust-clippy

fix: evaluate organization and provider policies against the target realm
  api/tests/organization_cross_realm_test.rs
  core/src/domain/abyss/entities.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/abyss/identity_provider_services.rs
  core/src/domain/abyss/mod.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/abyss/ports.rs
  core/src/domain/abyss/services.rs
  core/src/domain/abyss/value_objects.rs
  core/src/domain/authentication/services.rs
  core/src/domain/organization/member_role_services.rs
  core/src/infrastructure/organization/organization_member_repository.rs
  libs/ferriskey-abyss/src/identity_provider/policies.rs
  libs/ferriskey-abyss/src/identity_provider/ports.rs
  libs/ferriskey-organization/src/group_services.rs
  libs/ferriskey-organization/src/policies.rs
  libs/ferriskey-organization/src/ports.rs
  libs/ferriskey-organization/src/services.rs
Due: rust-fmt, rust-clippy

chore: remove explanatory comments from the policy fix
  core/src/domain/abyss/mod.rs
  core/src/domain/organization/member_role_services.rs
  core/src/infrastructure/organization/organization_member_repository.rs
  libs/ferriskey-abyss/src/identity_provider/policies.rs
  libs/ferriskey-abyss/src/identity_provider/ports.rs
  libs/ferriskey-organization/src/group_services.rs
  libs/ferriskey-organization/src/ports.rs
  libs/ferriskey-organization/src/services.rs
Due: rust-fmt, rust-clippy

chore: remove explanatory comments from the client realm fix
  core/src/domain/aegis/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/ports.rs
  core/src/domain/client/services.rs
  core/src/domain/maintenance/services.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/client/repositories/post_logout_redirect_uri_postgres_repository.rs
  core/src/infrastructure/client/repositories/redirect_uri_postgres_repository.rs
  libs/ferriskey-aegis/src/ports.rs
  libs/ferriskey-aegis/src/services/scope_mapping_service.rs
  libs/ferriskey-domain/src/client/ports.rs
  libs/ferriskey-mail/src/email_template/ports.rs
  libs/ferriskey-mail/src/email_template/services.rs
Due: rust-fmt, rust-clippy

chore: remove explanatory comments from the user realm fix
  core/src/domain/user/services.rs
  core/src/infrastructure/user/repository.rs
  libs/ferriskey-domain/src/user/ports.rs
Due: rust-fmt, rust-clippy

fix: evaluate organization and provider policies against the target realm (#1228)
  api/tests/organization_cross_realm_test.rs
  core/src/domain/abyss/entities.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/abyss/identity_provider_services.rs
  core/src/domain/abyss/mod.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/abyss/ports.rs
  core/src/domain/abyss/services.rs
  core/src/domain/abyss/value_objects.rs
  core/src/domain/authentication/services.rs
  core/src/domain/organization/member_role_services.rs
  core/src/infrastructure/organization/organization_member_repository.rs
  libs/ferriskey-abyss/src/identity_provider/policies.rs
  libs/ferriskey-abyss/src/identity_provider/ports.rs
  libs/ferriskey-organization/src/group_services.rs
  libs/ferriskey-organization/src/policies.rs
  libs/ferriskey-organization/src/ports.rs
  libs/ferriskey-organization/src/services.rs
Due: rust-fmt, rust-clippy

fix: bind clients scopes mappers and templates to the request realm (#1227)
  Cargo.lock
  api/tests/client_cross_realm_test.rs
  core/Cargo.toml
  core/src/application/email_template/mod.rs
  core/src/application/mod.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/aegis/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/ports.rs
  core/src/domain/client/services.rs
  core/src/domain/maintenance/services.rs
  core/src/domain/realm/services.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/aegis/repositories/client_scope_postgres_repository.rs
  core/src/infrastructure/aegis/repositories/protocol_mapper_postgres_repository.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/client/repositories/post_logout_redirect_uri_postgres_repository.rs
  core/src/infrastructure/client/repositories/redirect_uri_postgres_repository.rs
  core/src/infrastructure/email_template/repositories/email_template_repository.rs
  libs/ferriskey-aegis/Cargo.toml
  libs/ferriskey-aegis/src/ports.rs
  libs/ferriskey-aegis/src/services/client_scope_service.rs
  libs/ferriskey-aegis/src/services/mod.rs
  libs/ferriskey-aegis/src/services/protocol_mapper_service.rs
  libs/ferriskey-aegis/src/services/scope_mapping_service.rs
  libs/ferriskey-aegis/src/services/test_support.rs
  libs/ferriskey-domain/src/client/ports.rs
  libs/ferriskey-mail/src/email_template/ports.rs
  libs/ferriskey-mail/src/email_template/services.rs
  libs/ferriskey-mail/src/email_verification/services.rs
Due: rust-fmt, rust-clippy
