Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

removed unused PartialEq requirement
  api/src/application/http/server/api_entities/response.rs
Due: rust-fmt, rust-clippy

reimplemented authentication flow, untested yet
  api/src/application/http/trident/handlers/webauthn_public_key_authenticate.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create.rs
  api/src/application/http/user/errors.rs
  core/src/domain/credential/entities.rs
  core/src/domain/credential/ports.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/credential/mod.rs
  core/src/infrastructure/repositories/credential_repository.rs
Due: rust-fmt, rust-clippy

removed unused dependencies
  Cargo.lock
  api/src/application/http/trident/handlers/webauthn_public_key_authenticate.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create_options.rs
  api/src/application/http/trident/handlers/webauthn_public_key_request_options.rs
  core/src/domain/credential/ports.rs
  core/src/domain/trident/ports.rs
  core/src/infrastructure/credential/mod.rs
  core/src/infrastructure/repositories/credential_repository.rs
Due: rust-fmt, rust-clippy

removed clone requirements on hasherrepos
  core/src/domain/crypto/ports.rs
Due: rust-fmt, rust-clippy

dispatching correct errors
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

rebase fixes
  Cargo.lock
  core/Cargo.toml
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/services/authenticate.rs
  core/src/domain/authentication/services/grant_type_service.rs
  core/src/domain/common/services.rs
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

forgot to save :(((((
  core/migrations/20250927172043_add_webauthn_fields_credential_table.down.sql
Due: none

added webauthn creedential type
  core/src/domain/credential/entities.rs
  core/src/infrastructure/repositories/credential_repository.rs
Due: rust-fmt, rust-clippy

deleted unused repository and corrected an error status code
  api/src/application/http/server/api_entities/api_error.rs
  core/src/infrastructure/recovery_code/mod.rs
Due: rust-fmt, rust-clippy

rebase fail fixes
  core/src/application/authentication/mod.rs
  core/src/infrastructure/hasher/mod.rs
Due: rust-fmt, rust-clippy

removed eq from resposne for completedness
  api/src/application/http/server/api_entities/response.rs
Due: rust-fmt, rust-clippy

finazllly
  core/migrations/20250923125100_add_webauthn_challenge_to_auth_sessions.up.sql
  core/migrations/20250927172043_add_webauthn_fields_credential_table.up.sql
  core/migrations/20250930081512_remove_credential_restriction_webauthn.up.sql
Due: none

applied clippy suggestions
  api/src/application/http/user/errors.rs
  core/src/domain/credential/entities.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/repositories/credential_repository.rs
Due: rust-fmt, rust-clippy

rebase fix
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

feat: merge common/operator values and add pod template
  charts/operator/templates/deployment.yaml
Due: none

feat: add operator Helm chart
  charts/operator/.helmignore
  charts/operator/Chart.yaml
  charts/operator/templates/_helpers.tpl
  charts/operator/templates/deployment.yaml
  charts/operator/values.yaml
Due: none

feat: refactor operator Helm chart templates and values
  charts/operator/Chart.yaml
  charts/operator/templates/_helpers.tpl
  charts/operator/templates/deployment.yaml
  charts/operator/values.yaml
Due: none

fixed migrations syntax errors
  Cargo.lock
  core/migrations/20250915150230_alter_unique_credentials_type_per_user_constraint.down.sql
  core/migrations/20250923125100_add_webauthn_challenge_to_auth_sessions.down.sql
  core/migrations/20250923125100_add_webauthn_challenge_to_auth_sessions.up.sql
  core/migrations/20250927172043_add_webauthn_fields_credential_table.up.sql
Due: rust-clippy

feat: WebAuthn support (#497)
  Cargo.lock
  api/Cargo.toml
  api/src/application/http/error.rs
  api/src/application/http/server/api_entities/api_error.rs
  api/src/application/http/server/api_entities/response.rs
  api/src/application/http/trident/handlers.rs
  api/src/application/http/trident/handlers/webauthn_public_key_authenticate.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create_options.rs
  api/src/application/http/trident/handlers/webauthn_public_key_request_options.rs
  api/src/application/http/trident/router.rs
  api/src/application/http/user/errors.rs
  core/Cargo.toml
  core/migrations/20250915150230_alter_unique_credentials_type_per_user_constraint.down.sql
  core/migrations/20250923125100_add_webauthn_challenge_to_auth_sessions.down.sql
  core/migrations/20250923125100_add_webauthn_challenge_to_auth_sessions.up.sql
  core/migrations/20250927172043_add_webauthn_fields_credential_table.down.sql
  core/migrations/20250927172043_add_webauthn_fields_credential_table.up.sql
  core/migrations/20250930081512_remove_credential_restriction_webauthn.down.sql
  core/migrations/20250930081512_remove_credential_restriction_webauthn.up.sql
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/services/authenticate.rs
  core/src/domain/common/entities/app_errors.rs
  core/src/domain/common/services.rs
  core/src/domain/credential/entities.rs
  core/src/domain/credential/ports.rs
  core/src/domain/crypto/ports.rs
  core/src/domain/trident/entities/mod.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/credentials.rs
  core/src/infrastructure/auth_session/mod.rs
  core/src/infrastructure/credential/mod.rs
  core/src/infrastructure/repositories/argon2_hasher.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
  core/src/infrastructure/repositories/credential_repository.rs
  core/src/infrastructure/repositories/random_bytes_recovery_code.rs
Due: rust-fmt, rust-clippy

feat: use useGetRealm and update realm settings UI
  front/src/api/core.interface.ts
  front/src/api/realm.api.ts
  front/src/pages/realm/feature/page-realm-settings-general-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-general.tsx
Due: esint

feat: implement SecurityEventServiceImpl and fetch_events
  core/src/domain/seawatch/services.rs
Due: rust-fmt, rust-clippy

feat: use useGetRealm and update realm settings UI (#541)
  front/src/api/core.interface.ts
  front/src/api/realm.api.ts
  front/src/pages/realm/feature/page-realm-settings-general-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-general.tsx
Due: esint

feat: add ApplicationService and seawatch adapter
  core/src/application/mod.rs
  core/src/application/seawatch/mod.rs
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

feat: add credential service and application wiring
  core/src/application/credential/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/credential/services.rs
Due: rust-fmt, rust-clippy

feat: implement client service and application adapter
  core/src/application/client/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/client/services.rs
Due: rust-fmt, rust-clippy

feat: add realm service and integrate into application
  core/src/application/mod.rs
  core/src/application/realm/mod.rs
  core/src/application/services.rs
  core/src/domain/realm/services.rs
  core/src/lib.rs
Due: rust-fmt, rust-clippy

feat: add Role service and implement domain services
  core/src/application/mod.rs
  core/src/application/role/mod.rs
  core/src/application/services.rs
  core/src/domain/health/services.rs
  core/src/domain/role/services.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
Due: rust-fmt, rust-clippy

feat: add application adapters and service implementations
  core/src/application/auth/mod.rs
  core/src/application/health/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/application/trident/mod.rs
  core/src/application/user/mod.rs
  core/src/application/webhook/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/webhook/services.rs
Due: rust-fmt, rust-clippy

feat: add Arc constructors and application builder
  api/src/application/http/server/app_state.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/credential/services.rs
  core/src/domain/health/services.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/services.rs
  core/src/domain/seawatch/services.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  core/src/domain/webhook/services.rs
  core/src/infrastructure/repositories/random_bytes_recovery_code.rs
Due: rust-fmt, rust-clippy

fix: refactor role service tests to use RoleServiceTestBuilder
  core/src/domain/role/services.rs
Due: rust-fmt, rust-clippy

refactor: replace generic Service with concrete Impl types
  core/src/application/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/services/authenticate.rs
  core/src/domain/authentication/services/grant_type_service.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/credential/services.rs
  core/src/domain/health/services.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/services.rs
  core/src/domain/seawatch/services.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  core/src/domain/webhook/services.rs
Due: rust-fmt, rust-clippy

refactor: separate struct for several services and create a wrapper (#542)
  api/src/application/http/server/app_state.rs
  core/src/application/auth/mod.rs
  core/src/application/client/mod.rs
  core/src/application/credential/mod.rs
  core/src/application/health/mod.rs
  core/src/application/mod.rs
  core/src/application/realm/mod.rs
  core/src/application/role/mod.rs
  core/src/application/seawatch/mod.rs
  core/src/application/services.rs
  core/src/application/trident/mod.rs
  core/src/application/user/mod.rs
  core/src/application/webhook/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/services/authenticate.rs
  core/src/domain/authentication/services/grant_type_service.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/credential/services.rs
  core/src/domain/health/services.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/services.rs
  core/src/domain/seawatch/services.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  core/src/domain/webhook/services.rs
  core/src/infrastructure/repositories/random_bytes_recovery_code.rs
  core/src/lib.rs
Due: rust-fmt, rust-clippy

docs: add front .env.example and update README
  README.md
  front/.env.example
Due: none

docs: add front .env.example and update README (#545)
  README.md
  front/.env.example
Due: none

feat: add ComingSoon component and wrap SeaWatch page
  front/src/components/ui/coming-soon.tsx
  front/src/pages/seawatch/ui/page-overview.tsx
Due: esint

fix: adjust ComingSoon layout and responsive styles
  front/src/components/ui/coming-soon.tsx
Due: esint

feat: add ComingSoon component and wrap SeaWatch page (#549)
  front/src/components/ui/coming-soon.tsx
  front/src/pages/seawatch/ui/page-overview.tsx
Due: esint

feat: add Identity Providers overview page
  front/src/App.tsx
  front/src/components/nav-configuration.tsx
  front/src/pages/identity-providers/feature/page-overview-feature.tsx
  front/src/pages/identity-providers/page-identity-providers.tsx
  front/src/pages/identity-providers/ui/index.ts
  front/src/pages/identity-providers/ui/page-overview.tsx
  front/src/routes/sub-router/identity-providers.router.ts
Due: esint
