Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

feat(authz): add the authorization decision matrix
  libs/ferriskey-authz/src/actions.rs
  libs/ferriskey-authz/src/entities.rs
  libs/ferriskey-authz/src/lib.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-authz/tests/matrix_coverage.rs
Due: rust-fmt, rust-clippy

test(authz): cover the authorization matrix against the current engine
  libs/ferriskey-authz/src/actions.rs
  libs/ferriskey-authz/src/engine.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-authz/tests/matrix_behaviour.rs
  libs/ferriskey-authz/tests/matrix_coverage.rs
Due: rust-fmt, rust-clippy

fix(authz): scope user operations to the target realm
  core/src/domain/user/services.rs
  libs/ferriskey-authz/src/matrix.rs
Due: rust-fmt, rust-clippy

feat(authz): give organizations their own permissions
  api/tests/organization_cross_realm_test.rs
  core/src/domain/organization/member_role_services.rs
  front/src/api/api.client.ts
  front/src/api/core.interface.ts
  front/src/locales/en/role.yaml
  front/src/locales/zh-CN/role.yaml
  front/src/pages/iam/role/permission-catalogue.ts
  libs/ferriskey-aegis/src/services/test_support.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-domain/src/role/permission.rs
  libs/ferriskey-domain/src/session/services.rs
  libs/ferriskey-organization/src/group_services.rs
  libs/ferriskey-organization/src/policies.rs
  libs/ferriskey-organization/src/services.rs
Due: rust-fmt, rust-clippy, esint

fix: update seed-default-scopes test expectations for the organization scope
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

fix(authz): propagate policy evaluation errors instead of masking them as forbidden
  libs/ferriskey-domain/src/common/policies.rs
Due: rust-fmt, rust-clippy

refactor(authz): drop policy helpers left unused by the realm-scope rewrite
  core/src/domain/abyss/identity_provider_policies.rs
  libs/ferriskey-authz/src/engine.rs
  libs/ferriskey-domain/src/common/policies.rs
  libs/ferriskey-domain/src/session/services.rs
Due: rust-fmt, rust-clippy

fix(authz): let manage_users and manage_clients read what they manage
  api/tests/user_cross_realm_test.rs
  libs/ferriskey-authz/src/engine.rs
  libs/ferriskey-authz/src/matrix.rs
Due: rust-fmt, rust-clippy

fix(authz): give roles, identity providers and events their own permissions
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/client/services.rs
  core/src/domain/role/services.rs
  libs/ferriskey-abyss/src/identity_provider/policies.rs
  libs/ferriskey-authz/src/engine.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-compass/src/policies.rs
  libs/ferriskey-domain/src/role/permission.rs
  libs/ferriskey-domain/src/role/ports.rs
  libs/ferriskey-seawatch/src/policies.rs
  libs/ferriskey-seawatch/src/services.rs
Due: rust-fmt, rust-clippy

fix(authz): refuse assigning a role that grants more than the caller holds
  core/src/domain/user/services.rs
Due: rust-fmt, rust-clippy

fix(authz): propagate repository failures from the policy engine
  libs/ferriskey-authz/src/engine.rs
Due: rust-fmt, rust-clippy

fix: hash the new password before dropping the current credential
  core/src/domain/account_security/services.rs
Due: rust-fmt, rust-clippy

chore(authz): drop comments that restate the code
  core/src/application/services.rs
  core/src/domain/user/services.rs
  libs/ferriskey-authz/src/engine.rs
  libs/ferriskey-authz/src/entities.rs
  libs/ferriskey-authz/src/lib.rs
  libs/ferriskey-authz/tests/matrix_behaviour.rs
  libs/ferriskey-authz/tests/matrix_coverage.rs
  libs/ferriskey-domain/src/common/policies.rs
  libs/ferriskey-domain/src/credential/services.rs
  libs/ferriskey-organization/src/policies.rs
Due: rust-fmt, rust-clippy

docs: correct the stale api layout and commands in the entry document
  CLAUDE.md
Due: none

feat(core): model the self-service account security domain (#1484)
  Cargo.lock
  core/src/domain/account_security/entities.rs
  core/src/domain/account_security/mod.rs
  core/src/domain/account_security/ports.rs
  core/src/domain/account_security/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/mod.rs
  core/src/domain/trident/services.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-domain/src/elevation/entities.rs
  libs/ferriskey-domain/src/elevation/mod.rs
  libs/ferriskey-domain/src/elevation/ports.rs
  libs/ferriskey-domain/src/lib.rs
  libs/ferriskey-security/Cargo.toml
  libs/ferriskey-security/src/crypto/mod.rs
  libs/ferriskey-security/src/crypto/password_check.rs
  libs/ferriskey-trident/src/factor_removal.rs
  libs/ferriskey-trident/src/lib.rs
Due: rust-fmt, rust-clippy

feat: persist elevation proofs and passkey challenges
  core/migrations/20260924000000_create_account_security_state.down.sql
  core/migrations/20260924000000_create_account_security_state.up.sql
  core/src/application/account_security/mod.rs
  core/src/application/mod.rs
  core/src/application/other_sessions_revocation.rs
  core/src/application/services.rs
  core/src/domain/account_security/ports.rs
  core/src/domain/account_security/services.rs
  core/src/domain/authentication/services.rs
  core/src/entity/account_elevations.rs
  core/src/entity/mod.rs
  core/src/entity/passkey_registrations.rs
  core/src/entity/prelude.rs
  core/src/infrastructure/account_security/mod.rs
  core/src/infrastructure/account_security/repositories/elevation_repository.rs
  core/src/infrastructure/account_security/repositories/mod.rs
  core/src/infrastructure/account_security/repositories/passkey_registration_repository.rs
  core/src/infrastructure/mod.rs
  core/src/infrastructure/repositories/credential_repository.rs
  libs/ferriskey-domain/src/credential/ports.rs
  libs/ferriskey-security/src/crypto/password_check.rs
Due: rust-fmt, rust-clippy

test: assert the temporary flag the repository was told to write
  core/src/infrastructure/repositories/credential_repository.rs
Due: rust-fmt, rust-clippy

feat(core): persist elevation proofs and passkey challenges (#1486)
  core/migrations/20260924000000_create_account_security_state.down.sql
  core/migrations/20260924000000_create_account_security_state.up.sql
  core/src/application/account_security/mod.rs
  core/src/application/mod.rs
  core/src/application/other_sessions_revocation.rs
  core/src/application/services.rs
  core/src/domain/account_security/ports.rs
  core/src/domain/account_security/services.rs
  core/src/domain/authentication/services.rs
  core/src/entity/account_elevations.rs
  core/src/entity/mod.rs
  core/src/entity/passkey_registrations.rs
  core/src/entity/prelude.rs
  core/src/infrastructure/account_security/mod.rs
  core/src/infrastructure/account_security/repositories/elevation_repository.rs
  core/src/infrastructure/account_security/repositories/mod.rs
  core/src/infrastructure/account_security/repositories/passkey_registration_repository.rs
  core/src/infrastructure/mod.rs
  core/src/infrastructure/repositories/credential_repository.rs
  libs/ferriskey-domain/src/credential/ports.rs
  libs/ferriskey-security/src/crypto/password_check.rs
Due: rust-fmt, rust-clippy

feat: expose the self-service account security endpoints under /me
  .github/workflows/integration-tests.yaml
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
  api/tests/account_security_test.rs
  core/src/domain/account_security/services.rs
  libs/ferriskey-api-account/Cargo.toml
  libs/ferriskey-api-account/src/handlers/change_own_password.rs
  libs/ferriskey-api-account/src/handlers/confirm_own_otp_enrollment.rs
  libs/ferriskey-api-account/src/handlers/confirm_own_passkey_registration.rs
  libs/ferriskey-api-account/src/handlers/delete_own_passkey.rs
  libs/ferriskey-api-account/src/handlers/disable_own_otp.rs
  libs/ferriskey-api-account/src/handlers/get_own_profile.rs
  libs/ferriskey-api-account/src/handlers/list_own_credentials.rs
  libs/ferriskey-api-account/src/handlers/mod.rs
  libs/ferriskey-api-account/src/handlers/request_elevation.rs
  libs/ferriskey-api-account/src/handlers/start_own_otp_enrollment.rs
  libs/ferriskey-api-account/src/handlers/start_own_passkey_registration.rs
  libs/ferriskey-api-account/src/handlers/update_me_locale.rs
  libs/ferriskey-api-account/src/handlers/update_own_profile.rs
  libs/ferriskey-api-account/src/lib.rs
  libs/ferriskey-api-account/src/router.rs
  libs/ferriskey-api-account/src/session.rs
  libs/ferriskey-api-account/src/validators.rs
  libs/ferriskey-api-user/src/handlers.rs
  libs/ferriskey-api-user/src/router.rs
  libs/ferriskey-api-user/src/validators.rs
Due: rust-fmt, rust-clippy

docs: align the documented account responses with the status codes the api returns
  api/tests/account_security_test.rs
  libs/ferriskey-api-account/src/handlers/change_own_password.rs
  libs/ferriskey-api-account/src/handlers/confirm_own_otp_enrollment.rs
  libs/ferriskey-api-account/src/handlers/confirm_own_passkey_registration.rs
  libs/ferriskey-api-account/src/handlers/delete_own_passkey.rs
  libs/ferriskey-api-account/src/handlers/disable_own_otp.rs
  libs/ferriskey-api-account/src/handlers/list_own_credentials.rs
  libs/ferriskey-api-account/src/handlers/request_elevation.rs
  libs/ferriskey-api-account/src/handlers/start_own_otp_enrollment.rs
  libs/ferriskey-api-account/src/handlers/start_own_passkey_registration.rs
Due: rust-fmt, rust-clippy

feat(api): expose the self-service account security endpoints under /me (#1487)
  .github/workflows/integration-tests.yaml
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
  api/tests/account_security_test.rs
  core/src/domain/account_security/services.rs
  libs/ferriskey-api-account/Cargo.toml
  libs/ferriskey-api-account/src/handlers/change_own_password.rs
  libs/ferriskey-api-account/src/handlers/confirm_own_otp_enrollment.rs
  libs/ferriskey-api-account/src/handlers/confirm_own_passkey_registration.rs
  libs/ferriskey-api-account/src/handlers/delete_own_passkey.rs
  libs/ferriskey-api-account/src/handlers/disable_own_otp.rs
  libs/ferriskey-api-account/src/handlers/get_own_profile.rs
  libs/ferriskey-api-account/src/handlers/list_own_credentials.rs
  libs/ferriskey-api-account/src/handlers/mod.rs
  libs/ferriskey-api-account/src/handlers/request_elevation.rs
  libs/ferriskey-api-account/src/handlers/start_own_otp_enrollment.rs
  libs/ferriskey-api-account/src/handlers/start_own_passkey_registration.rs
  libs/ferriskey-api-account/src/handlers/update_me_locale.rs
  libs/ferriskey-api-account/src/handlers/update_own_profile.rs
  libs/ferriskey-api-account/src/lib.rs
  libs/ferriskey-api-account/src/router.rs
  libs/ferriskey-api-account/src/session.rs
  libs/ferriskey-api-account/src/validators.rs
  libs/ferriskey-api-user/src/handlers.rs
  libs/ferriskey-api-user/src/router.rs
  libs/ferriskey-api-user/src/validators.rs
Due: rust-fmt, rust-clippy

feat: add the account security tab
  front/src/api/account-security.api.ts
  front/src/api/api.client.ts
  front/src/locales/en/account.yaml
  front/src/locales/zh-CN/account.yaml
  front/src/pages/iam/account/feature/page-account-security-feature.tsx
  front/src/pages/iam/account/feature/use-elevation.ts
  front/src/pages/iam/account/page-account.tsx
  front/src/pages/iam/account/ui/page-account-security.tsx
  front/src/pages/iam/account/ui/page-account-sessions.tsx
  front/src/pages/iam/account/ui/page-account.tsx
  front/src/pages/iam/account/ui/reauthenticate-dialog.tsx
  front/src/pages/iam/account/ui/use-account-tabs.ts
Due: esint

fix: settle the elevation request only when the replayed action does
  front/src/pages/iam/account/feature/use-elevation.ts
Due: esint

feat(front): add the account security tab (#1488)
  front/src/api/account-security.api.ts
  front/src/api/api.client.ts
  front/src/locales/en/account.yaml
  front/src/locales/zh-CN/account.yaml
  front/src/pages/iam/account/feature/page-account-security-feature.tsx
  front/src/pages/iam/account/feature/use-elevation.ts
  front/src/pages/iam/account/page-account.tsx
  front/src/pages/iam/account/ui/page-account-security.tsx
  front/src/pages/iam/account/ui/page-account-sessions.tsx
  front/src/pages/iam/account/ui/page-account.tsx
  front/src/pages/iam/account/ui/reauthenticate-dialog.tsx
  front/src/pages/iam/account/ui/use-account-tabs.ts
Due: esint

feat(client): add the token_exchange_enabled flag
  core/migrations/20260925000000_add_token_exchange_enabled_to_clients.down.sql
  core/migrations/20260925000000_add_token_exchange_enabled_to_clients.up.sql
  core/src/application/mod.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/maintenance/services.rs
  core/src/domain/realm/services.rs
  core/src/domain/saml/services.rs
  core/src/entity/clients.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  libs/ferriskey-aegis/src/services/test_support.rs
  libs/ferriskey-api-client/src/handlers/create_client.rs
  libs/ferriskey-api-client/src/handlers/update_client.rs
  libs/ferriskey-api-client/src/validators.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-authz/tests/matrix_behaviour.rs
  libs/ferriskey-domain/src/client/commands.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/token_lifetime.rs
Due: rust-fmt, rust-clippy

test(mfa): make the OTP credential fixture idempotent under parallel tests
  api/tests/mfa_bypass_test.rs
Due: rust-fmt, rust-clippy

feat(client): manage token exchange delegation policies
  api/tests/token_exchange_policy_test.rs
  core/src/application/client/mod.rs
  core/src/application/client/token_exchange_policy.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/client/entities.rs
  core/src/domain/client/mod.rs
  core/src/domain/client/token_exchange_policy_services.rs
  core/src/infrastructure/client/repositories.rs
  core/src/infrastructure/client/repositories/token_exchange_policy_postgres_repository.rs
  libs/ferriskey-api-client/src/handlers.rs
  libs/ferriskey-api-client/src/handlers/create_token_exchange_policy.rs
  libs/ferriskey-api-client/src/handlers/delete_token_exchange_policy.rs
  libs/ferriskey-api-client/src/handlers/get_token_exchange_policies.rs
  libs/ferriskey-api-client/src/router.rs
  libs/ferriskey-api-client/src/validators.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-domain/src/client/commands.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/entities/token_exchange_policy.rs
  libs/ferriskey-domain/src/client/ports.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: accept a caller-supplied user id at creation
  .github/workflows/integration-tests.yaml
  api/tests/organization_test.rs
  api/tests/supplied_user_id_test.rs
  core/src/application/mod.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/abyss/federation/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/user/repository.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-api-user/src/handlers/create_user.rs
  libs/ferriskey-api-user/src/validators.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-domain/src/user/commands.rs
  libs/ferriskey-domain/src/user/entities.rs
  libs/ferriskey-domain/src/user/value_objects.rs
  libs/ferriskey-mail/src/email_verification/services.rs
Due: rust-fmt, rust-clippy

fix: cut the SSO cookie before revoking a session's tokens
  core/src/application/token_revocation.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
  core/src/infrastructure/repositories/user_session_repository.rs
  libs/ferriskey-domain/src/session/ports.rs
  libs/ferriskey-domain/src/session/services.rs
Due: rust-fmt, rust-clippy

feat: accept a caller-supplied user id at creation (#1498)
  .github/workflows/integration-tests.yaml
  api/tests/organization_test.rs
  api/tests/supplied_user_id_test.rs
  core/src/application/mod.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/abyss/federation/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/user/repository.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-api-user/src/handlers/create_user.rs
  libs/ferriskey-api-user/src/validators.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-domain/src/user/commands.rs
  libs/ferriskey-domain/src/user/entities.rs
  libs/ferriskey-domain/src/user/value_objects.rs
  libs/ferriskey-mail/src/email_verification/services.rs
Due: rust-fmt, rust-clippy

No more update on container start
  charts/ferriskey/templates/_helpers.yaml
  charts/ferriskey/templates/webapp/configmap.yaml
  charts/ferriskey/templates/webapp/deployment.yaml
  charts/ferriskey/values.yaml
  front/docker-entrypoint.sh
  front/public/config.json
Due: shellcheck

Fix helm-docs generation
  Dockerfile
  charts/ferriskey/README.md
Due: hadolint

Another idea to have more secure final images
  Dockerfile
Due: hadolint

fix: refuse a code whose SSO session was revoked
  api/tests/session_cross_realm_test.rs
  api/tests/sso_session_test.rs
  core/migrations/20260925000000_cascade_auth_sessions_with_user_sessions.down.sql
  core/migrations/20260925000000_cascade_auth_sessions_with_user_sessions.up.sql
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

fix: cut the SSO cookie first on logout and other-sessions revocation
  core/src/application/other_sessions_revocation.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

fix(session): cut the SSO cookie before revoking a session's tokens (#1499)
  api/tests/session_cross_realm_test.rs
  api/tests/sso_session_test.rs
  core/migrations/20260925000000_cascade_auth_sessions_with_user_sessions.down.sql
  core/migrations/20260925000000_cascade_auth_sessions_with_user_sessions.up.sql
  core/src/application/other_sessions_revocation.rs
  core/src/application/token_revocation.rs
  core/src/domain/authentication/services.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
  core/src/infrastructure/repositories/user_session_repository.rs
  libs/ferriskey-domain/src/session/ports.rs
  libs/ferriskey-domain/src/session/services.rs
Due: rust-fmt, rust-clippy

feat: hand out the SSO session on the MFA login steps
  Cargo.lock
  api/tests/sso_session_test.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/application/sso_session.rs
  core/src/application/trident/mod.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  libs/ferriskey-api-authentication/Cargo.toml
  libs/ferriskey-api-authentication/src/lib.rs
  libs/ferriskey-api-core/Cargo.toml
  libs/ferriskey-api-core/src/lib.rs
  libs/ferriskey-api-core/src/sso_cookie.rs
  libs/ferriskey-api-trident/src/handlers/burn_recovery_code.rs
  libs/ferriskey-api-trident/src/handlers/challenge_otp.rs
  libs/ferriskey-api-trident/src/handlers/magic_link.rs
  libs/ferriskey-api-trident/src/handlers/passkey_authenticate.rs
  libs/ferriskey-api-trident/src/handlers/reset_password.rs
  libs/ferriskey-api-trident/src/handlers/webauthn_public_key_authenticate.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
