Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

feat: derive Default for enums and fix test predicate
  client/src/models/event_status.rs
  client/src/models/grant_type.rs
  client/src/models/permissions.rs
  client/src/models/required_action.rs
  client/src/models/security_event_type.rs
  client/src/models/webhook_trigger.rs
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

wip
  api/src/application/http/trident/handlers/forgot_password.rs
  front/openapi.yaml
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
  front/src/api/password-reset.api.ts
  front/src/pages/authentication/feature/page-forgot-password-feature.tsx
  front/src/pages/authentication/feature/page-reset-password-feature.tsx
Due: rust-fmt, rust-clippy, esint

wip
  front/package.json
  front/pnpm-lock.yaml
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
Due: esint

wip
  front/src/api/compass.api.ts
Due: esint

wip
  api/src/application/http/compass/handlers/get_flows.rs
  front/src/api/api.client.ts
  front/src/api/compass.api.ts
Due: rust-fmt, rust-clippy, esint

wip
  front/src/api/api.client.ts
Due: esint

feat: implement reset password ui (#819)
  api/src/application/http/compass/handlers/get_flows.rs
  api/src/application/http/trident/handlers/forgot_password.rs
  front/openapi.yaml
  front/package.json
  front/pnpm-lock.yaml
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
  front/src/api/password-reset.api.ts
  front/src/pages/authentication/feature/page-forgot-password-feature.tsx
  front/src/pages/authentication/feature/page-reset-password-feature.tsx
  front/src/pages/authentication/page-authentication.tsx
  front/src/pages/authentication/schemas/forgot-password.schema.ts
  front/src/pages/authentication/schemas/reset-password.schema.ts
  front/src/pages/authentication/ui/page-forgot-password.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/authentication/ui/page-reset-password.tsx
Due: rust-fmt, rust-clippy, esint

feat: implement password reset rate limiting and hardening
  core/src/domain/common/email.rs
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

feat: implement smtp configuration endpoints
  api/src/application/http/realm/handlers.rs
  api/src/application/http/realm/handlers/delete_smtp_config.rs
  api/src/application/http/realm/handlers/get_smtp_config.rs
  api/src/application/http/realm/handlers/upsert_smtp_config.rs
  api/src/application/http/realm/router.rs
  api/src/application/http/realm/validators.rs
Due: rust-fmt, rust-clippy

feat: implement password reset rate limiting and hardening (#821)
  core/src/domain/common/email.rs
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

feat: implement smtp configuration endpoints (#822)
  api/src/application/http/realm/handlers.rs
  api/src/application/http/realm/handlers/delete_smtp_config.rs
  api/src/application/http/realm/handlers/get_smtp_config.rs
  api/src/application/http/realm/handlers/upsert_smtp_config.rs
  api/src/application/http/realm/router.rs
  api/src/application/http/realm/validators.rs
Due: rust-fmt, rust-clippy

fix: wip
  front/package.json
  front/pnpm-lock.yaml
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
  front/src/api/auth.api.ts
  front/src/api/client-scope.api.ts
  front/src/api/client.api.ts
  front/src/api/credential.api.ts
  front/src/api/realm.api.ts
  front/src/api/role.api.ts
  front/src/api/user-federation.api.ts
  front/src/api/user.api.ts
  front/src/api/user_role.api.ts
  front/src/api/webhook.api.ts
Due: esint

feat: update fetcher and re-generate api interface
  front/src/App.tsx
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
  front/src/api/index.ts
Due: esint

refactor: relax @types/node version and clean auth API
  front/eslint.config.js
  front/pnpm-lock.yaml
  front/src/api/auth.api.ts
Due: esint

wip
  front/pnpm-lock.yaml
  front/src/api/auth.api.ts
Due: esint

feat: add SMTP config endpoints to API client
  front/src/api/api.client.ts
Due: esint

fix: typed openapi (#823)
  front/eslint.config.js
  front/package.json
  front/pnpm-lock.yaml
  front/src/App.tsx
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
  front/src/api/auth.api.ts
  front/src/api/client-scope.api.ts
  front/src/api/client.api.ts
  front/src/api/credential.api.ts
  front/src/api/index.ts
  front/src/api/realm.api.ts
  front/src/api/role.api.ts
  front/src/api/user-federation.api.ts
  front/src/api/user.api.ts
  front/src/api/user_role.api.ts
  front/src/api/webhook.api.ts
Due: esint

feat: implement smtp configuration ui
  front/eslint.config.js
  front/openapi.yaml
  front/src/api/api.client.ts
  front/src/api/smtp.api.ts
  front/src/pages/realm/feature/page-realm-settings-email-feature.tsx
  front/src/pages/realm/layouts/realm-settings-layout.tsx
  front/src/pages/realm/page-realm.tsx
  front/src/pages/realm/ui/page-realm-settings-email.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
Due: esint

wip
  api/src/application/http/trident/handlers/forgot_password.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

wip
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
Due: esint

wip
  front/src/api/smtp.api.ts
  front/src/pages/realm/feature/page-realm-settings-email-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-email.tsx
Due: esint

wip
  front/src/pages/realm/feature/page-realm-settings-email-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-email.tsx
Due: esint

feat: Add password_policy table with various constraints and insert default policies for existing realms.
  core/migrations/20260311103000_password_policy.down.sql
Due: none

feat: create password_policy table and insert default policies for existing realms.
  core/migrations/20260311103000_password_policy.up.sql
Due: none

feat: implement smtp ui configuration (#824)
  api/src/application/http/trident/handlers/forgot_password.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  front/eslint.config.js
  front/openapi.yaml
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
  front/src/api/smtp.api.ts
  front/src/pages/realm/feature/page-realm-settings-email-feature.tsx
  front/src/pages/realm/layouts/realm-settings-layout.tsx
  front/src/pages/realm/page-realm.tsx
  front/src/pages/realm/ui/page-realm-settings-email.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
Due: rust-fmt, rust-clippy, esint

feat: Add password policy management and validation to the core domain.
  core/src/domain/password_policy/entities.rs
Due: rust-fmt, rust-clippy

feat: introduce password policy domain with entities, ports, and services, and integrate policy definitions into the realm module.
  core/src/domain/password_policy/mod.rs
Due: rust-fmt, rust-clippy

feat: Introduce password policy management with service, repository traits, and entity definitions.
  core/src/domain/password_policy/ports.rs
Due: rust-fmt, rust-clippy

feat: introduce password policy service and entities for managing and validating password requirements.
  core/src/domain/password_policy/services.rs
Due: rust-fmt, rust-clippy

feat: introduce password policy domain models with `PasswordPolicy` and `UpdatePasswordPolicy` structs
  libs/ferriskey-domain/src/realm/mod.rs
Due: rust-fmt, rust-clippy

feat: derive Default for enums and fix test predicate (#820)
  client/src/models/event_status.rs
  client/src/models/grant_type.rs
  client/src/models/permissions.rs
  client/src/models/required_action.rs
  client/src/models/security_event_type.rs
  client/src/models/webhook_trigger.rs
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

feat: add Postgres password policy repository and expose PgPool in the Postgres DB utility.
  core/src/infrastructure/db/postgres.rs
Due: rust-fmt, rust-clippy

feat: Implement PostgreSQL password policy repository and integrate into application services.
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

feat: Add PostgreSQL repository and service for password policy management.
  core/src/application/mod.rs
Due: rust-fmt, rust-clippy

feat: implement Postgres repository for password policy management
  core/src/domain/user/services.rs
Due: rust-fmt, rust-clippy

feat: introduce `PostgresPasswordPolicyRepository` for managing password policies.
  core/src/infrastructure/repositories/password_policy_repository.rs
Due: rust-fmt, rust-clippy

feat: Add `PasswordPolicyService` generic parameter to `UserServiceImpl` and make its builder public.
  core/src/domain/user/services.rs
Due: rust-fmt, rust-clippy

feat: Add `PasswordPolicyServiceImpl` to application services.
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

feat: add password policy dependency to application service
  core/src/application/mod.rs
Due: rust-fmt, rust-clippy

feat: Add API handlers to get and update realm password policies.
  api/src/application/http/realm/handlers/get_password_policy.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
