Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

chore: regenerate the frontend api client for the actor token fields
  front/src/api/api.client.ts
Due: esint

feat: toggle pkce on an existing identity provider
  core/src/domain/abyss/identity_provider_services.rs
  core/src/infrastructure/identity_provider/repositories/identity_provider_postgres_repository.rs
  front/src/api/api.client.ts
  front/src/locales/en/identity-provider.yaml
  front/src/locales/zh-CN/identity-provider.yaml
  front/src/pages/iam/identity-providers/feature/page-provider-detail-feature.tsx
  front/src/pages/iam/identity-providers/provider-update-body.test.ts
  front/src/pages/iam/identity-providers/provider-update-body.ts
  front/src/pages/iam/identity-providers/ui/page-provider-detail.tsx
  libs/ferriskey-abyss/src/identity_provider/entities.rs
  libs/ferriskey-abyss/src/identity_provider/value_objects.rs
  libs/ferriskey-api-abyss/src/identity_provider/dto.rs
  libs/ferriskey-api-abyss/src/identity_provider/handlers/update_identity_provider.rs
Due: rust-fmt, rust-clippy, esint

feat(abyss): toggle PKCE on an existing identity provider (#1513)
  core/src/domain/abyss/identity_provider_services.rs
  core/src/infrastructure/identity_provider/repositories/identity_provider_postgres_repository.rs
  front/src/api/api.client.ts
  front/src/locales/en/identity-provider.yaml
  front/src/locales/zh-CN/identity-provider.yaml
  front/src/pages/iam/identity-providers/feature/page-provider-detail-feature.tsx
  front/src/pages/iam/identity-providers/provider-update-body.test.ts
  front/src/pages/iam/identity-providers/provider-update-body.ts
  front/src/pages/iam/identity-providers/ui/page-provider-detail.tsx
  libs/ferriskey-abyss/src/identity_provider/entities.rs
  libs/ferriskey-abyss/src/identity_provider/value_objects.rs
  libs/ferriskey-api-abyss/src/identity_provider/dto.rs
  libs/ferriskey-api-abyss/src/identity_provider/handlers/update_identity_provider.rs
Due: rust-fmt, rust-clippy, esint

fix(auth): read logout participants before the session is deleted
  api/tests/backchannel_logout_test.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/backchannel_logout/entities.rs
  core/src/domain/authentication/backchannel_logout/services.rs
  core/src/infrastructure/backchannel_logout/dispatcher.rs
  core/src/infrastructure/backchannel_logout/notifying_sessions.rs
Due: rust-fmt, rust-clippy

feat: edit the oauth configuration of a provider from the console
  core/src/domain/abyss/identity_provider_services.rs
  front/src/api/api.client.ts
  front/src/components/kit/save-bar.tsx
  front/src/locales/en/identity-provider.yaml
  front/src/locales/zh-CN/identity-provider.yaml
  front/src/pages/iam/identity-providers/feature/page-provider-detail-feature.tsx
  front/src/pages/iam/identity-providers/provider-update-body.test.ts
  front/src/pages/iam/identity-providers/provider-update-body.ts
  front/src/pages/iam/identity-providers/ui/page-provider-detail.tsx
  libs/ferriskey-abyss/src/identity_provider/entities.rs
  libs/ferriskey-abyss/src/identity_provider/mod.rs
  libs/ferriskey-abyss/src/identity_provider/value_objects.rs
  libs/ferriskey-api-abyss/src/identity_provider/dto.rs
  libs/ferriskey-api-abyss/src/identity_provider/handlers/update_identity_provider.rs
Due: rust-fmt, rust-clippy, esint

feat: edit the oauth configuration of a provider from the console (#1516)
  core/src/domain/abyss/identity_provider_services.rs
  front/src/api/api.client.ts
  front/src/components/kit/save-bar.tsx
  front/src/locales/en/identity-provider.yaml
  front/src/locales/zh-CN/identity-provider.yaml
  front/src/pages/iam/identity-providers/feature/page-provider-detail-feature.tsx
  front/src/pages/iam/identity-providers/provider-update-body.test.ts
  front/src/pages/iam/identity-providers/provider-update-body.ts
  front/src/pages/iam/identity-providers/ui/page-provider-detail.tsx
  libs/ferriskey-abyss/src/identity_provider/entities.rs
  libs/ferriskey-abyss/src/identity_provider/mod.rs
  libs/ferriskey-abyss/src/identity_provider/value_objects.rs
  libs/ferriskey-api-abyss/src/identity_provider/dto.rs
  libs/ferriskey-api-abyss/src/identity_provider/handlers/update_identity_provider.rs
Due: rust-fmt, rust-clippy, esint

feat(auth): OIDC Back-Channel Logout (#1514)
  .github/workflows/integration-tests.yaml
  Cargo.lock
  api/Cargo.toml
  api/tests/backchannel_logout_test.rs
  core/migrations/20261002000000_add_backchannel_logout_to_clients.down.sql
  core/migrations/20261002000000_add_backchannel_logout_to_clients.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/authentication/backchannel_logout/entities.rs
  core/src/domain/authentication/backchannel_logout/mod.rs
  core/src/domain/authentication/backchannel_logout/ports.rs
  core/src/domain/authentication/backchannel_logout/services.rs
  core/src/domain/authentication/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/maintenance/services.rs
  core/src/domain/saml/services.rs
  core/src/domain/user/services.rs
  core/src/entity/clients.rs
  core/src/infrastructure/backchannel_logout/dispatcher.rs
  core/src/infrastructure/backchannel_logout/mod.rs
  core/src/infrastructure/backchannel_logout/notifying_sessions.rs
  core/src/infrastructure/backchannel_logout/participants.rs
  core/src/infrastructure/backchannel_logout/sender.rs
  core/src/infrastructure/backchannel_logout/signer.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/mod.rs
  libs/ferriskey-aegis/src/services/test_support.rs
  libs/ferriskey-api-authentication/src/handlers/openid_configuration.rs
  libs/ferriskey-api-client/src/handlers/update_client.rs
  libs/ferriskey-api-client/src/validators.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/value_objects.rs
Due: rust-fmt, rust-clippy

feat(console): configure back-channel logout on a client
  front/src/api/api.client.ts
  front/src/locales/en/client.yaml
  front/src/locales/zh-CN/client.yaml
  front/src/pages/iam/client/feature/client-settings-tab-feature.tsx
  front/src/pages/iam/client/schemas/update-client.schema.ts
  front/src/pages/iam/client/ui/client-settings-tab.tsx
Due: esint

feat(console): configure back-channel logout on a client (#1515)
  front/src/api/api.client.ts
  front/src/locales/en/client.yaml
  front/src/locales/zh-CN/client.yaml
  front/src/pages/iam/client/feature/client-settings-tab-feature.tsx
  front/src/pages/iam/client/schemas/update-client.schema.ts
  front/src/pages/iam/client/ui/client-settings-tab.tsx
Due: esint

fix: serve only live layouts on the public portal layout endpoint
  core/src/infrastructure/repositories/portal_layouts_repository.rs
  libs/ferriskey-api-portal-layouts/src/handlers/get_public_layout.rs
  libs/ferriskey-portal-layouts/src/ports.rs
  libs/ferriskey-portal-layouts/src/services.rs
Due: rust-fmt, rust-clippy

feat(clients): preview token claims without issuing a token
  api/tests/token_preview_test.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  front/src/api/api.client.ts
  front/src/api/client.api.ts
  front/src/locales/en/client.yaml
  front/src/locales/zh-CN/client.yaml
  front/src/pages/iam/client/feature/client-scopes-tab-feature.tsx
  front/src/pages/iam/client/ui/client-evaluate-panel.tsx
  libs/ferriskey-aegis/src/policies.rs
  libs/ferriskey-aegis/src/ports.rs
  libs/ferriskey-api-client/src/handlers.rs
  libs/ferriskey-api-client/src/handlers/token_preview.rs
  libs/ferriskey-api-client/src/router.rs
  libs/ferriskey-api-client/src/validators.rs
  libs/ferriskey-domain/src/authentication/value_objects.rs
Due: rust-fmt, rust-clippy, esint

fix: serve only live layouts on the public portal layout endpoint (#1518)
  core/src/infrastructure/repositories/portal_layouts_repository.rs
  libs/ferriskey-api-portal-layouts/src/handlers/get_public_layout.rs
  libs/ferriskey-portal-layouts/src/ports.rs
  libs/ferriskey-portal-layouts/src/services.rs
Due: rust-fmt, rust-clippy

fix: carry structured details on a compass step and index the retention sweep
  Cargo.lock
  core/migrations/20261002010000_add_details_to_compass_flow_steps.down.sql
  core/migrations/20261002010000_add_details_to_compass_flow_steps.up.sql
  core/migrations/20261002010001_index_compass_flows_for_retention.down.sql
  core/migrations/20261002010001_index_compass_flows_for_retention.up.sql
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/token_exchange/services.rs
  core/src/domain/saml/services.rs
  core/src/domain/trident/services.rs
  core/src/entity/compass_flow_steps.rs
  core/src/infrastructure/compass/mapper.rs
  libs/ferriskey-compass/Cargo.toml
  libs/ferriskey-compass/src/entities.rs
  libs/ferriskey-compass/src/recorder.rs
  libs/ferriskey-compass/src/value_objects.rs
Due: rust-fmt, rust-clippy

fix: carry structured details on a compass step and index the retention sweep (#1519)
  Cargo.lock
  core/migrations/20261002010000_add_details_to_compass_flow_steps.down.sql
  core/migrations/20261002010000_add_details_to_compass_flow_steps.up.sql
  core/migrations/20261002010001_index_compass_flows_for_retention.down.sql
  core/migrations/20261002010001_index_compass_flows_for_retention.up.sql
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/token_exchange/services.rs
  core/src/domain/saml/services.rs
  core/src/domain/trident/services.rs
  core/src/entity/compass_flow_steps.rs
  core/src/infrastructure/compass/mapper.rs
  libs/ferriskey-compass/Cargo.toml
  libs/ferriskey-compass/src/entities.rs
  libs/ferriskey-compass/src/recorder.rs
  libs/ferriskey-compass/src/value_objects.rs
Due: rust-fmt, rust-clippy

fix: record the caller address and user agent on a compass flow
  api/env.example
  api/src/main.rs
  api/tests/token_exchange_test.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/token_exchange/services.rs
  core/src/domain/authentication/token_exchange/value_objects.rs
  core/src/domain/saml/entities.rs
  core/src/domain/saml/services.rs
  libs/ferriskey-abyss/src/identity_provider/broker/value_objects.rs
  libs/ferriskey-api-authentication/src/handlers/auth.rs
  libs/ferriskey-api-authentication/src/handlers/token.rs
  libs/ferriskey-api-broker/src/handlers/callback.rs
  libs/ferriskey-api-core/src/args.rs
  libs/ferriskey-api-core/src/lib.rs
  libs/ferriskey-api-core/src/request_context.rs
  libs/ferriskey-api-saml/src/handlers/sso.rs
  libs/ferriskey-domain/src/authentication/entities.rs
Due: rust-fmt, rust-clippy

fix: record the caller address and user agent on a compass flow (#1526)
  api/env.example
  api/src/main.rs
  api/tests/token_exchange_test.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/token_exchange/services.rs
  core/src/domain/authentication/token_exchange/value_objects.rs
  core/src/domain/saml/entities.rs
  core/src/domain/saml/services.rs
  libs/ferriskey-abyss/src/identity_provider/broker/value_objects.rs
  libs/ferriskey-api-authentication/src/handlers/auth.rs
  libs/ferriskey-api-authentication/src/handlers/token.rs
  libs/ferriskey-api-broker/src/handlers/callback.rs
  libs/ferriskey-api-core/src/args.rs
  libs/ferriskey-api-core/src/lib.rs
  libs/ferriskey-api-core/src/request_context.rs
  libs/ferriskey-api-saml/src/handlers/sso.rs
  libs/ferriskey-domain/src/authentication/entities.rs
Due: rust-fmt, rust-clippy

fix: bind a consent token to the browser session that owns it
  Cargo.lock
  api/tests/consent_test.rs
  core/src/application/consent/mod.rs
  core/src/domain/authentication/services.rs
  libs/ferriskey-api-consent/Cargo.toml
  libs/ferriskey-api-consent/src/handlers/get_consent.rs
  libs/ferriskey-api-consent/src/handlers/post_consent.rs
Due: rust-fmt, rust-clippy

test: register a redirect uri and assert consent persistence in the consent suite
  api/tests/consent_test.rs
Due: rust-fmt, rust-clippy

fix: enforce consent on every finalization path and consume its token atomically
  api/tests/consent_test.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

refactor: store consent scope decisions in their own table
  core/migrations/20261002020000_create_consent_sessions.down.sql
  core/migrations/20261002020000_create_consent_sessions.up.sql
  core/src/entity/consent_session_scopes.rs
  core/src/entity/consent_sessions.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/infrastructure/consent/repositories/consent_decision_postgres_repository.rs
Due: rust-fmt, rust-clippy

feat: add a themeable consent screen to the portal
  core/migrations/20261002030000_portal_themes_add_consent_page.down.sql
  core/migrations/20261002030000_portal_themes_add_consent_page.up.sql
  core/src/entity/portal_themes.rs
  core/src/infrastructure/repositories/portal_theme_repository.rs
  front/src/api/api.client.ts
  front/src/api/consent.api.ts
  front/src/lib/builder-portal/components.tsx
  front/src/lib/builder-portal/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-portal/default-pages.ts
  front/src/lib/builder-portal/presets.ts
  front/src/lib/builder-portal/renderer.tsx
  front/src/lib/builder-portal/visual-blocks/visual-block-registry.tsx
  front/src/locales/en/auth.yaml
  front/src/locales/en/portal.yaml
  front/src/locales/zh-CN/auth.yaml
  front/src/locales/zh-CN/portal.yaml
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/authentication/constants.ts
  front/src/pages/authentication/feature/page-consent-feature.tsx
  front/src/pages/authentication/hooks/use-portal-page-submit.ts
  front/src/pages/authentication/page-authentication.tsx
  front/src/pages/authentication/ui/page-consent.tsx
  front/src/pages/authentication/utils/consent-decision.test.ts
  front/src/pages/authentication/utils/consent-decision.ts
  front/src/pages/iam/portal/portal-pages.ts
  libs/ferriskey-portal-theme/src/entities.rs
  libs/ferriskey-portal-theme/src/validation.rs
Due: rust-fmt, rust-clippy, esint

feat: add a themeable consent screen to the portal (#1529)
  core/migrations/20261002030000_portal_themes_add_consent_page.down.sql
  core/migrations/20261002030000_portal_themes_add_consent_page.up.sql
  core/src/entity/portal_themes.rs
  core/src/infrastructure/repositories/portal_theme_repository.rs
  front/src/api/api.client.ts
  front/src/api/consent.api.ts
  front/src/lib/builder-portal/components.tsx
  front/src/lib/builder-portal/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-portal/default-pages.ts
  front/src/lib/builder-portal/presets.ts
  front/src/lib/builder-portal/renderer.tsx
  front/src/lib/builder-portal/visual-blocks/visual-block-registry.tsx
  front/src/locales/en/auth.yaml
  front/src/locales/en/portal.yaml
  front/src/locales/zh-CN/auth.yaml
  front/src/locales/zh-CN/portal.yaml
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/authentication/constants.ts
  front/src/pages/authentication/feature/page-consent-feature.tsx
  front/src/pages/authentication/hooks/use-portal-page-submit.ts
  front/src/pages/authentication/page-authentication.tsx
  front/src/pages/authentication/ui/page-consent.tsx
  front/src/pages/authentication/utils/consent-decision.test.ts
  front/src/pages/authentication/utils/consent-decision.ts
  front/src/pages/iam/portal/portal-pages.ts
  libs/ferriskey-portal-theme/src/entities.rs
  libs/ferriskey-portal-theme/src/validation.rs
Due: rust-fmt, rust-clippy, esint

chore: bump version to 0.9.0
  Cargo.lock
  Cargo.toml
  charts/ferriskey-operator/Chart.yaml
  charts/ferriskey-operator/README.md
  charts/ferriskey-operator/README.md.gotmpl
  charts/ferriskey/Chart.yaml
  charts/ferriskey/README.md
  front/package.json
Due: rust-clippy

chore: bump version to 0.9.0 (#1530)
  Cargo.lock
  Cargo.toml
  charts/ferriskey-operator/Chart.yaml
  charts/ferriskey-operator/README.md
  charts/ferriskey-operator/README.md.gotmpl
  charts/ferriskey/Chart.yaml
  charts/ferriskey/README.md
  front/package.json
Due: rust-clippy

feat: add shared pagination types to the domain
  core/src/domain/common/mod.rs
  core/src/domain/common/pagination.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-domain/src/common/mod.rs
  libs/ferriskey-domain/src/common/pagination.rs
Due: rust-fmt, rust-clippy

feat: add the paginated listing extractor and sql helper
  Cargo.lock
  core/src/infrastructure/mod.rs
  core/src/infrastructure/pagination.rs
  libs/ferriskey-api-core/Cargo.toml
  libs/ferriskey-api-core/src/api_entities.rs
  libs/ferriskey-api-core/src/api_entities/list_query.rs
  libs/ferriskey-api-core/src/api_entities/paginated.rs
Due: rust-fmt, rust-clippy

feat: add the url-backed paged listing state
  front/src/components/kit/index.ts
  front/src/components/kit/listing-query-state.test.ts
  front/src/components/kit/listing-query-state.ts
  front/src/components/kit/use-paged-listing.ts
Due: esint

fix: cancel pending listing drafts on filter changes
  front/src/components/kit/use-paged-listing.ts
Due: esint

feat: add server-driven sorting, filtering and paging to the listing kit
  front/src/components/kit/DataView.tsx
  front/src/components/kit/FilterBar.tsx
  front/src/components/kit/ListingPage.tsx
  front/src/components/kit/PaginationBar.tsx
  front/src/components/kit/RelationSelect.tsx
  front/src/components/kit/index.ts
  front/src/locales/en/common.yaml
  front/src/locales/zh-CN/common.yaml
Due: esint

fix: reset relation select search on close
  front/src/components/kit/FilterBar.tsx
  front/src/components/kit/RelationSelect.tsx
Due: esint

fix: drop the parenthesised escape clause from the contains filter
  core/src/infrastructure/pagination.rs
Due: rust-fmt, rust-clippy

feat: add the shared paginated listing contract (#1552)
  Cargo.lock
  core/src/domain/common/mod.rs
  core/src/domain/common/pagination.rs
  core/src/infrastructure/mod.rs
  core/src/infrastructure/pagination.rs
  front/src/components/kit/DataView.tsx
  front/src/components/kit/FilterBar.tsx
  front/src/components/kit/ListingPage.tsx
  front/src/components/kit/PaginationBar.tsx
  front/src/components/kit/RelationSelect.tsx
  front/src/components/kit/index.ts
  front/src/components/kit/listing-query-state.test.ts
  front/src/components/kit/listing-query-state.ts
  front/src/components/kit/use-paged-listing.ts
  front/src/locales/en/common.yaml
  front/src/locales/zh-CN/common.yaml
  libs/ferriskey-api-core/Cargo.toml
  libs/ferriskey-api-core/src/api_entities.rs
  libs/ferriskey-api-core/src/api_entities/list_query.rs
  libs/ferriskey-api-core/src/api_entities/paginated.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-domain/src/common/mod.rs
  libs/ferriskey-domain/src/common/pagination.rs
Due: rust-fmt, rust-clippy, esint

refactor: remove the unused users-by-realm repository method
  core/src/infrastructure/user/repository.rs
  libs/ferriskey-domain/src/user/ports.rs
Due: rust-fmt, rust-clippy

refactor: memoize the inherited whitelist user ids
  front/src/pages/iam/client/feature/client-maintenance-tab-feature.tsx
Due: esint

feat: resolve console users by id in batches through the listing
  front/src/api/api.client.ts
  front/src/api/user-ids.test.ts
  front/src/api/user-ids.ts
  front/src/api/user.api.ts
Due: esint

feat: filter the users listing by ids
  api/tests/users_listing_test.rs
  core/src/infrastructure/user/repository.rs
  libs/ferriskey-api-user/src/handlers/get_users.rs
  libs/ferriskey-domain/src/user/entities.rs
Due: rust-fmt, rust-clippy

feat: page, sort and filter the users listing in the console
  front/src/api/api.client.ts
  front/src/api/role.relation.ts
  front/src/api/user.api.ts
  front/src/api/user.relation.ts
  front/src/components/kit/EntityPicker.tsx
  front/src/hooks/use-realm-directory.ts
  front/src/hooks/use-user-picker.ts
  front/src/locales/en/client.yaml
  front/src/locales/en/console.yaml
  front/src/locales/en/user.yaml
  front/src/locales/zh-CN/client.yaml
  front/src/locales/zh-CN/console.yaml
  front/src/locales/zh-CN/user.yaml
  front/src/pages/ciam/activity/feature/page-live-feature.tsx
  front/src/pages/ciam/activity/feature/page-logs-feature.tsx
  front/src/pages/ciam/activity/feature/page-messages-feature.tsx
  front/src/pages/ciam/activity/feature/page-sessions-feature.tsx
  front/src/pages/ciam/user-management/feature/page-identities-feature.tsx
  front/src/pages/ciam/user-management/feature/page-organization-detail-feature.tsx
  front/src/pages/ciam/user-management/ui/page-identities.tsx
  front/src/pages/iam/client/feature/client-maintenance-tab-feature.tsx
  front/src/pages/iam/client/feature/client-scopes-tab-feature.tsx
  front/src/pages/iam/client/ui/client-evaluate-panel.tsx
  front/src/pages/iam/client/ui/client-maintenance-tab.tsx
  front/src/pages/iam/compass/feature/page-flows-feature.tsx
  front/src/pages/iam/organization/feature/page-organization-detail-feature.tsx
  front/src/pages/iam/organization/feature/page-organization-groups-feature.tsx
  front/src/pages/iam/organization/ui/organization-members-tab.tsx
  front/src/pages/iam/organization/ui/page-organization-detail.tsx
  front/src/pages/iam/overview/feature/page-overview-feature.tsx
  front/src/pages/iam/realm/feature/page-realm-settings-feature.tsx
  front/src/pages/iam/realm/ui/page-realm-settings.tsx
  front/src/pages/iam/realm/ui/realm-maintenance-tab.tsx
  front/src/pages/iam/seawatch/feature/page-security-events-feature.tsx
  front/src/pages/iam/user/feature/page-users-overview-feature.tsx
  front/src/pages/iam/user/ui/page-users-overview.tsx
Due: esint

feat: paginate the users listing
  .github/workflows/integration-tests.yaml
  api/tests/users_listing_test.rs
  core/src/application/user/mod.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/mod.rs
  core/src/infrastructure/user/repository.rs
  libs/ferriskey-api-user/src/handlers/get_users.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-domain/src/user/entities.rs
  libs/ferriskey-domain/src/user/ports.rs
Due: rust-fmt, rust-clippy
