Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

feat: wrap Identity Providers page with ComingSoon
  front/src/pages/identity-providers/ui/page-overview.tsx
Due: esint

fix: constrain page height and enable scrolling
  front/src/components/ui/coming-soon.tsx
  front/src/pages/identity-providers/ui/page-overview.tsx
  front/src/pages/seawatch/ui/page-overview.tsx
Due: esint

feat: update data
  front/src/pages/identity-providers/ui/page-overview.tsx
Due: esint

feat: add Identity providers overview page (#550)
  front/src/App.tsx
  front/src/components/nav-configuration.tsx
  front/src/components/ui/coming-soon.tsx
  front/src/pages/identity-providers/feature/page-overview-feature.tsx
  front/src/pages/identity-providers/page-identity-providers.tsx
  front/src/pages/identity-providers/ui/index.ts
  front/src/pages/identity-providers/ui/page-overview.tsx
  front/src/pages/seawatch/ui/page-overview.tsx
  front/src/routes/sub-router/identity-providers.router.ts
Due: esint

refactor: extract and centralize shared TypeScript types
  front/src/pages/overview/feature/page-home-feature.tsx
  front/src/pages/overview/ui/page-home.tsx
  front/src/types/api.types.ts
  front/src/types/home.types.ts
  front/src/types/index.ts
Due: esint

fix: refactor clients bar chart to show active/inactive
  front/src/pages/overview/ui/page-home.tsx
Due: esint

feat: move data fetching to PageHomeFeature
  front/src/pages/overview/feature/page-home-feature.tsx
  front/src/pages/overview/ui/page-home.tsx
Due: esint

feat: add Recharts and charts to Home dashboard
  front/package.json
  front/pnpm-lock.yaml
  front/src/components/ui/card.tsx
  front/src/components/ui/chart.tsx
  front/src/pages/overview/ui/page-home.tsx
Due: esint

feat: enhance dashboard page (#546)
  front/package.json
  front/pnpm-lock.yaml
  front/src/components/ui/card.tsx
  front/src/components/ui/chart.tsx
  front/src/pages/overview/feature/page-home-feature.tsx
  front/src/pages/overview/ui/page-home.tsx
  front/src/types/api.types.ts
  front/src/types/home.types.ts
  front/src/types/index.ts
Due: esint

feat: add traces export to otel grpc endpoint
  Cargo.lock
  README.md
  api/Cargo.toml
  api/src/bin/ferriskey-server.rs
Due: rust-fmt, rust-clippy

feat: add otlp metrics exporter
  api/src/bin/ferriskey-server.rs
Due: rust-fmt, rust-clippy

feat: add com in toml
  core/Cargo.toml
Due: rust-clippy

clean: edit readme
  README.md
Due: none

feat: add otlp_endpoint and prometheus endpoint to args
  api/src/args.rs
  api/src/bin/ferriskey-server.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

feat: remove global, as we directly use tracing for traces + metrics
  api/src/bin/ferriskey-server.rs
Due: rust-fmt, rust-clippy

fixup!: make the endpoint optional
  api/src/args.rs
  api/src/bin/ferriskey-server.rs
Due: rust-fmt, rust-clippy

fixup!: add active observability flag to ObservabilityArgs and update tracing initialization
  api/src/application/http/server/app_state.rs
  api/src/args.rs
  api/src/bin/ferriskey-server.rs
Due: rust-fmt, rust-clippy

feat: add instrument for get_realm_by_name and called methods
  api/src/args.rs
  api/src/bin/ferriskey-server.rs
  core/src/domain/common/policies.rs
  core/src/domain/realm/policies.rs
  core/src/domain/role/entities/permission.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/user/repositories/user_role_repository.rs
  core/src/infrastructure/user/repository.rs
Due: rust-fmt, rust-clippy

fixup!: Make otel endpoint optional
  api/src/args.rs
Due: rust-fmt, rust-clippy

feat: Add instrumentation to get_realm and the called methods
  Cargo.lock
  api/src/application/http/server/app_state.rs
  core/Cargo.toml
  core/src/application/realm/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/ports.rs
  core/src/domain/client/services.rs
  core/src/domain/common/policies.rs
  core/src/domain/common/services.rs
  core/src/domain/credential/services.rs
  core/src/domain/health/services.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/ports.rs
  core/src/domain/role/services.rs
  core/src/domain/seawatch/services.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/ports.rs
  core/src/domain/user/services.rs
  core/src/domain/webhook/ports.rs
  core/src/domain/webhook/services.rs
  core/src/infrastructure/health/repositories.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
  core/src/infrastructure/repositories/random_bytes_recovery_code.rs
Due: rust-fmt, rust-clippy

feat: add open-telemetry observability (#537)
  Cargo.lock
  api/Cargo.toml
  api/src/args.rs
  api/src/bin/ferriskey-server.rs
  core/Cargo.toml
  core/src/application/realm/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/ports.rs
  core/src/domain/client/services.rs
  core/src/domain/common/policies.rs
  core/src/domain/common/services.rs
  core/src/domain/credential/services.rs
  core/src/domain/health/services.rs
  core/src/domain/realm/policies.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/entities/permission.rs
  core/src/domain/role/ports.rs
  core/src/domain/role/services.rs
  core/src/domain/seawatch/services.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/ports.rs
  core/src/domain/user/services.rs
  core/src/domain/webhook/ports.rs
  core/src/domain/webhook/services.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/health/repositories.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
  core/src/infrastructure/repositories/random_bytes_recovery_code.rs
  core/src/infrastructure/user/repositories/user_role_repository.rs
  core/src/infrastructure/user/repository.rs
Due: rust-fmt, rust-clippy

feat(confirm-delete): add reusable ConfirmDeleteAlert component and useConfirmDeleteAlert hook
  front/src/components/confirm-delete-alert.tsx
  front/src/hooks/use-confirm-delete-alert.ts
Due: esint

added shadcn-alert insted of tailwind css
  front/package.json
  front/pnpm-lock.yaml
  front/src/components/confirm-delete-alert.tsx
  front/src/components/ui/alert-dialog.tsx
  front/src/components/ui/data-table.tsx
Due: esint

feat(tables): integrate ConfirmDeleteAlert in client, user, and role tables
  front/src/pages/client/ui/page-clients-overview.tsx
  front/src/pages/role/ui/page-roles-overview.tsx
  front/src/pages/user/ui/page-users-overview.tsx
Due: esint

feat: test signed commit
  front/src/components/confirm-delete-alert.tsx
Due: esint

fixed white space
  front/src/pages/client/ui/page-clients-overview.tsx
  front/src/pages/user/ui/page-users-overview.tsx
Due: esint

feature: delete confirmation dialog (#551)
  front/package.json
  front/pnpm-lock.yaml
  front/src/components/confirm-delete-alert.tsx
  front/src/components/ui/alert-dialog.tsx
  front/src/components/ui/data-table.tsx
  front/src/hooks/use-confirm-delete-alert.ts
  front/src/pages/client/ui/page-clients-overview.tsx
  front/src/pages/role/ui/page-roles-overview.tsx
  front/src/pages/user/ui/page-users-overview.tsx
Due: esint

fix: change auth_sessions state and nonce to TEXT
  core/migrations/20251128072713_alter_auth_sessions_state_nonce_to_text.down.sql
  core/migrations/20251128072713_alter_auth_sessions_state_nonce_to_text.up.sql
Due: none

fix: change auth_sessions state and nonce to text type (#556)
  core/migrations/20251128072713_alter_auth_sessions_state_nonce_to_text.down.sql
  core/migrations/20251128072713_alter_auth_sessions_state_nonce_to_text.up.sql
Due: none

reacftor:changed button color at create realm modal
  front/src/components/realm-switcher.tsx
Due: esint

fix: upgrade dependencies and update lockfile
  front/package.json
  front/pnpm-lock.yaml
  front/src/utils/index.ts
Due: esint

refactor: changed button color at create realm modal (#558)
  front/src/components/realm-switcher.tsx
Due: esint

fix: prefix user routes with server root path
  api/src/application/http/user/router.rs
Due: rust-fmt, rust-clippy

fix: prefix user routes with server root path (#562)
  api/src/application/http/user/router.rs
Due: rust-fmt, rust-clippy

feat: Add LDAP providers entity and mappers
  core/migrations/20251105100544_create_ldap_providers.up.sql
  core/src/domain/abyss/entities/ldap_provider.rs
  core/src/entity/ldap_providers.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realms.rs
  core/src/infrastructure/abyss/mappers/ldap_postgres.rs
  core/src/infrastructure/abyss/mappers/mod.rs
  core/src/infrastructure/abyss/mod.rs
  core/src/infrastructure/abyss/repositories/pg_ldap.rs
Due: rust-fmt, rust-clippy

feat: Add LDAP provider support
  core/migrations/20251105100544_create_ldap_providers.down.sql
  core/migrations/20251105100544_create_ldap_providers.up.sql
  core/src/application/mod.rs
  core/src/domain/abyss/entities/ldap_provider.rs
  core/src/domain/abyss/entities/ldap_user.rs
  core/src/domain/abyss/entities/mod.rs
  core/src/domain/abyss/mod.rs
  core/src/domain/abyss/ports/ldap.rs
  core/src/domain/abyss/ports/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/services/authenticate.rs
  core/src/domain/authentication/services/grant_type_service.rs
  core/src/domain/client/services.rs
  core/src/domain/mod.rs
  core/src/infrastructure/abyss/mod.rs
  core/src/infrastructure/abyss/repositories/ldap.rs
  core/src/infrastructure/abyss/repositories/mod.rs
  core/src/infrastructure/abyss/repositories/pg_ldap.rs
  core/src/infrastructure/mod.rs
Due: rust-fmt, rust-clippy

feat: add federation pages, nav item, bump lucide-react
  front/package.json
  front/pnpm-lock.yaml
  front/src/components/nav-configuration.tsx
  front/src/pages/federation/feature/page-federation-create-feature.tsx
  front/src/pages/federation/page-federation.tsx
Due: esint

fix: add LDAP generics to Service and impls
  core/src/domain/authentication/services/authenticate.rs
  core/src/domain/authentication/services/grant_type_service.rs
  core/src/domain/seawatch/services.rs
Due: rust-fmt, rust-clippy

feat: add ldap3 dependency and stubs
  Cargo.lock
  core/Cargo.toml
  core/src/application/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
  core/src/domain/seawatch/services.rs
  core/src/infrastructure/abyss/repositories/ldap.rs
  core/src/infrastructure/abyss/repositories/pg_ldap.rs
Due: rust-fmt, rust-clippy

added passeord validation rules : one uppercase letter,one number,one special character
  front/src/pages/user/schemas/index.ts
Due: esint
