Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

feat: remove unnecessary clone for realm ID
  core/src/application/client/use_cases/create_client_use_case.rs
Due: rust-fmt, rust-clippy

fix: document webhook_id path parameter in OpenAPI spec
  api/src/application/http/webhook/handlers/get_webhook.rs
Due: rust-fmt, rust-clippy

fix: upgrade lucide-react from 0.483.0 to 0.539.0
  front/package.json
Due: none

feat: add webhook notifications for role actions
  .gitignore
  core/src/application/role/use_cases.rs
  core/src/application/role/use_cases/update_role_permissions_use_case.rs
  core/src/application/role/use_cases/update_role_use_case.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
Due: rust-fmt, rust-clippy

feat: add webhook notifications to realm operations
  core/src/application/common/factories.rs
  core/src/application/realm/use_cases/create_realm_use_case.rs
  core/src/application/realm/use_cases/delete_realm_use_case.rs
  core/src/application/realm/use_cases/update_realm_settings_use_case.rs
  core/src/application/realm/use_cases/update_realm_use_case.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
Due: rust-fmt, rust-clippy

feat: add webhook notifications for webhook CRUD operations
  core/src/application/webhook/use_cases.rs
  core/src/application/webhook/use_cases/create_webhook_use_case.rs
  core/src/application/webhook/use_cases/delete_webhook_use_case.rs
  core/src/application/webhook/use_cases/update_webhook_use_case.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
Due: rust-fmt, rust-clippy

feat: move to one thread and add dynamic payload under the webhook request
  core/src/domain/webhook/entities/webhook_payload.rs
  core/src/domain/webhook/ports.rs
  core/src/domain/webhook/services/webhook_notifier_service.rs
Due: rust-fmt, rust-clippy

feat: improve webhook notification error handling
  api/src/application/http/client/errors.rs
  core/src/application/client/use_cases.rs
  core/src/application/client/use_cases/create_client_use_case.rs
  core/src/application/client/use_cases/create_redirect_uri_use_case.rs
  core/src/application/client/use_cases/create_role_use_case.rs
  core/src/application/client/use_cases/delete_client_use_case.rs
  core/src/application/client/use_cases/delete_redirect_uri_use_case.rs
  core/src/application/client/use_cases/update_client_use_case.rs
  core/src/application/client/use_cases/update_redirect_uri_use_case.rs
  core/src/domain/client/entities.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
Due: rust-fmt, rust-clippy

feat: add webhook notification error handling
  api/src/application/http/realm/errors.rs
  core/src/application/realm/use_cases/create_realm_use_case.rs
  core/src/application/realm/use_cases/delete_realm_use_case.rs
  core/src/application/realm/use_cases/update_realm_settings_use_case.rs
  core/src/application/realm/use_cases/update_realm_use_case.rs
  core/src/domain/realm/entities.rs
Due: rust-fmt, rust-clippy

feat: improve webhook error handling for roles
  api/src/application/http/role/errors.rs
  core/src/application/role/use_cases/update_role_permissions_use_case.rs
  core/src/application/role/use_cases/update_role_use_case.rs
  core/src/domain/role/entities.rs
Due: rust-fmt, rust-clippy

feat: add webhook notification error handling
  api/src/application/http/user/errors.rs
  core/src/application/user/use_cases/assign_role_use_case.rs
  core/src/application/user/use_cases/bulk_delete_user.rs
  core/src/application/user/use_cases/create_user_use_case.rs
  core/src/application/user/use_cases/delete_credential_use_case.rs
  core/src/application/user/use_cases/delete_user_use_case.rs
  core/src/application/user/use_cases/reset_password_use_case.rs
  core/src/application/user/use_cases/unassign_role_use_case.rs
  core/src/application/user/use_cases/update_user_use_case.rs
  core/src/domain/user/entities.rs
Due: rust-fmt, rust-clippy

fix: realm id cloning in redirect URI operations
  core/src/application/client/use_cases/create_redirect_uri_use_case.rs
  core/src/application/client/use_cases/delete_redirect_uri_use_case.rs
Due: rust-fmt, rust-clippy

refactor: rename misleading realm_name variable name
  core/src/application/client/use_cases/create_redirect_uri_use_case.rs
  core/src/application/client/use_cases/delete_redirect_uri_use_case.rs
Due: rust-fmt, rust-clippy

wip
  core/src/domain/webhook/entities/webhook_subscriber.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
  core/src/infrastructure/repositories/webhook_repository.rs
  core/src/infrastructure/webhook/mappers.rs
Due: rust-fmt, rust-clippy

fix: subscriber mapping and error handling in webhook repository
  core/src/infrastructure/repositories/webhook_repository.rs
  core/src/infrastructure/webhook/mappers.rs
Due: rust-fmt, rust-clippy

refactor: move repository into dedicated domain
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/webhook_repository.rs
  core/src/infrastructure/webhook/repository.rs
Due: rust-fmt, rust-clippy

refactor: reorganize realm infrastructure module structure
  core/src/application/common/services.rs
  core/src/infrastructure/realm/mappers.rs
  core/src/infrastructure/realm/mappers/realm_mapper.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/mod.rs
  core/src/infrastructure/realm/repositories.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/repositories.rs
Due: rust-fmt, rust-clippy

refactor: move client repository to better location
  core/src/application/common/services.rs
  core/src/infrastructure/client/mappers.rs
  core/src/infrastructure/client/mod.rs
  core/src/infrastructure/client/repositories.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/repositories.rs
Due: rust-fmt, rust-clippy

feat: split client mappers into separate modules
  core/src/infrastructure/client/mappers.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/mappers/redirect_uri_mapper.rs
  core/src/infrastructure/client/repositories.rs
  core/src/infrastructure/client/repositories/redirect_uri_postgres_repository.rs
  core/src/infrastructure/repositories.rs
Due: rust-fmt, rust-clippy

refactor: refactor role module structure
  core/src/application/common/services.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/role/mapper.rs
  core/src/infrastructure/role/mod.rs
  core/src/infrastructure/role/repositories.rs
  core/src/infrastructure/role/repositories/role_postgres_repository.rs
Due: rust-fmt, rust-clippy

refactor: remove unused user session repository module
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/user_session_repository.rs
Due: rust-fmt, rust-clippy

feat: add name and description columns to webhooks table
  core/migrations/20250823153601_add_name_and_description_to_webhook.down.sql
  core/migrations/20250823153601_add_name_and_description_to_webhook.up.sql
Due: none

feat: add name and description fields to webhooks
  api/src/application/http/webhook/handlers/create_webhook.rs
  api/src/application/http/webhook/validators.rs
  core/src/application/webhook/use_cases/create_webhook_use_case.rs
  core/src/domain/webhook/ports.rs
  core/src/domain/webhook/services/webhook_service.rs
  core/src/entity/clients.rs
  core/src/entity/webhooks.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/webhook/repository.rs
Due: rust-fmt, rust-clippy

feat: add name and description fields to webhook update API
  api/src/application/http/webhook/handlers/update_webhook.rs
  api/src/application/http/webhook/validators.rs
  core/src/application/webhook/use_cases/update_webhook_use_case.rs
  core/src/domain/webhook/ports.rs
  core/src/domain/webhook/services/webhook_service.rs
  core/src/infrastructure/webhook/repository.rs
Due: rust-fmt, rust-clippy

ci(docker): avoid running if no important files changed
  .dockerignore
  .github/workflows/docker.yaml
Due: none

ci(release): refactor
  .github/release-drafter.yml
  .github/release.yaml
  .github/workflows/release-candidate.yaml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yaml
Due: none

ci(helm): add
  .github/workflows/helm.yaml
Due: none

api: add support of tls
  Cargo.lock
  api/Cargo.toml
  api/src/args.rs
  api/src/bin/ferriskey-server.rs
Due: rust-fmt, rust-clippy

feat(realm): get realm settings through api
  api/src/application/http/realm/handlers.rs
  api/src/application/http/realm/handlers/get_user_realm_settings.rs
  api/src/application/http/realm/router.rs
  core/src/application/common/factories.rs
  core/src/application/realm/use_cases.rs
  core/src/application/realm/use_cases/get_user_realms_settings_use_case.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/infrastructure/realm/mod.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
Due: rust-fmt, rust-clippy

feat: using policy for realm settings
  core/src/application/common/factories.rs
  core/src/application/realm/use_cases/get_user_realms_settings_use_case.rs
  core/src/infrastructure/realm/mod.rs
  core/src/infrastructure/realm/repositories.rs
Due: rust-fmt, rust-clippy

chore: removed unnecessary clone
  core/src/application/realm/use_cases/get_user_realms_settings_use_case.rs
Due: rust-fmt, rust-clippy

chore: removed unnecessary realm fetch
  core/src/application/realm/use_cases/get_user_realms_settings_use_case.rs
Due: rust-fmt, rust-clippy

fix: recovery of the realm to give it to the policy
  core/src/application/realm/use_cases/get_user_realms_settings_use_case.rs
Due: rust-fmt, rust-clippy

feat: add webhook creation form and event subscription UI
  front/src/pages/realm/feature/page-realm-settings-create-webhook-feature.tsx
  front/src/pages/realm/feature/page-realm-settings-webhooks-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-create-webhook.tsx
  front/src/pages/realm/validators.ts
Due: esint

feat: add webhook name and description fields and implement delete webhook API on frontend
  api/src/application/http/webhook/handlers/delete_webhook.rs
  core/src/domain/webhook/entities/webhook.rs
  core/src/infrastructure/webhook/mappers.rs
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
  front/src/api/webhook.api.ts
  front/src/pages/realm/columns/list-webhooks.column.tsx
  front/src/pages/realm/feature/page-realm-settings-create-webhook-feature.tsx
  front/src/pages/realm/feature/page-realm-settings-webhooks-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-create-webhook.tsx
  front/src/pages/realm/ui/page-realm-settings-webhooks.tsx
  front/src/pages/realm/validators.ts
Due: rust-fmt, rust-clippy, esint

feat: add webhook list and create pages to realm settings
  api/src/application/http/webhook/handlers/fetch_webhook.rs
  front/src/api/webhook.api.ts
  front/src/pages/realm/feature/page-realm-settings-create-webhook-feature.tsx
  front/src/pages/realm/feature/page-realm-settings-webhooks-feature.tsx
  front/src/pages/realm/page-realm.tsx
  front/src/pages/realm/ui/page-realm-settings-webhooks.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
Due: rust-fmt, rust-clippy, esint

feat: add webhook creation UI and update API types
  front/src/api/api.client.ts
  front/src/pages/realm/feature/page-realm-settings-create-webhook-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-create-webhook.tsx
Due: esint

feat: add webhook creation UI and API integration
  api/src/application/http/webhook/handlers/create_webhook.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
  core/src/infrastructure/webhook/repository.rs
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
  front/src/api/webhook.api.ts
  front/src/pages/realm/columns/list-webhooks.column.tsx
  front/src/pages/realm/feature/page-realm-settings-create-webhook-feature.tsx
  front/src/pages/realm/feature/page-realm-settings-webhooks-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-create-webhook.tsx
  front/src/pages/realm/ui/page-realm-settings-webhooks.tsx
  front/src/pages/realm/validators.ts
  front/src/utils/webhook-utils.ts
Due: rust-fmt, rust-clippy, esint

feat: add webhooks settings page and API types for realm webhooks
  front/src/pages/realm/columns/list-webhooks.column.tsx
  front/src/pages/realm/feature/page-realm-settings-webhooks-feature.tsx
  front/src/pages/realm/layouts/realm-settings-layout.tsx
  front/src/pages/realm/page-realm.tsx
  front/src/pages/realm/ui/page-realm-settings-webhooks.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
Due: esint
