Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

fix: inline the users sort field in the openapi document
  libs/ferriskey-api-user/src/handlers/get_users.rs
Due: rust-fmt, rust-clippy

fix(api): build the prometheus layer once per process
  api/src/application/http/server/http_server.rs
Due: rust-fmt, rust-clippy

fix(auth): answer invalid_grant when a refresh token is replayed
  api/tests/refresh_token_rotation_test.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

test(api): bring the stale integration suites back in line with the api
  api/tests/organization_test.rs
  api/tests/pkce_test.rs
  api/tests/portal_theme_test.rs
  api/tests/token_basic_auth_test.rs
Due: rust-fmt, rust-clippy

fix: make the integration suites pass again (#1564)
  api/src/application/http/server/http_server.rs
  api/tests/organization_test.rs
  api/tests/pkce_test.rs
  api/tests/portal_theme_test.rs
  api/tests/refresh_token_rotation_test.rs
  api/tests/token_basic_auth_test.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat: paginate the realms listing
  .github/workflows/integration-tests.yaml
  api/tests/realms_listing_test.rs
  core/src/application/realm/mod.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  libs/ferriskey-api-realm/src/handlers/get_user_realms.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/realm/ports.rs
Due: rust-fmt, rust-clippy

test: list every tenant realm regardless of page size
  api/tests/realm_cross_realm_test.rs
Due: rust-fmt, rust-clippy

feat: search the realm switcher on the server
  front/src/api/api.client.ts
  front/src/api/realm.api.ts
  front/src/components/shell/ciam/console-shell.tsx
  front/src/components/shell/iam/app-shell.tsx
  front/src/components/shell/realm-picker.tsx
  front/src/store/realm.store.ts
Due: esint

feat: paginate the realms listing (#1554)
  .github/workflows/integration-tests.yaml
  api/tests/realm_cross_realm_test.rs
  api/tests/realms_listing_test.rs
  core/src/application/realm/mod.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  front/src/api/api.client.ts
  front/src/api/realm.api.ts
  front/src/components/shell/ciam/console-shell.tsx
  front/src/components/shell/iam/app-shell.tsx
  front/src/components/shell/realm-picker.tsx
  front/src/store/realm.store.ts
  libs/ferriskey-api-realm/src/handlers/get_user_realms.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/realm/ports.rs
Due: rust-fmt, rust-clippy, esint

feat: filter the roles listing by scope and granted permissions
  api/tests/roles_listing_test.rs
  core/src/domain/role/entities.rs
  core/src/infrastructure/role/repositories/role_postgres_repository.rs
  libs/ferriskey-api-role/src/handlers/get_roles.rs
  libs/ferriskey-domain/src/role/entities.rs
Due: rust-fmt, rust-clippy

refactor: share the id list parser across listings
  libs/ferriskey-api-core/src/api_entities/list_query.rs
  libs/ferriskey-api-role/src/handlers/get_roles.rs
  libs/ferriskey-api-user/src/handlers/get_users.rs
Due: rust-fmt, rust-clippy

feat: search roles on the server in the console pickers
  front/src/hooks/event-role-ids.test.ts
  front/src/hooks/event-role-ids.ts
  front/src/hooks/use-realm-directory.ts
  front/src/hooks/use-role-picker.ts
  front/src/pages/ciam/activity/feature/page-logs-feature.tsx
  front/src/pages/ciam/activity/feature/page-messages-feature.tsx
  front/src/pages/ciam/activity/feature/page-sessions-feature.tsx
  front/src/pages/iam/client-scope/feature/mapper-entity-sources.ts
  front/src/pages/iam/client-scope/feature/page-create-protocol-mapper-feature.tsx
  front/src/pages/iam/client-scope/feature/page-protocol-mapper-settings-feature.tsx
  front/src/pages/iam/client-scope/feature/use-mapper-entity-options.ts
  front/src/pages/iam/client-scope/ui/mapper-config-fields.tsx
  front/src/pages/iam/client-scope/ui/mapper-entity-field.tsx
  front/src/pages/iam/client/feature/client-maintenance-tab-feature.tsx
  front/src/pages/iam/client/ui/client-maintenance-tab.tsx
  front/src/pages/iam/organization/feature/modals/manage-member-roles-modal-feature.tsx
  front/src/pages/iam/organization/feature/page-organization-groups-feature.tsx
  front/src/pages/iam/overview/feature/page-overview-feature.tsx
  front/src/pages/iam/realm/feature/page-realm-settings-feature.tsx
  front/src/pages/iam/realm/ui/page-realm-settings.tsx
  front/src/pages/iam/realm/ui/realm-maintenance-tab.tsx
  front/src/pages/iam/seawatch/feature/page-security-events-feature.tsx
  front/src/pages/iam/user/feature/user-role-mapping-feature.tsx
  front/src/pages/iam/user/ui/user-role-mapping-tab.tsx
Due: esint

feat: paginate the roles listing
  .github/workflows/integration-tests.yaml
  api/tests/roles_listing_test.rs
  core/src/application/role/mod.rs
  core/src/domain/role/entities.rs
  core/src/domain/role/services.rs
  core/src/infrastructure/role/repositories/role_postgres_repository.rs
  libs/ferriskey-api-role/src/handlers/get_roles.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-domain/src/role/entities.rs
  libs/ferriskey-domain/src/role/ports.rs
Due: rust-fmt, rust-clippy

feat: restore the role scope and permission metrics in the console
  front/src/api/api.client.ts
  front/src/locales/en/role.yaml
  front/src/locales/zh-CN/role.yaml
  front/src/pages/ciam/user-management/feature/page-roles-feature.tsx
  front/src/pages/iam/role/feature/page-roles-overview-feature.tsx
  front/src/pages/iam/role/ui/page-roles-overview.tsx
Due: esint

feat: page the roles listing in the console
  front/src/api/api.client.ts
  front/src/api/client.relation.ts
  front/src/api/role.api.ts
  front/src/api/role.relation.ts
  front/src/locales/en/role.yaml
  front/src/locales/zh-CN/role.yaml
  front/src/pages/ciam/user-management/feature/page-roles-feature.tsx
  front/src/pages/iam/role/feature/page-roles-overview-feature.tsx
  front/src/pages/iam/role/ui/page-roles-overview.tsx
Due: esint

refactor: rename the id batching module
  front/src/api/id-batches.test.ts
  front/src/api/id-batches.ts
  front/src/api/role.api.ts
  front/src/api/user-ids.ts
  front/src/api/user.api.ts
Due: esint

feat: search roles by name or client identifier
  api/tests/roles_listing_test.rs
  core/src/infrastructure/role/repositories/role_postgres_repository.rs
  libs/ferriskey-api-role/src/handlers/get_roles.rs
  libs/ferriskey-domain/src/role/entities.rs
Due: rust-fmt, rust-clippy

fix: find client roles by identifier in the role pickers
  front/src/api/api.client.ts
  front/src/api/role.api.ts
  front/src/pages/iam/client-scope/feature/mapper-entity-sources.ts
Due: esint

fix: match qualified role values whose name contains a dot
  api/tests/roles_listing_test.rs
  core/src/infrastructure/role/repositories/role_postgres_repository.rs
  libs/ferriskey-api-role/src/handlers/get_roles.rs
Due: rust-fmt, rust-clippy

feat(authz): store and validate a realm's own authorization rules
  Cargo.lock
  front/src/locales/en/errors.yaml
  front/src/locales/zh-CN/errors.yaml
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-authz/Cargo.toml
  libs/ferriskey-authz/src/actions.rs
  libs/ferriskey-authz/src/lib.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-authz/src/tenant/entities.rs
  libs/ferriskey-authz/src/tenant/mod.rs
  libs/ferriskey-authz/src/tenant/names.rs
  libs/ferriskey-authz/src/tenant/policies.rs
  libs/ferriskey-authz/src/tenant/ports.rs
  libs/ferriskey-authz/src/tenant/services.rs
  libs/ferriskey-authz/src/tenant/value_objects.rs
  libs/ferriskey-authz/tests/matrix_behaviour.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat(role): add the evaluate_authorization permission
  front/src/api/api.client.ts
  front/src/api/core.interface.ts
  front/src/locales/en/role.yaml
  front/src/locales/zh-CN/role.yaml
  front/src/pages/iam/role/permission-catalogue.ts
  libs/ferriskey-domain/src/role/permission.rs
Due: rust-fmt, rust-clippy, esint

feat: return the redirect uris of listed clients
  api/tests/clients_listing_test.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
Due: rust-fmt, rust-clippy

feat: page the clients listing in the console
  front/src/api/api.client.ts
  front/src/api/client.api.ts
  front/src/locales/en/client.yaml
  front/src/locales/zh-CN/client.yaml
  front/src/pages/iam/client/feature/page-clients-overview-feature.tsx
  front/src/pages/iam/client/ui/page-clients-overview.tsx
Due: esint

feat: search clients on the server in the console pickers
  front/src/api/client.relation.ts
  front/src/api/uuid.test.ts
  front/src/api/uuid.ts
  front/src/hooks/event-client-ids.test.ts
  front/src/hooks/event-client-ids.ts
  front/src/hooks/use-client-picker.ts
  front/src/hooks/use-realm-directory.ts
  front/src/pages/ciam/activity/feature/page-logs-feature.tsx
  front/src/pages/ciam/activity/feature/page-messages-feature.tsx
  front/src/pages/ciam/activity/feature/page-sessions-feature.tsx
  front/src/pages/ciam/applications/feature/page-applications-list-feature.tsx
  front/src/pages/ciam/user-management/feature/page-create-role-feature.tsx
  front/src/pages/iam/client-scope/feature/mapper-entity-sources.ts
  front/src/pages/iam/client/feature/client-token-exchange-tab-feature.tsx
  front/src/pages/iam/client/ui/client-token-exchange-tab.tsx
  front/src/pages/iam/overview/feature/page-overview-feature.tsx
  front/src/pages/iam/role/feature/page-create-role-feature.tsx
  front/src/pages/iam/role/ui/page-create-role.tsx
  front/src/pages/iam/role/ui/role-client-picker.tsx
  front/src/pages/iam/seawatch/feature/page-security-events-feature.tsx
Due: esint

feat: filter the clients listing by application type and free-text search
  api/tests/clients_listing_test.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  libs/ferriskey-api-client/src/handlers/get_clients.rs
  libs/ferriskey-domain/src/client/entities.rs
Due: rust-fmt, rust-clippy

test: pin the application type inference to the server rules
  front/src/locales/en/console.yaml
  front/src/locales/zh-CN/console.yaml
  front/src/pages/ciam/applications/application-types.ts
  front/src/pages/ciam/applications/infer-application-type.test.ts
  front/src/pages/ciam/applications/infer-application-type.ts
  front/src/pages/ciam/applications/ui/page-applications-list.tsx
Due: esint

feat: page the applications listing and search clients by name or client id
  front/src/api/api.client.ts
  front/src/api/client.api.ts
  front/src/api/client.relation.ts
  front/src/hooks/use-client-picker.ts
  front/src/locales/en/client.yaml
  front/src/locales/en/console.yaml
  front/src/locales/zh-CN/client.yaml
  front/src/locales/zh-CN/console.yaml
  front/src/pages/ciam/applications/feature/page-applications-list-feature.tsx
  front/src/pages/ciam/applications/ui/page-applications-list.tsx
  front/src/pages/iam/client-scope/feature/mapper-entity-sources.ts
  front/src/pages/iam/client/feature/client-token-exchange-tab-feature.tsx
Due: esint

feat: paginate the clients listing
  .github/workflows/integration-tests.yaml
  api/tests/clients_listing_test.rs
  core/src/application/client/mod.rs
  core/src/domain/client/services.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  libs/ferriskey-api-client/src/handlers/get_clients.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-domain/src/client/commands.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/ports.rs
Due: rust-fmt, rust-clippy

feat: filter clients and roles by exact identifier
  api/tests/clients_listing_test.rs
  api/tests/roles_listing_test.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/role/repositories/role_postgres_repository.rs
  libs/ferriskey-api-client/src/handlers/get_clients.rs
  libs/ferriskey-api-role/src/handlers/get_roles.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/role/entities.rs
Due: rust-fmt, rust-clippy

fix: resolve saved mapper entities with an exact lookup
  front/src/api/api.client.ts
  front/src/pages/iam/client-scope/feature/mapper-entity-lookup.test.ts
  front/src/pages/iam/client-scope/feature/mapper-entity-lookup.ts
  front/src/pages/iam/client-scope/feature/mapper-entity-sources.ts
Due: esint

feat: offer only unassigned scopes in the add scope dialog
  front/src/api/api.client.ts
  front/src/api/client-scope.api.ts
  front/src/api/client.api.ts
  front/src/pages/iam/client/feature/client-scopes-tab-feature.tsx
Due: esint

feat: page the client scopes listing in the console
  front/src/api/api.client.ts
  front/src/api/client-scope.api.ts
  front/src/locales/en/client-scope.yaml
  front/src/locales/zh-CN/client-scope.yaml
  front/src/pages/iam/client-scope/feature/page-client-scopes-overview-feature.tsx
  front/src/pages/iam/client-scope/ui/page-client-scopes-overview.tsx
Due: esint

feat: paginate the client scopes listing
  .github/workflows/integration-tests.yaml
  api/tests/client_scopes_listing_test.rs
  core/src/application/aegis.rs
  core/src/infrastructure/aegis/repositories/client_scope_postgres_repository.rs
  libs/ferriskey-aegis/src/entities.rs
  libs/ferriskey-aegis/src/ports.rs
  libs/ferriskey-aegis/src/services/client_scope_service.rs
  libs/ferriskey-aegis/src/value_objects.rs
  libs/ferriskey-api-aegis/src/handlers/get_client_scopes.rs
  libs/ferriskey-authz/src/matrix.rs
Due: rust-fmt, rust-clippy

feat: filter client scopes not assigned to a client
  api/tests/client_scopes_listing_test.rs
  core/src/infrastructure/aegis/repositories/client_scope_postgres_repository.rs
  libs/ferriskey-aegis/src/entities.rs
  libs/ferriskey-api-aegis/src/handlers/get_client_scopes.rs
Due: rust-fmt, rust-clippy

feat: search client scopes on the server in the client scopes tab
  front/src/pages/iam/client/feature/client-scopes-tab-feature.tsx
  front/src/pages/iam/client/ui/client-scopes-tab.tsx
Due: esint

feat: paginate the client scopes listing (#1558)
  .github/workflows/integration-tests.yaml
  api/tests/client_scopes_listing_test.rs
  core/src/application/aegis.rs
  core/src/infrastructure/aegis/repositories/client_scope_postgres_repository.rs
  front/src/api/api.client.ts
  front/src/api/client-scope.api.ts
  front/src/api/client.api.ts
  front/src/locales/en/client-scope.yaml
  front/src/locales/zh-CN/client-scope.yaml
  front/src/pages/iam/client-scope/feature/page-client-scopes-overview-feature.tsx
  front/src/pages/iam/client-scope/ui/page-client-scopes-overview.tsx
  front/src/pages/iam/client/feature/client-scopes-tab-feature.tsx
  front/src/pages/iam/client/ui/client-scopes-tab.tsx
  libs/ferriskey-aegis/src/entities.rs
  libs/ferriskey-aegis/src/ports.rs
  libs/ferriskey-aegis/src/services/client_scope_service.rs
  libs/ferriskey-aegis/src/value_objects.rs
  libs/ferriskey-api-aegis/src/handlers/get_client_scopes.rs
  libs/ferriskey-authz/src/matrix.rs
Due: rust-fmt, rust-clippy, esint

feat: paginate the webhooks listing
  .github/workflows/integration-tests.yaml
  api/tests/webhooks_listing_test.rs
  core/src/application/webhook/mod.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  libs/ferriskey-api-webhook/src/handlers/fetch_webhook.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-webhook/src/entities/webhook.rs
  libs/ferriskey-webhook/src/ports.rs
  libs/ferriskey-webhook/src/services.rs
Due: rust-fmt, rust-clippy
