Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

style(auth-session): apply rustfmt formatting fixes
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

style(auth-session): fix rustfmt import ordering to match CI toolchain
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

wip
  api/src/application/http/error.rs
  core/src/domain/portal_theme/services.rs
  core/src/domain/portal_theme/validation.rs
  front/src/api/portal-theme.api.tsx
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/portal/themes/feature/page-theme-builder-feature.tsx
  front/src/pages/portal/themes/ui/page-theme-builder.tsx
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy, esint

wip
  front/src/pages/portal/page-portal.tsx
  front/src/pages/portal/themes/feature/page-theme-builder-feature.tsx
  front/src/pages/portal/themes/ui/page-theme-builder.tsx
  front/src/routes/sub-router/portal-theme.router.ts
Due: esint

wip
  front/src/lib/builder-core/components/builder-shell.tsx
  front/src/lib/builder-portal/index.ts
  front/src/lib/builder-portal/use-iframe-fit.ts
  front/src/pages/portal-layouts/ui/page-portal-layout-builder.tsx
  front/src/pages/portal/themes/components/page-tree-editor.tsx
Due: esint

wip
  front/src/lib/builder-core/components/canvas.tsx
  front/src/lib/builder-portal/visual-blocks/visual-block-registry.tsx
  front/src/pages/portal/themes/components/page-tree-editor.tsx
Due: esint

wip
  api/src/application/http/error.rs
  core/src/domain/portal_theme/validation.rs
Due: rust-fmt, rust-clippy

feat: improve portal editor (#1015)
  api/src/application/http/error.rs
  core/src/domain/portal_theme/services.rs
  core/src/domain/portal_theme/validation.rs
  front/src/api/portal-theme.api.tsx
  front/src/lib/builder-core/components/builder-shell.tsx
  front/src/lib/builder-core/components/canvas.tsx
  front/src/lib/builder-portal/index.ts
  front/src/lib/builder-portal/use-iframe-fit.ts
  front/src/lib/builder-portal/visual-blocks/visual-block-registry.tsx
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/portal-layouts/ui/page-portal-layout-builder.tsx
  front/src/pages/portal/page-portal.tsx
  front/src/pages/portal/themes/components/page-tree-editor.tsx
  front/src/pages/portal/themes/feature/page-theme-builder-feature.tsx
  front/src/pages/portal/themes/ui/page-theme-builder.tsx
  front/src/routes/sub-router/portal-theme.router.ts
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy, esint

wip
  front/src/pages/portal-layouts/feature/page-portal-layouts-list-feature.tsx
  front/src/pages/portal-layouts/ui/page-portal-layout-builder.tsx
  front/src/pages/portal-layouts/ui/page-portal-layouts-list.tsx
  front/src/pages/portal/components/portal-overview-header.tsx
  front/src/pages/portal/page-portal.tsx
  front/src/pages/portal/themes/components/page-tree-editor.tsx
  front/src/pages/portal/themes/ui/page-themes-list.tsx
Due: esint

fix(auth-session): reset authenticated flag when reissuing authorization code in brokered SSO flow (#1000)
  core/src/infrastructure/repositories/auth_session_repository.rs
Due: rust-fmt, rust-clippy

feat: improve theme and layout list (#1016)
  front/src/pages/portal-layouts/feature/page-portal-layouts-list-feature.tsx
  front/src/pages/portal-layouts/ui/page-portal-layout-builder.tsx
  front/src/pages/portal-layouts/ui/page-portal-layouts-list.tsx
  front/src/pages/portal/components/portal-overview-header.tsx
  front/src/pages/portal/page-portal.tsx
  front/src/pages/portal/themes/components/page-tree-editor.tsx
  front/src/pages/portal/themes/ui/page-themes-list.tsx
Due: esint

feat: add external provider component in portal builder
  core/src/domain/portal_theme/validation.rs
  front/src/lib/builder-portal/components.tsx
  front/src/lib/builder-portal/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-portal/renderer.tsx
  front/src/lib/builder-portal/visual-blocks/visual-block-registry.tsx
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
Due: rust-fmt, rust-clippy, esint

feat: add external provider component in portal builder (#1017)
  core/src/domain/portal_theme/validation.rs
  front/src/lib/builder-portal/components.tsx
  front/src/lib/builder-portal/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-portal/renderer.tsx
  front/src/lib/builder-portal/visual-blocks/visual-block-registry.tsx
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
Due: rust-fmt, rust-clippy, esint

refactor: remove unwrapp call (#1013)
  core/src/domain/realm/services.rs
  core/src/infrastructure/realm/mappers/smtp_config_mapper.rs
Due: rust-fmt, rust-clippy

feat(front): improve CIAM branding section and email builder UX
  front/src/components/layout/product-layout.tsx
  front/src/components/layout/product-nav-config.ts
  front/src/lib/builder-core/components/canvas.tsx
  front/src/pages/activity/feature/page-logs-events-feature.tsx
  front/src/pages/activity/page-activity.tsx
  front/src/pages/activity/ui/page-logs-events.tsx
  front/src/pages/console-authentication/page-console-authentication.tsx
  front/src/pages/console-branding/page-console-branding.tsx
  front/src/pages/email-template/feature/page-email-template-builder-feature.tsx
  front/src/pages/email-template/ui/page-email-template-builder.tsx
  front/src/pages/email-template/ui/page-email-template-list.tsx
  front/src/pages/user-federation/page-user-federation.tsx
  front/src/pages/user-federation/ui/page-overview.tsx
  front/src/routes/sub-router/email-template.router.ts
Due: esint

fix(front): resolve type errors in activity logs and email builder
  front/src/pages/activity/ui/page-logs-events.tsx
  front/src/pages/email-template/ui/page-email-template-builder.tsx
Due: esint

fix: apply coderabbit suggestion
  front/src/components/layout/product-layout.tsx
  front/src/pages/activity/feature/page-logs-events-feature.tsx
  front/src/pages/email-template/ui/page-email-template-list.tsx
  front/src/pages/user-federation/ui/page-overview.tsx
Due: esint

feat(front): improve CIAM branding section and email builder UX (#1018)
  front/src/components/layout/product-layout.tsx
  front/src/components/layout/product-nav-config.ts
  front/src/lib/builder-core/components/canvas.tsx
  front/src/pages/activity/feature/page-logs-events-feature.tsx
  front/src/pages/activity/page-activity.tsx
  front/src/pages/activity/ui/page-logs-events.tsx
  front/src/pages/console-authentication/page-console-authentication.tsx
  front/src/pages/console-branding/page-console-branding.tsx
  front/src/pages/email-template/feature/page-email-template-builder-feature.tsx
  front/src/pages/email-template/ui/page-email-template-builder.tsx
  front/src/pages/email-template/ui/page-email-template-list.tsx
  front/src/pages/user-federation/page-user-federation.tsx
  front/src/pages/user-federation/ui/page-overview.tsx
  front/src/routes/sub-router/email-template.router.ts
Due: esint

feat: complete auth flow after email verification
  api/src/application/http/authentication/handlers.rs
  api/src/application/http/authentication/handlers/authentificate.rs
  api/src/application/http/authentication/handlers/resend_verification_email.rs
  api/src/application/http/authentication/router.rs
  core/src/domain/email_verification/ports.rs
  core/src/domain/email_verification/services.rs
  core/src/domain/realm/entities.rs
  core/src/infrastructure/repositories/email_verification_token_repository.rs
  front/src/api/api.client.ts
  front/src/api/auth.api.ts
  front/src/hooks/use-verify-email.ts
  front/src/pages/authentication/feature/execution/verify-email-feature.tsx
  front/src/pages/authentication/feature/page-verify-email.tsx
  front/src/pages/realm/feature/page-realm-settings-login-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-login.tsx
Due: rust-fmt, rust-clippy, esint

feat: complete auth flow after email verification (#1019)
  api/src/application/http/authentication/handlers.rs
  api/src/application/http/authentication/handlers/authentificate.rs
  api/src/application/http/authentication/handlers/resend_verification_email.rs
  api/src/application/http/authentication/router.rs
  core/src/domain/email_verification/ports.rs
  core/src/domain/email_verification/services.rs
  core/src/domain/realm/entities.rs
  core/src/infrastructure/repositories/email_verification_token_repository.rs
  front/src/api/api.client.ts
  front/src/api/auth.api.ts
  front/src/hooks/use-verify-email.ts
  front/src/pages/authentication/feature/execution/verify-email-feature.tsx
  front/src/pages/authentication/feature/page-verify-email.tsx
  front/src/pages/realm/feature/page-realm-settings-login-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-login.tsx
Due: rust-fmt, rust-clippy, esint

feat(device-flow): add device_auth_sessions migration
  core/migrations/20260525000000_create_device_auth_sessions.down.sql
  core/migrations/20260525000000_create_device_auth_sessions.up.sql
  core/src/entity/clients.rs
  core/src/entity/device_auth_sessions.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realms.rs
  core/src/entity/users.rs
Due: rust-fmt, rust-clippy

feat(device-flow): add device_auth_sessions migration (#1031)
  core/migrations/20260525000000_create_device_auth_sessions.down.sql
  core/migrations/20260525000000_create_device_auth_sessions.up.sql
  core/src/entity/clients.rs
  core/src/entity/device_auth_sessions.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realms.rs
  core/src/entity/users.rs
Due: rust-fmt, rust-clippy

Fix webapp container name
  charts/ferriskey/templates/webapp/deployment.yaml
Due: none

Use the official nginx-unprivileged image to simplify deployment
  Dockerfile
  charts/ferriskey/templates/webapp/deployment.yaml
Due: hadolint

feat: forgot password redirect domain
  api/src/application/http/trident/handlers/forgot_password.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/repositories/password_reset_token_repository.rs
  docs/superpowers/plans/2026-05-30-fix-forgot-password-redirect.md
  libs/ferriskey-trident/src/entities/mod.rs
Due: rust-fmt, rust-clippy

wip
  docs/superpowers/plans/2026-05-30-fix-forgot-password-redirect.md
Due: none

fix: webapp container name (#1036)
  charts/ferriskey/templates/webapp/deployment.yaml
Due: none

feat: forgot password redirect domain (#1042)
  api/src/application/http/trident/handlers/forgot_password.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/repositories/password_reset_token_repository.rs
  libs/ferriskey-trident/src/entities/mod.rs
Due: rust-fmt, rust-clippy

fix: slide theme settings
  front/src/lib/builder-portal/renderer.tsx
  front/src/pages/portal/themes/ui/page-theme-builder.tsx
Due: esint

fix(builder): align drag overlay and drop target with cursor inside iframe
  front/src/lib/builder-core/components/builder-shell.tsx
  front/src/lib/builder-core/components/canvas.tsx
  front/src/lib/builder-core/components/drag-overlay.tsx
  front/src/lib/builder-portal/components.tsx
  front/src/lib/builder-portal/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-portal/renderer.tsx
  front/src/lib/builder-portal/types.ts
  front/src/lib/builder-portal/visual-blocks/visual-block-registry.tsx
Due: esint

wip
  front/src/lib/builder-portal/components.tsx
  front/src/lib/builder-portal/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-portal/renderer.tsx
  front/src/lib/builder-portal/visual-blocks/visual-block-registry.tsx
Due: esint

fix: build pnpm
  front/src/lib/builder-portal/renderer.tsx
Due: esint

fix: resume OAuth flow after password reset
  api/src/application/http/trident/handlers/forgot_password.rs
  api/src/application/http/trident/handlers/reset_password.rs
  core/migrations/20260531120000_add_auth_session_code_to_password_reset_tokens.down.sql
  core/migrations/20260531120000_add_auth_session_code_to_password_reset_tokens.up.sql
  core/src/entity/password_reset_tokens.rs
  core/src/infrastructure/repositories/password_reset_token_repository.rs
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
  front/src/pages/authentication/feature/page-reset-password-feature.tsx
Due: rust-fmt, rust-clippy, esint

fix: forgot password submit
  front/src/pages/authentication/hooks/use-portal-page-submit.ts
Due: esint

fix: eslint apply
  front/src/api/api.tanstack.ts
Due: esint

feat: resume oauth flow after password reset (#1043)
  api/src/application/http/trident/handlers/forgot_password.rs
  api/src/application/http/trident/handlers/reset_password.rs
  core/migrations/20260531120000_add_auth_session_code_to_password_reset_tokens.down.sql
  core/migrations/20260531120000_add_auth_session_code_to_password_reset_tokens.up.sql
  core/src/entity/password_reset_tokens.rs
  core/src/infrastructure/repositories/password_reset_token_repository.rs
  front/src/api/api.client.ts
  front/src/pages/authentication/feature/page-reset-password-feature.tsx
  front/src/pages/authentication/hooks/use-portal-page-submit.ts
Due: rust-fmt, rust-clippy, esint

ci: add docker-registry workflow for Estrelio GHCR publishing
  .github/workflows/docker-registry.yml
Due: none

wip
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/email_verification/services.rs
  core/src/domain/seawatch/entities.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
  core/src/infrastructure/seawatch/mapper.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
