Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

feat: link the truncated webhook preview to the webhooks page
  front/src/locales/en/console.yaml
  front/src/locales/zh-CN/console.yaml
  front/src/pages/ciam/activity/feature/page-messages-feature.tsx
  front/src/pages/ciam/activity/ui/page-messages.tsx
Due: esint

feat: page the webhooks listing in the console
  front/src/api/api.client.ts
  front/src/api/webhook.api.ts
  front/src/locales/en/webhook.yaml
  front/src/locales/zh-CN/webhook.yaml
  front/src/pages/iam/webhook/feature/page-webhooks-overview-feature.tsx
  front/src/pages/iam/webhook/ui/page-webhooks-overview.tsx
Due: esint

fix: drop the webhooks filter on a status nothing records
  api/tests/webhooks_listing_test.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  front/src/api/api.client.ts
  front/src/api/webhook.api.ts
  front/src/locales/en/webhook.yaml
  front/src/locales/zh-CN/webhook.yaml
  front/src/pages/iam/webhook/ui/page-webhooks-overview.tsx
  libs/ferriskey-api-webhook/src/handlers/fetch_webhook.rs
  libs/ferriskey-webhook/src/entities/webhook.rs
Due: rust-fmt, rust-clippy, esint

feat: show the first page of webhooks on the messages activity page
  front/src/pages/ciam/activity/feature/page-messages-feature.tsx
  front/src/pages/ciam/activity/ui/page-messages.tsx
Due: esint

fix: refuse unknown delivery statuses in the webhooks listing
  api/tests/webhooks_listing_test.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  front/src/api/api.client.ts
  libs/ferriskey-api-webhook/src/handlers/fetch_webhook.rs
  libs/ferriskey-webhook/src/entities/webhook.rs
  libs/ferriskey-webhook/src/entities/webhook_delivery.rs
Due: rust-fmt, rust-clippy, esint

feat: paginate the webhooks listing (#1559)
  .github/workflows/integration-tests.yaml
  api/tests/webhooks_listing_test.rs
  core/src/application/webhook/mod.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  front/src/api/api.client.ts
  front/src/api/webhook.api.ts
  front/src/locales/en/console.yaml
  front/src/locales/en/webhook.yaml
  front/src/locales/zh-CN/console.yaml
  front/src/locales/zh-CN/webhook.yaml
  front/src/pages/ciam/activity/feature/page-messages-feature.tsx
  front/src/pages/ciam/activity/ui/page-messages.tsx
  front/src/pages/iam/webhook/feature/page-webhooks-overview-feature.tsx
  front/src/pages/iam/webhook/ui/page-webhooks-overview.tsx
  libs/ferriskey-api-webhook/src/handlers/fetch_webhook.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-webhook/src/entities/webhook.rs
  libs/ferriskey-webhook/src/entities/webhook_delivery.rs
  libs/ferriskey-webhook/src/ports.rs
  libs/ferriskey-webhook/src/services.rs
Due: rust-fmt, rust-clippy, esint

feat: paginate the webhook deliveries listing
  .github/workflows/integration-tests.yaml
  api/tests/webhook_deliveries_listing_test.rs
  api/tests/webhook_delivery_api_test.rs
  core/src/application/webhook/mod.rs
  core/src/infrastructure/webhook/repositories/webhook_delivery_repository.rs
  libs/ferriskey-api-webhook/src/handlers/fetch_deliveries.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-webhook/src/entities/webhook_delivery.rs
  libs/ferriskey-webhook/src/ports.rs
  libs/ferriskey-webhook/src/services.rs
Due: rust-fmt, rust-clippy

feat: page the webhook deliveries tab in the console
  front/src/api/api.client.ts
  front/src/api/webhook.api.ts
  front/src/locales/en/webhook.yaml
  front/src/locales/zh-CN/webhook.yaml
  front/src/pages/iam/webhook/ui/webhook-deliveries-tab.tsx
  front/src/pages/iam/webhook/webhook-delivery-status.ts
Due: esint

test: keep delivery listing seeds inside the retention window
  api/tests/webhook_deliveries_listing_test.rs
Due: rust-fmt, rust-clippy

feat: paginate the webhook deliveries listing (#1560)
  .github/workflows/integration-tests.yaml
  api/tests/webhook_deliveries_listing_test.rs
  api/tests/webhook_delivery_api_test.rs
  core/src/application/webhook/mod.rs
  core/src/infrastructure/webhook/repositories/webhook_delivery_repository.rs
  front/src/api/api.client.ts
  front/src/api/webhook.api.ts
  front/src/locales/en/webhook.yaml
  front/src/locales/zh-CN/webhook.yaml
  front/src/pages/iam/webhook/ui/webhook-deliveries-tab.tsx
  front/src/pages/iam/webhook/webhook-delivery-status.ts
  libs/ferriskey-api-webhook/src/handlers/fetch_deliveries.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-webhook/src/entities/webhook_delivery.rs
  libs/ferriskey-webhook/src/ports.rs
  libs/ferriskey-webhook/src/services.rs
Due: rust-fmt, rust-clippy, esint

feat: paginate the organizations listing
  .github/workflows/integration-tests.yaml
  api/tests/organizations_listing_test.rs
  core/src/application/organization/mod.rs
  core/src/domain/organization/ports.rs
  core/src/infrastructure/organization/organization_repository.rs
  libs/ferriskey-api-organization/src/handlers/list_organizations.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-organization/src/entities.rs
  libs/ferriskey-organization/src/ports.rs
  libs/ferriskey-organization/src/services.rs
Due: rust-fmt, rust-clippy

feat: page the organizations listing in the console
  front/src/api/api.client.ts
  front/src/api/organization.api.ts
  front/src/locales/en/organization.yaml
  front/src/locales/zh-CN/organization.yaml
  front/src/pages/ciam/user-management/feature/page-organizations-feature.tsx
  front/src/pages/iam/organization/feature/page-organizations-overview-feature.tsx
  front/src/pages/iam/organization/feature/use-organizations-overview.ts
  front/src/pages/iam/organization/ui/page-organizations-overview.tsx
Due: esint

test: pin the without-member filter across realms
  api/tests/organization_cross_realm_test.rs
  api/tests/organizations_listing_test.rs
Due: rust-fmt, rust-clippy

feat: resolve and search user organizations on the server
  front/src/pages/iam/user/feature/user-organizations-feature.tsx
  front/src/pages/iam/user/ui/user-organizations-tab.tsx
Due: esint

feat: paginate the organizations listing (#1561)
  .github/workflows/integration-tests.yaml
  api/tests/organization_cross_realm_test.rs
  api/tests/organizations_listing_test.rs
  core/src/application/organization/mod.rs
  core/src/domain/organization/ports.rs
  core/src/infrastructure/organization/organization_repository.rs
  front/src/api/api.client.ts
  front/src/api/organization.api.ts
  front/src/locales/en/organization.yaml
  front/src/locales/zh-CN/organization.yaml
  front/src/pages/ciam/user-management/feature/page-organizations-feature.tsx
  front/src/pages/iam/organization/feature/page-organizations-overview-feature.tsx
  front/src/pages/iam/organization/feature/use-organizations-overview.ts
  front/src/pages/iam/organization/ui/page-organizations-overview.tsx
  front/src/pages/iam/user/feature/user-organizations-feature.tsx
  front/src/pages/iam/user/ui/user-organizations-tab.tsx
  libs/ferriskey-api-organization/src/handlers/list_organizations.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-organization/src/entities.rs
  libs/ferriskey-organization/src/ports.rs
  libs/ferriskey-organization/src/services.rs
Due: rust-fmt, rust-clippy, esint

feat: page the organization groups listing in the console
  front/src/api/api.client.ts
  front/src/api/group.api.ts
  front/src/api/group.relation.ts
  front/src/locales/en/organization.yaml
  front/src/locales/zh-CN/organization.yaml
  front/src/pages/iam/organization/feature/page-organization-groups-feature.tsx
Due: esint

feat: paginate the organization groups listing
  .github/workflows/integration-tests.yaml
  api/tests/organization_groups_listing_test.rs
  core/src/application/organization/mod.rs
  core/src/domain/organization/ports.rs
  core/src/infrastructure/organization/group_repository.rs
  libs/ferriskey-api-organization/src/handlers/groups.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-organization/src/entities.rs
  libs/ferriskey-organization/src/group_services.rs
  libs/ferriskey-organization/src/ports.rs
Due: rust-fmt, rust-clippy

fix: walk down organization groups without the top-level filter
  front/src/api/api.client.ts
  front/src/api/group.api.ts
  front/src/components/kit/listing-query-state.test.ts
  front/src/components/kit/use-paged-listing.ts
  front/src/locales/en/organization.yaml
  front/src/locales/zh-CN/organization.yaml
  front/src/pages/iam/organization/feature/group-filter-patch.test.ts
  front/src/pages/iam/organization/feature/group-filter-patch.ts
  front/src/pages/iam/organization/feature/page-organization-groups-feature.tsx
Due: esint

feat: count sub-groups and refuse root with parent in the groups listing
  api/tests/organization_groups_listing_test.rs
  core/src/application/organization/mod.rs
  core/src/domain/organization/ports.rs
  core/src/infrastructure/organization/group_repository.rs
  libs/ferriskey-api-organization/src/handlers/groups.rs
  libs/ferriskey-organization/src/entities.rs
  libs/ferriskey-organization/src/group_services.rs
  libs/ferriskey-organization/src/ports.rs
Due: rust-fmt, rust-clippy

feat: paginate the organization groups listing (#1562)
  .github/workflows/integration-tests.yaml
  api/tests/organization_groups_listing_test.rs
  core/src/application/organization/mod.rs
  core/src/domain/organization/ports.rs
  core/src/infrastructure/organization/group_repository.rs
  front/src/api/api.client.ts
  front/src/api/group.api.ts
  front/src/api/group.relation.ts
  front/src/components/kit/listing-query-state.test.ts
  front/src/components/kit/use-paged-listing.ts
  front/src/locales/en/organization.yaml
  front/src/locales/zh-CN/organization.yaml
  front/src/pages/iam/organization/feature/group-filter-patch.test.ts
  front/src/pages/iam/organization/feature/group-filter-patch.ts
  front/src/pages/iam/organization/feature/page-organization-groups-feature.tsx
  libs/ferriskey-api-organization/src/handlers/groups.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-organization/src/entities.rs
  libs/ferriskey-organization/src/group_services.rs
  libs/ferriskey-organization/src/ports.rs
Due: rust-fmt, rust-clippy, esint

refactor: share the paged listing hook with in-memory listings
  front/src/components/kit/use-paged-listing.ts
  front/src/pages/iam/organization/feature/use-local-paged-listing.ts
Due: esint

refactor: page group members through a shared expression sort
  core/src/infrastructure/organization/group_member_repository.rs
  core/src/infrastructure/pagination.rs
Due: rust-fmt, rust-clippy

feat: page and filter group members in the console
  front/src/api/api.client.ts
  front/src/api/group.api.ts
  front/src/locales/en/organization.yaml
  front/src/locales/zh-CN/organization.yaml
  front/src/pages/iam/organization/feature/page-organization-groups-feature.tsx
  front/src/pages/iam/organization/feature/use-local-paged-listing.ts
Due: esint

feat: filter the users listing by group non-membership
  core/src/infrastructure/user/repository.rs
  libs/ferriskey-api-user/src/handlers/get_users.rs
  libs/ferriskey-domain/src/user/entities.rs
Due: rust-fmt, rust-clippy

feat: paginate the group members listing
  .github/workflows/integration-tests.yaml
  api/tests/group_members_listing_test.rs
  core/src/application/organization/mod.rs
  core/src/domain/organization/ports.rs
  core/src/infrastructure/organization/group_member_repository.rs
  libs/ferriskey-api-organization/src/handlers/groups.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-organization/src/entities.rs
  libs/ferriskey-organization/src/group_services.rs
  libs/ferriskey-organization/src/ports.rs
Due: rust-fmt, rust-clippy

test: pin literal percent and null emails in group members
  api/tests/group_members_listing_test.rs
Due: rust-fmt, rust-clippy

feat: paginate the group members listing (#1563)
  .github/workflows/integration-tests.yaml
  api/tests/group_members_listing_test.rs
  core/src/application/organization/mod.rs
  core/src/domain/organization/ports.rs
  core/src/infrastructure/organization/group_member_repository.rs
  core/src/infrastructure/pagination.rs
  core/src/infrastructure/user/repository.rs
  front/src/api/api.client.ts
  front/src/api/group.api.ts
  front/src/components/kit/use-paged-listing.ts
  front/src/locales/en/organization.yaml
  front/src/locales/zh-CN/organization.yaml
  front/src/pages/iam/organization/feature/page-organization-groups-feature.tsx
  front/src/pages/iam/organization/feature/use-local-paged-listing.ts
  libs/ferriskey-api-organization/src/handlers/groups.rs
  libs/ferriskey-api-user/src/handlers/get_users.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-domain/src/user/entities.rs
  libs/ferriskey-organization/src/entities.rs
  libs/ferriskey-organization/src/group_services.rs
  libs/ferriskey-organization/src/ports.rs
Due: rust-fmt, rust-clippy, esint

fix: offer generic and template provider types in the filter
  front/src/pages/iam/identity-providers/ui/page-providers-overview.tsx
Due: esint

fix: offer every console provider type in the listing filter
  front/src/pages/iam/identity-providers/ui/page-providers-overview.tsx
Due: esint

feat: expose identity provider timestamps for sorting
  api/tests/identity_providers_listing_test.rs
  libs/ferriskey-api-abyss/src/identity_provider/dto.rs
Due: rust-fmt, rust-clippy

feat: page and filter identity providers in the console
  front/src/api/api.client.ts
  front/src/api/identity-providers.api.ts
  front/src/locales/en/identity-provider.yaml
  front/src/locales/zh-CN/identity-provider.yaml
  front/src/pages/iam/identity-providers/feature/page-providers-overview-feature.tsx
  front/src/pages/iam/identity-providers/feature/use-providers-overview.ts
  front/src/pages/iam/identity-providers/ui/page-providers-overview.tsx
Due: esint

test: pin the forbidden listing for a same-realm caller without rights
  api/tests/identity_providers_listing_test.rs
Due: rust-fmt, rust-clippy

feat: paginate the identity providers listing
  .github/workflows/integration-tests.yaml
  api/tests/identity_providers_listing_test.rs
  core/src/application/identity_provider.rs
  core/src/domain/abyss/identity_provider_services.rs
  core/src/infrastructure/identity_provider/repositories/identity_provider_postgres_repository.rs
  libs/ferriskey-abyss/src/identity_provider/broker/ports.rs
  libs/ferriskey-abyss/src/identity_provider/entities.rs
  libs/ferriskey-abyss/src/identity_provider/mod.rs
  libs/ferriskey-abyss/src/identity_provider/ports.rs
  libs/ferriskey-api-abyss/src/identity_provider/dto.rs
  libs/ferriskey-api-abyss/src/identity_provider/handlers/list_identity_providers.rs
  libs/ferriskey-authz/src/matrix.rs
Due: rust-fmt, rust-clippy

feat: paginate the identity providers listing (#1565)
  .github/workflows/integration-tests.yaml
  api/tests/identity_providers_listing_test.rs
  core/src/application/identity_provider.rs
  core/src/domain/abyss/identity_provider_services.rs
  core/src/infrastructure/identity_provider/repositories/identity_provider_postgres_repository.rs
  front/src/api/api.client.ts
  front/src/api/identity-providers.api.ts
  front/src/locales/en/identity-provider.yaml
  front/src/locales/zh-CN/identity-provider.yaml
  front/src/pages/iam/identity-providers/feature/page-providers-overview-feature.tsx
  front/src/pages/iam/identity-providers/feature/use-providers-overview.ts
  front/src/pages/iam/identity-providers/ui/page-providers-overview.tsx
  libs/ferriskey-abyss/src/identity_provider/broker/ports.rs
  libs/ferriskey-abyss/src/identity_provider/entities.rs
  libs/ferriskey-abyss/src/identity_provider/mod.rs
  libs/ferriskey-abyss/src/identity_provider/ports.rs
  libs/ferriskey-api-abyss/src/identity_provider/dto.rs
  libs/ferriskey-api-abyss/src/identity_provider/handlers/list_identity_providers.rs
  libs/ferriskey-authz/src/matrix.rs
Due: rust-fmt, rust-clippy, esint

feat: filter federation providers by family
  api/tests/federation_providers_listing_test.rs
  core/src/domain/abyss/federation/entities.rs
  core/src/infrastructure/abyss/federation/repository.rs
  libs/ferriskey-api-abyss/src/federation/dto.rs
  libs/ferriskey-api-abyss/src/federation/handlers/list_providers.rs
Due: rust-fmt, rust-clippy

feat: page and filter federation providers in the console
  front/src/api/api.client.ts
  front/src/api/user-federation.api.ts
  front/src/locales/en/user-federation.yaml
  front/src/locales/zh-CN/user-federation.yaml
  front/src/pages/iam/user-federation/feature/page-providers-overview-feature.tsx
  front/src/pages/iam/user-federation/feature/use-providers-overview.ts
  front/src/pages/iam/user-federation/ui/page-providers-overview.tsx
Due: esint

feat: offer the provider family filter in the console
  front/src/api/api.client.ts
  front/src/api/user-federation.api.ts
  front/src/locales/en/user-federation.yaml
  front/src/locales/zh-CN/user-federation.yaml
  front/src/pages/iam/user-federation/ui/page-providers-overview.tsx
Due: esint

feat: paginate the federation providers listing
  .github/workflows/integration-tests.yaml
  api/tests/federation_providers_listing_test.rs
  core/src/application/abyss/federation/mod.rs
  core/src/domain/abyss/federation/entities.rs
  core/src/domain/abyss/federation/ports.rs
  core/src/domain/abyss/federation/services.rs
  core/src/infrastructure/abyss/federation/repository.rs
  libs/ferriskey-api-abyss/src/federation/dto.rs
  libs/ferriskey-api-abyss/src/federation/handlers/list_providers.rs
  libs/ferriskey-authz/src/matrix.rs
Due: rust-fmt, rust-clippy

feat: paginate the federation providers listing (#1566)
  .github/workflows/integration-tests.yaml
  api/tests/federation_providers_listing_test.rs
  core/src/application/abyss/federation/mod.rs
  core/src/domain/abyss/federation/entities.rs
  core/src/domain/abyss/federation/ports.rs
  core/src/domain/abyss/federation/services.rs
  core/src/infrastructure/abyss/federation/repository.rs
  front/src/api/api.client.ts
  front/src/api/user-federation.api.ts
  front/src/locales/en/user-federation.yaml
  front/src/locales/zh-CN/user-federation.yaml
  front/src/pages/iam/user-federation/feature/page-providers-overview-feature.tsx
  front/src/pages/iam/user-federation/feature/use-providers-overview.ts
  front/src/pages/iam/user-federation/ui/page-providers-overview.tsx
  libs/ferriskey-api-abyss/src/federation/dto.rs
  libs/ferriskey-api-abyss/src/federation/handlers/list_providers.rs
  libs/ferriskey-authz/src/matrix.rs
Due: rust-fmt, rust-clippy, esint

feat: paginate the user sessions listing
  api/tests/session_cross_realm_test.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/infrastructure/backchannel_logout/notifying_sessions.rs
  core/src/infrastructure/repositories/user_session_repository.rs
  libs/ferriskey-api-user/src/handlers/list_user_sessions.rs
  libs/ferriskey-domain/src/session/entities.rs
  libs/ferriskey-domain/src/session/ports.rs
  libs/ferriskey-domain/src/session/services.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
