Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: bash -c "docker run --rm -i -v ./Dockerfile:/mnt/Dockerfile hadolint/hadolint hadolint /mnt/Dockerfile"
        language: system
        files: Dockerfile

fix: upgrade @expressive-code/plugin-line-numbers from 0.40.2 to 0.41.3
  docs/package.json
Due: none

Remove unused imports from App.tsx
  front/src/App.tsx
Due: esint

Add loading spinner and loading page components
  front/src/App.tsx
  front/src/components/ui/loading-page.tsx
  front/src/components/ui/spinner.tsx
Due: esint

docker(webapp): add config.json
  .pre-commit-config.yaml
  Dockerfile
  front/docker-entrypoint.sh
  front/env.sh
  front/public/config.json
Due: hadolint

feat: replace ToString with Display for WebhookTrigger
  core/src/application/user/use_cases/delete_credential_use_case.rs
  core/src/application/user/use_cases/reset_password_use_case.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
Due: rust-fmt, rust-clippy

feat: make webhook calls asynchronously and add error logging
  core/src/application/user/use_cases/create_user_use_case.rs
  core/src/domain/webhook/services/webhook_notifier_service.rs
  core/src/infrastructure/repositories/webhook_repository.rs
Due: rust-fmt, rust-clippy

feat: add WebhookTrigger enum to type webhook subscribers
  api/src/application/http/webhook/validators.rs
  core/src/application/user/use_cases/create_user_use_case.rs
  core/src/application/webhook/use_cases/create_webhook_use_case.rs
  core/src/application/webhook/use_cases/update_webhook_use_case.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
  core/src/domain/webhook/ports.rs
  core/src/domain/webhook/services/webhook_notifier_service.rs
  core/src/domain/webhook/services/webhook_service.rs
  core/src/infrastructure/repositories/webhook_repository.rs
  core/src/infrastructure/webhook/repository.rs
Due: rust-fmt, rust-clippy

feat: add webhook payload support for user events
  core/src/application/user/use_cases/create_user_use_case.rs
  core/src/application/user/use_cases/delete_user_use_case.rs
  core/src/application/user/use_cases/update_user_use_case.rs
  core/src/domain/webhook/entities.rs
  core/src/domain/webhook/entities/webhook_payload.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
  core/src/domain/webhook/ports.rs
  core/src/domain/webhook/services/webhook_notifier_service.rs
Due: rust-fmt, rust-clippy

feat: add webhook notification service
  Cargo.lock
  api/src/application/http/server/api_entities/api_error.rs
  api/src/application/http/webhook/handlers/create_webhook.rs
  api/src/application/http/webhook/handlers/fetch_webhook.rs
  api/src/application/http/webhook/handlers/get_webhook.rs
  api/src/application/http/webhook/handlers/update_webhook.rs
  core/Cargo.toml
  core/src/application/common/services.rs
  core/src/application/user/use_cases.rs
  core/src/application/user/use_cases/create_user_use_case.rs
  core/src/application/webhook/policies.rs
  core/src/application/webhook/use_cases/create_webhook_use_case.rs
  core/src/application/webhook/use_cases/delete_webhook_use_case.rs
  core/src/application/webhook/use_cases/fetch_realm_webhooks_use_case.rs
  core/src/application/webhook/use_cases/get_webhook_use_case.rs
  core/src/application/webhook/use_cases/update_webhook_use_case.rs
  core/src/domain/webhook/entities.rs
  core/src/domain/webhook/entities/errors.rs
  core/src/domain/webhook/entities/webhook.rs
  core/src/domain/webhook/entities/webhook_subscriber.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
  core/src/domain/webhook/ports.rs
  core/src/domain/webhook/services.rs
  core/src/domain/webhook/services/webhook_notifier_service.rs
  core/src/domain/webhook/services/webhook_service.rs
  core/src/infrastructure/repositories/webhook_repository.rs
  core/src/infrastructure/webhook/mappers.rs
  core/src/infrastructure/webhook/repository.rs
Due: rust-fmt, rust-clippy

feat: add webhook notifications for user management events
  core/src/application/user/use_cases.rs
  core/src/application/user/use_cases/assign_role_use_case.rs
  core/src/application/user/use_cases/bulk_delete_user.rs
  core/src/application/user/use_cases/create_user_use_case.rs
  core/src/application/user/use_cases/delete_credential_use_case.rs
  core/src/application/user/use_cases/delete_user_use_case.rs
  core/src/application/user/use_cases/reset_password_use_case.rs
  core/src/application/user/use_cases/unassign_role_use_case.rs
  core/src/application/user/use_cases/update_user_use_case.rs
  core/src/domain/webhook/entities/webhook_payload.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
  core/src/domain/webhook/ports.rs
  core/src/domain/webhook/services/webhook_notifier_service.rs
Due: rust-fmt, rust-clippy

fix: role assignment error handling
  core/src/application/user/use_cases/assign_role_use_case.rs
Due: rust-fmt, rust-clippy

feat: handle required actions after authentication step
  core/src/application/authentication/use_cases/authenticate_use_case.rs
  front/src/pages/authentication/feature/execution/configure-otp-feature.tsx
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
Due: rust-fmt, rust-clippy, esint

api: add root path opt
  Cargo.lock
  api/Cargo.toml
  api/src/application/http/authentication/router.rs
  api/src/application/http/client/router.rs
  api/src/application/http/health/mod.rs
  api/src/application/http/realm/router.rs
  api/src/application/http/role/router.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/trident/router.rs
  api/src/application/http/user/handlers/get_user.rs
  api/src/application/http/user/handlers/get_user_roles.rs
  api/src/application/http/user/handlers/get_users.rs
  api/src/application/http/user/handlers/reset_password.rs
  api/src/application/http/user/handlers/unassign_role.rs
  api/src/application/http/user/handlers/update_user.rs
  api/src/application/http/user/router.rs
  api/src/application/http/webhook/handlers/create_webhook.rs
  api/src/application/http/webhook/handlers/delete_webhook.rs
  api/src/application/http/webhook/handlers/fetch_webhook.rs
  api/src/application/http/webhook/handlers/get_webhook.rs
  api/src/application/http/webhook/handlers/update_webhook.rs
  api/src/application/http/webhook/router.rs
  api/src/args.rs
Due: rust-fmt, rust-clippy

feat: Direct access grant for Clients (#364)
  api/src/application/http/client/handlers/create_client.rs
  api/src/application/http/client/handlers/update_client.rs
  api/src/application/http/client/validators.rs
  core/migrations/20250823153514_add_direct_access_grants_enabled_to_clients.down.sql
  core/migrations/20250823153514_add_direct_access_grants_enabled_to_clients.up.sql
  core/src/application/client/use_cases/create_client_use_case.rs
  core/src/application/orchestrators/startup_orchestrator.rs
  core/src/domain/authentication/strategies/password_strategy.rs
  core/src/domain/client/entities.rs
  core/src/domain/client/value_objects.rs
  core/src/domain/realm/services.rs
  core/src/entity/clients.rs
  core/src/infrastructure/client/mappers.rs
  core/src/infrastructure/repositories/client_repository.rs
  front/src/api/api.client.ts
  front/src/api/core.interface.ts
Due: rust-fmt, rust-clippy, esint

fix: update route paths and refactor handler parameters
  api/src/application/http/client/handlers/create_role.rs
Due: rust-fmt, rust-clippy

fix: include realm_name in DeleteClientResponse and update client deletion logic
  api/src/application/http/client/handlers/delete_client.rs
  front/src/api/api.client.ts
  front/src/api/client.api.ts
Due: rust-fmt, rust-clippy, esint

refactor: API client types to use single quotes and concise style
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
Due: esint

fix: add realm_name to BulkDeleteUserResponse and update API usage
  api/src/application/http/user/handlers/bulk_delete_user.rs
  front/src/api/api.client.ts
  front/src/api/api.tanstack.ts
  front/src/api/user.api.ts
  front/src/pages/user/feature/page-users-overview-feature.tsx
Due: rust-fmt, rust-clippy, esint

feat: Direct access grant for Clients (#364) - Update logic - Add new Authentication Error variant
  api/src/application/http/server/api_entities/api_error.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/strategies/password_strategy.rs
Due: rust-fmt, rust-clippy

feat: Direct access grant for Clients (#364) - Fix pre-commit issues
  core/migrations/20250823153514_add_direct_access_grants_enabled_to_clients.down.sql
  core/migrations/20250823153514_add_direct_access_grants_enabled_to_clients.up.sql
Due: none

feat: Direct access grant for Clients (#364) - Fix logic
  core/src/domain/authentication/strategies/password_strategy.rs
Due: rust-fmt, rust-clippy

feat: add webhooks settings page and API types for realm webhooks
  front/src/pages/realm/columns/list-webhooks.column.tsx
  front/src/pages/realm/feature/page-realm-settings-webhooks-feature.tsx
  front/src/pages/realm/layouts/realm-settings-layout.tsx
  front/src/pages/realm/page-realm.tsx
  front/src/pages/realm/ui/page-realm-settings-webhooks.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
Due: esint

feat: add webhook notifications for client CRUD operations
  core/src/application/client/use_cases.rs
  core/src/application/client/use_cases/create_client_use_case.rs
  core/src/application/client/use_cases/delete_client_use_case.rs
  core/src/application/client/use_cases/update_client_use_case.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
Due: rust-fmt, rust-clippy

fix: deprecated PORTAL URL and updated env.example
  README.md
  api/env.example
  api/src/application/http/server/http_server.rs
  docker-compose.local.yaml
  docker-compose.yaml
  docs/src/content/docs/welcome/installation.mdx
  operator/crds/crd-ferriskeycluster.yaml
  operator/src/controller/cluster/api.rs
  operator/src/crd/cluster.rs
Due: rust-fmt, rust-clippy

fix: translated french words
  front/src/components/ui/data-table.tsx
  front/src/pages/client/columns/list-client.column.tsx
Due: esint

ci(docker): support release tag
  .github/workflows/build-and-push-docker.yaml
  .github/workflows/docker.yaml
Due: none

api(realm): fix user realm path
  api/src/application/http/realm/router.rs
Due: rust-fmt, rust-clippy

ci(docker): push when merge on main
  .github/workflows/docker.yaml
Due: none

docker-compose: refactor using profiles
  README.md
  docker-compose.local.yaml
  docker-compose.yaml
Due: none

readme: fix
  .github/CODEOWNERS
  README.md
Due: none

delete role implementation - stacked commit, rebase later
  api/src/application/http/role/handlers/delete_role.rs
  api/src/application/http/role/handlers/get_role.rs
  api/src/application/http/role/handlers/update_role.rs
  api/src/application/http/role/handlers/update_role_permissions.rs
  api/src/application/http/role/router.rs
  core/src/application/common/factories.rs
  core/src/application/role/mod.rs
  core/src/application/role/policies.rs
  core/src/application/role/use_cases.rs
  core/src/application/role/use_cases/delete_role_use_case.rs
  core/src/application/role/use_cases/get_roles_use_case.rs
  core/src/application/role/use_cases/update_role_permissions_use_case.rs
  core/src/application/role/use_cases/update_role_use_case.rs
  front/src/api/api.client.ts
  front/src/api/role.api.ts
  front/src/pages/client/feature/page-client-roles-feature.tsx
  front/src/pages/client/ui/page-client-roles.tsx
  front/src/pages/role/feature/page-roles-overview-feature.tsx
  front/src/pages/role/ui/page-roles-overview.tsx
Due: rust-fmt, rust-clippy, esint

feat(realm): get realm settings through api
  api/src/application/http/realm/handlers.rs
  api/src/application/http/realm/handlers/get_user_realm_settings.rs
  api/src/application/http/realm/router.rs
  core/src/application/common/factories.rs
  core/src/application/realm/use_cases.rs
  core/src/application/realm/use_cases/get_user_realms_settings_use_case.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/infrastructure/realm/mod.rs
  core/src/infrastructure/repositories/realm_repository.rs
Due: rust-fmt, rust-clippy

feat: add webhook list and create pages to realm settings
  api/src/application/http/webhook/handlers/fetch_webhook.rs
  front/src/api/webhook.api.ts
  front/src/pages/realm/feature/page-realm-settings-create-webhook-feature.tsx
  front/src/pages/realm/feature/page-realm-settings-webhooks-feature.tsx
  front/src/pages/realm/page-realm.tsx
  front/src/pages/realm/ui/page-realm-settings-webhooks.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
Due: rust-fmt, rust-clippy, esint

feat: add webhook notifications for client role and URI changes
  core/src/application/client/use_cases.rs
  core/src/application/client/use_cases/create_redirect_uri_use_case.rs
  core/src/application/client/use_cases/create_role_use_case.rs
  core/src/application/client/use_cases/update_redirect_uri_use_case.rs
  core/src/domain/webhook/entities/webhook_trigger.rs
Due: rust-fmt, rust-clippy

feat: add client role created webhook trigger
  core/src/domain/webhook/entities/webhook_trigger.rs
Due: rust-fmt, rust-clippy
