Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

feat: add encryption at rest for client secrets and a secrets provider
  Cargo.lock
  api/src/application/http/server/api_entities/api_error.rs
  api/src/args.rs
  api/tests/device_flow_test.rs
  api/tests/organization_test.rs
  api/tests/portal_theme_test.rs
  api/tests/token_basic_auth_test.rs
  core/Cargo.toml
  core/migrations/20260618000000_add_client_secret_encrypted.down.sql
  core/migrations/20260618000000_add_client_secret_encrypted.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/common/mod.rs
  core/src/entity/clients.rs
  core/src/infrastructure/client/repositories.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/client/repositories/encrypting_client_repository.rs
  libs/ferriskey-security/Cargo.toml
  libs/ferriskey-security/src/cipher/field_cipher.rs
  libs/ferriskey-security/src/cipher/mod.rs
  libs/ferriskey-security/src/cipher/secrets.rs
  libs/ferriskey-security/src/lib.rs
Due: rust-fmt, rust-clippy

feat: add tamper-evident hash chaining to the audit log
  core/migrations/20260618100000_add_seawatch_chain_fields.down.sql
  core/migrations/20260618100000_add_seawatch_chain_fields.up.sql
  core/src/application/seawatch/mod.rs
  core/src/domain/seawatch/entities.rs
  core/src/domain/seawatch/hashing.rs
  core/src/domain/seawatch/mod.rs
  core/src/domain/seawatch/ports.rs
  core/src/domain/seawatch/services.rs
  core/src/entity/security_events.rs
  core/src/infrastructure/seawatch/mapper.rs
  core/src/infrastructure/seawatch/repositories/security_event_postgres_repository.rs
Due: rust-fmt, rust-clippy

feat: add account lockout and anti-brute-force on failed logins
  api/src/application/http/error.rs
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  api/src/application/http/test.rs
  api/src/application/http/user/handlers.rs
  api/src/application/http/user/handlers/unlock_user.rs
  api/src/application/http/user/router.rs
  api/tests/account_lockout_test.rs
  core/migrations/20260618000001_add_account_lockout_to_users.down.sql
  core/migrations/20260618000001_add_account_lockout_to_users.up.sql
  core/migrations/20260618000002_add_lockout_config_to_realm_settings.down.sql
  core/migrations/20260618000002_add_lockout_config_to_realm_settings.up.sql
  core/src/application/user/mod.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/abyss/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/common/services.rs
  core/src/domain/email_template/services.rs
  core/src/domain/organization/services.rs
  core/src/domain/portal_layouts/services.rs
  core/src/domain/portal_theme/services.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/user/ports.rs
  core/src/domain/user/services.rs
  core/src/entity/realm_settings.rs
  core/src/entity/users.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/user/mappers.rs
  core/src/infrastructure/user/repository.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/user/entities.rs
Due: rust-fmt, rust-clippy

feat: add configurable PII pseudonymisation for audit logs
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  core/migrations/20260618000000_add_seawatch_pii_mode_to_realm_settings.down.sql
  core/migrations/20260618000000_add_seawatch_pii_mode_to_realm_settings.up.sql
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/seawatch/mod.rs
  core/src/domain/seawatch/pii.rs
  core/src/entity/realm_settings.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/seawatch/repositories/security_event_postgres_repository.rs
  libs/ferriskey-domain/src/realm/mod.rs
Due: rust-fmt, rust-clippy

docs: add OIDC conformance runbook, support matrix and gap triage
  .gitignore
  conformance/README.md
  conformance/basic-certification.json
  docs/compliance/oidc-conformance-runbook.md
  docs/compliance/oidc-gap-triage.md
  docs/compliance/oidc-selfcert-path.md
  docs/compliance/oidc-support-matrix.md
Due: none

feat: ciam application detail (#1082)
  front/src/pages/console-applications/feature/page-application-detail-feature.tsx
  front/src/pages/console-applications/feature/page-applications-list-feature.tsx
  front/src/pages/console-applications/page-console-applications.tsx
  front/src/pages/console-applications/ui/application-detail-shell.tsx
  front/src/pages/console-applications/ui/tabs/api-access-tab.tsx
  front/src/pages/console-applications/ui/tabs/coming-soon-tab.tsx
  front/src/pages/console-applications/ui/tabs/credentials-tab.tsx
  front/src/pages/console-applications/ui/tabs/primitives.tsx
  front/src/pages/console-applications/ui/tabs/quickstart-tab.tsx
  front/src/pages/console-applications/ui/tabs/settings-tab.tsx
  front/src/routes/sub-router/applications.router.ts
Due: esint

fix: distinguish broker redirect URI failure modes
  api/src/application/http/error.rs
  core/src/domain/abyss/broker_services.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

fix: distinguish broker redirect URI failure modes (#1117)
  api/src/application/http/error.rs
  core/src/domain/abyss/broker_services.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

fix: Authentication error message
  api/src/application/http/error.rs
  core/src/domain/authentication/services.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
  front/pnpm-workspace.yaml
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

removed pnpm workspace file
  front/pnpm-workspace.yaml
Due: none

fix: remove details from authentication error message to prevent too many information (#1116)
  api/src/application/http/error.rs
  core/src/domain/authentication/services.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

fix: preset builder doesnt stack presets anymore, replaces current
  front/src/lib/builder-core/components/drag-overlay.tsx
  front/src/pages/portal/themes/components/page-component-library.tsx
  front/src/pages/portal/themes/ui/page-theme-builder.tsx
Due: esint

fix: preset builder doesnt stack presets anymore, replaces current (#1118)
  front/src/lib/builder-core/components/drag-overlay.tsx
  front/src/pages/portal/themes/components/page-component-library.tsx
  front/src/pages/portal/themes/ui/page-theme-builder.tsx
Due: esint

fix: redirects from login page to overview if user it authentified
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: esint

fix: removed double quote
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: esint

fix: redirects to overview if user tries to go back to login page while still connected (#1119)
  front/src/pages/authentication/feature/page-login-feature.tsx
Due: esint

chore: updated front dependencies
  front/package.json
  front/pnpm-lock.yaml
Due: none

feat: re-added pnpm workspace.yaml
  front/pnpm-workspace.yaml
Due: none

feat: added mjml-core to fix dependencies version issues
  front/package.json
  front/pnpm-lock.yaml
  front/pnpm-workspace.yaml
Due: none

fix: added the workspace file to the dockerfile and where it searches for packages
  Dockerfile
  front/pnpm-workspace.yaml
Due: hadolint

feat: customizable device code pages in portal theme builder
  core/migrations/20260627000000_portal_themes_add_device_verify_page.down.sql
  core/migrations/20260627000000_portal_themes_add_device_verify_page.up.sql
  core/src/domain/portal_theme/entities.rs
  core/src/domain/portal_theme/validation.rs
  core/src/entity/portal_themes.rs
  core/src/infrastructure/repositories/portal_theme_repository.rs
  front/src/api/api.client.ts
  front/src/api/portal-theme.api.tsx
  front/src/lib/builder-portal/components.tsx
  front/src/lib/builder-portal/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-portal/presets.ts
  front/src/lib/builder-portal/renderer.tsx
  front/src/lib/builder-portal/visual-blocks/visual-block-registry.tsx
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/authentication/hooks/use-portal-page-submit.ts
  front/src/pages/authentication/page-authentication.tsx
  front/src/pages/authentication/ui/page-device-verify.tsx
  front/src/pages/portal/themes/feature/page-theme-builder-feature.tsx
  front/src/pages/portal/themes/ui/page-theme-builder.tsx
Due: rust-fmt, rust-clippy, esint

feat: customizable device code pages in portal theme builder (#1121)
  core/migrations/20260627000000_portal_themes_add_device_verify_page.down.sql
  core/migrations/20260627000000_portal_themes_add_device_verify_page.up.sql
  core/src/domain/portal_theme/entities.rs
  core/src/domain/portal_theme/validation.rs
  core/src/entity/portal_themes.rs
  core/src/infrastructure/repositories/portal_theme_repository.rs
  front/src/api/api.client.ts
  front/src/api/portal-theme.api.tsx
  front/src/lib/builder-portal/components.tsx
  front/src/lib/builder-portal/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-portal/presets.ts
  front/src/lib/builder-portal/renderer.tsx
  front/src/lib/builder-portal/visual-blocks/visual-block-registry.tsx
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/authentication/hooks/use-portal-page-submit.ts
  front/src/pages/authentication/page-authentication.tsx
  front/src/pages/authentication/ui/page-device-verify.tsx
  front/src/pages/portal/themes/feature/page-theme-builder-feature.tsx
  front/src/pages/portal/themes/ui/page-theme-builder.tsx
Due: rust-fmt, rust-clippy, esint

fix: add required OIDC discovery fields to provider configuration response
  api/src/application/http/authentication/handlers/openid_configuration.rs
Due: rust-fmt, rust-clippy

fix: add required OIDC discovery fields to provider configuration responses (#1123)
  api/src/application/http/authentication/handlers/openid_configuration.rs
Due: rust-fmt, rust-clippy

fix: include nonce claim in id_token for authorization code flow
  .github/workflows/integration-tests.yaml
  api/src/application/http/authentication/handlers/auth.rs
  api/tests/nonce_id_token_test.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy

test: avoid admin-cli default client in nonce id_token test
  api/tests/nonce_id_token_test.rs
Due: rust-fmt, rust-clippy

test: forward session cookie explicitly in nonce id_token test
  api/tests/nonce_id_token_test.rs
Due: rust-fmt, rust-clippy

fix: include nonce claim in id_token for authorization code flow (#1125)
  .github/workflows/integration-tests.yaml
  api/src/application/http/authentication/handlers/auth.rs
  api/tests/nonce_id_token_test.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy

feat: wire themes & email templates into the CIAM console branding
  front/src/components/layout/product-layout.tsx
  front/src/components/layout/product-nav-config.ts
  front/src/index.css
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/console-branding/page-console-branding.tsx
  front/src/pages/email-template/feature/page-email-template-builder-feature.tsx
  front/src/pages/portal-layouts/components/sidebar-tabs.tsx
  front/src/pages/portal/components/portal-overview-header.tsx
  front/src/pages/portal/themes/components/page-component-library.tsx
  front/src/pages/portal/themes/components/page-tree-editor.tsx
  front/src/pages/portal/themes/feature/page-theme-builder-feature.tsx
  front/src/pages/portal/themes/feature/page-themes-list-feature.tsx
  front/src/pages/portal/themes/ui/page-theme-builder.tsx
  front/src/pages/realm/feature/page-realm-settings-email-feature.tsx
  front/src/routes/sub-router/email-template.router.ts
  front/src/routes/sub-router/portal-theme.router.ts
Due: esint

feat: enforce realm password policy across password set flows
  .github/workflows/integration-tests.yaml
  api/src/application/http/authentication/handlers/registration.rs
  api/src/application/http/error.rs
  api/src/application/http/realm/handlers.rs
  api/src/application/http/realm/handlers/get_public_password_policy.rs
  api/src/application/http/realm/router.rs
  api/src/application/http/trident/handlers/reset_password.rs
  api/src/application/http/trident/handlers/update_password.rs
  api/src/application/http/user/handlers/reset_password.rs
  api/tests/password_policy_test.rs
  core/src/application/services.rs
  core/src/domain/password_policy/entity.rs
  core/src/domain/password_policy/error.rs
  core/src/domain/password_policy/service.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: validate password against realm policy on register and reset pages
  front/src/api/password-policy.api.ts
  front/src/pages/authentication/components/password-requirements.tsx
  front/src/pages/authentication/feature/page-register-feature.tsx
  front/src/pages/authentication/feature/page-reset-password-feature.tsx
  front/src/pages/authentication/schemas/reset-password.schema.ts
  front/src/pages/authentication/ui/page-register.tsx
  front/src/pages/authentication/ui/page-reset-password.tsx
  front/src/pages/authentication/utils/password-policy.ts
Due: esint

test: fix user-creation envelope and status in password policy test
  api/tests/password_policy_test.rs
Due: rust-fmt, rust-clippy

fix: use char count and consistent 422 for password policy
  api/src/application/http/error.rs
  api/src/application/http/realm/handlers/get_public_password_policy.rs
  core/src/domain/password_policy/entity.rs
  front/src/pages/authentication/feature/page-register-feature.tsx
  front/src/pages/authentication/schemas/reset-password.schema.ts
  front/src/pages/authentication/utils/password-policy.ts
Due: rust-fmt, rust-clippy, esint

feat: wire themes & email templates into the CIAM console branding (#1126)
  front/src/components/layout/product-layout.tsx
  front/src/components/layout/product-nav-config.ts
  front/src/index.css
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/console-branding/page-console-branding.tsx
  front/src/pages/email-template/feature/page-email-template-builder-feature.tsx
  front/src/pages/portal-layouts/components/sidebar-tabs.tsx
  front/src/pages/portal/components/portal-overview-header.tsx
  front/src/pages/portal/themes/components/page-component-library.tsx
  front/src/pages/portal/themes/components/page-tree-editor.tsx
  front/src/pages/portal/themes/feature/page-theme-builder-feature.tsx
  front/src/pages/portal/themes/feature/page-themes-list-feature.tsx
  front/src/pages/portal/themes/ui/page-theme-builder.tsx
  front/src/pages/realm/feature/page-realm-settings-email-feature.tsx
  front/src/routes/sub-router/email-template.router.ts
  front/src/routes/sub-router/portal-theme.router.ts
Due: esint

feat: enforce per-realm password policy on register, reset and password changes (#1127)
  .github/workflows/integration-tests.yaml
  api/src/application/http/authentication/handlers/registration.rs
  api/src/application/http/error.rs
  api/src/application/http/realm/handlers.rs
  api/src/application/http/realm/handlers/get_public_password_policy.rs
  api/src/application/http/realm/router.rs
  api/src/application/http/trident/handlers/reset_password.rs
  api/src/application/http/trident/handlers/update_password.rs
  api/src/application/http/user/handlers/reset_password.rs
  api/tests/password_policy_test.rs
  core/src/application/services.rs
  core/src/domain/password_policy/entity.rs
  core/src/domain/password_policy/error.rs
  core/src/domain/password_policy/service.rs
  front/src/api/password-policy.api.ts
  front/src/pages/authentication/components/password-requirements.tsx
  front/src/pages/authentication/feature/page-register-feature.tsx
  front/src/pages/authentication/feature/page-reset-password-feature.tsx
  front/src/pages/authentication/schemas/reset-password.schema.ts
  front/src/pages/authentication/ui/page-register.tsx
  front/src/pages/authentication/ui/page-reset-password.tsx
  front/src/pages/authentication/utils/password-policy.ts
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy, esint

feat: bump version
  Cargo.lock
  Cargo.toml
  charts/ferriskey-operator/Chart.yaml
  charts/ferriskey-operator/README.md
  charts/ferriskey-operator/README.md.gotmpl
  charts/ferriskey/Chart.yaml
  charts/ferriskey/README.md
Due: rust-clippy

feat: bump version (#1128)
  Cargo.lock
  Cargo.toml
  charts/ferriskey-operator/Chart.yaml
  charts/ferriskey-operator/README.md
  charts/ferriskey-operator/README.md.gotmpl
  charts/ferriskey/Chart.yaml
  charts/ferriskey/README.md
Due: rust-clippy
