Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

wip
  core/src/domain/aegis/ports.rs
  core/src/domain/aegis/services/client_scope_service.rs
  core/src/domain/aegis/services/mod.rs
  core/src/domain/aegis/services/protocol_mapper_service.rs
  core/src/domain/aegis/services/scope_mapping_service.rs
Due: rust-fmt, rust-clippy

feat: implement client scope services and repositories (#714)
  core/src/domain/aegis/mod.rs
  core/src/domain/aegis/policies.rs
  core/src/domain/aegis/ports.rs
  core/src/domain/aegis/services/client_scope_service.rs
  core/src/domain/aegis/services/mod.rs
  core/src/domain/aegis/services/protocol_mapper_service.rs
  core/src/domain/aegis/services/scope_mapping_service.rs
  core/src/domain/role/entities/permission.rs
  core/src/entity/client_scope_attributes.rs
  core/src/entity/client_scope_mappings.rs
  core/src/entity/client_scope_protocol_mappers.rs
  core/src/entity/client_scopes.rs
  core/src/entity/mod.rs
  core/src/infrastructure/aegis/mappers.rs
  core/src/infrastructure/aegis/mod.rs
  core/src/infrastructure/aegis/repositories/client_scope_attribute_postgres_repository.rs
  core/src/infrastructure/aegis/repositories/client_scope_postgres_repository.rs
  core/src/infrastructure/aegis/repositories/mod.rs
  core/src/infrastructure/aegis/repositories/protocol_mapper_postgres_repository.rs
  core/src/infrastructure/aegis/repositories/scope_mapping_postgres_repository.rs
  core/src/infrastructure/mod.rs
  prompts/aegis-services.md
Due: rust-fmt, rust-clippy

fix: client_scope_id constraint
  core/migrations/20260209000002_create_client_scope_attributes.up.sql
  core/migrations/20260209000004_create_client_scope_mappings.up.sql
Due: none

fix: client_scope_id constraint (#716)
  core/migrations/20260209000002_create_client_scope_attributes.up.sql
  core/migrations/20260209000004_create_client_scope_mappings.up.sql
Due: none

feat: add on_delete constraint
  core/migrations/20260209000005_add-delete-cascade-realm.down.sql
  core/migrations/20260209000005_add-delete-cascade-realm.up.sql
Due: none

fix: propagate JWT scope into refresh tokens
  core/src/domain/authentication/services.rs
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy

feat: add on_delete constraint (#718)
  core/migrations/20260209000005_add-delete-cascade-realm.down.sql
  core/migrations/20260209000005_add-delete-cascade-realm.up.sql
Due: none

feat: add SHA1 support and JWK x5t field
  Cargo.lock
  front/openapi.yaml
  front/src/api/api.client.ts
  front/src/api/core.interface.ts
  libs/ferriskey-security/Cargo.toml
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy, esint

feat: add SHA1 support and JWK x5t field (#721)
  Cargo.lock
  front/openapi.yaml
  front/src/api/api.client.ts
  front/src/api/core.interface.ts
  libs/ferriskey-security/Cargo.toml
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy, esint

fix: propagate JWT scope into refresh tokens (#719)
  core/src/domain/authentication/services.rs
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy

feat: introspect intial phase (#2)
  Cargo.lock
  TOKEN_INTROSPECTION_TODO.md
  api/src/application/http/authentication/handlers.rs
  api/src/application/http/authentication/handlers/introspect.rs
  api/src/application/http/authentication/router.rs
  api/src/application/http/authentication/validators.rs
  core/migrations/20260208120000_create-access-tokens.down.sql
  core/migrations/20260208120000_create-access-tokens.up.sql
  core/src/application/auth/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/scope.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/entity/access_tokens.rs
  core/src/entity/mod.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/access_token_repository.rs
  libs/ferriskey-domain/Cargo.toml
  libs/ferriskey-domain/src/authentication/entities.rs
  libs/ferriskey-security/src/jwt/entities.rs
  libs/ferriskey-security/src/jwt/ports.rs
Due: rust-fmt, rust-clippy

refactor: Introduce `ApplicationAuthService` type alias to simplify complex `AuthServiceImpl` definition.
  core/src/application/services.rs
  prompt.md
Due: rust-fmt, rust-clippy

chore: remove TODO file and update justfile
  TOKEN_INTROSPECTION_TODO.md
  justfile
Due: none

refactor: extract helper to deduplicate creation logic.
  core/src/domain/authentication/services.rs
  prompt.md
Due: rust-fmt, rust-clippy

refactor: Update introspect handler to use custom `Response<T>` and add token verification in authentication service.
  api/src/application/http/authentication/handlers/introspect.rs
  core/src/domain/authentication/services.rs
  prompt.md
Due: rust-fmt, rust-clippy

refactor: Remove redundant token signature verification for database-backed tokens and make basic authentication scheme prefix case-insensitive.
  api/src/application/http/authentication/handlers/introspect.rs
  core/migrations/20260208120000_create-access-tokens.down.sql
  core/migrations/20260208120000_create-access-tokens.up.sql
  core/src/domain/authentication/services.rs
  prompt.md
Due: rust-fmt, rust-clippy

fix: Replace direct client secret comparison with constant-time hash comparison to mitigate timing attacks.
  Cargo.lock
  core/Cargo.toml
  core/src/domain/authentication/services.rs
  prompt.md
Due: rust-fmt, rust-clippy

chore: remove prompt.md
  prompt.md
Due: none

auth: remove introspection role gate and keep confidential-client checks (#3)
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat(auth): Implement OAuth2/OIDC Token Introspection (RFC 7662) endpoint (#722)
  Cargo.lock
  api/src/application/http/authentication/handlers.rs
  api/src/application/http/authentication/handlers/introspect.rs
  api/src/application/http/authentication/router.rs
  api/src/application/http/authentication/validators.rs
  core/Cargo.toml
  core/migrations/20260208120000_create-access-tokens.down.sql
  core/migrations/20260208120000_create-access-tokens.up.sql
  core/src/application/auth/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/scope.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/entity/access_tokens.rs
  core/src/entity/mod.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/access_token_repository.rs
  justfile
  libs/ferriskey-domain/Cargo.toml
  libs/ferriskey-domain/src/authentication/entities.rs
  libs/ferriskey-security/src/jwt/entities.rs
  libs/ferriskey-security/src/jwt/ports.rs
Due: rust-fmt, rust-clippy

feat: add JWKS endpoints and JWK 'use' field
  api/src/application/http/authentication/handlers/get_certs.rs
  api/src/application/http/authentication/handlers/openid_configuration.rs
  api/src/application/http/authentication/router.rs
  core/src/domain/authentication/services.rs
  front/openapi.yaml
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy

feat: Add db entities
  core/migrations/20251128072715_create_magic_links.down.sql
  core/migrations/20251128072715_create_magic_links.up.sql
  core/migrations/20251128072716_add_magic_link_settings_to_realm_settings.down.sql
  core/migrations/20251128072716_add_magic_link_settings_to_realm_settings.up.sql
Due: none

feat: init handler for magiclink
  api/src/application/http/trident/handlers.rs
  api/src/application/http/trident/handlers/magic_link.rs
Due: rust-fmt, rust-clippy

feat: seaorm entities
  core/src/entity/magic_links.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
Due: rust-fmt, rust-clippy

feat: seaorm update on all entities
  core/src/entity/auth_sessions.rs
  core/src/entity/clients.rs
  core/src/entity/credentials.rs
  core/src/entity/jwt_keys.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
  core/src/entity/redirect_uris.rs
  core/src/entity/refresh_tokens.rs
  core/src/entity/roles.rs
  core/src/entity/security_events.rs
  core/src/entity/user_required_actions.rs
  core/src/entity/user_role.rs
  core/src/entity/user_sessions.rs
  core/src/entity/users.rs
  core/src/entity/webhook_subscribers.rs
  core/src/entity/webhooks.rs
Due: rust-fmt, rust-clippy

feat: new trait for magic-link domain and entities
  core/src/domain/trident/entities/mod.rs
  core/src/domain/trident/ports.rs
Due: rust-fmt, rust-clippy

feat: Add magiclink entities and errors
  api/src/application/http/error.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/services.rs
  core/src/domain/common/entities/app_errors.rs
  core/src/domain/realm/entities.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
Due: rust-fmt, rust-clippy

feat: refactor magic link handling and cleanup logic
  api/src/application/http/trident/handlers/magic_link.rs
  core/src/application/trident/mod.rs
  core/src/domain/common/mod.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/repositories/magic_link_repository.rs
Due: rust-fmt, rust-clippy

feat: first implem
  api/src/application/http/trident/handlers/magic_link.rs
  api/src/application/http/trident/router.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/application/trident/mod.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/magic_link_repository.rs
Due: rust-fmt, rust-clippy

feat: fix handlers
  api/src/application/http/trident/handlers/magic_link.rs
Due: rust-fmt, rust-clippy

feat: enhance magic link functionality with token hashing and verification
  Cargo.lock
  api/src/application/http/trident/handlers/magic_link.rs
  core/Cargo.toml
  core/src/application/trident/mod.rs
  core/src/domain/authentication/services.rs
  core/src/domain/trident/entities/mod.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/repositories/argon2_hasher.rs
  core/src/infrastructure/repositories/magic_link_repository.rs
  libs/ferriskey-security/src/crypto/ports.rs
Due: rust-fmt, rust-clippy

feat: clean log + utoipa
  api/src/application/http/trident/handlers/magic_link.rs
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

feat: add token_id to magic link handling and update related logic
  api/src/application/http/trident/handlers/magic_link.rs
  core/Cargo.toml
  core/migrations/20260115150000_add_magic_link_token_id.down.sql
  core/migrations/20260115150000_add_magic_link_token_id.up.sql
  core/src/domain/trident/entities/mod.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/entity/magic_links.rs
  core/src/infrastructure/repositories/argon2_hasher.rs
  core/src/infrastructure/repositories/magic_link_repository.rs
Due: rust-fmt, rust-clippy

feat: fix utoipa + generate openapi + tanstack api client and query hooks
  api/src/application/http/trident/handlers/magic_link.rs
  api/src/application/http/trident/router.rs
  front/README.md
  front/openapi.yaml
  front/src/api/api.client.ts
  front/src/api/trident.api.ts
Due: rust-fmt, rust-clippy, esint

feat: update realm settings
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  front/openapi.yaml
  front/src/api/api.client.ts
  front/src/pages/authentication/schemas/magic-link.schema.ts
Due: rust-fmt, rust-clippy, esint

feat: clean + remove authentication for magic link route
  api/src/application/http/trident/handlers/magic_link.rs
  api/src/application/http/trident/router.rs
  core/src/application/mod.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/services.rs
  core/src/domain/realm/ports.rs
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

clean + little fix
  api/src/application/http/trident/handlers/magic_link.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/repositories/argon2_hasher.rs
  core/src/infrastructure/repositories/magic_link_repository.rs
Due: rust-fmt, rust-clippy

docs: clarify nginx controversy vs ingress-nginx retirement
  docs/docker-hardening-report.md
Due: none

fix(docker): stabilize Wolfi build stages with required deps
  Dockerfile
Due: hadolint

fix(webapp): serve frontend correctly on Angie image
  Dockerfile
  front/docker-entrypoint.sh
  front/nginx.conf
Due: hadolint, shellcheck
