Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

chore: removed unnessecerry files
  .dockerignore
  .gitignore
  DEVELOPMENT.md
  docker-compose.yaml
  front/nginx.ssl.conf
Due: none

chore: removed unnessecerry files
  docs/docker-hardening-report.md
Due: none

fix(webapp): harden docker entrypoint cleanup and API_URL placeholder
  front/docker-entrypoint.sh
Due: shellcheck

Committed.
  .certs/dev-test-ssl/localhost.crt
Due: none

chore(docker): align compose/runtime hardening and drop local ssl cert artifact
  .certs/dev-test-ssl/localhost.crt
  Dockerfile
  README.md
  docker-compose.yaml
  front/docker-entrypoint.sh
  justfile
Due: hadolint, shellcheck

fix(compose): use postgres18 volume mount path and update migration note
  README.md
  docker-compose.yaml
Due: none

chore(docker): pin angie webapp base image tag
  Dockerfile
Due: hadolint

fix(webapp): escape sed delimiter in API_URL replacement
  front/docker-entrypoint.sh
Due: shellcheck

refactor(docker): rename angie config and reuse wolfi base arg
  Dockerfile
  front/default.conf
Due: hadolint

fix(runtime): install ca-certificates and libssl3 for rust binaries
  Dockerfile
Due: hadolint

chore(docker): harden container images, eliminate CVEs, and align Angie runtime (#732)
  Dockerfile
  README.md
  docker-compose.yaml
  docs/docker-hardening-report.md
  front/default.conf
  front/docker-entrypoint.sh
  justfile
Due: hadolint, shellcheck

refactor(api): decode optional JWT payload into JwtClaim
  api/src/application/decoded_token.rs
Due: rust-fmt, rust-clippy

refactor(api): pass JwtClaim to userinfo service input
  api/src/application/http/authentication/handlers/userinfo.rs
Due: rust-fmt, rust-clippy

refactor(core): use JwtClaim for userinfo input
  core/src/domain/authentication/value_objects.rs
Due: rust-fmt, rust-clippy

refactor(core): remove DecodedToken entity
  core/src/domain/authentication/entities.rs
Due: rust-fmt, rust-clippy

chore(import) remove redundant jwt:: prefix
  api/src/application/decoded_token.rs
Due: rust-fmt, rust-clippy

fix: update abyss service documentation (#655)
  api/src/application/http/abyss/federation/handlers/create_provider.rs
  api/src/application/http/abyss/federation/handlers/delete_provider.rs
  api/src/application/http/abyss/federation/handlers/get_provider.rs
  api/src/application/http/abyss/federation/handlers/list_providers.rs
  api/src/application/http/abyss/federation/handlers/update_provider.rs
  api/src/application/http/server/api_entities/api_error.rs
Due: rust-fmt, rust-clippy

fix: add response status
  api/src/application/http/authentication/handlers/authentificate.rs
Due: rust-fmt, rust-clippy

fix(realm): add response status
  api/src/application/http/realm/handlers/create_realm.rs
  api/src/application/http/realm/handlers/delete_realm.rs
  api/src/application/http/realm/handlers/get_login_realm_settings.rs
  api/src/application/http/realm/handlers/get_realm.rs
  api/src/application/http/realm/handlers/get_user_realm_settings.rs
  api/src/application/http/realm/handlers/get_user_realms.rs
  api/src/application/http/realm/handlers/update_realm.rs
  api/src/application/http/realm/handlers/update_realm_setting.rs
Due: rust-fmt, rust-clippy

fix: add response status
  api/src/application/http/authentication/handlers/get_certs.rs
  api/src/application/http/authentication/handlers/introspect.rs
  api/src/application/http/authentication/handlers/logout.rs
  api/src/application/http/authentication/handlers/registration.rs
  api/src/application/http/authentication/handlers/token.rs
  api/src/application/http/broker/handlers/callback.rs
  api/src/application/http/broker/handlers/login.rs
  api/src/application/http/client/handlers/create_client.rs
  api/src/application/http/client/handlers/create_role.rs
  api/src/application/http/client/handlers/delete_client.rs
  api/src/application/http/client/handlers/delete_redirect_uri.rs
  api/src/application/http/client/handlers/get_client_roles.rs
Due: rust-fmt, rust-clippy

fix(client): add response status
  api/src/application/http/client/handlers/get_client.rs
  api/src/application/http/client/handlers/get_clients.rs
  api/src/application/http/client/handlers/get_redirect_uris.rs
  api/src/application/http/client/handlers/update_client.rs
  api/src/application/http/client/handlers/update_redirect_uri.rs
Due: rust-fmt, rust-clippy

fix(realm): add bad request response
  api/src/application/http/realm/handlers/create_realm.rs
  api/src/application/http/realm/handlers/update_realm_setting.rs
Due: rust-fmt, rust-clippy

fix(role): update indentation
  api/src/application/http/role/handlers/update_role.rs
Due: rust-fmt, rust-clippy

fix(seawatch): add response status
  api/src/application/http/seawatch/handlers/get_security_events.rs
Due: rust-fmt, rust-clippy

fix(user): add response status
  api/src/application/http/user/handlers/assign_role.rs
  api/src/application/http/user/handlers/bulk_delete_user.rs
  api/src/application/http/user/handlers/create_user.rs
  api/src/application/http/user/handlers/delete_credential.rs
  api/src/application/http/user/handlers/delete_user.rs
  api/src/application/http/user/handlers/get_credentials.rs
  api/src/application/http/user/handlers/get_user.rs
  api/src/application/http/user/handlers/get_user_permissions.rs
  api/src/application/http/user/handlers/get_user_roles.rs
  api/src/application/http/user/handlers/get_users.rs
  api/src/application/http/user/handlers/reset_password.rs
  api/src/application/http/user/handlers/unassign_role.rs
  api/src/application/http/user/handlers/update_user.rs
  core/src/domain/user/services.rs
Due: rust-fmt, rust-clippy

fix(webhook): add response status
  api/src/application/http/webhook/handlers/create_webhook.rs
  api/src/application/http/webhook/handlers/delete_webhook.rs
  api/src/application/http/webhook/handlers/fetch_webhook.rs
  api/src/application/http/webhook/handlers/get_webhook.rs
  api/src/application/http/webhook/handlers/update_webhook.rs
Due: rust-fmt, rust-clippy

fix(role): add response status
  api/src/application/http/role/handlers/delete_role.rs
  api/src/application/http/role/handlers/get_role.rs
  api/src/application/http/role/handlers/get_roles.rs
  api/src/application/http/role/handlers/update_role.rs
  api/src/application/http/role/handlers/update_role_permissions.rs
Due: rust-fmt, rust-clippy

fix(trident): add response status
  api/src/application/http/trident/handlers/burn_recovery_code.rs
  api/src/application/http/trident/handlers/challenge_otp.rs
  api/src/application/http/trident/handlers/generate_recovery_codes.rs
  api/src/application/http/trident/handlers/setup_otp.rs
  api/src/application/http/trident/handlers/update_password.rs
  api/src/application/http/trident/handlers/verify_otp.rs
  api/src/application/http/trident/handlers/webauthn_public_key_authenticate.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create_options.rs
  api/src/application/http/trident/handlers/webauthn_public_key_request_options.rs
Due: rust-fmt, rust-clippy

fix(abyss): remove duplicate response status
  api/src/application/http/abyss/federation/handlers/create_provider.rs
  api/src/application/http/authentication/handlers/logout.rs
Due: rust-fmt, rust-clippy

fix(authentication): update route documentation
  api/src/application/http/authentication/handlers/get_certs.rs
Due: rust-fmt, rust-clippy

wip
  api/src/application/http/realm/handlers/update_realm.rs
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/server/api_entities/response.rs
Due: rust-fmt, rust-clippy

feat: implement client scope api endpoints
  PROMPT_AEGIS_HTTP.md
  api/src/application/http.rs
  api/src/application/http/aegis.rs
  api/src/application/http/aegis/handlers.rs
  api/src/application/http/aegis/handlers/assign_default_scope.rs
  api/src/application/http/aegis/handlers/assign_optional_scope.rs
  api/src/application/http/aegis/handlers/create_client_scope.rs
  api/src/application/http/aegis/handlers/create_protocol_mapper.rs
  api/src/application/http/aegis/handlers/delete_client_scope.rs
  api/src/application/http/aegis/handlers/delete_protocol_mapper.rs
  api/src/application/http/aegis/handlers/get_client_scope.rs
  api/src/application/http/aegis/handlers/get_client_scopes.rs
  api/src/application/http/aegis/handlers/unassign_default_scope.rs
  api/src/application/http/aegis/handlers/unassign_optional_scope.rs
  api/src/application/http/aegis/handlers/update_client_scope.rs
  api/src/application/http/aegis/handlers/update_protocol_mapper.rs
  api/src/application/http/aegis/router.rs
  api/src/application/http/aegis/validators.rs
  api/src/application/http/server/http_server.rs
  api/src/application/http/server/openapi.rs
  core/src/application/aegis.rs
  core/src/application/mod.rs
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

feat: regenerate entities
  core/src/entity/auth_sessions.rs
  core/src/entity/client_scope_attributes.rs
  core/src/entity/client_scope_mappings.rs
  core/src/entity/client_scopes.rs
  core/src/entity/clients.rs
  core/src/entity/credentials.rs
  core/src/entity/identity_providers.rs
  core/src/entity/jwt_keys.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
  core/src/entity/redirect_uris.rs
  core/src/entity/refresh_tokens.rs
  core/src/entity/roles.rs
  core/src/entity/security_events.rs
  core/src/entity/user_federation_mappings.rs
  core/src/entity/user_federation_providers.rs
  core/src/entity/user_required_actions.rs
  core/src/entity/user_role.rs
  core/src/entity/user_sessions.rs
  core/src/entity/users.rs
  core/src/entity/webhook_subscribers.rs
  core/src/entity/webhooks.rs
  core/src/infrastructure/aegis/mappers.rs
  core/src/infrastructure/aegis/repositories/client_scope_attribute_postgres_repository.rs
  core/src/infrastructure/aegis/repositories/scope_mapping_postgres_repository.rs
Due: rust-fmt, rust-clippy

refactor: remove md
  PROMPT_AEGIS_HTTP.md
Due: none

fix: relation block in clients entity
  core/src/entity/clients.rs
Due: rust-fmt, rust-clippy

feat: enhance realm updates return (#735)
  api/src/application/http/realm/handlers/update_realm.rs
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/server/api_entities/response.rs
Due: rust-fmt, rust-clippy

feat: migrate update handlers returns
  api/src/application/http/abyss/federation/handlers/update_provider.rs
  api/src/application/http/abyss/identity_provider/handlers/update_identity_provider.rs
  api/src/application/http/client/handlers/update_client.rs
  api/src/application/http/client/handlers/update_post_logout_redirect_uri.rs
  api/src/application/http/client/handlers/update_redirect_uri.rs
  api/src/application/http/role/handlers/update_role.rs
  api/src/application/http/role/handlers/update_role_permissions.rs
  api/src/application/http/user/handlers/update_user.rs
  api/src/application/http/webhook/handlers/update_webhook.rs
  front/src/api/api.client.ts
  front/src/api/api.interface.ts
  front/src/api/role.api.ts
Due: rust-fmt, rust-clippy, esint

feat: migrate T to data: T
  api/src/application/http/abyss/federation/handlers/update_provider.rs
  api/src/application/http/abyss/identity_provider/handlers/update_identity_provider.rs
  api/src/application/http/client/handlers/update_client.rs
  api/src/application/http/client/handlers/update_post_logout_redirect_uri.rs
  api/src/application/http/client/handlers/update_redirect_uri.rs
  api/src/application/http/realm/handlers/update_realm.rs
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/role/handlers/update_role.rs
  api/src/application/http/role/handlers/update_role_permissions.rs
  api/src/application/http/user/handlers/update_user.rs
  api/src/application/http/webhook/handlers/update_webhook.rs
  front/src/api/api.client.ts
  front/src/api/api.interface.ts
  front/src/api/client.api.ts
  front/src/api/realm.api.ts
  front/src/api/role.api.ts
Due: rust-fmt, rust-clippy, esint
