Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

fix(front): tighten api url resolution and settings/form cleanup
  front/src/App.tsx
  front/src/index.css
  front/src/pages/identity-providers/feature/page-create-feature.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
Due: esint

fix(front): harden ldap form typing and numeric input handling
  front/src/components/ui/input-text.tsx
  front/src/pages/user-federation/feature/page-detail-ldap-feature.tsx
  front/src/pages/user-federation/ui/ldap-form-ui.tsx
Due: esint

fix(input-text): guard NaN for number input and allow undefined
  front/src/components/ui/input-text.tsx
Due: esint

feat: wasm experimentation
  Cargo.lock
  Cargo.toml
  api/src/args.rs
  api/src/main.rs
  core/Cargo.toml
  core/src/application/mod.rs
  core/src/domain/common/mod.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  examples/wasm-extensions/logger/Cargo.lock
  examples/wasm-extensions/logger/Cargo.toml
  examples/wasm-extensions/logger/src/lib.rs
  examples/wasm-extensions/run.sh
  extensions/ferriskey_ext_logger.wasm
  libs/ferriskey-wasm/Cargo.toml
  libs/ferriskey-wasm/guest/Cargo.toml
  libs/ferriskey-wasm/guest/src/lib.rs
  libs/ferriskey-wasm/src/dispatcher.rs
  libs/ferriskey-wasm/src/extension.rs
  libs/ferriskey-wasm/src/lib.rs
  libs/ferriskey-wasm/src/runtime.rs
Due: rust-fmt, rust-clippy, shellcheck

feat: core refactor client type for make a enum
  api/src/application/http/client/validators.rs
  core/src/application/mod.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/common/services.rs
  core/src/domain/realm/services.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  libs/ferriskey-domain/src/client/commands.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/value_objects.rs
Due: rust-fmt, rust-clippy

feat: core refactor client type for make a enum (#799)
  api/src/application/http/client/validators.rs
  core/src/application/mod.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/common/services.rs
  core/src/domain/realm/services.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  libs/ferriskey-domain/src/client/commands.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/value_objects.rs
Due: rust-fmt, rust-clippy

feat: add dark theme in compass flow
  front/src/pages/compass/ui/flow-timeline.tsx
Due: esint

fix(front): stabilize API routing, generated client consistency, and dependency updates (#794)
  front/package.json
  front/pnpm-lock.yaml
  front/src/App.tsx
  front/src/components/realm-switcher.tsx
  front/src/components/ui/chart.tsx
  front/src/components/ui/filters.tsx
  front/src/components/ui/input-text.tsx
  front/src/components/ui/sidebar.tsx
  front/src/hooks/use-form-changes.ts
  front/src/index.css
  front/src/pages/authentication/feature/page-callback-feature.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/feature/page-required-action-feature.tsx
  front/src/pages/identity-providers/feature/page-create-feature.tsx
  front/src/pages/realm/layouts/realm-settings-layout.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
  front/src/pages/user-federation/schemas/ldap-provider.schema.ts
  front/src/pages/user-federation/ui/ldap-form-ui.tsx
  front/src/pages/user/feature/modals/role-mapping-modal-feature.tsx
  front/src/store/realm.store.ts
Due: esint

feat: implement protocol mapper execution engine to inject custom claims into tokens (#793)
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/mapper_engine.rs
  core/src/domain/authentication/mappers/audience_mapper.rs
  core/src/domain/authentication/mappers/hardcoded_claim_mapper.rs
  core/src/domain/authentication/mappers/mod.rs
  core/src/domain/authentication/mappers/user_client_role_mapper.rs
  core/src/domain/authentication/mappers/user_property_mapper.rs
  core/src/domain/authentication/mappers/user_realm_role_mapper.rs
  core/src/domain/authentication/services.rs
  core/src/domain/realm/services.rs
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy

feat: add dark theme in compass flow (#800)
  front/src/pages/compass/ui/flow-timeline.tsx
Due: esint

feat: block disabled users
  api/src/application/http/broker/handlers/callback.rs
  api/src/application/http/error.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/services.rs
  front/src/App.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/ui/page-login.tsx
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy, esint

fix: initialize API client in useEffect
  front/src/App.tsx
Due: esint

feat: block disabled users (#801)
  api/src/application/http/broker/handlers/callback.rs
  api/src/application/http/error.rs
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/services.rs
  front/src/App.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/ui/page-login.tsx
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy, esint

feature: return OAuth2 error for invalid scope
  api/src/application/http/error.rs
  api/src/application/http/server/api_entities/api_error.rs
  core/src/domain/authentication/scope.rs
  core/src/domain/authentication/services.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: add client scope edit and delete UI
  front/src/api/client-scope.api.ts
  front/src/pages/client-scope/feature/page-client-scope-detail-feature.tsx
  front/src/pages/client-scope/feature/page-client-scopes-overview-feature.tsx
  front/src/pages/client-scope/schemas/update-client-scope.schema.ts
  front/src/pages/client-scope/ui/page-client-scope-detail.tsx
  front/src/pages/client-scope/ui/page-client-scopes-overview.tsx
Due: esint

feature: return OAuth2 error for invalid scope (#802)
  api/src/application/http/error.rs
  api/src/application/http/server/api_entities/api_error.rs
  core/src/domain/authentication/scope.rs
  core/src/domain/authentication/services.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: add client scope edit and delete UI (#803)
  front/src/api/client-scope.api.ts
  front/src/pages/client-scope/feature/page-client-scope-detail-feature.tsx
  front/src/pages/client-scope/feature/page-client-scopes-overview-feature.tsx
  front/src/pages/client-scope/schemas/update-client-scope.schema.ts
  front/src/pages/client-scope/ui/page-client-scope-detail.tsx
  front/src/pages/client-scope/ui/page-client-scopes-overview.tsx
Due: esint

feat: remove realm client when deleting realm
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

feat: add realm role backend support
  api/src/application/http/role/handlers.rs
  api/src/application/http/role/handlers/create_role.rs
  api/src/application/http/role/router.rs
  core/src/application/role/mod.rs
  core/src/domain/role/services.rs
  libs/ferriskey-domain/src/role/commands.rs
  libs/ferriskey-domain/src/role/ports.rs
Due: rust-fmt, rust-clippy

feat: add realm role creation UI
  front/README.md
  front/openapi.yaml
  front/src/api/api.client.ts
  front/src/api/role.api.ts
  front/src/pages/role/feature/page-create-role-feature.tsx
  front/src/pages/role/schemas/create-role.schema.ts
  front/src/pages/role/ui/page-create-role.tsx
Due: esint

chore: group misc realm role follow-up changes
  CLAUDE.md
  Cargo.lock
  GEMINI.md
  justfile
  libs/ferriskey-compass/Cargo.toml
Due: rust-clippy

feat: add realm role backend support (#806)
  api/src/application/http/role/handlers.rs
  api/src/application/http/role/handlers/create_role.rs
  api/src/application/http/role/router.rs
  core/src/application/role/mod.rs
  core/src/domain/role/services.rs
  libs/ferriskey-domain/src/role/commands.rs
  libs/ferriskey-domain/src/role/ports.rs
Due: rust-fmt, rust-clippy

feat: add realm role creation UI (#807)
  front/README.md
  front/openapi.yaml
  front/src/api/api.client.ts
  front/src/api/role.api.ts
  front/src/pages/role/feature/page-create-role-feature.tsx
  front/src/pages/role/schemas/create-role.schema.ts
  front/src/pages/role/ui/page-create-role.tsx
Due: esint

chore: group misc realm role follow-up changes (#808)
  CLAUDE.md
  Cargo.lock
  GEMINI.md
  justfile
  libs/ferriskey-compass/Cargo.toml
Due: rust-clippy

feat: add ON DELETE CASCADE and UI delete handlers
  core/migrations/20260310120000_add_cascade_delete_refresh_tokens.down.sql
  core/migrations/20260310120000_add_cascade_delete_refresh_tokens.up.sql
  front/src/pages/client-scope/ui/page-client-scope-detail.tsx
  front/src/pages/client/feature/page-client-settings-feature.tsx
  front/src/pages/client/ui/page-client-settings.tsx
  front/src/pages/role/feature/page-role-settings-feature.tsx
  front/src/pages/role/ui/page-role-settings.tsx
  front/src/pages/user/feature/page-user-overview-feature.tsx
  front/src/pages/user/ui/page-user-overview.tsx
Due: esint

feat: add DangerZone component and use it across pages
  front/src/components/danger-zone.tsx
  front/src/pages/client-scope/feature/page-client-scope-detail-feature.tsx
  front/src/pages/client-scope/ui/page-client-scope-detail.tsx
  front/src/pages/client/ui/page-client-settings.tsx
  front/src/pages/identity-providers/ui/page-detail.tsx
  front/src/pages/realm/ui/page-realm-settings-general.tsx
  front/src/pages/role/ui/page-role-settings.tsx
  front/src/pages/user/ui/page-user-overview.tsx
Due: esint

feat: remove realm client when deleting realm (#805)
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

feat: add ON DELETE CASCADE and UI delete handlers (#809)
  core/migrations/20260310120000_add_cascade_delete_refresh_tokens.down.sql
  core/migrations/20260310120000_add_cascade_delete_refresh_tokens.up.sql
  front/src/components/danger-zone.tsx
  front/src/pages/client-scope/feature/page-client-scope-detail-feature.tsx
  front/src/pages/client-scope/ui/page-client-scope-detail.tsx
  front/src/pages/client/feature/page-client-settings-feature.tsx
  front/src/pages/client/ui/page-client-settings.tsx
  front/src/pages/identity-providers/ui/page-detail.tsx
  front/src/pages/realm/ui/page-realm-settings-general.tsx
  front/src/pages/role/feature/page-role-settings-feature.tsx
  front/src/pages/role/ui/page-role-settings.tsx
  front/src/pages/user/feature/page-user-overview-feature.tsx
  front/src/pages/user/ui/page-user-overview.tsx
Due: esint

feat: implement password recovery domain & infrastructure
  Cargo.lock
  core/Cargo.toml
  core/migrations/20260310130000_create_smtp_configs.down.sql
  core/migrations/20260310130000_create_smtp_configs.up.sql
  core/src/application/mod.rs
  core/src/application/realm/mod.rs
  core/src/application/services.rs
  core/src/domain/common/email.rs
  core/src/domain/common/mod.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/trident/services.rs
  core/src/entity/mod.rs
  core/src/entity/smtp_configs.rs
  core/src/infrastructure/email.rs
  core/src/infrastructure/mod.rs
  core/src/infrastructure/realm/mappers.rs
  core/src/infrastructure/realm/mappers/smtp_config_mapper.rs
  core/src/infrastructure/realm/repositories.rs
  core/src/infrastructure/realm/repositories/smtp_config_postgres_repository.rs
  libs/ferriskey-mail/src/adapters/smtp.rs
Due: rust-fmt, rust-clippy

wip
  core/src/application/mail/mod.rs
  core/src/application/mod.rs
  core/src/application/realm/mod.rs
  core/src/application/services.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

feat: implement password recovery domain & infrastructure (#814)
  Cargo.lock
  core/Cargo.toml
  core/migrations/20260310130000_create_smtp_configs.down.sql
  core/migrations/20260310130000_create_smtp_configs.up.sql
  core/src/application/mail/mod.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/common/email.rs
  core/src/domain/common/mod.rs
  core/src/domain/realm/entities.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/trident/services.rs
  core/src/entity/mod.rs
  core/src/entity/smtp_configs.rs
  core/src/infrastructure/email.rs
  core/src/infrastructure/mod.rs
  core/src/infrastructure/realm/mappers.rs
  core/src/infrastructure/realm/mappers/smtp_config_mapper.rs
  core/src/infrastructure/realm/repositories.rs
  core/src/infrastructure/realm/repositories/smtp_config_postgres_repository.rs
  libs/ferriskey-mail/src/adapters/smtp.rs
Due: rust-fmt, rust-clippy

wip
  core/migrations/20260310140000_create_password_reset_tokens.down.sql
  core/migrations/20260310140000_create_password_reset_tokens.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/application/trident/mod.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/entity/mod.rs
  core/src/entity/password_reset_tokens.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/password_reset_token_repository.rs
  libs/ferriskey-trident/src/entities/mod.rs
Due: rust-fmt, rust-clippy

feat: implement password reset domain & infrastructure (#815)
  core/migrations/20260310140000_create_password_reset_tokens.down.sql
  core/migrations/20260310140000_create_password_reset_tokens.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/application/trident/mod.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/entity/mod.rs
  core/src/entity/password_reset_tokens.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/password_reset_token_repository.rs
  libs/ferriskey-trident/src/entities/mod.rs
Due: rust-fmt, rust-clippy

feat: implement trident reset password service
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/application/trident/mod.rs
  core/src/domain/seawatch/entities.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/seawatch/mapper.rs
Due: rust-fmt, rust-clippy

feat: include ID token fields and refresh metadata
  core/src/domain/authentication/services.rs
  libs/ferriskey-domain/src/authentication/entities.rs
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy

feat: implement trident reset password service (#816)
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/application/trident/mod.rs
  core/src/domain/seawatch/entities.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/seawatch/mapper.rs
Due: rust-fmt, rust-clippy

feat: add starting commands
  README.md
Due: none

feat: implement reset password api endpoints
  api/src/application/http/trident/handlers.rs
  api/src/application/http/trident/handlers/forgot_password.rs
  api/src/application/http/trident/handlers/reset_password.rs
  api/src/application/http/trident/router.rs
Due: rust-fmt, rust-clippy

feat: implement reset password api endpoints (#818)
  api/src/application/http/trident/handlers.rs
  api/src/application/http/trident/handlers/forgot_password.rs
  api/src/application/http/trident/handlers/reset_password.rs
  api/src/application/http/trident/router.rs
Due: rust-fmt, rust-clippy

feat: implement reset password ui
  front/src/api/password-reset.api.ts
  front/src/pages/authentication/feature/page-forgot-password-feature.tsx
  front/src/pages/authentication/feature/page-reset-password-feature.tsx
  front/src/pages/authentication/page-authentication.tsx
  front/src/pages/authentication/schemas/forgot-password.schema.ts
  front/src/pages/authentication/schemas/reset-password.schema.ts
  front/src/pages/authentication/ui/page-forgot-password.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/authentication/ui/page-reset-password.tsx
Due: esint
