Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

feat: use dedicated pages for create flows (#747)
  front/src/pages/client/layout/client-layout.tsx
  front/src/pages/client/page-client.tsx
  front/src/pages/client/ui/page-client-credentials.tsx
  front/src/pages/client/ui/page-client-roles.tsx
  front/src/pages/client/ui/page-client-settings.tsx
  front/src/pages/role/feature/page-roles-overview-feature.tsx
  front/src/pages/role/layout/role-layout.tsx
  front/src/pages/role/layout/roles-layout.tsx
  front/src/pages/role/page-role.tsx
  front/src/pages/role/ui/page-create-role.tsx
  front/src/pages/role/ui/page-roles-overview.tsx
  front/src/pages/user/feature/create-user-modal-feature.tsx
  front/src/pages/user/feature/page-create-user-feature.tsx
  front/src/pages/user/feature/page-users-overview-feature.tsx
  front/src/pages/user/layouts/user-layout.tsx
  front/src/pages/user/layouts/users-layout.tsx
  front/src/pages/user/page-user.tsx
  front/src/pages/user/ui/create-user-modal.tsx
  front/src/pages/user/ui/page-create-user.tsx
  front/src/pages/user/ui/page-users-overview.tsx
  front/src/routes/sub-router/user.router.ts
Due: esint

feat: add Direct Access Grants toggle to client settings
  front/src/pages/client/feature/page-client-settings-feature.tsx
  front/src/pages/client/schemas/update-client.schema.ts
  front/src/pages/client/ui/page-client-settings.tsx
Due: esint

feat: add Direct Access Grants toggle to client settings (#748)
  front/src/pages/client/feature/page-client-settings-feature.tsx
  front/src/pages/client/schemas/update-client.schema.ts
  front/src/pages/client/ui/page-client-settings.tsx
Due: esint

feat: refactor UI list components and page headers
  front/src/components/ui/overview-list.tsx
  front/src/pages/identity-providers/feature/page-overview-feature.tsx
  front/src/pages/identity-providers/layouts/providers-layout.tsx
  front/src/pages/identity-providers/ui/page-detail.tsx
  front/src/pages/identity-providers/ui/page-overview.tsx
  front/src/pages/realm/ui/page-realm-settings-create-webhook.tsx
  front/src/pages/realm/ui/page-realm-settings-general.tsx
  front/src/pages/realm/ui/page-realm-settings-login.tsx
  front/src/pages/realm/ui/page-realm-settings-webhooks.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
Due: esint

feat: use cn helper for conditional class names
  front/src/components/ui/overview-list.tsx
  front/src/pages/identity-providers/ui/page-overview.tsx
  front/src/pages/realm/ui/page-realm-settings-general.tsx
  front/src/pages/realm/ui/page-realm-settings-login.tsx
  front/src/pages/realm/ui/page-realm-settings-webhooks.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
Due: esint

fix: use fallback avatar label and simplify status badge
  front/src/pages/realm/ui/page-realm-settings-webhooks.tsx
Due: esint

feat: refactor UI list components and page headers (#749)
  front/src/components/ui/overview-list.tsx
  front/src/pages/identity-providers/feature/page-overview-feature.tsx
  front/src/pages/identity-providers/layouts/providers-layout.tsx
  front/src/pages/identity-providers/ui/page-detail.tsx
  front/src/pages/identity-providers/ui/page-overview.tsx
  front/src/pages/realm/ui/page-realm-settings-create-webhook.tsx
  front/src/pages/realm/ui/page-realm-settings-general.tsx
  front/src/pages/realm/ui/page-realm-settings-login.tsx
  front/src/pages/realm/ui/page-realm-settings-webhooks.tsx
  front/src/pages/realm/ui/page-realm-settings.tsx
Due: esint

refactor: add ferriskey-aegis library
  Cargo.lock
  Cargo.toml
  libs/ferriskey-aegis/Cargo.toml
  libs/ferriskey-aegis/src/entities.rs
  libs/ferriskey-aegis/src/lib.rs
  libs/ferriskey-aegis/src/value_objects.rs
Due: rust-fmt, rust-clippy

feat: add client scope ports and mockall dev-dep
  Cargo.lock
  libs/ferriskey-aegis/Cargo.toml
  libs/ferriskey-aegis/src/lib.rs
  libs/ferriskey-aegis/src/ports.rs
Due: rust-fmt, rust-clippy

refactor: use ferriskey-aegis crate for aegis domain
  Cargo.lock
  core/Cargo.toml
  core/src/domain/aegis/entities.rs
  core/src/domain/aegis/mod.rs
  core/src/domain/aegis/ports.rs
  core/src/domain/aegis/value_objects.rs
  libs/ferriskey-aegis/src/entities.rs
  libs/ferriskey-aegis/src/ports.rs
Due: rust-fmt, rust-clippy

feat: add ferriskey-aegis to Docker build setup
  Dockerfile
Due: hadolint

feat: add Client Scopes UI and API types
  front/src/App.tsx
  front/src/api/api.client.ts
  front/src/api/client-scope.api.ts
  front/src/components/nav-main.tsx
  front/src/pages/client-scope/components/statistics-card.tsx
  front/src/pages/client-scope/feature/page-client-scope-detail-feature.tsx
  front/src/pages/client-scope/feature/page-client-scopes-overview-feature.tsx
  front/src/pages/client-scope/feature/page-create-client-scope-feature.tsx
  front/src/pages/client-scope/layout/client-scope-layout.tsx
  front/src/pages/client-scope/layout/client-scopes-layout.tsx
  front/src/pages/client-scope/page-client-scope.tsx
  front/src/pages/client-scope/schemas/create-client-scope.schema.ts
  front/src/pages/client-scope/ui/page-client-scope-detail.tsx
  front/src/pages/client-scope/ui/page-client-scopes-overview.tsx
  front/src/pages/client-scope/ui/page-create-client-scope.tsx
  front/src/pages/role/layout/roles-layout.tsx
  front/src/pages/user/layouts/users-layout.tsx
  front/src/routes/router.ts
  front/src/routes/sub-router/client-scope.router.ts
Due: esint

fix(client-scope): routes, form handling, and UI text
  front/src/pages/client-scope/components/statistics-card.tsx
  front/src/pages/client-scope/feature/page-create-client-scope-feature.tsx
  front/src/pages/client-scope/layout/client-scope-layout.tsx
  front/src/pages/client-scope/layout/client-scopes-layout.tsx
  front/src/pages/client-scope/page-client-scope.tsx
  front/src/pages/client-scope/ui/page-create-client-scope.tsx
Due: esint

refactor: remove 'none' client scope type and adjust UI
  front/src/pages/client-scope/schemas/create-client-scope.schema.ts
  front/src/pages/client-scope/ui/page-client-scopes-overview.tsx
  front/src/pages/client-scope/ui/page-create-client-scope.tsx
Due: esint

fix: prevent navigating when URL is undefined
  front/src/pages/client-scope/feature/page-create-client-scope-feature.tsx
Due: esint

fix: disable submit while creating client scope
  front/src/pages/client-scope/feature/page-create-client-scope-feature.tsx
Due: esint

refactor: create aegis crate (#750)
  Cargo.lock
  Cargo.toml
  Dockerfile
  core/Cargo.toml
  core/src/domain/aegis/mod.rs
  libs/ferriskey-aegis/Cargo.toml
  libs/ferriskey-aegis/src/entities.rs
  libs/ferriskey-aegis/src/lib.rs
  libs/ferriskey-aegis/src/ports.rs
  libs/ferriskey-aegis/src/value_objects.rs
Due: rust-fmt, rust-clippy, hadolint

feat: add Client Scopes UI and API types (#751)
  front/src/App.tsx
  front/src/api/api.client.ts
  front/src/api/client-scope.api.ts
  front/src/components/nav-main.tsx
  front/src/pages/client-scope/components/statistics-card.tsx
  front/src/pages/client-scope/feature/page-client-scope-detail-feature.tsx
  front/src/pages/client-scope/feature/page-client-scopes-overview-feature.tsx
  front/src/pages/client-scope/feature/page-create-client-scope-feature.tsx
  front/src/pages/client-scope/layout/client-scope-layout.tsx
  front/src/pages/client-scope/layout/client-scopes-layout.tsx
  front/src/pages/client-scope/page-client-scope.tsx
  front/src/pages/client-scope/schemas/create-client-scope.schema.ts
  front/src/pages/client-scope/ui/page-client-scope-detail.tsx
  front/src/pages/client-scope/ui/page-client-scopes-overview.tsx
  front/src/pages/client-scope/ui/page-create-client-scope.tsx
  front/src/pages/role/layout/roles-layout.tsx
  front/src/pages/user/layouts/users-layout.tsx
  front/src/routes/router.ts
  front/src/routes/sub-router/client-scope.router.ts
Due: esint

feat: add migration to update client scopes
  core/migrations/20260225130422_update_client_scopes.down.sql
  core/migrations/20260225130422_update_client_scopes.up.sql
Due: none

feat: regenerate SeaORM entities
  core/src/entity/access_tokens.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/broker_auth_sessions.rs
  core/src/entity/client_scope_attributes.rs
  core/src/entity/client_scope_mappings.rs
  core/src/entity/client_scope_protocol_mappers.rs
  core/src/entity/client_scopes.rs
  core/src/entity/clients.rs
  core/src/entity/credentials.rs
  core/src/entity/identity_provider_links.rs
  core/src/entity/identity_providers.rs
  core/src/entity/jwt_keys.rs
  core/src/entity/magic_links.rs
  core/src/entity/post_logout_redirect_uris.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
  core/src/entity/redirect_uris.rs
  core/src/entity/refresh_tokens.rs
  core/src/entity/roles.rs
  core/src/entity/security_events.rs
  core/src/entity/user_federation_mappings.rs
  core/src/entity/user_federation_providers.rs
  core/src/entity/user_required_actions.rs
  core/src/entity/user_role.rs
  core/src/entity/user_sessions.rs
  core/src/entity/users.rs
  core/src/entity/webhook_subscribers.rs
  core/src/entity/webhooks.rs
Due: rust-fmt, rust-clippy

refactor: replace scope booleans with ScopeType enum
  core/src/infrastructure/aegis/mappers.rs
  core/src/infrastructure/aegis/repositories/client_scope_postgres_repository.rs
  core/src/infrastructure/aegis/repositories/scope_mapping_postgres_repository.rs
  libs/ferriskey-aegis/src/entities.rs
Due: rust-fmt, rust-clippy

feat: add default client scopes when creating a realm
  core/src/application/mod.rs
  core/src/application/realm/mod.rs
  core/src/application/services.rs
  core/src/domain/aegis/mod.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

fix: remove client id
  core/src/application/mod.rs
  core/src/application/realm/mod.rs
  core/src/application/services.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

feat: add default client scopes when creating a realm (#768)
  core/src/application/mod.rs
  core/src/application/realm/mod.rs
  core/src/application/services.rs
  core/src/domain/aegis/mod.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

remove x5c/x5t completely for now, from all layers
  front/openapi.yaml
  front/src/api/api.client.ts
  front/src/api/core.interface.ts
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy, esint

chore: remove unused imports
  libs/ferriskey-security/src/jwt/entities.rs
Due: rust-fmt, rust-clippy

feat: adds api spec generation to the cli
  api/src/args.rs
  api/src/main.rs
Due: rust-fmt, rust-clippy

feat: add ApiDoc import for OpenAPI documentation
  api/src/main.rs
Due: rust-fmt, rust-clippy

feat: adds justfile commands for spec and rust client gen
  .gitignore
  justfile
Due: none

fix: add missing import for utoipa OpenApi
  api/src/main.rs
Due: rust-fmt, rust-clippy

fix: OpenAPI spec had validation errors caused by missing params and license id.
  api/src/application/http/server/openapi.rs
  api/src/application/http/trident/handlers/burn_recovery_code.rs
  api/src/application/http/trident/handlers/challenge_otp.rs
  api/src/application/http/trident/handlers/generate_recovery_codes.rs
  api/src/application/http/trident/handlers/magic_link.rs
  api/src/application/http/trident/handlers/update_password.rs
  api/src/application/http/trident/handlers/webauthn_public_key_authenticate.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create.rs
  api/src/application/http/trident/handlers/webauthn_public_key_create_options.rs
  api/src/application/http/trident/handlers/webauthn_public_key_request_options.rs
  api/src/application/http/webhook/handlers/get_webhook.rs
  api/src/application/http/webhook/handlers/update_webhook.rs
Due: rust-fmt, rust-clippy

fix: remnant internal naming still used for client gen
  justfile
Due: none

fixes OpenAPI query parameter mapping
  api/src/application/http/abyss/identity_provider/dto.rs
  api/src/main.rs
Due: rust-fmt, rust-clippy

fix: generated client fail pre-commit check
  .pre-commit-config.yaml
Due: none

fix: docker fail building workspace caused by missing client
  .github/workflows/docker.yaml
  Dockerfile
Due: hadolint

feat(core): add admin-cli client to master realm initialization
  core/src/domain/common/services.rs
Due: rust-fmt, rust-clippy
