Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

fix: refuse saml logins that would rest on an unverified claim
  core/src/domain/saml/entities.rs
  core/src/domain/saml/services.rs
  libs/ferriskey-api-saml/src/handlers/descriptor.rs
  libs/ferriskey-api-saml/src/handlers/sso.rs
  libs/ferriskey-api-saml/src/handlers/sso_continue.rs
  libs/ferriskey-api-saml/src/origin.rs
Due: rust-fmt, rust-clippy

feat: configure a saml service provider from the console
  front/src/api/api.client.ts
  front/src/api/saml.api.ts
  front/src/hooks/use-saml-service-provider.ts
  front/src/lib/api-error.ts
  front/src/lib/saml.ts
  front/src/pages/client/components/manage-saml-attribute-mappers.tsx
  front/src/pages/client/feature/page-client-saml-feature.tsx
  front/src/pages/client/layout/client-layout.tsx
  front/src/pages/client/page-client.tsx
  front/src/pages/client/schemas/saml-service-provider.schema.ts
  front/src/pages/client/ui/page-client-saml.tsx
  front/src/pages/console-applications/feature/page-application-detail-feature.tsx
  front/src/pages/console-applications/ui/application-detail-shell.tsx
  front/src/pages/console-applications/ui/tabs/saml-tab.tsx
Due: esint

fix: prevent floating actions from covering forms (#1280)
  front/src/components/ui/floating-action-bar.tsx
Due: esint

feat: configure a saml service provider from the console (#1283)
  core/src/domain/saml/entities.rs
  core/src/domain/saml/services.rs
  front/src/api/api.client.ts
  front/src/api/saml.api.ts
  front/src/hooks/use-saml-service-provider.ts
  front/src/lib/api-error.ts
  front/src/lib/saml.ts
  front/src/pages/client/components/manage-saml-attribute-mappers.tsx
  front/src/pages/client/feature/page-client-saml-feature.tsx
  front/src/pages/client/layout/client-layout.tsx
  front/src/pages/client/page-client.tsx
  front/src/pages/client/schemas/saml-service-provider.schema.ts
  front/src/pages/client/ui/page-client-saml.tsx
  front/src/pages/console-applications/feature/page-application-detail-feature.tsx
  front/src/pages/console-applications/ui/application-detail-shell.tsx
  front/src/pages/console-applications/ui/tabs/saml-tab.tsx
  libs/ferriskey-api-saml/src/handlers/descriptor.rs
  libs/ferriskey-api-saml/src/handlers/sso.rs
  libs/ferriskey-api-saml/src/handlers/sso_continue.rs
  libs/ferriskey-api-saml/src/origin.rs
Due: rust-fmt, rust-clippy, esint

fix: send users back to the console origin they started from
  Cargo.lock
  libs/ferriskey-api-authentication/Cargo.toml
  libs/ferriskey-api-authentication/src/handlers/auth.rs
Due: rust-fmt, rust-clippy

fix: open popular identity providers at configuration
  front/src/pages/identity-providers/components/providers-empty-state.tsx
  front/src/pages/identity-providers/feature/page-create-feature.tsx
  front/src/pages/identity-providers/feature/page-overview-feature.tsx
  front/src/pages/identity-providers/ui/page-overview.tsx
Due: esint

fix: tell the console when its session is no longer valid
  front/src/hooks/use-auth.ts
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/hooks/use-oauth-params.ts
  libs/ferriskey-api-authentication/src/handlers/auth.rs
Due: rust-fmt, rust-clippy, esint

fix: answer invalid_grant when a refresh names a revoked session (#1284)
  core/src/domain/authentication/services.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

fix(api): answer 409 when a realm name is already taken (#1289)
  .github/workflows/integration-tests.yaml
  api/tests/realm_lifecycle_test.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  libs/ferriskey-api-core/src/api_entities/api_error.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

fix: delete a realm's mirror client from master instead of orphaning it (#1290)
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

fix: resync provider wizard query changes (#1294)
  front/src/pages/identity-providers/feature/page-create-feature.tsx
Due: esint

fix: tell the console when its session is no longer valid (#1295)
  front/src/hooks/use-auth.ts
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/hooks/use-oauth-params.ts
  libs/ferriskey-api-authentication/src/handlers/auth.rs
Due: rust-fmt, rust-clippy, esint

fix: open popular identity providers at configuration (#1294)
  front/src/pages/identity-providers/components/providers-empty-state.tsx
  front/src/pages/identity-providers/feature/page-create-feature.tsx
  front/src/pages/identity-providers/feature/page-overview-feature.tsx
  front/src/pages/identity-providers/ui/page-overview.tsx
Due: esint

feat(api): add import and export endpoints for templates and layouts
  Cargo.lock
  api/src/application/http/server/http_server.rs
  core/src/application/email_template/mod.rs
  core/src/application/portal_layouts/mod.rs
  core/src/domain/trident/services.rs
  core/src/infrastructure/email_template/renderer/mjml_renderer.rs
  libs/ferriskey-api-core/src/api_entities.rs
  libs/ferriskey-api-core/src/api_entities/export.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-api-email-template/Cargo.toml
  libs/ferriskey-api-email-template/src/handlers/export_template.rs
  libs/ferriskey-api-email-template/src/handlers/import_template.rs
  libs/ferriskey-api-email-template/src/handlers/mod.rs
  libs/ferriskey-api-email-template/src/router.rs
  libs/ferriskey-api-email-template/src/validators.rs
  libs/ferriskey-api-portal-layouts/src/handlers/export_layout.rs
  libs/ferriskey-api-portal-layouts/src/handlers/import_layout.rs
  libs/ferriskey-api-portal-layouts/src/handlers/mod.rs
  libs/ferriskey-api-portal-layouts/src/router.rs
  libs/ferriskey-api-portal-layouts/src/validators.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-mail/src/email_template/ports.rs
  libs/ferriskey-mail/src/email_template/services.rs
  libs/ferriskey-mail/src/email_verification/services.rs
  libs/ferriskey-portal-layouts/src/entities.rs
  libs/ferriskey-portal-layouts/src/ports.rs
  libs/ferriskey-portal-layouts/src/services.rs
Due: rust-fmt, rust-clippy

feat(front): import and export templates and layouts from the console
  front/src/api/builder-export.ts
  front/src/api/email-template.api.ts
  front/src/api/portal-layouts.api.ts
  front/src/pages/email-template/feature/page-email-template-list-feature.tsx
  front/src/pages/email-template/ui/page-email-template-list.tsx
  front/src/pages/portal-layouts/feature/page-portal-layouts-list-feature.tsx
  front/src/pages/portal-layouts/ui/page-portal-layouts-list.tsx
Due: esint

chore(front): regenerate the api client and repair what it uncovered
  front/src/api/api.client.ts
  front/src/lib/saml.ts
  front/src/pages/realm/feature/page-realm-settings-edit-webhook-feature.tsx
  front/src/utils/webhook-utils.ts
Due: esint

feat(front): give a new portal theme pages it can be activated with
  front/src/lib/builder-portal/default-pages.ts
  front/src/lib/builder-portal/index.ts
  front/src/pages/portal/themes/feature/page-themes-list-feature.tsx
Due: esint

feat: import and export portal themes
  core/src/application/portal_theme/mod.rs
  front/src/api/api.client.ts
  front/src/api/builder-export.ts
  front/src/api/portal-theme.api.tsx
  front/src/pages/portal/themes/feature/page-themes-list-feature.tsx
  front/src/pages/portal/themes/ui/page-themes-list.tsx
  libs/ferriskey-api-core/src/api_entities/export.rs
  libs/ferriskey-api-portal-layouts/src/handlers/import_layout.rs
  libs/ferriskey-api-portal-layouts/src/validators.rs
  libs/ferriskey-api-portal-theme/src/handlers/export_theme.rs
  libs/ferriskey-api-portal-theme/src/handlers/import_theme.rs
  libs/ferriskey-api-portal-theme/src/handlers/mod.rs
  libs/ferriskey-api-portal-theme/src/router.rs
  libs/ferriskey-api-portal-theme/src/validators.rs
Due: rust-fmt, rust-clippy, esint

fix(front): move the ACTIVE badge when another theme is activated
  front/src/api/portal-theme.api.tsx
Due: esint

fix(front): give the theme editor's block library room to breathe
  front/src/pages/portal-layouts/components/sidebar-tabs.tsx
  front/src/pages/portal/themes/components/page-tree-editor.tsx
Due: esint

feat(front): let a portal button override the theme's colours
  front/src/lib/builder-portal/config-panels/button-color-section.tsx
  front/src/lib/builder-portal/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-portal/renderer.tsx
Due: esint

fix(front): paint the portal page with the theme's background
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
Due: esint

feat(front): let a layout's root block lay its content out
  front/src/lib/builder-core/components/canvas.tsx
  front/src/lib/builder-portal/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-portal/renderer.tsx
  front/src/pages/portal-layouts/ui/page-portal-layout-builder.tsx
Due: esint

fix: address review findings on the import/export endpoints
  core/src/infrastructure/email_template/renderer/mjml_renderer.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
  front/src/api/api.client.ts
  front/src/pages/realm/feature/page-realm-settings-edit-webhook-feature.tsx
  libs/ferriskey-api-core/src/api_entities/export.rs
  libs/ferriskey-api-email-template/src/handlers/export_template.rs
  libs/ferriskey-api-portal-theme/src/handlers/export_theme.rs
  libs/ferriskey-api-portal-theme/src/handlers/import_theme.rs
  libs/ferriskey-api-portal-theme/src/validators.rs
  libs/ferriskey-api-webhook/src/validators.rs
  libs/ferriskey-webhook/src/ports.rs
  libs/ferriskey-webhook/src/services.rs
Due: rust-fmt, rust-clippy, esint

feat(front): give the page content slot a full-viewport surface by default
  front/src/lib/builder-portal/config-panels/config-panel-renderer.tsx
  front/src/lib/builder-portal/renderer.tsx
  front/src/lib/builder-portal/visual-blocks/visual-block-registry.tsx
Due: esint

fix(front): stop the page slot from adding its height to its siblings
  front/src/lib/builder-portal/renderer.tsx
  front/src/lib/builder-portal/visual-blocks/visual-block-registry.tsx
Due: esint

fix(front): give a stretched ancestor a layout that passes height down
  front/src/lib/builder-portal/renderer.tsx
Due: esint

fix(password-policy): reword the insufficient-entropy message for end users
  libs/ferriskey-password-policy/src/error.rs
Due: rust-fmt, rust-clippy

refactor(front): read every dialect the API speaks when an error surfaces
  front/src/api/index.ts
  front/src/lib/api-error.ts
Due: esint

refactor(front): derive password rules from a single policy source
  front/src/lib/password-policy.ts
  front/src/pages/user/schemas/index.ts
Due: esint

fix(authentication): show password policy errors on the update-password form
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
  front/src/pages/authentication/schemas/update-password.schema.ts
  front/src/pages/authentication/ui/execution/update-password.tsx
Due: esint

style: drop the comments added by this branch
  front/src/lib/api-error.ts
  front/src/lib/password-policy.ts
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
  front/src/pages/authentication/schemas/update-password.schema.ts
  front/src/pages/authentication/ui/execution/update-password.tsx
  libs/ferriskey-password-policy/src/error.rs
Due: rust-fmt, rust-clippy, esint

fix: tell the user what is wrong with their password, where they typed it (#1303)
  front/src/api/index.ts
  front/src/lib/api-error.ts
  front/src/lib/password-policy.ts
  front/src/pages/authentication/feature/execution/update-password-feature.tsx
  front/src/pages/authentication/schemas/update-password.schema.ts
  front/src/pages/authentication/ui/execution/update-password.tsx
  front/src/pages/user/schemas/index.ts
  libs/ferriskey-password-policy/src/error.rs
Due: rust-fmt, rust-clippy, esint

fix(seawatch): stop misreading unrecognised event types as login_success
  core/src/infrastructure/seawatch/mapper.rs
  libs/ferriskey-seawatch/src/entities.rs
Due: rust-fmt, rust-clippy

fix(seawatch): actually build the tamper-evident hash chain on every write
  core/src/infrastructure/seawatch/repositories/security_event_postgres_repository.rs
  libs/ferriskey-seawatch/src/ports.rs
Due: rust-fmt, rust-clippy

fix(seawatch): apply the query filter security-events actually receives
  Cargo.lock
  libs/ferriskey-api-seawatch/Cargo.toml
  libs/ferriskey-api-seawatch/src/handlers/get_security_events.rs
  libs/ferriskey-seawatch/src/services.rs
  libs/ferriskey-seawatch/src/value_objects.rs
Due: rust-fmt, rust-clippy

test(seawatch): add integration coverage for the audit log fixes
  api/tests/seawatch_test.rs
Due: rust-fmt, rust-clippy

fix: move import-theme DTOs into portal-theme domain layer
  core/src/application/portal_theme/mod.rs
  libs/ferriskey-api-portal-theme/src/handlers/import_theme.rs
  libs/ferriskey-portal-theme/src/ports.rs
Due: rust-fmt, rust-clippy

fix(seawatch): stop lying about the audit log's guarantees (#1305)
  Cargo.lock
  api/tests/seawatch_test.rs
  core/src/infrastructure/seawatch/mapper.rs
  core/src/infrastructure/seawatch/repositories/security_event_postgres_repository.rs
  libs/ferriskey-api-seawatch/Cargo.toml
  libs/ferriskey-api-seawatch/src/handlers/get_security_events.rs
  libs/ferriskey-seawatch/src/entities.rs
  libs/ferriskey-seawatch/src/ports.rs
  libs/ferriskey-seawatch/src/services.rs
  libs/ferriskey-seawatch/src/value_objects.rs
Due: rust-fmt, rust-clippy

fix(compass): honour the per-realm compass_enabled toggle
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/saml/services.rs
  libs/ferriskey-compass/Cargo.toml
  libs/ferriskey-compass/src/lib.rs
  libs/ferriskey-compass/src/recorder.rs
Due: rust-fmt, rust-clippy
