Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

fix: keep an audit outage from failing a completed login
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat(trident): hand out the SSO session on the MFA login steps (#1500)
  Cargo.lock
  api/tests/sso_session_test.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/application/sso_session.rs
  core/src/application/trident/mod.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  libs/ferriskey-api-authentication/Cargo.toml
  libs/ferriskey-api-authentication/src/lib.rs
  libs/ferriskey-api-core/Cargo.toml
  libs/ferriskey-api-core/src/lib.rs
  libs/ferriskey-api-core/src/sso_cookie.rs
  libs/ferriskey-api-trident/src/handlers/burn_recovery_code.rs
  libs/ferriskey-api-trident/src/handlers/challenge_otp.rs
  libs/ferriskey-api-trident/src/handlers/magic_link.rs
  libs/ferriskey-api-trident/src/handlers/passkey_authenticate.rs
  libs/ferriskey-api-trident/src/handlers/reset_password.rs
  libs/ferriskey-api-trident/src/handlers/webauthn_public_key_authenticate.rs
Due: rust-fmt, rust-clippy

fix: stop handing out the access token in a cookie
  api/tests/device_flow_test.rs
  api/tests/sso_session_test.rs
  core/src/application/auth/mod.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  front/src/pages/authentication/feature/page-device-verify-feature.tsx
  libs/ferriskey-api-authentication/src/handlers/auth.rs
  libs/ferriskey-api-authentication/src/handlers/device_verify.rs
  libs/ferriskey-api-authentication/src/handlers/token.rs
  libs/ferriskey-api-trident/src/handlers/reset_password.rs
Due: rust-fmt, rust-clippy, esint

fix: stop handing out the access token in a cookie (#1501)
  api/tests/device_flow_test.rs
  api/tests/sso_session_test.rs
  core/src/application/auth/mod.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  front/src/pages/authentication/feature/page-device-verify-feature.tsx
  libs/ferriskey-api-authentication/src/handlers/auth.rs
  libs/ferriskey-api-authentication/src/handlers/device_verify.rs
  libs/ferriskey-api-authentication/src/handlers/token.rs
  libs/ferriskey-api-trident/src/handlers/reset_password.rs
Due: rust-fmt, rust-clippy, esint

feat: give remember me an effect on the SSO cookie lifetime
  api/tests/sso_session_test.rs
  core/migrations/20260926000000_add_remember_me_to_sessions.down.sql
  core/migrations/20260926000000_add_remember_me_to_sessions.up.sql
  core/src/application/other_sessions_revocation.rs
  core/src/application/sso_session.rs
  core/src/application/token_revocation.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/saml/services.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/user_sessions.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
  core/src/infrastructure/repositories/user_session_repository.rs
  front/src/api/api.client.ts
  front/src/api/passkey.api.ts
  front/src/locales/en/auth.yaml
  front/src/locales/zh-CN/auth.yaml
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/hooks/use-login-form.ts
  front/src/pages/authentication/hooks/use-magic-link-auth.ts
  front/src/pages/authentication/hooks/use-passkey-auth.ts
  front/src/pages/authentication/ui/page-login.tsx
  libs/ferriskey-api-authentication/src/handlers/auth.rs
  libs/ferriskey-api-authentication/src/handlers/authentificate.rs
  libs/ferriskey-api-core/src/sso_cookie.rs
  libs/ferriskey-api-trident/src/handlers/magic_link.rs
  libs/ferriskey-api-trident/src/handlers/passkey_authenticate.rs
  libs/ferriskey-domain/src/authentication/entities.rs
  libs/ferriskey-domain/src/session/entities.rs
  libs/ferriskey-domain/src/session/services.rs
Due: rust-fmt, rust-clippy, esint

fix: record the remember-me choice before sending a magic link
  core/src/domain/trident/services.rs
Due: rust-fmt, rust-clippy

feat(realm): give remember me an effect on the SSO cookie lifetime (#1502)
  api/tests/sso_session_test.rs
  core/migrations/20260926000000_add_remember_me_to_sessions.down.sql
  core/migrations/20260926000000_add_remember_me_to_sessions.up.sql
  core/src/application/other_sessions_revocation.rs
  core/src/application/sso_session.rs
  core/src/application/token_revocation.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/saml/services.rs
  core/src/domain/trident/ports.rs
  core/src/domain/trident/services.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/user_sessions.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
  core/src/infrastructure/repositories/user_session_repository.rs
  front/src/api/api.client.ts
  front/src/api/passkey.api.ts
  front/src/locales/en/auth.yaml
  front/src/locales/zh-CN/auth.yaml
  front/src/pages/authentication/components/portal-layout-wrapper.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/hooks/use-login-form.ts
  front/src/pages/authentication/hooks/use-magic-link-auth.ts
  front/src/pages/authentication/hooks/use-passkey-auth.ts
  front/src/pages/authentication/ui/page-login.tsx
  libs/ferriskey-api-authentication/src/handlers/auth.rs
  libs/ferriskey-api-authentication/src/handlers/authentificate.rs
  libs/ferriskey-api-core/src/sso_cookie.rs
  libs/ferriskey-api-trident/src/handlers/magic_link.rs
  libs/ferriskey-api-trident/src/handlers/passkey_authenticate.rs
  libs/ferriskey-domain/src/authentication/entities.rs
  libs/ferriskey-domain/src/session/entities.rs
  libs/ferriskey-domain/src/session/services.rs
Due: rust-fmt, rust-clippy, esint

feat: support the OIDC prompt and max_age parameters
  api/tests/sso_session_test.rs
  core/migrations/20260927000000_add_reauth_session_to_auth_sessions.down.sql
  core/migrations/20260927000000_add_reauth_session_to_auth_sessions.up.sql
  core/src/application/auth/mod.rs
  core/src/application/sso_session.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/saml/services.rs
  core/src/domain/trident/services.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/user_sessions.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
  core/src/infrastructure/repositories/user_session_repository.rs
  libs/ferriskey-api-authentication/src/handlers/auth.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-domain/src/authentication/entities.rs
  libs/ferriskey-domain/src/authentication/value_objects.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-domain/src/session/ports.rs
Due: rust-fmt, rust-clippy

feat: support the OIDC prompt and max_age parameters (#1503)
  api/tests/sso_session_test.rs
  core/migrations/20260927000000_add_reauth_session_to_auth_sessions.down.sql
  core/migrations/20260927000000_add_reauth_session_to_auth_sessions.up.sql
  core/src/application/auth/mod.rs
  core/src/application/sso_session.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/ports.rs
  core/src/domain/authentication/services.rs
  core/src/domain/saml/services.rs
  core/src/domain/trident/services.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/user_sessions.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
  core/src/infrastructure/repositories/user_session_repository.rs
  libs/ferriskey-api-authentication/src/handlers/auth.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-domain/src/authentication/entities.rs
  libs/ferriskey-domain/src/authentication/value_objects.rs
  libs/ferriskey-domain/src/common/app_errors.rs
  libs/ferriskey-domain/src/session/ports.rs
Due: rust-fmt, rust-clippy

feat(client): add the token_exchange_enabled flag
  core/migrations/20260928000000_add_token_exchange_enabled_to_clients.down.sql
  core/migrations/20260928000000_add_token_exchange_enabled_to_clients.up.sql
  core/src/application/mod.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/maintenance/services.rs
  core/src/domain/realm/services.rs
  core/src/domain/saml/services.rs
  core/src/entity/clients.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  libs/ferriskey-aegis/src/services/test_support.rs
  libs/ferriskey-api-client/src/handlers/create_client.rs
  libs/ferriskey-api-client/src/handlers/update_client.rs
  libs/ferriskey-api-client/src/validators.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-authz/tests/matrix_behaviour.rs
  libs/ferriskey-domain/src/client/commands.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/token_lifetime.rs
Due: rust-fmt, rust-clippy

test(mfa): make the OTP credential fixture idempotent under parallel tests
  api/tests/mfa_bypass_test.rs
Due: rust-fmt, rust-clippy

feat(client): add the token_exchange_enabled flag (#1493)
  api/tests/mfa_bypass_test.rs
  core/migrations/20260928000000_add_token_exchange_enabled_to_clients.down.sql
  core/migrations/20260928000000_add_token_exchange_enabled_to_clients.up.sql
  core/src/application/mod.rs
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/maintenance/services.rs
  core/src/domain/realm/services.rs
  core/src/domain/saml/services.rs
  core/src/entity/clients.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  libs/ferriskey-aegis/src/services/test_support.rs
  libs/ferriskey-api-client/src/handlers/create_client.rs
  libs/ferriskey-api-client/src/handlers/update_client.rs
  libs/ferriskey-api-client/src/validators.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-authz/tests/matrix_behaviour.rs
  libs/ferriskey-domain/src/client/commands.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/token_lifetime.rs
Due: rust-fmt, rust-clippy

feat(client): manage token exchange delegation policies
  api/tests/token_exchange_policy_test.rs
  core/src/application/client/mod.rs
  core/src/application/client/token_exchange_policy.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/client/entities.rs
  core/src/domain/client/mod.rs
  core/src/domain/client/token_exchange_policy_services.rs
  core/src/infrastructure/client/repositories.rs
  core/src/infrastructure/client/repositories/token_exchange_policy_postgres_repository.rs
  libs/ferriskey-api-client/src/handlers.rs
  libs/ferriskey-api-client/src/handlers/create_token_exchange_policy.rs
  libs/ferriskey-api-client/src/handlers/delete_token_exchange_policy.rs
  libs/ferriskey-api-client/src/handlers/get_token_exchange_policies.rs
  libs/ferriskey-api-client/src/router.rs
  libs/ferriskey-api-client/src/validators.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-domain/src/client/commands.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/entities/token_exchange_policy.rs
  libs/ferriskey-domain/src/client/ports.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat(client): manage token exchange delegation policies (#1494)
  api/tests/token_exchange_policy_test.rs
  core/src/application/client/mod.rs
  core/src/application/client/token_exchange_policy.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/client/entities.rs
  core/src/domain/client/mod.rs
  core/src/domain/client/token_exchange_policy_services.rs
  core/src/infrastructure/client/repositories.rs
  core/src/infrastructure/client/repositories/token_exchange_policy_postgres_repository.rs
  libs/ferriskey-api-client/src/handlers.rs
  libs/ferriskey-api-client/src/handlers/create_token_exchange_policy.rs
  libs/ferriskey-api-client/src/handlers/delete_token_exchange_policy.rs
  libs/ferriskey-api-client/src/handlers/get_token_exchange_policies.rs
  libs/ferriskey-api-client/src/router.rs
  libs/ferriskey-api-client/src/validators.rs
  libs/ferriskey-api-core/src/error.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-domain/src/client/commands.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/entities/token_exchange_policy.rs
  libs/ferriskey-domain/src/client/ports.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: trace subject token exchanges in Compass and Sea Watch
  core/src/infrastructure/compass/mapper.rs
  core/src/infrastructure/seawatch/mapper.rs
  front/src/api/api.client.ts
  front/src/locales/en/compass.yaml
  front/src/locales/en/seawatch.yaml
  front/src/locales/zh-CN/compass.yaml
  front/src/locales/zh-CN/seawatch.yaml
  front/src/pages/iam/compass/flow-format.ts
  front/src/pages/iam/seawatch/event-catalogue.ts
  libs/ferriskey-compass/src/entities.rs
  libs/ferriskey-seawatch/src/entities.rs
Due: rust-fmt, rust-clippy, esint

feat(token-exchange): exchange subject tokens under the delegation policy
  .github/workflows/integration-tests.yaml
  api/tests/token_exchange_service_test.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/token_exchange/entities.rs
  core/src/domain/authentication/token_exchange/mod.rs
  core/src/domain/authentication/token_exchange/ports.rs
  core/src/domain/authentication/token_exchange/services.rs
  core/src/domain/authentication/token_exchange/value_objects.rs
Due: rust-fmt, rust-clippy

feat(token-exchange): remap claims with the consuming client's mappers
  api/tests/token_exchange_service_test.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/token_exchange/ports.rs
  core/src/domain/authentication/token_exchange/services.rs
Due: rust-fmt, rust-clippy

feat(token-exchange): RFC 8693 exchange service with delegation policy (#1504)
  .github/workflows/integration-tests.yaml
  api/tests/token_exchange_service_test.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/token_exchange/entities.rs
  core/src/domain/authentication/token_exchange/mod.rs
  core/src/domain/authentication/token_exchange/ports.rs
  core/src/domain/authentication/token_exchange/services.rs
  core/src/domain/authentication/token_exchange/value_objects.rs
  core/src/infrastructure/compass/mapper.rs
  core/src/infrastructure/seawatch/mapper.rs
  front/src/api/api.client.ts
  front/src/locales/en/compass.yaml
  front/src/locales/en/seawatch.yaml
  front/src/locales/zh-CN/compass.yaml
  front/src/locales/zh-CN/seawatch.yaml
  front/src/pages/iam/compass/flow-format.ts
  front/src/pages/iam/seawatch/event-catalogue.ts
  libs/ferriskey-compass/src/entities.rs
  libs/ferriskey-seawatch/src/entities.rs
Due: rust-fmt, rust-clippy, esint

feat(token-exchange): route the grant on the token endpoint
  .github/workflows/integration-tests.yaml
  api/tests/token_exchange_service_test.rs
  libs/ferriskey-api-authentication/src/handlers/token.rs
  libs/ferriskey-api-authentication/src/validators.rs
  libs/ferriskey-api-core/src/api_entities/api_error.rs
  libs/ferriskey-api-core/src/error.rs
Due: rust-fmt, rust-clippy

test(token-exchange): cover the remaining RFC 8693 cases end to end
  .github/workflows/integration-tests.yaml
  api/tests/token_exchange_test.rs
Due: rust-fmt, rust-clippy

docs(token-exchange): declare both 401 bodies of the token endpoint
  api/tests/token_exchange_test.rs
  libs/ferriskey-api-authentication/src/handlers/token.rs
Due: rust-fmt, rust-clippy

feat(token-exchange): route the grant on the token endpoint (#1505)
  .github/workflows/integration-tests.yaml
  api/tests/token_exchange_service_test.rs
  api/tests/token_exchange_test.rs
  libs/ferriskey-api-authentication/src/handlers/token.rs
  libs/ferriskey-api-authentication/src/validators.rs
  libs/ferriskey-api-core/src/api_entities/api_error.rs
  libs/ferriskey-api-core/src/error.rs
Due: rust-fmt, rust-clippy

feat(token-exchange): advertise grant in openid-configuration
  libs/ferriskey-api-authentication/src/handlers/openid_configuration.rs
Due: rust-fmt, rust-clippy

feat(token-exchange): advertise grant in openid-configuration (#1108)
  libs/ferriskey-api-authentication/src/handlers/openid_configuration.rs
Due: rust-fmt, rust-clippy

feat: advertise the device flow in openid-configuration
  api/tests/token_exchange_test.rs
  front/src/api/api.client.ts
  libs/ferriskey-api-authentication/src/handlers/openid_configuration.rs
Due: rust-fmt, rust-clippy, esint

feat: advertise the device flow in openid-configuration (#1506)
  api/tests/token_exchange_test.rs
  front/src/api/api.client.ts
  libs/ferriskey-api-authentication/src/handlers/openid_configuration.rs
Due: rust-fmt, rust-clippy, esint

test(token-exchange): cover impersonation refusal and policy deletion end to end
  api/tests/token_exchange_test.rs
Due: rust-fmt, rust-clippy

test(token-exchange): cover impersonation refusal and policy deletion end to end (#1507)
  api/tests/token_exchange_test.rs
Due: rust-fmt, rust-clippy

pkce in ui when adding identity provider
  front/src/locales/en/auth.yaml
  front/src/locales/en/identity-provider.yaml
  front/src/locales/zh-CN/auth.yaml
  front/src/locales/zh-CN/identity-provider.yaml
  front/src/pages/authentication/feature/page-callback-feature.tsx
  front/src/pages/authentication/ui/login-providers-helpers.test.ts
  front/src/pages/authentication/ui/login-providers-helpers.ts
  front/src/pages/authentication/ui/login-providers.tsx
  front/src/pages/iam/identity-providers/feature/page-create-provider-feature.tsx
  front/src/pages/iam/identity-providers/schemas/create-provider.schema.ts
  front/src/pages/iam/identity-providers/ui/page-create-provider.tsx
Due: esint

pkce in ui when adding identity provider (#1510)
  front/src/locales/en/auth.yaml
  front/src/locales/en/identity-provider.yaml
  front/src/locales/zh-CN/auth.yaml
  front/src/locales/zh-CN/identity-provider.yaml
  front/src/pages/authentication/feature/page-callback-feature.tsx
  front/src/pages/authentication/ui/login-providers-helpers.test.ts
  front/src/pages/authentication/ui/login-providers-helpers.ts
  front/src/pages/authentication/ui/login-providers.tsx
  front/src/pages/iam/identity-providers/feature/page-create-provider-feature.tsx
  front/src/pages/iam/identity-providers/schemas/create-provider.schema.ts
  front/src/pages/iam/identity-providers/ui/page-create-provider.tsx
Due: esint

No more update on container start
  charts/ferriskey/templates/_helpers.yaml
  charts/ferriskey/templates/webapp/configmap.yaml
  charts/ferriskey/templates/webapp/deployment.yaml
  charts/ferriskey/values.yaml
  front/docker-entrypoint.sh
  front/public/config.json
Due: shellcheck

Fix helm-docs generation
  Dockerfile
  charts/ferriskey/README.md
Due: hadolint

Another idea to have more secure final images
  Dockerfile
Due: hadolint

feat(token-exchange): delegate with actor_token and the act claim
  api/tests/token_exchange_test.rs
  core/src/domain/authentication/token_exchange/services.rs
  core/src/domain/authentication/token_exchange/value_objects.rs
  libs/ferriskey-api-authentication/src/handlers/token.rs
  libs/ferriskey-api-authentication/src/validators.rs
Due: rust-fmt, rust-clippy

feat(console): manage token exchange policies on a client
  front/src/api/api.client.ts
  front/src/api/token-exchange-policy.api.ts
  front/src/locales/en/client.yaml
  front/src/locales/zh-CN/client.yaml
  front/src/pages/iam/client/feature/client-settings-tab-feature.tsx
  front/src/pages/iam/client/feature/client-token-exchange-tab-feature.tsx
  front/src/pages/iam/client/feature/page-client-detail-feature.tsx
  front/src/pages/iam/client/schemas/token-exchange-policy.schema.ts
  front/src/pages/iam/client/schemas/update-client.schema.ts
  front/src/pages/iam/client/ui/client-settings-tab.tsx
  front/src/pages/iam/client/ui/client-token-exchange-tab.tsx
Due: esint

feat(token-exchange): delegate with actor_token and the act claim (#1511)
  api/tests/token_exchange_test.rs
  core/src/domain/authentication/token_exchange/services.rs
  core/src/domain/authentication/token_exchange/value_objects.rs
  libs/ferriskey-api-authentication/src/handlers/token.rs
  libs/ferriskey-api-authentication/src/validators.rs
Due: rust-fmt, rust-clippy

feat(console): manage token exchange policies on a client (#1512)
  front/src/api/api.client.ts
  front/src/api/token-exchange-policy.api.ts
  front/src/locales/en/client.yaml
  front/src/locales/zh-CN/client.yaml
  front/src/pages/iam/client/feature/client-settings-tab-feature.tsx
  front/src/pages/iam/client/feature/client-token-exchange-tab-feature.tsx
  front/src/pages/iam/client/feature/page-client-detail-feature.tsx
  front/src/pages/iam/client/schemas/token-exchange-policy.schema.ts
  front/src/pages/iam/client/schemas/update-client.schema.ts
  front/src/pages/iam/client/ui/client-settings-tab.tsx
  front/src/pages/iam/client/ui/client-token-exchange-tab.tsx
Due: esint

feat(client): store the back-channel logout endpoint
  core/migrations/20261002000000_add_backchannel_logout_to_clients.down.sql
  core/migrations/20261002000000_add_backchannel_logout_to_clients.up.sql
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/authentication/services.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/maintenance/services.rs
  core/src/domain/saml/services.rs
  core/src/entity/clients.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  libs/ferriskey-aegis/src/services/test_support.rs
  libs/ferriskey-api-client/src/handlers/update_client.rs
  libs/ferriskey-api-client/src/validators.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/value_objects.rs
Due: rust-fmt, rust-clippy

feat(auth): send OIDC back-channel logout tokens when a session ends
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/authentication/backchannel_logout/entities.rs
  core/src/domain/authentication/backchannel_logout/mod.rs
  core/src/domain/authentication/backchannel_logout/ports.rs
  core/src/domain/authentication/backchannel_logout/services.rs
  core/src/domain/authentication/mod.rs
  core/src/domain/user/services.rs
  core/src/infrastructure/backchannel_logout/dispatcher.rs
  core/src/infrastructure/backchannel_logout/mod.rs
  core/src/infrastructure/backchannel_logout/notifying_sessions.rs
  core/src/infrastructure/backchannel_logout/participants.rs
  core/src/infrastructure/backchannel_logout/sender.rs
  core/src/infrastructure/backchannel_logout/signer.rs
  core/src/infrastructure/mod.rs
  libs/ferriskey-api-authentication/src/handlers/openid_configuration.rs
Due: rust-fmt, rust-clippy

test(auth): cover back-channel logout end to end
  .github/workflows/integration-tests.yaml
  Cargo.lock
  api/Cargo.toml
  api/tests/backchannel_logout_test.rs
Due: rust-fmt, rust-clippy
