Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

showing toast on password success
  front/src/pages/user/feature/modals/set-password-feature.tsx
Due: esint

showing form validation erros on form field
  front/src/pages/user/ui/modals/set-password.tsx
Due: esint

added delete confirmation dialog for password delete
  front/src/pages/user/ui/page-credentials.tsx
Due: esint

feature: set password form validation (#565)
  front/src/pages/user/feature/modals/set-password-feature.tsx
  front/src/pages/user/schemas/index.ts
  front/src/pages/user/ui/modals/set-password.tsx
  front/src/pages/user/ui/page-credentials.tsx
Due: esint

feat: add userinfo endpoint and auth middleware
  api/src/application/decoded_token.rs
  api/src/application/http/authentication/handlers.rs
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/userinfo.rs
  api/src/application/http/authentication/router.rs
  api/src/application/http/server/http_server.rs
Due: rust-fmt, rust-clippy

feat: ad headers into webhook notifiers
  api/src/application/http/webhook/handlers/create_webhook.rs
  api/src/application/http/webhook/handlers/update_webhook.rs
  api/src/application/http/webhook/validators.rs
  core/migrations/20251128072714_alter_webhook_add_headers.down.sql
  core/migrations/20251128072714_alter_webhook_add_headers.up.sql
  core/src/domain/webhook/entities/webhook.rs
  core/src/domain/webhook/ports.rs
  core/src/domain/webhook/services.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/clients.rs
  core/src/entity/credentials.rs
  core/src/entity/jwt_keys.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
  core/src/entity/redirect_uris.rs
  core/src/entity/refresh_tokens.rs
  core/src/entity/roles.rs
  core/src/entity/security_events.rs
  core/src/entity/user_required_actions.rs
  core/src/entity/user_role.rs
  core/src/entity/user_sessions.rs
  core/src/entity/users.rs
  core/src/entity/webhook_subscribers.rs
  core/src/entity/webhooks.rs
  core/src/infrastructure/webhook/mappers.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
Due: rust-fmt, rust-clippy

feat: add headers into webhook notifiers (#567)
  api/src/application/http/webhook/handlers/create_webhook.rs
  api/src/application/http/webhook/handlers/update_webhook.rs
  api/src/application/http/webhook/validators.rs
  core/migrations/20251128072714_alter_webhook_add_headers.down.sql
  core/migrations/20251128072714_alter_webhook_add_headers.up.sql
  core/src/domain/webhook/entities/webhook.rs
  core/src/domain/webhook/ports.rs
  core/src/domain/webhook/services.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/clients.rs
  core/src/entity/credentials.rs
  core/src/entity/jwt_keys.rs
  core/src/entity/mod.rs
  core/src/entity/prelude.rs
  core/src/entity/realm_settings.rs
  core/src/entity/realms.rs
  core/src/entity/redirect_uris.rs
  core/src/entity/refresh_tokens.rs
  core/src/entity/roles.rs
  core/src/entity/security_events.rs
  core/src/entity/user_required_actions.rs
  core/src/entity/user_role.rs
  core/src/entity/user_sessions.rs
  core/src/entity/users.rs
  core/src/entity/webhook_subscribers.rs
  core/src/entity/webhooks.rs
  core/src/infrastructure/webhook/mappers.rs
  core/src/infrastructure/webhook/repositories/webhook_repository.rs
Due: rust-fmt, rust-clippy

feat: add webhook headers UI and validation
  front/src/pages/realm/components/manage-webhook-headers.tsx
  front/src/pages/realm/ui/page-realm-settings-create-webhook.tsx
  front/src/pages/realm/validators.ts
Due: esint

added trim in validation schema,fixed correct import of Form,on close dialog + create realm reset form validation
  front/src/components/realm-switcher.tsx
Due: esint

after realm create auto reload the realm list,showing error for same name realm
  front/src/api/realm.api.ts
Due: esint

dynamic realm_name in createRealm hook and validated modal form
  front/src/api/realm.api.ts
Due: esint

added dynamic realm name in component
  front/src/components/realm-switcher.tsx
Due: esint

improvements: create-realm-dialog (#568)
  front/src/api/realm.api.ts
  front/src/components/realm-switcher.tsx
Due: esint

fixed typo at client role table header | added confirmation dialog before delete | after delete refetch the list for update data get
  front/src/pages/client/columns/list-client-roles.column.tsx
  front/src/pages/client/feature/page-client-roles-feature.tsx
  front/src/pages/client/ui/page-client-roles.tsx
Due: esint

feat: add webhook headers
  front/src/api/api.client.ts
  front/src/pages/realm/feature/page-realm-settings-create-webhook-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-create-webhook.tsx
  front/src/types/api.types.ts
  front/src/utils/webhook-utils.ts
Due: esint

feat: add webhook headers in dashboard (#571)
  front/src/api/api.client.ts
  front/src/pages/realm/components/manage-webhook-headers.tsx
  front/src/pages/realm/feature/page-realm-settings-create-webhook-feature.tsx
  front/src/pages/realm/ui/page-realm-settings-create-webhook.tsx
  front/src/pages/realm/validators.ts
  front/src/types/api.types.ts
  front/src/utils/webhook-utils.ts
Due: esint

used finction keyword and simplified onRowDelete function
  front/src/pages/client/ui/page-client-roles.tsx
Due: esint

feat: improvements at client role table (#570)
  front/src/pages/client/columns/list-client-roles.column.tsx
  front/src/pages/client/feature/page-client-roles-feature.tsx
  front/src/pages/client/ui/page-client-roles.tsx
Due: esint

added login form error validation message
  front/src/assets/icons/apple.svg
  front/src/assets/icons/google.svg
  front/src/assets/icons/meta.svg
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/ui/page-login.tsx
Due: esint

pre-commit fix
  front/src/assets/icons/apple.svg
  front/src/assets/icons/google.svg
  front/src/assets/icons/meta.svg
Due: none

enhance: login form validation (#574)
  front/src/assets/icons/apple.svg
  front/src/assets/icons/google.svg
  front/src/assets/icons/meta.svg
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/ui/page-login.tsx
Due: esint

access uri list reload on create and update uri
  front/src/pages/client/components/manage-redirect-uris.tsx
  front/src/pages/client/feature/page-client-settings-feature.tsx
  front/src/pages/client/ui/page-client-settings.tsx
Due: esint

improve tracing
  Cargo.lock
  api/src/bin/ferriskey-server.rs
  core/Cargo.toml
  core/src/application/realm/mod.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/client/ports.rs
  core/src/domain/common/policies.rs
  core/src/domain/realm/policies.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/ports.rs
  core/src/domain/user/ports.rs
  core/src/domain/webhook/ports.rs
Due: rust-fmt, rust-clippy

feat: add scope field to JWT claims and authentication requests
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/jwt/entities.rs
Due: rust-fmt, rust-clippy

feat: improve tracing (#577)
  Cargo.lock
  api/src/bin/ferriskey-server.rs
  core/Cargo.toml
  core/src/application/realm/mod.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/client/ports.rs
  core/src/domain/common/policies.rs
  core/src/domain/realm/policies.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/ports.rs
  core/src/domain/user/ports.rs
  core/src/domain/webhook/ports.rs
Due: rust-fmt, rust-clippy

enhance: access uri list reload on create and update uri (#576)
  front/src/pages/client/components/manage-redirect-uris.tsx
  front/src/pages/client/feature/page-client-settings-feature.tsx
  front/src/pages/client/ui/page-client-settings.tsx
Due: esint

wip
  front/components.json
  front/src/components/ui/command.tsx
  front/src/components/ui/dialog.tsx
  front/src/components/ui/dropdown-menu.tsx
  front/src/components/ui/filters.tsx
  front/src/components/ui/popover.tsx
  front/src/components/ui/tooltip.tsx
  front/src/lib/utils.ts
Due: esint

feat: add statistics card, client filters, and delete flow
  front/src/components/ui/command.tsx
  front/src/components/ui/dialog.tsx
  front/src/components/ui/dropdown-menu.tsx
  front/src/components/ui/filters.tsx
  front/src/components/ui/popover.tsx
  front/src/components/ui/tooltip.tsx
  front/src/lib/utils.ts
  front/src/pages/client/components/statistics-card.tsx
  front/src/pages/client/feature/page-clients-overview-feature.tsx
  front/src/pages/client/ui/page-clients-overview.tsx
Due: esint

wip
  front/src/components/ui/data-table.tsx
  front/src/pages/client/columns/list-client.column.tsx
  front/src/pages/client/container.tsx
  front/src/pages/client/ui/page-clients-overview.tsx
Due: esint

feat: extract PageHeader and PageContainer
  front/src/components/ui/page-container.tsx
  front/src/components/ui/page-header.tsx
  front/src/pages/client/container.tsx
Due: esint

Add create_realm test for RealmService
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

Simplify imports in realm service tests
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

feat: add create_realm test for RealmService (#580)
  core/src/domain/realm/services.rs
Due: rust-fmt, rust-clippy

added delete webhook confirmation dialog
  front/src/pages/realm/ui/page-realm-settings-webhooks.tsx
Due: esint

feat: add scope field to JWT claims and authentication requests (#579)
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/jwt/entities.rs
Due: rust-fmt, rust-clippy

feat: enhance data table and clients overview (#572)
  front/components.json
  front/src/components/ui/command.tsx
  front/src/components/ui/data-table.tsx
  front/src/components/ui/dialog.tsx
  front/src/components/ui/dropdown-menu.tsx
  front/src/components/ui/filters.tsx
  front/src/components/ui/page-container.tsx
  front/src/components/ui/page-header.tsx
  front/src/components/ui/popover.tsx
  front/src/components/ui/tooltip.tsx
  front/src/lib/utils.ts
  front/src/pages/client/columns/list-client.column.tsx
  front/src/pages/client/components/statistics-card.tsx
  front/src/pages/client/container.tsx
  front/src/pages/client/feature/page-clients-overview-feature.tsx
  front/src/pages/client/ui/page-clients-overview.tsx
Due: esint

feat: added delete webhook confirmation dialog (#582)
  front/src/pages/realm/ui/page-realm-settings-webhooks.tsx
Due: esint

role creation toast show/required atleast one role
  front/src/api/role.api.ts
  front/src/pages/role/feature/page-create-role-feature.tsx
  front/src/pages/role/ui/page-create-role.tsx
Due: esint

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
