Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
      - id: trailing-whitespace
        exclude: (^core/migrations/20250[34567].+\.sql$)|(.*\.rs$)
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all
        language: system
        files: ^(.*)\.rs$
        pass_filenames: false
      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        files: ^(.*)\.rs|Cargo\.(toml|lock)$
        pass_filenames: false
      - id: esint
        name: eslint
        entry: bash -c "cd front && npm run lint"
        language: system
        files: ^(.*)\.((t|j)sx?)$
        pass_filenames: false
      - id: hadolint
        name: hadolint
        entry: hadolint/hadolint hadolint
        language: docker_image
        files: Dockerfile
      - id: shellcheck
        name: shellcheck
        entry: koalaman/shellcheck:stable
        language: docker_image
        files: ^(.*)\.sh$

feat(device-flow): add device verification page + approve/deny endpoints (RFC 8628 §3.3) (#1076)
  api/src/application/http/authentication/handlers.rs
  api/src/application/http/authentication/handlers/device_verify.rs
  api/src/application/http/authentication/router.rs
  core/src/application/services.rs
Due: rust-fmt, rust-clippy

feat(device-flow): add front-end device verification page (RFC 8628 §3.3)
  api/src/application/http/authentication/handlers/device_verify.rs
  front/src/App.tsx
  front/src/api/api.client.ts
  front/src/api/device.api.ts
  front/src/pages/authentication/feature/page-callback-feature.tsx
  front/src/pages/authentication/feature/page-device-verify-feature.tsx
  front/src/pages/authentication/page-authentication.tsx
  front/src/pages/authentication/schemas/device-verify.schema.ts
  front/src/pages/authentication/ui/page-device-verify.tsx
Due: rust-fmt, rust-clippy, esint

fix(front): add device-flow & email-verified webhook triggers to UI labels
  front/src/utils/webhook-utils.ts
Due: esint

feat(device-flow): add front-end device verification page (RFC 8628 §3.3) (#1080)
  api/src/application/http/authentication/handlers/device_verify.rs
  front/src/App.tsx
  front/src/api/api.client.ts
  front/src/api/device.api.ts
  front/src/pages/authentication/feature/page-callback-feature.tsx
  front/src/pages/authentication/feature/page-device-verify-feature.tsx
  front/src/pages/authentication/page-authentication.tsx
  front/src/pages/authentication/schemas/device-verify.schema.ts
  front/src/pages/authentication/ui/page-device-verify.tsx
  front/src/utils/webhook-utils.ts
Due: rust-fmt, rust-clippy, esint

feat(device-flow): add per-client device grant toggle + console wiring
  api/src/application/http/client/handlers/create_client.rs
  api/src/application/http/client/handlers/update_client.rs
  api/src/application/http/client/validators.rs
  api/src/application/http/error.rs
  api/src/entity/clients.rs
  core/migrations/20260612201556_add_oauth_device_code_grant_enabled_to_clients.down.sql
  core/migrations/20260612201556_add_oauth_device_code_grant_enabled_to_clients.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/authentication/device_flow/error.rs
  core/src/domain/authentication/device_flow/services.rs
  core/src/domain/authentication/device_flow/value_objects.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/maintenance/services.rs
  core/src/domain/realm/services.rs
  core/src/entity/clients.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  front/src/api/api.client.ts
  front/src/pages/client/feature/page-client-settings-feature.tsx
  front/src/pages/client/schemas/update-client.schema.ts
  front/src/pages/client/ui/page-client-settings.tsx
  front/src/pages/console-applications/feature/page-create-application-feature.tsx
  front/src/pages/console-applications/types.ts
  front/src/pages/console-applications/ui/page-create-application.tsx
  front/src/routes/sub-router/applications.router.ts
  libs/ferriskey-domain/src/client/commands.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/token_lifetime.rs
Due: rust-fmt, rust-clippy, esint

feat(device-flow): add per-client device grant toggle + console wiring (#1081)
  api/src/application/http/client/handlers/create_client.rs
  api/src/application/http/client/handlers/update_client.rs
  api/src/application/http/client/validators.rs
  api/src/application/http/error.rs
  api/src/entity/clients.rs
  core/migrations/20260612201556_add_oauth_device_code_grant_enabled_to_clients.down.sql
  core/migrations/20260612201556_add_oauth_device_code_grant_enabled_to_clients.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/authentication/device_flow/error.rs
  core/src/domain/authentication/device_flow/services.rs
  core/src/domain/authentication/device_flow/value_objects.rs
  core/src/domain/client/services.rs
  core/src/domain/common/services.rs
  core/src/domain/maintenance/services.rs
  core/src/domain/realm/services.rs
  core/src/entity/clients.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  front/src/api/api.client.ts
  front/src/pages/client/feature/page-client-settings-feature.tsx
  front/src/pages/client/schemas/update-client.schema.ts
  front/src/pages/client/ui/page-client-settings.tsx
  front/src/pages/console-applications/feature/page-create-application-feature.tsx
  front/src/pages/console-applications/types.ts
  front/src/pages/console-applications/ui/page-create-application.tsx
  front/src/routes/sub-router/applications.router.ts
  libs/ferriskey-domain/src/client/commands.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/token_lifetime.rs
Due: rust-fmt, rust-clippy, esint

feat(ciam): add application detail/edit page in console panel
  front/src/pages/console-applications/feature/page-application-detail-feature.tsx
  front/src/pages/console-applications/feature/page-applications-list-feature.tsx
  front/src/pages/console-applications/page-console-applications.tsx
  front/src/pages/console-applications/ui/page-application-detail.tsx
  front/src/routes/sub-router/applications.router.ts
Due: esint

feat: improve UI
  front/src/pages/console-applications/feature/page-application-detail-feature.tsx
  front/src/pages/console-applications/ui/application-detail-shell.tsx
  front/src/pages/console-applications/ui/tabs/api-access-tab.tsx
  front/src/pages/console-applications/ui/tabs/coming-soon-tab.tsx
  front/src/pages/console-applications/ui/tabs/credentials-tab.tsx
  front/src/pages/console-applications/ui/tabs/primitives.tsx
  front/src/pages/console-applications/ui/tabs/quickstart-tab.tsx
  front/src/pages/console-applications/ui/tabs/settings-tab.tsx
Due: esint

refactor(ciam): drop standalone Roles tab from application detail
  front/src/pages/console-applications/feature/page-application-detail-feature.tsx
  front/src/pages/console-applications/ui/application-detail-shell.tsx
Due: esint

Fix helm-docs generation
  charts/ferriskey/README.md
Due: none

Another idea to have more secure final images
  Dockerfile
Due: hadolint

Fix on addgroup vs groupadd
  Dockerfile
Due: hadolint

Update base images to move to debian trixie
  Dockerfile
Due: hadolint

refactor(core): add auth session helpers and tests
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

feat(device-flow): include device_code + user_id in webhook payload
  core/Cargo.toml
  core/src/domain/authentication/device_flow/entities.rs
  core/src/domain/authentication/device_flow/services.rs
Due: rust-fmt, rust-clippy

feat(device-flow): include device_code and user_id in webhook payload (#1084)
  core/Cargo.toml
  core/src/domain/authentication/device_flow/entities.rs
  core/src/domain/authentication/device_flow/services.rs
Due: rust-fmt, rust-clippy

Add README for ferriskey-abyss library
  libs/ferriskey-abyss/README.md
Due: none

Add README for ferriskey-aegis
  libs/ferriskey-aegis/README.md
Due: none

Add FerrisKey mail README
  libs/ferriskey-mail/README.md
Due: none

Add README for ferriskey-compass
  libs/ferriskey-compass/README.md
Due: none

Add ferriskey-domain README
  libs/ferriskey-domain/README.md
Due: none

Add README for ferriskey-migrate
  libs/ferriskey-migrate/README.md
Due: none

Add ferriskey-security README
  libs/ferriskey-security/README.md
Due: none

Add ferriskey-trident README for MFA
  libs/ferriskey-trident/README.md
Due: none

docs(core): Update library READMEs and add organization
  libs/ferriskey-abyss/README.md
  libs/ferriskey-aegis/README.md
  libs/ferriskey-compass/README.md
  libs/ferriskey-domain/README.md
  libs/ferriskey-mail/README.md
  libs/ferriskey-migrate/README.md
  libs/ferriskey-organization/README.md
  libs/ferriskey-security/README.md
  libs/ferriskey-trident/README.md
  libs/maskass/README.md
Due: none

test(device-flow): add RFC 8628 integration tests for the device grant
  api/tests/device_flow_test.rs
Due: rust-fmt, rust-clippy

docs(libs): add newline at end of README files
  libs/ferriskey-abyss/README.md
  libs/ferriskey-aegis/README.md
  libs/ferriskey-compass/README.md
  libs/ferriskey-domain/README.md
  libs/ferriskey-mail/README.md
  libs/ferriskey-migrate/README.md
  libs/ferriskey-security/README.md
  libs/ferriskey-trident/README.md
Due: none

docs: Add `README.md` for all internal crates in `libs/` (#856)
  libs/ferriskey-abyss/README.md
  libs/ferriskey-aegis/README.md
  libs/ferriskey-compass/README.md
  libs/ferriskey-domain/README.md
  libs/ferriskey-mail/README.md
  libs/ferriskey-migrate/README.md
  libs/ferriskey-organization/README.md
  libs/ferriskey-security/README.md
  libs/ferriskey-trident/README.md
  libs/maskass/README.md
Due: none

ci: add dedicated integration-tests job with a Postgres service
  .github/workflows/integration-tests.yaml
Due: none

refactor(core): add auth session helpers and tests (#1085)
  core/src/domain/authentication/services.rs
Due: rust-fmt, rust-clippy

test(device-flow): RFC 8628 integration tests for the device grant (#1087)
  .github/workflows/integration-tests.yaml
  api/tests/device_flow_test.rs
Due: rust-fmt, rust-clippy

feat: implement refresh token rotation with reuse detection
  api/tests/refresh_token_rotation_test.rs
  core/migrations/20260618120000_refresh_token_rotation.down.sql
  core/migrations/20260618120000_refresh_token_rotation.up.sql
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/entity/refresh_tokens.rs
  core/src/infrastructure/repositories/refresh_token_repository.rs
  libs/ferriskey-security/Cargo.toml
  libs/ferriskey-security/src/jwt/entities.rs
  libs/ferriskey-security/src/jwt/ports.rs
Due: rust-fmt, rust-clippy

feat: implement PKCE on the authorization code flow (RFC 7636)
  api/src/application/http/authentication/handlers/auth.rs
  api/src/application/http/authentication/handlers/token.rs
  api/src/application/http/authentication/validators.rs
  api/src/application/http/client/handlers/update_client.rs
  api/src/application/http/client/validators.rs
  api/src/application/http/error.rs
  api/tests/pkce_test.rs
  core/migrations/20260618000001_add_pkce_to_auth_sessions.down.sql
  core/migrations/20260618000001_add_pkce_to_auth_sessions.up.sql
  core/migrations/20260618000002_add_require_pkce_to_clients.down.sql
  core/migrations/20260618000002_add_require_pkce_to_clients.up.sql
  core/src/domain/abyss/broker_services.rs
  core/src/domain/authentication/entities.rs
  core/src/domain/authentication/services.rs
  core/src/domain/authentication/value_objects.rs
  core/src/domain/common/services.rs
  core/src/domain/maintenance/services.rs
  core/src/entity/auth_sessions.rs
  core/src/entity/clients.rs
  core/src/infrastructure/client/mappers/client_mapper.rs
  core/src/infrastructure/client/repositories/client_postgres_repository.rs
  core/src/infrastructure/repositories/auth_session_repository.rs
  libs/ferriskey-domain/src/client/entities.rs
  libs/ferriskey-domain/src/client/value_objects.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

refactor(ciam): use function keyword for named handlers in application detail
  front/src/pages/console-applications/feature/page-application-detail-feature.tsx
  front/src/pages/console-applications/ui/tabs/api-access-tab.tsx
Due: esint

refactor(ciam): prefer function declarations over arrow consts in application detail
  front/src/pages/console-applications/feature/page-application-detail-feature.tsx
Due: esint

feat: implement active session management API
  api/src/application/http/user/handlers.rs
  api/src/application/http/user/handlers/list_user_sessions.rs
  api/src/application/http/user/handlers/revoke_user_session.rs
  api/src/application/http/user/router.rs
  api/tests/session_management_test.rs
  core/migrations/20260618000000_add_last_seen_at_to_user_sessions.down.sql
  core/migrations/20260618000000_add_last_seen_at_to_user_sessions.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/session/entities.rs
  core/src/domain/session/ports.rs
  core/src/domain/session/services.rs
  core/src/entity/user_sessions.rs
  core/src/infrastructure/repositories.rs
  core/src/infrastructure/repositories/user_session_repository.rs
Due: rust-fmt, rust-clippy

feat: add configurable password policy engine
  api/src/application/http/error.rs
  api/src/application/http/realm/handlers/update_password_policy.rs
  api/src/application/http/realm/validators.rs
  core/migrations/20260618120000_add_password_policy_entropy_fields.down.sql
  core/migrations/20260618120000_add_password_policy_entropy_fields.up.sql
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/domain/password_policy/entity.rs
  core/src/domain/password_policy/error.rs
  core/src/domain/password_policy/mod.rs
  core/src/domain/password_policy/repository.rs
  core/src/domain/password_policy/service.rs
  core/src/domain/password_policy/validator.rs
  core/src/domain/trident/services.rs
  core/src/domain/user/services.rs
  core/src/entity/password_policy.rs
  core/src/infrastructure/repositories/password_policy_repository.rs
  libs/ferriskey-domain/src/common/app_errors.rs
Due: rust-fmt, rust-clippy

feat: add MFA enforcement policy per realm and role
  api/src/application/http/realm/handlers/update_realm_setting.rs
  api/src/application/http/realm/validators.rs
  api/src/application/http/role/handlers/update_role.rs
  api/src/application/http/role/validators.rs
  core/migrations/20260618120000_add_require_mfa_to_realm_settings_and_roles.down.sql
  core/migrations/20260618120000_add_require_mfa_to_realm_settings_and_roles.up.sql
  core/src/domain/abyss/identity_provider_policies.rs
  core/src/domain/abyss/policies.rs
  core/src/domain/authentication/services.rs
  core/src/domain/common/services.rs
  core/src/domain/email_template/services.rs
  core/src/domain/organization/services.rs
  core/src/domain/portal_layouts/services.rs
  core/src/domain/portal_theme/services.rs
  core/src/domain/realm/ports.rs
  core/src/domain/realm/services.rs
  core/src/domain/role/services.rs
  core/src/domain/trident/mfa_policy.rs
  core/src/domain/trident/mod.rs
  core/src/domain/user/services.rs
  core/src/entity/realm_settings.rs
  core/src/entity/roles.rs
  core/src/infrastructure/realm/mappers/realm_setting_mapper.rs
  core/src/infrastructure/realm/repositories/realm_postgres_repository.rs
  core/src/infrastructure/role/mapper.rs
  core/src/infrastructure/role/repositories/role_postgres_repository.rs
  libs/ferriskey-domain/src/realm/mod.rs
  libs/ferriskey-domain/src/role/commands.rs
  libs/ferriskey-domain/src/role/entities.rs
  libs/ferriskey-domain/src/role/value_objects.rs
Due: rust-fmt, rust-clippy

feat(token-exchange): advertise grant in openid-configuration
  api/src/application/http/authentication/handlers/openid_configuration.rs
Due: rust-fmt, rust-clippy

docs: add GDPR and ISO 27001 deployment guide
  docs/compliance/gdpr-iso27001-deployment-guide.md
Due: none
