Repository ferriskey/ferriskey: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, esint, hadolint, shellcheck

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all -- -D warnings
  language: system
  pass_filenames: false

esint:
  name: eslint
  entry: bash -c "cd front && npm run lint"
  language: system
  pass_filenames: false

hadolint:
  name: hadolint
  entry: hadolint/hadolint hadolint
  language: docker_image

shellcheck:
  name: shellcheck
  entry: koalaman/shellcheck:stable
  language: docker_image

feat: page and filter account sessions in the console
  front/src/api/api.client.ts
  front/src/api/user.api.ts
  front/src/locales/en/account.yaml
  front/src/locales/zh-CN/account.yaml
  front/src/pages/iam/account/feature/page-account-sessions-feature.tsx
  front/src/pages/iam/account/ui/page-account-sessions.tsx
Due: esint

test: pin the paginated user sessions listing
  .github/workflows/integration-tests.yaml
  api/tests/user_sessions_listing_test.rs
Due: rust-fmt, rust-clippy

feat: paginate the user sessions listing (#1567)
  .github/workflows/integration-tests.yaml
  api/tests/session_cross_realm_test.rs
  api/tests/user_sessions_listing_test.rs
  core/src/application/mod.rs
  core/src/application/services.rs
  core/src/infrastructure/backchannel_logout/notifying_sessions.rs
  core/src/infrastructure/repositories/user_session_repository.rs
  front/src/api/api.client.ts
  front/src/api/user.api.ts
  front/src/locales/en/account.yaml
  front/src/locales/zh-CN/account.yaml
  front/src/pages/iam/account/feature/page-account-sessions-feature.tsx
  front/src/pages/iam/account/ui/page-account-sessions.tsx
  libs/ferriskey-api-user/src/handlers/list_user_sessions.rs
  libs/ferriskey-domain/src/session/entities.rs
  libs/ferriskey-domain/src/session/ports.rs
  libs/ferriskey-domain/src/session/services.rs
Due: rust-fmt, rust-clippy, esint

feat: page and filter compass flows in the console
  front/src/api/api.client.ts
  front/src/api/client.relation.ts
  front/src/api/compass.api.ts
  front/src/locales/en/compass.yaml
  front/src/locales/zh-CN/compass.yaml
  front/src/pages/ciam/activity/feature/page-live-feature.tsx
  front/src/pages/iam/compass/feature/page-flows-feature.tsx
  front/src/pages/iam/compass/ui/page-flows.tsx
  front/src/pages/iam/overview/feature/page-overview-feature.tsx
Due: esint

feat: paginate the compass flows listing
  core/migrations/20261004140000_index_compass_flows_for_listing.down.sql
  core/migrations/20261004140000_index_compass_flows_for_listing.up.sql
  core/src/application/compass/mod.rs
  core/src/infrastructure/compass/repositories/compass_flow_postgres_repository.rs
  libs/ferriskey-api-compass/src/handlers/get_flows.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-compass/Cargo.toml
  libs/ferriskey-compass/src/entities.rs
  libs/ferriskey-compass/src/ports.rs
  libs/ferriskey-compass/src/services.rs
  libs/ferriskey-compass/src/value_objects.rs
Due: rust-fmt, rust-clippy

feat: filter compass flows by identified user and completion
  api/tests/compass_flows_listing_test.rs
  core/src/infrastructure/compass/repositories/compass_flow_postgres_repository.rs
  libs/ferriskey-api-compass/src/handlers/get_flows.rs
  libs/ferriskey-compass/src/value_objects.rs
Due: rust-fmt, rust-clippy

fix: align compass flow counts and grant type filter with the server
  front/src/locales/en/compass.yaml
  front/src/locales/zh-CN/compass.yaml
  front/src/pages/iam/compass/feature/page-flows-feature.tsx
  front/src/pages/iam/compass/ui/page-flows.tsx
Due: esint

perf: skip the steps query for an empty compass flows page
  core/src/infrastructure/compass/repositories/compass_flow_postgres_repository.rs
Due: rust-fmt, rust-clippy

test: pin the paginated compass flows listing
  .github/workflows/integration-tests.yaml
  api/tests/compass_flows_listing_test.rs
Due: rust-fmt, rust-clippy

feat: paginate the compass flows listing (#1568)
  .github/workflows/integration-tests.yaml
  api/tests/compass_flows_listing_test.rs
  core/migrations/20261004140000_index_compass_flows_for_listing.down.sql
  core/migrations/20261004140000_index_compass_flows_for_listing.up.sql
  core/src/application/compass/mod.rs
  core/src/infrastructure/compass/repositories/compass_flow_postgres_repository.rs
  front/src/api/api.client.ts
  front/src/api/client.relation.ts
  front/src/api/compass.api.ts
  front/src/locales/en/compass.yaml
  front/src/locales/zh-CN/compass.yaml
  front/src/pages/ciam/activity/feature/page-live-feature.tsx
  front/src/pages/iam/compass/feature/page-flows-feature.tsx
  front/src/pages/iam/compass/ui/page-flows.tsx
  front/src/pages/iam/overview/feature/page-overview-feature.tsx
  libs/ferriskey-api-compass/src/handlers/get_flows.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-compass/Cargo.toml
  libs/ferriskey-compass/src/entities.rs
  libs/ferriskey-compass/src/ports.rs
  libs/ferriskey-compass/src/services.rs
  libs/ferriskey-compass/src/value_objects.rs
Due: rust-fmt, rust-clippy, esint

refactor: translate security event filter options and drop the query syntax token
  front/src/locales/en/seawatch.yaml
  front/src/locales/zh-CN/seawatch.yaml
  front/src/pages/iam/seawatch/event-filter-fields.ts
  front/src/styles/style-tokens.ts
Due: esint

feat: regenerate the client for paginated security events
  front/src/api/api.client.ts
  libs/ferriskey-api-seawatch/src/router.rs
Due: rust-fmt, rust-clippy, esint

feat: paginate the security events listing
  Cargo.lock
  api/tests/seawatch_test.rs
  core/src/application/seawatch/mod.rs
  core/src/infrastructure/seawatch/repositories/security_event_postgres_repository.rs
  libs/ferriskey-api-seawatch/src/handlers/get_security_events.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-seawatch/Cargo.toml
  libs/ferriskey-seawatch/src/entities.rs
  libs/ferriskey-seawatch/src/lib.rs
  libs/ferriskey-seawatch/src/ports.rs
  libs/ferriskey-seawatch/src/services.rs
  libs/ferriskey-seawatch/src/value_objects.rs
Due: rust-fmt, rust-clippy

feat: page and filter security events in the console
  front/src/api/sea-watch.api.ts
  front/src/components/kit/ListingPage.tsx
  front/src/components/kit/index.ts
  front/src/components/kit/useListingQuery.ts
  front/src/locales/en/common.yaml
  front/src/locales/en/console.yaml
  front/src/locales/en/seawatch.yaml
  front/src/locales/zh-CN/common.yaml
  front/src/locales/zh-CN/console.yaml
  front/src/locales/zh-CN/seawatch.yaml
  front/src/pages/ciam/activity/feature/page-logs-feature.tsx
  front/src/pages/ciam/activity/feature/page-messages-feature.tsx
  front/src/pages/ciam/activity/feature/page-sessions-feature.tsx
  front/src/pages/ciam/activity/feature/use-window-events.ts
  front/src/pages/ciam/activity/ui/page-logs.tsx
  front/src/pages/ciam/activity/ui/page-messages.tsx
  front/src/pages/ciam/activity/ui/page-sessions.tsx
  front/src/pages/iam/seawatch/event-filter-fields.ts
  front/src/pages/iam/seawatch/feature/page-security-events-feature.tsx
  front/src/pages/iam/seawatch/ui/page-security-events.tsx
Due: esint

test: pin the paginated security events listing
  .github/workflows/integration-tests.yaml
  api/tests/security_events_listing_test.rs
Due: rust-fmt, rust-clippy

fix: page and filter the session and message journals on the server
  front/src/locales/en/console.yaml
  front/src/locales/zh-CN/console.yaml
  front/src/pages/ciam/activity/feature/page-messages-feature.tsx
  front/src/pages/ciam/activity/feature/page-sessions-feature.tsx
  front/src/pages/ciam/activity/feature/use-event-journal.ts
  front/src/pages/ciam/activity/ui/event-journal.tsx
  front/src/pages/ciam/activity/ui/journal-section.tsx
  front/src/pages/ciam/activity/ui/page-messages.tsx
  front/src/pages/ciam/activity/ui/page-sessions.tsx
Due: esint

feat: paginate the security events listing (#1569)
  .github/workflows/integration-tests.yaml
  Cargo.lock
  api/tests/seawatch_test.rs
  api/tests/security_events_listing_test.rs
  core/src/application/seawatch/mod.rs
  core/src/infrastructure/seawatch/repositories/security_event_postgres_repository.rs
  front/src/api/api.client.ts
  front/src/api/sea-watch.api.ts
  front/src/components/kit/ListingPage.tsx
  front/src/components/kit/index.ts
  front/src/components/kit/useListingQuery.ts
  front/src/locales/en/common.yaml
  front/src/locales/en/console.yaml
  front/src/locales/en/seawatch.yaml
  front/src/locales/zh-CN/common.yaml
  front/src/locales/zh-CN/console.yaml
  front/src/locales/zh-CN/seawatch.yaml
  front/src/pages/ciam/activity/feature/page-logs-feature.tsx
  front/src/pages/ciam/activity/feature/page-messages-feature.tsx
  front/src/pages/ciam/activity/feature/page-sessions-feature.tsx
  front/src/pages/ciam/activity/feature/use-event-journal.ts
  front/src/pages/ciam/activity/feature/use-window-events.ts
  front/src/pages/ciam/activity/ui/event-journal.tsx
  front/src/pages/ciam/activity/ui/journal-section.tsx
  front/src/pages/ciam/activity/ui/page-logs.tsx
  front/src/pages/ciam/activity/ui/page-messages.tsx
  front/src/pages/ciam/activity/ui/page-sessions.tsx
  front/src/pages/iam/seawatch/event-filter-fields.ts
  front/src/pages/iam/seawatch/feature/page-security-events-feature.tsx
  front/src/pages/iam/seawatch/ui/page-security-events.tsx
  front/src/styles/style-tokens.ts
  libs/ferriskey-api-seawatch/src/handlers/get_security_events.rs
  libs/ferriskey-api-seawatch/src/router.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-seawatch/Cargo.toml
  libs/ferriskey-seawatch/src/entities.rs
  libs/ferriskey-seawatch/src/lib.rs
  libs/ferriskey-seawatch/src/ports.rs
  libs/ferriskey-seawatch/src/services.rs
  libs/ferriskey-seawatch/src/value_objects.rs
Due: rust-fmt, rust-clippy, esint

feat: paginate the portal themes listing
  core/src/application/portal_theme/mod.rs
  core/src/infrastructure/repositories/portal_theme_repository.rs
  libs/ferriskey-api-portal-theme/src/handlers/list_themes.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-portal-theme/src/entities.rs
  libs/ferriskey-portal-theme/src/ports.rs
  libs/ferriskey-portal-theme/src/services.rs
Due: rust-fmt, rust-clippy

test: pin the paginated portal themes listing
  .github/workflows/integration-tests.yaml
  api/tests/portal_themes_listing_test.rs
Due: rust-fmt, rust-clippy

feat: regenerate the client for paginated portal themes
  front/src/api/api.client.ts
Due: esint

feat: page and filter portal themes in the console
  front/src/api/portal-layout.relation.ts
  front/src/api/portal-theme.api.tsx
  front/src/locales/en/portal.yaml
  front/src/locales/zh-CN/portal.yaml
  front/src/pages/iam/portal/feature/page-portal-layout-builder-feature.tsx
  front/src/pages/iam/portal/feature/page-portal-layouts-feature.tsx
  front/src/pages/iam/portal/feature/page-portal-themes-feature.tsx
  front/src/pages/iam/portal/ui/page-portal-layout-builder.tsx
  front/src/pages/iam/portal/ui/page-portal-layouts.tsx
  front/src/pages/iam/portal/ui/page-portal-themes.tsx
Due: esint

feat: paginate the portal themes listing (#1570)
  .github/workflows/integration-tests.yaml
  api/tests/portal_themes_listing_test.rs
  core/src/application/portal_theme/mod.rs
  core/src/infrastructure/repositories/portal_theme_repository.rs
  front/src/api/api.client.ts
  front/src/api/portal-layout.relation.ts
  front/src/api/portal-theme.api.tsx
  front/src/locales/en/portal.yaml
  front/src/locales/zh-CN/portal.yaml
  front/src/pages/iam/portal/feature/page-portal-layout-builder-feature.tsx
  front/src/pages/iam/portal/feature/page-portal-layouts-feature.tsx
  front/src/pages/iam/portal/feature/page-portal-themes-feature.tsx
  front/src/pages/iam/portal/ui/page-portal-layout-builder.tsx
  front/src/pages/iam/portal/ui/page-portal-layouts.tsx
  front/src/pages/iam/portal/ui/page-portal-themes.tsx
  libs/ferriskey-api-portal-theme/src/handlers/list_themes.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-portal-theme/src/entities.rs
  libs/ferriskey-portal-theme/src/ports.rs
  libs/ferriskey-portal-theme/src/services.rs
Due: rust-fmt, rust-clippy, esint

feat: regenerate the client for paginated portal layouts
  front/src/api/api.client.ts
Due: esint

test: pin the paginated portal layouts listing
  .github/workflows/integration-tests.yaml
  api/tests/portal_layouts_listing_test.rs
Due: rust-fmt, rust-clippy

feat: page and filter portal layouts in the console
  front/src/api/portal-layout.relation.ts
  front/src/api/portal-layouts.api.ts
  front/src/api/portal-theme.api.tsx
  front/src/locales/en/portal.yaml
  front/src/locales/zh-CN/portal.yaml
  front/src/pages/iam/portal/feature/page-portal-layouts-feature.tsx
  front/src/pages/iam/portal/feature/page-portal-page-builder-feature.tsx
  front/src/pages/iam/portal/feature/page-portal-theme-detail-feature.tsx
  front/src/pages/iam/portal/feature/page-portal-themes-feature.tsx
  front/src/pages/iam/portal/ui/page-portal-layouts.tsx
  front/src/pages/iam/portal/ui/page-portal-theme-detail.tsx
  front/src/pages/iam/portal/ui/theme-layout-tab.tsx
Due: esint

fix: name the no-layout choice and mark the default layout in the theme picker
  front/src/api/portal-layout.relation.ts
  front/src/components/kit/RelationSelect.tsx
  front/src/locales/en/portal.yaml
  front/src/locales/zh-CN/portal.yaml
  front/src/pages/iam/portal/ui/theme-layout-tab.tsx
Due: esint

feat: paginate the portal layouts listing
  core/src/application/portal_layouts/mod.rs
  core/src/infrastructure/repositories/portal_layouts_repository.rs
  libs/ferriskey-api-portal-layouts/src/handlers/list_layouts.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-portal-layouts/src/entities.rs
  libs/ferriskey-portal-layouts/src/ports.rs
  libs/ferriskey-portal-layouts/src/services.rs
Due: rust-fmt, rust-clippy

feat: paginate the portal layouts listing (#1571)
  .github/workflows/integration-tests.yaml
  api/tests/portal_layouts_listing_test.rs
  core/src/application/portal_layouts/mod.rs
  core/src/infrastructure/repositories/portal_layouts_repository.rs
  front/src/api/api.client.ts
  front/src/api/portal-layout.relation.ts
  front/src/api/portal-layouts.api.ts
  front/src/api/portal-theme.api.tsx
  front/src/components/kit/RelationSelect.tsx
  front/src/locales/en/portal.yaml
  front/src/locales/zh-CN/portal.yaml
  front/src/pages/iam/portal/feature/page-portal-layouts-feature.tsx
  front/src/pages/iam/portal/feature/page-portal-page-builder-feature.tsx
  front/src/pages/iam/portal/feature/page-portal-theme-detail-feature.tsx
  front/src/pages/iam/portal/feature/page-portal-themes-feature.tsx
  front/src/pages/iam/portal/ui/page-portal-layouts.tsx
  front/src/pages/iam/portal/ui/page-portal-theme-detail.tsx
  front/src/pages/iam/portal/ui/theme-layout-tab.tsx
  libs/ferriskey-api-portal-layouts/src/handlers/list_layouts.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-portal-layouts/src/entities.rs
  libs/ferriskey-portal-layouts/src/ports.rs
  libs/ferriskey-portal-layouts/src/services.rs
Due: rust-fmt, rust-clippy, esint

fix: hide the empty type hint while template counts load
  front/src/pages/iam/email-template/feature/templates-tab-feature.tsx
  front/src/pages/iam/email-template/ui/templates-tab.tsx
Due: esint

test: pin the not found status for a caller of another realm
  api/tests/email_templates_listing_test.rs
Due: rust-fmt, rust-clippy

feat: regenerate the client for paginated email templates
  front/src/api/api.client.ts
Due: esint

feat: page and filter email templates in the console
  front/src/api/email-template.api.ts
  front/src/api/email-template.relation.ts
  front/src/locales/en/email-template.yaml
  front/src/locales/zh-CN/email-template.yaml
  front/src/pages/iam/email-template/email-types.ts
  front/src/pages/iam/email-template/feature/templates-tab-feature.tsx
  front/src/pages/iam/email-template/ui/templates-tab.tsx
Due: esint

test: pin the paginated email templates listing
  .github/workflows/integration-tests.yaml
  api/tests/email_templates_listing_test.rs
Due: rust-fmt, rust-clippy

feat: paginate the email templates listing
  core/src/application/email_template/mod.rs
  core/src/infrastructure/email_template/repositories/email_template_repository.rs
  libs/ferriskey-api-email-template/src/handlers/fetch_templates.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-mail/src/email_template/entities.rs
  libs/ferriskey-mail/src/email_template/ports.rs
  libs/ferriskey-mail/src/email_template/services.rs
Due: rust-fmt, rust-clippy

feat: paginate the email templates listing (#1572)
  .github/workflows/integration-tests.yaml
  api/tests/email_templates_listing_test.rs
  core/src/application/email_template/mod.rs
  core/src/infrastructure/email_template/repositories/email_template_repository.rs
  front/src/api/api.client.ts
  front/src/api/email-template.api.ts
  front/src/api/email-template.relation.ts
  front/src/locales/en/email-template.yaml
  front/src/locales/zh-CN/email-template.yaml
  front/src/pages/iam/email-template/email-types.ts
  front/src/pages/iam/email-template/feature/templates-tab-feature.tsx
  front/src/pages/iam/email-template/ui/templates-tab.tsx
  libs/ferriskey-api-email-template/src/handlers/fetch_templates.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-mail/src/email_template/entities.rs
  libs/ferriskey-mail/src/email_template/ports.rs
  libs/ferriskey-mail/src/email_template/services.rs
Due: rust-fmt, rust-clippy, esint

feat: filter the users listing by organization non-membership
  core/src/infrastructure/user/repository.rs
  libs/ferriskey-api-user/src/handlers/get_users.rs
  libs/ferriskey-domain/src/user/entities.rs
Due: rust-fmt, rust-clippy

feat: paginate the organization members listing
  .github/workflows/integration-tests.yaml
  api/tests/organization_members_listing_test.rs
  api/tests/organization_test.rs
  core/src/application/organization/mod.rs
  core/src/domain/organization/ports.rs
  core/src/infrastructure/organization/organization_member_repository.rs
  libs/ferriskey-api-organization/src/handlers/list_members.rs
  libs/ferriskey-authz/src/matrix.rs
  libs/ferriskey-organization/src/entities.rs
  libs/ferriskey-organization/src/ports.rs
  libs/ferriskey-organization/src/services.rs
Due: rust-fmt, rust-clippy

feat: regenerate the client for paginated organization members
  front/src/api/api.client.ts
Due: esint

feat: page and filter organization members in the console
  front/src/api/organization.api.ts
  front/src/locales/en/organization.yaml
  front/src/locales/zh-CN/organization.yaml
  front/src/pages/ciam/user-management/feature/page-organization-detail-feature.tsx
  front/src/pages/iam/organization/feature/organization-members-tab-feature.tsx
  front/src/pages/iam/organization/feature/page-organization-detail-feature.tsx
  front/src/pages/iam/organization/ui/organization-members-tab.tsx
  front/src/pages/iam/organization/ui/page-organization-detail.tsx
Due: esint

fix: refresh the member picker after leaving an organization from the user page
  front/src/api/organization.api.ts
Due: esint

Path conditions:
  rust-fmt: any of: ^(.*)\.rs$
  rust-clippy: any of: ^(.*)\.rs|Cargo\.(toml|lock)$
  esint: any of: ^(.*)\.((t|j)sx?)$
  hadolint: any of: Dockerfile
  shellcheck: any of: ^(.*)\.sh$
